- content_for(:head) do
  - if @level.is_a?(Blockly) && !@level.uses_droplet?
    %script{src: webpack_asset_path('js/blockly.js')}
    %script{src: webpack_asset_path('js/en_us/blockly_locale.js')}
    %script{src: webpack_asset_path('js/en_us/common_locale.js')}
    %script{src: webpack_asset_path("js/en_us/#{@level.game.app}_locale.js")}

%h1.control-legend{data: {toggle: "collapse", target: "#blockly_options"}}
  Blockly Options

#blockly_options.in.collapse
  .field
    = f.label :skin
    = f.select :skin, options_for_select(@level.class.skins, @level.skin)

    -# Deprecated for Dance and Spritelab
  - unless (@level.is_a?(GamelabJr) || @level.is_a?(Dancelab))
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :is_k1, description: "Is Pre-Reader level"}
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :disable_variable_editing, description: "Disable editing of variable names and creation of new variables"}
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :show_type_hints, description: "Show a small visual hint for what type of block a connection accepts"}

  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :use_modal_function_editor, description: "Use modal function editor"}
  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :disable_if_else_editing, description: "Don\'t let users mutate (add or remove) branches to if/else blocks"}
  .aligned-input-group
    = f.check_box :disable_param_editing, {}, 'false', 'true'
    = f.label :disable_param_editing, 'Enable param editing in function blocks'
  - if (@level.instance_of?(GamelabJr))
    .aligned-input-group
      = f.check_box :mini_toolbox, {}, 'true', 'false'
      = f.label :mini_toolbox, 'Enable mini toolbox for event blocks'
  .field
    = f.label :goal_override, 'Goal Override Object (Legacy Levels)'
    = f.text_area :goal_override, placeholder: '{"goalAnimation": "animatedGoal"}'
  .field
    = f.label :open_function_definition, 'Auto-open function definition'
    = f.text_field :open_function_definition, placeholder: 'name of function to open'

  .field
    = f.label :ideal, 'Ideal block number'
    = f.number_field :ideal
  .field
    = f.label :min_workspace_height, 'Min workspace height'
    = f.number_field :min_workspace_height
  - unless @level.is_a? GamelabJr
    .field
      = f.label :step_speed, 'Step speed'
      %p Number is a multiplier for how long each step takes (so higher numbers are slower). Default is 5 for Maze, 2 for Bee.
      = f.number_field :step_speed

  - if @level.is_a? GamelabJr
    .field
      = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :include_shared_functions, description: "Make shared functions and behaviors available"}

  = render partial: 'levels/editors/fields/blockly_xml_editors', locals:{f: f}

  :ruby
    script_data = {
      pageOptions: {
        skin_id: @level.skin,
        isK1: @level.try(:isK1),
        app: @level.game.app,
        solution_blocks: @level.respond_to?(:solution_blocks),
        uses_droplet: @level.uses_droplet?,
        input_output_table: @level.respond_to?(:input_output_table),
        original_palette: JSON.parse(@level.class.try(:palette) || "{}"),
        shared_blocks: @level.shared_blocks,
      }.to_json
    }
  %script{src: webpack_asset_path('js/levels/editors/fields/_blockly.js'),
          data: script_data}
