%h1.control-legend{data: {toggle: "collapse", target: "#examples"}}
  Example Solutions

#examples.in.collapse

  = f.label :examples, 'Example solutions'
  %p
    Go to
    - new_project_link = send("#{level_type}_project_projects_url".to_sym, host: 'studio.code.org', port: 443, protocol: :https)
    = link_to new_project_link, new_project_link
    to build your example, then copy the channel token (the sequence of letters and numbers after
    = "/#{level_type}"
    ).
  %p
    Need more help? View this
    = link_to 'screencast', 'https://www.dropbox.com/s/zpmszi9eenvwql7/applab%20example%20screencast.mp4?dl=0', target: '_blank'
    or this
    = link_to 'how-to doc', 'https://github.com/code-dot-org/code-dot-org/wiki/%5BLevelbuilder%5D-Making-and-Using-Exemplars', target: '_blank'
  - unless f.object.examples.blank?
    - f.object.examples.each do |example|
      - next if example.blank?
      = text_field_tag "level[examples][]", example
  - 5.times do
    = text_field_tag "level[examples][]"
