%h1.control-legend{data: {toggle: "collapse", target: "#instructions_area"}}
  Instructions Area

#instructions_area.in.collapse
  = render partial: 'levels/editors/fields/instructions', locals: {f: f} unless @level.is_a?(DSLDefined) || @level.is_a?(Unplugged)
  = render partial: 'levels/editors/fields/ailab_dynamic_instructions', locals: {f: f} if @level.is_a?(Ailab)
  = render partial: 'levels/editors/fields/help_and_tips', locals: {f: f} if @level.show_help_and_tips_in_level_editor?
  = render partial: 'levels/editors/fields/mini_rubric', locals: {f: f} if (@level.uses_droplet?) || @level.is_a?(Weblab) || @level.is_a?(Javalab)
  = render partial: 'levels/editors/fields/authored_hints', locals: {f: f} if !(@level.uses_droplet?) && @level.is_a?(Blockly) && !@level.is_a?(NetSim)
