%h1.control-legend{data: {toggle: "collapse", target: "#collector"}}
  Collector Settings

#collector.in.collapse
  .field
    = f.label :flower_type, 'Flower Type (bee only)'
    = f.select :flower_type, options_for_select(@level.class.flower_types, @level.flower_type)
  .field
    = f.label :nectar_goal, 'Nectar Goal (bee only)'
    = f.number_field :nectar_goal, :value => @level.nectar_goal
  .field
    = f.label :honey_goal, 'Honey Goal (bee only)'
    = f.number_field :honey_goal, :value => @level.honey_goal
  .field
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :fast_get_nectar_animation, description: "Fast get nectar animation"}
  .field
    = f.label :min_collected, 'Minimum to Collect (collector only)'
    = f.number_field :min_collected, :value => @level.min_collected
