%h1.control-legend{data: {toggle: "collapse", target: "#maze"}}
  Maze Settings

#maze.in.collapse
  .field
    = f.label :start_direction
    = f.select :start_direction, options_for_select(@level.class.start_directions, @level.start_direction)
  .field
    = f.label :step_mode
    = f.select :step_mode, options_for_select(@level.class.step_modes, @level.step_mode)
  .field
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :shape_shift, description: "Shape Shift"}
    %p Randomly rotate the puzzle to a new orientation each time it is loaded.
