%h1.control-legend{data: {toggle: "collapse", target: "#pixelation"}}
  Pixelation Settings

#pixelation.in.collapse
  .field
    = f.label :version, 'Pixelation version'
    %p Integer representing which sprite to use for the first character. Default is 0.
    = f.select :version, options_for_select([['1-bit, with dimension sliders', 1], ['1-bit, no dimension sliders', 2], ['Bit-depth and dimension sliders', 3]], @level.version)
  .field.hide-sliders
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :v1_hide_sliders, description: "Hide sliders"}
    %p
      This will prevent students from changing the width and height of the image
      by hiding the slider controls and making the width and height text fields
      read-only.
      <em>Note: This option is only available for the "1-bit, with dimension sliders"
      version of the widget.  Width and height can be set as part of the pixel
      data in other versions.</em>
  .field
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :hex, description: "Hex encoding"}
    %p When checked, interpret the pixel data as hex digits.  Otherwise binary.
  .field
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :hide_encoding_controls, description: "Hide encoding controls"}
    %p This will prevent students from changing the encoding from binary to hexadecimal or vice-versa.
  .field.initial-dimensions
    = f.label :nil, 'Initial image dimensions'
    %p
      Set the initial width and height of the image.
      <em>Note: This option is only available for the "1-bit, with dimension sliders"
      version of the widget.  Initial width and height is set as part of the pixel
      data in the other versions.</em>
    %table
      %tr
        %td= f.label :v1_initial_height, 'Width'
        %td= f.number_field :v1_initial_width
      %tr
        %td= f.label :v1_initial_height, 'Height'
        %td= f.number_field :v1_initial_height
  .field
    = f.label :data, 'Pixel data'
    %p Default pixel data for the level.
    = f.text_area :data, rows: 4, class:"input-block-level"
