- content_for :body_scripts do
  - poems = {}
  - poetry_poems = @level.class.poems_for_standalone_app('poetry_hoc')
  - time_capsule_poems =  @level.class.poems_for_standalone_app('time_capsule')
  - script_data = { poems: {poetry_hoc: poetry_poems, time_capsule: time_capsule_poems}.to_json }
  %script{src: webpack_asset_path('js/levels/editors/fields/_poetry_fields.js'), data: script_data}

%h1.control-legend{data: {toggle: "collapse", target: "#poetry_fields"}}
  Poetry Fields

#poetry_fields
  .field
    = f.label :standalone_app_name, 'Level Subtype'
    %p Poetry HOC and Time Capsule levels have a poem dropdown above the playspace and auto-animate the poem.
    - if local_assigns[:warning]
      %p= "WARNING: #{warning}"
    = f.select :standalone_app_name, options_for_select(@level.class.standalone_app_names, @level.standalone_app_name), {}, {class: 'poem-subtype-dropdown'}

  #defaultPoem{class: ('collapse' if @level.standalone_app_name == 'poetry')}
    = f.label :default_poem, 'Default Poem'
    = f.select :default_poem, options_for_select(@level.class.poems_for_standalone_app(@level.standalone_app_name), @level.default_poem)

    = f.label :available_poems, 'Available Poems'
    %p If you would like to customize the available poems in the level, select poems here. Otherwise, all poems will be available.
    %p
      Select
      %a.select_all{href: '#'} all
      \/
      %a.select_none{href: '#'} no
      (shift-click or cmd-click to select multiple).
    = f.select :available_poems, (@level.class.poems_for_standalone_app(@level.standalone_app_name)), {}, {multiple: true}
