- content_for :body_scripts do
  - poems = {}
  - poetry_poems = @level.class.poems_for_subtype('poetry_hoc')
  - time_capsule_poems =  @level.class.poems_for_subtype('time_capsule')
  - script_data = { poems: {poetry_hoc: poetry_poems, time_capsule: time_capsule_poems}.to_json }
  %script{src: webpack_asset_path('js/levels/editors/fields/_poetry_fields.js'), data: script_data}

%h1.control-legend{data: {toggle: "collapse", target: "#poetry_fields"}}
  Poetry Fields

#poetry_fields
  .field
    = f.label :standalone_app_name, 'Level Subtype'
    %p Poetry HOC and Time Capsule levels have a poem dropdown above the playspace and auto-animate the poem.
    - if local_assigns[:warning]
      %p= "WARNING: #{warning}"
    = f.select :standalone_app_name, options_for_select(@level.class.standalone_app_names, @level.standalone_app_name), {}, {class: 'poem-subtype-dropdown'}

  #defaultPoem{class: ('collapse' if @level.standalone_app_name == 'poetry')}
    = f.label :default_poem, 'Default Poem'
    = f.select :default_poem, options_for_select(@level.class.poems_for_subtype(@level.standalone_app_name), @level.default_poem)
