.devise_link_section
  .or_break
    .vertical_bar
    %p
      OR
    .vertical_bar

  %div{style: "display: block;"}
    -# Unless we're already on the Sign in page, show a Sign in link
    - unless ['sessions', 'registrations'].include? controller_name
      = t('auth.already_signedup')
      = link_to t('nav.user.signin'), new_session_path(resource_name)
      %br/
      %br/

    / TODO: (madelynkasula) delete this code and unlocks/new view
    - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
      = link_to t('auth.need_unlock'), new_unlock_path(resource_name)
      %br/
      %br/

    - if controller_name == 'sessions'
      #section_instructions{style: "padding-bottom: 7px;"}
        = t('add_teacher_form.code.instructions_short')
      #section_form
        = form_tag(student_user_new_path, method: 'GET') do
          = text_field_tag(:section_code, params[:section_code], placeholder: I18n.t('add_teacher_form.code.placeholder'), style: 'width: 216px;')
          %br/
          = submit_tag 'Go', class: 'btn btn-primary', style: 'width: 230px;'

    - if devise_mapping.omniauthable?
      - if !Rails.env.production?
        .alert
          Hi! If you are having trouble with OAuth features on
          %strong= Rails.env
          %a{href: 'http://wiki.code.org/display/PROD/Developer+Oauth+setup'}
            check the wiki.

      - [:google_oauth2, :facebook, :windowslive].each do |provider|
        = link_to omniauth_authorize_path(resource_name, provider), class: "oauth_sign_in with_#{provider}" do
          = image_tag("auth/#{provider}.png")
          = t('auth.sign_in_with', provider: t("auth.#{provider}"))
        %br/
        %br/

:javascript
  $('.oauth_sign_in').click(dashboard.clientState.reset);
