<%
var i18n = require('./locale');
%>
<div class="netsim-router-tab">
  <h1><%= i18n.routerTab_stats() %></h1>
  <div class="router-stats"></div>
  <% if (locals.level.showRouterBandwidthControl) { %>
    <h1><%= i18n.routerTab_bandwidth() %></h1>
    <div class="bandwidth-control"></div>
  <% } %>
  <% if (locals.level.showRouterMemoryControl) { %>
    <h1><%= i18n.routerTab_memory() %></h1>
    <div class="memory-control"></div>
  <% } %>
  <h1><%= i18n.routerTab_logs() %></h1>
  <span class="secondary netsim-button large-button" id="show-router-log-modal-two" data-toggle="modal" data-target="#router-log-modal"><%= i18n.logBrowserButton() %></span>
</div>
