<%
  var EncodingType = require('./netsimConstants').EncodingType;
  var netsimMsg = require('../../locale/current/netsim');

  /**
   * @param {EncodingType} encodingType
   * @param {string} encodingLabel
   */
  function makeCheckbox(encodingType, encodingLabel) {
    var divClasses = ['encoding_checkboxes_' + encodingType];
    if (level.showEncodingControls.indexOf(encodingType) === -1) {
      divClasses.push('hiddenControl');
    }
    %>
    <div class="<%= divClasses.join(' ') %>">
      <input type="checkbox"
             name="encoding_checkboxes"
             id="encoding_checkboxes_<%= encodingType %>"
             value="<%= encodingType %>"
          />
      <label for="encoding_checkboxes_<%= encodingType %>"><%= encodingLabel %></label>
    </div>
    <%
  }
%>
<div class="netsim_encoding_selector">
  <h1><%= netsimMsg.encoding() %></h1>
  <% makeCheckbox(EncodingType.ASCII, netsimMsg.ascii()); %>
  <% makeCheckbox(EncodingType.DECIMAL, netsimMsg.decimal()); %>
  <% makeCheckbox(EncodingType.HEXADECIMAL, netsimMsg.hexadecimal()); %>
  <% makeCheckbox(EncodingType.BINARY, netsimMsg.binary()); %>
  <% makeCheckbox(EncodingType.A_AND_B, netsimMsg.a_and_b()); %>
</div>