<%
var Packet = require('./Packet');
%>
<div class="modal-dialog modal-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">All Router Logs</h4>
    </div>
    <div class="modal-body">
      <table>
        <thead>
          <tr>
            <td>Time</td>
            <td>Logged By</td>
            <td>Status</td>
            <td>From</td>
            <td>To</td>
            <td>Packet</td>
            <td>Message</td>
          </tr>
        </thead>
        <tbody>
          <%
            logEntries.forEach(function (entry) {
              %>
              <tr>
                <td><%= entry.timestamp %></td>
                <td><%= entry.nodeID %></td>
                <td><%= entry.getLocalizedStatus() %></td>
                <td><%= entry.getHeaderField(Packet.HeaderType.FROM_ADDRESS) %></td>
                <td><%= entry.getHeaderField(Packet.HeaderType.TO_ADDRESS) %></td>
                <td><%= entry.getLocalizedPacketInfo() %></td>
                <td><%= entry.getMessageAscii() %></td>
              </tr>
              <%
            });
          %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>