<%
var netsimMsg = require('../../locale/current/netsim');
var PacketEncoder = require('./PacketEncoder');
var dataConverters = require('./dataConverters');
var formatBinary = dataConverters.formatBinary;
var formatHex = dataConverters.formatHex;
var alignDecimal = dataConverters.alignDecimal;
var binaryToInt = dataConverters.binaryToInt;
var binaryToHex = dataConverters.binaryToHex;
var binaryToDecimal = dataConverters.binaryToDecimal;
var binaryToAscii = dataConverters.binaryToAscii;

function getEncodingLabel(rowClass) {
  if (rowClass === 'ascii') {
    return netsimMsg.ascii();
  } else if (rowClass === 'decimal') {
    return netsimMsg.decimal();
  } else if (rowClass === 'hexadecimal') {
    return netsimMsg.hex();
  } else if (rowClass === 'binary') {
    return netsimMsg.binary();
  }
  return '';
}

function logRow(rowClass, toAddress, fromAddress, packetInfo, message) {
  %>
    <tr class="<%= rowClass %>">
      <th nowrap class="encodingLabel"><%= getEncodingLabel(rowClass) %></th>
      <td nowrap class="toAddress"><%= toAddress %></td>
      <td nowrap class="fromAddress"><%= fromAddress %></td>
      <td nowrap class="packetInfo"><%= packetInfo %></td>
      <td class="message"><%= message %></td>
    </tr>
<%
}

 %>
<table>
  <thead>
    <tr>
      <th nowrap class="encodingLabel"></th>
      <th nowrap class="toAddress"><%= netsimMsg.to() %></th>
      <th nowrap class="fromAddress"><%= netsimMsg.from() %></th>
      <th nowrap class="packetInfo"><%= netsimMsg.packet() %></th>
      <th nowrap class="message"><%= netsimMsg.message() %></th>
    </tr>
  </thead>
  <tbody>
  <%
    var toAddress = PacketEncoder.defaultPacketEncoder.getField('toAddress', packetBinary);
    var fromAddress = PacketEncoder.defaultPacketEncoder.getField('fromAddress', packetBinary);
    var packetIndex = PacketEncoder.defaultPacketEncoder.getField('packetIndex', packetBinary);
    var packetCount = PacketEncoder.defaultPacketEncoder.getField('packetCount', packetBinary);
    var message = PacketEncoder.defaultPacketEncoder.getField('message', packetBinary);

    logRow('ascii',
        binaryToInt(toAddress),
        binaryToInt(fromAddress),
        netsimMsg.xOfY({
          x: binaryToInt(packetIndex),
          y: binaryToInt(packetCount)
        }),
        binaryToAscii(message, chunkSize));

    logRow('decimal',
        binaryToInt(toAddress),
        binaryToInt(fromAddress),
        netsimMsg.xOfY({
          x: binaryToInt(packetIndex),
          y: binaryToInt(packetCount)
        }),
        alignDecimal(binaryToDecimal(message, chunkSize)));

    logRow('hexadecimal',
        binaryToHex(toAddress),
        binaryToHex(fromAddress),
        netsimMsg.xOfY({
          x: binaryToHex(packetIndex),
          y: binaryToHex(packetCount)
        }),
        formatHex(binaryToHex(message), chunkSize));

    logRow('binary',
        formatBinary(toAddress, 4),
        formatBinary(fromAddress, 4),
        formatBinary(packetIndex, 4) + ' ' + formatBinary(packetCount, 4),
        formatBinary(message, chunkSize));
   %>
  </tbody>
</table>