<%
var netsimUtils = require('./netsimUtils');
%>
<table>
  <tbody>
    <tr>
      <th>Data transferred</th>
      <td>900B / 1000B (90%)</td>
    </tr>
    <tr>
      <th>Packets</th>
      <td>
        <%= successfulPackets %>
        / <%= totalPackets %>
        <% if (totalPackets > 0) { %>
          (<%= Math.round(100 * successfulPackets / totalPackets) %>%)
        <% } %>
      </td>
    </tr>
    <tr>
      <th>Data rate</th>
      <td>1Kbps</td>
    </tr>
    <tr>
      <th>Memory</th>
      <td>
        <%= netsimUtils.bitsToLocalizedRoundedBytesize(usedMemory) %>
        / <%= netsimUtils.bitsToLocalizedRoundedBytesize(totalMemory) %>
        <% if (totalMemory > 0 && totalMemory < Infinity) { %>
          (<%= Math.round(100 * usedMemory / totalMemory) %>%)
        <% } %>
      </td>
    </tr>
  </tbody>
</table>
