<%
var i18n = require('../../locale/current/netsim');
%>
<div class="content-wrap">
  <% if (remoteNodeName) { %>
  <p>Connected to <%= remoteNodeName %></p>
  <% } %>

  <% if (myHostname) { %>
  <p>My hostname: <%= myHostname %></p>
  <% } %>

  <% if (myAddress) { %>
  <p>My address: <%= myAddress %></p>
  <% } %>

  <% if (shareLink) { %>
  <p><a href="<%= shareLink %>"><%= i18n.shareThisNetwork() %></a></p>
  <% } %>
</div>
