<%
  var DnsMode = require('./netsimConstants').DnsMode;
  var netsimMsg = require('../../locale/current/netsim');

  /**
   * @param {exports.DnsMode} mode
   * @param {string} label
   */
  function makeRadio(mode, label) {
    %>
    <div class="dns_mode_<%= mode %>">
      <input id="dns_mode_<%= mode %>"
                   type="radio"
                   name="dns_mode"
                   value="<%= mode %>" />
      <label for="dns_mode_<%= mode %>"><%= label %></label>
    </div>
    <%
  }
%>
<div class="dns_mode_control">
  <h1><%= netsimMsg.dnsMode() %></h1>
  <% makeRadio(DnsMode.NONE, netsimMsg.dnsMode_NONE()); %>
  <% makeRadio(DnsMode.MANUAL, netsimMsg.dnsMode_MANUAL()); %>
  <% makeRadio(DnsMode.AUTOMATIC, netsimMsg.dnsMode_AUTOMATIC()); %>
</div>
