<%
  var i18n = require('../../locale/current/netsim');
  var NodeType = require('./netsimConstants').NodeType;

  var showClients = level.showClientsInLobby;
  var showRouters = level.showRoutersInLobby;

  var lobbyRows = nodesOnShard.filter(function (node) {
    var nodeType = node.getNodeType();
    return (nodeType === NodeType.CLIENT && showClients) || (nodeType == NodeType.ROUTER && showRouters);
  }).map(function (node) {
    var classes = (node.getNodeType() === NodeType.ROUTER) ? ['router-row'] : ['user-row'];

    if (isMyNode(node)) {
      classes.push('own-row');
    }

    if (canConnectToNode(node)) {
      classes.push('selectable-row');
    }

    if (isSelectedNode(node)) {
      classes.push('selected-row');
    }

    return {
      nodeID: node.entityID,
      classAttr: classes.join(' '),
      displayName: node.getDisplayName(),
      status: node.getStatus() + ' ' + node.getStatusDetail()
    };
  }).sort(function (a, b) {
    // TODO (bbuchanan): Make this sort localization-friendly.
    return (a.displayName > b.displayName) ? 1 : -1;
  });
%>
<div class="content-wrap">
  <ul id="netsim_lobby_list">
    <%

      lobbyRows.forEach(function (row) {
        %>
          <li class="<%= row.classAttr %>" data-node-id="<%= row.nodeID %>">
            <%= row.displayName %> : <%= row.status %>
          </li>
        <%
      });

      if (level.showAddRouterButton) {
        %>
          <li class="empty-row">
            <input type="button" id="netsim_lobby_add_router" value="Add Router" />
          </li>
        <%
      } else if (lobbyRows.length === 0) {
        %>
          <li class="empty-row"><%= i18n.lobbyIsEmpty() %></li>
        <%
      }
    %>
  </ul>
  <input type="button" id="netsim_lobby_connect" value="Connect" />
</div>
