<%
  var _ = require('../utils').getLodash();
  var i18n = require('../../locale/current/netsim');
  var netsimConstants = require('./netsimConstants');
  var PacketHeaderType = netsimConstants.PacketHeaderType;

  /** @type {PacketHeaderType[]} */
  var headerFields = level.routerExpectsPacketHeader.map(function (headerField) {
    return headerField.key;
  });

  var showToAddress = headerFields.indexOf(PacketHeaderType.TO_ADDRESS) > -1;
  var showFromAddress = headerFields.indexOf(PacketHeaderType.FROM_ADDRESS) > -1;
  var showPacketInfo = headerFields.indexOf(PacketHeaderType.PACKET_INDEX) > -1 &&
      headerFields.indexOf(PacketHeaderType.PACKET_COUNT) > -1;
%>
<div class="netsim-router-log">
  <h1>Router Traffic</h1>
  <table>
    <thead>
    <tr>
      <% if (showToAddress) { %>
        <th nowrap><%= i18n.to() %></th>
      <% } %>
      <% if (showFromAddress) { %>
        <th nowrap><%= i18n.from() %></th>
      <% } %>
      <% if (showPacketInfo) { %>
        <th nowrap><%= i18n.packetInfo() %></th>
      <% } %>
      <th nowrap><%= i18n.message() %></th>
      <th nowrap><%= i18n.bits() %></th>
    </tr>
    </thead>
    <tbody>
    <%
    // Sort: Most recent first
    tableData.sort(function (a, b) {
      return a.timestamp > b.timestamp ? -1 : 1;
    });

    // Create rows
    tableData.forEach(function (logEntry) {
      var rowClasses = [];
    %>
    <tr class="<%= rowClasses.join(' ') %>">
      <% if (showToAddress) { %>
        <td nowrap><%= logEntry.getHeaderField(PacketHeaderType.TO_ADDRESS) %></td>
      <% } %>
      <% if (showFromAddress) { %>
        <td nowrap><%= logEntry.getHeaderField(PacketHeaderType.FROM_ADDRESS) %></td>
      <% } %>
      <% if (showPacketInfo) { %>
        <td nowrap><%= i18n.xOfY({
            x: logEntry.getHeaderField(PacketHeaderType.PACKET_INDEX),
            y: logEntry.getHeaderField(PacketHeaderType.PACKET_COUNT)
          }) %></td>
      <% }%>
      <td><%= logEntry.getMessageAscii() %></td>
      <td nowrap><%= logEntry.packet.length %></td>
    </tr>
    <%
    });
    %>
    </tbody>
  </table>
</div>