<%
  var DnsMode = require('./netsimConstants').DnsMode;

  /**
   * @param {exports.DnsMode} mode
   * @param {string} label
   */
  function makeRadio(mode, label) {
    %>
    <div class="dns_mode_<%= mode %>">
      <input id="dns_mode_<%= mode %>"
                   type="radio"
                   name="dns_mode"
                   value="<%= mode %>" />
      <label for="dns_mode_<%= mode %>"><%= label %></label>
    </div>
    <%
  }
%>
<div class="dns_mode_control">
  <h1>DNS Mode</h1>
  <% makeRadio(DnsMode.NONE, 'None'); %>
  <% makeRadio(DnsMode.MANUAL, 'Manual'); %>
  <% makeRadio(DnsMode.AUTOMATIC, 'Automatic'); %>
</div>
