<%
var Packet = require('./Packet');
%>
<div class="modal-dialog modal-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">All Router Logs</h4>
    </div>
    <div class="modal-body">
      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th>Logged By</th>
            <th>Status</th>
            <th>From</th>
            <th>To</th>
            <th>Packet</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <%
            logEntries.forEach(function (entry) {
              var originNode = entry.getOriginNode();
              %>
              <tr>
                <td><%= entry.getTimeString() %></td>
                <td><%= originNode ? originNode.getDisplayName() : entry.nodeID %></td>
                <td><%= entry.getLocalizedStatus() %></td>
                <td><%= entry.getHeaderField(Packet.HeaderType.FROM_ADDRESS) %></td>
                <td><%= entry.getHeaderField(Packet.HeaderType.TO_ADDRESS) %></td>
                <td><%= entry.getLocalizedPacketInfo() %></td>
                <td><%= entry.getMessageAscii() %></td>
              </tr>
              <%
            });
          %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>