<%
  var i18n = require('@cdo/netsim/locale');
%>
<div class="content-wrap">
  <div class="field-box display-name-control">
    <label for="netsim-lobby-name"><%= i18n.myName() %></label>
    <input id="netsim-lobby-name" type="text" value="<%= displayName %>" <% if (displayName.length > 0) { %>disabled<% } %> />
    <% if (displayName.length === 0) { %>
      <input id="netsim-lobby-set-name-button" type="button" value="<%= i18n.setName() %>" disabled />
    <% } %>
  </div>
  <% if (displayName.length > 0) { %>
    <div class="field-box shard-control">
      <label for="netsim-shard-select"><%= i18n.mySection() %></label>
      <select id="netsim-shard-select" <% if (selectedShardID) { %>disabled<% } %>>
        <option value="<%= SELECTOR_NONE_VALUE %>"><%= i18n.dropdownPickOne() %></option>
        <%
          var selectedAnyShard = false;
          shardChoices.forEach(function (shardChoice) {
            var attributes = '';
            if (shardChoice.shardID === selectedShardID) {
              attributes = 'selected';
              selectedAnyShard = true;
            }
            %>
              <option value="<%= shardChoice.shardID %>" <%= attributes %>><%= shardChoice.displayName %></option>
            <%
          });
        %>
      </select>
      <% if (!selectedShardID) { %>
        <input id="netsim-shard-confirm-button" type="button" value="<%= i18n.joinSection() %>" <% if (!selectedAnyShard) { %>disabled<% } %> />
      <% } %>
    </div>
  <% } %>

  <div class="lobby-hint">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <% if (displayName.length === 0) { %>
      <p>
        You're not currently signed in. If you are trying to use the simulator
        with your class, please <a href="/users/sign_in">sign in</a> and then return
        to this page.
      </p>
    <% } else { %>
      <p>
        It looks like you are a member of more than one class section.  To make
        sure you can connect to your classmates, please use the dropdown
        above to select the class section that is currently doing the
        Internet Simulator activity, then click "<%= i18n.joinSection() %>" to
        proceed.
      </p>
    <% } %>
  </div>

  <div class="clearfix"></div>
</div>
