<%
  var msg = require('../../locale/current/common');
%>

<div id="rotateContainer" style="background-image: url(<%= assetUrl('media/mobile_tutorial_turnphone.png') %>)">
  <div id="rotateText">
    <p><%= msg.rotateText() %><br><%= msg.orientationLock() %></p>
  </div>
</div>

<% var instructions = function() { -%>
  <div id="bubble" class="clearfix">
    <table id="prompt-table">
      <tr>
        <td id="prompt-icon-cell">
          <img id="prompt-icon"/>
        </td>
        <td id="prompt-cell">
          <p id="prompt">
          </p>
        </td>
      </tr>
    </table>
    <div id="ani-gif-preview-wrapper">
      <div id="ani-gif-preview">
        <img id="play-button" src="<%= assetUrl('media/play-circle.png') %>"/>
      </div>
    </div>
  </div>
<% }; -%>

<div id="appcontainer">
  <!-- Should disable spell-check on all netsim elements -->
  <div id="netsim"  autocapitalize="false" autocorrect="false" autocomplete="false" spellcheck="false">
    <div id="netsim_rightcol">
      <div id="netsim_status"></div>
      <div id="netsim_vizualization">
        <svg version="1.1" width="300" height="300" xmlns="http://www.w3.org/2000/svg">

          <filter id="backgroundBlur">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
            <feComponentTransfer>
              <feFuncA slope="0.5" type="linear"></feFuncA>
            </feComponentTransfer>
          </filter>

          <g id="centered_group" transform="translate(150,150)">
            <g id="background_group" filter="url(#backgroundBlur)"></g>
            <g id="foreground_group"></g>
          </g>
        </svg>
      </div>
      <div id="netsim_tabs"></div>
    </div>
    <div id="netsim_leftcol">
      <div class="leftcol_disconnected">
        <div class="lobby-panel"></div>
      </div>
      <div class="leftcol_connected">
        <div id="netsim_received"></div>
        <div id="netsim_sent"></div>
        <div id="netsim_send"></div>
      </div>
    </div>
  </div>
  <div id="footers" dir="<%= data.localeDirection %>">
    <% instructions() %>
  </div>
</div>

<div class="clear"></div>
