%h1 Listing Professional Learning Modules

%table
  %thead
    %tr
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @professional_learning_modules.each do |learning_module|
      %tr
        %td= learning_module.name
        %td= learning_module.learning_module_type
        %td= link_to 'Show', learning_module
        %td= link_to 'Edit', edit_professional_learning_module_path(learning_module)
        %td= link_to 'Destroy', learning_module, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Learning module', new_professional_learning_module_path
