#lti-integration-portal
  .row
    .span10
      .padded-container
        - if @integration_status == :created
          .row
            .span10.header
              %h1= t('lti.integration.success_header')
          .row
            .span10
              %p= t('lti.integration.success_body').html_safe
              %p= t('lti.integration.guide_instructions').html_safe
        - else
          .row
            .span10.header
              %h1= t('lti.integration.exists_header')
          .row
            .span10
              %p= t('lti.integration.exists_body').html_safe
              %p= t('lti.integration.guide_instructions').html_safe
        .row
          .span10
            %br
            = link_to :home do
              %button.lti-btn-purple-right= t('lti.integration.navigate_home')
            = link_to :lti_v1_integrations do
              %button.lti-btn-white= t('lti.integration.navigate_registration')
