#lti-integration-portal

  .row
    .span10.header
      %h1= t('lti.integration_portal_header')
  .row
    .span10
      %p= t('lti.integration_portal_instructions').html_safe
      %p= t('lti.integration_portal_instructions_2').html_safe
    = form_with(url: :lti_v1_integrations, method: :post, class: "lti-integration-form") do |f|
      .row
        .span8
          .padded-container
            .row
              .span3.lti-integration-field-label
                = f.label :client_id, t('lti.integration_client_id').html_safe
              .span5
                = f.text_field :client_id, maxlength: 50
            .row
              .span3.lti-integration-field-label
                = f.label :email, t('lti.integration_email').html_safe
              .span5
                = f.email_field :email, maxlength: 255
            .row
              .span3.lti-integration-field-label
                = f.label :lms, t('lti.integration_lms_selector')
              .span5
                = f.select :lms, @form_data[:lms_platforms]
            .row
              .span10
                %p= t('lti.integration_portal_instructions_3').html_safe

            %button.lti-btn-purple= t('lti.integration_register')

  .row
    .span10
      %em= t('lti.integration_portal_privacy_policy').html_safe
