---
title: Hour of Code Organizer Survey
nav: blank
rightbar: blank
---

-code = File.basename(request.path_info)

:ruby
  email = Poste.decrypt(code) rescue nil
  signup = DB[:forms].where(kind: 'HocSignup2015', email: email).first
  not_found! unless signup
  processed_data = JSON.load signup[:processed_data]
  country = processed_data['location_country_s']

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "/js/selectize-fast-click.js"}
%script{type: "text/javascript", src: "/js/hoc-survey-2015.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

%h1 Hour of Code Organizer Survey

%form{:id=>"hoc-survey-form", role: "form", onsubmit: "event.preventDefault();"}
  %p
    Fields marked with
    %span.form-required-field *
    are required.

  #error-message

  .form-group
    %label.control-label{for: "event_country"} Country
    %span.form-required-field *
    %div
      %select#event-country.form-control{name: "event_country_s", type: "select", required: true}
        %option{value: country, selected: true}= country
        - DB[:geography_countries].all().map{|i| i[:name_s]}.sort.each do |country|
          %option{value: country}= country unless country == 'United States'
        %option{value: "Other"} Other

  .form-group
    %label.control-label{for: "experience-rating"} Overall, how would you rate your Hour of Code experience?
    %span.form-required-field *
    %div
      %select#experience-rating.form-control{name: "experience_rating_s", type: "select", required: true}
        %option{value: nil, selected: true}
        -HocSurvey2015.experience_ratings.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "event-location-type"} Where was your Hour of Code event?
    %span.form-required-field *
    %div
      %select#event-location-type.form-control{name: "event_location_type_s", type: "select", required: true}
        %option{value: nil, selected: true}
        - HocSurvey2015.event_location_types.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "school-teach-cs"} Does your school already teach/offer a Computer Science class that includes programming or coding?
    %span.form-required-field *
    %div
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "school-teach-cs-yes", name: "school_teach_cs_s", required: true, value: "Yes"} Yes
      %label{class: "radio-inline"}
        %input{type: "radio", id: "school-teach-cs-no", name: "school_teach_cs_s", required: true, value: "No"} No
      %label{class: "radio-inline"}
        %input{type: "radio", id: "school-teach-cs-na", name: "school_teach_cs_s", required: true, value: "I don’t know / Not applicable"} I don’t know / Not applicable

  .form-group
    %label.control-label{for: "cs-interest"} How has your experience with the Hour of Code affected your interest in teaching computer science?
    %span.form-required-field *
    %div
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "cs-interest-more", name: "cs_interest_s", required: true, value: "More interested"} More interested
      %label{class: "radio-inline"}
        %input{type: "radio", id: "cs-interest-nochange", name: "cs_interest_s", required: true, value: "No change"} No change
      %label{class: "radio-inline"}
        %input{type: "radio", id: "cs-interest-less", name: "cs_interest_s", required: true, value: "Less interested"} Less interested

  .form-group
    %label.control-label{for: "cs-beyond-hoc"} If given the opportunity, would you continue teaching coding or computer science beyond just one hour?
    %span.form-required-field *
    %div
      %select#cs-beyond-hoc.form-control{name: "cs_beyond_hoc_s", type: "select", required: true}
        %option{value: nil, selected: true}
        - HocSurvey2015.beyond_hoc_answers.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "age-range"} What age range were the students that participated in your Hour of Code? Check all that apply.
    %span.form-required-field *
    %div
      %select#age-range.form-control{name: "age_range_ss[]", type: "select", multiple: true, required: true}
        %option{value: nil, selected: true}
        - HocSurvey2015.age_ranges.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "longer_than_hour"} Did any of your students do coding for longer than one hour?
    %span.form-required-field *
    %div
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "longer_than_hour-yes", name: "longer_than_hour_s", required: true, value: "Yes"} Yes
      %label{class: "radio-inline"}
        %input{type: "radio", id: "longer_than_hour-no", name: "longer_than_hour_s", required: true, value: "No"} No

  .form-group
    %label.control-label{for: "students-number-total"} In total, how many students participated in your Hour of Code? Enter a whole number.
    %span.form-required-field *
    %div
      %input#students-number-total.form-control{name: "students_number_total_s", placeholder: "", type: "text", required: true}/

  .form-group
    %label.control-label{for: "students-number-girls"} In total, how many of the students who participated in your Hour of Code were girls? Enter a whole number.
    %span.form-required-field *
    %div
      %input#students-number-girls.form-control{name: "students_number_girls_s", placeholder: "", type: "text", required: true}/

  .form-group
    #students-number-ethnicity-wrapper{style: "display: none;"}
      %label.control-label{for: "students-number-ethnicity"}
        In total, how many of the students who participated were from historically underrepresented ethnicities in computer science:
        African American, Hispanic/Latino/Latina, Pacific Islander, or Native American/Alaskan Native? Enter a whole number.
        %span.form-required-field *
      %div
        %input#students-number-ethnicity.form-control{name: "students_number_ethnicity_s", placeholder: "", type: "text", required: true}/

  .form-group
    %label.control-label{for: "volunteer-participation"} Did a volunteer participate in the Hour of Code through the map we provided?
    %span.form-required-field *
    %div
      %select#volunteer-participation.form-control{name: "volunteer_participation_s", type: "select", multiple: true, required: true}
        %option{value: nil, selected: true}
        - HocSurvey2015.volunteer_participation_values.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "teacher-how-heard"} How did you hear about the Hour of Code? (Choose all that apply)
    %span.form-required-field *
    %div
      %select#teacher-how-heard.form-control{name: "teacher_how_heard_ss[]", type: "select", multiple: true, required: true}
        %option{value: nil, selected: true}
        -HocSurvey2015.teacher_how_heards.each do |label|
          %option{value: label}= label

    %div#teacher-how-heard-other-wrapper{style: 'display: none;'}
      %label.control-label{for: "teacher-how-heard-other"}
        %em{style: 'font-weight: normal;'} Other method
      %div
        %input#tacher-how-heard-other.form-control{name: "teacher_how_heard_other_s", placeholder: "", type: "text"}/

  .form-group
    %label.control-label{for: "hoc-centerpiece"}
      Should we keep the Hour of Code as the centerpiece activity of Computer Science Education Week,
      and keep “Hour of Code” as the unifying brand for all the other activities that educators organize throughout the week?
    %span.form-required-field *
    %div
      %select#hoc-centerpiece.form-control{name: "hoc_centerpiece_s", type: "select", required: true}
        %option{value: nil, selected: true}
        - HocSurvey2015.hoc_centerpiece_values.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "event-improvement"} How do you think we could improve the Hour of Code? (optional, limit 250 words)
    %div
      %textarea#event-improvement.form-control{name: "event_improvement_s", placeholder: "", style: "height: 8em;"}

  %input{name:'code_s', type:'hidden', value:code}

  .form-group.submit-btn
    %button#btn-submit.btn.btn-default{type: "submit"} Submit

#thanks{:style=>"display: none;"}
  :markdown
    Thank you for completing the survey. If you selected a prize, you will receive an email with information about how to claim it.
