---
title: Hour of Code Organizer Survey
nav: blank
rightbar: blank
---

-code = File.basename(request.path_info)

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "/js/selectize-fast-click.js"}
%script{type: "text/javascript", src: "/js/hoc-survey-2014.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

%h1 Hour of Code Organizer Survey

%form{:id=>"hoc-survey-form", role: "form", onsubmit: "event.preventDefault();"}
  %p
    Fields marked with
    %span.form-required-field *
    are required.

  #error-message

  .form-group
    %label.control-label{for: "event_country"} Country
    %span.form-required-field *
    %div
      %select#event-country.form-control{name: "event_country_s", type: "select", required: true}
        %option{value: nil, selected: true}
        %option{value: "United States"} United States
        -DB[:geography_countries].all().map{|i| i[:name_s]}.sort.each do |country|
          %option{value: country}= country unless country == 'United States'
        %option{value: "Other"} Other

  .form-group
    %label.control-label{for: "teacher-description"} Which best describes you?
    %span.form-required-field *
    %div
      %select#teacher-description.form-control{name: "teacher_description_s", type: "select", required: true}
        %option{value: nil, selected: true}
        -HocSurvey2014.teacher_descriptions.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "event-location-type"} Where was your Hour of Code event?
    %span.form-required-field *
    %div
      %select#event-location-type.form-control{name: "event_location_type_s", type: "select", required: true}
        %option{value: nil, selected: true}
        -HocSurvey2014.event_location_types.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "students-number-total"} For how many students did you organize the Hour of Code?
    %span.form-required-field *
    %div
      %input#students-number-total.form-control{name: "students_number_total_s", placeholder: "", type: "text", required: true}/

  .form-group
    %label.control-label{for: "students-number-girls"} How many of the students were girls (approximately)?
    %span.form-required-field *
    %div
      %input#students-number-girls.form-control{name: "students_number_girls_s", placeholder: "", type: "text", required: true}/

  .form-group
    #students-number-ethnicity-wrapper{style: "display: none;"}
      %label.control-label{for: "students-number-ethnicity"}
        In total, how many of the students were Hispanic, African American, or Native American (approximately)?
        %span.form-required-field *
      %div
        %input#students-number-ethnicity.form-control{name: "students_number_ethnicity_s", placeholder: "", type: "text", required: true}/

  .form-group
    %label.control-label{for: "students-grade-levels"} What grade levels were the students? (Choose all that apply)
    %span.form-required-field *
    %div
      %select#students-grade-levels.form-control{name: "students_grade_levels_ss[]", type: "select", multiple: true, required: true}
        %option{value: nil, selected: true}
        -HocSurvey2014.students_grade_levels.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "event-tutorials"} Which tutorial did you use? (Choose all that apply)
    %span.form-required-field *
    %div
      %select#event-tutorials.form-control{name: "event_tutorials_ss[]", type: "select", multiple: true, required: true}
        %option{value: nil, selected: true}
        -HocSurvey2014.event_tutorials.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "event-technology"} What level of technology did you have?
    %span.form-required-field *
    %div
      %select#event-technology.form-control{name: "event_technology_s", type: "select"}
        %option{value: nil, selected: true}
        -HocSurvey2014.event_technologies.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "event-experience"} Overall, how would you rate your Hour of Code experience?
    %span.form-required-field *
    %div
      %select#event-experience.form-control{name: "event_experience_s", type: "select", required: true}
        %option{value: nil, selected: true}
        -HocSurvey2014.event_experiences.each  do |label|
          %option{value: label}= label

  .form-group
    %label.control-label{for: "hoc-event-improvement"} How do you think we could improve the Hour of Code? (optional)
    %div
      %textarea#hoc-event-improvement.form-control{name: "event_improvement_s", placeholder: "", style: "height: 8em;"}

  .form-group
    %label.control-label{for: "event-annual"} Do you think the Hour of Code should be an annual event?
    %span.form-required-field *
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "event-annual-yes", name: "event_annual_s", required: true, value: "Yes"} Yes
      %label{class: "radio-inline"}
        %input{type: "radio", id: "event-annual-no", name: "event_annual_s", required: true, value: "No"} No

  .form-group
    %label.control-label{for: "teacher-plan-teach-cs"} Do you plan to teach a longer computer science or coding course in your classroom? (optional)
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "teacher-plan-teach-cs-yes", name: "teacher_plan_teach_cs_s", required: true, value: "Yes"} Yes
      %label{class: "radio-inline"}
        %input{type: "radio", id: "teacher-plan-teach-cs-no", name: "teacher_plan_teach_cs_s", required: true, value: "No"} No

  .form-group
    %label.control-label{for: "teacher-first-year"} Will this be your first year teaching computer science? (optional)
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "teacher-first-year-yes", name: "teacher_first_year_s", required: true, value: "Yes"} Yes
      %label{class: "radio-inline"}
        %input{type: "radio", id: "teacher-first-year-no", name: "teacher_first_year_s", required: true, value: "No"} No

  .form-group
    %label.control-label{for: "teacher-how-heard"} How did you hear about the Hour of Code? (Choose all that apply)
    %span.form-required-field *
    %div
      %select#teacher-how-heard.form-control{name: "teacher_how_heard_ss[]", type: "select", multiple: true, required: true}
        %option{value: nil, selected: true}
        -HocSurvey2014.teacher_how_heards.each do |label|
          %option{value: label}= label

    %div#teacher-how-heard-other-wrapper{style: 'display: none;'}
      %label.control-label{for: "teacher-how-heard-other"}<
        %em{style: 'font-weight: normal;'} Other method
      %div
        %input#tacher-how-heard-other.form-control{name: "teacher_how_heard_other_s", placeholder: "", type: "text"}/

  .form-group
    #teacher-district-wrapper{style: "display: none;"}
      %label.control-label{for: "teacher-district"} What school district do you teach in? (optional)
      %div
        %input#teacher-district.form-control{name: "teacher_district_s", placeholder: "", type: "text"}/

  .form-group
    %label.control-label{for: "prize-choice"} What prize would you like to receive?
    %span.form-required-field *
    .radio-row
      %label{class: "radio-inline"}
        %input{type: "radio", id: "prize-choice-dropbox", name: "prize_choice_s", value: "Dropbox"} 10 GB of Dropbox space
      %label{class: "radio-inline"}
        %input{type: "radio", id: "prize-choice-skype", name: "prize_choice_s", value: "Skype"} $10 of Skype credit
      %label{class: "radio-inline"}
        %input{type: "radio", id: "prize-choice-none", name: "prize_choice_s", value: "None"} No prize

  %input{name:'code_s', type:'hidden', value:code}

  .form-group.submit-btn
    %button#btn-submit.btn.btn-default{type: "submit"} Submit

#thanks{:style=>"display: none;"}
  :markdown
    Thank you for completing the survey. If you selected a prize, you receive an email with information about how to claim it.
