%h1= t('signin_form.title')
%p{style: "margin-bottom:0px"}
  &nbsp;
.row#signin
  .span8

    = show_flashes.html_safe

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.hidden_field :hashed_email

      -# Email
      .itemblock
        .labelblock
          = t('signin_form.login_username')
        - email = @email || ''
        = f.text_field :login, value: email, autofocus: email == ''

      -# Password
      .itemblock
        .labelblock
          = t('signin_form.password')
        = f.password_field :password, autofocus: email != ''
        -# Forgot password?
        - if devise_mapping.recoverable?
          &nbsp;
          = link_to t('auth.forgot_password'), new_password_path(resource_name)

      -# Sign in button
      .singleitemblock
        %button#signin-button.primary= t('signin_form.submit')

      -# Remember me
      - if devise_mapping.rememberable?
        .singleitemblock
          %label.rememberme
            = f.check_box :remember_me
            = t('signin_form.remember')

      -# Not yet signed up?  Sign up
      .singleitemblock
        = t('auth.notyet_signedup')
      - if devise_mapping.registerable?
        .singleitemblock
          %button#signup-button.secondary{type: 'button'}= t('nav.user.signup')

  .span4
    .sidebar= render "devise/shared/links"

%br/
%br/

.row
  .span12
    %h3= t('signin.try_heading')
.row
  = render partial: 'shared/course_tall_block', locals: { id: Script::MINECRAFT_DESIGNER_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::STARWARS_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FROZEN_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_NAME, showState: false }


%br/
%br/
%br/
%br/
%br/
%br/

:javascript
  $("#user_login").placeholder();

  $("#new_user").on("submit", function (e) {
    window.dashboard.hashEmail({
      email_selector: '#user_login',
      hashed_email_selector: '#user_hashed_email'
    });

    dashboard.clientState.reset();
  });

  $("#signup-button").click(function (e) {
    window.location.href = "#{new_user_registration_path}";
    return false;
  });
