- page_mode = PageMode.get(request)
- if page_mode == "feature-mc"
  - first_tutorial = Script::MINECRAFT_NAME
  - second_tutorial = Script::STARWARS_NAME
- else
  - first_tutorial = Script::STARWARS_NAME
  - second_tutorial = Script::MINECRAFT_NAME

%h1= t('signin_form.title')
%p{style: "margin-bottom:0px"}
  &nbsp;
.row#signin
  .span8

    = show_flashes.html_safe

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.hidden_field :hashed_email

      -# Email
      .itemblock
        .labelblock
          = t('signin_form.login')
        = f.text_field :login, autofocus: true
      %br/

      -# Password
      .itemblock
        .labelblock
          = t('signin_form.password')
        = f.password_field :password

      -# Forgot password?
      .singleitemblock
        - if devise_mapping.recoverable?
          = link_to t('auth.forgot_password'), new_password_path(resource_name)

      -# Remember me
      - if devise_mapping.rememberable?
        .rememberme
          = f.check_box :remember_me
          = t('signin_form.remember')
      %br/

      -# Sign in button
      %button.primary{onclick: '$("#new_user").submit();'}= t('signin_form.submit')
      %br/
      %br/

      -# Sign up
      - if devise_mapping.registerable?
        = t('auth.notyet_signedup')
        = link_to t('nav.user.signup'), new_user_registration_path

    %h3= t('signin.try_heading')
    .row{style: 'margin: 0px;'}
      = render partial: 'shared/course_tall_block', locals: { id: first_tutorial, showState: false }
      = render partial: 'shared/course_tall_block', locals: { id: second_tutorial, showState: false }
    .row{style: 'margin: 20px 0px 0px 0px;'}
      = render partial: 'shared/course_tall_block', locals: { id: Script::FROZEN_NAME, showState: false }
      = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_NAME, showState: false }

  .span4
    %div{ style: 'padding-left: 20px;  border-left: 1px solid black;' }= render "devise/shared/links"

%br/
%br/
%br/
%br/
%br/
%br/

:javascript
  $("#user_login").placeholder();

  $(".edit_user").on("submit", function(e) {});

  $("#new_user").on("submit", function (e) {
    window.dashboard.hashEmail({ email_selector: '#user_login',
      hashed_email_selector: '#user_hashed_email'});

    dashboard.clientState.reset();
  });
