%h1= t('signin_form.title')

.flex-container
  #signin
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = show_flashes.html_safe
      = f.hidden_field :hashed_email

      / Email
      .field
        = label_tag t('signin_form.login_username')
        - email = @email || ''
        = f.text_field :login, value: email, autofocus: email == ''

      / Password
      .field
        = f.label :password
        = f.password_field :password, autofocus: email != ''

      / Forgot password?
      - if devise_mapping.recoverable?
        %div.field-aligned
          = link_to t('auth.forgot_password'), new_password_path(resource_name), id: 'forgot-password'

      / Sign in button
      %button#signin-button= t('signin_form.submit')

    / Not yet signed up? Sign up
    - if devise_mapping.registerable?
      %div.field-aligned
        %strong= t('auth.notyet_signedup')
      = link_to new_user_registration_path, class: 'field-aligned' do
        %button.blue-button= t('nav.user.signup')

  %div.vertical-or
    %hr
    = t("or").upcase
    %hr

  = render "devise/shared/oauth_links"

%h3= t('signin.try_heading')

.row
  - if @is_english
    - course_blocks = [Script::DANCE_PARTY_2019_NAME, Script::MINECRAFT_AQUATIC_NAME, Script::OCEANS_NAME, Script::FLAPPY_NAME]
  - else
    - course_blocks = [Script::DANCE_PARTY_2019_NAME, Script::MINECRAFT_AQUATIC_NAME, Script::FROZEN_NAME, Script::HOC_NAME]

  - course_blocks.each do |course_id|
    = render partial: 'shared/course_tall_block', locals: { id: course_id }


%br/
%br/
%br/
%br/
%br/
%br/

:javascript
  $("#user_login").placeholder();

  $("#new_user").on("submit", function (e) {
    window.dashboard.hashEmail({
      email_selector: '#user_login',
      hashed_email_selector: '#user_hashed_email'
    });

    dashboard.clientState.reset();
  });
