%p#notice= notice

%p
  %b User professional learning course enrollment:
  = @plc_enrollment_evaluation.user_professional_learning_course_enrollment
%p
  %b Plc evaluation answers:
  = @plc_enrollment_evaluation.plc_evaluation_answers

= link_to 'Edit', edit_plc_enrollment_evaluation_path(@plc_enrollment_evaluation)
\|
= link_to 'Back', plc_enrollment_evaluations_path
