---
title: CS Principles Widgets
theme: responsive
video_player: true
---

%link{href: "/css/jumbotron-banner.css", rel: "stylesheet"}

= view :jumbotron_banner, img: CDO.code_org_url("/images/app-lab/csp-widgets.jpg"), title: "CS Principles Widgets", desc: "This is sample text. Here are widgets from the CS Principles course that you can use to supplement any high school computer science course.", specs: "Ages 14+, All modern browsers, English only", nav_bar: [{text: 'Text compression', url: '#text-compression'}, {text: 'Pixelation Widget', url: '#pixelation'}, {text: 'Cryptography', url: '#cryptography'}, {text: 'Internet Simulator', url: '#internet-simulator'}]

#text-compression
  %h1{style: 'background-color: #7665a0; color: white; height: 60px; padding-top: 10px; padding-left: 15px;'} Text compression
  .tool-video{style: 'float: left; width: 40%; margin-right: 20px;'}
    = view :display_video_thumbnail, id: 'text_compression', video_code: 'By30SCp-Tsw', play_button: 'center', download_path: 'https://video.code.org/2015/csp/textcompression_blacc.mp4', letterbox: 'false'
  .tool-desc
    Here is some sample text about the text compression widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
    .standalone-tool{style: 'margin-left: 45%; margin-top: 20px;'}
      %a{href: CDO.code_org_url('/textcompression')}
        %button
          Try standalone tool
    %ul.tool-links{style: 'margin-left: 45%'}
      %li
        %i.fa.fa-file-text
        %a{href: CDO.code_org_url('/curriculum/csp2/2/Teacher')}
          Lesson Plan
      %li
        %i.fa.fa-external-link-square
        %a{href: CDO.studio_url('/s/csp2/stage/2/puzzle/1')}
          Stage in CS Principles
  .clear

#pixelation
  %h1{style: 'background-color: #7665a0; color: white; height: 60px; padding-top: 10px; padding-left: 15px; margin-top: 100px;'} Pixelation Widget
  .tool-video{style: 'float: left; width: 40%; margin-right: 20px;'}
    = view :display_video_thumbnail, id: 'images_pixels', video_code: '15aqFQQVBWU', play_button: 'center', letterbox: 'false'
    Related concept video: Images, Pixels & RGB w/Kevin Systrom
  .tool-desc
    Here is some sample text about the pixelation widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
    .standalone-tool{style: 'margin-left: 45%; margin-top: 20px;'}
      %a{href: CDO.code_org_url('/pixelation')}
        %button
          Try standalone tool

  .clear
  %h2 Black and White Pixelation  
  .tool-video{style: 'float: left; width: 40%; margin-right: 20px;'}
    = view :display_video_thumbnail, id: 'bw_pixelation', video_code: 'rJOa5Q5a1WM', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/pixelation_bw.mp4', letterbox: 'false'
  .tool-desc
    Here is some sample text about the black and white pixelation widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
    %ul.tool-links{style: 'margin-left: 45%'}
      %li
        %i.fa.fa-file-text
        %a{href: CDO.code_org_url('/curriculum/csp2/3/Teacher')}
          Lesson Plan
      %li
        %i.fa.fa-external-link-square
        %a{href: CDO.studio_url('/s/csp2/stage/3/puzzle/1')}
          Stage in CS Principles
  .clear

  %h2 Color Pixelation
  %img{src: '/images/app-lab/color-pixelation.png', style: 'float: left; margin-right: 20px; width: 40%'}
  .tool-desc
    Here is some sample text about the color pixelation widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
  %ul.tool-links{style: 'margin-left: 45%;'}
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp2/4/Teacher')}
        Lesson plan
    %li
      %i.fa.fa-external-link-square
      %a{href: CDO.studio_url('/s/csp2/stage/4/puzzle/1')}
        Stage in CS Principles
  .clear

#cryptography
  %h1{style: 'background-color: #7665a0; color: white; height: 60px; padding-top: 10px; padding-left: 15px; margin-top: 100px;'} Cryptography
  .tool-video{style: 'float: left; width: 40%; margin-right: 20px;'}
    = view :display_video_thumbnail, id: 'cryptography', video_code: 'ZghMPWGXexs', play_button: 'center', download_path: 'http://videos.code.org/2015/csp/concept_encryption.mp4', letterbox: 'false'
  .tool-desc
    Here is some sample text about the cryptography widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
  .clear

  %h2 Frequency analysis widget
  %img{src: '/images/app-lab/frequency-analysis.png', style: 'float: left; margin-right: 20px; width: 40%'}
  .tool-desc
    Here is some sample text about the frequency analysis widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
  .standalone-tool{style: 'margin-left: 45%; margin-top: 20px;'}
    %a{href: CDO.studio_url('/s/frequency_analysis')}
      %button
        Try standalone tool
  %ul.tool-links{style: 'margin-left: 45%;'}
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/cspunit2/13/Teacher')}
        Caesar Cipher Lesson plan
    %li        
      %i.fa.fa-external-link-square
      %a{href: CDO.studio_url('/s/cspunit2/stage/13/puzzle/1')}
        Caesar Cipher Stage in CS Principles
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/cspunit2/14/Teacher')}
        Frequency analysis Lesson plan
    %li
      %i.fa.fa-external-link-square
      %a{href: CDO.studio_url('/s/cspunit2/stage/14/puzzle/1')}
        Frequency analysis Stage in CS Principles

  %h2 Vigenere cipher widget
  %img{src: '/images/app-lab/vigenere-cipher.png', style: 'float: left; margin-right: 20px; width: 40%'}
  .tool-desc
    Here is some sample text about the vigenere cipher widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
  .standalone-tool{style: 'margin-left: 45%; margin-top: 20px;'}
    %a{href: CDO.studio_url('/s/vigenere')}
      %button
        Try standalone tool
  %ul.tool-links{style: 'margin-left: 45%;'}
    %li
      %i.fa.fa-external-link-square
      %a{href: CDO.code_org_url('/curriculum/cspunit2/14/Teacher')}
        Lesson Plan
    %li
      %i.fa.fa-external-link-square
      %a{href: CDO.studio_url('/s/cspunit2/stage/14/puzzle/1')}
        Stage in CS Principles

#internet-simulator
  %h1{style: 'background-color: #7665a0; color: white; height: 60px; padding-top: 10px; padding-left: 15px; margin-top: 100px;'} Internet Simulator
  .tool-video{style: 'float: left; width: 40%; margin-right: 20px;'}
    = view :display_video_thumbnail, id: 'the_internet', video_code: 'Dxcc6ycZ73M', play_button: 'center', letterbox: 'false'
  .tool-desc
    Here is some sample text about the internet simulator widget. It can do lots of cool things when you try it. You can use it to teach this concept and that concept. Try watching this cool video or review the lesson plan to figure out how to use it in your class.
  .standalone-tool{style: 'margin-left: 45%; margin-top: 20px;'}
    %a{href: CDO.code_org_url('/internetsimulator')}
      %button
        Try standalone tool
  %ul.tool-links{style: 'margin-left: 45%;'}
    %li
      %i.fa.fa-external-link-square
      %a{href: 'https://www.youtube.com/playlist?list=PLzdnOPI1iJNfMRZm5DDxco3UdsFegvuB7'}
        Related concept videos playlist
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/3/Teacher')}
        Lesson Plan for U1L3: Sending Binary Messages with the Internet Simulator
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/6/Teacher')}
        Lesson Plan for U1L6: Sending Numbers
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/7/Teacher')}
        Lesson Plan for U1L7: Encoding and Sending Formatted Text
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/9/Teacher')}
        Lesson Plan for U1L9: The Need for Addressing
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/10/Teacher')}
        Lesson Plan for U1L10: Routers and Redundancy
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/11/Teacher')}
        Lesson Plan for U1L11: Packings and Making a Reliable Internet
    %li
      %i.fa.fa-file-text
      %a{href: CDO.code_org_url('/curriculum/csp1/12/Teacher')}
        Lesson Plan for U1L12: The Need for DNS
  .clear
  %h4{style: 'margin-top: 30px;'} Student Facing Videos
  .tool-videos
    .tool-video{style: 'float: left; width: 30%; margin-right: 20px;'}
      = view :display_video_thumbnail, id: 'student_shared_wire', video_code: 'Kn6Fd5uwZno', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/internetsimulator_1.mp4', letterbox: 'false'
    .tool-video{style: 'float: left; width: 30%; margin-right: 20px;'}
      = view :display_video_thumbnail, id: 'sending_numbers', video_code: 'cIk2R0QuXkI', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/internetsimulator_2.mp4', letterbox: 'false'
    .tool-video{style: 'float: left; width: 30%;'}
      = view :display_video_thumbnail, id: 'broadcast_mode', video_code: 'x_YTEBRnR1U', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/internetsimulator_3.mp4', letterbox: 'false'
  .clear
  %h4{style: 'margin-top: 30px;'} Teacher-facing Support Videos
  .tool-videos
    .tool-video{style: 'float: left; width: 30%; margin-right: 20px;'}
      = view :display_video_thumbnail, id: 'teacher_shared_wire', video_code: 'Acp48OaZ7Uc', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/internetsimulator_1.mp4', letterbox: 'false'
    .tool-video{style: 'float: left; width: 30%; margin-right: 20px;'}
      = view :display_video_thumbnail, id: 'need_for_packets', video_code: '3hy8WodhtbE', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/internetsimulator_2.mp4', letterbox: 'false'
    .tool-video{style: 'float: left; width: 30%;'}
      = view :display_video_thumbnail, id: 'need_for_dns', video_code: 'UC_-CUmsFHU', play_button: 'center', download_path: 'https://videos.code.org/2015/csp/internetsimulator_3.mp4', letterbox: 'false'
  .clear
