%p
  Hi
  = @registration.pd_application.first_name + ','

%p
  Thank you for submitting your TeacherCon registration form.

- if @registration.accepted?
  %p
    We look forward to seeing you this summer! You will receive more information about
    travel approximately six weeks before TeacherCon. In the meantime, please visit
    - info_link = "code.org/educate/teachercon/#{@registration.pd_application.workshop.location_city.downcase}"
    = link_to(info_link, "https://#{info_link}")
    form more information.
- if @registration.declined?
  %p
    We noticed you responded that you are not able to attend your assigned TeacherCon
    and/or FiT Weekend dates. Please contact
    = link_to("facilitators@code.org", "mailto:facilitators@code.org")
    as soon as possible so that we may assist you.

%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
