- case workshop.program_type.to_i
  - when 1
    - case workshop.phase
      - when 2
        %a{href:"https://docs.google.com/a/code.org/forms/d/1QG9eCbKJD26UNvTC0C9ZZyrp63WjzQSK5gQPP4lsZ2c/viewform"}
          #{link_text}
      - when 4
        %a{href:"https://docs.google.com/a/code.org/forms/d/106j69amXoeZkBEXfNszLUpIx3FfyVcOEdo5Ce6oKMA4/viewform?c=0&w=1&usp=send_form"}
          #{link_text}
  - when 2
    - case workshop.phase
      - when 2
        %a{href:"https://docs.google.com/a/code.org/forms/d/1kEkyOk-Y4MsWVVjmkaw-UDfCE4Wl2Ol3MTrCw4IW8vw/viewform"}
          #{link_text}
      - when 4
        %a{href:"https://docs.google.com/a/code.org/forms/d/1oBYFuv1xlInKD7asJ7gR4GA1xbsdKDjG1PI4tvgdwWc/viewform?c=0&w=1"}
          #{link_text}
  - when 3
    - case workshop.phase
      - when 2
        %a{href:"https://docs.google.com/a/code.org/forms/d/12-HzFgPn6vP-D5P1XCkYxg_Dv3_DWM0B-xh1VDBuhNo/viewform"}
          #{link_text}
      - when 4
        %a{href:"https://docs.google.com/a/code.org/forms/d/1A7VpjT6bRQ-VRs54XKRzN7IZ0_EGqGKlxRBUlrDK6KU/viewform?c=0&w=1"}
          #{link_text}
      - when 8
        %a{href:"https://docs.google.com/a/code.org/forms/d/1opSTEYJUvWN8zrz5B-9Qi-U6oja8EF1FIAddeu6B_O0/viewform"}
          #{link_text}
  - when 4
    - case workshop.phase
      - when 2
        %a{href:"https://docs.google.com/a/code.org/forms/d/1lvvH5JCh6L40pFDqT9UaibyNtYUIwAEJQg2ulXIv6WQ/viewform"}
          #{link_text}
      - when 4
        %a{href:"https://docs.google.com/a/code.org/forms/d/13-2OlU3d0-Byy3wSCbFdSzEFwG-HAuRJoV_nyPAXWJs/viewform?c=0&w=1"}
          #{link_text}