%p
  We appreciate any feedback you have. Please take a moment to complete this
  - case workshop.program_type_short_name
    - when 'CS in Science'
      - case workshop.phase_short_name
        - when 'Phase 2'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1QG9eCbKJD26UNvTC0C9ZZyrp63WjzQSK5gQPP4lsZ2c/viewform"}
            #{link_text}
        - when 'Phase 3B'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1V4sm9cPvABp4ipo4MIMUq9cf-aa-sFWafI5qjrlSV8M/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 4'
          %a{href:"https://docs.google.com/a/code.org/forms/d/106j69amXoeZkBEXfNszLUpIx3FfyVcOEdo5Ce6oKMA4/viewform?c=0&w=1&usp=send_form"}
            #{link_text}
    - when 'CS in Algebra'
      - case workshop.phase_short_name
        - when 'Phase 2'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1kEkyOk-Y4MsWVVjmkaw-UDfCE4Wl2Ol3MTrCw4IW8vw/viewform"}
            #{link_text}
        - when 'Phase 3B'
          %a{href:"https://docs.google.com/a/code.org/forms/d/12koHnpyF2azrNNsEgvy66_dqXXmWeRmEJ9ICJA-gT-M/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 4'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1oBYFuv1xlInKD7asJ7gR4GA1xbsdKDjG1PI4tvgdwWc/viewform?c=0&w=1"}
            #{link_text}
    - when 'ECS'
      - case workshop.phase_short_name
        - when 'Phase 2'
          %a{href:"https://docs.google.com/a/code.org/forms/d/12-HzFgPn6vP-D5P1XCkYxg_Dv3_DWM0B-xh1VDBuhNo/viewform"}
            #{link_text}
        - when 'Phase 3A'
          %a{href:"https://docs.google.com/a/code.org/forms/d/19Cfv0tzvBh7JOUWhFWv5phDvcDkxYWm1nBLKXESVyB4/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 3B'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1U92feb_2lJ8lg2uU4dLeabK9zbmznkNogYtEP-N5IH4/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 3C'
          %a{href:"https://docs.google.com/a/code.org/forms/d/156hOBI42fcQx6rYsuMmdMH5NqElbAsCTd5MXDs70_Vc/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 4'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1KygTcSauHkt5AA_RF_PM5OIYVpvXPLOlG8O79yVRi48/viewform?c=0&w=1"}
            #{link_text}
    - when 'CSP'
      - case workshop.phase_short_name
        - when 'Phase 2'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1lvvH5JCh6L40pFDqT9UaibyNtYUIwAEJQg2ulXIv6WQ/viewform"}
            #{link_text}
        - when 'Phase 3A'
          %a{href:"https://docs.google.com/a/code.org/forms/d/13-2OlU3d0-Byy3wSCbFdSzEFwG-HAuRJoV_nyPAXWJs/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 3B'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1IoJ_Kh6zOZzNvAfwgjRfniY3zvkmZgtdduT4PV5X1Ww/viewform?c=0&w=1&usp=send_form"}
            #{link_text}
        - when 'Phase 3C'
          %a{href:"https://docs.google.com/a/code.org/forms/d/10g9Qi022xIzJ86EhY89FD2EFqiXCsH_uZ2KgbJAAOUM/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 3D'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1dZdKQTLPsjoXEz5taXU2k9q4pe9XBvQcdGazeuL6QLY/viewform?c=0&w=1"}
            #{link_text}
        - when 'Phase 4'
          %a{href:"https://docs.google.com/a/code.org/forms/d/1aMKclWosHmvn5GH0KaVxBGvxh7KeLYQTtKiHf-lC0X0/viewform?c=0&w=1"}
            #{link_text}
  about your Code.org workshop experience.
