%p
  Dear #{@recipient.ops_first_name},
%p
  We’re looking forward to seeing you at your #{@workshop.phase_long_name} workshop on #{@workshop.segments.first.start.strftime("%A, %B %d")}! Together with your peers and facilitators, you’ll gain the support and resources you need to make a difference at your school.
%p
  As part of your commitment to this program, you are expected to participate in this workshop. If you have any conflicts with these dates, please email
  = mail_to 'pd@code.org'
  If you have questions, check out our
  %a{href:'https:' + CDO.code_org_url("/educate/pd/15-16/faq")}
    FAQ
  or send us an email.
= render partial: 'prerequisite_information', locals: {workshop: @workshop, image_url:"#{CDO.studio_url(image_url('finished_pd_script.jpg'), 'https:')}"}

%h2
  Workshops Details
%p
  See below or visit code.org/pd for your in-person workshop details and bookmark for future use!
%h3
  Date and Time
- @workshop.segments.each do |segment|
  %p
    #{segment.start.strftime("%A, %B %d, %Y")}
    %br
    #{segment.start.strftime("%I:%M %P")} - #{segment.end.strftime("%I:%M %P")}
%h3
  Location
%p
  #{@workshop[:location]}
%h3
  Catering
%p
  Breakfast and lunch will be served. We will offer vegetarian options, but please plan to bring your own meal or eat responsibly if you have any other dietary restrictions or food allergies.
%h3
  What to bring
- if @workshop.phase == 2
  - if @workshop.program_type.to_i == 3
    %p
      Laptop (optional), water bottle, and snacks
  - else
    %p
      Laptop and charger, water bottle, and snacks
- elsif @workshop.phase && (@workshop.phase >= 4 && @workshop.phase <= 8)
  - if @workshop.program_type.to_i == 3
    %p
      Curriculum guide, green journal, laptop and charger, water bottle, and snacks
  - else
    %p
      Curriculum guide, laptop and charger, water bottle, and snacks

- if @workshop.instructions.to_s != ''
  %h3 Notes
  %p= @workshop.instructions
%p
  See you soon,
  %br
    The Code.org PD team
