---
title: Code.org celebrates 10 years!
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/tenth-anniversary-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_arrows = "fa-solid fa-arrows-left-right"

%section.hero-banner-basic
  .wrapper
    .flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h1=hoc_s(:tenth_anniversary_top_heading)
        %p.body-one=hoc_s(:tenth_anniversary_top_desc)
      %figure
        %img{src: "/images/cdo-10years-logo.svg", alt: ""}

%section.tenth-anniversary-timeline
  .wrapper
    %h2=hoc_s(:tenth_anniversary_timeline_heading)
    %figure
      %img{src: "/images/10-Years-of-CodeDotOrg-horizontal.png", alt: ""}
    %p.figcaption
      %i{class: "#{icon_arrows}"}
      =hoc_s(:tenth_anniversary_timeline_scroll)

%section.bg-neutral-light.tenth-anniversary-celebrate
  .wrapper
    %h2=hoc_s(:tenth_anniversary_celebrate_heading)
    %div.grid-container
      %figure
        %img{src: "/images/fullteam-2023.gif", alt: "", style: "width: 100%"}
      = view :tenth_anniversary_tweets

%section
  .wrapper
    %h2=hoc_s(:tenth_anniversary_began_video_heading)
    %div.flex-container.justify-space-between.wrap
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/nKIu9yen5nc", allowFullScreen: "true", frameborder: "0", title: hoc_s(:tenth_anniversary_began_video_title)}

= view :section_divider_line

%section.tenth-anniversary-testimonials
  .wrapper
    %h2=hoc_s(:tenth_anniversary_testimonials_heading)
    .quotes-wrapper
      = view :tenth_anniversary_testimonials_carousel
    %hr
    = view :tenth_anniversary_tweets_testimonials

