---
title: Computer science in your school or district
theme: responsive
video_player: true
---
<link href='/shared/css/course-explorer.css', rel='stylesheet'></link>
<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>
<script src="https://cdn.optimizely.com/js/12977480133.js"></script>

<h1>Bring computer science to your school or district with Code.org</h1>

<div class="col-40" style="padding-right: 20px">

<%= view :display_video_thumbnail, id: 'cs_district', video_code: 'POiMh0qISpI', play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-60">
<p>School and district administrators have a critical role in ensuring all students have access to computer science. At Code.org, we’ve worked with <a href="https://code.org/educate/district/partners">more than 180 districts</a> to expand access to CS for students. We’ve partnered with some of the largest districts in the country, like Chicago and <a href="https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4">Broward County, Florida</a>. We’ve also worked with small or rural districts, like <a href="https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy">Eufala City Schools</a> in Alabama.</p>
<p>We understand the challenges administrators face are often unique to each district or school, which is why we’ve partnered with more than 60 universities, nonprofits, and other organizations around the US to help districts and schools implement CS courses in a way that makes sense for them. Your <a href="#getstarted">local Regional Partner</a> can help guide your school or district on implementation, certification, funding, and more.</p>
</div>

<div style="clear:both"></div>

<br>

<div class="col-100" style="text-align:center">
  <a href="#whycs">Why computer science</a> | <a href="#whycode">What Code.org offers</a> | <a href="#getstarted">How to get started</a>
</div>


<a id="whycs"></a>
<h2>Why computer science?</h2>

<img src="/images/administrators/research.png" style="float:right; width:45%; margin-left:25px">

<h3>Computer sciences makes students better thinkers and problem solvers</h3>
<p>Students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college, <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">according to recent research</a>.</p>

<h3>Computer science better prepares students for all careers</h3>
<p>Studying computer science “prepares students for careers in government, law, the corporate sector, and graduate study,” <a href="https://exploredegrees.stanford.edu/schoolofengineering/computerscience/">according to Stanford University</a>. Computing occupations are now the <a href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/">fastest-growing</a> segment of all professions, spanning all industries. Even in non-computing professions such as marketing or design, digital skills are in <a href="https://blogs.oracle.com/certification/five-job-categories-increasingly-requiring-computer-science-skills">hot demand</a>, as the majority of all U.S. occupations now involve <a href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/">“moderately digital” skills</a>.</p>

<h3>Parents want it, and students love it</h3>
<p>More than 90% of parents want schools to teach computer science, <a href="https://csedu.gallup.com/home.aspx">according to a recent Gallup study</a>, and students rank CS as their third favorite subject behind the arts, according to a study by Change the Equation and C+R Research, with <a href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352">analysis completed by Code.org</a>.</p>

<p>For more data on the state of CS education, view our <a href="/promote">Stats page</a>. See all the research <a href="/alt-about/research">here</a>.</p>

<br>

<a id="whycode"></a>
<h2>What Code.org offers</h2>
<h3>It’s a complete, proven program</h3>
Code.org provides a complete CS program combining open source K-12 curriculum with professional learning, which has gotten high ratings from more than 100,000 participating teachers.

Read more about our <a href="/educate/curriculum/values">curriculum values</a>, and take a look below at what we offer for each grade.

<%= view :course_explorer_table, responsive: true %>

<a href="https://studio.code.org/courses?view=teacher"><button>View all Code.org programs</button></a>

<h3>There’s no need to hire</h3>
<p>There is no need to hire specialists to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs.</p>

<div class="col-60">
<h3>Our partners offer local knowledge and support</h3>
<p>Work with a local Code.org partner organization that understands your needs and community to bring CS to your school.</p>
<p>Your local Code.org Regional Partner can help guide your school or district on implementation, certification, funding, and more, and provides high quality Code.org professional learning to teachers.</p>

<a href="#getstarted"><button>Contact my Regional Partner</button></a>
</div>

<div class="col-40" style="padding-left: 20px">
  <a href="https://code.org/educate/regional-partner"><img src="/images/administrators/rp-map.png" style="width: 85%; margin-top: 25px"></a>
  <figcaption style="text-align:left"><a href="https://code.org/educate/regional-partner">View interactive map of Regional Partners</a></figcaption>
</div>

<div style="clear:both"></div>

<h3>Our program is effective in diverse districts</h3>
<p>The Code.org program has been proven effective in major urban school districts such as L.A. and Dallas and in small rural districts in Iowa. It is the leading K-12 CS curriculum in the U.S. Take a look at a map of all the districts using Code.org, or read the case studies below to get a sense of how different districts bring CS to their students.</p>

<%= view :three_circles, circles: [
{img: '/images/fit-150/pair_students.jpg', text: 'Over 50k students in 3 years', subtext: 'Read Broward County\'s case study on how it increased computer science participation across the district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4', link_text: 'Learn more'},
{img: '/images/fit-150/sotm34.jpg', text: '51% female students in intro course', subtext: 'See how graduation requirements affected diversity in Charles County\'s introductory computer science course.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.8xs8zt2iloy0', link_text: 'Learn more'},
{img: '/images/fit-150/pd1.jpg', text: 'Professional learning for all', subtext: 'Read how Eufala City Schools, AL increased access to computer science to all students in their rural district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy', link_text: 'Learn more'}] %>

<br>

<a id="getstarted"></a>
<h2>How do I get started?</h2>
<p>The process for bringing computer science to your school or district will vary, but there are a few basic steps we recommend building into your implementation plan. Click each point below to expand into more detail.</p>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Determine certification requirements and see what funding is available in your state</strong></summary>
  <p>
  <br>
Participants explore the curriculum and learning tools, discuss classroom management and teaching strategies, and build a community of teachers. With a focus on a customized experience, participants will develop skills while working in small groups to deepen their understanding of the materials.
</p>
<br>
</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Explore curriculum and course options</strong></summary>
  <p>
  <br>
Participants will engage with the curriculum both as instructors and as learners. By experiencing the course content as an active learner, participants will gain important, concrete insight into the perspective their students will have during the academic year. By interacting with curriculum content as instructors, participants will learn how to plan and deliver lessons.
</p>
<br>
</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Allocate funding</strong></summary>
  <p>
  <br>
​Teachers and facilitators will have the opportunity to share their expertise from the field and collaborate on strategies to bring to the CS Principles and CS Discoveries classrooms, giving participants a chance to learn from everyone in the room. Facilitators model pedagogical strategies and participants share their own approaches by planning and delivering lessons.
​</p>
<br>
​</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Prepare teachers with professional learning</strong></summary>
  <p>
  <br>
​Our professional learning and curriculum flow seamlessly together, empowering teachers to deliver the course with confidence. Immersive workshops combine with online tools to provide participants with a broad selection of resources to help them plan ahead for implementing the course in their classrooms, while also collaborating with other educators.
</p>
<br>
</details>

<details style="margin-left: 20px; margin-bottom: 10px">
  <summary><strong>Spread the word to students and parents</strong></summary>
  <p>
  <br>
​Our professional learning and curriculum flow seamlessly together, empowering teachers to deliver the course with confidence. Immersive workshops combine with online tools to provide participants with a broad selection of resources to help them plan ahead for implementing the course in their classrooms, while also collaborating with other educators.
</p>
<br>
</details>

<br>

<p>You can learn more about these steps on our <a href="https://code.org/roadmap">Roadmap for Administrators</a>. And your local Code.org Regional Partner can help you plan for each of these steps! Fill out the short form below to contact your local Regional Partner.</p>

<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high", notes: "Please tell me more about the professional learning program for grades 6-12!" %>

<!--
<h3>Computer sciences makes students better thinkers and problem solvers</h3>
<a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college!

See all the research <a href="/alt-about/research">here</a>.

<h3>Computer science better prepares students for all careers</h3>
Studying computer science “prepares students for careers in government, law, the corporate sector, and graduate study,” <a href="https://exploredegrees.stanford.edu/schoolofengineering/computerscience/">according to Stanford University</a>. And indeed, the benefits of learning CS extend to many different careers. CS graduates are among the highest paid university graduates, earning <a href="http://www.hamiltonproject.org/charts/career_earnings_by_college_major/">40% more</a> than average university graduates. Computing occupations are now the <a href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/">fastest-growing</a> and <a href="http://codeorg.tumblr.com/post/144206906013/computing-occupations-are-now-the-1-source-of-new">largest</a> segment of all professions, spanning all industries. Even in non-computing professions such as <a href="https://blogs.oracle.com/certification/five-job-categories-increasingly-requiring-computer-science-skills">marketing or design</a>, digital skills are in <a href="http://ecs.force.com/studies/rstempg?id=a0r0g000009TLfB">hot demand</a>, as the majority of all U.S. occupations now involve <a href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/">“moderately digital” skills</a>.

<h3>Parents want it, and students love it</h3>
More than 90% of parents want schools to teach computer science, <a href="https://csedu.gallup.com/home.aspx">according to a recent Gallup study</a>, and students rank CS as their third favorite subject behind the arts, according to a study by Change the Equation and C+R Research, with <a href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352">analysis completed by Code.org</a>.

For more data on the state of CS education, view our <a href="/promote">Stats page</a>.

<a id="whycode"></a>
<h2>What Code.org offers</h2>
<h3>It’s a complete, proven program</h3>
Code.org provides a complete CS program combining open source K-12 curriculum with professional learning, which has gotten high ratings from more than 100,000 participating teachers.

Read more about our <a href="/educate/curriculum/values">curriculum values</a>, and take a look below at what we offer for each grade.

<%= view :course_explorer_table, responsive: true %>

[<button>View all Code.org programs</button>](https://studio.code.org/courses?view=teacher)


<hr>

<%= view :three_circles, circles: [
{img: '/images/fit-150/pair_students.jpg', text: 'Over 50k students in 3 years', subtext: 'Read Broward County\'s case study on how it increased computer science participation across the district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4', link_text: 'Learn more'},
{img: '/images/fit-150/sotm34.jpg', text: '51% female students in intro course', subtext: 'See how graduation requirements affected diversity in Charles County\'s introductory computer science course.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.8xs8zt2iloy0', link_text: 'Learn more'},
{img: '/images/fit-150/pd1.jpg', text: 'Professional learning for all', subtext: 'Read how Eufala City Schools, AL increased access to computer science to all students in their rural district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy', link_text: 'Learn more'}] %>

<hr>

<div style="clear:both"></div>

## Curriculum Options

### Code.org Programs
The Code.org curriculum is the most popular in K-12 computer science, with courses for every grade band. All the curriculum is offered at no cost to your school.

<%= view :course_explorer_table, responsive: true %>

[<button>View all Code.org programs</button>](https://studio.code.org/courses?view=teacher)

<br>
### AP Computer Science A Resources
There are two AP computer science offerings, and students can take either course in any order. If your school does not yet offer AP Computer Science, we recommend starting with the new AP Computer Science Principles course. This course aims to broaden participation in computer science by introducing students to the foundational concepts and challenging them to explore how computing and technology can impact the world.

The AP Computer Sience A course and exam complement AP Computer Science Principles with a focus on computing skills related to programming in Java.

While Code.org does not have an AP Computer Science A curriculum, we have recommendations for a number of great curricula and programs available to teachers and students.

[<button>Learn more about AP CS A</button>](/educate/curriculum/apcsa)

<br>
### Third-party Programs
In addition to the Code.org curriculum, we’ve curated a list of recommended third party curriculum offerings with professional development programs.

[<button>View all third-party programs</button>](/educate/curriculum/3rd-party)

## Help us track the momentum
Every day more schools and districts are pledging to bring computer science education to their students. Help us track progress of the movement by telling us about computer science education in your school or district.

[<button>Put your school on the map</button>](/yourschool)

<br>
<br>
-->