---
title: Code.org District Partner Program
theme: responsive_full_width
---

%link{href: 'shared/css/phase1-design-system.css', rel: 'stylesheet'}
%link{href: 'shared/css/phase1-design-system-supplement.css', rel: 'stylesheet'}

-# Import FontAwesome Pro
%script{src: "https://kit.fontawesome.com/ea2d9d4413.js", crossorigin: "anonymous"}

-# FontAwesome icons
- icon_rocket = "fa-regular fa-rocket"
- icon_futbol = "fa-regular fa-futbol"
- icon_paint = "fa-regular fa-paintbrush-pencil"

%section
  .wrapper
    %h1 Code.org District Partner Program
    %h2 Bring computer science to your district.
    %p Learn how you can partner with Code.org to teach your students about the careers of the future.

%section.bg-neutral
  .wrapper
    %h2 Code.org District Partner Program
    %p As AI and emerging technologies transform nearly every aspect of our lives, Code.org is leading a movement to ensure that K-12 students are equipped to adapt to the realities of a rapidly evolving knowledge economy. For more than a decade, Code.org has partnered with educators to advocate for not just policy change, but the resources necessary to expand access to high quality computer science curriculum and professional learning experiences.
    %p District leaders around the country can now partner with Code.org directly, at no cost to:
    %ul
      %li Prepare students to thrive in a rapidly evolving world of work
      %li Boost access to engaging STEM courses and pathways
      %li Invest in teachers through high-quality professional learning experiences
      %li Tap into the energy, aspirations, and potential of all students to close equity gaps in computer science education and career pathways
      %li Align with the education-to-workforce priorities of employers and policymakers
    %a{href: '#email-signup-form', class: 'link-button'} Become a Code.org District Partner

%section
  .wrapper
    %h2 Benefits of Code.org District Partnership
    %ul.icon-bullet-list
      %li
        %i{class: "#{icon_rocket}"}
        .text-wrapper
          %h5 Turnkey K-12 computer science curriculum
          %p Get a complete, free open source K-12 program to introduce computer science at any grade. Read more about our curriculum values.
      %li
        %i{class: "#{icon_rocket}"}
        .text-wrapper
          %h5 Turnkey K-12 computer science curriculum
          %p Get a complete, free open source K-12 program to introduce computer science at any grade. Read more about our curriculum values.
      %li
        %i{class: "#{icon_rocket}"}
        .text-wrapper
          %h5 Turnkey K-12 computer science curriculum
          %p Get a complete, free open source K-12 program to introduce computer science at any grade. Read more about our curriculum values.
      %li
        %i{class: "#{icon_rocket}"}
        .text-wrapper
          %h5 Turnkey K-12 computer science curriculum
          %p Get a complete, free open source K-12 program to introduce computer science at any grade. Read more about our curriculum values.
    %a{href: '#email-signup-form', class: 'link-button'} Become a Code.org District Partner

%section
  .wrapper
    %h2 What Districts are Saying
    QUOTE HERE

%section.bg-neutral
  .wrapper
    %h2 How does the District Partner Program work?
    %ul
      %li
        %span 1
        %h5 Apply
        %p Fill out an application with information about you, your school and the course you’re teaching
      %li
        %span 2
        %h5 Application Review
        %p In some regions you will need to get approval from a school administrator in order to get accepted into the program
      %li
        %span 3
        %h5 Acceptance
        %p If accepted, you will be notified of your acceptance by your Regional Partner 2-4 weeks after applying
      %li
        %span 4
        %h5 Enroll
        %p Sign up for the summer workshop in your region and get ready to start the yearlong program!

%a{id: 'email-signup-form'}
%section
  .wrapper
    %h2 Want more information about becoming a district partner?
    %p If you are interested in becoming a district partner or have questions about the partnership, fill out the form below and a member of the Code.org team will be in touch to answer any questions you have about becoming a district partner.
    = view :admins_email_signup_form

%section
  .wrapper
    %h2 Frequently Asked Questions
    %details
      %summary Why should my district teach computer science?
      %p Computer science is foundational for all students. More than <a href="https://csedu.gallup.com/home.aspx" target="_blank" rel="noopener noreferrer">90% of parents</a> want schools to teach computer science and students rank CS as their <a href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352" target="_blank" rel="noopener noreferrer">third favorite subject behind the arts</a>. Computing occupations are now the <a href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/" target="_blank" rel="noopener noreferrer">fastest-growing</a> segment of all professions and the majority of all U.S. occupations now involve <a href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/" target="_blank" rel="noopener noreferrer">"moderately digital" skills</a>. Students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college, <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536" target="_blank" rel="noopener noreferrer">according to recent research</a>.
      %p Learn more at <a href="/stats">code.org/stats</a>.
    %details
      %summary
      %p
    %details
      %summary
      %p
    %details
      %summary
      %p
    %details
      %summary
      %p
    %details
      %summary
      %p
    %details
      %summary
      %p
    %details
      %summary
      %p
    %details
      %summary
      %p

%section
  .wrapper
    %h2 Additional Resources
