---
title: Computer science in your school or district
theme: responsive
video_player: true
---
<link href='/shared/css/course-explorer.css', rel='stylesheet'></link>
<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>
<script src="https://cdn.optimizely.com/js/12977480133.js"></script>

<h1>Bring computer science to your school or district with Code.org</h1>

<div class="col-40" style="padding-right: 20px">

<%= view :display_video_thumbnail, id: 'cs_district', video_code: 'POiMh0qISpI', play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-60">
<p>School and district administrators have a critical role in ensuring all students have access to computer science. At Code.org, we’ve worked with <a href="https://code.org/educate/district/partners">more than 180 districts</a> to expand access to CS for students. We’ve partnered with some of the largest districts in the country, like Los Angeles, Chicago, and <a href="https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4">Broward County</a>. We’ve also worked with small or rural districts, like <a href="https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy">Eufala City Schools</a>, in rural Alabama.</p>
<p>We understand the challenges administrators face are often unique to each district or school, which is why we’ve partnered with more than 60 universities, nonprofits, and other organizations around the US to help districts and schools implement CS courses in a way that makes sense for them. Your <a href="#rp">local Regional Partner</a> can help guide your school or district on implementation, certification, funding, and more.</p>
</div>

<div style="clear:both"></div>

<br>

<div class="col-100" style="text-align:center">
  <a href="#whycs">Why computer science</a> | <a href="#whycode">What Code.org offers</a> | <a href="#getstarted">How to get started</a>
</div>

<br>

<a id="whycs"></a>
<h2>Why computer science</h2>
<h3>Computer sciences makes students better thinkers and problem solvers</h3>
<a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college!

See all the research <a href="/alt-about/research">here</a>.

<h3>Computer science better prepares students for all careers</h3>
Studying computer science “prepares students for careers in government, law, the corporate sector, and graduate study,” <a href="https://exploredegrees.stanford.edu/schoolofengineering/computerscience/">according to Stanford University</a>. And indeed, the benefits of learning CS extend to many different careers. CS graduates are among the highest paid university graduates, earning <a href="http://www.hamiltonproject.org/charts/career_earnings_by_college_major/">40% more</a> than average university graduates. Computing occupations are now the <a href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/">fastest-growing</a> and <a href="http://codeorg.tumblr.com/post/144206906013/computing-occupations-are-now-the-1-source-of-new">largest</a> segment of all professions, spanning all industries. Even in non-computing professions such as <a href="https://blogs.oracle.com/certification/five-job-categories-increasingly-requiring-computer-science-skills">marketing or design</a>, digital skills are in <a href="http://ecs.force.com/studies/rstempg?id=a0r0g000009TLfB">hot demand</a>, as the majority of all U.S. occupations now involve <a href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/">“moderately digital” skills</a>.

<h3>Parents want it, and students love it</h3>
More than 90% of parents want schools to teach computer science, <a href="https://csedu.gallup.com/home.aspx">according to a recent Gallup study</a>, and students rank CS as their third favorite subject behind the arts, according to a study by Change the Equation and C+R Research, with <a href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352">analysis completed by Code.org</a>.

For more data on the state of CS education, view our <a href="/promote">Stats page</a>.

<br>

<a id="whycode"></a>
<h2>What Code.org offers</h2>
<h3>It’s a complete, proven program</h3>
Code.org provides a complete CS program combining open source K-12 curriculum with professional learning, which has gotten high ratings from more than 100,000 participating teachers.

Read more about our <a href="/educate/curriculum/values">curriculum values</a>, and take a look below at what we offer for each grade.

<%= view :course_explorer_table, responsive: true %>

<a href="https://studio.code.org/courses?view=teacher"><button>View all Code.org programs</button></a>

<h3>There’s no need to hire</h3>
<p>There is no need to hire specialists to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs.</p>

<h3>Local knowledge and support</h3>
<p>Work with a local Code.org partner organization that understands your needs and community to bring CS to your school.</p>
<p>Your local Code.org Regional Partner can help guide your school or district on implementation, certification, funding, and more, and provides high quality Code.org professional learning to teachers.</p>

<a href="#getstarted"><button>Contact my Regional Partner</button></a>

<h3>Effective in Diverse Districts</h3>
<p>The Code.org program has been proven effective in major urban school districts such as L.A. and Dallas and in small rural districts in Iowa. It is the leading K-12 CS curriculum in the U.S. Take a look at a map of all the districts using Code.org, or read the case studies below to get a sense of how different districts bring CS to their students.</p>

<%= view :three_circles, circles: [
{img: '/images/fit-150/pair_students.jpg', text: 'Over 50k students in 3 years', subtext: 'Read Broward County\'s case study on how it increased computer science participation across the district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4', link_text: 'Learn more'},
{img: '/images/fit-150/sotm34.jpg', text: '51% female students in intro course', subtext: 'See how graduation requirements affected diversity in Charles County\'s introductory computer science course.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.8xs8zt2iloy0', link_text: 'Learn more'},
{img: '/images/fit-150/pd1.jpg', text: 'Professional learning for all', subtext: 'Read how Eufala City Schools, AL increased access to computer science to all students in their rural district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy', link_text: 'Learn more'}] %>

<br>

<a id="getstarted"></a>
<h2>How do I get started?</h2>






<!--
<h3>Computer sciences makes students better thinkers and problem solvers</h3>
<a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college!

See all the research <a href="/alt-about/research">here</a>.

<h3>Computer science better prepares students for all careers</h3>
Studying computer science “prepares students for careers in government, law, the corporate sector, and graduate study,” <a href="https://exploredegrees.stanford.edu/schoolofengineering/computerscience/">according to Stanford University</a>. And indeed, the benefits of learning CS extend to many different careers. CS graduates are among the highest paid university graduates, earning <a href="http://www.hamiltonproject.org/charts/career_earnings_by_college_major/">40% more</a> than average university graduates. Computing occupations are now the <a href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/">fastest-growing</a> and <a href="http://codeorg.tumblr.com/post/144206906013/computing-occupations-are-now-the-1-source-of-new">largest</a> segment of all professions, spanning all industries. Even in non-computing professions such as <a href="https://blogs.oracle.com/certification/five-job-categories-increasingly-requiring-computer-science-skills">marketing or design</a>, digital skills are in <a href="http://ecs.force.com/studies/rstempg?id=a0r0g000009TLfB">hot demand</a>, as the majority of all U.S. occupations now involve <a href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/">“moderately digital” skills</a>.

<h3>Parents want it, and students love it</h3>
More than 90% of parents want schools to teach computer science, <a href="https://csedu.gallup.com/home.aspx">according to a recent Gallup study</a>, and students rank CS as their third favorite subject behind the arts, according to a study by Change the Equation and C+R Research, with <a href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352">analysis completed by Code.org</a>.

For more data on the state of CS education, view our <a href="/promote">Stats page</a>.

<a id="whycode"></a>
<h2>What Code.org offers</h2>
<h3>It’s a complete, proven program</h3>
Code.org provides a complete CS program combining open source K-12 curriculum with professional learning, which has gotten high ratings from more than 100,000 participating teachers.

Read more about our <a href="/educate/curriculum/values">curriculum values</a>, and take a look below at what we offer for each grade.

<%= view :course_explorer_table, responsive: true %>

[<button>View all Code.org programs</button>](https://studio.code.org/courses?view=teacher)


<hr>

<%= view :three_circles, circles: [
{img: '/images/fit-150/pair_students.jpg', text: 'Over 50k students in 3 years', subtext: 'Read Broward County\'s case study on how it increased computer science participation across the district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4', link_text: 'Learn more'},
{img: '/images/fit-150/sotm34.jpg', text: '51% female students in intro course', subtext: 'See how graduation requirements affected diversity in Charles County\'s introductory computer science course.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.8xs8zt2iloy0', link_text: 'Learn more'},
{img: '/images/fit-150/pd1.jpg', text: 'Professional learning for all', subtext: 'Read how Eufala City Schools, AL increased access to computer science to all students in their rural district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy', link_text: 'Learn more'}] %>

<hr>

<div style="clear:both"></div>

## Curriculum Options

### Code.org Programs
The Code.org curriculum is the most popular in K-12 computer science, with courses for every grade band. All the curriculum is offered at no cost to your school.

<%= view :course_explorer_table, responsive: true %>

[<button>View all Code.org programs</button>](https://studio.code.org/courses?view=teacher)

<br>
### AP Computer Science A Resources
There are two AP computer science offerings, and students can take either course in any order. If your school does not yet offer AP Computer Science, we recommend starting with the new AP Computer Science Principles course. This course aims to broaden participation in computer science by introducing students to the foundational concepts and challenging them to explore how computing and technology can impact the world.

The AP Computer Sience A course and exam complement AP Computer Science Principles with a focus on computing skills related to programming in Java.

While Code.org does not have an AP Computer Science A curriculum, we have recommendations for a number of great curricula and programs available to teachers and students.

[<button>Learn more about AP CS A</button>](/educate/curriculum/apcsa)

<br>
### Third-party Programs
In addition to the Code.org curriculum, we’ve curated a list of recommended third party curriculum offerings with professional development programs.

[<button>View all third-party programs</button>](/educate/curriculum/3rd-party)

## Help us track the momentum
Every day more schools and districts are pledging to bring computer science education to their students. Help us track progress of the movement by telling us about computer science education in your school or district.

[<button>Put your school on the map</button>](/yourschool)

<br>
<br>
-->