---
title: Computer science in your school or district
theme: responsive
video_player: true
---
<link href='/shared/css/course-explorer.css', rel='stylesheet'></link>
<script src="<%= minifiable_asset_path('js/code.org/public/administrators.js') %>"></script>
<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>
<script src="https://cdn.optimizely.com/js/12977480133.js"></script>

# Administrators: Computer science in your school or district

<div class="col-40" style="padding-right: 20px">

<%= view :display_video_thumbnail, id: 'cs_district', video_code: 'POiMh0qISpI', play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-60" style="background-color: #00adbc; color: white; padding: 20px; max-width: 95%; height: 207px; font-size: 14px;">

Code.org has partnered with more than <a href="/educate/district/partners" style="color: white; text-decoration: underline;">120 School districts</a> and 1 million teachers use our platform. Let Code.org's network of Regional Partners across the US help you bring Computer Science to your school or district. Or, use our international courses to start teaching anywhere in the world.

<br>
<br>

<div class="desktop-feature">
<center>
  <span style="font-size:40px; margin-right: 40px;">1M</span>
  <span style="font-size:40px; margin-right: 40px;">34M</span>
  <span style="font-size:40px; margin-right: 50px;">All 7</span>
  <br>
  <span style="font-size:24px; margin-right: 30px;">teachers</span>
  <span style="font-size:24px; margin-right: 30px;">students</span>
  <span style="font-size:24px">largest districts</span>
</center>
</div>

</div>

<div style="clear:both"></div>

## Get started with curriculum and professional learning

<%= view :course_wide_block, cta_link: CDO.studio_url('/pd/regional_partner_contact/new'), cta_text: 'Contact a Regional Partner', img: CDO.code_org_url('/shared/images/banners/small-teal-icons.png'), title: 'Grades K-12', description: "Code.org's professional development workshops support teachers with no background in computer science. We offer a high quality K-12 curriculum that can be used for a semester or full year. It includes daily lesson plans, detailed instructions, activity guides, assessments, and standards mappings, all free to use. In the U.S., Code.org's network of Regional Partners prepare teachers to successfully lead computer science classrooms." %>
<div style="clear:both"></div>

## Start Planning Now

<div class="col-20" style="padding: 30px 0 0 20px; margin-bottom: 20px;">

<img src="/images/fit-100/infographics/district_lead.png">

</div>

[col-80]

<h3 style="font-family: 'Gotham 5r', sans-serif">Identify a district lead for computer science</h3>

- Show that your district is serious about computer science by identifying or appointing a district lead.
- Often Math, Science or Career and Technology Education departments have staff who are already working on computer science education and programs.
- If there is enough momentum behind computer science in your district or if there is not already an owner you should consider adding a dedicated position.
- This person will lead the district's work on computer science and be your point of contact with Code.org’s Regional Partner.

[/col-80]

<div class="col-20" style="padding: 30px 0 0 20px; margin-bottom: 20px;">

<img src="/images/fit-100/infographics/district_pathway.png">

</div>

[col-80]

<h3 style="font-family: 'Gotham 5r', sans-serif">Identify a computer science course pathway for your existing teachers</h3>

- The [Code.org curriculum](https://studio.code.org/courses?view=teacher) is the most popular in K-12 computer science, with courses for every grade band. It's free of charge, and is also the highest-rated by teachers. Your students will love it!
- Teachers from other subject areas should attend a professional learning workshop before they begin teaching. For Code.org courses in grades K-12, [contact a regional partner](<%= CDO.studio_url('/pd/regional_partner_contact/new') %>).
- If you want to consider alternatives to the Code.org courses, see our recommendations of [3rd party computer science curriculum](/educate/curriculum/3rd-party), and particularly our recommendations for [AP Computer Science A](/educate/curriculum/apcsa).
- You can also supplement the Code.org curriculum by offering computer science integrated [into math](/educate/algebra) and [into science](/curriculum/science).
- Once you've decided on your course offerings, make sure to set up district-level course codes for your new computer science courses. Work with your principals to recruit teachers to attend workshops and to implement changes in master schedules.

[/col-80]

<div class="col-20" style="padding: 30px 0 0 20px; margin-bottom: 20px;">

<img src="/images/fit-100/infographics/district_cs_count.png">

</div>

[col-80]

<h3 style="font-family: 'Gotham 5r', sans-serif">Make computer science courses count</h3>

- How you credit computer science can dramatically impact [who enrolls in computer science courses](http://blog.code.org/post/121123281798/md).
- 47 states plus D.C. allow computer science [to satisfy graduation requirements](/promote). When computer science counts for graduation, [enrollment and diversity goes up](https://medium.com/@codeorg/does-making-cs-count-make-a-difference-7ab5ca6b8407).
- If possible, we recommend allowing computer science courses to satisfy graduation requirements and exist as both an Academic and CTE course.

[/col-80]

<div style="clear:both"></div>

<div class="col-20" style="padding: 30px 0 0 20px; margin-bottom: 20px;">

<img src="/images/fit-100/infographics/district_requirements.png">

</div>

[col-80]

<h3 style="font-family: 'Gotham 5r', sans-serif">Understand teacher certification requirements</h3>

- Identify teachers who will lead CS classes in your district next year.
- Code.org's curriculum and professional development is designed for teachers from other subjects to become computer science teachers.  As you identify potential future computer science teachers in your district, it’s important to understand what, if any, requirements your state has in place for computer science teachers.
- 37 states plus D.C. have a certification or licensure for computer science; [find your state here](https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#).

[/col-80]

<div style="clear:both"></div>

<div class="col-20" style="padding: 30px 0 0 20px; margin-bottom: 20px;">

<img src="/images/fit-100/infographics/district_spread_word.png">

</div>

[col-80]

<h3 style="font-family: 'Gotham 5r', sans-serif">Spread the word</h3>

- Highlight the importance of all students learning CS! Use these [sample emails and announcements](/educate/resources/recruit#blurbs) to let your community know about your new computer science programs.
- Add [these recruitment videos](/educate/resources/recruit#videos) to websites and school updates.
- Provide guidance to school counselors and schedulers on why computer science is important for all students.
- Ask your principal to [email your community](/educate/resources/recruit#blurbs) and recruit administrators and parents to advocate for expanding computer science in your school district.

[/col-80]

<div style="clear:both"></div>

<div class="col-20" style="padding: 30px 0 0 20px; margin-bottom: 20px;">

<img src="/images/fit-100/infographics/district_allocate_funds.png">

</div>

[col-80]

<h3 style="font-family: 'Gotham 5r', sans-serif">Allocate funding</h3>

- Thanks to the generous support of our funders, all curricular resources from Code.org are free for anyone to use.  However, there are still costs to consider when starting a computer science program.  You should begin thinking about how you’ll support:
  - **Professional development costs** - Code.org's courses are designed to be taught by teachers new to computer science. This means you do not have to increase your full-time employee budget or hire additional teachers to support computer science.
  - **Computers and internet access** - In order to teach our 6-12 courses, students will need to be in a 1:1 computing environment every class period. For our K-5 courses, students can be on a computer, tablet, or do our unplugged activities which require no technology at all. If you don't have enough devices, we highly recommend [pair programming](https://www.youtube.com/watch?v=vgkahOzFH2Q). [Check here](/educate/it) to see if your school meets all the technical requirements for teaching Code.org.
  - **Classroom supplies** -  Code.org's courses include hands on excercises that use standard classroom materials.  We estimate these costs to be less than $100 per 30 students.
  - **Administrative support** - As your computer science program grows, there will need to be additional administrative support. We recommend dedicating at least 0.15 full-time employee to this initiative to start, and growing up to 1 full-time employee per 30 teachers offering computer science in the district.

[/col-80]

<div style="clear:both"></div>

<hr>

<%= view :three_circles, circles: [
{img: '/images/fit-150/pair_students.jpg', text: 'Over 50k students in 3 years', subtext: 'Read Broward County\'s case study on how it increased computer science participation across the district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.rf0l0zfkbqe4', link_text: 'Learn more'},
{img: '/images/fit-150/sotm34.jpg', text: '51% female students in intro course', subtext: 'See how graduation requirements affected diversity in Charles County\'s introductory computer science course.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.8xs8zt2iloy0', link_text: 'Learn more'},
{img: '/images/fit-150/pd1.jpg', text: 'Professional learning for all', subtext: 'Read how Eufala City Schools, AL increased access to computer science to all students in their rural district.', link: 'https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy', link_text: 'Learn more'}] %>

<hr>

<div style="clear:both"></div>

## Curriculum Options

### Code.org Programs
The Code.org curriculum is the most popular in K-12 computer science, with courses for every grade band. All the curriculum is offered at no cost to your school.

<%= view :course_explorer_table, responsive: true %>

[<button>View all Code.org programs</button>](https://studio.code.org/courses?view=teacher)

<br>
### AP Computer Science A Resources
There are two AP computer science offerings, and students can take either course in any order. If your school does not yet offer AP Computer Science, we recommend starting with the new AP Computer Science Principles course. This course aims to broaden participation in computer science by introducing students to the foundational concepts and challenging them to explore how computing and technology can impact the world.

The AP Computer Sience A course and exam complement AP Computer Science Principles with a focus on computing skills related to programming in Java.

While Code.org does not have an AP Computer Science A curriculum, we have recommendations for a number of great curricula and programs available to teachers and students.

[<button>Learn more about AP CS A</button>](/educate/curriculum/apcsa)

<br>
### Third-party Programs
In addition to the Code.org curriculum, we’ve curated a list of recommended third party curriculum offerings with professional development programs.

[<button>View all third-party programs</button>](/educate/curriculum/3rd-party)

## Help us track the momentum
Every day more schools and districts are pledging to bring computer science education to their students. Help us track progress of the movement by telling us about computer science education in your school or district.

[<button>Put your school on the map</button>](/yourschool)

<br>
<br>
