---
title: Administrators
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/admins-styles.css", rel: "stylesheet"}

%section.top
  .wrapper
    .text-wrapper.col-50
      %h1=hoc_s(:admins_page_top_heading)
      %p=hoc_s(:admins_page_top_subhead)
      %p.body-three
        =hoc_s(:admins_page_top_desc)
      %a.link-button{href: "/districts"}
        =hoc_s(:call_to_action_discover_district_program)
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      %img.rounded-corners.box-shadow-primary{src: "/images/admins-page-top.png", alt: "", style: "position: relative; width: 100%;"}
    .clear

-# Show Curriculum Launch banner if dcdo is true
= view :curriculum_launch_skinny_banner

-# Show Hour of Code 2024 banner if hoc_mode is set to "soon-hoc"
= view :hoc_skinny_banner

%section.why-teach-cs.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:teach_page_why_teach_cs_heading)
    = view :"administrators/admins_editorial_cards"

%section.bg-pattern-dark
  .wrapper.centered
    %h2.white
      =hoc_s(:admins_page_district_program_header)
    %p.white
      =hoc_s(:admins_page_district_program_desc)
    .button-wrapper.centered
      %a.link-button{href: "/districts"}
        =hoc_s(:call_to_action_discover_district_program)
      %a.link-button.secondary.white{href: "/educate/district/partners"}
        =hoc_s(:call_to_action_see_district_partners)
    %p.body-three.white.no-margin-bottom{style: "margin-top: 1rem"}
      =hoc_s(:admins_page_district_program_disclaimer, markdown: :inline, locals: {intl_url: "/professional-learning/international-partners"})

%section.driving-change.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:admins_page_driving_change_heading)
    %p.centered{style: "margin-bottom: 3rem"}
      =hoc_s(:admins_page_driving_change_desc)
    = view :"administrators/admins_stats"

%section.pathways.bg-neutral-dark
  .wrapper
    %h2.centered.white
      =hoc_s(:curriculum_pathway_heading)
    %p.centered.white{style: "margin-bottom: 3rem"}
      =hoc_s(:curriculum_pathway_desc)
    = view :curriculum_pathway
    %hr.light
    %div.centered
      %h3.white
        =hoc_s(:teach_page_free_curriculum_heading_02)
      .button-wrapper.centered
        %a.link-button{href: "/educate/curriculum/elementary-school"}
          =hoc_s(:grade_level_label_elementary)
        %a.link-button{href: "/educate/curriculum/middle-school"}
          =hoc_s(:grade_level_label_middle)
        %a.link-button{href: "/educate/curriculum/high-school"}
          =hoc_s(:grade_level_label_high)

%section.admins-pl
  .wrapper
    %h2=hoc_s(:admins_page_pl_heading)
    %p=hoc_s(:admins_page_pl_desc)
    %div.content-wrapper.flex-container.justify-space-between.wrap-reverse.gap-2
      = view :"administrators/admins_pl"
      %figure.rounded-corners.col-33
    .clear
    %a.link-button{href: "/educate/professional-learning"}
      =hoc_s(:call_to_action_learn_about_pl)

%section.resources.bg-neutral-light
  .wrapper
    = view :"tabs_section/resources/resources_tabs", resources_heading: hoc_s(:resources_tabs_heading_admins), resources_desc: hoc_s(:resources_tabs_desc_admins)

%section.bg-pattern-dark
  .wrapper
    = view :"administrators/admins_subscribe_form"

= view :"lms/lms_integrations_banner"

%section
  .wrapper
    %h2.centered
      =hoc_s(:heading_resources_schools_districts)
    %p.centered
      =hoc_s(:admins_page_resources_desc)
    = view :"administrators/admins_additional_resources"

= view :analytics_event_log_helper, event_name: AnalyticsConstants::ADMIN_PAGE_VISITED_EVENT
