---
title: "<%= I18n.t(:sports_page_title) %>"
theme: responsive
social:
  "og:title": "<%= I18n.t(:sports_og_title) %>"
  "og:description": "<%= I18n.t(:sports_og_description) %>"
  "og:image" : "<%= 'https://code.org/images/social-media/' + (PageMode.get(request) == 'feature-athletes' ? 'athletes-thumbnail.jpg' : 'sports.jpg') %>"
  "og:image:width": "<%= PageMode.get(request) == 'feature-athletes' ? '1920' : '1200' %>"
  "og:image:height": "<%= PageMode.get(request) == 'feature-athletes' ? '1080' : '630' %>"
  "og:video": "<%= 'http://youtube.com/v/' + (PageMode.get(request) == 'feature-athletes' ? 'athletevideocode' : 'QvyTEx1wyOY') %>"
  "og:video:secure_url": "<%= 'http://youtube.com/v/' + (PageMode.get(request) == 'feature-athletes' ? 'athletevideocode' : 'QvyTEx1wyOY') %>"
  "og:video:type": "video/mp4"
  "og:video:width": "640"
  "og:video:height": "360"
  "twitter:card": "player"
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/athletes"
  "twitter:title": "<%= I18n.t(:sports_og_title) %>"
  "twitter:description": "<%= I18n.t(:sports_og_description) %>"
  "twitter:image:src" : "<%= 'https://code.org/images/social-media/' + (PageMode.get(request) == 'feature-athletes' ? 'athletes-thumbnail.jpg' : 'sports.jpg') %>"
  "twitter:player": "<%= 'http://youtube.com/embed/' + (PageMode.get(request) == 'feature-athletes' ? 'athletevideocode' : 'QvyTEx1wyOY') %>"
  "twitter:player:width": "640"
  "twitter:player:height": "360"
video_player: true
---

- page_mode     = PageMode.get(request)
- yt_code       = page_mode == 'feature-athletes' ? 'athletesvideocode' : 'QvyTEx1wyOY'
- download_link = page_mode == 'feature-athletes' ? 'athletesdownloadlink' : '//videos.code.org/social/cs-is-everything.mp4'

%link{href: "/css/sports.css", rel: "stylesheet"}

%div{style: "clear:both"}

.tutorial-video-container
  %h2= I18n.t(:sports_video_title)
  - url = "https://www.youtube.com/watch?v=#{yt_code}"
  - facebook = {u: url}
  - twitter = {url: url, related: 'codeorg', text: "#{I18n.t(:sports_og_description)} @codeorg"}
  =view :display_video_thumbnail, id: 'athletes_video', video_code: yt_code, play_button: 'center', facebook: facebook, twitter: twitter, download_path: download_link, letterbox: 'false'
.tutorials-container
  %div.image-collection
    %h2= I18n.t(:sports_title)
    %a.white-link{href: "/api/hour/begin/basketball"}
      %div.choice
        %div.choice-container
          %div.choice-label.blue= I18n.t(:sports_basketball_title)
          %img.character-img{src: "/images/sports/basketball.png"}
    %a.white-link{href: "/api/hour/begin/sports"}
      %div.choice
        %div.choice-container
          %div.choice-label.blue= I18n.t(:sports_all_sports_title)
          %img.character-img{src: "/images/sports/all_sports.png"}

%div{style: "clear:both"}

%h2.header
  = I18n.t(:speak_another_language)
  %a{href: "/translate"}= I18n.t(:help_translate)

.inspire-videos{style: "clear: both;"}
  %h2.header= I18n.t(:watch_inspirational_videos)
  =view :inspirational_videos
