---
title: How Blockchain Works
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/blockchain-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.bg-neutral-dark
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1{style: "color: white"}=hoc_s(:blockchain_hero_heading)
      %p.body-one{style: "color: white"}=hoc_s(:blockchain_hero_desc)
    %figure
      %img{src: "/images/banners/blockchain-laptop-silver.png", alt: ""}
    .clear

%section
  .wrapper
    %h2=hoc_s(:blockchain_intro_heading)
    %p=hoc_s(:blockchain_intro_desc)
    %div.col-50{style: "margin-bottom: 1rem"}
      %p
        %strong=hoc_s(:blockchain_intro_list_heading)
      %ul
        %li=hoc_s(:blockchain_intro_list_item_01)
        %li=hoc_s(:blockchain_intro_list_item_02)
        %li=hoc_s(:blockchain_intro_list_item_03)
    %figure.col-45{style: "float:right; margin: 2rem auto;"}
      %img{src: "/images/blockchain-works-logo.png", alt: "", style: "width: 100%"}
    .clear
    .video-series
      = view :blockchain_vid_01_intro
      = view :blockchain_vid_02_why
      = view :blockchain_vid_03_hood
      = view :blockchain_vid_04_beyond
      = view :blockchain_vid_05_marketplace
      = view :blockchain_vid_06_scam
      = view :blockchain_vid_07_impact

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:blockchain_lessons_heading)
    %p=hoc_s(:blockchain_lessons_desc)
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline Grade Levels: 7-12
          %h3 Why Blockchain
          %img{src: "/images/blockchain-lesson-01.png", alt: ""}
          %p Students participate in a marketplace simulation to learn about the factors that motivated the creation of Blockchain technology.
        .content-footer
          %a{href: CDO.studio_url("/s/blockchain-2023/lessons/1") , class: "link-button", aria:{label: "See lesson details for the Why Blockchain lesson"}} See lesson details
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline Grade Levels: 9-12
          %h3 Under the Hood
          %img{src: "/images/blockchain-lesson-02.png", alt: ""}
          %p Students learn how transactions work on a blockchain network.
        .content-footer
          %a{href: CDO.studio_url("/s/blockchain-2023/lessons/2"), class: "link-button", aria:{label: "See lesson details for the Under the Hood lesson"}} See lesson details
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline Grade Levels: 7-12
          %h3 Beyond Currencies
          %img{src: "/images/blockchain-lesson-03.png", alt: ""}
          %p Students see how digital assets can be represented on the blockchain using an input, processing, storage, output model.
        .content-footer
          %a{href: CDO.studio_url("/s/blockchain-2023/lessons/3"), class: "link-button", aria:{label: "See lesson details for the Beyond Currencies lesson"}} See lesson details
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline Grade Levels: 9-12
          %h3 Marketplace &amp; Price
          %img{src: "/images/blockchain-lesson-04.png", alt: ""}
          %p Students participate in a simulation where they can buy and sell different cryptocurrencies and commodities, and see how their investments change based on world events.
        .content-footer
          %a{href: CDO.studio_url("/s/blockchain-2023/lessons/4"), class: "link-button", aria:{label: "See lesson details for the Marketplace and Price lesson"}} See lesson details
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline Grade Levels: 7-12
          %h3 Societal Impact
          %img{src: "/images/blockchain-lesson-05.png", alt: ""}
          %p Students explore current events related to blockchain and cryptocurrency and discuss the impacts of blockchain technology.
        .content-footer
          %a{href: CDO.studio_url("/s/blockchain-2023/lessons/5"), class: "link-button", aria:{label: "See lesson details for the Societal Impact lesson"}} See lesson details
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline Grade levels: 7-12
          %h3 Blockchain in a Day
          %img{src: "/images/blockchain-lesson-06.png", alt: ""}
          %p Students follow along with each video by matching vocabulary from the video, then answering a reflection question about each video.
        .content-footer
          %a{href: CDO.studio_url("/s/blockchain-2023/lessons/6"), class: "link-button", aria:{label: "See lesson details for the Blockchain in a Day lesson"}} See lesson details

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:heading_additional_resources)
    %p=hoc_s(:blockchain_resources_desc)
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:blockchain_resources_01_heading)
          %img{src: "/images/blockchain-coinbase-learn.png", alt: ""}
          %p=hoc_s(:blockchain_resources_01_desc)
        .content-footer
          %a{href: "https://www.coinbase.com/learn", class: "link-button", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:blockchain_resources_01_button_label)}}
            =hoc_s(:call_to_action_learn_more)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:blockchain_resources_02_heading)
          %img{src: "/images/blockchain-resource-image-generic.png", alt: ""}
          %p=hoc_s(:blockchain_resources_02_desc)
        .content-footer
          %a{href: "https://www.youtube.com/@WhiteboardCrypto/featured", class: "link-button", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:blockchain_resources_02_button_label)}}
            =hoc_s(:call_to_action_watch_now)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:blockchain_resources_03_heading)
          %img{src: "/images/blockchain-coinbase-hoc-activity.png", alt: ""}
          %p=hoc_s(:blockchain_resources_03_desc)
        .content-footer
          %a{href: "https://coinbase.github.io/memorygame/story.html", class: "link-button", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:blockchain_resources_03_button_label)}}
            =hoc_s(:call_to_action_try_activity)
