---
Title: Print Certificates
allow_post: true
theme: responsive
---

-# The correct param here is "script" but we want to support lingering usages of the
  legacy param course as well
-script = request.params['script'] || request.params['course'] || ScriptConstants::HOC_NAME
-script_name = script == "20-hour" ? "K-8 Intro to Computer Science Course" : "Hour of Code"
-small_certificate_image_url = "/images/fit-240/#{certificate_template_for(script)}"

%h1=I18n.t :print_batch_certificates
%div.clear
  %div{:style=>"float: left; margin: 0 40px 0 0;"}<
    %img{:src=>small_certificate_image_url}
  %div{:style=>"float: left; width: 360px; margin-top: 20px;"}<
    != I18n.t(:enter_certificate_names, script_name: script_name, markdown: true)
  %p{:style=>"float: left; width: 360px; margin-top: 20px;"}<
    = I18n.t :want_a_blank_certificate_template
    -# We need a space after want_a_blank_certificate_template as these sentences are translated separately
    -# but appear on the same line.
    != " "
    %a{href: "/images/#{certificate_template_for(script)}", target: '_blank'}=I18n.t :print_one_here_certificates
%br
%form{:method=>"post", :action=>'/printcertificates'}
  -if script
    %input{:type=>"hidden", :name=>'script', :value=>script}
  %textarea{:name=>'names', :rows=>"10", :cols=>"40", :id=>"uitest-cert-names"}
    -if request.params['names']
      - request.params['names'].each do |name|
        =CGI::unescape(name)
        !="&#x000A;"
  %br
  %br
  != I18n.t(:landscape_recommended_certificates, markdown: true)
  %button{:type=>"submit"}=I18n.t :print_certificates

#print_option.col-50
  %h2{:style=>'margin-top:20px; margin-bottom:10px'}
    = I18n.t :print_ice_art_from_frozen
  = view :frozen_print_gallery
