---
title: Congratulations
theme: responsive
social:
  "twitter:card": player
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/"
  "twitter:title": "The Hour of Code is coming"
  "twitter:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries and over 30 languages. Ages 4 to 104."
  "twitter:image:src": "http://csedweek.org/images/hour-of-code-2014-video-thumbnail.jpg"
  "twitter:player": "https://www.youtubeeducation.com/embed/rH7AjDMz_dc?iv_load_policy=3&rel=0&autohide=1&showinfo=0"
  "twitter:player:width": 1920
  "twitter:player:height": 1080
max_age: 60
---
-cert_id = params[:i]

-if cert_id
  -share_url = "http://#{request.host_with_port}/certificates/#{cert_id}"
-else
  -share_url = "http://#{request.host_with_port}/certificates/blank"

-facebook = {:u=>share_url}
-twitter = {:url=>share_url, :related=>'codeorg', :hashtags=>'', :text=>I18n.t(:just_did_hoc)}
-twitter[:hashtags] = 'HourOfCode' unless I18n.t(:just_did_hoc).include? '#HourOfCode'

-company_param = params[:co]
-form = DB[:forms].where(kind:'CompanyProfile', name:company_param).first if company_param
-@company = company = JSON.parse(form[:data]) if form
-if company
  %link{rel: "stylesheet", type: "text/css", href: "/css/ee.css"}/

#congrats.mobile-pad{:style=>'margin: 0 auto;'}

  -if company
    -name_in_header_b = company['name_in_header_b'] || nil
    -header_name = name_in_header_b ? company['display_name_s'] : nil
    #company_header= view :employee_engagement_header, company_name:header_name, logo_path:company['logo_path_s']

    %h1.ee_congrats_header=I18n.t :congratulations_on_completing_hoc

    #additional_actions.ee_markdown
      -if company['additional_actions_copy_t']
        =TextRender.safe_markdown company['additional_actions_copy_t']
      -else
        =view :company_profile_additional_actions
  -else
    %h1=I18n.t :congratulations_on_completing_hoc

  #toprow
    #hoc-certificate-small.col-50{:style=>"padding:20px; padding-top: 0; box-sizing: border-box"}
      %a{:href=>"/printcertificate", :target=>'_blank'}
        %img{:src=>"/images/fit-540/hour_of_code_certificate.jpg", :width=>"100%"}

    #certificate.col-50
      = view :congrats_certificate
      = view :congrats_share, cert_id:cert_id, facebook:facebook, twitter:twitter

  %div{:style=>'clear: both; height:30px'}

  = view :congrats_continue

  %div{:style=>'clear: both; height:30px'}

  = view :congrats_leaderboards

  %br
  = view :petition

= view 'popup_window.js'

:javascript

  var cookieValue;

  function getURLParameter(name) {
    return decodeURI(
      (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
  }

  function processResponse(data)
  {
    //console.log("Processing response: ", data);

    if (!data.started)
    {
      //console.log("Response indicates not started.")
      //window.location = "/learn";
    }

    certificate_processResponse(data);
    voting_processResponse(data);
  }

  $(document).ready(function()
  {
    $('#share-fb a').bind('click', function() {
      $("#share-fb").hide(); $("#like-fb").css('display', 'inline-block');
    });
    $('#share-twitter a').bind('click', function() {
      $("#share-twitter").hide(); $("#follow-twitter").css('display', 'inline-block');
    });

    // placeholder text for non-HTML5 browsers
    $('input[type=text], textarea').placeholder();
    $('input[type=email], textarea').placeholder();

    cookieValue = getURLParameter("i");

    if (cookieValue != "null")
    {
      $.ajax({
        url: "/api/hour/status/" + cookieValue,
        dataType: "json"
      }).done(processResponse);
    }
    else
    {
      certificate_disable();
      voting_disable();
    }
  });

  var petition;
  $(document).ready(function()
  {
    petition = new Petition();
  });
