---
title: Courses
theme: responsive
---

- (1..13).each do |n|
  :css
    .courses .bar-#{n} {
      float: left;
      width: #{n * 7}%;
    }

:css

  .courses .grouprow {
    color: #fff;
    border: 3px solid white;
    background-color: #aaa;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .courses .graderow {
    color: #eee;
    border: 3px solid white;
    background-color: #888;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .courses .courserow {
    border: 0px solid grey;
    background-color: #ddd;
    border: 3px solid white;
    padding: 5px 10px 5px 10px;
  }

  .courses .break {
    clear: both;
  }

  .courses .title {
    font-size: 16px;
  }

  .courses .subtitle {
    font-size: 10px;
  }

  .courses .description {
    font-size: 12px;
    color: #888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


- courses = []
- courses << { name: "Course 1", starts: 0, ends: 2, description: "Start with Course 1 for early readers" }
- courses << { name: "Course 2", starts: 1, ends: 5, description: "Start with Course 2 for students who can read" }
- courses << { name: "Course 3", starts: 1, ends: 5, description: "Course 3 is a follow-up to Course 2" }
- courses << { name: "Course 4", starts: 4, ends: 6, description: "Course 4 is a follow-up to Course 3" }
- courses << { name: "CS in Science", starts: 6, ends: 8, description: "Learn programming through scientific models" }
- courses << { name: "CS in Algebra ", starts: 6, ends: 8, description: "Learn functional programming through Algebra" }
- courses << { name: "CS Discoveries", starts: 7, ends: 9, description: "Our new course for CS" }
- courses << { name: "Exploring Computer Science", starts: 9, ends: 12, description: "A high school course designed to broaden participation in computer science" }
- courses << { name: "Computer Science Principles", subtitle: "upcoming AP course", starts: 9, ends: 12, description: "A course teaching a wide range of computer science topics, including programming in JavaScript" }

.courses
  .group
    .grouprow.bar-6
      Elementary school
    .grouprow.bar-3
      Middle school
    .grouprow.bar-4
      High school
  .grade.break
    .graderow.bar-1
      K
    - (1..12).each do |n|
      .graderow.bar-1
        = n
    - courses.each do |course|
      .course.break
        - unless course[:starts] == 0
          %div{class: "bar-#{course[:starts]}"}
            &nbsp;
        %div{class: "courserow bar-#{course[:ends] - course[:starts] + 1}"}
          .title
            =course[:name]
            %br/
          -# if course[:subtitle]
            .subtitle
              =course[:subtitle]
              %br/
          -#.description
            =course[:description]

