---
title: Code a Dance Party!
theme: responsive_full_width
---

:javascript
  window.pegasus = window.pegasus || {};
  window.pegasus.STUDIO_URL = "#{CDO.studio_url}";

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/code.org/public/dance.js')}

%link{href: "/css/tutorial-promo.css", type: "text/css", rel: "stylesheet"}
%link{href: "/css/generated/dance-landing/dance.css", type: "text/css", rel: "stylesheet"}

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/dance-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s(:dance_hero_heading)
    %figure
      %img{src: "/images/dance-hoc/dance-party-characters-banner.png", alt: ""}

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s(:dance_featuring_songs_by_short)
    = view :"dance/dance_party_featured_artists"

%section
  .wrapper
    %h2=hoc_s(:dance_choose_activity)
    = view :"dance/dance_party_activities"
    .centered{style: "margin-top: 3rem"}
      %hr
      %a.link-button.secondary.centered{href: CDO.studio_url("/catalog?marketingInitiative=hoc")}
        =hoc_s(:call_to_action_explore_all_hoc_activities)

%section#artist-list.bg-neutral-light
  .wrapper.centered
    %h2.heading-sm
      =hoc_s(:dance_featuring_songs_by_long)
    %p.body-three
      - Homepage.get_dance_stars.each do |star|
        = star
        •
      %span.and-more
        = hoc_s(:dance_and_more)

%section
  .wrapper
    %h2=hoc_s(:heading_featured_student_projects)
    #student_dance_projects

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s(:heading_start_hoc_with_videos)
    = view :"dance/dance_inspirational_videos"

%section#behind-the-scenes
  .wrapper
    %h2=hoc_s(:heading_faq)
    %details
      %summary=hoc_s(:dance_ai_behind_the_scenes)
      %p=hoc_s(:dance_ai_behind_the_scenes_markdown, markdown: true)

%section.bg-neutral-light
  .wrapper
    = view :afe_partnership_block
    %p.body-four.centered
      =hoc_s(:dance_afe_disclaimer)
