%h1= I18n.t(:hoc2018_dance_party_main_heading)

%h1= I18n.t(:hoc2018_dance_teacher_resources_title)

%h1= I18n.t(:hoc2018_dance_featured_student_creations_title)

%h2 Place holder for amazon logo with text

%h1= I18n.t(:hoc2018_dance_videos_section_heading)

%h1= I18n.t(:hoc2018_dance_amazon_learn_more_future_engineer_subheading_title)
