%link{href: "/css/dance-landing/dance.css", type: "text/css", rel: "stylesheet"}
%link{href: "/css/starwars.css", type: "text/css", rel: "stylesheet"}

%h1= I18n.t(:hoc2018_dance_party_main_heading)
%div.dance-text-icon-container
  %a{href: "/translate/dance"}
    %div.dance-translate-link-text
      =I18n.t(:hoc2018_dance_party_subheading)
    %i.fa.fa-chevron-right.dance-chevron-icon
=view :dance_tutorial_section

%h2= I18n.t(:hoc2018_dance_teacher_resources_title)
=view :dance_teacher_resources

%h1= I18n.t(:hoc2018_dance_featured_student_creations_title)

%h2 Place holder for amazon logo with text

%h1= I18n.t(:hoc2018_dance_videos_section_heading)

%h1= I18n.t(:hoc2018_dance_amazon_learn_more_future_engineer_subheading_title)
