---
title: Code.org District Program
theme: responsive_full_width
---

%script{data: {'amplitude-api-key': CDO.safe_amplitude_api_key}}
%script{data: {'statsig-api-client-key': CDO.safe_statsig_api_client_key}}
%script{data: {'managed-test-server': "#{CDO.running_web_application? && CDO.test_system?}"}}
%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/districts-styles.css", rel: "stylesheet"}

-# Button urls
- url_learn_more = "#email-signup-form"
- url_enroll_now = "https://share.hsforms.com/1_4JKSt-hS1OCz86gmiczdgqs0ef"
- district_partners_url = "https://code.org/educate/district/partners"

-# FontAwesome icons
- icon_laptop_file = "fa-solid fa-laptop-file"
- icon_chalkboard_user = "fa-solid fa-chalkboard-user"
- icon_location_dot = "fa-solid fa-location-dot"
- icon_chart_pie = "fa-solid fa-chart-pie"
- icon_badge_check = "fa-solid fa-badge-check"
- icon_folder_open = "fa-solid fa-folder-open"

= view :top_skinny_banner, banner_id: "banner-districts", banner_url: nil, banner_icon: "fa-solid fa-megaphone", banner_text: hoc_s("districts_skinny_banner_title", markdown: :inline, locals: {district_partners_url: district_partners_url}), external_link: false, light_theme: true

%section.hero-banner-basic.bg-neutral-dark{style: "display: block !important"}
  .wrapper
    .text-wrapper
      %h1.white Code.org District Program
      %p.heading-sm.white Bring computer science to your district.
      %p.no-margin-bottom.white Learn how Code.org can help teach your students the skills of the future!
    .clear
    %img{src: "shared/images/banners/admins-hero-students-at-computers.png", alt: ""}

%section.bg-neutral-light{style: "display: block !important"}
  .wrapper
    %h2 Code.org District Program
    %p.body-three As AI and emerging technologies transform nearly every aspect of our lives, Code.org is leading a movement to ensure that K-12 students are equipped to adapt to the realities of a rapidly evolving knowledge economy. For more than a decade, Code.org has partnered with educators to advocate for not just policy change, but the resources necessary to expand access to high quality computer science (CS) curriculum and professional learning experiences.
    %div.col-50{style: "margin-bottom: 1em"}
      %p <strong>District leaders around the United States can now partner with Code.org directly, at no cost to:</strong>
      %ul
        %li Prepare students to thrive in a rapidly evolving world of work
        %li Boost access to engaging STEM courses and pathways
        %li Invest in teachers and administrators through <a href="/educate/professional-learning" target="_blank" rel="noopener noreferrer">high-quality professional learning</a> experiences
        %li Tap into the energy, aspirations, and potential of all students to close equity gaps in computer science education and career pathways
        %li Align with the education-to-workforce priorities of employers and policymakers
      .button-wrapper
        %a.link-button{href: url_learn_more} Learn more
        %a.link-button.secondary{href: url_enroll_now, target: "_blank", rel: "noopener noreferrer"} Enroll now
    %div.col-45{style: "float:right; margin-top: 3px"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/B8w9FHh6nUk", allowFullScreen: 'true', frameborder: '0'}
        %figcaption See what state leaders are saying about CS education.
    .clear

%section{style: "display: block !important"}
  .wrapper
    %h2 Program Benefits
    %ul.icon-bullet-list
      %li
        %div
          %i{class: "#{icon_laptop_file}"}
        .text-wrapper
          %h3 Turnkey K-12 computer science curriculum
          %p Get a complete, free <a href="/teach" target="_blank" rel="noopener noreferrer">open source K-12 program</a> and learning platform to introduce computer science at any grade.
      %li
        %div
          %i{class: "#{icon_chalkboard_user}"}
        .text-wrapper
          %h3 High-quality professional learning
          %p Receive access to engaging, professional learning experiences that equip educators with the resources and support to meet the needs of all students.
      %li
        %div
          %i{class: "#{icon_location_dot}"}
        .text-wrapper
          %h3 Local implementation support & resources
          %p Support teams who understand your district's unique needs and provide differentiated guidance on implementation, certification and funding. Ready-made resources to engage students, families, and educators.
      %li
        %div
          %i{class: "#{icon_chart_pie}"}
        .text-wrapper
          %h3 Exclusive opportunities to collaborate with education, policy and industry leaders
          %p Exclusive district partner webinars, conference meet-ups, and networking opportunities throughout the year.
      %li
        %div
          %i{class: "#{icon_badge_check}"}
        .text-wrapper
          %h3 Insight into district-level computer science access and participation
          %p <a href="/yourschool" target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer">CS Access data</a> and Code.org data reports to learn more about your district's strengths and opportunities in CS.
      %li
        %div
          %i{class: "#{icon_folder_open}"}
        .text-wrapper
          %h3 National visibility and recognition
          %p We'll spotlight your district on the Code.org website alongside partners including Amazon, The College Board, Google, and Microsoft.
    .button-wrapper.centered
      %a.link-button{href: url_learn_more} Learn more
      %a.link-button.secondary{href: url_enroll_now, target: "_blank", rel: "noopener noreferrer"} Enroll now

%section.bg-neutral-light
  %h2.centered
    Meet the Districts in our District Program
  %p.centered
    Over 100 school districts have already joined!
  .logos-wrapper
    %img{src: "/images/marketing/fill-110x60/detroit_public_schools_logo.png", alt: "Detroit Public Schools logo", style: "max-width: 110px"}
    %img{src: "/images/marketing/fill-110x60/hartford_public_schools_logo.png", alt: "Hartford Public Schools logo", style: "max-width: 110px"}
    %img{src: "/images/marketing/fill-86x60/miami_dade_county_public_schools_logo.png", alt: "Miami Dade County Public Schools logo", style: "max-width: 86px"}
    %img{src: "/images/marketing/fill-180x60/lausd_unified_logo.png", alt: "LAUSD Unified logo", style: "max-width: 180px"}
    %img{src: "/images/marketing/fill-111x60/clark_county_school_district_logo.png", alt: "Clark County School District logo", style: "max-width: 111px"}
  %div.centered
    %a.link-button.secondary{href: district_partners_url, target: "_blank", rel: "noopener noreferrer"} See full district partner list

%section.bg-primary-light.centered
  .wrapper
    %p.no-margin-bottom Want to see how your district stacks up for computer science offerings? Check out the <a href="/yourschool" target="_blank" rel="noopener noreferrer">CS Access Report</a>!

%a{id: 'email-signup-form'}
%section{style: "display: block !important"}
  .wrapper
    %h2 Take the next step!
    %p If you are interested in becoming a district partner or have questions about the partnership, fill out the form below and a member of the Code.org team and/or our Regional Partner will be in touch.
    = view :admins_email_signup_form

= view :section_divider_line

%section{style: "display: block !important"}
  .wrapper
    %h2 Frequently Asked Questions
    %details
      %summary Why should my district teach computer science?
      %p Computer science is foundational for all students. More than <a class="has-external-link" href="https://csedu.gallup.com/home.aspx" target="_blank" rel="noopener noreferrer">90% of parents</a> want schools to teach computer science and students rank CS as their <a class="has-external-link" href="https://docs.google.com/spreadsheets/d/15c-xozSgav1s38KcmxfLbe1CrHw4BsJdQEU3HqOFIGI/edit#gid=1309171352" target="_blank" rel="noopener noreferrer">third favorite subject behind the arts</a>. Computing occupations are now the <a class="has-external-link" href="http://www.rasmussen.edu/degrees/technology/blog/careers-in-computer-science-face-the-facts/" target="_blank" rel="noopener noreferrer">fastest-growing</a> segment of all professions and the majority of all U.S. occupations now involve <a class="has-external-link" href="https://www.brookings.edu/research/digitalization-and-the-american-workforce/" target="_blank" rel="noopener noreferrer">"moderately digital" skills</a>. Students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college, <a class="has-external-link" href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536" target="_blank" rel="noopener noreferrer">according to recent research</a>.
      %p Learn more at <a href="/stats" target="_blank" rel="noopener noreferrer">code.org/stats</a>.
    %details
      %summary Can I become a Code.org District Partner if I'm outside the United States?
      %p Currently the Code.org District Partner program is only available for districts in the United States. If you are interested in what is happening with computer science in your country, <a class="has-external-link" href="https://hourofcode.com/us/international-partners" target="_blank" rel="noopener noreferrer">find your international Code.org partner</a>.
    %details
      %summary Are Code.org's courses aligned to any standards?
      %p Yes! Specifically, our courses were written using both the K-12 Framework for Computer Science and the 2017 CSTA standards. Additionally, CS Principles and CSA meet the AP Frameworks for each course. You can learn more about standards alignment for each course by visiting their specific course pages. Visit <a href="/teach" target="_blank" rel="noopener noreferrer">code.org/teach</a> to learn more.
    %details
      %summary What qualifications or certifications does a teacher need to teach computer science?
      %p The answer will vary by state — <a href="/educate/professional-learning/contact-regional-partner" target="_blank" rel="noopener noreferrer" >contact your Regional Partner</a> for details specific to your state and district. You can also find an overview of state certification requirements <a class="has-external-link" href="https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#" target="_blank" rel="noopener noreferrer">here</a> (click on the “Certification” tab near the top).
    %details
      %summary How much does it cost to offer computer science with Code.org?
      %p All Code.org course materials are free — now and forever. There may be a fee associated with professional development (varies by region), but every region offers scholarships and discounts that you may qualify for (<a href="/educate/professional-learning" target="_blank" rel="noopener noreferrer">check here</a>). Other costs, like devices and other classroom supplies, internet access, and administrative support, will vary by region and class size. You can take a look at hardware and internet requirements for Code.org courses here.
    %details
      %summary How can I pay for professional development?
      %p Code.org offers a number of scholarships and discounts for teachers attending our professional development workshops. Other funding sources, like Perkins funds and state funding, may also be available to you. <a href="/educate/professional-learning/contact-regional-partner" target="_blank" rel="noopener noreferrer">Contact your Regional Partner</a> to learn more about the funding options available.
    %details
      %summary What type of class schedule are the courses designed for?
      %p Schools and teachers have the flexibility to teach our CS Fundamentals and CS Discoveries courses in the way that best fits with their school schedules. CS Principles and CSA should be taught as full-year courses. Our PL programs provide guidance. Learn more about our various offerings at <a href="/teach" target="_blank" rel="noopener noreferrer">code.org/teach</a>.
    %details
      %summary Do high school computer science courses count toward graduation?
      %p <a class="has-external-link" href="https://docs.google.com/spreadsheets/d/1YtTVcpQXoZz0IchihwGOihaCNeqCz2HyLwaXYpyb2SQ/pubhtml#" target="_blank" rel="noopener noreferrer">Take a look here</a> to see if your state allows computer science courses to count toward graduation (click the “Count” tab near the top).
    %details
      %summary How do I or my counselors recruit students to take the class?
      %p We have a number of suggestions and materials for encouraging students to take computer science. Find them all at <a href="/educate/resources/recruit" target="_blank" rel="noopener noreferrer">code.org/recruit</a>.

%section{style: "display: block !important"}
  .wrapper
    %h2 Additional Resources
    .action-block__wrapper.action-block__wrapper--two-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 Amazon Future Engineer
          %img{src: "/images/marketing/fill-400x250/AFE-El-Paso-4.jpg", alt: ""}
          %p Special support for teachers at underserved schools. Find out if your school is eligible.
        .content-footer
          %a.link-button{href: "/afe"} Learn more
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 District Case Studies
          %img{src: "/images/marketing/fill-400x250/2018_HoC-392.jpg", alt: ""}
          %p See how three different districts are bringing CS to their students.
        .content-footer
          %a.link-button.has-external-link{href: "https://docs.google.com/document/d/102y3-j0uZBqSnqWHTiTbo81LyDUX2sZITYF9aHnZ_yc/edit#heading=h.9ub4frvyuqiy"} Learn more
  .clear

= view :analytics_event_log_helper, event_name: AnalyticsConstants::DISTRICT_PROGRAM_PAGE_VISITED_EVENT
