---
title: Meet the Film Cast
---

%h1 Meet the Film Cast

.row.film-cast-member
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Bill Gates
  .col-xs-3
    %img{:alt => "Bill Gates", :src => "/images/film-cast/bill-gates.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p William "Bill" Gates III is an American entrepreneur, business magnate and philanthropist. As a child, he attended the private school, Lakeside School, where he made himself oriented to a wide variety of subjects ranging from math, science, english literature and even drama. After being introduced to computers, he developed an early interest in software and began programming computers at the age of 13.
    %p
      In 1973, Bill enrolled at Harvard University, eventually dropping out in 1975 to begin his career as a software designer. He founded
      %a{:href => "http://www.microsoft.com/"} Microsoft
      with Paul Allen, and led the company to become the worldwide leader in business and personal software and services. At the height of his success, he turned his attention from business to philanthropy, founding the
      %a{:href => "http://www.gatesfoundation.org/Pages/home.aspx"} Bill and Melinda Gates Foundation
      with his wife, Melinda, which has given over $28 billion to charities focused on scientific research and international development. In 2008, Bill transitioned to Chairman to focus full-time on his foundation’s work to expand opportunity to the world’s most disadvantaged people.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Bronwen Grimes
  .col-xs-3
    %img{:alt => "Bronwen Grimes", :src => "/images/film-cast/bronwen-grimes.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Bronwen Grimes is half-artist, half-programmer and has been making video games for over a decade. She enjoys being part of the tight-knit technical art community, a small (but growing) collection of other artist-programmers who work in games. Growing up in Ottawa, the capital of Canada, she had an idyllic science nerd childhood. Her first experience with programming happened during a summer camp at Carleton University, where kids also got to synthesize nylon, extract cow DNA, and do the time warp again. Although Bronwen has a diploma in Digital Media Arts from Seneca College, she would say her education was mostly self-designed. She has taken classes in art, programming, and math from a half-dozen different schools to suit her unusual discipline. For the past 5 years she’s been at
      = succeed "," do
        %a{:href => "http://www.valvesoftware.com/"} Valve Corporation
      where she’s contributed to several games including Portal 2, the Left 4 Dead series, Dota 2, and Counter-Strike: Global Offensive.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Chris Bosh
  .col-xs-3
    %img{:alt => "Chris Bosh", :src => "/images/film-cast/chris-bosh.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p Chris Bosh is an American professional basketball player who currently plays for the Miami Heat of the National Basketball Association (NBA). Born in Dallas, Texas, he was captain for his high school basketball team in his junior and senior years. He starred at Georgia Tech before he turned pro.
    %p Chris’s love of microchips and motherboards began as a toddler, when he started playing with computers. His mom, Freida, was a systems analyst for a small computer company in Dallas.When it came time to choose a major at Georgia Tech, Chris planned to go with computer science but instead picked management when he was told the comp-sci course load might be too difficult for a freshman basketball player. For the time being, Chris has no plans to finish his degree, but he has used his computer knowledge to found a company, Max Deal Technologies, that provides tech solutions for a high-end clientele.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Drew Houston
  .col-xs-3
    %img{:alt => "Drew Houston", :src => "/images/film-cast/drew-houston.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Drew Houston is CEO and Co-Founder of
      = succeed "," do
        %a{:href => "http://dropbox.com/"} Dropbox
      and has led Dropbox’s growth from a simple idea to a service relied upon by millions around the world. Born in Acton, Massachusetts, Drew attended Acton-Boxborough Regional High School and later graduated from MIT with a degree in Computer Science. After graduating from MIT, Drew recognized that people needed a way to bring their files with them without sending email attachments or carrying USB drives. He began writing a solution to this problem in early 2007 before showing an early version to Arash Ferdowsi. The two of them then began working on the project that would eventually become Dropbox. was there that he met Arash Ferdowsi who would later go on to be co-founder and CTO of Dropbox.
    %p
      Before working on Dropbox, Drew worked on a number of other startups including
      = succeed "," do
        %a{:href => "https://www.bit9.com/"} Bit9
      %a{:href => "http://www.accoladeinc.com/"} Accolade
      and
      = succeed "," do
        %a{:href => "http://www.hubspot.com/"} Hubspot
      and has held a variety of engineering roles in other startups since age 14. He was named one of the top “Twentysomething Entrepreneurs” by BusinessWeek in April 2008.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Elena Silenok
  .col-xs-3
    %img{:alt => "Elena Silenok", :src => "/images/film-cast/elena-silenok.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p Elena Silenok was born in Kaliningrad, Russia to a family of engineers. She moved to the US when she was 15 and attended Florida Atlantic University, obtaining a BS degree in computer science. After graduating, she went to work for the University of California, San Diego while going to graduate school in their network security program. In 2006, she earned her MS in computer science.
    %p
      After working at several large financial companies, Elena decided she wanted to pursue her true passion – fashion. So taking her computer science education and technical background with her and leaving the financial industry behind, she quit her lucrative job and founded
      = succeed "," do
        %a{:href => "http://clothia.com/"} Clothia
      an online fashion destination and an
      %a{:href => "http://j.mp/clothia"} iPad app
      that allows users to browse their friends’ closets, mix-n-match items to create outfits, get inspired by style icons, share their finds, and virtually try on clothes using augmented reality via their webcam.
    %p
      Elena is a guest lecturer at Columbia University, NYU, and General Assembly. She is also a contributing writer to
      %a{:href => "http://www.businessinsider.com/author/elena-silenok"} Business Insider
      as well as a root member of
      = succeed "." do
        %a{:href => "http://www.hackerunion.org/"} NY Hacker Union
      BetaBeat listed her as one of the “
      %a{:href => "http://www.betabeat.com/2011/06/06/doing-it-25-women-driving-new-yorks-tech-scene/"}> 25 Women Driving New York’s Tech Scene
      ” in 2011 and she has been profiled by
      = succeed "," do
        %a{:href => "http://www.nytimes.com/2012/03/01/fashion/virtual-closet-web-sites-like-pinterest-and-stylitics-revise-online-fashion-shopping.html?pagewanted=all"} The New York Times
      = succeed "," do
        %a{:href => "http://www.fastcompany.com/1796393/magic-mirrors-virtual-closets-and-the-future-of-fashion"} Fast Company
      and
      = succeed "." do
        %a{:href => "http://adage.com/article/digital/clothia-lets-users-closets-online/235737/"} AdAge
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Gabe Newell
  .col-xs-3
    %img{:alt => "Gabe Newell", :src => "/images/film-cast/gabe-newell.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Gabe Newell is the President and founder of
      = succeed "," do
        %a{:href => "http://www.valvesoftware.com/"} Valve Corporation
      an entertainment software and technology company. Before starting Valve, Gabe spent 13 years at
      = succeed "," do
        %a{:href => "http://www.microsoft.com/"} Microsoft
      holding positions in the Systems, Applications, and Advanced Technology divisions. His responsibilities included running program management for the first two releases of Windows, starting the company's multimedia division, and leading efforts on the Information Highway PC. Inspired by Michael Abrash, who left Microsoft to work on the computer game Quake at
      = succeed "," do
        %a{:href => "http://www.idsoftware.com/"} id Software
      Gabe and another Microsoft employee, Mike Harrington, left Microsoft in 1996 to found Valve. He and Harrington used their money to fund Valve through the development of Half-Life, the company’s debut title.
    %p In December 2010, Forbes named Gabe as "A Name You Should Know" mainly for his work on Steam having partnerships with multiple major developers.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Hadi Partovi
  .col-xs-3
    %img{:alt => "Hadi Partovi", :src => "/images/film-cast/hadi-partovi.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Hadi Partovi is an entrepreneur and investor, and is the co-founder of education non-profit
      = succeed "." do
        %a{:href => "http://www.crunchbase.com/company/code-org/"} Code.org
      He and his twin brother,
      = succeed "," do
        %a{:href => "http://www.crunchbase.com/person/ali-partovi/", :style => "line-height: 1.538em;"} Ali Partovi
      were born in Iran and started learning computer programming on a Commodore 64 when they were just 10 years old. Their father was a co-founder of Sharif University, one of the top technical universities in the Middle East, so they have education in their blood.
    %p
      Hadi studied computer science at Harvard University, teaching computer science to underclassmen and working summer jobs as a programmer to help pay for his education. After graduating from Harvard, he began his career during the browser wars in the 1990s, when he was Group Program Manager for Internet Explorer (IE) at
      = succeed "." do
        %a{:href => "http://www.crunchbase.com/company/microsoft/", :style => "line-height: 1.538em;"} Microsoft
      After the release of IE 5.0, Hadi left Microsoft to co-found
      = succeed "." do
        %a{:href => "http://www.crunchbase.com/company/tellme/", :style => "line-height: 1.538em;"} Tellme Networks
      He later returned to Microsoft as General Manager of the MSN portal.
    %p
      Hadi is a strategic advisor to numerous startups including
      = succeed "," do
        %a{:href => "http://www.crunchbase.com/company/facebook/"} Facebook
      = succeed "," do
        %a{:href => "http://www.crunchbase.com/company/dropbox/"} Dropbox
      = succeed "," do
        %a{:href => "http://www.crunchbase.com/company/opower/"} OPOWER
      and
      = succeed "," do
        %a{:href => "http://www.crunchbase.com/company/bluekai/"} Bluekai
      and serves on the board of
      = succeed "." do
        %a{:href => "http://www.crunchbase.com/company/taser-international/"} TASER International
      He is also an active angel investor with a wide range of investments, including
      %a{:href => "https://www.airbnb.com/"} Airbnb
      and
      = succeed "." do
        %a{:href => "http://www.zappos.com/"} Zappos
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Jack Dorsey
  .col-xs-3
    %img{:alt => "Jack Dorsey", :src => "/images/film-cast/jack-dorsey.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Jack Dorsey is the creator, co-founder, and Chairman of
      = succeed "." do
        %a{:href => "http://www.twitter.com/"} Twitter, Inc
      Jack’s early fascination for mass-transit and how cities function led him to Manhattan and programming real-time messaging systems for couriers, taxis, and emergency vehicles. Throughout this work, he witnessed thousands of workers in the field constantly updating where they were and what they were doing, which led him to conceive the idea for Twitter, a constrained simplification designed for general usage and extended by the millions of people who make it their own every day. As CEO of Twitter, Jack saw the startup through two rounds of funding by the venture capitalists who backed the company. In 2008, Evan Williams took over the role of CEO, and Jack became chairman of the board. He went on to develop a mobile payments company for small businesses called
      = succeed "," do
        %a{:href => "http://squareup.com/"} Square
      released in 2010, and grew the company from 10 employees to over 100 in less than 2 years. In 2011, Jack returned to Twitter as Executive Chairman.
    %p Jack was recognized as one of Time Magazine’s 100 most influential people and was named an “outstanding innovator under the age of 35” by MIT’s Technology Review in 2008.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Makinde Adeagbo
  .col-xs-3
    %img{:alt => "Makinde Adeagbo", :src => "/images/film-cast/makinde-adeagbo.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Makinde Adeagbo was born in Nigeria. After a few moves, his family settled in Louisville, KY. He was first introduced to programming in the 6th grade using LogoWriter, which allows you to write instructions to
      %a{:href => "https://itunes.apple.com/us/app/move-turtle.-programming-for/id509013878?mt=8"} move a turtle
      (cursor) around a computer screen, as well as draw and animate scenes or games. From then on he was hooked. His other early programming experience included using a graphing calculator to create games and programs to make math class easier. He also took several programming classes at his public high school. He went on to study at MIT where he graduated in 2007 with a degree in computer science and electrical engineering. During his studies, he interned with technology giants Microsoft and Apple.
    %p
      After graduating from MIT, Makinde joined
      %a{:href => "http://facebook.com/"} Facebook
      as a software engineer working on photos, events, search, profiles and many other projects. In 2011, he left the company and travelled to Kenya where he spent several months working for
      = succeed "," do
        %a{:href => "http://www.bridgeinternationalacademies.com/"} Bridge International Academies
      a small company building elementary schools in and around Nairobi. Later that year, he joined
      %a{:href => "http://dropbox.com/"} Dropbox
      as a software craftsman, building the next generation of sharing tools for the service. He left the company in June of 2012 to begin his search for the next big thing.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Mark Zuckerberg
  .col-xs-3
    %img{:alt => "Mark Zuckerberg", :src => "/images/film-cast/mark-zuckerberg.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Mark Zuckerberg is an American computer programmer and Internet entrepreneur, best known as one of five co-founders of the social networking site
      = succeed "," do
        %a{:href => "http://facebook.com/"} Facebook
      where he serves as the chairman and CEO. Born and raised in New York state, Mark began writing software as a hobby in middle school, with help from his father and a tutor. In high school, he excelled in classic literature and fencing while studying at Phillips Exeter Academy.
    %p While in high school, under the company name Intelligent Media Group, Mark built a music player called the Synapse Media Player that used artificial intelligence to learn the user's listening habits, which was posted to Slashdot and received a rating of 3 out of 5 from PC Magazine. Microsoft and AOL tried to purchase Synapse and recruit Mark, but he chose instead to enroll at Harvard where he studied computer science and psychology.
    %p During his sophomore year at Harvard, Mark wrote a notorious application that he called Facemash that allowed students on the college's network to vote on the relative attractiveness of other students. It was shut down within days, and led to disciplinary action. He launched Facebook from his dormitory room. With the help of friends, he took Facebook to other campuses nationwide and soon after moved to Palo Alto, California. By 2007, Facebook had made him a billionaire at the age of 23.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Ruchi Sanghvi
  .col-xs-3
    %img{:alt => "Ruchi Sanghvi", :src => "/images/film-cast/ruchi-sanghvi.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Ruchi Sanghvi is Vice President of Operations at
      = succeed "," do
        %a{:href => "http://dropbox.com/"} Dropbox
      where she is responsible for recruiting, communications, marketing and other functions. She came to Dropbox through its acquisition of Cove, a company she founded in 2011. Prior to that, Ruchi was the first female engineer at Facebook, and was instrumental in implementing the first versions of key features such as News Feed. She then led product management and strategy for Facebook Platform and Facebook Connect. She was also responsible for core product areas such as privacy and user engagement.
    %p Ruchi holds a bachelor’s and master’s degrees in electrical computer engineering from Carnegie Mellon University, which is where she first learned computer programming.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Tony Hsieh
  .col-xs-3
    %img{:alt => "Tony Hsieh", :src => "/images/film-cast/tony-hsieh.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      Tony Hsieh is an American internet entrepreneur and venture capitalist, and is the CEO of
      = succeed "," do
        %a{:href => "http://zappos.com/"} Zappos.com
      Inc. After graduating from Harvard University with a degree in computer science, he worked for
      = succeed "." do
        %a{:href => "http://www.oracle.com/"} Oracle
      Dissatisfied with the corporate environment, he quit months later to co-found LinkExchange, an internet advertising network, which was sold to Microsoft in 1999 for $265 million. He then joined Zappos as an advisor and investor, eventually becoming CEO. In 2009, Zappos.com was acquired by Amazon.com.
    %p
      In 2010, Tony released
      = succeed "," do
        %a{:href => "http://www.deliveringhappiness.com/"} Delivering Happiness
      a book about his entrepreneurial endeavors that has been profiled in many world publications. He also leads the
      = succeed "," do
        %a{:href => "http://downtownproject.com/"} Downtown Project
      a group committed to transforming downtown Las Vegas into the most community-focused large city in the world.
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Vanessa Hurst
  .col-xs-3
    %img{:alt => "Vanessa Hurst", :src => "/images/film-cast/vanessa-hurst.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p
      %a{:href => "http://vanessahurst.com/"} Vanessa Hurst
      is a data-focused coder turned social entrepreneur and the founder of
      = succeed "," do
        %a{:href => "http://codemontage.com/"} CodeMontage
      where software developers improve their skills while improving the world. Vanessa learned to code in college when she took a CS 101 course required for all engineering students. Four years later, she graduated with a B.S. in Computer Science and a minor in Systems &amp; Information Engineering from the University of Virginia.
    %p
      While working as a database developer, Vanessa learned that technology expertise is one of the top needs for non-profits and started
      %a{:href => "http://developersforgood.org/"} Developers for Good
      to help. She also co-founded
      = succeed "," do
        %a{:href => "http://girldevelopit.com/"} Girl Develop It
      which provides accessible and affordable in-person software development courses worldwide. Her favorite job before becoming an entrepreneur was at a lovely digital stationery startup called
      = succeed "," do
        %a{:href => "http://paperlesspost.com/"} Paperless Post
      where she led the Data and Analytics efforts. When she’s not working on CodeMontage or other open source projects, Vanessa serves as a technical advisor to a number of non-profits and startups, including
      = succeed "," do
        %a{:href => "http://ohours.org/"} Ohours
      and is a scout for Mozilla’s
      = succeed "." do
        %a{:href => "http://webfwd.org/"} WebFWD
.row.film-cast-member
  %h2.col-xs-12{style: "margin-top: 1em; margin-bottom: .75em; padding-bottom: .5em; border-bottom: 1px solid #b7b7a7;"} Will.I.Am
  .col-xs-3
    %img{:alt => "Will.I.Am", :src => "/images/film-cast/william.jpg", style: "width: 100%; max-width: 100%;"}/
  .col-xs-9
    %p Will.I.Am is a Jamaican-American recording artist, songwriter, entrepreneur, voice actor, DJ, record producer, educator and philanthropist, best known as one of the founding members of the hip hop/pop band, The Black Eyed Peas. He is the recipient of seven Grammy Awards, eight American Music Awards, a Billboard Music Award, a Teen Choice Award, two Video Music Awards, and three World Music Awards all won with the Black Eyed Peas.
    %p In addition to his music endeavors, Will.I.Am is passionate about how computer programming can change lives and communities. He is planning on heading back to school this year to study computer science himself. No stranger to technology, having previously worked in conjunction with computer hardware giant Intel, he wants to take his computing knowledge to the next level and has spoken out in praise of computer programmers, going so far as to say that computer programmers are his idols in life.
