---
title: Explore, Play, and Create with Computer Science
theme: responsive
---

%link{href: "/css/generated/hoc2022-landing-page.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet", type: "text/css"}

-# Import HoC activities for each section
%script{type: "text/javascript", src: "/js/hoc2022-explore-activities.js"}
%script{type: "text/javascript", src: "/js/hoc2022-play-activities.js"}
%script{type: "text/javascript", src: "/js/hoc2022-create-activities.js"}

-# Import FontAwesome Pro
%script{src: "https://kit.fontawesome.com/ea2d9d4413.js", crossorigin: "anonymous"}

-# FontAwesome icons
- icon_rocket = "fa-regular fa-rocket"
- icon_futbol = "fa-regular fa-futbol"
- icon_paint = "fa-regular fa-paintbrush-pencil"

%header
  %span=I18n.t(:og_title_here)
  %h1=I18n.t(:hoc2022_banner_title)
  %h2=I18n.t(:try_it_yourself)
  %nav
    %ul
      %li
        %i{class: "#{icon_rocket}"}
        %a{href: "#explore"}
          =I18n.t(:hoc2022_landing_page_explore_title)
      %li
        %i{class: "#{icon_futbol}"}
        %a{href: "#play"}
          =I18n.t(:hoc2022_landing_page_play_title)
      %li
        %i{class: "#{icon_paint}"}
        %a{href: "#create"}
          =I18n.t(:hoc2022_landing_page_create_title)

%main
  %aside
    NASA skinny banner

  %a{id: "explore"}
  %section.explore
    .wrapper
      .top-wrapper
        %div
          %i{class: "#{icon_rocket}"}
          %h1=I18n.t(:hoc2022_landing_page_explore_title)
          %p=I18n.t(:hoc2022_landing_page_explore_description)
        %iframe{src: "https://www.youtube.com/embed/WE2s3647awE", allowFullScreen: 'true', frameborder: '0'}
      %hr
      .activities
        %h2=I18n.t(:try_an_activity)
        .hoc-tiles-container.explore
        %a{href: "/learn"}
          =I18n.t(:see_more_activities)

  %a{id: "play"}
  %section.play
    .wrapper
      .top-wrapper
        %iframe{src: "https://www.youtube.com/embed/ARLt0GcyRgQ", allowFullScreen: 'true', frameborder: '0'}
        %div
          %i{class: "#{icon_futbol}"}
          %h1=I18n.t(:hoc2022_landing_page_play_title)
          %p=I18n.t(:hoc2022_landing_page_play_description)
      %hr
      .activities
        %h2=I18n.t(:try_an_activity)
        .hoc-tiles-container.play
        %a{href: "/learn"}
          =I18n.t(:see_more_activities)

  %a{id: "create"}
  %section.create
    .wrapper
      .top-wrapper
        %div
          %i{class: "#{icon_paint}"}
          %h1=I18n.t(:hoc2022_landing_page_create_title)
          %p=I18n.t(:hoc2022_landing_page_create_description)
        %iframe{src: "https://www.youtube.com/embed/ARLt0GcyRgQ", allowFullScreen: 'true', frameborder: '0', class: "has-border"}
      %hr
      .activities
        %h2=I18n.t(:try_an_activity)
        .hoc-tiles-container.create
        %a{href: "/learn"}
          =I18n.t(:see_more_activities)
