---
title: Explore, Play, and Create with Computer Science
theme: responsive
---

%link{href: "/css/generated/hoc2022-landing-page.css", rel: "stylesheet"}
%link{href: "/css/hoc2022-nasa-skinny-banner.css", rel: "stylesheet"}

-# Import FontAwesome Pro
%script{src: "https://kit.fontawesome.com/ea2d9d4413.js", crossorigin: "anonymous"}

-# FontAwesome icons
- icon_rocket = "fa-regular fa-rocket"
- icon_futbol = "fa-regular fa-futbol"
- icon_paint = "fa-regular fa-paintbrush-pencil"

%header
  .wrapper
    %span=I18n.t(:hour_of_code)
    %h1=I18n.t(:hoc2022_banner_title)
    %h2=I18n.t(:try_it_yourself)
    %nav
      %ul
        %li
          %i{class: "#{icon_rocket}"}
          %a{href: "#explore"}
            =I18n.t(:hoc2022_landing_page_explore_title)
        %li
          %i{class: "#{icon_futbol}"}
          %a{href: "#play"}
            =I18n.t(:hoc2022_landing_page_play_title)
        %li
          %i{class: "#{icon_paint}"}
          %a{href: "#create"}
            =I18n.t(:hoc2022_landing_page_create_title)
  %img.left{src: "/images/hoc2022-landing-page-banner-left.svg", alt: I18n.t(:hoc2022_landing_page_banner_alt_left)}
  %img.right{src: "/images/hoc2022-landing-page-banner-right.svg", alt: I18n.t(:hoc2022_landing_page_banner_alt_right)}

%main
  %aside.nasa-skinny-banner
    %img{src: "/images/nasa-logo.svg", alt: "NASA logo"}
    %h1=I18n.t(:hoc2022_nasa_banner_heading_posthoc)
    %a{href: "https://youtu.be/_bvSFJ5RI7c", target: "_blank", rel: "noopener noreferrer"}
      %button=I18n.t(:homepage_banner_text_link)

  %a{id: "explore"}
  %section.explore
    .wrapper
      .top-wrapper
        %div
          %i{class: "#{icon_rocket}"}
          %h1=I18n.t(:hoc2022_landing_page_explore_title)
          %p=I18n.t(:hoc2022_landing_page_explore_description)
        %figure
          %div
            %iframe{src: "https://www.youtube.com/embed/gDpNXnrFvFE", allowFullScreen: 'true', frameborder: '0'}
      %hr
      .activities
        %h2=I18n.t(:try_an_activity)
        .featured-activities.explore
          = view :hoc2022_explore_activities
        %a{href: "/learn"}
          =I18n.t(:see_more_activities)

  %a{id: "play"}
  %section.play
    .wrapper
      .top-wrapper
        %figure
          %div
            %iframe{src: "https://www.youtube.com/embed/ARLt0GcyRgQ", allowFullScreen: 'true', frameborder: '0'}
        %div
          %i{class: "#{icon_futbol}"}
          %h1=I18n.t(:hoc2022_landing_page_play_title)
          %p=I18n.t(:hoc2022_landing_page_play_description)
      %hr
      .activities
        %h2=I18n.t(:try_an_activity)
        .featured-activities.play
          = view :hoc2022_play_activities
        %a{href: "/learn"}
          =I18n.t(:see_more_activities)

  %a{id: "create"}
  %section.create
    .wrapper
      .top-wrapper
        %div
          %i{class: "#{icon_paint}"}
          %h1=I18n.t(:hoc2022_landing_page_create_title)
          %p=I18n.t(:hoc2022_landing_page_create_description)
        %figure
          %div
            %iframe{src: "https://www.youtube.com/embed/lud4bU3YY9U", allowFullScreen: 'true', frameborder: '0'}
      %hr
      .activities
        %h2=I18n.t(:try_an_activity)
        .featured-activities.create
          = view :hoc2022_create_activities
        %a{href: "/learn"}
          =I18n.t(:see_more_activities)
