---
theme: responsive_wide
banner: null
layout: wide
<%
  if request.site == 'csedweek.org'
%>
social:
  "og:title": "The Hour of Code is here"
  "og:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries and over 30 languages. Ages 4 to 104."
  "og:image": "http://csedweek.org/images/hoc-video-thumbnail.jpg"
  "og:image:width": "1200"
  "og:image:height": "627"
  "og:video:url": "http://youtubeeducation.com/v/FC5FbmsH4fw"
  "og:video:secure_url": "https://youtubeeducation.com/v/FC5FbmsH4fw"
  "og:video:type": "application/x-shockwave-flash"
  "og:video:width": "640"
  "og:video:height": "360"
  "twitter:card": "player"
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/"
  "twitter:title": "The Hour of Code is here"
  "twitter:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries and over 30 languages. Ages 4 to 104."
  "twitter:image:src": "http://csedweek.org/images/hoc-video-thumbnail.jpg"
  "twitter:player": "https://youtubeeducation.com/v/FC5FbmsH4fw"
  "twitter:player:width": "640"
  "twitter:player:height": "360"
<%
  else
%>
social:
  "og:title": "Every child deserves opportunity"
  "og:description": "Every student in every school deserves the opportunity to study computer science."
  "og:image": "http://code.org/images/code-video-thumbnail.jpg"
  "og:image:width": "1440"
  "og:image:height": "810"
  "og:video:url": "http://youtubeeducation.com/v/nKIu9yen5nc"
  "og:video:secure_url": "https://youtubeeducation.com/v/nKIu9yen5nc"
  "og:video:type": "application/x-shockwave-flash"
  "og:video:width": "640"
  "og:video:height": "360"
<%
  end
%>

---

:css
  @media screen and (max-width: 600px)
  {
    .captions {font-size: 12px}
  }
  @media screen and (min-width: 601px)
  {
    .captions {font-size:18px}
  }

  @media screen and (max-width: 512px)
  {
    .same-height-column {width:100%}
  }
  @media screen and (min-width: 513px)
  {
    .same-height-column {float:none !important; width:50%}
  }

  body.modal-open .supreme-container{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

.supreme-container
  #top{style: "position:relative; width:100%; overflow:hidden"}
    - heroes = DB[:cdo_homepage].where(type_s: "widehero", active_s: ["show","hide"], site_s: [request.site,"both"]).all
    - heroes.shuffle!
    - heroes.each_with_index do |entry, index|
      - display = entry[:active_s] == "hide" ? "none" : "block"
      - opacity = index == 0 ? 1 : 0
      .widehero{id: "fullwidth#{index}", style: "display: #{display}; z-index: -5; position:absolute; left: 0; top: 0; background-image: url(#{entry[:image_t]}); background-repeat: no-repeat; background-size: cover; width: 100%; height:100%; opacity: #{opacity}; background-position: 50% 20%"}

    #fullwidth{style: "width: 100%;"}
      .thegap{style: "height: 1px"}
        &nbsp;
      #desktop-header.desktop-feature
        = view :header
      #mobile-header.mobile-feature
        = view :header

    .container_responsive{style: "color: white; font-size: 20px"}
      .col-66{style: "position:relative;"}
        - heroes.each_with_index do |entry, index|
          - display = entry[:active_s] == "hide" ? "none" : "block"
          - unless entry[:text1_s].nil_or_empty?
            - text = I18n.t(entry[:text1_s])
            - unless text.nil_or_empty?
              - lines = text.lines 
              .captions{id: "captionarea#{index}", style: "position:absolute; left:0; top:0; text-align:center; width:100%; color:#eee; line-height:22px"}
                .caption1{style: "left: 50px; top: 68px; position: absolute; opacity: 0; padding:8px"}
                  = lines[0]
                .caption2{style: "left: 30px; top: 106px; position: absolute; opacity: 0; padding:8px"}
                  = lines[1]
                .caption3{style: "left: 40px; top: 156px; position: absolute; opacity: 0; font-size: 14px; padding:8px"}
                  = lines[2]

        &nbsp;

        -# Maintains a large empty chunk so that the hero image remains large and visible at all browser sizes.
        #blankspaceleft{style: "height:350px"}

      .col-33{style: "position:relative; padding: 20px; margin-top:80px; text-align:center"}   
        - actions = DB[:cdo_homepage].where(type_s: "action", active_s: ["show","hide"], site_s: [request.site,"both"]).all
        - actions = actions.first(1)
        - actions.each_with_index do |entry, index|
          - display = entry[:active_s] == "hide" ? "none" : "block"
          .action{style: "display: #{display}; opacity: 0"}
            - if entry[:param1_s] == "video"
              %img{src: "/shared/images/play-button.png", width:"40", onclick: "return showVideo_mainvideo();", style: "cursor: pointer"}
              %span{style: "font-size:20px", onclick: "return showVideo_mainvideo();", style: "cursor: pointer"}
                = I18n.t(entry[:text1_s])
            - elsif entry[:param1_s] == "petition"
              %button{style: "font-weight: 500; font-size: 20px; height: 50px", onclick: "expandPetition(); adjustScroll('petitionblock');"}
                = I18n.t(entry[:text1_s])
            %div{style: "height:40px"}

    %div{style: "clear:both"}
    - if DB[:cdo_homepage].where(type_s: "petition")
      = view :petition_expand

  -#### Hero slots

  -#heroslots{style: "text-align:center"}
    - DB[:cdo_homepage].where(type_s: "slot", active_s: ["show","hide"], site_s: [request.site,"both"]).all do |entry|
      - display = entry[:active_s] == "hide" ? "none" : "block"
      .slot{style: "display: #{display}"}
        = view :homepage_quarterslot, entry: entry

  .clear{style: "clear:both"}

  

  .container_responsive
    %h1#mission{style: "font-size: 22px; margin-top:40px; margin-bottom:5px; text-align:center; color: rgb(102,102,102); padding:10px; /*background-color: rgb(239, 239, 239) */; font-family: 'Gotham 4r', sans-serif"}
      Code.org is dedicated to inspiring more students to learn computer science and increasing diversity in the field. Learn online for free or bring courses to your school.

  -#### Below the fold

  -#%h1#audienceheader{style: "font-size: 24px; margin-top:80px; margin-bottom:40px; text-align:center; color: rgb(102,102,102)"}
    Code.org offers something for everybody

  #audienceslots{style: "text-align:center; margin-top:20px"}
    - audienceslots = []

    - slot = {name:"Students", bgc: "0, 173, 188", bgc_body1: "242, 251, 252", bgc_head: "0, 173, 188", bgc_body: "89, 202, 211",links: []}
    -   slot[:links] << {img: "/shared/images/courses/logo_tall_elementary.jpg", caption: "Code Studio", url: "http://studio.code.org"}
    -   slot[:links] << {blurb: "Students, try your first Hour of Code or try one of our full courses."}
    -   slot[:links] << {text: "Try the Hour of Code", url: "/learn"}
    -   slot[:links] << {text: "Code Studio", url: "http://studio.code.org"}
    -   slot[:links] << {text: "Find a local class or workshop", url: "/learn/local", priority: 2} #p2
    -#   slot[:links] << {text: "Other learning options ", priority: 2} #p2
    - audienceslots << slot

    - slot = {name:"Educators", bgc: "118, 101, 160", bgc_body1: "248, 247, 250", bgc_head: "118, 101, 160", bgc_body: "166, 155, 193", links: []}
    -   slot[:links] << {img: "/shared/images/courses/logo_tall_teacher.jpg", caption: "Teacher dashboard", url: "http://studio.code.org"}
    -   slot[:links] << {blurb: "Educators, explore our curriculum and training, then manage your entire class."}
    -   slot[:links] << {text: "Learn about our K-5 program", url: "/educate/k5"}
    -   slot[:links] << {text: "Find a K-5 educator workshop", url: "/professional-development-workshops"}
    -   slot[:links] << {text: "See our full K-12 curriculum", url: "/educate"}
    -#   slot[:links] << {text: "Host an Hour of Code", priority: 2} # p2
    - audienceslots << slot

    - slot = {name:"Advocates", bgc: "185, 191, 21", bgc_body1: "252, 252, 243", bgc_head: "0, 148, 202",  bgc_body: "89, 185, 220",links: []}
    -   slot[:links] << {img: "/images/homepage/girl.jpg", caption: "Support", url: "/promote"}
    -   slot[:links] << {blurb: "Help support Code.org in expanding computer science education everywhere."} 
    -   slot[:links] << {text: "Support CS in your state", url: "/promote"}
    -   slot[:links] << {text: "Donate to Code.org", url: "/donate"}
    -   slot[:links] << {text: "Buy a t-shirt or hat", url: "http://store.code.org", priority: 2} # p2
    -#   slot[:links] << {text: "Advocacy tools  ", priority: 2} # p2
    - audienceslots << slot

    - slot = {name:"Highlights", bgc: "255, 184, 29", bgc_body1: "230, 230, 230", bgc_head: "185, 191, 21",  bgc_body: "209, 213, 103",links: []}
    -   slot[:links] << {img: "/shared/images/courses/logo_tall_frozen.jpg", caption: "Frozen", url: "/frozen"}
    -   slot[:links] << {blurb: "Check out the latest news, features and tutorial releases."}
    -   slot[:links] << {text: "Try the Hour of Code", url: "/learn"}
    -   slot[:links] << {text: "Latest News", url: "/about/news"}
    -   slot[:links] << {text: "Code Studio", url: "http://studio.code.org"}
    - audienceslots << slot

    - audienceslots.each_with_index do |row, rowindex|
      -# display = entry[:active_s] == "hide" ? "none" : "block"
      .slot{style: "display: #{display}"}
        = view :homepage_linkslot_tall_wider_white, entry: row, bgc_head: row[:bgc_head], bgc_body: row[:bgc_body], bgc_body1: row[:bgc_body1]

  .clear{style: "clear:both"}


  -#### User hero for signed-in users

  - if request.site == 'code.org'
    .container_responsive{style: "margin-top:40px; margin-bottom: 40px"}
      #user_hero

    %div{style: 'clear:both;'}


  -#### News & gallery

  -#%h1#newsheader{style: "font-size: 24px; margin-top:80px; margin-bottom:40px; text-align:center; color: rgb(102,102,102)"}
    Code.org news and updates

  #newsandgallery{style: "overflow:hidden; display: table; margin-top:20px"}

    - bgc_head =  "255, 198, 74"  # "255,184,29" * 0.8
    - bgc_body =  "255, 251, 244"  # "255,184,29" * 0.05

    -#.col-50#newscolumn.same-height-column{:style=>"margin-bottom:20px; margin-top:20px; background-color: rgb(#{bgc_body}); display: table-cell; border: 5px solid white;"}     
      .headingbox{style: "background-color: rgb(#{bgc_head}); left:0px;color:white; width:100%; padding:10px; font-size:20px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
        Latest Highlights
      .thelinks{style: "padding: 10px; height:100% "}
        -count = 0
        -DB[:cdo_news_items].where(site_s:'all').or(site_s:request.site).limit(4).each do |value|
          -unless count == 0
            -#%hr.narrow_hr
            %div{style: "height:10px"}
          %a{:href=>value[:url_s], :target=>'_blank'}
            =value[:heading_s]
          %br
          = value[:date_dt]
          -#= '//'
          = value[:publication_s]
          -count += 1
        %br
        %br
        %a{:href=>'/about/news'} See all news

    - bgc_head =  "51, 169, 213"  # "0,148,202" * 0.8
    - bgc_body = "255, 164, 0"        # "0,148,202" * 0.05

    .col-100#gallerycolumn.same-height-column{:style=>"margin-bottom:20px;  margin-top:20px; display: table-cell; border: 5px solid white; /*background-color: rgb(#{bgc_body}); */ "}
      .thebox{style: "/*background-color: rgb(#{bgc_body});*/ "}
        .headingbox{style: "background-color: rgb(#{bgc_body}); left:0px;color:white; width:100%; padding:10px; font-size:20px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
          Made in Code Studio
        .thelinks{style: "padding: 10px; height:100% "}
          %img{style: "float:left; width:50%", src:"/shared/images/gallery/artist_gallery_thumbnails.png"}
          %img{style: "float:left; width:50%", src:"/shared/images/gallery/playlab_gallery_thumbnails.png"}

  %script{:src=>"/js/jquery.placeholder.js"}


  -if request.site != 'csedweek.org'

    #donorslider{style: "background-color:rgb(175, 165, 200); margin-top:30px; padding-top:10px; margin-bottom:0px"}
      .container_responsive{style: "margin-top:30px; margin-bottom:0px"}
        #donorheader{style: "position:relative; height:60px"}
          %h1{style: "width:100%; font-size: 24px; margin: 0px; padding:0px; text-align:center; color: rgb(255,255,255); position: absolute; top:0px;  font-family: 'Gotham 4r', sans-serif"}
            Code.org thanks its supporters

          #donorlinks.desktop-feature{style: "text-align:right; position:absolute; width:100%"}
            %a{href: "/about/donors", style: "color:white"} See all
            &nbsp; &nbsp; &nbsp;
            %a{href: "/donate", style: "color:white"} Donate

        = view :donor_slider2

= view 'popup_window.js'


- video_code = nil
- download_filename = nil
- facebook = nil
- twitter = nil

- video_actions = DB[:cdo_homepage].where(type_s: "action", param1_s: "video", active_s: ["show","hide"], site_s: [request.site,"both"]).all
- video_actions.each_with_index do |entry, index|
  - video_code = entry[:param2_s]
  - if video_code == "nKIu9yen5nc"
    - download_filename = 'HoC-video-15mb.mp4'
    - facebook = {:u=>"http://#{request.site}/"}
    - if request.site == 'csedweek.org'
      - twitter = {:related=>'codeorg', :hashtags=>'', :text=>I18n.t(:hoc_is_here)}
      - twitter[:hashtags] = 'HourOfCode' unless I18n.t(:hoc_is_here).include? '#HourOfCode'
    - else
      - twitter = {:related=>'codeorg', :hashtags=>'', :text=>I18n.t(:twitter_teach_cs)}
    - twitter[:url] = "http://#{request.site}/" unless twitter[:text].include? "http://#{request.site}/" || "#{twitter[:text]} http://#{request.site}/".length > 140

- unless video_code.nil_or_empty?
  #videofullwidth{style: "position:absolute; left: 0; top: 0; width: 100%"}
    = view :display_video_lightbox, id: "mainvideo", video_code: video_code, download_filename: download_filename, facebook:facebook, twitter:twitter


:javascript
  var petition;

  $(document).ready()
  {
    petition = new Petition();
  }
  
  $(document).ready()
  {
    showQuote(null, 0);
  }

  function showQuote(lastImage, nextImage)
  {
    if (lastImage !== null)
    {
      var lastImageId = "#captionarea" + lastImage;
      //console.log("hiding", lastImageId);
      $(lastImageId + " .caption1").animate({left: "50px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption2").animate({left: "30px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption3").animate({opacity:0}, { duration: 2000 });
    }

    if (nextImageId !== null) 
    {
      var nextImageId = "#captionarea" + nextImage;
      //console.log("showing", nextImageId);
      $(nextImageId + " .caption1").delay(1500).animate({ left: "0px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption2").delay(2000).animate({ left: "60px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption3").delay(4500).animate({ opacity: 0.6 }, { duration: 2000 });
    }

    $(".action").delay(4000).animate({ opacity: 1 }, { duration: 2000 });
  }

- if request.site == 'code.org'
  :javascript
    $(document).ready(function() {
      $.ajax({
        type: "GET",
        url: '/dashboardapi/user_hero',
        //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
        success: function(data) {
          // data is ur summary
          $('#user_hero').html(data);
        }
      });
    });

:javascript

  function adjustScroll(destination)
  {
    $('html, body').animate({
      scrollTop: $("#" + destination).offset().top
    }, 1000);
  }

  var currentImage = 0;
  var timerId;
  var videoStarted = false;

  function cycleImage()
  {
    var numWideHeroes = $(".widehero").length;

    var lastImage = currentImage;
    var nextImage = (currentImage + 1) % numWideHeroes;
    $("#fullwidth" + currentImage).fadeTo(4000, 0);
    $("#fullwidth" + nextImage).fadeTo(4000, videoStarted ? 0.3 : 1);
    currentImage = nextImage;

    showQuote(lastImage, currentImage);
  }

  $.ready()
  {
    timerId = setInterval(cycleImage, 13000);
  }

