---
theme: responsive_wide
banner:
layout: wide
video_player: true
social:
  twitter:site: "@codeorg"
  twitter:url: https://code.org/
critical_font: true
jquery: defer
style_min: true
---
:ruby
  @header["title"] = hoc_s(:hoc2020_header)

=inline_css 'homepage.css'

- cookie_key = environment_specific_cookie_name '_user_type'
- user_type = request.cookies[cookie_key]
- user_type = "student" if user_type == "student_y"
- if ["student", "teacher"].include?(user_type)
  - redirect CDO.studio_url('/home', CDO.default_scheme)

#homepage.supreme-container
  = view :homepage_hero

  - if request.language == "en"
    = view :curriculum_banner
    = view :homepage_below_hero_special2020_banner
    = view :homepage_below_hero_announcement
    = view :homepage_below_hero_plane_banner
    = view :stats_homepage
  - else
    = view :homepage_below_hero_announcement
    = view :homepage_below_hero_announcement_code_break

  = view :homepage_sections
  = view :homepage_gallery
  = view :donor_slider

= view :homepage_video
