---
title: "<%= I18n.t(:hoc2018_creativity_what_will_you_create) %>"
theme: responsive_wide
banner: null
layout: wide
video_player: true
social:
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/"
critical_font: true
jquery: defer
style_min: true
---
%script{src: "https://cdn.optimizely.com/js/400912536.js"}
=inline_css 'homepage.css'

- cookie_key = '_user_type' + (rack_env == :production ? '' : "_#{rack_env.to_s}")
- user_type = request.cookies[cookie_key]
- user_type = "student" if user_type == "student_y"
- if ["student", "teacher"].include?(user_type)
  - redirect CDO.studio_url('/home', CDO.default_scheme)

#homepage.supreme-container
  = view :homepage_hero
  = view :curriculum_banner

  - if request.language == "en"
    = view :homepage_below_hero_announcement
    = view :stats_homepage
  - else
    = view :homepage_below_hero_announcement
    #petitionexpand{style: "display: block"}
      = view :petition_expand

  = view :homepage_sections
  = view :homepage_gallery
  = view :donor_slider

= view :homepage_video
