---
theme: responsive
banner: null
layout: wide
<%
  if request.site == 'csedweek.org'
%>
social:
  "og:title": "The Hour of Code is here"
  "og:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries and over 30 languages. Ages 4 to 104."
  "og:image": "http://csedweek.org/images/hoc-video-thumbnail.jpg"
  "og:image:width": "1200"
  "og:image:height": "627"
  "og:video:url": "http://youtubeeducation.com/v/FC5FbmsH4fw"
  "og:video:secure_url": "https://youtubeeducation.com/v/FC5FbmsH4fw"
  "og:video:type": "application/x-shockwave-flash"
  "og:video:width": "640"
  "og:video:height": "360"
  "twitter:card": "player"
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/"
  "twitter:title": "The Hour of Code is here"
  "twitter:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries and over 30 languages. Ages 4 to 104."
  "twitter:image:src": "http://csedweek.org/images/hoc-video-thumbnail.jpg"
  "twitter:player": "https://youtubeeducation.com/v/FC5FbmsH4fw"
  "twitter:player:width": "640"
  "twitter:player:height": "360"
<%
  else
%>
social:
  "og:title": "Every child deserves opportunity"
  "og:description": "Every student in every school deserves the opportunity to study computer science."
  "og:image": "http://code.org/images/code-video-thumbnail.jpg"
  "og:image:width": "1440"
  "og:image:height": "810"
  "og:video:url": "http://youtubeeducation.com/v/nKIu9yen5nc"
  "og:video:secure_url": "https://youtubeeducation.com/v/nKIu9yen5nc"
  "og:video:type": "application/x-shockwave-flash"
  "og:video:width": "640"
  "og:video:height": "360"
<%
  end
%>

---

#top{style: "position:relative; width:100%; overflow:hidden"}
  - heroes = DB[:cdo_homepage].where(type_s: "widehero", active_s: ["show","hide"], site_s: [request.site,"both"]).all
  - heroes.shuffle!
  - heroes.each_with_index do |entry, index|
    - display = entry[:active_s] == "hide" ? "none" : "block"
    - opacity = index == 0 ? 1 : 0
    .widehero{id: "fullwidth#{index}", style: "display: #{display}; z-index: -5; position:absolute; left: 0; top: 0; background-image: url(#{entry[:image_t]}); background-repeat: no-repeat; background-size: cover; width: 100%; height:100%; opacity: #{opacity}; background-position: 50% 20%"}

  #fullwidth{style: "width: 100%;"}
    .thegap{style: "height: 1px"}
      &nbsp;
    #desktop-header.desktop-feature
      = view :header
    #mobile-header.mobile-headers.mobile-feature
      = view :mobile_header_responsive      

  .container_responsive{style: "color: white; font-size: 24px"}
    .col-66{style: "position:relative;"}

      - heroes.each_with_index do |entry, index|
        - display = entry[:active_s] == "hide" ? "none" : "block"
        - unless entry[:text1_s].nil_or_empty?
          - lines = entry[:text1_s].lines 
          %div{id: "captionarea#{index}", style: "position:absolute; left:0; top:0; text-align:center; width:100%; color:#eee"}
            .caption1{style: "left: 50px; top: 68px; position: absolute; opacity: 0"}
              =lines[0]
            .caption2{style: "left: 30px; top: 107px; position: absolute; opacity: 0"}
              =lines[1]
            .caption3{style: "left: 140px; top: 156px; position: absolute; opacity: 0; font-size: 18px"}
              =lines[2]

      #leftvideo{style: "width: 100%"}
        = view :index_video_reveal
        %div{style:"clear:both"}
        %br/

    .col-33{style: "position:relative; padding: 20px; margin-top:40px; text-align:center"}     
      #playvideo{style: "opacity: 0"}
        %img{src: "/shared/images/play-button.png", width:"40", onclick: "return startVideo();", style: "cursor: pointer"}
        %span{style: "font-size:20px"}
          Watch the video
      %div{style: "height:40px"}
      #action{style: "opacity: 0"}
        %button{style: "font-weight: 500; font-size: 20px; height: 50px", onclick: "expandPetition(); adjustScroll('petitionblock');"}
          Sign the petition

#slots{style: "text-align:center"}
  - DB[:cdo_homepage].where(type_s: "slot", active_s: ["show","hide"], site_s: [request.site,"both"]).all do |entry|
    - display = entry[:active_s] == "hide" ? "none" : "block"
    .slot{style: "display: #{display}"}
      = view :homepage_quarterslot, entry: entry

-facebook = {:u=>"http://#{request.site}/"}

-if request.site == 'csedweek.org'
  -twitter = {:related=>'codeorg', :hashtags=>'', :text=>I18n.t(:hoc_is_here)}
  -twitter[:hashtags] = 'HourOfCode' unless I18n.t(:hoc_is_here).include? '#HourOfCode'
-else
  -twitter = {:related=>'codeorg', :hashtags=>'', :text=>"Why don't more schools teach computer science? We can fix this. http://youtu.be/nKIu9yen5nc. Visit http://code.org/ to learn more."}

-twitter[:url] = "http://#{request.site}/" unless twitter[:text].include? "http://#{request.site}/" || "#{twitter[:text]} http://#{request.site}/".length > 140

%script{:src=>"/js/jquery.placeholder.js"}

- if request.site == 'code.org'
  #user_hero

  %div{style: 'clear:both;'}

- if DB[:cdo_homepage].where(type_s: "petition")
  = view :petition_expand

= view 'popup_window.js'

:javascript
  var petition;

  $(document).ready()
  {
    petition = new Petition();
  }
  
  $(document).ready()
  {
    showQuote(null, 0);
  }

  function showQuote(lastImage, nextImage)
  {
    if (lastImage !== null)
    {
      var lastImageId = "#captionarea" + lastImage;
      //console.log("hiding", lastImageId);
      $(lastImageId + " .caption1").animate({left: "50px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption2").animate({left: "30px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption3").animate({opacity:0}, { duration: 2000 });
    }

    if (nextImageId !== null) 
    {
      var nextImageId = "#captionarea" + nextImage;
      //console.log("showing", nextImageId);
      $(nextImageId + " .caption1").delay(500).animate({ left: "0px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption2").delay(1000).animate({ left: "80px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption3").delay(3500).animate({ opacity: 0.6 }, { duration: 2000 });
    }

    $("#playvideo").delay(4000).animate({ opacity: 1 }, { duration: 2000 });
    $("#action").delay(5000).animate({ opacity: 1 }, { duration: 2000 });
  }

- if request.site == 'code.org'
  :javascript
    $(document).ready_not(function() {
      $.ajax({
        type: "GET",
        url: '/dashboardapi/user_hero',
        //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
        success: function(data) {
          // data is ur summary
          $('#user_hero').html(data);
        }
      });
    });

:javascript

  function adjustScroll(destination)
  {
    $('html, body').animate({
      scrollTop: $("#" + destination).offset().top
    }, 1000);
  }

  var currentImage = 0;
  var timerId;
  var videoStarted = false;

  function cycleImage()
  {
    var numWideHeroes = $(".widehero").length;

    var lastImage = currentImage;
    var nextImage = (currentImage + 1) % numWideHeroes;
    $("#fullwidth" + currentImage).fadeTo(4000, 0);
    $("#fullwidth" + nextImage ).fadeTo(4000, videoStarted ? 0.3 : 1);
    currentImage = nextImage;

    showQuote(lastImage, currentImage);
  }

  $.ready()
  {
    timerId = setInterval(cycleImage, 13000);
  }

  function startVideo()
  {
    if (videoStarted)
      return;

    $("<iframe allowfullscreen frameborder='0' src='https://www.youtubeeducation.com/embed/FC5FbmsH4fw?iv_load_policy=3&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;autoplay=1&cc_load_policy=1' style='position:absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:black;'></iframe>").appendTo("#videodiv");

    $("#videodiv").fadeTo(1000, 1);
    $("#leftbutton").fadeTo(500, 0).remove();

    $("#fullwidth" + currentImage).fadeTo(1000, 0.3);

    videoStarted = true;
    clearInterval(timerId);

    showQuote(currentImage, null);
  }
