---
theme: responsive_wide
banner: null
layout: wide
video_player: true
social:
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/"
critical_font: true
jquery: defer
style_min: true
---
=inline_css 'homepage.css'
=inline_css 'user-hero.css'

- cookie_key = '_user_type' + (rack_env == :production ? '' : "_#{rack_env.to_s}")
- user_type = request.cookies[cookie_key]
- user_type = "student" if user_type == "student_y"
- if ["student", "teacher"].include?(user_type)
  - redirect CDO.studio_url('/home', CDO.default_scheme)

#homepage.supreme-container
  = view :homepage_hero

  - if request.language == "en"
    = view :homepage_professional_learning_2018
    = view :stats_homepage
  - else
    #petitionexpand{style: "display: block"}
      = view :petition_expand

  #user_hero
    .container_responsive
      #user_hero

  = view :homepage_sections
  = view :homepage_gallery
  = view :donor_slider

= view :homepage_video
