---
<%
  mode = DCDO.get('hoc_mode', nil)
  hoc = mode == 'soon-hoc' || mode == 'actual-hoc'
  share_image = hoc ? 'celeb-challenge.jpg' : 'default-og-image.jpg'
  description = hoc ? I18n.t(:og_description_celeb) : I18n.t(:og_description)

  title = I18n.t(:og_title)
  title = I18n.t(:og_title_soon) if mode == 'soon-hoc'
  title = I18n.t(:og_title_here) if mode == 'actual-hoc'
%>
theme: responsive_wide
banner: null
layout: wide
video_player: true
social:
  "og:title": "<%= title %>"
  "og:description": "<%= description %>"
  "og:image" : "<%= 'https://' + request.host + '/images/fit-1220/social-media/' + share_image %>"
  "og:image:width": '1220'
  "og:image:height": '640'
  "twitter:image:src" : "<%= 'https://' + request.host + '/images/fit-1220/social-media/' + share_image %>"
  "twitter:card": "photo"
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/"
  "twitter:title": "<%= title %>"
  "twitter:description": "<%= description %>"
critical_font: true
jquery: defer
style_min: true
---
=inline_css 'homepage.css'
=inline_css 'user-hero.css'

- cookie_key = '_user_type' + (rack_env == :production ? '' : "_#{rack_env.to_s}")
- user_type = request.cookies[cookie_key]
- if ["student", "teacher"].include?(user_type)
  - redirect CDO.studio_url('/home', CDO.default_scheme)

-# The homepage gsheet may specify "en" or "not en" for many row types.
- languageFilter = request.language == "en" ? "en" : "not en"

#homepage.supreme-container
  = view :homepage_hero, languageFilter: languageFilter

  - if request.language == "en"
    = view :stats_homepage
  - else
    #petitionexpand{style: "display: block"}
      - if DB[:cdo_homepage].where(type_s: "petition")
        = view :petition_expand

  #user_hero
    .container_responsive
      #user_hero

  = view :homepage_sections, languageFilter: languageFilter

  = view :homepage_gallery
  = view :donor_slider

= view :homepage_video
