---
theme: responsive_wide
banner: null
layout: wide
video_player: true
social:
  "og:title": "<%= I18n.t(:og_title) %>"
  "og:description": "<%= I18n.t(:og_description)%>"
  "og:image": "https://code.org/images/code-video-thumbnail.jpg"
  "og:image:width": "1440"
  "og:image:height": "810"
  "og:video:url": "http://youtube.com/v/nKIu9yen5nc"
  "og:video:secure_url": "https://youtube.com/v/nKIu9yen5nc"
  "og:video:type": "application/x-shockwave-flash"
  "og:video:width": "640"
  "og:video:height": "360"
  "twitter:card": player
  "twitter:site": "@codeorg"
  "twitter:url": "https://code.org/"
  "twitter:title": "<%= I18n.t(:og_title) %>"
  "twitter:description": "<%= I18n.t(:og_description)%>"
  "twitter:image:src": "https://code.org/images/code-video-thumbnail.jpg"
---

%link{:href=>"/css/homepage.css", :rel=>"stylesheet"}
%link{:href=>"/shared/css/user-hero.css", :rel=>"stylesheet"}
%link{:href=>"/shared/css/buttons.css", :rel=>"stylesheet"}

-# The homepage gsheet may specify "en" or "not en" for many row types.
- languageFilter = request.language == "en" ? "en" : "not en"

- page_mode = PageMode.get(request)

#homepage.supreme-container
  = view :homepage_hero, languageFilter: languageFilter, page_mode: page_mode

  #petitionexpand{style: "display: none"}
    %script{:src=>"/js/jquery.placeholder.js"}
    - if request.locale == 'en-US'
      = view :congress_link
    - else
      - if DB[:cdo_homepage].where(type_s: "petition")
        = view :petition_expand

  #user_hero
    .container_responsive
      #user_hero

  = view :homepage_sections, languageFilter: languageFilter, page_mode: page_mode

  = view :homepage_gallery
  = view :donor_slider

= view :homepage_video


:javascript

  $(document).ready()
  {
    // For IE8, can't start with opacity in the HTML, so we made things display: none.  Now we show them but
    // set opacity to 0, ready for code to start showing them by fading them in.
    $("#petitionexpand").css({display: "block", opacity: 0});
  }

  $(document).ready(function() {
    $.ajax({
      type: "GET",
      url: '/dashboardapi/user_hero',
      //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
      complete: function(data, status) {
        if (data.responseText == "" || status !== "success") {
          $("#petitionexpand").animate({opacity:1}, { duration: 2000 });
          $('#user_hero').css({display: "none"});
          //$("#petitionaction").animate({opacity:1}, { duration: 2000 });
        } else {
          $("#petitionexpand").css({display: "none"});
          // data is ur summary
          $('#user_hero').html(data.responseText, status);
        }
      }
    });
  });

