---
title: Leaderboards for the Hour of Code
theme: responsive

social:
  'og:image' : "http://csedweek.org/images/girls-58-boys-42.jpg"
  'og:title' : 'Who has done the Hour of Code?'
  'og:description' : "Over 400 million Hours of Code have been served in 180+ countries and 45+ languages. Anyone can learn an hour of computer science."
  "twitter:card" : 'photo'
  "twitter:site" : "@codeorg"
  "twitter:title" : "Who has done the Hour of Code?"
  "twitter:image:src" : "http://csedweek.org/images/girls-58-boys-42.jpg"
  "twitter:image:width" : 759
  "twitter:image:height" : 208
---
-twitter_message = I18n.t('who_has_done_hoc_donor', donor_twitter: get_random_donor_twitter)
-facebook = {:u=>"https://www.facebook.com/photo.php?fbid=521364791293162"}
-twitter = {:url=>"http://#{request.site}/leaderboards", :related=>'codeorg', :hashtags=>'', :text=>twitter_message}
-twitter[:hashtags] = 'HourOfCode' unless twitter_message.include? '#HourOfCode'

-hoc_metrics = fetch_hoc_metrics
-started = format_integer_with_commas(hoc_metrics['started'])

-loc = format_integer_with_commas(fetch_metrics['lines_of_code'])

#congrats.mobile-pad{:style=>'margin: 0 auto;'}
  %h1{:style=>'margin-bottom:10px'} The Hour of Code Leaderboards
  %div{:style=>'font-size:18px'}
    %b= "Total participation: #{started} served. Students have written #{loc} lines of code."

  = view :votes, results:hoc_metrics
  %br

  %div{:style=>'float:left; margin-right:20px'}
    = view :share_buttons, facebook:facebook, twitter:twitter

  %div{:style=>'float:left'}
    %a{:href=>CDO.code_org_url('/learn')}
      %button{:style=>"margin-top:10px; font-family: 'Gotham 5r', sans-serif;"}= "Start the Hour of Code now"

  %div{:style=>'clear:both;'}

  %br

  .col-50
    %h3.special_heading{:style=>'margin-top: 20px'}=I18n.t :country
    -hoc_metrics['countries'].keys.first(40).each do |country|
      =country
      %hr.grey_hr_fine{:style=>'margin-right:40px'}

  .col-50
    %h3.special_heading{:style=>'margin-top: 20px'}=I18n.t :city
    -hoc_metrics['cities'].keys.first(40).each do |city|
      =city
      %hr.grey_hr_fine{:style=>'margin-right:40px'}

  %div{:style=>'clear:both;'}
    %br
    %a{:href=>CDO.code_org_url('/learn')}
      %button{:style=>"font-family: 'Gotham 5r', sans-serif;"}= "Start the Hour of Code now"

= view 'popup_window.js'
