---
Title: Lesson Plans
allow_post: true
theme: responsive
---
#breadcrumb
  %br/
  %a{href: CDO.studio_url('/home')}= I18n.t :dashboard_navigation_home_page
  %span{style: "opacity:0.5"} &nbsp; &#9654; &nbsp;
  %b{style: "color: #ff8b02;"}= I18n.t :dashboard_navigation_lesson_plans_resources

#curriculum_resources
  %h2= I18n.t :dashboard_curriculum_k5_title

  - %w(coursea courseb coursec coursed coursee coursef pre-express express).each do |course|
    = view :course_curriculum, course: course, series: "2.0"

  - %w(course1 course2 course3 course4).each do |course|
    = view :course_curriculum, course: course, series: "1.0"

  %p
    %a{href: CDO.code_org_url('/curriculum/docs/k-5/complete.pdf'), target: '_blank'}
      = I18n.t :dashboard_view_all_lesson_plans
  %p
    != I18n.t :dashboard_unplugged_markdown, unplugged_url: CDO.code_org_url('/curriculum/unplugged'), markdown: :inline

  %h2= I18n.t :dashboard_curriculum_middle_title
  %p
    = I18n.t :dashboard_curriculum_csd
    %a{href: "https://studio.code.org/courses/csd-2021", target: '_blank'}
      = I18n.t :dashboard_lesson_plans
    |
    %a{href: "https://studio.code.org/courses/csd-2021/standards", target: '_blank'}
      = I18n.t :dashboard_standards

  = view :course_curriculum, course: "express", series: "2.0"

  %p
    = I18n.t :dashboard_curriculum_csins
    %a{href: CDO.code_org_url('curriculum/science')}
      = I18n.t :dashboard_curriculum
  %p
    = I18n.t :dashboard_curriculum_csina
    %a{href: CDO.code_org_url('/curriculum/algebra')}
      = I18n.t :dashboard_curriculum
    |
    %a{href: CDO.code_org_url('/curriculum/docs/algebra/overview.pdf'), target: '_blank'}
      = I18n.t :dashboard_overview
    |
    %a{href: CDO.code_org_url('/curriculum/docs/algebra/framework.pdf'), target: '_blank'}
      = I18n.t :dashboard_framework
    |
    %a{href: CDO.code_org_url('/curriculum/docs/algebra/standards.pdf'), target: '_blank'}
      = I18n.t :dashboard_standards

  %h2= I18n.t :dashboard_curriculum_high_title
  %p
    = I18n.t :dashboard_curriculum_csd
    %a{href: "https://studio.code.org/courses/csd-2021", target: '_blank'}
      = I18n.t :dashboard_lesson_plans
    |
    %a{href: "https://studio.code.org/courses/csd-2021/standards", target: '_blank'}
      = I18n.t :dashboard_standards

  %p
    = I18n.t :dashboard_curriculum_csp
    %a{href: CDO.code_org_url('/educate/csp')}
      = I18n.t :dashboard_curriculum

  = view :course_curriculum, course: "express", series: "2.0"

  %p
    = I18n.t :dashboard_curriculum_apcsa
    %a{href: CDO.code_org_url('/educate/curriculum/apcsa')}
      = I18n.t :dashboard_curriculum
  %p
    = I18n.t :dashboard_tools
    %a{href: CDO.code_org_url('/applab')}
      = I18n.t :applab_name
    |
    %a{href: CDO.code_org_url('/gamelab')}
      = I18n.t :gamelab_name

  %h2= I18n.t :dashboard_landing_classroom_resources
  %p
    %a{href: CDO.code_org_url('/educate/inspire'), target: '_blank'}
      = I18n.t :dashboard_landing_inspire
  %p
    %a{href: CDO.code_org_url('/educate/videos'), target: '_blank'}
      = I18n.t :dashboard_landing_video_library
  %p
    %a{href: 'https://support.code.org/hc/en-us/requests/new', target: '_blank'}
      = I18n.t :dashboard_landing_report_bug
  %p
    %a{href: 'http://forum.code.org/', target: '_blank'}
      = I18n.t :dashboard_landing_teacher_forum
