---
title: Minecraft
theme: responsive
video_player: true
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/mc"
  "twitter:image:src" : "https://code.org/images/mc/mc_social.jpg"
  "twitter:title": "Minecraft Hour of Code"
  "twitter:description": "Use blocks of code to take Steve or Alex on an adventure through this Minecraft world"
  "og:title": "Minecraft Hour of Code"
  "og:description": "Use blocks of code to take Steve or Alex on an adventure through this Minecraft world"
  "og:image" : "https://code.org/images/mc/mc_social.jpg"
  "og:image:width": "1920"
  "og:image:height": "1080"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

-#
  Because of partner requirements, all urls need to use mc, but our internal shortcut is "mchoc".
  Hoc.com has a mc.redirect to his page and the router has a check for "code.org/MC" and "hoc.com/MC"

%link{href: "/css/mc.css", rel: "stylesheet"}

%div{style: "clear:both"}

.mc-container
  .img-container
    %img.mc-img{src:"/images/fit-1940/mc/MC_Wide_Big_2_V4.jpg"}


  .mc-tutorial
    %h1.mc-h1= I18n.t(:hour_of_code)
    .tutorial-box
      .mc-tutorial-info
        %h1.mc-h1-second-box= I18n.t(:mc_name)
        %p.mc-tutorial-description= I18n.t(:mc_longdescription)
        %p.mc-tutorial-specs= I18n.t(:mc_specs)
      %a{:href => CDO.studio_url('/s/mc/reset'), :target=>'_self'}
        %button= I18n.t(:starwars_javascript_start_button)

%div{style: "clear:both"}

%h2.mc-header2
  = I18n.t(:starwars_speak_languages)
  %a{href: "/translate/mc"}= I18n.t(:starwars_help_translate)

.mc-videos{style: "clear: both;"}
  %h2.mc-header2= I18n.t(:starwars_watch_videos)
  =view :inspirational_videos

%h2.mc-header2
  = I18n.t(:starwars_speak_languages)
  %a{href: "/translate/mc"}= I18n.t(:starwars_help_translate)

