---
title: AI Oceans
theme: responsive
---
:ruby
  launch_ai = DCDO.get('launch_ai', nil)
  tutorial = {
    heading: hoc_s(:oceans_landing_title),
    background_image: "/images/fit-1940/sw_landingpage.jpg",
    left_heading: hoc_s(:oceans_landing_title),
    left_description: hoc_s(:oceans_landing_description),
    left_specs: hoc_s(:oceans_landing_specs),
    left_button_link: '/api/hour/begin/starwars',
    left_button_text: I18n.t(:try_now),
    id_for_mobile_image: "ocean-mobile-image",
    skip_right_box: true
  }

  resources = {
    left_link: "https://www.microsoft.com/en-us/store/locations/events-for-students",
    left_image: CDO.code_org_url("/images/fill-485x260/mc/minecraft_teacher_small1.jpg"),
    left_heading: hoc_s(:oceans_landing_teacher_resources),
    left_description: hoc_s(:oceans_landing_teacher_resources_desc),
    left_button_text: hoc_s(:oceans_landing_resource_button),
    right_link: "/csforgood",
    right_image: CDO.code_org_url("/images/fill-485x260/mc/minecraft_teacher_small1.jpg"),
    right_heading: hoc_s(:oceans_landing_cs_for_good),
    right_description: hoc_s(:oceans_landing_cs_for_good_desc),
    right_button_text: hoc_s(:oceans_landing_resource_button)
  }

:css
  @media screen and (min-width: 0px) and (max-width: 970px) {
    #ocean-mobile-image {
      background-image: url(/images/fit-520/starwars_carousel_background.jpg);
    }
  }

  .tutorial-promo-container {
    width: 100%;
    padding-left: 5px;
    position: relative;
  }

  .background-img {
    width: 100%;
    border-radius: 5px;
  }

  .tutorial-details {
    margin-top: 0px;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 80px;

  }

  .tutorial-heading {
    color: white;
    font-size: 30px;
    margin-bottom: 20px
  }

  .tutorial-description {
    color: white;
    font-size: 14px;
  }

  .tutorial-specs {
    color: white;
    font-size: 12px;
    line-height: 16px;
  }

  .tutorial-button {
    font-size: 18px;
    height: 40px;
  }

%div{style: "display: #{launch_ai ? 'block' : 'none'}"}

  .tutorial-promo-container
    .img-container
      %img.background-img{src: '/images/fit-1940//ocean-background.png'}
    .tutorial-details
      %h1.tutorial-heading=hoc_s(:oceans_landing_title)
      %p.tutorial-description= tutorial[:left_description]
      %p.tutorial-description=hoc_s(:cs_for_good_hashtag)
      %p.tutorial-specs= tutorial[:left_specs]
      %a{href: tutorial[:left_button_link], target: '_self'}
        %button.tutorial-button= tutorial[:left_button_text]

  %div{style: "clear: both; margin-top: 20px;"}

  = view :resource_boxes, resources: resources

.clear
