---
title: Play Lab
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/playlab"
  "twitter:image:src" : "https://code.org/images/mc/mc_social.jpg"
  "twitter:title": "Minecraft Hour of Code"
  "twitter:description": "Use blocks of code to take Steve or Alex on an adventure through this Minecraft world"
  "og:title": "Minecraft Hour of Code"
  "og:description": "Use blocks of code to take Steve or Alex on an adventure through this Minecraft world"
  "og:image" : "https://code.org/images/mc/mc_social.jpg"
  "og:image:width": "1920"
  "og:image:height": "1080"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

- page_mode = PageMode.get(request)

%link{href: "/css/tutorial-landing.css", rel: "stylesheet"}

%div{style: "clear:both"}

.playlab-container
  %h1= I18n.t(:playlab_choose_theme)
  %div.image-collection
    %a.while-link{href: "https://studio.code.org/s/playlab/stage/1/puzzle/1"}
      %div.choice
        %div.choice-container
          %div.choice-label.purple= I18n.t(:playlab_classic_title)
          %img.character-img{src: "/images/playlab_original3.png"}
    %a{href: "https://studio.code.org/s/gumball/stage/1/puzzle/1"}
      %div.choice
        %div.choice-container
          %div.choice-label.blue= I18n.t(:playlab_gumball_title)
          %img.character-img{src: "/images/playlab_gumball.png"}
    %a{}
      %div.choice
        %div.choice-container
          %div.choice-label.green= I18n.t(:playlab_iceage_title)
          %img.character-img{src: "/images/playlab_iceage.png"}

%div{style: "clear:both"}

.inspire-videos{style: "clear: both;"}
  %h2= I18n.t(:starwars_watch_videos)
  =view :inspirational_videos

%span= I18n.t(:starwars_speak_languages)
%a{href: "/translate"}= I18n.t(:starwars_help_translate)
