---
title: Coding with Poetry
theme: responsive_full_width
set_dir: true
---

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/code.org/public/poetry.js')}

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/poetry-styles.css", rel: "stylesheet"}

%section.hero-banner-basic
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s('poetry_page.heading')
      %p.white
        =hoc_s('poetry_page.desc')
    %figure
      = view :display_video_thumbnail, id: "indigenous_and_tech", video_code: "f-Jsn9gmVtE", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/naipi/jael_whitney_v6_sm.mp4"
    .clear

%section
  .wrapper
    %h2
      =hoc_s('poetry_page.poetry_course_content.heading')
    %p
      =hoc_s('poetry_page.poetry_course_content.desc')
    = view :"poetry/poetry_courses"

%section.bg-pattern-dark
  .wrapper
    %h2.centered.white
      =hoc_s('heading_featured_student_projects')
    #student_poetry_projects

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s('poetry_page.continue_learning.title')
    %p.centered
      =hoc_s('poetry_page.continue_learning.desc')
    .action-block.action-block--two-col.white.continue_learning
      .media-wrapper.col-50
        = view :display_video_thumbnail, id: "csc_curricula", video_code: "GDcKJ1v2W1s", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/curriculum_videos/curriculum_video_csc.mp4"
      .text-wrapper.col-50
        .flex-container.justify-space-between.align-items-start
          %p.overline
            =hoc_s(:module_label_grades)
            =hoc_s(:module_grade_3_5)
        %h3.heading-md
          = hoc_s(:curriculum_name_csc)
        %p
          = hoc_s(:csc_page_top_desc)
        %a.link-button{href: CDO.code_org_url("/csc")}
          = hoc_s('poetry_page.continue_learning.button_curricula')
        %a.link-button.secondary{href: CDO.studio_url("/s/self-paced-pl-csc-2023")}
          = hoc_s('poetry_page.continue_learning.explore_pl')
      .clear

%section
  .wrapper
    %h2.centered
      =hoc_s('heading_additional_resources')
    %p.centered
      =hoc_s('poetry_page.additional_resources.desc')
    = view :"poetry/additional_resources"
