---
title: Star Wars
theme: responsive
video_player: true
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/starwars"
  "twitter:image:src" : "https://code.org/images/star-wars-announcement.jpg"
  "twitter:title": "Star Wars: Building a Galaxy with Code"
  "twitter:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:title": "Star Wars: Building a Galaxy with Code"
  "og:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:image" : "https://code.org/images/star-wars-announcement.jpg"
  "og:image:width": "1920"
  "og:image:height": "1080"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/starwars.css", rel: "stylesheet"}

%div{style: "clear:both"}

.starwars-container
  .img-container
    %img.starwars-img{src:"/images/fit-1940/sw_landingpage.jpg"}
  %h1.starwars-heading= I18n.t(:starwars_subtitle)

  .col-25.starwars-tutorial.starwars-js-tutorial{style: "display: none"}
    .tutorial-box
      %h2.sw-h2= I18n.t(:starwars_javascript_title)
      .sw-tutorial-info
        %p.sw-tutorial-description= I18n.t(:starwars_javascript_description)
        %p.sw-tutorial-specs= I18n.t(:starwars_javascript_specs)
      %a{:href => '/api/hour/begin/starwars', :target=>'_self'}
        %button.sw-try-button= I18n.t(:try_now)

  .col-25.starwars-tutorial.starwars-blocks-tutorial
    .tutorial-box
      %h2.sw-h2= I18n.t(:starwars_blocks_title)
      .sw-tutorial-info
        %p.sw-tutorial-description= I18n.t(:starwars_blocks_description)
        %p.sw-tutorial-specs= I18n.t(:starwars_blocks_specs)
      %a{:href => '/api/hour/begin/starwarsblocks', :target=>'_self'}
        %button.sw-try-button= I18n.t(:try_now)

%div{style: "clear:both"}

.starwars-videos{style: "clear: both;"}
  %h2.sw-header2= I18n.t(:watch_inspirational_videos)
  =view :inspirational_videos

%h2.sw-header2
  = I18n.t(:speak_another_language)
  %a{href: "/translate/starwarws"}= I18n.t(:help_translate)

%h2.sw-header2
  = I18n.t(:no_internet)
  %a{href: CDO.studio_url("/download/starwars")}= I18n.t(:download_offline)

= view 'mobilecheck.js'

:javascript

  $(document).ready(function() {
    if (!window.mobilecheck() && "#{request.locale}" == "en-US") {
      $('.starwars-js-tutorial').show();
    }
  });
