---
title: Star Wars
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/starwars"
  "twitter:image:src" : "https://code.org/images/star-wars-announcement.jpg"
  "twitter:title": "Star Wars: Building a Galaxy with Code"
  "twitter:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:title": "Star Wars: Building a Galaxy with Code"
  "og:description": "Learn to program droids, and create your own Star Wars game in a galaxy far, far away."
  "og:image" : "https://code.org/images/star-wars-announcement.jpg"
  "og:image:width": "1920"
  "og:image:height": "1080"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
video_player: true
style_min: true
---

%link{href: "/css/starwars.css", rel: "stylesheet"}
%div{dir: language_dir_class}
  :ruby
    tutorial = {
      heading: I18n.t(:starwars_subtitle),
      background_image: "/images/fit-1940/sw_landingpage.jpg",
      left_heading: I18n.t(:starwars_javascript_title),
      left_description: I18n.t(:starwars_javascript_description),
      left_specs: I18n.t(:starwars_javascript_specs),
      left_button_link: '/api/hour/begin/starwars',
      left_button_text: I18n.t(:try_now),
      right_heading:  I18n.t(:starwars_blocks_title),
      right_description: I18n.t(:starwars_blocks_description),
      right_specs: I18n.t(:starwars_blocks_specs),
      right_button_link: '/api/hour/begin/starwarsblocks',
      right_button_text: I18n.t(:try_now),
      id_for_mobile_image: "starwars-mobile-image",
    }

  = view :tutorial_promo, tutorial: tutorial

  %div{style: "clear:both"}

  %h2.sw-header2
    = I18n.t(:no_internet)
    %a{href: CDO.studio_url("/download/starwars")}= I18n.t(:download_offline)

  .starwars-videos{style: "clear: both;"}
    %h2.sw-header2= I18n.t(:watch_inspirational_videos)
    =view :inspirational_videos

  %h2.sw-header2
    = I18n.t(:are_you_teacher)
    %a{href: "/hourofcode/starwars"}= I18n.t(:review_lesson_plan)

  %h2.sw-header2
    = I18n.t(:speak_another_language)
    %a{href: "/translate/starwars"}= I18n.t(:help_translate)
