---
title: Student Overview
theme: responsive
---

%link{:href=>"/css/student.css", :rel=>"stylesheet"}

%h1 Learn Computer Science

- hoc_picture = capture_haml do
  %img.side-image{src: "/images/fit-485/student/hour_of_code.jpg"}

- hoc_text = capture_haml do
  .side-description-area
    .description
      %h2.resource-title Hour of Code
      Get started by choosing a tutorial from over 100 one hour computer science activities from Code.org and partners. Join 10% of the world's students; it's your turn to try!
    %a{href: "/learn"}
      %button.orange-button Start

- studio_text = capture_haml do
  .side-description-area
    .description
      %h2.resource-title Courses on Code Studio
      Code Studio is the most popular coding platform in K-12 education. We offer fun introductory courses you can learn alone or in a classroom, all the way through full year computer science curriculum for middle or high school.
    %a{href: CDO.studio_url}
      %button.orange-button I'm a student
    &nbsp;&nbsp;
    %a{href: "/educate"}
      %button.gray-button I'm a teacher

- studio_picture = capture_haml do
  %img.side-image{src: "/images/fit-485/student/courses.jpg"}

- other_picture = capture_haml do
  %img.side-image{src: "/images/fit-485/student/highschool.jpg"}

- other_text = capture_haml do
  .side-description-area
    .description
      %h2.resource-title Courses from 3rd parties
      Check out some of the 3rd party online courses we recommend, or find a local workshop, school, or summer camp to learn in a classroom.
    %a{href: "/learn/beyond"}
      %button.orange-button Learn online
    &nbsp;&nbsp;
    %a{href: "/learn/local"}
      %button.gray-button Local classes

-# Show Hour of Code first when soon or actually Hour of Code time.  Otherwise, show Code Studio first.
- if ["soon-hoc", "actual-hoc"].include?(DCDO.get("hoc_mode", false))
  .full-resource-block
    .left.col-50-student= hoc_picture
    .right.col-50-student= hoc_text
  .full-resource-block.desktop-feature
    .left.col-50-student= studio_text
    .right.col-50-student= studio_picture
  .full-resource-block.mobile-feature
    .left.col-50-student= studio_picture
    .right.col-50-student= studio_text
- else
  .full-resource-block
    .left.col-50-student= studio_picture
    .right.col-50-student= studio_text
  .full-resource-block#2.desktop-feature
    .left.col-50-student= hoc_text
    .right.col-50-student= hoc_picture
  .full-resource-block.mobile-feature
    .left.col-50-student= hoc_picture
    .right.col-50-student= hoc_text

.full-resource-block
  .left.col-50-student= other_picture
  .right.col-50-student= other_text
