---
title: Teach Computer Science
theme: responsive_full_width
---

-# %script{data: {'amplitude-api-key': CDO.safe_amplitude_api_key}}
%link{href: '/css/generated/design-system-pegasus.css', rel: 'stylesheet'}
%link{href: "/css/generated/teach-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_party_horn = "fa-solid fa-party-horn"
- icon_lightbulb_on = "fa-solid fa-lightbulb-on"
- icon_link = "fa-solid fa-link"

%section.top
  .wrapper
    .text-wrapper.col-50
      %h1 Teach computer science & ignite possibilities
      %p Tap into your students' full potential with Code.org's free Computer Science (CS) curriculum.
      %p.body-two Join the global community of over 2 million educators empowering the next generation of innovators, problem solvers, and digital citizens! Code.org supports teachers the whole way with professional learning, comprehensive curricula, and support when you need it.
      %a{href: CDO.studio_url("/users/sign_up"), class: "link-button"} Sign up for free
    %figure.col-45{style: "float: right"}
      %img.rounded-corners.primary-shadow{src: "/images/teach-page-top.png", alt: "", style: "position: relative; width: 100%;"}
    .clear

%section.why-teach-cs.bg-neutral-light
  .wrapper
    %h2.centered Why teach computer science with Code.org?
    %div.grid-container
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-01.png", alt: ""}
        .text-wrapper
          %h3.heading-sm Build foundational CS skills
          %p Like reading, writing, or math, computer science is foundational to other pursuits. It teaches problem solving and critical thinking, and  enables students to actively participate in an increasingly digital society.
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-02.png", alt: ""}
        .text-wrapper
          %h3.heading-sm Leverage comprehensive teaching resources
          %p In-depth lesson plans and flexible professional learning options ensure teachers with diverse backgrounds can successfully teach computer science.
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-03.png", alt: ""}
        .text-wrapper
          %h3.heading-sm Unlock pathways for all students
          %p Computing occupations are the largest, fastest-growing, and best-paying sector of all new wages in the U.S.
      %div.flex-container
        %figure
          %img{src: "/images/teach-page-why-cs-04.png", alt: ""}
        .text-wrapper
          %h3.heading-sm Understand a world changed by AI
          %p Teach students how AI works and how to use it safely. Our Professional Learning encourages curiosity and confidence with this evolving technology.
          %a{href: "/ai"} Explore AI resources
    %hr.dark
    %div.centered
      %h4 Start teaching computer science with Code.org today!
      %a.link-button{href: CDO.studio_url("/catalog")} Explore the Curriculum Catalog

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text When you utilize Code.org's curriculum, you have everything there for you. It has the questions that you need to ask your students. It has the lessons that you need to teach and it gives you guidance on how to do it. So if you come in without any experience in computer science, it's there for you. If you have experience with computer science and teaching it before, it's going to give you a new way of approaching how to teach your students.
      %p.no-margin-bottom Kevin Barry <span>•</span> CS Discoveries Teacher

%section.free-curriculum
  .wrapper
    %h2.centered Free, engaging curriculum
    %p.centered We want you to bring Computer Science to your school without worrying about the cost. That's why we have committed to our curriculum offerings being free forever!
    %div.flex-container.justify-space-between.wrap-reverse
      %ul.icon-bullet-list.full-width.col-60
        %li
          %div
            %i{class: "#{icon_party_horn}"}
          .text-wrapper
            %h3 Engaging curriculum for every grade level
            %p.no-margin-bottom  Free, flexible, and fun curriculum with offerings in over 67 languages.
        %li
          %div
            %i{class: "#{icon_lightbulb_on}"}
          .text-wrapper
            %h3 Adaptable, innovative curriculum
            %p.no-margin-bottom Code.org offers everything from full-year curricula to single-unit activities. Plus, we update our curricula annually to support best practices and areas of focus, and create new offerings that teach current in-demand topics.
        %li.no-margin-bottom
          %div
            %i{class: "#{icon_link}"}
          .text-wrapper
            %h3 Structured curriculum mapped to national standards
            %p.no-margin-bottom Each curriculum is mapped to at least one set of national standards, including CSTA, Next Generation Science Standards, and Common Core.
      %figure.rounded-corners.col-33{style: "float: right"}
    .clear
    %hr.dark
    %div.centered
      %h4 Explore our curriculum offerings for different grade levels:
      %div.flex-container.justify-center.wrap{style: "gap: 1rem"}
        %a.link-button{href: CDO.studio_url("/catalog?grade=grade_1&grade=grade_2&grade=grade_3&grade=grade_4&grade=grade_5&grade=kindergarten")}
          Elementary School
        %a.link-button{href: CDO.studio_url("/catalog?grade=grade_6&grade=grade_7&grade=grade_8")}
          Middle School
        %a.link-button{href: CDO.studio_url("/catalog?grade=grade_10&grade=grade_11&grade=grade_12&grade=grade_9")}
          High School

%section.resources.bg-neutral-light.centered
  .wrapper
    %h2 Resources that support you every step of the way
    %p Signing up for a Code.org account gives you access to materials that will help you teach computer science with confidence. Code.org has extensive resources designed to support educators, even those without prior CS teaching experience. Click the tabs to learn more about the resources.

%section.curriculum-offerings.centered
  .wrapper
    %h2 Curriculum offerings students love
    %p There are so many amazing offerings to explore. Here are just a few of our new and popular offerings.

    %a.link-button.secondary{href: CDO.studio_url("/catalog")}
      See full Curriculum Catalog

%section.pl-offerings.bg-neutral-light.centered
  .wrapper
    - if request.language == "en"
      = view :teach_page_pl_english
    - else
      = view :teach_page_pl_intl

- if request.language == "en"
  %section.bg-primary-light.centered
    .wrapper
      %p.no-margin-bottom
        %strong
          Are you a district leader or administrator? <a href="/administrators">Find out how to bring Code.org to your district</a>.

%section
  .wrapper
    %h2.centered Additional supports and materials
    %p.centered Beyond curriculum and professional learning we have many materials to support your classroom.
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 Career Education
          %img{src: "/images/teach-page-resources-01.png", alt: ""}
          %p Easy-to-use resources designed to help you illuminate real-world connections and give students opportunities to explore different career pathways.
        .content-footer
          %a.link-button{href: "/csjourneys", target: "_blank", rel: "noopener noreferrer"}
            Explore career resources
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 Video Library
          %img{src: "/images/teach-page-resources-02.png", alt: ""}
          %p We offer a growing library of educational videos for use by educators worldwide, online or in classrooms. Our goal is to amplify our efforts beyond our own curriculum's reach.
        .content-footer
          %a.link-button{href: "/educate/resources/videos", target: "_blank", rel: "noopener noreferrer"}
            Explore videos
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 Classroom Posters
          %img{src: "/images/teach-page-resources-03.png", alt: ""}
          %p Print these posters of diverse role models to hang in your school and inspire your students to try computer science.
        .content-footer
          %a.link-button{href: "/educate/resources/posters", target: "_blank", rel: "noopener noreferrer"}
            Download posters

-# = view :analytics_event_log_helper, event_name: AnalyticsConstants::TEACHER_LOGIN_EVENT
