---
title: Young Women in CS
theme: responsive_full_width
---

-# Set this to true or false when applications open or
-# close to show the corresponding version of the page.
- applications_closed = false

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/young-women-in-cs-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_megaphone = "fa-solid fa-megaphone"

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s(:yw_page_top_heading)
      %p.body-one.white
        =hoc_s(:yw_page_top_desc)
      - if !applications_closed
        %a.link-button.has-icon.has-external-link{href: "https://forms.gle/mMKtxq27VcS5sAeX6", target: "_blank", rel: "noopener noreferrer"}
          %div.flex-wrapper
            %i{class: "#{icon_megaphone}"}
            =hoc_s(:call_to_action_applications_open)

%section.intro
  .wrapper
    .flex-container.justify-space-between.wrap-reverse
      %div.col-50
        = view :display_video_thumbnail, id: "intro_csf", video_code: "HEy97hHI2wA", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/young-women-in-cs/young-women-in-cs-v2.mp4"
      .text-wrapper.col-45{style: "margin-bottom: 1rem"}
        %h2=hoc_s(:heading_cs_ambassador_program)
        %p.heading-xs
          =hoc_s(:cs_ambassador_subhead)
        %p.body-three
          =hoc_s(:cs_ambassador_desc)

%section.applications.bg-primary-light
  .wrapper
    .flex-container.justify-space-between.align-items-center.wrap
      .text-wrapper
        %h2
          =hoc_s((!applications_closed ? :call_to_action_applications_open_exclamation : :cs_ambassador_application_closed_title))
        - if !applications_closed
          -# %p.heading-xs
            -# =hoc_s(:cs_ambassador_priority_deadline)
          %p.heading-xs.no-margin-bottom
            =hoc_s(:cs_ambassador_application_subhead)
        %p.body-three
          =hoc_s((!applications_closed ? :cs_ambassador_application_questions : :cs_ambassador_application_closed_subhead), markdown: :inline, locals:{email_url: "mailto:youngwomen@code.org"})
        %p.body-three
          =hoc_s(:cs_ambassador_application_parter_program, markdown: :inline)
      - if !applications_closed
        = view :"young_women_in_cs/yw_apply_button"

%section.cs-amb-do
  .wrapper
    %h2
    .flex-container.justify-space-between.wrap
      %figure.img-wrapper.rounded-corners.col-45
      .text-wrapper.col-50
        %h2=hoc_s(:cs_ambassador_do_heading)
        %p.body-three
          =hoc_s(:cs_ambassador_do_desc)

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s(:cs_ambassador_steps_heading)
    = view :"young_women_in_cs/yw_prerequisites"
    - if !applications_closed
      = view :"young_women_in_cs/yw_apply_button"

%section
  .wrapper
    %h2.centered
      =hoc_s(:cs_ambassador_benefits_heading)
    = view :"young_women_in_cs/yw_icon_list"
    - if !applications_closed
      .centered
        = view :"young_women_in_cs/yw_apply_button"

%section#partner-program.bg-neutral-light
  .wrapper
    %h2=hoc_s(:cs_ambassador_partner_program_heading)
    %p.body-two
      =hoc_s(:cs_ambassador_partner_program_desc)
    .flex-container.justify-space-between.wrap
      .text-wrapper.col-50
        %p.heading-xs
          =hoc_s(:cs_ambassador_partner_program_title)
        %ul
          %li=hoc_s(:cs_ambassador_partner_program_desc_01)
          %li=hoc_s(:cs_ambassador_partner_program_desc_02)
          %li=hoc_s(:cs_ambassador_partner_program_desc_03)
          %li=hoc_s(:cs_ambassador_partner_program_desc_04)
        %p.body-three
          =hoc_s(:cs_ambassador_partner_program_get_involved, markdown: :inline, locals: {email_url: "mailto:youngwomen@code.org"})
      %figure.img-wrapper.rounded-corners.col-45

