---
title: Tools and videos
video_player: true
theme: responsive
style_min: true
---


# Video library

We are building a growing library of educational videos available for re-use by educators worldwide, online or in classrooms. Our goal is to enable our efforts to be amplified beyond our own curriculum's reach. **Note:** see bottom of page for the licensing restrictions on use of these videos.

<h2>How AI Works</h2>
<p style="margin-bottom: 25px">With an introduction by Microsoft CEO Satya Nadella, this series of short videos will introduce you to how artificial intelligence works and why it matters. Learn about neural networks, or how AI learns, and delve into issues like algorithmic bias and the ethics of AI decision-making.</p>
<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/Ok-xpKjKp2g'}
twitter = {:url=>'https://youtu.be/Ok-xpKjKp2g', :related=>'codeorg', :text=>'Introducing How AI Works @codeorg'} %>
<%=view :display_video_thumbnail, id: "introducing_ai", video_code: "Ok-xpKjKp2g", caption: "Introducing How AI Works", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/KHbwOetbmbs'}
twitter = {:url=>'https://youtu.be/KHbwOetbmbs', :related=>'codeorg', :text=>'What is Machine Learning? @codeorg'} %>
<%=view :display_video_thumbnail, id: "what_is_ml", video_code: "OeU5m6vRyCk", caption: "What is Machine Learning?", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div style="clear: both;"></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/x2mRoFNm22g'}
twitter = {:url=>'https://youtu.be/x2mRoFNm22g', :related=>'codeorg', :text=>'Training Data & Bias @codeorg'} %>
<%=view :display_video_thumbnail, id: "training_data_and_bias", video_code: "x2mRoFNm22g", caption: "Training Data & Bias", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/x2mRoFNm22gg'}
twitter = {:url=>'https://youtu.be/x2mRoFNm22g', :related=>'codeorg', :text=>'Neural Networks @codeorg'} %>
<%=view :display_video_thumbnail, id: "neural_networks", video_code: "JrXazCEACVo", caption: "Neural Networks", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div style="clear: both"></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/2hXG8v8p0KM'}
twitter = {:url=>'https://youtu.be/2hXG8v8p0KM', :related=>'codeorg', :text=>'Computer Vision @codeorg'} %>
<%=view :display_video_thumbnail, id: "computer_vision", video_code: "2hXG8v8p0KM", caption: "Computer Vision", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/tJQSyzBUAew'}
twitter = {:url=>'https://youtu.be/tJQSyzBUAew', :related=>'codeorg', :text=>'Ethics & AI: Equal Access and Algorithmic Bias @codeorg'} %>
<%=view :display_video_thumbnail, id: "bias_and_access", video_code: "tJQSyzBUAew", caption: "Ethics & AI: Equal Access and Algorithmic Bias", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div style="clear: both"></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/zNxw5gJtHLc'}
twitter = {:url=>'https://youtu.be/zNxw5gJtHLc', :related=>'codeorg', :text=>'Ethics & AI: Privacy and the Future of Work @codeorg'} %>
<%=view :display_video_thumbnail, id: "automation_and_privacy", video_code: "zNxw5gJtHLc", caption: "Ethics & AI: Privacy and the Future of Work", play_button: 'center', letterbox: 'false', facebook: facebook, twitter: twitter %>

</div>

<div style="clear: both"></div>

## How Computers Work

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/OAx_6-wdslM'}
twitter = {:url=>'https://youtu.be/OAx_6-wdslM', :related=>'codeorg', :text=>'Introducing How Computers Work @codeorg'} %>
<%= view :display_video_thumbnail, id: "how_computers_work", video_code: "OAx_6-wdslM", caption: "Introducing How Computers Work", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/cs-discoveries/concept/01_HowComputersWork_sm.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/mCq8-xTH7jA'}
twitter = {:url=>'https://youtu.be/mCq8-xTH7jA', :related=>'codeorg', :text=>'What Makes a Computer, a Computer? @codeorg'} %>
<%= view :display_video_thumbnail, id: "makes_a_computer", video_code: "mCq8-xTH7jA", caption: "What Makes a Computer, a Computer?", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/cs-discoveries/concept/02_WhatMakesAComputer_sm.mp4" %>

</div>

<div style="clear: both;"></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/USCBCmwMCDA'}
twitter = {:url=>'https://youtu.be/USCBCmwMCDA', :related=>'codeorg', :text=>'Binary and Data @codeorg'} %>
<%= view :display_video_thumbnail, id: "binary_data", video_code: "USCBCmwMCDA", caption: "Binary and Data", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/cs-discoveries/concept/03_BinaryData_sm.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/ZoqMiFKspAA'}
twitter = {:url=>'https://youtu.be/ZoqMiFKspAA', :related=>'codeorg', :text=>'Circuits Logic @codeorg'} %>
<%= view :display_video_thumbnail, id: "circuits_logic", video_code: "ZoqMiFKspAA", caption: "Circuits Logic", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/cs-discoveries/concept/04_CircuitsLogic_sm.mp4" %>

</div>

<div style="clear: both;"></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/DKGZlaPlVLY'}
twitter = {:url=>'https://youtu.be/DKGZlaPlVLY', :related=>'codeorg', :text=>'CPU, Memory, Input, and Output @codeorg'} %>
<%=view :display_video_thumbnail, id: "cpu_memory_io", video_code: "DKGZlaPlVLY", caption: "CPU, Memory, Input, and Output", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/cs-discoveries/concept/05_CPUMemoryIO_sm.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/xnyFYiK2rSY'}
twitter = {:url=>'https://youtu.be/xnyFYiK2rSY', :related=>'codeorg', :text=>'Hardware and Software @codeorg'} %>
<%=view :display_video_thumbnail, id: "hardware_software", video_code: "xnyFYiK2rSY", caption: "Hardware and Software", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/cs-discoveries/concept/06_HardwareSoftware_sm.mp4" %>

</div>

<div style="clear: both;"></div>

## How the internet works
<a name="Howtheinternetworks"></a>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/Dxcc6ycZ73M'}
twitter = {:url=>'https://youtu.be/Dxcc6ycZ73M', :related=>'codeorg', :text=>'What is the internet? @codeorg'} %>
<%=view :display_video_thumbnail, id: "what_is_the_internet", video_code: "Dxcc6ycZ73M", caption: "What is the internet?", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/what_is_the_internet.mp4"%>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/ZhEf7e4kopM'}
twitter = {:url=>'https://youtu.be/ZhEf7e4kopM', :related=>'codeorg', :text=>'THE INTERNET: Wires, Cables & Wifi @codeorg'} %>
<%=view :display_video_thumbnail, id: "wires", video_code: "ZhEf7e4kopM", caption: "THE INTERNET: Wires, Cables, & Wifi", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_internet_wires_cables_wifi.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/5o8CwafCxnU'}
twitter = {:url=>'https://youtu.be/5o8CwafCxnU', :related=>'codeorg', :text=>'THE INTERNET: IP Addresses and DNS @codeorg'} %>
<%=view :display_video_thumbnail, id: "ip", video_code: "5o8CwafCxnU", caption: "THE INTERNET: IP Addresses and DNS ", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_internet_ip_dns.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/AYdF7b3nMto'}
twitter = {:url=>'https://youtu.be/AYdF7b3nMto', :related=>'codeorg', :text=>'THE INTERNET: Packets, Routing and Reliability @codeorg'} %>
<%=view :display_video_thumbnail, id: "packets", video_code: "AYdF7b3nMto", caption: "THE INTERNET: Packets, Routing and Reliability", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_internet_packets_reliability.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/kBXQZMmiA4s'}
twitter = {:url=>'https://youtu.be/kBXQZMmiA4s', :related=>'codeorg', :text=>'THE INTERNET: HTTP and HTML @codeorg'} %>
<%=view :display_video_thumbnail, id: "http", video_code: "kBXQZMmiA4s", caption: "THE INTERNET: HTTP and HTML", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_http_html.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/ZghMPWGXexs'}
twitter = {:url=>'https://youtu.be/ZghMPWGXexs', :related=>'codeorg', :text=>'THE INTERNET: Encryption & Public Keys @codeorg'} %>
<%=view :display_video_thumbnail, id: "encryption", video_code: "ZghMPWGXexs", caption: "THE INTERNET: Encryption & Public Keys", play_button: 'center',  facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_encryption.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/AuYNXgO_f3Y'}
twitter = {:url=>'https://youtu.be/AuYNXgO_f3Y', :related=>'codeorg', :text=>'THE INTERNET: Cybersecurity & Crime @codeorg'} %>
<%=view :display_video_thumbnail, id: "cybersecurity", video_code: "AuYNXgO_f3Y", caption: "THE INTERNET: Cybersecurity & Crime", play_button: 'center',  facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_cybercrime.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/LVV_93mBfSU'}
twitter = {:url=>'https://youtu.be/LVV_93mBfSU', :related=>'codeorg', :text=>'THE INTERNET: How Search Works @codeorg'} %>
<%=view :display_video_thumbnail, id: "howsearchworks", video_code: "LVV_93mBfSU", caption: "THE INTERNET: How Search Works", play_button: 'center',  facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/how_search_works.mp4" %>

</div>

<div style="clear: both;"></div>

## Computer Science Principles

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://www.youtube.com/watch?t=66&v=15aqFQQVBWU'}
twitter = {:url=>'https://www.youtube.com/watch?t=66&v=15aqFQQVBWU', :related=>'codeorg', :text=>'Instagram founder explains PIXELS @codeorg'} %>
<%=view :display_video_thumbnail, id: "pixels", video_code: "15aqFQQVBWU", caption: "Instagram founder explains PIXELS", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_rgb.mp4"%>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/By30SCp-Tsw'}
twitter = {:url=>'https://youtu.be/By30SCp-Tsw', :related=>'codeorg', :text=>'Aloe Blacc explains DIGITAL COMPRESSION @codeorg'} %>
<%=view :display_video_thumbnail, id: "compression", video_code: "By30SCp-Tsw", caption: "Aloe Blacc explains DIGITAL COMPRESSION", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/textcompression_blacc_short.mp4"%>

[/col-50]

<div style="clear: both;"></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/bMrDHtGHFR4'}
twitter = {:url=>'https://youtu.be/bMrDHtGHFR4', :related=>'codeorg', :text=>'Computer science in Data and Medicine @codeorg'} %><%=view :display_video_thumbnail, id: "data_medicine", video_code: "bMrDHtGHFR4", caption: "Computer science in Data and Medicine", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//videos.code.org/2015/csp/concept_bigdata_medicine.mp4"%>

</div>

<div style="clear: both;"></div>

## The basics of computer science

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/fVUL-vzrIcM'}
twitter = {:url=>'https://youtu.be/fVUL-vzrIcM', :related=>'codeorg', :text=>'Bill Gates explains IF/ELSE statements @codeorg'} %>
<%=view :display_video_thumbnail, id: "bill_gates_conditionals", video_code: "fVUL-vzrIcM", caption: "Bill Gates explains IF/ELSE statements", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//s3.amazonaws.com/videos.code.org/2015/social/bill-gates-saloni-ifelse-general.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/vgkahOzFH2Q'}
twitter = {:url=>'https://youtu.be/vgkahOzFH2Q', :related=>'codeorg', :text=>'How to use PAIR PROGRAMMING @codeorg'} %>
<%=view :display_video_thumbnail, id: "pair_programming", video_code: "vgkahOzFH2Q", caption: "How to use PAIR PROGRAMMING", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//s3.amazonaws.com/videos.code.org/2015/social/pair-programming.mp4" %>

</div>

<div style='clear:both'></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/hYvcoRkAkOU'}
twitter = {:url=>'https://youtu.be/hYvcoRkAkOU', :related=>'codeorg', :text=>'Mark Zuckerberg explains REPEAT LOOPS @codeorg'} %>
<%=view :display_video_thumbnail, id: "repeat_loops", video_code: "hYvcoRkAkOU", caption: "Mark Zuckerberg explains REPEAT LOOPS", play_button: 'center',  facebook: facebook, twitter: twitter, download_path: "//s3.amazonaws.com/videos.code.org/2015/social/zuckerburg-repeat-general.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/8T5acEwfJbw'}
twitter = {:url=>'https://youtu.be/8T5acEwfJbw', :related=>'codeorg', :text=>'Chris Bosh explains FUNCTIONS @codeorg'} %>
<%=view :display_video_thumbnail, id: "functions", video_code: "8T5acEwfJbw", caption: "Chris Bosh explains FUNCTIONS", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//s3.amazonaws.com/videos.code.org/2015/social/bosh-functions-general.mp4" %>

</div>

<div style='clear:both'></div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/jsUN0NV5RfQ'}
twitter = {:url=>'https://youtu.be/jsUN0NV5RfQ', :related=>'codeorg', :text=>'Chris Bosh explains REPEAT UNTIL @codeorg'} %>
<%=view :display_video_thumbnail, id: "repeat_until", video_code: "jsUN0NV5RfQ", caption: "Chris Bosh explains REPEAT UNTIL", play_button: 'center', facebook: facebook, twitter: twitter, download_path: "//s3.amazonaws.com/videos.code.org/2015/social/bosh-repeat-general.mp4" %>

</div>

<div class="col-50" style="float: left; padding: 10px;">

<% facebook = {:u=>'https://youtu.be/eZqKqI8AvnA'}
twitter = {:url=>'https://youtu.be/eZqKqI8AvnA', :related=>'codeorg', :text=>'PERSISTENCE and building a foundation @codeorg'} %>
<%=view :display_video_thumbnail, id: "persistence", video_code: "eZqKqI8AvnA", caption: "PERSISTENCE and building a foundation", play_button: 'center',  facebook: facebook, twitter: twitter, download_path: "//s3.amazonaws.com/videos.code.org/2015/social/building-a-foundation.mp4" %>

</div>

<div style='clear:both'></div>

<a id="inspirational-videos"></a>

## Inspirational videos

<div style="float:left; padding:10px">

<%= view :inspirational_videos %>

</div>

<div style='clear:both'></div>

---

**For terms of use, please see "Your License to Use Code.org Videos, Tutorials, Data, and APIs" in our [Terms of Service](/tos).**

![image](/images/cc-logo.png)

<br>
<br>
