%p#notice= notice

%p Hello #{@user_course_enrollment.user.name}, here is your progress for #{@user_course_enrollment.professional_learning_course.name}

-@user_course_enrollment.user_enrollment_module_assignment.each do |module_enrollment|
  %p
    %strong #{module_enrollment.learning_module.name}
    - module_enrollment.user_module_artifact_assignment.each do |artifact_assignment|
      %p #{artifact_assignment.artifact.name} - #{artifact_assignment.status}


= link_to 'Edit', edit_user_course_enrollment_path(@user_course_enrollment)
\|
= link_to 'Back', user_course_enrollments_path
