- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'

%h1 Professional Learning Content

.outlined_section
  %h4 Courses
  -@courses.each do |course|
    = link_to course.name, course
    - course.plc_course_units.each do |course_unit|
      %li
        = link_to course_unit.unit_name, course_unit
        - course_unit.plc_learning_modules.each do |learning_module|
          %li{style: 'margin-left: 10px; list-style: circle;'}
            = link_to learning_module.name, learning_module
    %br
  .new_link
    = link_to 'Add new course', new_plc_course_path, class: 'btn'

%br
