---
title: "Join the largest learning event in history, Dec 8-14, 2014"
social:
  "twitter:card": player
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/"
  "twitter:title": "Join the largest learning event in history, Dec 8-14, 2014"
  "twitter:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries. Anyone, anywhere can organize an Hour of Code event. One-hour tutorials are available in over 30 languages. <strong>No experience needed. Ages 4 to 104.</strong>"
  "twitter:image:src": 'http://csedweek.org/images/hour-of-code-2014-video-thumbnail.jpg'
  "twitter:player": 'https://www.youtubeeducation.com/embed/rH7AjDMz_dc?iv_load_policy=3&rel=0&autohide=1&showinfo=0'
  "twitter:player:width": 1920
  "twitter:player:height": 1080
max_age: 60
---

-share_link = "http://hourofcode.com/"

-facebook = {:u=>"#{share_link}"}

-twitter = {:url=>"#{share_link}", :related=>'codeorg', :hashtags=>'', :text=>'Join the largest learning event in history, Dec 8-14, 2014'}
-twitter[:hashtags] = 'HourOfCode'

-pass unless form = DB[:forms].where(kind:'CompanyProfile', name:request.splat_path_info[1..-1]).first
-@company = company = JSON.parse(form[:data])
-if company['gplus_b']
  -gplus = {:url=>"#{share_link}"}
-hoc_count = DB[:hoc_activity].where(company:company['name_s']).count(:id)
-num_employees = company['num_employees_i'] ? Integer(company['num_employees_i']) : nil
-if (num_employees && num_employees != 0)
  -hoc_percent = [(hoc_count.to_f / num_employees * 100).floor, 100].min
-hoc_percent ||= nil
-employees_string = company['employees_string_s'] ? company['employees_string_s'] : "employees"

%link{rel: "stylesheet", type: "text/css", href: "/css/ee.css"}/

= view 'popup_window.js'

-name_in_header_b = company['name_in_header_b'] || nil
-header_name = name_in_header_b ? company['display_name_s'] : nil
#company_header= view :employee_engagement_header, company_name:header_name, logo_path:company['logo_path_s']

#intro_top.ee_markdown
  -if company['intro_top_copy_t']
    =TextRender.safe_markdown company['intro_top_copy_t']
  -else
    =view :company_profile_intro_top

%br

#top
  #video.col-63.desktop-pad-right{style: 'padding-right: 30px;'}
    = view :employee_engagement_video, custom_video_key:company['video_key_s']

  #start.col-36
    #companystats.col-mobile-44
      .count{:style=>'font-size: 32px; line-height: 32px; font-weight:500' }
        #{format_integer_with_commas(hoc_count)}
        -if num_employees
          of #{format_integer_with_commas(company['num_employees_i'])} 
        #{company['display_name_s']} #{employees_string} have tried the Hour of Code.
        %h4.desktop-feature{style: 'font-size: 22px;'}
          -if hoc_percent
            #{hoc_percent}% Started
      %br

      #getstarted.col-mobile-44
        #largegap.mobile-show-medium
        %a{:href=>"/api/hour/begin_company/#{company['name_s']}"}
          %button.btn.btn-default.ee_button
            Start now
      %br
      %a.ee_link{:href=>"http://hourofcode.com/"} Host an Hour of Code
      %br
      %a.ee_link{:href=>"http://code.org/donate/#{company['name_s']}"} Support the campaign
   

  #below.mobile-center{:style=>'clear:both; overflow:hidden; padding-top: 0px'}
    -unless company['video_key_s']
      = view :share_buttons, facebook:facebook, twitter:twitter, gplus:gplus, download_url:"http://s3.amazonaws.com/cdo-videos/HoC-video-15mb.mp4"

#intro_bottom.ee_markdown
  -if company['intro_bottom_copy_t']
    =TextRender.safe_markdown company['intro_bottom_copy_t']
  -else
    =view :company_profile_intro_bottom

.row
  .col-xs-12
    =view :stats_hoc_2013
