- @page_title = @section.name

:javascript

  var loginType = "#{escape_javascript @section.login_type}";
  var loginTypePicture = "#{Section::LOGIN_TYPE_PICTURE}";
  var loginTypeWord = "#{Section::LOGIN_TYPE_WORD}";
  var pairingAllowed = #{@section.pairing_allowed};

  $(function() {
    // Select name.
    $('ul.students li').click(function() {
      $('ul.students li').removeClass('selected');
      $(this).addClass('selected');
      $('input#user_id').val($(this).attr('id'));

      if (loginType == loginTypeWord) {
        // Clear the password.
        $('#secret_words').val("");
      } else if (loginType == loginTypePicture) {
        // Deselect picture.
        $('ul.pictures li').removeClass('selected');
      }

      // Disable the login button.
      $('#login_button').prop('disabled', true);

      // Hide the pairing checkbox
      $('#pairing_checkbox').hide();


      // Reveal the secret section...
      $('#secret').hide().slideDown();

      // ...and simultaneously fade in the login button.
      $('#login_button').fadeIn();
    });

    // Select secret picture.
    $('ul.pictures li').click(function() {
      $('ul.pictures li').removeClass('selected');
      $(this).addClass('selected');
      $('input#secret_picture_id').val($(this).attr('id'));

      // Show the pairing checkbox
      if (pairingAllowed) {
        $('#pairing_checkbox').show();
      }

      // Enable the login button.
      $('#login_button').prop('disabled', false);
    });

    // Type something in password box.
    $('#secret_words').keyup(function() {
      // Show the pairing checkbox
      if (pairingAllowed) {
        $('#pairing_checkbox').show();
      }

      // Enable the login button.
      $('#login_button').prop('disabled', false);
    });
  });

#signinsection
  %h2
    =t('signinsection.welcome', section_name: @section.name)

  %div#user
    %h4.instructions
      = succeed '*' do
        = t('signinsection.name')
    %ul.students
      - @section.name_safe_students.each do |student|
        %li{id: student.id}
          = student.name
    .clear

  %br
  = precede '*' do
    != t('signinsection.student_privacy', student_privacy_blog: 'http://teacherblog.code.org/post/156768797364/privacy-concern-with-using-student-full-names')

  - if @section.login_type == Section::LOGIN_TYPE_PICTURE
    #secret{style: 'display: none;'}
      %h4.instructions= t('signinsection.picture')
      %ul.pictures
        - @secret_pictures.each do |secret_picture|
          %li{id: secret_picture.id}
            = image_tag secret_picture.path, width: 90, alt: secret_picture.name
      .clear

  = form_tag log_in_section_path(id: @section.code) do
    = hidden_field_tag :secret_picture_id
    = hidden_field_tag :user_id
    - if @section.login_type == Section::LOGIN_TYPE_WORD
      #secret{style: 'display: none;'}
        %h4.instructions= t('signinsection.words')
        = text_field_tag :secret_words, nil, autocomplete: 'off'
        .clear
    #pairing_checkbox{style: 'display: none'}
      = check_box_tag :show_pairing_dialog
      = label_tag :show_pairing_dialog, t('signinsection.pair_programming')
    = button_tag t('signinsection.login'), id: 'login_button', style: 'display:none', class: 'btn btn-primary'

%br/
%br/
%br/
