---
title: Update Email Preferences
nav: blank
rightbar: blank
theme: responsive
---
%script{type: "text/javascript", src: "/js/volunteer-unsubscribe.js"}

- dont_cache
- secret = File.basename(request.path_info)
- pass unless form = Form2.from_row(DB[:forms].where(kind:'VolunteerEngineerSubmission2015', secret:secret).first)
- unsubscribed = form.data['unsubscribed_s']

%h1 Update volunteer information

#unsubscribe-volunteer-thanks{:style=>"display: none;"}
  .alert.alert-success{role:"alert"} You have successfully updated your email preferences.

%form#unsubscribe-volunteer-form{role: "form", onsubmit: "event.preventDefault(); unsubscribeVolunteerList();"}
  %h2 Update email preferences

  .alert.alert-danger.error-message{style: 'display: none'}
  %p
    - if unsubscribed == 'until2016' || unsubscribed == 'untilhoc'
      You've <strong>unsubscribed</strong> from teacher requests <strong>until the next Hour of Code</strong>.
    - elsif unsubscribed == 'forever'
      You've <strong>unsubscribed</strong> from teacher requests <strong>forever</strong>.
    - else
      You are currently <strong>subscribed</strong> to teacher requests.
    To update your preference, select below and click confirm.

  .form-group
    .radio-row
      %div
        %label.radio-inline
          %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", value: "untilhoc", checked: form.data['unsubscribed_s'] == 'untilhoc'}/
          Stop sending me teacher requests until the next Hour of Code
      %div
        %label.radio-inline
          %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", value: "forever", checked: form.data['unsubscribed_s'] == 'forever'}/
          Stop sending me teacher requests forever
      %div
        %label.radio-inline
          %input#unsubscribe-volunteer-annual{name: "unsubscribed_s", type: "radio", value: "resubscribe", checked: form.data['unsubscribed_s'] == 'resubscribe'}/
          Send me teacher requests again

  - if form.data['age_18_plus_b'] != '1'
    .form-group
      %div
        %label{style: 'font-weight: normal; cursor: pointer'}
          %input#volunteer-age-18-plus-unsubscribe{name: 'age_18_plus_b', type: 'checkbox', value: '1', checked: true}
            = I18n.t(:volunteer_engineer_submission_checkbox_age_18_plus)
          %span.form-required-field *

  .form-group
    %label.control-label{for: "volunteer-email-preference"}
      = I18n.t(:volunteer_engineer_submission_field_email_preference)
      %a{href: '/privacy', target: '_blank'}
        = I18n.t(:volunteer_engineer_submission_field_email_preference_privacy)
      -unless form.data['email_preference_opt_in_s']
        %span.form-required-field *
    %div
      %select#volunteer-email-preference.form-control{name: "email_preference_opt_in_s", type: "select"}
        %option{value: "", selected: true, disabled: true}
        %option{value: "yes"}= I18n.t(:volunteer_engineer_submission_field_email_preference_yes)
        %option{value: "no"}= I18n.t(:volunteer_engineer_submission_field_email_preference_no)

  #volunteer-secret{style: 'display: none'}= secret
  %button.primary.btn-submit Confirm

= view :volunteer_engineer_form, {form: form}

%p
  You can update your volunteer information or email subscription preferences anytime
  %a{href: '/volunteer/engineer/edit/' + secret} here.
  Please bookmark this page to easily reference later.
