.navbar-static-top.footer
  .container{ style: 'padding: 10px;' + (@full_width ? "width: 855px; margin-left: 25px;" : "") }
    .row
      .span8{style: (@full_width ? "width: 560px;" : "")}
        - piped_spaces = @full_width ? " | " : "&nbsp; &nbsp; | &nbsp; &nbsp;"
        = link_to t('footer.translate'), 'http://eepurl.com/Im_In'
        .dim
          != piped_spaces
        = link_to t('footer.secure'), 'https://studio.code.org/'
        .dim
          != piped_spaces        
        = link_to t('footer.support'), t('footer.support_url')
        %br/

        %small.fineprint.dim
          %br/
          = sanitize(t('footer.help_from_html'), tags: %w(a br), attributes: %w(href))
          %br/
          = sanitize(t('footer.art_from_html'), tags: %w(a br), attributes: %w(href))

      .span3{style: "text-align: right;" + (@full_width ? "width: 140px; margin-left: 0px" : "")}

        = form_tag(locale_url, method: :post, id: 'localeForm', style: "margin-bottom: 0px") do
          = hidden_field_tag :return_to, request.url
          = select_tag :locale, options_for_select(options_for_locale_select, locale), onchange: 'switchLocale();'
        %small.dim
          = link_to t('footer.tos'), 'http://code.org/tos'
          - if @full_width
            |
          - else
            &nbsp; &nbsp; | &nbsp; &nbsp;
          = link_to t('footer.privacy'), 'http://code.org/privacy'
          %br/
          %br/
          %br/
          &copy; Code.org, 2014
