= console if @use_web_console
- script = local_assigns[:script] || Script.twenty_hour_script
- script_level = local_assigns[:script_level]
- level = local_assigns[:level]
- full_width = local_assigns[:full_width]

= render partial: 'layouts/unsupported_browser'

- show_bug_links = script_level || (level && level.try(:is_project_level))

- user_type = nil

- show_header2 = request.cookies['pm'] == 'new_header'
- header_class = show_header2 ? 'header2-wrapper' : 'header-wrapper'
- header_class = header_class + (show_bug_links ? ' feedback-bug-links' : '')

- if show_header2
  %link{:href=>'/shared/css/hamburger.css', :rel=>'stylesheet'}
  - cookie_key = '_user_type' + (Rails.env.production? ? '' : "_#{Rails.env}")
  - user_type = request.cookies[cookie_key]

  - hamburger_options = {}
  - hamburger_options[:script_level] = script_level
  - hamburger_options[:user_type] = user_type
  - hamburger_options[:language] = request.language
  - hamburger_options[:code_org_url_base] = CDO.code_org_url
  - hamburger_options[:studio_url_base] = CDO.studio_url

.hide_on_mobile{class: header_class}
  - if show_bug_links
    - report_url = script_level ? script_level.report_bug_url(request) : level.report_bug_url(request)
    #betainfo
      - if level && level.try(:is_project_level) && level.game == Game.gamelab
        = link_to t('landing.documentation'), 'https://docs.code.org/gamelab/', target: '_blank'
        |
      - if level && level.try(:is_project_level) && level.game == Game.applab
        = link_to t('landing.documentation'), 'https://docs.code.org/applab/', target: '_blank'
        |
        = link_to t('landing.tutorials'), CDO.code_org_url('/educate/applab'), target: '_blank'
        |
      = link_to t('landing.report_bug'), report_url, target: '_blank'

  .navbar-static-top.header{class: 'hide_on_mobile'}
    .container{style: (full_width ? 'width: 880px;' : '')}
      .navbar-header
        .row.header_row
          .header_left
            .header_logo
              - if show_header2
                = link_to(image_tag('logo.png'), CDO.code_org_url('/'))
              - else
                - if current_page?(root_url)
                  = link_to(image_tag('logo.png'), CDO.code_org_url('/'))
                - else
                  = link_to(image_tag('codeorg-studio-logo.png'), '/')
            %span.project_info
          .header_middle
            - if script_level
              = render partial: 'shared/header_progress'
            - elsif show_header2
              .headerlinks.hide_on_tablet{style: "margin-left: 100px"}
                - if user_type == "teacher"
                  %a.headerlink{:href=>"/"} Home
                  %a.headerlink{:href=>"/courses"} Courses
                  %a.headerlink{:href=>"/projects/public"} Project Gallery
                  %a.headerlink{:href=>CDO.code_org_url("/teacher-dashboard#/sections")} Sections
                  %a.headerlink{:href=>"/my-professional-learning"} Professional Learning
                - elsif user_type == "student"
                  %a.headerlink{:href=>"/"} Home
                  %a.headerlink{:href=>"/courses"} Courses
                  %a.headerlink{:href=>"/projects/public"} Project Gallery
                - elsif request.language == "en"
                  %a.headerlink{:href=>CDO.code_org_url("/student")} Learn
                  %a.headerlink{:href=>CDO.code_org_url("/educate")} Teach
                  %a.headerlink{:href=>CDO.code_org_url("/promote")} Stats
                  %a.headerlink{:href=>CDO.code_org_url("/help")} Help us
                  %a.headerlink{:href=>CDO.code_org_url("/about")} About

          .header_right
            %span.freeplay_links
              %a.header_status_bar.level_free_play.playlab_free_play{title: t('nav.header.free_play.playlab'), href: playlab_project_projects_path, style: 'display: none;'}
                %i.fa.fa-rocket
              %a.header_status_bar.level_free_play.artist_free_play{title: t('nav.header.free_play.artist'), href: artist_project_projects_path, style: 'display: none;'}
                %i.fa.fa-pencil
              %a.header_status_bar.level_free_play.calc_free_play{title: t('nav.header.free_play.calculate'), href: calc_project_create_new_projects_path, style: 'display: none;'}
                %i.fa.fa-calculator
              %a.header_status_bar.level_free_play.eval_free_play{title: t('nav.header.free_play.artist'), href: eval_project_create_new_projects_path, style: 'display: none;'}
                %i.fa.fa-pencil
              %a.header_status_bar.level_free_play.applab_free_play{title: t('nav.header.free_play.applab'), href: applab_project_projects_path, style: 'display: none;'}
                %i.fa.fa-mobile
            - if params[:controller] !~ /^sessions/ and signin_button_enabled
              - if show_header2
                %span#sign_in_or_user
              - else
                = render partial: 'shared/user_header_ajax'

              - if show_header2
                = render file: Rails.root.join('..', 'shared', 'haml', 'hamburger.haml'), locals: hamburger_options

- if show_header2
  - if request.path == "/" || request.path == "/courses"
    %img#header-banner{src: "/shared/images/banners/banner-test3.png"}

- if script_level
  - view_as = @user || current_user
  - user_progress = current_user == nil ? 'null' : summarize_user_progress(script_level.script, view_as, view_as == current_user && @public_caching).to_json

  -# don't trust outside content in parameter :puzzle_page - should be integer, so immediately call to_i
  - puzzle_page = params[:puzzle_page] ? params[:puzzle_page].to_i : ApplicationHelper::PUZZLE_PAGE_NONE
  - uid = params[:puzzle_page] ? "#{script_level.level_id}_#{puzzle_page - 1}" : script_level.level_id.to_s

  - script_data = script.summarize_header
  -# If caching, we don't know the sign in state, and should be nil
  - signed_in = @public_caching ? 'null' : !current_user.nil?
  :javascript
    //<![CDATA[
    dashboard.header.build(#{script_data.to_json}, #{script_level.stage.summarize.to_json}, #{user_progress}, "#{uid}", #{puzzle_page}, #{signed_in})
    //]]>
