- @script ||= Script.twenty_hour_script

-# Temporarily comment out banner about locale not being supported.
-# if !support_primary_locale?
  #warning-banner
    = link_to "Non-English translations coming soon. Help us translate!", 'http://eepurl.com/Im_In'
- if browser.cdo_unsupported?
  = render partial: 'layouts/unsupported_browser'
- elsif browser.cdo_partially_supported?
  = render partial: 'layouts/partially_supported_browser'

.navbar-static-top.header{:class => ('hide_on_mobile' if true)}
  .container{style:(@full_width ? "width: 880px;" : "")}
    .navbar-header
      .row.header_row
        .header_logo
          = link_to(image_tag('logo.png'), code_org_root_path, style: "background-color: transparent;")

        .header_middle
          - if @script_level
            = render partial: 'shared/header_progress'
          - elsif @edit_blocks
            .header_level{style:'font-size:300%'} Editing #{@edit_blocks.humanize}
        .header_user
          = render partial: 'shared/user_header'

.transparent_backdrop{style: 'display: none;'}
- if @script_level
  .header_popup{id: "headerPopup"}
    .header_popup_header
      %span= t('nav.popup.progress')
      - if current_user
        .header_text{style: "float: right;"}= t('nav.popup.lines', lines: current_user.total_lines)
    .header_popup_body{id: "headerPopupBody"}
      .loading
    .header_popup_footer
      %div{id: "popupClose", onclick: "togglePopup();"}
        = t('nav.popup.close')


- if @script_level
  :javascript
    var script_level_id = #{@script_level.level_id};
- else
  :javascript
    var script_level_id = null;

:javascript
  handleUserMenuClick = function () {
    $('.user_options').toggle();
    if ($(".user_options").css('display') == 'none') {
      $(".transparent_backdrop").off('click', handleUserMenuClick);
      $(".transparent_backdrop").off('touchend', handleUserMenuClick);
      $(".transparent_backdrop").toggle();
    }
    else {
      $(".transparent_backdrop").on('click', handleUserMenuClick);
      $(".transparent_backdrop").on('touchend', handleUserMenuClick);
      $(".transparent_backdrop").toggle();
    }
    return false;
  }
  function isShowingPopup()
  {
    return $("#headerPopup").css('display') != 'none';
  }
  togglePopup = function () {
    $("#headerPopup").toggle();
    if (!isShowingPopup()) {
      $(".header_popup_link_glyph").html("&#x25BC;");
      $(".header_popup_link_text").html("#{t(:more)}");
      $(".transparent_backdrop").off('click', handlePopupClick);
      $(".transparent_backdrop").off('touchend', handlePopupClick);
      $(".transparent_backdrop").toggle();
    }
    else {
      $(".header_popup_link_glyph").html("&#x25B2;");
      $(".header_popup_link_text").html("#{t(:less)}");
      $(".transparent_backdrop").on('click', handlePopupClick);
      $(".transparent_backdrop").on('touchend', handlePopupClick);
      $(".transparent_backdrop").toggle();
    }
  }
  var loadedPopup = false;
  handlePopupClick = function (trophiesClicked) {
    if (!loadedPopup) {
      loadedPopup = true;
      togglePopup();
      $.ajax({url:'#{header_stats_path()}', data: { script_id: #{@script.id}, script_level_id: script_level_id }, success:function(result) {
          $("#headerPopupBody").html(result);
          if (trophiesClicked === true) {
            jumpToTrophies();
          }
        }
      });
    }
    else {
      togglePopup();
      if (isShowingPopup() && trophiesClicked === true) {
        jumpToTrophies();
      }
    }
    return false;
  }
  function jumpToTrophies()
  {
    var top = $("#trophies").offset().top;
    window.scrollTo(0, top);
  }
  switchLocale = function() {
    $('#localeForm').submit();
  }
  $('.level_free_play').qtip({
    content: {
      attr: 'title'
    },
    position: {
      my: 'top center',
      at: 'bottom center'
    }
  });
