= console if @use_web_console
- script = local_assigns[:script] || Script.twenty_hour_script
- script_level = local_assigns[:script_level]
- level = local_assigns[:level]
- full_width = local_assigns[:full_width]

- if browser.cdo_unsupported?
  = render partial: 'layouts/unsupported_browser'
- elsif browser.cdo_partially_supported?
  = render partial: 'layouts/partially_supported_browser'

- show_bug_links = (script_level && script.show_report_bug_link?) || (level && level.try(:is_project_level))

.header-wrapper.hide_on_mobile{class: ('feedback-bug-links' if show_bug_links)}
  - if script_level && script
    #progresswarning{style: "display: none"}
      %a{href: "http://teacherblog.code.org/", target: "_blank"}
        Due to very high traffic, your progress may not be saved.
        %span.learnmore
          Learn more

  - if show_bug_links
    - report_url = script_level ? script_level.report_bug_url(request) : level.report_bug_url(request)
    #betainfo
      - if level && level.try(:is_project_level) && level.game == Game.applab
        = link_to t('landing.help_resources'), CDO.code_org_url('/educate/applab'), target: '_blank'
        |
      = link_to t('landing.report_bug'), report_url, target: '_blank'

  .navbar-static-top.header{class: 'hide_on_mobile'}
    .container{style: (full_width ? 'width: 880px;' : '')}
      .navbar-header
        .row.header_row
          .header_left
            .header_logo
              - if current_page?(root_url)
                = link_to(image_tag('logo.png'), CDO.code_org_url('/'))
              - else
                = link_to(image_tag('codeorg-studio-logo.png'), '/')
            %span.project_info
          .header_middle
            - if script_level
              = render partial: 'shared/header_progress'
            - elsif @edit_blocks
              .header_level{style:'font-size: 250%; line-height: 125%;'} Editing #{@edit_blocks.humanize}
          .header_right
            %span.freeplay_links
              %a.header_status_bar.level_free_play.playlab_free_play{title: t('nav.header.free_play.playlab'), href: playlab_project_projects_path, style: 'display: none;'}
                %i.fa.fa-rocket
              %a.header_status_bar.level_free_play.artist_free_play{title: t('nav.header.free_play.artist'), href: artist_project_projects_path, style: 'display: none;'}
                %i.fa.fa-pencil
              %a.header_status_bar.level_free_play.calc_free_play{title: t('nav.header.free_play.calculate'), href: calc_project_projects_path, style: 'display: none;'}
                %i.fa.fa-calculator
              %a.header_status_bar.level_free_play.eval_free_play{title: t('nav.header.free_play.artist'), href: eval_project_projects_path, style: 'display: none;'}
                %i.fa.fa-pencil
              %a.header_status_bar.level_free_play.applab_free_play{title: t('nav.header.free_play.applab'), href: applab_project_projects_path, style: 'display: none;'}
                %i.fa.fa-mobile
            - if params[:controller] !~ /^sessions/ and signin_button_enabled
              = render partial: 'shared/user_header_ajax'

- if script_level
  - view_as = @user || current_user
  - user_progress = current_user == nil ? 'null' : summarize_user_progress(script_level.script, view_as, view_as == current_user && @public_caching).to_json

  - puzzle_page = params[:puzzle_page] || -1

  :javascript
    //<![CDATA[
    dashboard.header.build(#{script_level.stage.summarize.to_json}, #{user_progress}, #{script_level.level_id}, "#{script.name}", #{puzzle_page})
    //]]>
