#warning-banner-https{style: 'display: none;'}
  .expanded{style: 'display: none;'}
    %i.fa.fa-warning
    = t("compatability.https.header")
    %span#hide-warning.btn.btn-primary= t("compatability.https.hide_this_warning")
    %p
      != t("compatability.https.message", https_date: Date.parse('2015/07/01'), it_requirements_url: '//code.org/educate/it')
  .collapsed{style: 'display: none; cursor: pointer; text-align: left; font-size: 10px; line-height: 10px;'}
    %i.fa.fa-warning
    = t("compatability.https.header")
  :javascript
    function setCookie(key, value, days) {
      var expires = new Date();
      expires.setTime(expires.getTime() + (days * 24 * 60 * 60 * 1000));
      document.cookie = key + '=' + value + '; path=/; expires=' + expires.toUTCString();
    }
    function getCookie(key) {
      var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
      return keyValue ? keyValue[2] : null;
    }
    function deleteCookie(key) {
      document.cookie = key + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    }
    var banner = $('#warning-banner-https');
    var collapsed = banner.find(".collapsed");
    var expanded = banner.find(".expanded");
    function showWarning() {
      banner.show();
      if (getCookie('hide-https-warning')) {
        collapsed.show();
      } else {
        expanded.show();
      }
    }
    if(getCookie('https-blocked')) {
      showWarning();
    }
    banner.find("#hide-warning").click(function () {
      document.cookie = "hide-https-warning=1; path=/";
      expanded.slideUp('fast');
      collapsed.slideDown('fast');
    });
    collapsed.click(function () {
      expanded.slideDown('fast');
      collapsed.slideUp('fast');
    });
    testImageAccess("#{ CDO.studio_url('test-image.png', 'https:') }",
      function() {
        deleteCookie('https-blocked');
        setCookie('https_ok', '1', 60);
      },
      function () {
        $(window).load(function () { trackEvent("HTTPS Test", "blocked"); });
        showWarning();
        document.cookie = "https-blocked=1; path=/";
      }
    );
