-#
  Only show cookie banner when in a GDPR country, or when we are in the test
  environment and the show_cookie_banner_on_test URL parameter is specified,
  presumably by a UI test.

- if !(request.gdpr? || (rack_env == :test && request.params['show_cookie_banner_on_test'].present?)) && current_user && current_user.user_type == 'student' && current_user.parent_email.blank? && !current_user.parent_email_banner_dismissed
  %script{src: webpack_asset_path("js/layouts/_parent_email_banner.js")}

  #at-home-banner
    %div.banner-content
      .text
        != I18n.t('parent_email_banner.text', markdown: true)

      .buttons
        %button#link_your_email= I18n.t('parent_email_banner.link_your_email')
        %button#not_now= I18n.t('parent_email_banner.not_now')
  = form_for(current_user,
      url: '/users/parent_email',
      remote: true,
      html: { id: 'add-parent-email-modal-form' },
      namespace: 'add-parent-email-modal',
    ) do |f|
    = f.hidden_field :parent_email
    = f.hidden_field :parent_email_preference_opt_in


