= javascript_include_tag 'react'

#page-small-footer

:javascript
  // TODO - do i need a document.ready?
  $(window).ready(function () {
    var i18nDropdown = "#{URI.encode(i18n_dropdown.to_str) if view_options[:has_i18n]}";

    React.render(React.createElement(window.dashboard.getSmallFooterComponent(React), {
      i18nDropdown: i18nDropdown,
      strings: {
        copyright: "#{I18n.t('footer.copyright')}",
        more: "#{I18n.t('footer.more')}",
        thank_you: "#{URI.escape(I18n.t('footer.thank_you'))}",
        help_from_html: "#{I18n.t('footer.help_from_html')}",
        art_from_html: "#{URI.escape(I18n.t('footer.art_from_html', current_year: Time.now.year))}",
        powered_by_aws: "#{I18n.t('footer.powered_by_aws')}",
        trademark: "#{URI.escape(I18n.t('footer.trademark', current_year: Time.now.year))}",
        support: "#{I18n.t('footer.support')}",
        translate: "#{I18n.t('footer.translate')}",
        tos: "#{I18n.t('footer.tos')}",
        privacy: "#{I18n.t('footer.privacy')}",
      }
    }), document.getElementById('page-small-footer'));
  });
