.small-footer
  - if view_options[:has_i18n]
    = form_tag(locale_url, method: :post, id: 'localeForm', style: 'margin-bottom: 0px;') do
      = hidden_field_tag :return_to, request.url
      = select_tag :locale, options_for_select(options_for_locale_select, locale), onchange: 'this.form.submit();'
  %small
    = link_to I18n.t('footer.copyright'), '#', class: 'copyright-link'
    &nbsp;&nbsp;|&nbsp;&nbsp;
    %a{:href => "#", :class => "more-link"}
      = I18n.t('footer.more')
      %i{:class => "fa fa-caret-up"}

#copyright-flyout
  %p!= I18n.t('footer.thank_you')
  %p= I18n.t('footer.help_from_html')
  %p!= I18n.t('footer.art_from_html', current_year: Time.now.year)
  %p= I18n.t('footer.powered_by_aws')
  %p!= I18n.t('footer.trademark', current_year: Time.now.year)

%ul#more-menu
  %li= link_to I18n.t('footer.support'), 'https://support.code.org'
  %li= link_to I18n.t('footer.translate'), 'https://code.org/translate'
  %li= link_to I18n.t('footer.tos'), 'https://code.org/tos'
  %li= link_to I18n.t('footer.privacy'), 'https://code.org/privacy'
