.small-footer
  = form_tag(locale_url, method: :post, id: 'localeForm', style: 'margin-bottom: 0px;') do
    = hidden_field_tag :return_to, request.url
    = select_tag :locale, options_for_select(options_for_locale_select, locale), onchange: 'this.form.submit();'
  %small.dim
    = link_to 'Copyright', '#' # TODO: Localize
    &nbsp; &nbsp; | &nbsp; &nbsp;
    = link_to 'More', '#' # TODO: Localize

#copyright-flyout
  %p
    We thank our <a href="https://code.org/about/donors">donors</a>,
    <a href="https://code.org/about/partners">partners</a>,
    our <a href="https://code.org/about/team">extended team</a>,
    our <a href="https://code.org/film-cast">video cast</a> and
    our <a href="https://code.org/about/advisors">education advisors</a>
    for their support in creating Code Studio.
  %p
    We especially want to recognize the engineers from Google, Microsoft,
    Facebook, Twitter, and
    <a href="https://github.com/code-dot-org/code-dot-org/graphs/contributors">many others</a>
    who helped create these materials.
  %p
    Disney &copy; The Walt Disney Company. All Rights Reserved.
    <br />Ice Age &copy; 20th Century Fox. All Rights Reserved.
    <br />AngryBirds&#8482; &copy; 2009-2014 Rovio Entertainment Ltd. All Rights Reserved.
    <br />Plants vs. Zombies &copy; 2014 Electronic Arts Inc. All Rights Reserved
  %p
    Powered by Amazon Web Services
  %p
    &copy; Code.org, 2015. Code.org&reg;, the CODE logo and Hour of Code&reg;
    are trademarks of Code.org.
