.small-footer
  = form_tag(locale_url, method: :post, id: 'localeForm', style: 'margin-bottom: 0px;') do
    = hidden_field_tag :return_to, request.url
    = select_tag :locale, options_for_select(options_for_locale_select, locale), onchange: 'this.form.submit();'
  %small.dim
    = link_to 'Copyright', '#' # TODO: Localize
    &nbsp; &nbsp; | &nbsp; &nbsp;
    = link_to 'More', '#' # TODO: Localize
