-# English only for now
- if language == "en"

  -# 1 in 1 chance of showing: that is, always show.
  - if rand(1..1) == 1

    -# If signed in, and user hasn't already filled out this survey
    - if current_user && !current_user.survey2015_value

      -# If at least 13, and account is at least 14 days old
      - if !current_user.under_13? && (DateTime.now - current_user.created_at.to_datetime) >= 14

        .survey{style: "background-color: rgb(200,200,200); padding:40px; font-size:18px"}
          #surveythanks{style: "display: none"} Thank you for your response.
          #surveybody
            %h1{style: "margin-top:0px; color: rgb(80,80,80)"} Quick survey
            %p{style: "padding-top: 10px; font-size:18px"}
              How likely are you to recommend Code.org to a friend or colleague?
            = form_for(current_user, url: registration_url('user'), html: {id: 'survey', onsubmit: "return window.submitSurvey(true)", style: "margin-bottom:0px"}) do |f|
              #dots{style: "padding-top: 10px; padding-bottom: 20px"}
                - -1.upto(10) do |i|
                  - display = i == -1 ? "none" : "inline"
                  %input{style: "margin-right:3px; vertical-align:top; display: #{display}", id: "radio_#{i}", type: "radio", name: "user[survey2015_value]", value: i, onclick: "enableSurveySubmit()"}
                  %label{style: "display: #{display}; font-size: 20px; padding-right:20px", for: "radio_#{i}"}= i
              #textbox{style: "display:none"}
                %p{style: "font-size:18px"}
                  Do you have any additional comments?
                %input{type: "text", style: "width:600px; height:35px", name: "user[survey2015_comment]"}
              #submit
                %button#submitSurvey{type: "submit", disabled: true} Submit
                %span{onclick: "return submitSurvey(false)", style: "cursor: pointer"} No thanks
        %br/

:javascript

  function enableSurveySubmit()
  {
    $("#survey #textbox").slideDown();
    $("#submitSurvey").prop("disabled",false);
  }

  function submitSurvey(submittedValue)
  {
    var value;

    if (submittedValue)
    {
      value = $("#survey input[type=radio]:checked").val();
    }
    else
    {
      value = -1;
      $("#radio_-1").prop("checked", true)
    }

    //console.log("tracking event", "survey", "nps2015", value);
    trackEvent("survey", "nps2015", value);

    $("#surveythanks").show();
    $("#surveybody").hide();

    $.ajax({
      type: 'POST',
      url: $("#survey").attr('action'),
      data: $("#survey").serialize(),
      dataType: 'json'
    });

    return false;
  }
