-# Note this partial assumes the presence of a signed in user.
#thank-donors-modal.modal{style: 'display: none;'}
  %button#close-thank-donors-dialog.close{'data-dismiss' => 'modal', 'aria-label' => 'Close'}
    %span{'aria-hidden' => 'true'}= '&times;'.html_safe
  .modal-dialog
    .modal-content.no-modal-icon
      %h2.donor-header= t('donor_interstitial.title')
      %p= t('donor_interstitial.subtitle', donors_url: CDO.code_org_url('/about/donors'), markdown: :inline).html_safe
      %h2.donor-subheader= t('donor_interstitial.global_supporters')
      .clear
      .scroll-box
        .donor-container
          - Donor.where(level: %w(platinum diamond)).order(:weight).pluck(:name).each do |donor|
            .donor= donor
      - if current_user.student?
        %p.support-codeorg-container
          = t('donor_interstitial.support_codeorg_1')
          %br
          = t('donor_interstitial.support_codeorg_2', donate_url: CDO.code_org_url('/donate'), markdown: :inline).html_safe
      .right
        = button_tag t('donor_interstitial.get_started'), id: 'dismiss-thank-donors', type: 'button', class: 'btn primary-button'
      .clear

%script{src: webpack_asset_path('js/layouts/_thank_donors_interstitial.js')}
