%script{src: asset_path('browser-detector.js')}

#warning-banner-container
  #warning-banner-primary.warning-banner{style: 'display: none'}
    .left
      %i.fa.fa-warning.warning-sign
    .right
      != t("compatibility.upgrade.unsupported_message", supported_browsers_url: 'https://support.code.org/hc/en-us/articles/202591743')

  #warning-banner-secondary.warning-banner{style: 'display: none'}
    .left
      %i.fa.fa-close.close-button{onclick: '$("#warning-banner-secondary").slideUp();'}
    .right
      #appLabUnsupportedTablet{style: 'display: none'}!= t("compatibility.upgrade.applab_unsupported_tablet")
      #gameLabUnsupportedTablet{style: 'display: none'}!= t("compatibility.upgrade.gamelab_unsupported_tablet")
      #webLabUnsupportedBrowser{style: 'display: none'}!= t("compatibility.upgrade.weblab_unsupported_browser")
      #webLabUnsupportedSafariPrivate{style: 'display: none'}!= t("compatibility.upgrade.weblab_unsupported_safari_private")

:javascript
  $(document).ready(function () {
    if (isUnsupportedBrowser()) {
      $("#warning-banner-primary").show();

      var secondaryBannerDivId = null;

      if (isSmallDevice()) {
        if (appOptions.app == 'applab') {
          secondaryBannerDivId = '#appLabUnsupportedTablet';
        } else if (appOptions.app == 'gamelab') {
          secondaryBannerDivId = '#gameLabUnsupportedTablet';
        }
      } else if (true /*isIE11() && appOptions.app == 'weblab'*/) {
        secondaryBannerDivId = '#webLabUnsupportedBrowser'
      }

      if (secondaryBannerDivId) {
        $(secondaryBannerDivId).show();
        $("#warning-banner-secondary").show();
      }
    }
  });
