.modal#user-information-modal{'data-backdrop' => 'static', 'data-keyboard' => 'false', display: 'none'}
  .modal-dialog
    .modal-content.no-modal-icon
      %h1{style: 'margin: 10px 0;font-size: 32px'}= t('activerecord.attributes.user.finish_sign_up_header')
      %p{style: 'font-size: 13px; line-height: 18px; color: #333'}
        = t('parent_mailer.parent_email_added_subject')
        = t('activerecord.attributes.user.finish_sign_up_header_account_information')
        = t('age_interstitial.disclaimer')
      = form_for(current_user, url: registration_url('user'), html: {id: 'edit_user'}) do |f|
        .form-group
          = f.label :age, t('signup_form.age')
          = f.select :age, User::AGE_DROPDOWN_OPTIONS, include_blank: t('signup_form.select_age')
        .form-group
          = f.label :us_state, t('activerecord.attributes.user.us_state')
          = f.select :us_state, User::US_STATE_DROPDOWN_OPTIONS, include_blank: t('school_info.select_state')
        .field
          = f.label :gender_student_input, t('gender')
          = f.text_field :gender_student_input, placeholder: t('type_here')
        .form-group
          = f.submit t('continue'), class: 'btn btn-primary', disabled: true
      %p{style: 'font-size: 13px; line-height: 18px; color: #333'}!= t('age_interstitial.sign_out_markdown', url: destroy_user_session_url, markdown: true)
:javascript
  $().ready(function() {
    $("#user-information-modal").modal('show');

    $("#edit_user select").on('change', function(event) {
      const ageValue = $("#user_age").val();
      const stateValue = $("#user_us_state").val();
      if (ageValue === '' || stateValue === '') {
        $("#edit_user .btn").prop('disabled', true);
      } else {
        $("#edit_user .btn").prop('disabled', false);
      }
    });

    $( "#edit_user" ).submit(function( event ) {
      event.preventDefault($(this).serialize());
      $.ajax({
        type: 'POST',
        url: $(this).attr('action') + '/set_user_information',
        data: $(this).serialize(),
        dataType: 'json',
        success: function(data) {$("#user-information-modal").modal('hide');}
      });
    });
  });
