<!DOCTYPE html>
<html lang="<%= @page.language_code %>">
  <head>
    <%= render "alchemy/pages/meta_data" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render "alchemy/edit_mode" %>
  </body>
</html>
