!!! 5
%html{dir: locale_dir}
  %head
    - title = @page_title ? "#{t(:appname)} - #{@page_title}" : t(:appname)
    %title= title
    = ::NewRelic::Agent.browser_timing_header rescue ''
    = tag :meta, name: 'viewport', content: 'minimal-ui'
    /[if IE 9]
      %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
    - if content_for? :og
      = yield :og
    - else
      = tag 'meta', property: 'og:title', content: title
      = tag 'meta', property: 'og:image', content: CDO.studio_url(CDO.shared_image_url('share/girl_cropped.jpg'), 'https:')
      = tag 'meta', property: 'og:description', content: t('share.description')
    = render partial: 'layouts/analytics'
    = render partial: 'layouts/javascript_strings'
  %body
    - if current_user && current_user.age.nil?
      = render partial: 'layouts/age_interstitial'

    .wrapper{style: ('background-color: #ffffff' if view_options[:white_background])}
      - if view_options[:try_hoc_banner]
        %div{id: 'tryHoc'}
          = image_tag(image_url('hour-of-code-logo.png'))
          %a{href:'https://code.org/learn'}
            = I18n.t('share.try_hour_of_code')

      - unless view_options[:no_header]
        = render partial: 'layouts/header', locals: {script: @script, script_level: @script_level, level: @level, full_width: view_options[:full_width]}
      - page = yield
      - if view_options[:full_width]
        .full_container{style: ('padding: 0px;' if view_options[:no_padding])}
          = page
      - else
        .container.main
          = show_flashes.html_safe
          = page
      - unless view_options[:no_footer] || view_options[:small_footer]
        .push

      - if view_options[:share_footer]
        = render partial: 'layouts/share_footer'
      - elsif view_options[:small_footer]
        = render partial: 'layouts/small_footer'

    - unless view_options[:no_footer]
      - unless view_options[:share_footer] || view_options[:small_footer]
        = render partial: 'layouts/footer', locals: {full_width: view_options[:full_width]}
      = render partial: 'shared/maybe_set_hoc_secret'


    = yield :body_scripts
