!!! 5
- show_footer = !@no_footer_puzzle && !(@share && browser.mobile?) && !@embed
%html{dir: locale_dir}
  %head
    %title= @page_title ? "#{t(:appname)} - #{@page_title}" : t(:appname)
    = ::NewRelic::Agent.browser_timing_header rescue ''
    = tag :meta, name: 'viewport', content: 'minimal-ui'
    /[if IE 9]
      %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge'}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
    = render partial: 'layouts/analytics'
  %body
    - if current_user && current_user.age.nil?
      = render partial: 'layouts/age_interstitial'

    .wrapper{style: ('background-color: #ffffff' if @embed)}
      = render partial: 'layouts/header' unless @embed
      - page = yield
      - if @full_width
        .full_container{style: ('padding: 0px;' if @no_padding)}
          = page
      - else
        .container.main
          = show_flashes.html_safe
          = page
      - if show_footer
        .push

    - if show_footer
      = render partial: 'layouts/footer'

    = yield :body_scripts
