---
title: Learn about Artificial Intelligence (AI)
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/ai-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_sparkles = "fa-solid fa-sparkles"
- icon_lightbulb = "fa-solid fa-lightbulb"
- icon_magnifying_glass = "fa-solid fa-magnifying-glass"
- icon_book = "fa-solid fa-book"
- icon_person_chalkboard = "fa-solid fa-person-chalkboard"
- icon_robot = "fa-solid fa-robot"
- icon_video = "fa-solid fa-video"

%section.hero-banner-basic.bg-neutral-dark{style: "display: block !important"}
  .wrapper
    .text-wrapper.col-60
      %h1.white=hoc_s(:ai_hero_heading)
      %p.body-one.white=hoc_s(:ai_hero_desc)
    %figure.col-33{style: "float: right"}
      %img.fade-in-out{src: "/images/banners/ai-bot-wizard.svg", alt: "", style: "z-index: 10"}
      %img{src: "/images/banners/ai-bot-default.svg", alt: "", style: "position: relative;"}
    .clear

%section.intro
  .wrapper
    %h2=hoc_s(:ai_intro_heading)
    %figure.video.col-50{style: "margin-top: 22px;"}
      = view :ai_vid_whyaimatters
      %figcaption
        %a{href: "#ai-videos"}=hoc_s(:ai_intro_video_caption_link)
    %div.flex-container.col-45{style: "float: right"}
      %ul.icon-bullet-list.full-width{style: "margin-top: 0"}
        %li
          %div
            %i{class: "#{icon_sparkles}"}
          .text-wrapper
            %h3=hoc_s(:ai_intro_list_title_01)
            %p.no-margin-bottom=hoc_s(:ai_intro_list_desc_01)
        %li
          %div
            %i{class: "#{icon_lightbulb}"}
          .text-wrapper
            %h3=hoc_s(:ai_intro_list_title_02)
            %p.no-margin-bottom=hoc_s(:ai_intro_list_desc_02)
        %li.no-margin-bottom
          %div
            %i{class: "#{icon_magnifying_glass}"}
          .text-wrapper
            %h3=hoc_s(:ai_intro_list_title_03)
            %p.no-margin-bottom=hoc_s(:ai_intro_list_desc_03)
    .clear

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:ai_why_heading)
    %p=hoc_s(:ai_why_desc)
    %ul.link-list
      %li
        %i{class: "#{icon_book}"}
        %a{href:"#ai-curricula"}=hoc_s(:ai_why_link_01)
      %li
        %i{class: "#{icon_person_chalkboard}"}
        %a{href:"#ai-pl"}=hoc_s(:ai_why_link_02)
      %li
        %i{class: "#{icon_robot}"}
        %a{href:"#ai-integrations"}=hoc_s("ai_integrations.heading")
      %li
        %i{class: "#{icon_video}"}
        %a{href:"#ai-videos"}=hoc_s(:ai_why_link_03)

%section#ai-curricula
  .wrapper
    %h2=hoc_s("ai_page.curricula.heading_elementary")
    = view :"ai_landing_page/ai_carousel_curricula_elementary"
    %hr.light
    %h2=hoc_s("ai_page.curricula.heading_middle_high")
    = view :"ai_landing_page/ai_carousel_curricula_middle_high"

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:ai_carousel_heading)
    .quotes-wrapper
      = view :"ai_landing_page/ai_carousel_quotes"

%section#ai-pl
  .wrapper
    %h2=hoc_s(:ai_pl_heading)
    %p=hoc_s("ai_page.pl.desc")
    = view :"ai_landing_page/ai_carousel_pl"

%section#ai-integrations.bg-neutral-light
  .wrapper
    %h2=hoc_s("ai_integrations.heading")
    %p=hoc_s("ai_integrations.desc")
    = view :ai_integrations

%section#ai-videos
  .wrapper
    %h2=hoc_s(:ai_video_series_title)
    %p=hoc_s(:ai_video_series_desc, markdown: :inline, locals: {how_ai_works_url: "/ai/how-ai-works"})
    = view :carousel_how_ai_works_video

%section.bg-neutral-light
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    %figure.col-45{style: "margin-bottom: 1rem"}
      %img{src: "/images/ai/pl/101/teach-ai-future-of-cs.png", alt: "", style: "width: 100%"}
    .text-wrapper.col-50{style: "margin-bottom: 1rem"}
      %p.new
        =hoc_s('teach_ai_banner_july_2024.subtitle')
      %h2.heading-lg
        =hoc_s('teach_ai_banner_july_2024.headline')
      %p.body-three
        =hoc_s('teach_ai_banner_july_2024.description')
      %a.link-button.has-external-link{href: "https://teachai.org/cs", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s('teach_ai_banner_july_2024.button_text')
  .clear

%section.no-padding-bottom
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s("ai_ta_page.form.heading"), subscribe_form_section_desc: hoc_s("ai_ta_page.form.desc"), form_height: "375px", form_src: "https://go.pardot.com/l/153401/2024-03-27/pqwtxx"

%section
  .wrapper.centered
    %h2.heading-sm
      =hoc_s("ai_donors.desc")
    .logos-wrapper.no-margin-bottom
      %img{src: "/images/avatars/microsoft.png", alt: "Microsoft logo", style: "max-width: 150px"}
      %img{src: "/images/avatars/infosys_foundation_usa.png", alt: "Infosys logo", style: "max-width: 50px"}
      %img{src: "/images/avatars/schmidt-futures.png", alt: "Schmidt Futures logo", style: "max-width: 340px"}
      %img{src: "/images/avatars/fortive.png", alt: "Fortive logo", style: "max-width: 160px"}
      %img{src: "/images/avatars/amd.png", alt: "AMD logo", style: "max-width: 100px"}

= view :swiper_page_ai

= view :visit_partial_event_logger
