---
title: AI Teaching Assistant
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section.hero-banner-basic.bg-neutral-dark
  .wrapper.grid-container.justify-space-between.align-items-center.gap-4
    .text-wrapper
      %h1.white
        =hoc_s("ai_ta_page.heading")
      %p.white
        =hoc_s("ai_ta_page.desc")
    %figure
      %img{src: "/images/ai/page/teaching-assistant/ai-ta-banner.png", alt: "", style: "width: 100%; margin-block-start: -2rem; margin-inline-start: -2rem;"}

%section.no-padding-bottom
  .wrapper
    .flex-container.justify-space-between.align-items-center.gap-2.wrap
      %figure.col-47
        %img.rounded-corners{src: "/images/ai/page/teaching-assistant/ai-ta-assessment-example.png", alt: "", style: "width: 100%;"}
      .text-wrapper.col-47
        %h2=hoc_s("ai_ta_page.assessment_power.heading")
        %p=hoc_s("ai_ta_page.assessment_power.desc")
        %ul
          %li=hoc_s("ai_ta_page.assessment_power.list_01", markdown: :inline)
          %li=hoc_s("ai_ta_page.assessment_power.list_02", markdown: :inline)
          %li=hoc_s("ai_ta_page.assessment_power.list_03", markdown: :inline)

%section
  .wrapper
    = view :section_basic_image_text, image_url: "/images/ai/page/teaching-assistant/ai-ta-focus-example.png", heading: hoc_s("ai_ta_page.focus.heading"), desc: hoc_s("ai_ta_page.focus.desc"), wrap_reverse: true, url: nil, urlText: nil

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("ai_ta_page.resources.heading")
    = view :"ai_teaching_assistant/ai_ta_editorial_cards"

%section#ai-signup-form
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s("ai_ta_page.form.heading"), subscribe_form_section_desc: hoc_s("ai_ta_page.form.desc"), form_height: "375px", form_src: "https://go.pardot.com/l/153401/2024-03-27/pqwtxx"

%section
  .wrapper
    %h2=hoc_s("ai_ta_page.faq.heading")
    = view :"ai_teaching_assistant/ai_ta_faq"

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("coding_with_ai_page.resources.heading")
    %p=hoc_s("coding_with_ai_page.resources.desc")
    = view :"ai_pages_shared/ai_pages_resources", white_bg: true

%section
  .wrapper.centered
    %h2.heading-sm
      =hoc_s("ai_ta_page.partners.heading")
    .logos-wrapper.no-margin-bottom
      %img{src: "/images/avatars/stanford.png", alt: "Stanford University logo", style: "max-width: 150px"}
