---
title: K-5 Professional Learning Workshops
theme: responsive_full_width
---

- button_url = "#workshops-map"
- button_string = hoc_s("pl_page_k5.button")

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section
  .wrapper
    %h1=hoc_s("pl_page_k5.heading")
    .grid-container.two-col.justify-space-between.align-items-start.gap-2
      .text-wrapper
        %p=hoc_s("pl_page_k5.desc_01")
        %p.body-three.wrap-pretty
          %strong=hoc_s("pl_page_k5.desc_02")
        %ul
          %li=hoc_s("pl_page_k5.top_list_01")
          %li=hoc_s("pl_page_k5.top_list_02")
          %li=hoc_s("pl_page_k5.top_list_03")
          %li=hoc_s("pl_page_k5.top_list_04")
        %a.link-button{href: button_url}
          =button_string
      %figure
        %img.rounded-corners{src: "/images/self-paced-pl-tile-csf.png", alt: "", style: "width: 100%; margin-block: 0.5rem 0"}

= view :pl_curriculum_launch_skinny_banner

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("pl_page_k5.workshops.heading")
    %p.wrap-pretty
      =hoc_s("pl_page_k5.workshops.desc")
    = view :"professional_learning/k_5_workshop_blocks"
    %a.link-button.add-margin-top{href: button_url}
      =button_string

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s("pl_page_k5.quote.text")
      %p.no-margin-bottom
        Daphne Wright
        %span •
        =hoc_s("pl_page_k5.quote.byline")

%section#workshops-map
  .wrapper
    %h2=hoc_s("pl_page_k5.workshops_map.heading")
    %p=hoc_s("pl_page_k5.workshops_map.desc")
    = view :workshop_search

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("pl_page_k5.curriculum.heading")
    %p=hoc_s("pl_page_k5.curriculum.desc")
    = view :"professional_learning/k_5_curriculum_blocks"
    %a.link-button.secondary.add-margin-top{href: CDO.studio_url("/catalog?grade=grade_1&grade=grade_2&grade=grade_3&grade=grade_4&grade=grade_5&grade=kindergarten")}
      =hoc_s("pl_page_k5.curriculum.button")

%section
  .wrapper
    = view :"professional_learning/additional_programs", heading: hoc_s("pl_page_k5.additional_offerings.heading"), desc: hoc_s("pl_page_k5.additional_offerings.desc"), middle_high: false

= view :section_divider_line

%section
  .wrapper
    = view :"professional_learning/regional_partners_questions"

= view :analytics_event_log_helper, event_name: AnalyticsConstants::ELEMENTARY_SCHOOL_PL_PAGE_VISITED_EVENT
