---
title: Professional Learning
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/professional-learning-styles.css", rel: "stylesheet"}

%section.top
  .wrapper
    .text-wrapper.col-50
      %h1=hoc_s("pl_page.heading")
      %p=hoc_s("pl_page.desc")
      = view :"professional_learning/pl_page_top_list"
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      %img.rounded-corners.box-shadow-primary{src: "/images/professional-learning/pl-superhero-girl-crop-448x289.png", alt: "", style: "position: relative; width: 100%;"}
    .clear

= view :pl_curriculum_launch_skinny_banner

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s("pl_page.journey.heading")
    %p.centered
      =hoc_s("pl_page.journey.desc")
    = view :"professional_learning/pl_page_journey"

%section.quote
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s("pl_page.quote.text")
      %p.no-margin-bottom
        =hoc_s("pl_page.quote.byline")
        %span •
        Delaware

%section.no-padding-bottom
  .wrapper
    = view :section_basic_image_text, image_url: "/images/fill-448x280/admins-page-pl.png", heading: hoc_s("pl_page.hands-on.heading"), desc: hoc_s("pl_page.hands-on.desc"), wrap_reverse: false, url: nil, urlText: nil

%section.no-padding-bottom
  .wrapper
    = view :section_basic_image_text, image_url: "/images/fill-448x280/intl-pl-page-intro.png", heading: hoc_s("pl_page.pedagogy.heading"), desc: hoc_s("pl_page.pedagogy.desc"), wrap_reverse: true, url: nil, urlText: nil

%section
  .wrapper
    = view :section_basic_image_text, image_url: "/images/pl-page-educator-support.png", heading: hoc_s("pl_page.support.heading"), desc: hoc_s("pl_page.support.desc"), wrap_reverse: false, url: nil, urlText: nil

%section
  .wrapper
    = view :section_basic_image_text, image_url: "/images/fill-448x280/pl-page-share.png", heading: hoc_s("pl_page.share.heading"), desc: hoc_s("pl_page.share.desc"), wrap_reverse: true, url: nil, urlText: nil

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("pl_page.resources.heading")
    = view :"professional_learning/pl_page_resources"

= view :analytics_event_log_helper, event_name: AnalyticsConstants::PICK_PL_PAGE_VISITED_EVENT
