---
title: Professional Learning Program Details
theme: responsive_full_width
---

-# When this DCDO flag is set to 'true' it shows the off-season version of the page
- off_season_version = !!DCDO.get('pl-teacher-application-off-season', false)

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

= view :analytics_event_log_helper, event_name: AnalyticsConstants::MIDDLE_AND_HIGH_SCHOOL_PL_PAGE_VISITED_EVENT

%section.top
  .wrapper
    %h1{style: "margin-bottom: 3rem"}
      =hoc_s(:pl_middle_high_top_heading)
    .text-wrapper.col-50{style: "margin-bottom: 1rem"}
      %p.body-one
        =hoc_s(:pl_middle_high_top_desc)
      %p
        %strong=hoc_s(:pl_middle_high_top_desc_02)
      %ul
        %li=hoc_s(:pl_middle_high_top_list_01)
        %li=hoc_s(:pl_middle_high_top_list_02)
        %li=hoc_s(:pl_middle_high_top_list_03)
        %li=hoc_s("pl_page_k5.top_list_04")
      %a.link-button{href: off_season_version ? "#subscribe-form" : "/educate/professional-learning/program-information"}
        =hoc_s(off_season_version ? :call_to_action_applications_get_notified : :call_to_action_apply_now)
    .video-wrapper.col-50
      %figure.video-responsive{style: "margin-top: 5px; max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/dScOdk0yY38", title: "YouTube video player", allowfullscreen: "true", frameborder: "0"}
    .clear

= view :pl_curriculum_launch_skinny_banner

%section.bg-neutral-light
  .wrapper
    .quotes-wrapper
      %figure.col-33{style: "margin-top: 10px;"}
        %img{src: "/images/professional-learning/pl-carousel.png", alt: ""}
      %div.col-60{style: "float: right"}
        %h2.heading-lg.no-margin-bottom
          =hoc_s(:pl_middle_high_quotes_heading)
        = view :pl_middle_high_carousel
  .clear

%section
  .wrapper
    %h2=hoc_s(:pl_middle_high_programs_heading)
    %p
      =hoc_s(:pl_middle_high_programs_desc, markdown: :inline, locals:{csd_url: "/csd", csp_url: "/csp", csa_url: "/csa"})
    = view :pl_middle_high_programs
  .clear

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:heading_program_design)
    %p=hoc_s(:pl_middle_high_program_design_desc)
    %ul.progressive-list
      %li
        %span
        %h3=hoc_s(:pl_middle_high_program_design_summer_title)
        %p=hoc_s(:pl_middle_high_program_design_summer_desc)
      %li
        %span
        %h3=hoc_s(:pl_middle_high_program_design_year_title)
        %p=hoc_s(:pl_middle_high_program_design_year_desc)
      %li
        %span
        %h3=hoc_s(:pl_middle_high_program_design_community_title)
        %p=hoc_s(:pl_middle_high_program_design_community_desc)

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:heading_how_does_application_process_work)
    %ol.steps-list.three-col
      %li
        %h3
          %span 1
        %h4=hoc_s(:heading_apply)
        %p=hoc_s(:pl_middle_high_process_apply_desc)
      %li
        %h3
          %span 2
        %h4=hoc_s(:heading_acceptance)
        %p=hoc_s(:pl_middle_high_process_acceptance_desc)
      %li
        %h3
          %span 3
        %h4=hoc_s(:heading_enroll)
        %p=hoc_s(:pl_middle_high_process_enroll_desc)
    %div.centered
      %a.link-button{href: off_season_version ? "#subscribe-form" : "/educate/professional-learning/program-information"}
        =hoc_s(off_season_version ? :call_to_action_applications_get_notified : :call_to_action_apply_now)

- if off_season_version
  %section#subscribe-form.no-padding-bottom
    .wrapper
      = view :subscribe_form, subscribe_form_section_title: hoc_s(:subscribe_form_section_title_pl), subscribe_form_section_desc: hoc_s(:subscribe_form_section_desc_pl), form_height: "500px", form_src: "http://go.pardot.com/l/153401/2023-10-24/pqs3r1"
- else
  %section
    .wrapper
      %h2=hoc_s(:pl_middle_high_cost_heading)
      .action-block.action-block--two-col
        .media-wrapper.col-50
          %img{src: "/images/professional-learning/pl-teacher-group.png", alt: ""}
        .text-wrapper.col-50
          %h3=hoc_s(:pl_middle_high_cost_subhead)
          %p=hoc_s(:pl_middle_high_cost_desc)
          %a.link-button{href: "/educate/professional-learning/program-information"}
            =hoc_s(:call_to_action_learn_more_program_region)
      .clear

  = view :section_divider_line

%section
  .wrapper
    = view :"professional_learning/additional_programs", heading: hoc_s(:pl_middle_high_additional_programs_heading), desc: hoc_s(:pl_middle_high_additional_programs_desc), middle_high: true

= view :section_divider_line

%section
  .wrapper
    = view :"professional_learning/regional_partners_questions"
