---
title: Online Self-Paced Professional Learning for Teachers
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/professional-development-online.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_calendar_clock = "fa-solid fa-calendar-clock"
- icon_person_rays = "fa-solid fa-person-rays"
- icon_star = "fa-solid fa-star"

%section.hero-banner-basic.bg-pattern-dark
  .wrapper.flex-container.align-items-center
    .text-wrapper
      %h1.white
        =hoc_s(:self_paced_pl_hero_heading)
      %p.body-one.wrap-balance.white
        =hoc_s(:self_paced_pl_hero_desc)
    %img{src: "../shared/images/banners/self-paced-pl-hero.png", alt: ""}

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:self_paced_pl_intro_heading)
    %p=hoc_s(:self_paced_pl_intro_desc)
    .grid-container.two-col.justify-space-between.align-items-center.gap-4
      %div
        %ul.icon-bullet-list.full-width
          %li
            %div
              %i{class: "#{icon_calendar_clock}"}
            .text-wrapper
              %h3=hoc_s(:self_paced_pl_intro_list_title_01)
              %p.no-margin-bottom.wrap-balance=hoc_s(:self_paced_pl_intro_list_desc_01)
          %li
            %div
              %i{class: "#{icon_person_rays}"}
            .text-wrapper
              %h3=hoc_s(:self_paced_pl_intro_list_title_02)
              %p.no-margin-bottom=hoc_s(:self_paced_pl_intro_list_desc_02)
          %li.no-margin-bottom
            %div
              %i{class: "#{icon_star}"}
            .text-wrapper
              %h3=hoc_s(:self_paced_pl_intro_list_title_03)
              %p.no-margin-bottom=hoc_s(:self_paced_pl_intro_list_desc_03)
      %figure
        %img.rounded-corners{src: "/images/self-paced-pl-teacher-student-top.png", alt: "", style: "width: 100%"}

= view :professional_learning_skinny_banner

-# Hiding this section for now, but leaving it here until after Teacher Application season
-# %section.bg-primary-light
-#   .wrapper
-#     %p.heading-xs.no-margin-bottom
-#       =hoc_s(:self_paced_pl_callout)
-#       %a{href: "/professional-learning"}=hoc_s(:self_paced_pl_callout_link)

%section#modules
  .wrapper
    %h2=hoc_s(:self_paced_pl_modules_heading)
    %p=hoc_s(:self_paced_pl_modules_desc)
    %p
      %strong=hoc_s(:self_paced_pl_modules_list_heading)
    %ul
      %li=hoc_s(:self_paced_pl_modules_list_01)
      %li=hoc_s(:self_paced_pl_modules_list_02)
      %li=hoc_s(:self_paced_pl_modules_list_03)
    .flex-container.wrap.gap-1-5{style: "margin-top: 2rem;"}
      %a.body-two.no-margin-bottom{href: "#elementary-school"}
        =hoc_s(:self_paced_pl_elementary_school_teachers)
      %a.body-two.no-margin-bottom{href: "#middle-school"}
        =hoc_s(:self_paced_pl_middle_school_teachers)
      %a.body-two.no-margin-bottom{href: "#high-school"}
        =hoc_s(:self_paced_pl_high_school_teachers)

= view :section_divider_line

%section#elementary-school
  .wrapper
    %h2=hoc_s(:self_paced_pl_elementary_school_teachers)
    = view :"self_paced_pl/self_paced_pl_modules_carousel_elementary"

= view :section_divider_line

%section#middle-school
  .wrapper
    %h2=hoc_s(:self_paced_pl_middle_school_teachers)
    = view :"self_paced_pl/self_paced_pl_modules_carousel_middle"

= view :section_divider_line

%section#high-school
  .wrapper
    %h2=hoc_s(:self_paced_pl_high_school_teachers)
    = view :"self_paced_pl/self_paced_pl_modules_carousel_high"

%section.bg-pattern-dark
  .wrapper
    .grid-container.two-col.justify-space-between.align-items-center.gap-4
      %figure.action-wrapper.solid-bg
        %img.rounded-corners.box-shadow-soft-neutral{src: "/images/certificate-example.png", alt: "", style: "width: 100%"}
      .text-wrapper
        %h2.white{style: "color: white"}
          =hoc_s(:self_paced_pl_share_accomplishment_heading)
        %p.white{style: "color: white"}
          =hoc_s(:self_paced_pl_share_accomplishment_desc)

%section.bg-neutral-light
  .wrapper
    %div.col-50{style: "margin-bottom: 1rem;"}
      %h2=hoc_s(:self_paced_pl_facilitator_heading)
      %h3.heading-sm=hoc_s(:self_paced_pl_facilitator_subheading)
      %p.body-three
        =hoc_s(:self_paced_pl_facilitator_desc)
      %a.link-button{href: "/professional-learning"}=hoc_s(:self_paced_pl_facilitator_call_to_action)
    %div.col-45{style: "float:right; margin-top: 0.5em"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/dScOdk0yY38", allowFullScreen: 'true', frameborder: '0', title: hoc_s(:video_title_professional_learning_program)}
    .clear

%section
  .wrapper
    %h2=hoc_s(:self_paced_pl_resources_heading)
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:self_paced_pl_resources_title_01)
          %img{src: "/images/regional-partner-action-block-tile.png", alt: "", style: "width: 100%"}
          %p=hoc_s(:self_paced_pl_resources_desc_01)
        .content-footer
          %a.link-button{href: "/educate/professional-learning/contact-regional-partner"}
            =hoc_s(:call_to_action_contact_regional_partner)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:self_paced_pl_resources_title_02)
          %img{src: "/images/csta-action-block-tile.png", alt: "", style: "width: 100%"}
          %p=hoc_s(:self_paced_pl_resources_desc_02)
        .content-footer
          %a.link-button.has-external-link{href: "https://www.csteachers.org/page/individual-membership", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:call_to_action_join_csta)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3=hoc_s(:self_paced_pl_resources_title_03)
          %img{src: "/images/afe-action-block-tile-small.png", alt: "", style: "width: 100%"}
          %p=hoc_s(:self_paced_pl_resources_desc_03)
        .content-footer
          %a.link-button{href: "/afe", aria:{label: hoc_s(:aria_label_call_to_action_afe)}}
            =hoc_s(:call_to_action_learn_more)

= view :analytics_event_log_helper, event_name: AnalyticsConstants::SELF_PACED_PL_PAGE_VISITED_EVENT

= view :swiper_page_self_paced_pl
