%link{rel:'stylesheet', type:'text/css', href:'/shared/css/gdpr-eu-dialog.css'}

-# dashboard will be passed as a parameter when the dashboard is rendering this dialog.
- dashboard ||= false
- if dashboard
  - heading = I18n.t('gdpr_dialog.heading')
  - message = I18n.t('gdpr_dialog.message')
  - see_privacy_policy = I18n.t('gdpr_dialog.see_privacy_policy', url: CDO.code_org_url('/privacy'))
  - logout = I18n.t('gdpr_dialog.logout')
  - yes = I18n.t('gdpr_dialog.yes')
- else
  - heading = hoc_s(:gdpr_dialog_heading)
  - message = hoc_s(:gdpr_dialog_message)
  - see_privacy_policy = hoc_s(:gdpr_dialog_see_privacy_policy).gsub(/%{url}/, CDO.code_org_url('/privacy'))
  - logout = hoc_s(:gdpr_dialog_logout)
  - yes = hoc_s(:gdpr_dialog_yes)

#gdpr-eu-dialog
  .text
    .heading
      = heading
    %br
    .message
      = message
    %br
    .link-to-privacy-policy
      = see_privacy_policy
  %hr
  .buttons
    %button#logout
      = logout
    %button#accept
      = yes
