%link{rel:'stylesheet', type:'text/css', href:'/shared/css/gdpr-eu-dialog.css'}

-# dashboard will be passed as a parameter when the dashboard is rendering this dialog.
- dashboard ||= false
- if dashboard
  - heading = I18n.t('gdpr_dialog.heading')
  - message = I18n.t('gdpr_dialog.message')
  - link_intro = I18n.t('gdpr_dialog.link_intro')
  - privacy_policy = I18n.t('gdpr_dialog.privacy_policy')
  - logout = I18n.t('gdpr_dialog.logout')
  - yes = I18n.t('gdpr_dialog.yes')
- else
  - heading = hoc_s(:gdpr_dialog_heading)
  - message = hoc_s(:gdpr_dialog_message)
  - link_intro = hoc_s(:gdpr_dialog_link_intro)
  - privacy_policy = hoc_s(:gdpr_dialog_privacy_policy)
  - logout = hoc_s(:gdpr_dialog_logout)
  - yes = hoc_s(:gdpr_dialog_yes)

#gdpr-eu-dialog
  .text
    .heading
      = heading
    %br
    .message
      = message
    %br
    .link-to-privacy-policy
      = link_intro
      %a{href: CDO.code_org_url('/privacy'), target: '_blank'}= privacy_policy
  %hr
  .buttons
    %button#logout
      = logout
    %button#accept
      = yes
