:ruby
  teacher_entries = [
    { title: I18n.t("#{loc_prefix}home"), url: "#{studio_url_base}/home" },
    { title: I18n.t("#{loc_prefix}courses"), url: "#{studio_url_base}/courses" },
    { title: I18n.t("#{loc_prefix}project_gallery"), url: "#{studio_url_base}/projects" },
    { title: I18n.t("#{loc_prefix}sections"), url: "#{code_org_url_base}/teacher-dashboard#/sections" },
    { title: I18n.t("#{loc_prefix}professional_learning"), url: "#{studio_url_base}/my-professional-learning" }
  ].freeze

  student_entries = [
    { title: I18n.t("#{loc_prefix}courses"), url: "#{studio_url_base}/courses" },
    { title: I18n.t("#{loc_prefix}project_gallery"), url: "#{studio_url_base}/projects" }
  ]

  signed_out_entries = [
    { title: I18n.t("#{loc_prefix}courses"), url: "#{studio_url_base}/courses" },
    { title: I18n.t("#{loc_prefix}project_gallery"), url: "#{studio_url_base}/projects/public" }
  ]

  educate_entries = [
    { title: I18n.t("#{loc_prefix}educate_overview"), url: "#{code_org_url_base}/educate" },
    { title: I18n.t("#{loc_prefix}educate_elementary"), url: "#{code_org_url_base}/educate/curriculum/elementary-school" },
    { title: I18n.t("#{loc_prefix}educate_middle"), url: "#{code_org_url_base}/educate/curriculum/middle-school" },
    { title: I18n.t("#{loc_prefix}educate_high"), url: "#{code_org_url_base}/educate/curriculum/high-school" },
    { title: I18n.t("#{loc_prefix}educate_hoc"), url: "https://hourofcode.com" },
    { title: I18n.t("#{loc_prefix}educate_partner"), url: "#{code_org_url_base}/educate/partner" },
    { title: I18n.t("#{loc_prefix}educate_beyond"), url: "#{code_org_url_base}/educate/curriculum/3rd-party" },
    { title: I18n.t("#{loc_prefix}educate_inspire"), url: "#{code_org_url_base}/educate/resources/inspire" },
    { title: I18n.t("#{loc_prefix}educate_community"), url: "#{code_org_url_base}/educate/community" },
    { title: I18n.t("#{loc_prefix}educate_tools"), url: "#{code_org_url_base}/educate/resources/videos" },
  ]

  about_entries = [
    { title: I18n.t("#{loc_prefix}about_us"), url: "#{code_org_url_base}/about" },
    { title: I18n.t("#{loc_prefix}about_leadership"), url: "#{code_org_url_base}/about/leadership" },
    { title: I18n.t("#{loc_prefix}about_donors"), url: "#{code_org_url_base}/about/donors" },
    { title: I18n.t("#{loc_prefix}about_partners"), url: "#{code_org_url_base}/about/partners" },
    { title: I18n.t("#{loc_prefix}about_team"), url: "#{code_org_url_base}/about/team" },
    { title: I18n.t("#{loc_prefix}about_news"), url: "#{code_org_url_base}/about/news" },
    { title: I18n.t("#{loc_prefix}about_evaluation"), url: "#{code_org_url_base}/about/evaluation" },
    { title: I18n.t("#{loc_prefix}about_jobs"), url: "#{code_org_url_base}/about/jobs" },
    { title: I18n.t("#{loc_prefix}about_contact"), url: "#{code_org_url_base}/contact" },
    { title: I18n.t("#{loc_prefix}about_faqs"), url: "#{code_org_url_base}/faq" },
  ]

  require 'cdo/hamburger'

  options = { level: level, language: language, user_type: user_type }
  visibility = Hamburger.get_visibility(options)

#hamburger{class: visibility[:hamburger_class]}
  %ul.hide-responsive-menu
    .user-links
      - if user_type == "teacher"
        - teacher_entries.each do |entry|
          %li{class: visibility[:show_teacher_options]}
            %a{href: entry[:url]}= entry[:title]
        .divider{class: visibility[:show_teacher_options]}
      - elsif user_type == "student"
        - student_entries.each do |entry|
          %li{class: visibility[:show_student_options]}
            %a{href: entry[:url]}= entry[:title]
        .divider{class: visibility[:show_student_options]}
      - else
        - signed_out_entries.each do |entry|
          %li{class: visibility[:show_signed_out_options]}
            %a{href: entry[:url]}= entry[:title]
        .divider{class: visibility[:show_signed_out_options]}

    .help-links{class: visibility[:show_help_options]}
      - if level || script_level
        - report_url = script_level ? script_level.report_bug_url(request) : level.report_bug_url(request)
        %li
          %a#report-bug{href: report_url, target: "_blank"}=I18n.t("#{loc_prefix}report_bug")
      - else
        %li
          %a#report-bug{href:"https://support.code.org/hc/en-us/requests/new", target: "_blank"}=I18n.t("#{loc_prefix}report_bug")
      %li
        %a#support{href: "https://support.code.org", target: "_blank"}=I18n.t("#{loc_prefix}help_support")
      - if user_type == "teacher"
        %li
          %a{href: "http://forum.code.org/"}=I18n.t("#{loc_prefix}teacher_community")
      - if level && level.try(:is_project_level) && level.game == Game.gamelab
        %li
          %a{href:"https://docs.code.org/gamelab/"}=I18n.t("#{loc_prefix}documentation")
      - if level && level.try(:is_project_level) && level.game == Game.applab
        %li
          %a{href:"https://docs.code.org/applab/"}=I18n.t("#{loc_prefix}documentation")
      - if level || script_level
        %li
          %a{href: CDO.code_org_url('/educate/applab')}=I18n.t("#{loc_prefix}tutorials")
      .divider{class: visibility[:show_pegasus_options]}

    .pegasus-links{class: visibility[:show_pegasus_options]}
      %li{class: visibility[:show_pegasus_options]}
        %a{href: "#{code_org_url_base}/student"}= I18n.t("#{loc_prefix}learn")
      %li{class: visibility[:show_pegasus_options]}
        #educate-more
          = I18n.t("#{loc_prefix}teach")
          %i#educate-down{class: "fa fa-caret-down"}
          %i#educate-up{class: "fa fa-caret-up"}

      .educate-nav.hide-educate{class: visibility[:show_pegasus_options]}
        - educate_entries.each do |entry|
          %li
            %a{href: entry[:url]}= entry[:title]
      %li{class: visibility[:show_pegasus_options]}
        %a{href: "#{code_org_url_base}/promote"}= I18n.t("#{loc_prefix}stats")
      %li{class: visibility[:show_pegasus_options]}
        %a{href: "#{code_org_url_base}/help"}= I18n.t("#{loc_prefix}help_us")
      %li{class: visibility[:show_pegasus_options]}
        #about-more
          = I18n.t("#{loc_prefix}about")
          %i#about-down{class: "fa fa-caret-down"}
          %i#about-up{class: "fa fa-caret-up"}
      .about-nav.hide-about{class: visibility[:show_pegasus_options]}
        - about_entries.each do |entry|
          %li
            %a{href: entry[:url]}= entry[:title]

  #hamburger-icon{class: visibility[:hamburger_class]}
    %span
