%h1= 'Helpful Links'

%h2 Reference Guides
%ul
  %li= link_to 'CSD', '/courses/csd/guides/'
  %li= link_to 'CSP', '/courses/csp/guides/'
  %li= link_to 'CSA', '/courses/csa/guides/'
%p
  To edit reference guides for standalone units (with /s/ links), use:
  %b "/courses/[unit_name]/guides/edit"
  %br For ex, to edit guides for gen-ai-customizing-pilot-v1 unit,
  = link_to 'https://levelbuilder-studio.code.org/courses/gen-ai-customizing-pilot-v1/guides/edit', '/courses/gen-ai-customizing-pilot-v1/guides/edit'

%h2 Applab Datasets
%ul
  %li= link_to 'Dataset Library', '/datasets'
  %li= link_to 'Data Docs', '/data_docs'
  %li= link_to 'Dataset Manifest', '/datasets/manifest/edit'

%h2 Miscellaneous
%ul
  %li= link_to 'Documentation Homepage', '/docs/ide'
  %li= link_to 'Videos', '/videos'
  %li= link_to 'Levels', '/levels'
