%h1= 'Helpful Links'

%h2 Reference Guides
%ul
  %li= link_to 'CSD', '/courses/csd/guides/'
  %li= link_to 'CSP', '/courses/csp/guides/'
  %li= link_to 'CSA', '/courses/csa/guides/'

%h2 Miscellaneous
%ul
  %li= link_to 'Documentation Homepage', '/docs/ide'
  %li= link_to 'Data Docs', '/data_docs'
  %li= link_to 'Videos', '/videos'
  %li= link_to 'Levels', '/levels'
