<% var i18n = require('@cdo/locale'); %>
<%
/**
 * This block destructures the local variables for use within this ejs template.
 */
var funcName = locals.funcName;
var functionName = locals.functionName;
var isProperty = locals.isProperty;
var tipPrefix = locals.tipPrefix;
var functionShortDescription = locals.functionShortDescription;
var parameters = locals.parameters;
var signatureOverride = locals.signatureOverride;
var showExamplesLink = locals.showExamplesLink;
var currentParameterIndex = locals.currentParameterIndex;
%>
<div class="function-name">
  <% if (signatureOverride) { -%>
    <%= signatureOverride %>
  <% } else {
    /**
     * TODO(bjordan): would be nice to split the following line up, can't figure
     * out how to do so without inserting extraneous spaces between parameters.
     */
    -%>
    <%= functionName %>(<% for (var i = 0; i < parameters.length; i++) { -%><span class="tooltip-parameter-name <% if (i === currentParameterIndex) { %> current-tooltip-parameter-name<% } %>"><%- parameters[i].name -%></span><% if (i < parameters.length - 1) { -%>, <% } -%><% } -%>)
  <% } %>
</div>
<% if (parameters[currentParameterIndex] && parameters[currentParameterIndex].description) { %><div><%= parameters[currentParameterIndex].description %></div><% } %>
<% if (parameters[currentParameterIndex] && parameters[currentParameterIndex].assetTooltip) { %>
  <div class="tooltip-choose-link">
    <a href="#"><%= i18n.choosePrefix() %></a>
  </div>
<% } %>
<% if (showExamplesLink) { %>
  <div class="tooltip-example-link">
    <a href="#"><%= i18n.examples() %></a>
  </div>
<% } %>
