%h3= t('landing.prerelease')
%h1 Editing script #{@script.name}
%h3 Note: to rename stages, for now, ask an engineer to change the name in the localization file rather than changing it in this form
= render 'form'
= link_to t('crud.show'), @script
|
\#{link_to t('crud.back'), scripts_path}
