%h1= @page_title = "Editing script '#{@script.name}'"

= form_for(@script || :script, @script ? {url: script_path(@script)} : {url: scripts_path}) do |f|
  - if @script && @script.errors.any?
    #error_explanation
      %h2
        = pluralize(@script.errors.count, 'error')
        prohibited this script from being saved:
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg
  - if @script.nil? || @script.new_record?
    .field
      = f.label :name
      = f.text_field :name
  - else
    = f.hidden_field :name
  .edit_container
  %script{src: webpack_asset_path('js/scripts/edit.js'),
          data: {levelBuilderEditScript: @script_data.to_json}}
