- content_for(:head) do
  =javascript_include_tag 'js/plc'

= render partial: 'shared/check_admin'
#landingpage
  #lesson
    - if @script.professional_learning_course?
      #breadcrumb
      - react_props = {unit_name: @script.plc_course_unit.unit_name, course_view_path: course_path(@script.plc_course_unit.plc_course.name.downcase.sub(' ', '-'))}
      :javascript
        ReactDOM.render(
          React.createElement(window.dashboard.plcHeader, #{react_props.to_json}),
          document.getElementById('breadcrumb')
        );
    - else
      #trynow
        = button_to t('home.trynow'), script_next_path(@script, 'next'), method: 'get', class: 'btn btn-primary biggerbutton'
        %p
          = link_to t('landing.support'), t('landing.support_url')
          %br/

    #heading
      %h2
        = image_tag(@script.logo_image, class: 'logo') if @script.logo_image
        = data_t_suffix('script.name', @script.name, 'title')
        - if @script.beta?
          %span.betatext
            = t('beta')

      %p
        = data_t_suffix('script.name', @script.name, 'description')

    - if @script.banner_image
      %p
        = link_to image_tag(@script.banner_image), script_next_path(@script, 'next')

    - if @script.beta?
      %p.lightgreytext
        != t('landing.prerelease_hoc2014')

  #stats
    .user-stats-block
      :javascript
        dashboard.progress.renderCourseProgress(#{@script.summarize(current_user).to_json});
      = render partial: 'shared/user_stats_key'

      - if @script.trophies
        %div{style: 'clear: both;'}
        #trophies
          = render partial: 'shared/concept_trophy_block', locals: {concept_progress: summarize_trophies(@script), added_style: 'padding: 10px;'}

  %div{style: 'clear: both;'}
  %br/
  %br/
  - if @current_user.try(:teacher?)
    - if @script.k5_course?
      %a{href: CDO.code_org_url('/curriculum/docs/k-5/overview')}
        = t('home.all_courses')
      %br/
      %br/

    - if @script.has_lesson_plan?
      %a{href: CDO.code_org_url('/curriculum/' + @script.name)}
        = t('home.lesson_plans')
      %br/
      %br/

    %br/

-# TODO(asher): Remove the current_user.admin? as part of admin account lockdown.
- if current_user && (current_user.admin? || current_user.permission?(UserPermission::LEVELBUILDER))
  -# Show all the levels, their names, and instructions in the admin box.
  = render layout: 'shared/admin' do
    - levels = Script.get_from_cache(@script.name).stages.map{ |stage| stage.script_levels.map{ |sl| sl.level }}.flatten
    - levels.each_with_index do |level, index|
      .row
        .span1
          = index + 1
        .span3
          = level.name
        .span8
          = level.instructions
