= render partial: 'shared/check_admin'
#landingpage
  .row#lesson
    .span9#heading
      %h3.whitetext
        = image_tag(@script.logo_image, class: 'logo') if @script.logo_image
        = data_t_suffix('script.name', @script.name, 'title')
        - if @script.beta?
          %span.betatext
            &nbsp;
            = t('beta')

      %p.smallwhitetext
        = data_t_suffix('script.name', @script.name, 'description')


    .span3#trynow
      = button_to t('home.trynow'), script_next_path(@script, 'next'), method: 'get', class: 'btn btn-primary biggerbutton'
      %p.lightgreytext
        = link_to t('landing.support'), t('landing.support_url')
        %br/

    - if @script.banner_image
      .span12
        %p
          = link_to image_tag(@script.banner_image), script_next_path(@script, 'next')

    - if @script.beta?
      .span10
        %p.lightgreytext
          != t('landing.prerelease_hoc2014')

  .row#stats
    .span12#rightside
      - if @script.trophies
        = render partial: 'shared/user_stats', locals: { user: current_user, width: '100%', async: true }
      - else
        .user-stats-block
          :javascript
            dashboard.progress.renderCourseProgress(#{@script.summarize.to_json});
          = render partial: 'shared/user_stats_key'

  %div{style: 'clear: both;'}
  %br/
  %br/
  - if @current_user.try(:teacher?)
    - if @script.k5_course?
      %a{href: CDO.code_org_url('/curriculum/docs/k-5/overview')}
        = t('home.all_courses')
      %br/
      %br/

    - if @script.has_lesson_plan?
      %a{href: CDO.code_org_url('/curriculum/' + @script.name)}
        = t('home.lesson_plans')
      %br/
      %br/

    %br/

- if current_user && current_user.admin?
  -# Show all the levels, their names, and instructions in the admin box.
  = render layout: 'shared/admin' do
    - levels = Script.get_from_cache(@script.name).stages.map{ |stage| stage.script_levels.map{ |sl| sl.level }}.flatten
    - levels.each_with_index do |level, index|
      .row
        .span1
          = index + 1
        .span3
          = level.name
        .span8
          = level.instructions
