- if !code_summaries.blank?
  %h4= title
  %table
    %tr
      %th Count
      %th Code
      %th Add Code-Specific Hint
      %th Show Existing Hints
    - code_summaries.each do |result|
      %tr
        %td= result[:count]
        %td= render partial: 'shared/solution', locals: { level_source_id: result[:level_source_id], level: level }
        %td= link_to 'Add Hint', build_add_hint_path(result[:pop_level_source_idx], @pop_level_source_ids) if result[:popular]
        %td= link_to 'Show Hints', show_hints_path(result[:level_source_id]) if result[:popular]
