%h1 Admin Concepts progress
:css
  .numeric {
    font-weight: bold;
  }
%p
  Total number of concepts at least 20% learned (any trophy):
  %span.numeric= number_with_delimiter UserTrophy.distinct.count('user_id, concept_id')
%p
  Total number of concepts 100% mastered ('Gold' trophy):
  %span.numeric= number_with_delimiter UserTrophy.includes(:trophy).where('trophies.name' => 'gold').count
%p
  Number of users who learned at least 20% of a concept (any trophy):
  %span.numeric= number_with_delimiter UserTrophy.distinct.count('user_id')
%p
  Number of users who 100% mastered at least one concept ('Gold' trophy):
  %span.numeric= number_with_delimiter UserTrophy.includes(:trophy).where('trophies.name' => 'gold').distinct.count('user_id')

%h3= link_to '<< Back to admin stats', admin_stats_path
