%h1
  CS Principles PD Responses

-# Data for s/CSPPD3-Unit2/stage/2/puzzle/3.
%h3
  Level 3911
%table.responses3911
  - if @responses3911.size > 0
    %tr
    - headers.each do |header|
      %td= header
    - @responses3911.each do |response|
      %tr
      - response.each do |field|
        %td= field
  - else
    Empty.

%br

-# Data for s/CSPPD3-Unit2/stage/2/puzzle/6.
%h3
  Level 3909
%table.responses3909
  - if @responses3909.size > 0
    %tr
    - headers.each do |header|
      %td= header
    - @responses3909.each do |response|
      %tr
      - response.each do |field|
        %td= field
  - else
    Empty.

%br

-# Data for s/CSPPD3-Unit2/stage/2/puzzle/9.
%h3
  Level 3910
%table.responses3910
  - if @responses3910.size > 0
    %tr
    - headers.each do |header|
      %td= header
    - @responses3910.each do |response|
      %tr
      - response.each do |field|
        %td= field
  - else
    Empty.

%br

-# Data for s/CSPPD3-Unit2/stage/5/puzzle/3.
%h3
  Level 3907
%table.responses3907
  - if @responses3907.size > 0
    %tr
    - headers.each do |header|
      %td= header
    - @responses3907.each do |response|
      %tr
      - response.each do |field|
        %td= field
  - else
    Empty.
