%script{src:'https://www.google.com/jsapi'}

%h1
  Fun-O-Meter Stats

%h2
  Global Percentage:
  %span= number_to_percentage(@global_percentage, precision: 2)

%br

#percentages_by_day"

%br

= content_for :body_script do
  %h2
    Script Ratings
  
  %table
    %tr
      - @script_headers.each do |header|
        %th
          %span= header
    - @script_ratings.each do |script|
      %tr
        - script.each do |field|
          %td
            %span= field

= content_for :body_favorite_levels do
  %h2
    Favorite Levels
  
  %table
    %tr
      - @level_headers.each do |header|
        %th
          %span= header
    - @favorite_level_ratings.each do |level|
      %tr
        - level.each do |field|
          %td
            %span= field

= content_for :body_hated_levels do
  %h2
    Hated Levels
  
  %table
    %tr
      - @level_headers.each do |header|
        %th
          %span= header
    - @hated_level_ratings.each do |level|
      %tr
        - level.each do |field|
          %td
            %span= field

- content_for :body_scripts do
  :javascript
    // Load the Visualization API and the appropriate packages, setting a callback
    // to run when the API is loaded.
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    var percentages_by_day = #{percentages_by_day.try(:to_json)}
  
    // The callback that creates and populates the data table, instantiates the
    // chart, and draws it.
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Percentage');
      data.addRows(percentages_by_day);
  
      // Instantiate and draw our chart, passing in some options.
      var options = {'title': 'Fun-O-Meter By Day', 'width':400, 'height':300};
      var chart = new google.visualization.LineChart(document.getElementById('percentages_by_day'));
      chart.draw(data, options);
    }
