%h1 Lookup section

= form_tag(lookup_section_url, method: :post) do
  Enter the 6-letter section code:
  %br/
  = text_field_tag 'section_code'
  %br/
  = submit_tag 'Go!'

- if @section
  %p= "Section code: #{@section.code}"
  %p= "Name: #{@section.name}"
  %p= "Owner: #{@section.user.email}"
