%h1 Lookup section

= form_tag(lookup_section_url, method: :post) do
  Enter the 6-letter section code:
  %br/
  = text_field_tag 'section_code'
  %br/
  = submit_tag 'Go!'

- if @section
  %p= "Section code: #{@section.code}"
  %p= "Owner: #{@section.user.email}"
  %a{href: CDO.code_org_url('http://code.org/teacher-dashboard#/sections/' + @section.id)}
    %p View this section
