- content_for(:head) do
  = stylesheet_link_tag    'jquery.handsontable.full', media: 'all'
  = javascript_include_tag 'jquery.handsontable.full'
%h1 Online Course Name: #{script['name']}
%h2 #{link_to 'Download CSV', {:format => :csv }}
%h3 Last updated: #{DateTime.parse(time).to_formatted_s(:long)}
#progress
:javascript
  var data = #{ data.try(:to_json)};
  var headers = #{ headers.try(:to_json)};
  var ht = new Handsontable(document.getElementById('progress'), {
      data: data,
      colHeaders: headers,
      cells: function(row, col, prop) {
        if(col == 12 || col == 19 || col == 26 || col == 34 || col == 37 ||
           col == 45 || col == 52 || col == 59 || col == 63 || col == 73 ||
           col == 77 || col == 81 || col == 82) {
          return cellProperties = {format: '0.00'};
        }
        return {};
      }
  });
