- content_for(:head) do
  = stylesheet_link_tag    'jquery.handsontable.full', media: 'all'
  = javascript_include_tag 'jquery.handsontable.full'
%h1 Search for Teachers

%table
  %tr
    %td
      Email Filter
    %td
      %input#emailFilter
  %tr
    %td
      Address Filter
    %td
      %input#addressFilter

%br/

%center
  %a#search
    %button Search

%br/

#teacherTable

:javascript
  var basePage = '#{ search_for_teachers_path }';
  var baseAddressFilter = '#{ params[:addressFilter]}';
  var baseEmailFilter = '#{ params[:emailFilter]}';
  var headers = #{ headers.try(:to_json)};
  var data = #{ data.try(:to_json)};
  $(function() {
    var addressFilter = $('#addressFilter');
    var emailFilter = $('#emailFilter');
    addressFilter.val(baseAddressFilter);
    emailFilter.val(baseEmailFilter);
    addressFilter.change(function() {
      updateHref();
    });
    emailFilter.change(function() {
      updateHref();
    });
  });
  function updateHref() {
    var href = basePage;
    var addressFilter = $('#addressFilter');
    if (addressFilter.val()) {
      href = href + '/addressFilter/' + addressFilter.val();
    }
    var emailFilter = $('#emailFilter');
    if (emailFilter.val()) {
      href = href + '/emailFilter/' + emailFilter.val();
    }
    $('#search').attr('href', href);
    $('#search').show();
  }
  $("#teacherTable").handsontable({
    colHeaders: headers,
    data: data,
  });

%br/
%br/
