- @page_title = t('user_stats.recent_activity')
- script = Script.twenty_hour_script
- if 'students' == params[:action]
  = render partial: 'shared/teacher_nav', locals: { current: 'activity' }

%h1= @page_title

%br/

:scss  
  $level_passed: rgb(159, 212, 159);
  //$level_passed: #d8d8d8;
  $level_perfect: rgb(14, 190, 14);
  //$level_attempted: rgb(230, 90, 90);
  // $level_attempted: #d8d8d8;
  $level_attempted: #fefefe;
  $level_not_tried: #fefefe;
  //  $level_passed: yellow;
  //  $level_perfect: rgb(14, 190, 14);
  //  $level_attempted: rgb(230, 90, 90);
  //  $level_not_tried: white;

  .recent_activity {
    border-style: none;
    list-style: none;

    tr {border-style: none; border-bottom: 1px solid #eee; }
    td {border-style: none;}
    td {padding: 7px;}
    div {
      margin: 5px 0;
    }
    span {
      font-weight: bold;
      padding: 2px;
      border-radius: 2px;
    }
    .perfect {
      color: white;
      background-color: $level_perfect;
    }
    .passed {
      color: white;
      background-color: $level_passed;
    }
    .attempted {
      background-color: $level_attempted;
      color: #666;
    }
  }

%h3 Recent Activity
%table.recent_activity
  - @recent_activities.each do |activity|
    %tr
      %td
        = link_to activity.user.name, user_stats_path(activity.user)
      %td
        - if activity.passing?
          %span.perfect completed
        - elsif activity.finished?
          %span.passed passed
        - else 
          %span.attempted attempted
      %td
        - sl = activity.level.script_levels.last
        - if sl
          = link_to build_script_level_path(sl) do
            = data_t_suffix('script.name', sl.script.name, "title")
            %br
            = stage_title(sl.script, sl.stage_or_game)
            = t('puzzle')
            = sl.try(:game_chapter)
      %td
        = time_ago_in_words(activity.updated_at)
        ago
      %td
        - if activity.level_source
          = link_to 'see solution', '#'
