%p#notice= notice

%p
  %strong Name:
  = @learning_module.name

%p
  %strong Learning Module Type
  = @learning_module.learning_module_type

%p
  %strong Artifact requirements
  %ul
    - @learning_module.artifacts.each do |artifact|
      %li #{artifact.name}: #{artifact.description}

= link_to 'Edit', edit_learning_module_path(@learning_module)
\|
= link_to 'Back', learning_modules_path
