%strong{:class => "code", :id => "message"} Hello,  #{@project.project_type}

%h2 KeyValuePair

%h3 set_key_value
= form_tag "set_key_value", :method => :post, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = text_field_tag "value", "", placeholder: "\"value\""
  = submit_tag "set_key_value"

%h3 get_key_value
= form_tag "get_key_value", :method => :get, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = submit_tag "get_key_value"

%table
  %tr
    %td key
    %td value
  - @key_value_pairs.each do |kvp|
    %tr
      %td= kvp.key
      %td= kvp.value


%h2 Record

%h3 delete_record
= form_tag "delete_record", :method => :delete, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "record_id", "", placeholder: "record_id"
  = submit_tag "delete_record"

%h3 read_records
= form_tag "read_records", :method => :get, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = submit_tag "read_records"

%table
  %tr
    %td table_name
    %td record_id
    %td json
  - @records.each do |record|
    %tr
      %td= record.table_name
      %td= record.record_id
      %td= record.json.to_json
