%strong{:class => "code", :id => "message"} Hello,  #{@project.project_type}
%h2 KeyValuePair

%h3 set_key_value
= form_tag "set_key_value", :method => :post, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = text_field_tag "value", "", placeholder: "\"value\""
  = submit_tag "Set"

%h3 get_key_value
= form_tag "get_key_value", :method => :get, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = submit_tag "Get"

%table
  %tr
    %td key
    %td value
  - @key_value_pairs.each do |kvp|
    %tr
      %td= kvp.key
      %td= kvp.value
