<html>
  <head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="<%= window.location.origin %>/assets/js/en_us/common_locale.js"></script>
    <script src="<%= window.location.origin %>/assets/js/en_us/applab_locale.js"></script>
    <script src="<%= window.location.origin %>/assets/js/applab-api.js"></script>
    <link rel="stylesheet" href="<%= window.location.origin %>/assets/css/applab.css">
  </head>
  <body>
    <%- htmlBody %>
    <script src="code.js"></script>
  </body>
</html>
