<!DOCTYPE html>
<html dir="<%= options.localeDirection %>">
<head>
  <meta charset="utf-8">
  <title>Blockly</title>
  <link href="<%= assetUrl('css/common.css') %>" media="all" rel="stylesheet">
  <script type="text/javascript" src="<%= assetUrl('js/blockly.js') %>"></script>
  <script type="text/javascript" src="<%= assetUrl('js/' + options.locale + '/blockly_locale.js') %>"></script>
  <script type="text/javascript" src="<%= assetUrl('js/common.js') %>"></script>
  <script type="text/javascript" src="<%= assetUrl('js/' + options.locale + '/common_locale.js') %>"></script>
  <script type="text/javascript" src="<%= assetUrl('js/' + options.locale + '/' + app + '_locale.js') %>"></script>
  <script type="text/javascript" src="<%= assetUrl('js/' + app + '.js') %>"></script>
  <script type="text/javascript">
    <% // delay to onload to fix IE9. %>
    window.onload = function() {
      <%= app %>Main(<%- JSON.stringify(options) %>);
    };
  </script>
</head>
<body class="readonly">
  <div id="codeWorkspace"></div>
</body>
</html>
