<% var msg = require('@cdo/locale'); %>
<% if (options.feedbackImage) { %>
  <img class="feedback-image" src="<%= options.feedbackImage %>"/>
  <div class="sharing-content">
<% } else { %>
  <div class="sharing-content no-image">
<% } %>


<% if (options.shareLink) { %>
  <% if (options.appStrings && options.appStrings.sharingText) { %>
    <div><%= options.appStrings.sharingText %></div>
  <% } %>

  <div>
    <input type="text" id="sharing-input" value=<%= options.shareLink %> readonly>
  </div>
  <div class='social-buttons'>
    <% if (options.facebookUrl) { -%>
      <a id='sharing-facebook' href='<%= options.facebookUrl %>' target="_blank" class="popup-window" style="display: none">
        <button>
          <i class="fa fa-facebook fa-lg"></i>
        </button>
      </a>
    <% } -%>
    <% if (options.twitterUrl) { -%>
      <a id='sharing-twitter' href='<%= options.twitterUrl %>' target="_blank" class="popup-window" style="display: none">
        <button>
          <i class="fa fa-twitter fa-lg"></i>
        </button>
      </a>
    <% } -%>
    <% if (!options.onMainPage && !options.disablePrinting) { %>
      <button id="print-button">
        <i class="fa fa-print fa-lg"></i>
      </button>
    <% } %>
    <% if (options.alreadySaved) { %>
      <button class="saved-to-gallery" disabled>
        <%= msg.savedToGallery() %>
      </button>
    <% } else if (options.saveToProjectGallery && !options.disableSaveToGallery) { %>
      <button id="save-to-project-gallery-button">
        <%= msg.addToProjects() %>
      </button>
      <button id="publish-to-project-gallery-button">
          <%= msg.publish() %>
      </button>
    <% } %>
    <% if (options.downloadReplayVideo) { %>
      <!-- Mount point for DownloadReplayVideoButton component. -->
      <span id="download-replay-video-container"></span>
    <% } %>
    <button id="sharing-phone">
      <i class="fa fa-mobile fa-lg"></i>
      &nbsp;
      <%= msg.sendToPhone() %>
    </button>
    <div id="download-replay-video-error" style="font-size: 12px; display: none;">
      <%= msg.downloadReplayVideoButtonError() %>
    </div>
  </div>

<% } %>

</div>

<% /* Always show the "Send to phone" button, and when it's clicked to toggle
    * the section below into view, the QR Code, but only show the phone number
    * in that section below when options.isUS is true, which is done
    * for US users. */ %>
<div id="send-to-phone" style="display: none">
  <% if (options.isUS) { %>
    <div id="send-to-phone-left">
      <label for="phone">Enter a US phone number:</label>
      <input type="tel" id="phone" name="phone" />
      <button id="phone-submit" onClick="return false;">Send</button>
      <div id="phone-charges">A text message will be sent via <a href="http://twilio.com" target="_blank">Twilio</a>. Charges may apply to the recipient.</div>
    </div>
  <% } %>
  <div id="send-to-phone-right">
    <label><%= msg.scanQRCode() %></label>
    <div id="send-to-phone-qr-code"></div>
  </div>
</div>
