<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=320, minimal-ui, target-densityDpi=device-dpi, user-scalable=no">
    <script src="<%- jQueryPath %>"></script>
    <script src="<%- gamelabApiPath %>"></script>
    <script src="<%- p5Path %>"></script>
    <script src="<%- p5playPath %>"></script>
    <script src="code.j"></script>
  </head>
  <body style="margin: 0; overflow: hidden;">
  </body>
</html>
