<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=320, minimal-ui, target-densityDpi=device-dpi, user-scalable=no">
    <link rel="preload" href="<%- fontPath %>" as="font" type="font/woff2">
    <script src="<%- jQueryPath %>"></script>
    <script>
      function setExportConfig(config) { window.EXPORT_OPTIONS = config; }
    </script>
    <script src="<%- exportConfigPath %>"></script>
  <% if (appOptionsPath) { -%>
    <script src="<%- appOptionsPath %>"></script>
  <% } -%>
  <% if (commonLocalePath) { -%>
    <script src="<%- commonLocalePath %>"></script>
  <% } -%>
  <% if (applabLocalePath) { -%>
    <script src="<%- applabLocalePath %>"></script>
  <% } -%>
    <script src="<%- applabApiPath %>"></script>
    <script src="https://www.google.com/jsapi"></script>
  <% if (commonCssPath) { -%>
    <link rel="stylesheet" href="<%- commonCssPath %>">
  <% } -%>
    <link rel="stylesheet" href="<%- applabCssPath %>">
    <link rel="stylesheet" href="style.css">
    <script>
      function __start() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'code.j';
        document.getElementsByTagName("head")[0].appendChild(script);
      }
      if (!document['fonts']) {
        __start();
      } else {
        document.fonts.load("100px FontAwesome").then(__start).catch(__start);
      }
    </script>
  </head>
  <body style="margin: 0; overflow: hidden;">
    <%- htmlBody %>
  </body>
</html>
