:ruby
  faq_items = [
    {
      question: hoc_s("ai_ta_page.faq.support.question"),
      answer_01: hoc_s("ai_ta_page.faq.support.answer_01"),
      list_01: hoc_s("ai_ta_page.faq.support.list_01"),
      list_02: hoc_s("ai_ta_page.faq.support.list_02"),
      list_03: hoc_s("ai_ta_page.faq.support.list_03"),
      answer_02: hoc_s("ai_ta_page.faq.support.answer_02"),
    },
    {
      question: hoc_s("ai_ta_page.faq.units.question"),
      answer: hoc_s("ai_ta_page.faq.units.answer"),
    },
    {
      question: hoc_s("ai_ta_page.faq.available.question"),
      answer: hoc_s("ai_ta_page.faq.available.answer"),
    },
    {
      question: hoc_s("ai_ta_page.faq.access.question"),
      answer: hoc_s("ai_ta_page.faq.access.answer"),
    },
    {
      question: hoc_s("ai_ta_page.faq.keep_up.question"),
      answer: hoc_s("ai_ta_page.faq.keep_up.answer", markdown: :inline),
    },
    {
      question: hoc_s("ai_ta_page.faq.demo.question"),
      answer: hoc_s("ai_ta_page.faq.demo.answer", markdown: :inline),
    },
  ]

- faq_items.each_with_index do |faq_item, index|
  %details
    %summary
      = faq_item[:question]
    %p
      = faq_item[:answer]
      - if index === 0
        = faq_item[:answer_01]
        %ul
          %li= faq_item[:list_01]
          %li= faq_item[:list_02]
          %li= faq_item[:list_03]
        = faq_item[:answer_02]
      - if index === 5
        = view :display_video_thumbnail, id: "ai_ta_demo", video_code: "Lj7uZx-BKhw", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_teaching_assistant/ai_ta_demo_v1.mp4"

