:css
  .course_progress {
    margin: 10px 0;
  }

- user_script ||= nil
.course_progress
  .row#lesson
    .span9#heading
      %h3.whitetext{style: 'margin: 0; display: inline-block'}
        %a.expando{style: 'color: white'}
          %i.fa.fa-plus-square
        = data_t_suffix('script.name', script.name, "title")
      - if script.beta?
        %span.betatext{style: 'font-size: 24.5px'}
          != "&nbsp; beta"

    .span3#heading{style: 'text-align: right;'}
      - if user_script.try(:completed_at)
        %a{href: script_certificate_image_url(current_user, script)}
          %button.btn{style: "background: #0ebe0e; color: white; text-shadow: none"} Print Certificate
      - elsif current_user.next_unpassed_progression_level(script)
        = link_to build_script_level_url(current_user.next_unpassed_progression_level(script)) do
          %button.btn.btn-primary.button-continue#continue_button= t('continue')

  .row#stats{style: 'display: none', 'data-script-id' => "#{script.id}"}
    .span12.content#rightside{style: 'margin-left: 10px;'}
      Loading...


