- showState ||= false

-if id == Script::HOC_NAME
  .courseblock-span6.courseblock-wide-small
    =link_to hoc_reset_url do
      .courseblock-span2.imgspan
        %img{src: '//code.org/images/fit-150x100/codehoc3.jpg'}
      .courseblock-span4.heading
        %h3= t('upsell.hoc.title')
        .smalltext= t('upsell.hoc.body')

-elsif id == 'flappy'
  .courseblock-span6.courseblock-wide-small
    =link_to script_reset_url(Script::FLAPPY_NAME) do
      .courseblock-span2.imgspan
        %img{src: '//studio.code.org/blockly/media/skins/flappy/small_static_avatar.png'}
      .courseblock-span4.heading
        %h3= t('upsell.flappy.title')
        .smalltext= t('upsell.flappy.body')

-elsif id == 'applab'
  - url = CDO.code_org_url('/educate/applab')
  .courseblock-span6.courseblock-wide-small{style: "min-height: 215px;"}
    =link_to url do
      .courseblock-span2.imgspan
        %img{src: CDO.code_org_url("/images/#{id}.png")}
      .courseblock-span4.heading
        %h3= t("upsell.#{id}.title")
        %h4= t("upsell.#{id}.audience")
        .smalltext= t("upsell.#{id}.body")
      .bottombar.smalltext.trynow= t("upsell.#{id}.cta")

-elsif id == Script::TWENTY_HOUR_NAME && view == 'large'
  - url = script_reset_url(id)
  .courseblock-span6.courseblock-wide-large
    =link_to script_url(Script::TWENTY_HOUR_NAME) do
      .courseblock-span2.imgspan
        %img{src: '//code.org/images/fit-150x100/code20hr.jpg'}
      .courseblock-span4.heading
        %h3= t('upsell.20-hour.title')
        %h4= data_t_suffix('script.name', '20-hour', 'description_audience')
        .smalltext= t('upsell.20-hour.body')

-elsif id == Script::TWENTY_HOUR_NAME && view == 'small'
  - url = script_reset_url(id)
  - audience = data_t_suffix('script.name', id, 'description_audience')
  - if current_user ? height = 150 : height = 120
    .courseblock-span6.courseblock-wide-small{style: "min-height: #{height}px;"}
      =link_to script_url(Script::TWENTY_HOUR_NAME) do
        .courseblock-span2.imgspan
          %img{src: '//code.org/images/fit-150x100/code20hr.jpg'}
        .courseblock-span4.heading
          %h3= t('upsell.20-hour.title')
          .smalltext= t('upsell.20-hour.body_short')
        - if current_user && showState
          .audiencebar.smalltext.audience= audience
        - else
          .bottombar.smalltext.audience= audience
        = render partial: 'shared/courseblock_action', locals: { id: id, showState: showState, url: url, current_user: current_user }

- elsif id == Script::ARTIST_NAME || id == Script::PLAYLAB_NAME

  - url = script_reset_url(id)
  - title = data_t_suffix('script.name', id, 'title')
  - body = data_t_suffix('script.name', id, 'description_short')
  - current_user && showState ? height = 125 : height = 100
  .courseblock-span6.courseblock-wide-small{style: "min-height: #{height}px;"}
    =link_to url do
      .courseblock-span2.imgspan
        %img{src: CDO.code_org_url("/shared/images/courses/fill-150x110/logo_tall_#{id}.jpg")}
      .courseblock-span4.heading
        %h3= title
        .smalltext= body
      = render partial: 'shared/courseblock_action', locals: { id: id, showState: showState, url: url, current_user: current_user }

-elsif [Script::COURSE1_NAME, Script::COURSE2_NAME,Script::COURSE3_NAME, Script::COURSE4_NAME, Script::ALGEBRA_NAME].include? id
  .courseblock-span6.courseblock-wide-large
    =link_to script_url(id) do
      .courseblock-span2.imgspan
        = image_tag(CDO.shared_image_url("courses/fit-150x100/logo_#{id}.jpg"))
      .courseblock-span4.heading
        %h3
          = data_t_suffix('script.name', id, 'title')
          - if Script.beta? id
            &nbsp;
            %span.betatext
              =t('beta')
        %h4= data_t_suffix('script.name', id, 'description_audience')
        .smalltext= data_t_suffix('script.name', id, 'description')
