-if id == 'hoc'
  .span6.courseblock-wide-small
    =link_to hoc_reset_url do
      .span2.imgspan
        %img{src: '//code.org/images/fit-520/codehoc3.jpg'}
      .span4.heading
        %h3= t('upsell.hoc.title')
        .smalltext= t('upsell.hoc.body')

-elsif id == 'flappy'
  .span6.courseblock-wide-small
    =link_to script_reset_url(Script::FLAPPY_NAME) do
      .span2.imgspan
        %img{src: '//studio.code.org/blockly/media/skins/flappy/small_static_avatar.png'}
      .span4.heading
        %h3= t('upsell.flappy.title')
        .smalltext= t('upsell.flappy.body')

-elsif id == '20-hour' && view == 'large'
  .span6.courseblock-wide-large
    =link_to script_url(Script::TWENTY_HOUR_NAME) do
      .span2.imgspan
        %img{src: '//code.org/images/fit-520/code20hr.jpg'}   
      .span4.heading
        %h3= t('upsell.20-hour.title')
        %h4= data_t_suffix('script.name', '20-hour', 'description_audience')
        .smalltext= t('upsell.20-hour.body')

-elsif id == '20-hour' && view == 'small'
  .span6.courseblock-wide-small
    =link_to script_url(Script::TWENTY_HOUR_NAME) do
      .span2.imgspan
        %img{src: '//code.org/images/fit-520/code20hr.jpg'}   
      .span4.heading
        %h3= t('upsell.20-hour.title')
        .smalltext= t('upsell.20-hour.body_short')

- elsif id == 'artist' || id == 'playlab'

  - url = script_reset_url(id)
  - title = data_t_suffix('script.name', id, 'title')
  - body = data_t_suffix('script.name', id, 'description_short')

  .span6.courseblock-wide-small
    =link_to url do
      .span2.imgspan
        %img{src: CDO.code_org_url("/shared/images/courses/fill-240x200/logo_tall_#{id}.jpg")}
      .span4.heading
        %h3= title
        .smalltext= body

-elsif id == 'course1' || id == 'course2' || id == 'course3' || id == 'course4' || id == 'algebra'
  .span6.courseblock-wide-large
    =link_to script_url(id) do
      .span2.imgspan
        = image_tag(CDO.shared_image_url("courses/logo_#{id}.jpg"))
      .span4.heading
        %h3
          = data_t_suffix('script.name', id, 'title')
          - if Script.beta? id
            &nbsp;
            %span.betatext
              =t('beta')
        %h4= data_t_suffix('script.name', id, 'description_audience')     
        .smalltext= data_t_suffix('script.name', id, 'description')
