- block_data ||= CourseBlockHelper.get_wide_course_block(id)

- if block_data
  .courseblock-span6.courseblock-wide-small
    = link_to block_data[:url] do
      .imgspan= image_tag block_data[:image_url]
      .course-container
        %h3= block_data[:title]
        - if block_data[:audience]
          .text= block_data[:audience]
        .text.smalltext= block_data[:body]
