- user_script ||= nil
.course_progress{style: 'float: left; position: relative;'}
  - unless script.name.in?([Script::HOC_NAME, Script::FROZEN_NAME, Script::INFINITY_NAME, Script::FLAPPY_NAME, Script::PLAYLAB_NAME, Script::ARTIST_NAME, Script::COURSE1_NAME, Script::COURSE2_NAME, Script::COURSE3_NAME, Script::COURSE4_NAME, Script::TWENTY_HOUR_NAME])
    .courseblock-span3.courseblock-wide-small{style: 'width: 460px; height: 110px;'}
      =link_to script_url(script.id) do
        .heading
          %h3= data_t_suffix('script.name', script.name, 'title')
        .clear
        .smalltext= data_t_suffix('script.name', script.name, 'description')
        .clear
        - next_unpassed_progression_level = current_user.next_unpassed_progression_level(script)
        - if user_script.try(:completed_at) || (user_script && next_unpassed_progression_level.nil?)
          %a{href: script_certificate_image_url(current_user, script)}
            .bottombar.smalltext.printcertificate{style: 'bottom: 0; position: absolute'}= t('home.print_certificate')
        - elsif next_unpassed_progression_level
          %a{href: build_script_level_url(next_unpassed_progression_level)}
            .bottombar.smalltext.continue{style: 'bottom: 0; position: absolute'}= t('continue')
        - else
          = link_to build_script_level_url(current_user.next_unpassed_progression_level(script)) do
            .bottombar.smalltext.trynow{style: 'bottom: 0; position: absolute'}= t('home.trynow') 
