- showState ||= false

- if id == Script::HOC_NAME
  - url = hoc_reset_url
  - title = t('upsell.hoc.title')
  - body = t('upsell.hoc.body')

- elsif id == Script::FLAPPY_NAME
  - url = script_reset_url('flappy')
  - title = t('upsell.flappy.title')
  - body = t('upsell.flappy.body')

- elsif id == Script::TWENTY_HOUR_NAME
  - url = script_url(id)
  - title = t('upsell.20hour.title')
  - body = t('upsell.20hour.body')

- elsif id == 'gallery'
  - url = '/gallery'
  - title = t('upsell.gallery.title')
  - body = t('upsell.gallery.body')

- elsif id == 'applab'
  - url = CDO.code_org_url('/educate/applab')
  - title = t('upsell.applab.title')
  - body = t('upsell.applab.body_short')

- elsif [Script::COURSE1_NAME, Script::COURSE2_NAME,Script::COURSE3_NAME, Script::COURSE4_NAME].include? id
  - url = script_url(id)
  - title = data_t_suffix('script.name', id, 'title')
  - body = data_t_suffix('script.name', id, 'description_short')

- elsif [Script::ARTIST_NAME, Script::PLAYLAB_NAME, Script::HOC_NAME, Script::FROZEN_NAME, Script::INFINITY_NAME, Script::STARWARS_NAME, Script::STARWARS_BLOCKS_NAME, Script::MINECRAFT_NAME].include? id
  - url = script_reset_url(id)
  - if id == 'frozen'
    - title = t('upsell.frozen.title')
  - elsif id == 'starwars' || id == 'starwarsblocks'
    - title = t('upsell.starwars.title')
    - url = CDO.code_org_url('/starwars')
  - elsif id == 'mc'
    - title = t('upsell.minecraft.title')
    - url = CDO.code_org_url('/api/hour/begin/mc')
  - elsif id == 'infinity'
    - title = t('upsell.infinity.title')
  - elsif id == 'iceage' || id == 'gumball' || id == 'playlab'
    - url = CDO.code_org_url('/playlab')
    - title = data_t_suffix('script.name', id, 'title')
  - else
    - title = data_t_suffix('script.name', id, 'title')
  - body = data_t_suffix('script.name', id, 'description_short')

- if %w(course1 course2 course3 course4).include?(id)
  - audience = data_t_suffix('script.name', id, 'description_audience')

- block_class = 'courseblock-tall'

- if ! (current_user && showState)
  - block_class << ' courseblock-noaction'

.courseblock-span3.courseblock-tall{class: block_class}
  =link_to url do
    .imgspan
      = image_tag(CDO.shared_image_url("courses/logo_tall_#{id}.jpg"), height: '120px')
    .clear
    - if Script.beta? id
      .beta
        %h3.betatitle
          = title
        %h3.betatext
          = t('beta')
    - else
      .heading
        %h3
          = title
    .clear
    .smalltext= body
    .clear
    - if audience && current_user && showState
      .audiencebar.smalltext.audience= audience
    - elsif audience
      .bottombar.smalltext.audience= audience

    = render partial: 'shared/courseblock_action', locals: { id: id, showState: showState, url: url, current_user: current_user }
