- showState ||= false

-if id == Script::HOC_NAME
  .span6.miniblock
    =link_to hoc_reset_url do
      .span4.heading
        %h3= t('upsell.hoc.title')
        .smalltext= t('upsell.hoc.body')
      .span2.imgspan{style: 'margin-left: 0px;'}
        %img{style: 'height: 100px;', src: '//code.org/images/fit-520/codehoc3.jpg'}

-elsif id == 'flappy'
  .span6.miniblock
    =link_to script_reset_url(Script::FLAPPY_NAME) do
      .span4.heading
        %h3= t('upsell.flappy.title')
        .smalltext.greytext= t('upsell.flappy.body')
      .span1.imgspan{style: 'margin-left: 0px;'}
        %img{style: 'padding-left: 42px; padding-top: 20px;', src: '//studio.code.org/blockly/media/skins/flappy/small_static_avatar.png'}

-elsif id == Script::TWENTY_HOUR_NAME

  - url = script_reset_url(id)

  .span6.miniblock.miniblock-wide
    =link_to script_url(id) do
      .span4.heading
        %h3= t('upsell.20hour.title')
        .smalltext.greytext= t('upsell.20hour.body')
      .span2.imgspan
        %img{style: 'height: 100px;', src: '//code.org/images/fit-520/code20hr.jpg'}

    = render partial: 'shared/miniblock_course_action', locals: { id: id, showState: showState, url: url, current_user: current_user }

- elsif id == Script::ARTIST_NAME || id == Script::PLAYLAB_NAME

  - url = script_reset_url(id)
  - title = data_t_suffix('script.name', id, 'title')
  - body = data_t_suffix('script.name', id, 'description_short')

  .span6.miniblock.miniblock-wide
    =link_to url do
      .span4.heading
        %h3= title
        .smalltext.greytext= body
      .span2.imgspan
        %img{style: 'height: 100px;', src: CDO.code_org_url("/shared/images/courses/fill-240x200/logo_tall_#{id}.jpg")}

    = render partial: 'shared/miniblock_course_action', locals: { id: id, showState: showState, url: url, current_user: current_user }

-elsif [Script::COURSE1_NAME, Script::COURSE2_NAME,Script::COURSE3_NAME, Script::COURSE4_NAME, Script::ALGEBRA_NAME].include? id
  .span9.miniblock.miniblock-short
    =link_to script_url(id) do
      .heading
        %h3
          = data_t_suffix('script.name', id, 'title')
          - if Script.beta? id
            &nbsp;
            %span.betatext
              =t('beta')
        .smalltext.greytext= data_t_suffix('script.name', id, 'description')
      .imgspan
        %br/
        = image_tag(CDO.shared_image_url("courses/logo_#{id}.jpg"), height: 100)
