.course_progress{style: 'float: left; position: relative;'}
  .courseblock-span3.courseblock-wide-small{style: 'width: 460px; height: 150px;'}
    =link_to script_url(script.id) do
      %h3= data_t_suffix('script.name', script.name, 'title')
      .clear
      .smalltext= data_t_suffix('script.name', script.name, 'description_short')
      .clear
    - if Policies::ScriptActivity.completed?(current_user, script)
      =link_to script_url(script.id) do
        .audiencebar.bottombartext.printcertificatelight= t('home.view_course')
      %a{href: script_certificate_image_url(current_user, script)}
        .bottombar.bottombartext.printcertificate{style: 'bottom: 0; position: absolute'}= t('home.print_certificate')
    - elsif Policies::ScriptActivity.not_started?(current_user, script)
      =link_to script_url(script.id) do
        .audiencebar.bottombartext.trynowlight= t('home.view_course')
      %a{href: script_url(script.id)}
        .bottombar.bottombartext.trynow{style: 'bottom: 0; position: absolute'}= t('home.trynow')
    - else
      =link_to script_url(script.id) do
        .audiencebar.bottombartext.continuelight= t('home.view_course')
      %a{href: build_script_level_url(current_user.next_unpassed_progression_level(script))}
        .bottombar.bottombartext.continue{style: 'bottom: 0; position: absolute'}= t('continue')
