- if id == "hoc"
  - url = hoc_reset_url()
  - title = t('upsell.hoc.title')
  - body = t('upsell.hoc.body')

- elsif id == "flappy"
  - url = script_reset_url("flappy")
  - title = t('upsell.flappy.title')
  - body = t('upsell.flappy.body')

- elsif id == "20hour"
  - url = script_url(id)
  - title = t('upsell.20hour.title')
  - body = t('upsell.20hour.body')

- elsif id == "gallery"
  - url = "/gallery"
  - title = t('upsell.gallery.title')
  - body = t('upsell.gallery.body')

- elsif ["course1", "course2", "course3", "course4"].include?(id)
  - url = script_url(id)
  - title = data_t_suffix('script.name', id, "title")
  - body = data_t_suffix('script.name', id, "description_short")

- elsif ["artist", "playlab", "hourofcode", "frozen"].include?(id)
  - url = script_reset_url(id)
  - if id == "frozen"
    - title = t('upsell.frozen.title')
  - else
    - title = data_t_suffix('script.name', id, "title")
  - body = data_t_suffix('script.name', id, "description_short")


- if ["course1", "course2", "course3", "course4"].include?(id)
  - audience = data_t_suffix('script.name', id, "description_audience")
  - block_class = "miniblock-tall miniblock-tall-audiencerow"
- else
  - block_class = "miniblock-tall"

.span3.miniblock{class: block_class, style: "overflow:hidden; position:relative"}
  =link_to url, {style:"text-decoration:none"} do

    .imgspan
      = image_tag(image_url("logo_tall_#{id}.jpg"), height: "120", style: "width: 100%; height: 120px")

    .clear

    - if Script.beta? id
      .beta
        .heading
          %h3
            = title
          .betatext
            = t('beta')
    - else
      .normal
        .heading
          %h3
            = title

    .clear

    .smalltext.greytext{style: "padding-left: 10px; padding-right: 10px; padding-top: 0px; "}= body

    - if audience
      .clear
      .smalltext.whitetext{style: "position: absolute; bottom: 0px; width: 100%; margin-top:10px; padding-left: 10px; padding-right: 10px; padding-top: 4px; padding-bottom:4px; background-color:rgb(116, 128, 136)"}= audience
