- show_teacher_guide ||= false
-# the script family the script belongs to.
- family_name ||= nil
- block_data ||= CourseBlockHelper.get_tall_course_block(id, family_name)

- if block_data
  .courseblock-span3.courseblock-tall
    = link_to block_data[:url] do
      = image_tag block_data[:image_url], height: '120px', width: '100%'
      .course-container
        - if Script.beta? id
          .beta
            %h3.betatitle= block_data[:title]
            %h3.betatext= t('beta')
        - else
          %h3.heading= block_data[:title]
        - if block_data[:audience]
          .text= block_data[:audience]
        .text.smalltext= block_data[:body]
        - if show_teacher_guide && block_data[:teacher_guide]&.present?
          .teacher-guide= link_to t('view_teacher_guide'), block_data[:teacher_guide]
