- require 'state_abbr'

- content_for(:head) do
  =javascript_include_tag 'js/districtDropdown'

#pl-application-form
  #pl-application-facets.form-section

    .form-group
      .question Select school type
      %select#school-type.form-control{name: "#{form_name}[school_type]", type: "select", required: false}
        %option{value: "", selected: true, disabled: true}
        %option{value: SchoolInfo::SCHOOL_TYPE_CHARTER} Charter
        %option{value: SchoolInfo::SCHOOL_TYPE_PRIVATE} Private
        %option{value: SchoolInfo::SCHOOL_TYPE_PUBLIC} Public
        %option{value: SchoolInfo::SCHOOL_TYPE_OTHER} Other

    .form-group{style: "display: none; margin-top: 20px;"}
      .question Enter school district's ZIP code
      %input#school-zipcode.form-control{name: "#{form_name}[school_zip]", type: "text", required: false}

    .form-group{style: "display: none; margin-top: 20px;"}
      .question Select state
      %select#school-state.form-control{name: "#{form_name}[school_state]", type: "select", required: false}
        %option{value: "", selected: true, disabled: true}
        - get_all_states_with_dc.each do |state_abbr, state_name|
          %option{value: state_abbr}= state_name
        %option{value: SchoolInfo::SCHOOL_STATE_OTHER} Other

    .form-group{style: "display: none; margin-top: 20px;"}
      .question Search for district
      #school-district

        -# We'll apply the Selectize UI control to this input.
        %input#school-district-id.form-control{name: "school_district_id_source", type: "text", required: false}

        -# This is the input we'll actually submit as part of the form.  We'll copy the Selectized value into
        -# here whenever it's changed.  Sometimes we'll override this with code, say 0 for "unknown district".
        -# Selectize was showing this 0 as a character when it was disabled, hence giving Selectize its own
        -# input to work with above.
        %input#school-district-id-form.form-control{name: "#{form_name}[school_district_id]", type: "hidden", required: false}

      %label
        %input#school-district-other{name: "#{form_name}[school_district_other]", type: "checkbox", style: "margin-top: 0px"}
        %span{style: "font-size: 12px"}
          Other district not listed above
