.header_level
  %div{class: 'header_level_container'}
    .header_text
    .progress_container
    .header_finished_link{style: 'display: none;'}
    %span.header_trophy_link{style: 'display: none;'}
      .header_text= t(:trophies)
      .header_status_bar.current_trophies
      .header_text.max_trophies
    %span.header_popup_link
      .header_popup_link_glyph
        &#x25BC;
      .header_popup_link_text= t(:more)

- if @script_level
  .header_popup
    .header_popup_header
      %span= t('nav.popup.progress')
      - if current_user
        .header_text{style: 'float: right;'}= t('nav.popup.lines', lines: current_user.total_lines)
    .header_popup_body
      .loading
    .header_popup_footer
      .header_popup_close
        = t('nav.popup.close')
