- if current_user && showState
  .clear
  - script = Script.get_from_cache(id)
  - if current_user.completed_scripts.include?(script)
    = link_to script_certificate_image_url(current_user, script), class: 'whitelink' do
      .bottombar.smalltext.printcertificate
        = t('home.print_certificate')
  - elsif current_user.working_on_scripts.include?(script)
    %a.whitelink{href: current_user.next_unpassed_progression_level(script).url}
      .bottombar.smalltext.continue
        = t('continue')
  - else
    = link_to url, class: 'whitelink' do
      .bottombar.smalltext.trynow
        = t('home.trynow')
