- require 'country_codes'
- require 'state_abbr'
- require 'geocoder'

- location = Geocoder.search(request.ip).try(:first)
-# geocoder sometimes shows localhost's country as RD/Reserved
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)
- existing_school_info ||= {}
- existing_school_info[:country] ||= 'US' if us_ip

- content_for(:head) do
  %script{src: minifiable_asset_path('js/schoolInfoInterstitial.js')}

.itemblock#school-country-group
  .school-info-labelblock= t('school_info.school_country')
  %select#school-country.form-control.fieldblock{name: "#{form_name}[country]", type: "select", required: false}
    %option{value: "", selected: true, disabled: true}
    - COUNTRY_CODE_TO_COUNTRY_NAME.keys.each do |code|
      %option{value: code}= country_name_from_code(code)

.itemblock
  .school-info-labelblock= t('school_info.select_school_type')
  %select#school-type.form-control.fieldblock{name: "#{form_name}[school_type]", type: "select", required: false}
    %option{value: "", selected: true, disabled: true}
    %option{value: SchoolInfo::SCHOOL_TYPE_CHARTER}= t('school_info.charter')
    %option{value: SchoolInfo::SCHOOL_TYPE_PRIVATE}= t('school_info.private')
    %option{value: SchoolInfo::SCHOOL_TYPE_PUBLIC}= t('school_info.public')
    %option{value: SchoolInfo::SCHOOL_TYPE_HOMESCHOOL}= t('school_info.homeschool')
    %option{value: SchoolInfo::SCHOOL_TYPE_AFTER_SCHOOL}= t('school_info.after_school')
    %option{value: SchoolInfo::SCHOOL_TYPE_OTHER}= t('school_info.other')

.itemblock{style: "display: none;"}
  .school-info-labelblock= t('school_info.state')
  %select#school-state.form-control.fieldblock{name: "#{form_name}[school_state]", type: "select", required: false}
    %option{value: "", selected: true, disabled: true}
    - get_all_states_with_dc.each do |state_abbr, state_name|
      %option{value: state_abbr}= state_name

.itemblock{style: "display: none;"}
  .school-info-labelblock= t('school_info.district')
  #school-district

    -# We'll apply the Selectize UI control to this input.
    %input#school-district-id.form-control.fieldblock{name: "#{form_name}[school_district_id]", type: "text", required: false}

    %label
      %input#school-district-other{name: "#{form_name}[school_district_other]", type: "checkbox", value: "true", style: "margin-top: 0px"}
      %span{style: "font-size: 12px"}
        = t('school_info.other_district_not_listed')

.itemblock{style: "display: none;"}
  .school-info-labelblock= t('school_info.district_name')
  %div.controls
    %input#school-district-name.form-control.fieldblock{name: "#{form_name}[school_district_name]", type: "text", required: false, style: "width: calc(100% - 15px);"}

.itemblock{style: "display: none;"}
  .school-info-labelblock= t('school_info.school')
  #school

    -# We'll apply the Selectize UI control to this input.
    %input#school-id.form-control.fieldblock{name: "#{form_name}[school_id]", type: "text", required: false}

    %label
      %input#school-other{name: "#{form_name}[school_other]", type: "checkbox", value: "true", style: "margin-top: 0px"}
      %span{style: "font-size: 12px"}
        = t('school_info.other_school_not_listed')

-# '#school-name' is outside of '#school' so that we can still show it when the school dropdown is hidden.
#school-name-block.itemblock{style: "display: none;"}
  #school-name-title.school-info-labelblock= t('school_info.school_name')
  #school-organization-name-title.school-info-labelblock{style: "display: none"}= t('school_info.school_organization_name')
  %div.controls
    %input#school-name.form-control.fieldblock{name: "#{form_name}[school_name]", type: "text", required: false, style: "width: calc(100% - 15px);"}

#school-zip.itemblock{style: "display: none;"}
  #school-zip-title.school-info-labelblock= t('school_info.school_zip')
  #school-organization-zip-title.school-info-labelblock{style: "display: none"}= t('school_info.school_organization_zip')
  %input#school-zipcode.form-control.fieldblock{name: "#{form_name}[school_zip]", type: "text", required: false, style: "width: calc(100% - 15px);"}
  .error_in_field{style: "padding: 0px; text-align: center;"}

.itemblock{style: "display: none;"}
  .school-info-labelblock= t('school_info.school_address')
  %div.controls
    %textarea#school-address.form-control.fieldblock{name: "#{form_name}[full_address]", required: false, rows: 4, maxlength: 255, style: "width: calc(100% - 15px); resize: vertical;"}

:javascript

  $(document).ready(function() {
    var options = #{existing_school_info.to_json};
    var suppressScrolling = #{!!(local_assigns[:suppress_scrolling])};
    options['suppressScrolling'] = suppressScrolling;

    var assumeUsa = #{!!(local_assigns[:assume_usa])};

    if (assumeUsa) {
      $('#school-country-group').hide();
      $('#school-country').val('United States');
      $('#school-country').change();
    }

    // Send through some values that the JavaScript will need.
    window.schoolInfoManager = new SchoolInfoManager(options);
    $('#school-zipcode').mask('00000'); // For now, only apply to registration page
  });
