- require 'country_codes'
- require 'state_abbr'
- require 'geocoder'

- location = Geocoder.search(request.ip).try(:first)
-# geocoder sometimes shows localhost's country as RD/Reserved
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)
- existing_school_info ||= {}
- existing_school_info[:country] ||= 'US' if us_ip

- content_for(:head) do
  %script{src: minifiable_asset_path('js/shared/_school_info.js')}

#pl-application-form
  #pl-application-facets.form-section
    .form-group#school-country-group
      .question School Country
      %select#school-country.form-control{name: "#{form_name}[country]", type: "select", required: false}
        %option{value: "", selected: true, disabled: true}
        - COUNTRY_CODE_TO_COUNTRY_NAME.keys.each do |code|
          %option{value: code}= country_name_from_code(code)

    .form-group
      .question Select school type
      %select#school-type.form-control{name: "#{form_name}[school_type]", type: "select", required: false}
        %option{value: "", selected: true, disabled: true}
        %option{value: SchoolInfo::SCHOOL_TYPE_CHARTER} Charter
        %option{value: SchoolInfo::SCHOOL_TYPE_PRIVATE} Private
        %option{value: SchoolInfo::SCHOOL_TYPE_PUBLIC} Public
        %option{value: SchoolInfo::SCHOOL_TYPE_OTHER} Other

    .form-group{style: "display: none;"}
      .question State
      %select#school-state.form-control{name: "#{form_name}[school_state]", type: "select", required: false}
        %option{value: "", selected: true, disabled: true}
        - get_all_states_with_dc.each do |state_abbr, state_name|
          %option{value: state_abbr}= state_name

    .form-group{style: "display: none;"}
      .question District
      #school-district

        -# We'll apply the Selectize UI control to this input.
        %input#school-district-id.form-control{name: "#{form_name}[school_district_id]", type: "text", required: false}

        %label
          %input#school-district-other{name: "#{form_name}[school_district_other]", type: "checkbox", value: "true", style: "margin-top: 0px"}
          %span{style: "font-size: 12px"}
            Other district not listed above

        .form-group{style: "display: none;"}
          .question District Name
          %div.controls
            %input#school-district-name.form-control{name: "school_info[school_district_name]", type: "text", required: false, style: "width: calc(100% - 15px);"}

    .form-group{style: "display: none;"}
      .question School
      #school

        -# We'll apply the Selectize UI control to this input.
        %input#school-id.form-control{name: "#{form_name}[school_id]", type: "text", required: false}

        %label
          %input#school-other{name: "#{form_name}[school_other]", type: "checkbox", value: "true", style: "margin-top: 0px"}
          %span{style: "font-size: 12px"}
            Other school not listed above

    #no-schools-warning{style: "display: none; margin-bottom: 5px;"}
      .question No schools of that type were found in this district.

    -# '#school-name' is outside of '#school' so that we can still show it when the school dropdown is hidden.
    .form-group{style: "display: none;"}
      .question
        School Name
      %div.controls
        %input#school-name.form-control{name: "school_info[school_name]", type: "text", required: false, style: "width: calc(100% - 15px);"}

    .form-group{style: "display: none;"}
      .question School’s ZIP code
      %input#school-zipcode.form-control{name: "#{form_name}[school_zip]", type: "text", required: false}

    .form-group{style: "display: none;"}
      .question
        School Address
      %div.controls
        %textarea#school-address.form-control{name: "school_info[full_address]", required: false, rows: 4, maxlength: 255, style: "width: calc(100% - 15px);"}

:javascript

  $(document).ready(function() {
    var options = #{existing_school_info.to_json};
    var suppressScrolling = #{!!(local_assigns[:suppress_scrolling])};
    options['suppressScrolling'] = suppressScrolling;
    options['assumeUsa'] = #{!!(local_assigns[:assume_usa])};

    // Send through some values that the JavaScript will need.
    window.schoolInfoManager = new SchoolInfoManager(options);
  });
