-# only works for pages that have a @level
- if @level && @level.game.supports_sharing?
  - content_for :og do
    = tag 'meta', name: 'viewport', content: 'initial-scale=1'

    -# facebook boilerplate
    = tag 'meta', property: 'fb:app_id', content: '500177453358606'
    = tag 'meta', property: 'og:site_name', content: 'Code.org'
    = tag 'meta', property: 'og:type', content: 'article'
    = tag 'meta', property: 'article:publisher', content: 'https://www.facebook.com/Code.org'

    -# twitter boilerplate
    = tag 'meta', name: 'twitter:site', content: '@codeorg'

    - if @level.game.app == Game::DANCE || @level.game.app == Game::ARTIST
      = tag 'meta', name: 'twitter:card', content: 'summary'
    - else
      = tag 'meta', name: 'twitter:card', content: 'photo'

    - meta_image_width = 400
    - meta_image_height = 400

    -# several meta tags are the same for facebook/og and twitter
    - {og: 'property', twitter: 'name'}.each do |namespace, attr|
      = tag 'meta', attr => "#{namespace}:title", content: t('share_code.check_out_what_i_made')
      = tag 'meta', attr => "#{namespace}:description", content: t('share_code.og_description')
      = tag 'meta', attr => "#{namespace}:url", content: request.original_url

      - if @project_image
        = tag 'meta', attr => "#{namespace}:image", content: @project_image
        = tag 'meta', attr => "#{namespace}:image:secure_url", content: @project_image
      - else
        = tag 'meta', attr => "#{namespace}:image", content: meta_image_url(level_source: @level_source, level: @level)
        = tag 'meta', attr => "#{namespace}:image:secure_url", content: meta_image_url(level_source: @level_source, level: @level)
      = tag 'meta', attr => "#{namespace}:image:width", content: meta_image_width
      = tag 'meta', attr => "#{namespace}:image:height", content: meta_image_height

    = tag :meta, name: 'mobile-web-app-capable', content: 'yes'
    = tag :meta, name: 'apple-mobile-web-app-capable', content: 'yes'
    = tag :meta, name: 'apple-mobile-web-app-status-bar-style', content: 'black-translucent'
    - if @level_source.try(:level_source_image).try(:image)
      = tag :link, rel: 'apple-touch-icon', href: meta_image_url(level_source: @level_source, level: @level)
    - elsif @level.game.flappy?
      = tag :link, rel: 'apple-touch-icon', href: asset_url('flappy_icon.png')
    - else
      = tag :link, rel: 'apple-touch-icon', href: asset_url('logo_noalpha.png')
