- if current_user
  - script = current_user.primary_script
  - script_level = current_user.next_unpassed_progression_level(script)
- else # TODO progress for non-logged in user
  - script_level = nil


- if script_level
  %span#left_off #{t('home.student_left_off')}
  %span#puzzle
    = script_level.stage.localized_title
    #{t('puzzle')} #{script_level.position}
  &nbsp;
  = link_to build_script_level_url(script_level) do
    %button.btn.btn-primary.button-continue#continue_button{class: role_class}= t('continue')
- elsif include_finished
  = render partial: 'shared/student_finished'
