- if current_user
  - script = current_user.primary_script
  - script_level = current_user.next_unpassed_progression_level(script)
- else # TODO progress for non-logged in user
  - script_level = nil


- if script_level
  %span#left_off #{t('home.student_left_off')}
  %span#puzzle
    = stage_title(script, script_level.stage_or_game)
    #{t('puzzle')} #{script_level.stage_or_game_position}
  = link_to build_script_level_url(script_level) do
    %button.btn.btn-primary.button-continue#continue_button= t('continue')
- elsif include_finished
  = render partial: 'shared/student_finished'
