#last
  - script_level = current_user.next_unpassed_progression_level(script)
  - if script_level
    #left_off #{t('home.student_left_off')}
    - stage_or_game = script_level.stage ? script_level.stage : script_level.level.game
    %em= data_t_suffix('script.name', script.name, stage_or_game.name)
    #{t('puzzle')} #{script_level.game_chapter}
    &nbsp;
    = form_tag(build_script_level_url(script_level), method: 'get', style: "display:inline;") do
      = submit_tag t('continue'), name: nil, class: 'btn btn-primary button-continue', id: 'continue_button'
  - elsif include_finished
    = render partial: 'shared/student_finished', locals: { include_prize_link: true }
