- script = @script || (user && user.primary_script) || Script.twenty_hour_script
- script_summary = script.summarize
- async = local_assigns[:async]
- progress = summarize_user_progress(script, user, async) || {}
- level_progress = progress[:levels] || {}
- should_show_lesson_plan = user && user.teacher?
- current_level_id = params[:current_level_id]

.user-stats-block
  - script_summary[:stages].each do |stage|
    .game-group
      .stage
        %span
          = stage[:title]
        - if should_show_lesson_plan && stage[:lesson_plan_html_url]
          .stage-lesson-plan-link
            = link_to t('view_lesson_plan'), stage[:lesson_plan_html_url], target: "_blank"

      .games
        - stage[:levels].each do |level|
          .level
            - p = level_progress[level[:id]]
            - if async
              - status = 'not_tried'
              - result = 0
            - else
              - status = p.try(:[], :status) || 'not_tried'
              - result = p.try(:[], :result) || 0
            - if current_level_id == "#{level[:id]}" && !async
              - puzzle_outer_class = 'puzzle_outer_current'
            - elsif level[:kind] == 'assessment'
              - puzzle_outer_class = 'puzzle_outer_assessment'
            - else
              - puzzle_outer_class = 'puzzle_outer_level'
            %span{class: puzzle_outer_class}
              - link = level[:url]
              - if current_user && current_user != user # viewing someone else's progress
                - link += "?user_id=#{user.id}"
              - if @section
                - link += "&section_id=#{@section.id}"
              %a.level_link{href: link, class: [status, "level-#{level[:id]}"], data: {result: result}}
                - if level[:kind] == 'unplugged'
                  %span.puzzle-named
                    = level[:title]
                - elsif status == 'passed' || status == 'perfect'
                  = check_mark_html
                - else
                  %span.puzzle-number
                    = level[:title]
  = render partial: 'shared/user_stats_key'

- if script_summary[:trophies]
  %div{style: 'clear: both;'}
  #trophies
    = render partial: 'shared/concept_trophy_block', locals: {concept_progress: progress[:trophies], added_style: 'padding: 10px;'}

- if async
  :javascript
    //<![CDATA[
    window.dashboard.progress.populateProgress("#{script.name}")
    //]]>
