.key
  %dl
    %dt
      %span.puzzle_outer_level
        %a.level_link{ href: '', class: 'not_tried', onclick: 'return false;'}
          %span.puzzle-number 1
    %dd= t('progress.not_started')
  %dl
    %dt
      %span.puzzle_outer_level
        %a.level_link{ href: '', class: 'attempted', onclick: 'return false;'}
          %span.puzzle-number 1
    %dd= t('progress.in_progress')
  %dl
    %dt
      %span.puzzle_outer_level
        %a.level_link{ href: '', class: 'passed', onclick: 'return false;'}
          &nbsp;
    %dd= t('progress.completed_too_many_blocks')
  %dl
    %dt
      %span.puzzle_outer_level
        %a.level_link{ href: '', class: 'perfect', onclick: 'return false'}
          &nbsp;
    %dd= t('progress.completed_perfect')
  %dl
    %dt
      %span.puzzle_outer_assessment
        %a.level_link{ href: '', class: 'not_tried', onclick: 'return false'}
          %span.puzzle-number 1
    %dd= t('progress.assessment')
