- script = @script || (user && user.primary_script) || Script.twenty_hour_script
- script_summary = script.summarize
- progress = summarize_user_progress(script, user) || {}
- level_progress = progress[:levels] || {}
- should_show_lesson_plan = user && user.teacher?
- current_level_id = params[:current_level_id]
- puzzle_page = params[:puzzle_page] || -1

.user-stats-block
  - script_summary[:stages].each do |stage|
    .game-group
      .stage
        %span
          = stage[:title]
        - if should_show_lesson_plan && stage[:lesson_plan_html_url]
          .stage-lesson-plan-link
            = link_to t('view_lesson_plan'), stage[:lesson_plan_html_url], target: "_blank"

      .games
        - last_level_id = nil
        - level_repeat = 0
        - stage[:levels].each do |script_level|
          - level_id = level_with_best_progress(script_level[:ids], level_progress)

          - if last_level_id != level_id
            - level_repeat = 0
          - else
            - level_repeat += 1
          - last_level_id = level_id
          .level
            - p = level_progress[level_id]
            - if p.try(:[], :submitted)
              - status = SharedConstants::LEVEL_STATUS.submitted
            - elsif p.try(:[], :pages_completed)
              - pages_completed = p[:pages_completed]
              - status = activity_css_class(pages_completed[level_repeat])
            - else
              - status = p.try(:[], :status) || SharedConstants::LEVEL_STATUS.not_tried
              - result = p.try(:[], :result) || 0
            - if current_level_id == "#{level_id}"
              - puzzle_outer_class = 'puzzle_outer_current'
            - elsif script_level[:kind] == SharedConstants::LEVEL_KIND.assessment
              - puzzle_outer_class = 'puzzle_outer_assessment'
            - else
              - puzzle_outer_class = 'puzzle_outer_level'
            %span{class: puzzle_outer_class}
              - link = script_level[:url]
              - if current_user && current_user != user # viewing someone else's progress
                - link += "?user_id=#{user.id}"
              - if @section
                - link += "&section_id=#{@section.id}"
              %a.level_link{href: link, class: status, data: {result: result}}
                - if script_level[:kind] == SharedConstants::LEVEL_KIND.unplugged
                  %span.puzzle-named
                    = script_level[:title]
                - elsif status == SharedConstants::LEVEL_STATUS.passed || status == SharedConstants::LEVEL_STATUS.perfect
                  = check_mark_html
                - else
                  %span.puzzle-number
                    = script_level[:title]

  = render partial: 'shared/user_stats_key'
