- if current_user
  .header_button.header_user.user_menu
    %span= t('nav.user.label', username: h(current_user.short_name))
    %span.user_menu_glyph
      &#x25BC;
    %div{style: 'position: relative; top: 3px;'}
      .user_options{style: 'display: none;'}
        - if current_user.teacher?
          = link_to t('nav.user.classroom'), teacher_dashboard_url
        = link_to t('nav.user.stats'), root_url
        - if current_user.can_edit_account?
          = link_to t('nav.user.settings'), edit_user_registration_url
        - if current_user.teacher? && (current_user.teacher_prize || current_user.teacher_bonus_prize)
          = link_to t('nav.user.prizes'), my_prizes_url
        = link_to t('nav.user.logout'), destroy_user_session_url
- else
  = link_to new_user_session_url, class: 'button-signin', id: 'signin_button'  do
    .header_button.header_user
      %span= t('nav.user.signin')

:javascript
  function hideUserOptions() {
    $('.user_options').hide();
    $('.user_menu_glyph').html('&#x25BC;');
    $(document).off('click', hideUserOptions);
  }
  $('.user_menu').click(function (e) {
    if ($('.user_options').is(':hidden')) {
      e.stopPropagation();
      $('.user_options').show();
      $('.user_menu_glyph').html('&#x25B2;');
      $(document).on('click', hideUserOptions);
    }
  });
  $('.user_options').click(function (e) {
    e.stopPropagation(); // Clicks inside the popup shouldn't close it
  });
  $('.user_options a:last').click(function (e) {
    // this partial can be returned in an API call so it's possible for it to be on non-dashboard pages
    if (typeof dashboard !== 'undefined') {
      dashboard.clientState.reset();
    }
  });
