.col-50
  .courseblock-span6.courseblock-wide-large{style: "height: 440px; max-width: 100%; margin-bottom: 20px;"}
    %img.courseblock-span2.imgspan{src: "/images/next/app-inventor.png", style: "margin-right: 10px;"}
    .courseblock-span4.heading
      %h3 MIT App Inventor 2
      %h4 
        = I18n.t(:third_party_gradelevel_4to12)
        %br
        = I18n.t(:third_party_platform_web)
        %br
        = I18n.t(:third_party_price_free)
      .smalltext= I18n.t(:third_party_appinv_desc)
      %br
      %a{:href=>"http://www.appinventor.org/content/CourseInABox/Intro/courseinabox"}
        %button{:style=>'margin-left:10px'}= I18n.t(:third_party_appinv_btn_curriculum)
      %a{:href=>"https://groups.google.com/forum/#!forum/mitappinventortest"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_appinv_btn_forum)
      %a{:href=>"http://ai2.appinventor.mit.edu/"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_appinv_btn_site)
.col-50
  .courseblock-span6.courseblock-wide-large{style: "height: 440px; max-width: 100%;"}
    %img.courseblock-span2.imgspan{src: "/images/next/khan.png", style: "margin-right: 10px;"}
    .courseblock-span4.heading
      %h3 Khan Academy
      %h4 
        = I18n.t(:third_party_gradelevel_5to12)
        %br
        = I18n.t(:third_party_platform_web)
        %br
        = I18n.t(:third_party_price_free)
      .smalltext= I18n.t(:third_party_khan_desc)
      %br
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming"}
        %button{:style=>'margin-left:10px'}= I18n.t(:third_party_khan_btn_learn)
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming/d"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_khan_btn_forum)

.clear
%br
%table.responsive-table
  %thead
    %th= I18n.t(:third_party_organization)
    %th= I18n.t(:third_party_curriculum)
    %th= I18n.t(:third_party_pricing)
  %tr
    %td 
      %a{:href=>"https://gamestarmechanic.com/"} Gamestar Mechanic
    %td= I18n.t(:third_party_desc_10to15_3to12)
    %td= I18n.t(:third_party_cost_free_2)
  %tr
    %td 
      %a{:href=>"https://www.codecombat.com"} Code Combat
    %td= I18n.t(:third_party_desc_25to40_3to12)
    %td= I18n.t(:third_party_cost_free_10)
  %tr
    %td 
      %a{:href=>"https://scratch.mit.edu"} Scratch
    %td= I18n.t(:third_party_desc_20_2to8)
    %td= I18n.t(:third_party_cost_free)
  %tr
    %td 
      %a{:href=>"https://www.tynker.com"} Tynker
    %td= I18n.t(:third_party_desc_dozens_kto8)
    %td= I18n.t(:third_party_cost_free_399)
