<table style="border: 1; width: 100%">
  <tbody>
  <tr style="font-size: 16px; font-weight: bold; background: #ececec; color: dark-charcoal">
    <td><%= I18n.t("ai_activity", default: "Activity") %></td>
    <td><%= I18n.t("ai_description", default: "Description") %></td>
  </tr>
  <tr>
    <td><a href="https://www.microsoft.com/en-us/ai/seeing-ai" target="_blank"><%= I18n.t("ai_seeing_ai", default: "Seeing AI") %></a></td>
    <td><%= I18n.t("ai_seeing_ai_description", default: "A free app that narrates the world around you in a variety of languages.") %></td>
  </tr>
  <tr>
    <td><a href="https://quickdraw.withgoogle.com/" target="_blank"><%= I18n.t("ai_quick_draw", default: "Quick, Draw!") %></a></td>
    <td><%= I18n.t("ai_quick_draw_description", default: "Can a neural network learn to recognize doodling?") %></td>
  </tr>
  <tr>
    <td><a href="https://teachablemachine.withgoogle.com/" target="_blank"><%= I18n.t("ai_teachable_machine", default: "Teachable Machine") %></a></td>
    <td><%= I18n.t("ai_teachable_machine_description", default: "Train a computer to recognize your own images, sounds, and poses.") %></td>
  </tr>
  <tr>
    <td><a href="https://experiments.withgoogle.com/collection/ai" target="_blank"><%= I18n.t("ai_google", default: "AI Experiments with Google") %></a></td>
    <td><%= I18n.t("ai_google_description", default: "Start exploring machine learning through pictures, drawings, language, music, and more.") %></td>
  </tr>
  <tr>
    <td><a href="https://www.zooniverse.org/projects/meredithspalmer/snapshot-mountain-zebra/classify?reload=0&amp;workflow=11445" target="_blank"><%= I18n.t("ai_zooniverse", default: "Zooniverse - Snapshot Mountain Zebra") %></a></td>
    <td><%= I18n.t("ai_zooniverse_description", default: "Help protect the endangered Cape Mountain Zebra by identifying the different animals in the images.") %></td>
  </tr>
  </tbody>
</table>
