<table style="border: 1; width: 100%">
  <tbody>
  <tr style="font-size: 16px; font-weight: bold; background: #ececec; color: dark-charcoal">
    <td><%= I18n.t("ai_activity", default: "Activity") %></td>
    <td><%= I18n.t("ai_description", default: "Description") %></td>
  </tr>
  <tr>
    <td><a href="https://www.microsoft.com/en-us/ai/seeing-ai" target="_blank"><%= I18n.t("ai_seeing_ai", default: "Seeing AI") %></a></td>
    <td><%= I18n.t("ai_seeing_ai_description", default: "A free app that narrates the world around you in a variety of languages.") %></td>
  </tr>
  <tr>
    <td><a href="https://quickdraw.withgoogle.com/" target="_blank"><%= I18n.t("ai_quick_draw", default: "Quick, Draw!") %></a></td>
    <td><%= I18n.t("ai_quick_draw_description", default: "Can a neural network learn to recognize doodling?") %></td>
  </tr>
  <tr>
    <td><a href="https://teachablemachine.withgoogle.com/" target="_blank"><%= I18n.t("ai_teachable_machine", default: "Teachable Machine") %></a></td>
    <td><%= I18n.t("ai_teachable_machine_description", default: "Train a computer to recognize your own images, sounds, and poses.") %></td>
  </tr>
  <tr>
    <td><a href="https://experiments.withgoogle.com/collection/ai" target="_blank"><%= I18n.t("ai_google", default: "AI Experiments with Google") %></a></td>
    <td><%= I18n.t("ai_google_description", default: "Start exploring machine learning through pictures, drawings, language, music, and more.") %></td>
  </tr>
  <tr>
    <td><a href="https://www.zooniverse.org/projects/meredithspalmer/snapshot-mountain-zebra/classify?reload=0&amp;workflow=11445" target="_blank"><%= I18n.t("ai_zooniverse", default: "Zooniverse - Snapshot Mountain Zebra") %></a></td>
    <td><%= I18n.t("ai_zooniverse_description", default: "Help protect the endangered Cape Mountain Zebra by identifying the different animals in the images.") %></td>
  </tr>
  <tr>
    <td><a href="https://en.akinator.com/game" target="_blank"><%= I18n.t("ai_akinator", default: "Akinator") %></a></td>
    <td><%= I18n.t("ai_akinator_description", default: "Think of a person, even from a book or movie, and this app will guess who you’re thinking of by asking questions.") %></td>
  </tr>
  <tr>
  <td><a href="https://www.survivalofthebestfit.com/" target="_blank"><%= I18n.t("ai_survival", default: "Survival of the Best Fit") %></a></td>
  <td><%= I18n.t("ai_survival_description", default: "An online game where you use machine learning to help screen candidates for job interviews. In the process, you uncover how bias can creep into AI applications and see the impact it has on the people involved.") %></td>
  </tr>
  <tr>
  <td><a href="https://ml-playground.com/" target="_blank"><%= I18n.t("ai_ml_playground", default: "ML Playground") %></a></td>
  <td><%= I18n.t("ai_ml_playground_description", default: "An interactive demo of several common machine learning algorithms, with links to additional resources to keep exploring.") %></td>
  </tr>  
  </tbody>
</table>