<div class="col-50">
  <div class="tutorial-tile" style="padding-right:20px">
    <a href="https://studio.code.org/s/oceans/lessons/1/levels/1" target="_blank">
      <img class="tutorial-tile-img" src="/images/fill-485x235/oceans/oceans-overview.png" style="max-width:100%; border: 0.5px solid #808080; border-radius: 15px 15px 0 0">
    </a>
    <div class="tutorial-info" style="background-color: #ffffff; border: 1px solid #696969; border-top: none; border-radius: 0 0 15px 15px; padding: 15px 25px 25px 25px">
        <span>
          <h3 class="tutorial-info-h" style="color: dimgray; margin-top:10px; margin-bottom:10px"><strong><%= I18n.t("ai_for_oceans", default: "AI for Oceans") %></strong></h3>
          <div class="smalltext" style="color: dimgray; margin-bottom: 10px"><strong><em><%= I18n.t("hour_of_code_activity", default: "Hour of Code activity") %> </em></strong><br/><%= I18n.t("ai_for_oceans_tile_description", default: "Help A.I. clean the oceans by training it to detect trash! Learn about training data and bias, and how AI can address world problems. View") %> <a href="https://curriculum.code.org/hoc/plugged/9/" target="_blank"><%= I18n.t("ai_for_oceans_lesson_plan", default: "lesson plan") %></a>.</div>
          <a href="https://studio.code.org/s/oceans/lessons/1/levels/1" target="_blank"><button><%= I18n.t("ai_try_activity", default: "Try activity") %></button></a>
      </span>
    </div>
  </div>
</div>
