<div class="tile-container-responsive" style="padding-left: 5px">
  <div class="col-50" style="margin-right: 20px">
    <div class="tutorial-tile">
      <a href="/csforgood" target="_blank">
        <img class="tutorial-tile-img" src="/images/fill-485x260/ai/csforgood_ai.png">
      </a>
      <div class="tutorial-info">
        <h3 style="margin-top: 0px;"><%= I18n.t("cs_for_good", default: "CS for Good") %></h3>
        <div class="smalltext"><%= I18n.t("cs_for_good_tile_description", default: "Resources to inspire students to think deeply about the role computer science can play in creating a more equitable and sustainable world.") %></div>
        <a href="/csforgood" target="_blank">
          <button class="tutorial-info-start tutorial-gray"><%= I18n.t("view_resources", default: "View Resources") %></button>
        </a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="col-50">
    <div class="tutorial-tile">
      <a href="https://imaginecup.microsoft.com/en-us/junior" target="_blank">
        <img class="tutorial-tile-img" src="/images/fill-485x260/ai/imagine-cup-2.png">
      </a>
      <div class="tutorial-info">
        <h3 style="margin-top: 0px;"><%= I18n.t("imagine_cup_junior", default: "Imagine Cup Junior") %></h3>
        <div class="smalltext"><%= I18n.t("imagine_cup_junior_tile_description", default: "This global AI for Good challenge introduces students to Microsoft’s AI for Good initiatives, empowering them to solve a problem in the world with the power of AI.") %>

        </div>
        <a href="https://imaginecup.microsoft.com/en-us/junior" target="_blank">
          <button class="tutorial-info-start tutorial-gray"><%= I18n.t("view_resources", default: "View Resources") %></button>
        </a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
