<table style="border: 1; width: 100%">
  <tbody>
  <tr style="font-size: 16px; font-weight: bold; background: #ececec; color: dark-charcoal">
    <td><%= I18n.t("name", default: "Name") %></td>
    <td><%= I18n.t("ai_description", default: "Description") %></td>
    <td><%= I18n.t("ai_audience", default: "Audience") %></td>
  </tr>
  <tr>
    <td><a href="https://aka.ms/minecrafthourofcode" target="_blank"><%= I18n.t("hoc2019_mc_mee_title", default: "Minecraft AI for Good") %></a></td>
    <td><%= I18n.t("ai_minecraft_description", default: "Access free resources including a lesson plan, videos, computer science curriculum, and teacher trainings. (Requires Minecraft: Education Edition)") %></td>
    <td><%= I18n.t("ai_k_12_audience", default: "K-12 (Reading required)") %></td>
  </tr>
  <tr>
    <td><a href="https://www.microsoft.com/en-us/store/workshops-training-and-events/students#page=1&pageSize=24&program=201&topic=20042049" target="_blank"><%= I18n.t("ai_microsoft_workshop", default: "Free virtual workshops from Microsoft") %></a></td>
    <td><%= I18n.t("ai_microsoft_workshop_description", default: "Spark curiosity with free STEM and coding workshops.") %></td>
    <td><%= I18n.t("ai_k_12_audience", default: "K-12 (Reading required)") %></td>
  </tr>
  <tr>
    <td><a href="https://machinelearningforkids.co.uk/" target="_blank"><%= I18n.t("ai_machine_learning_for_kids", default: "Machine Learning for Kids") %></a></td>
    <td><%= I18n.t("ai_machine_learning_for_kids_description", default: "Train a machine learning model with text, numbers, or images, and use it to make games in Scratch.") %></td>
    <td><%= I18n.t("ai_k_12_audience", default: "K-12 (Reading required)") %></td>
  </tr>
  <tr>
    <td><a href="https://www.ibm.com/ibm/responsibility/initiatives/activitykits/machine-learning-for-kids/" target="_blank"><%= I18n.t("ai_ibm_machine_learning_for_kids", default: "IBM: Machine Learning for Kids") %></a></td>
    <td><%= I18n.t("ai_ibm_machine_learning_for_kids", default: "IBM: Machine Learning for Kids") %></td>
    <td><%= I18n.t("ai_k_12_audience", default: "K-12 (Reading required)") %></td>
  </tr>
  <tr>
    <td><a href="http://www.exploringcs.org/for-teachers-districts/artificial-intelligence" target="_blank"><%= I18n.t("ai_ecs", default: "ECS: Artificial Intelligence (AI)") %></a></td>
    <td><%= I18n.t("ai_ecs_description", default: "A new alternate curriculum unit for the Exploring Computer Science (ECS) curriculum.") %></td>
    <td><%= I18n.t("codehs_gradelevel", default: "High school") %></td>
  </tr>
  <tr>
    <td><a href="https://course.elementsofai.com/" target="_blank"><%= I18n.t("ai_elements", default: "Elements of AI") %></a></td>
    <td><%= I18n.t("ai_elements_description", default: "A series of free online courses created by Reaktor and the University of Helsinki.") %></td>
    <td><%= I18n.t("codehs_gradelevel", default: "High school") %></td>
  </tr>
  <tr>
    <td>
      <a href="http://cognimates.me/home/" target="_blank"><%= I18n.t("ai_cognimates", default: "Cognimates") %></a></td>
    <td><%= I18n.t("ai_cognimates_description", default: "An AI education platform for building games, programming robots and training.") %></td>
    <td><%= I18n.t("ai_k_12_audience", default: "K-12 (Reading required)") %></td>
  </tr>
  </tbody>
</table>
