
### **Programming Modules for older students**

Adapted from our CS Discoveries and CS Principles courses, these short, self-paced modules for middle and high school students are a great way to learn concepts that span all programming languages and tools.

<div style="clear: both; margin-bottom: 20px"></div>

#### Introduction to Game Lab

<div class="col-25" style="padding-right: 20px;">

<a href="<%=CDO.studio_url('/s/csd3-virtual')%>"><img src="/images/athome/alien.png" style="width: 100%"/></a>

</div>

<div class="col-75">

<p>Program animations, interactive art, and games in Game Lab. Start off with simple shapes and build up to more sophisticated sprite-based animations and games, using the same programming concepts and the design process computer scientists use daily. In the final project, you’ll develop a personalized, interactive program.</p>
<p>Ages 13+.</p>
<a href="<%=CDO.studio_url('/s/csd3-virtual')%>"><button>Try it out</button></a>

</div>

<div style="clear: both; margin-bottom: 30px"></div>

#### Turtle Programming in App Lab

<div class="col-25" style="padding-right: 20px;">

<a href="<%=CDO.studio_url('/s/csp3-virtual')%>"><img src="/images/athome/turtle.png" style="width: 100%"/></a>

</div>

<div class="col-75">

<p>Begin working in App Lab where you’ll use simple JavaScript commands to draw shapes and images using a virtual “turtle.” Learn to break down big programming problems into manageable pieces. Design and program your own digital scene!</p>
<p>Ages 13+.</p>
<a href="<%=CDO.studio_url('/s/csp3-virtual')%>"><button>Try it out</button></a>

</div>

<div style="clear: both; margin-bottom: 30px"></div>

#### Event-Driven Programming in App Lab

<div class="col-25" style="text-align:center; padding-right: 20px;">

<a href="<%=CDO.studio_url('/s/csp5-virtual')%>"><img src="/images/athome/events.png" style="width: 60%"/></a>

</div>

<div class="col-75">

<p>Program in the JavaScript language using App Lab. Learn to design apps that respond to user interaction like clicks and key presses. Create a series of simple applications (apps) that live on the web!</p>
<p>For middle and high school students.</p>
<a href="<%=CDO.studio_url('/s/csp5-virtual')%>"><button>Try it out</button></a>

</div>
