- slides_index = 8

- slides_title = [hoc_s(:curriculum_name_artificial_intelligence), hoc_s(:curriculum_name_csc), hoc_s(:curriculum_name_csd), hoc_s(:hour_of_code), hoc_s(:curriculum_name_maker), hoc_s(:curriculum_name_csa), hoc_s(:curriculum_name_csf), hoc_s(:curriculum_name_csp)]

- slides_img = ["/images/courses-catalog/AIML.png", "/images/courses-catalog/CSC.png", "/images/courses-catalog/CSD.png", "/images/courses-catalog/HOC.png", "/images/courses-catalog/maker.png", "/images/courses-catalog/CSA.png", "/images/courses-catalog/CSF.png", "/images/courses-catalog/CSP.png"]

- slides_grade = [hoc_s(:module_grade_3_12), hoc_s(:module_grade_3_5), hoc_s(:module_grade_6_10), hoc_s(:module_grade_k_12), hoc_s(:module_grade_3_12), hoc_s(:module_grade_9_12), hoc_s(:module_grade_k_5), hoc_s(:module_grade_9_12)]

- slides_duration = [hoc_s(:module_duration_varies), hoc_s(:module_duration_week), hoc_s(:module_duration_varies), hoc_s(:module_duration_1_hr), hoc_s(:module_duration_varies), hoc_s(:module_duration_school_year), hoc_s(:module_duration_month_quarter), hoc_s(:module_duration_school_year)]

- slides_desc = [hoc_s(:ai_hero_desc), hoc_s(:csc_page_top_desc), hoc_s(:curriculum_desc_csd), hoc_s(:hoc_homepage_what_is_hoc_subhead), hoc_s(:curriculum_desc_maker_short), hoc_s(:curriculum_desc_csa), hoc_s(:curriculum_desc_csf), hoc_s(:curriculum_desc_csp)]

- slides_url = ["/ai", "/csc", "/csd", "/hourofcode", "/maker", "/csa", "/csf", "/csp"]

- slides_button_label = [hoc_s(:call_to_action_explore_ai_curricula), hoc_s(:call_to_action_explore_csc), hoc_s(:call_to_action_explore_csd), hoc_s(:call_to_action_explore_hoc_short), hoc_s(:call_to_action_explore_maker), hoc_s(:call_to_action_explore_csa_short), hoc_s(:call_to_action_explore_csf), hoc_s(:call_to_action_explore_csp)]

.carousel-wrapper
  %swiper-container.three-col{navigation: "true", "navigation-next-el": ".swiper-nav-next", "navigation-prev-el": ".swiper-nav-prev", "auto-height": "false", init: "false"}
    - slides_index.times do |index|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %h3
              = slides_title[index]
            %img{src: slides_img[index], alt: ""}
            %p.no-margin-bottom
              %strong=hoc_s(:module_label_grades)
              = slides_grade[index]
            %p
              %strong=hoc_s(:module_label_duration)
              = slides_duration[index]
            %p
              = slides_desc[index]
          .content-footer
            %a.link-button{href: slides_url[index]}
              = slides_button_label[index]

  %button.swiper-nav-prev
  %button.swiper-nav-next

= view :swiper
