- slides_index = 8

- slides_title = [hoc_s(:curriculum_name_artificial_intelligence), hoc_s(:curriculum_name_csc), hoc_s(:curriculum_name_csd), hoc_s(:hour_of_code), hoc_s(:curriculum_name_maker), hoc_s(:curriculum_name_csa), hoc_s(:curriculum_name_csf), hoc_s(:curriculum_name_csp)]

- slides_img = ["/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png", "/images/csd-unit-problem-solving-computing.png"]

- slides_grade = [hoc_s(:module_grade_3_12), hoc_s(:module_grade_3_5), hoc_s(:module_grade_6_10), hoc_s(:module_grade_k_12), hoc_s(:module_grade_3_12), hoc_s(:module_grade_k_12), hoc_s(:module_grade_3_5), hoc_s(:module_grade_3_12)]

- slides_duration = [hoc_s(:module_duration_varies), hoc_s(:module_duration_week), hoc_s(:module_duration_varies), hoc_s(:module_duration_1_hr), hoc_s(:module_duration_varies), hoc_s(:module_duration_varies), hoc_s(:module_duration_week), hoc_s(:module_duration_school_year )]

- slides_desc = [hoc_s(:ai_hero_desc), hoc_s(:csc_page_top_desc), hoc_s(:curriculum_desc_csd), hoc_s(:hoc_homepage_what_is_hoc_subhead), hoc_s(:curriculum_desc_maker_short), hoc_s(:curriculum_desc_csa), hoc_s(:curriculum_desc_csf), hoc_s(:curriculum_desc_csp)]

- slides_url = ["/ai", "/csc", "/csd", "/hourofcode", "/maker", "/csa", "/csf", "/csp"]

- slides_button_label = [hoc_s(:call_to_action_explore_ai_curricula), hoc_s(:call_to_action_explore_csc), hoc_s(:call_to_action_explore_csd), hoc_s(:call_to_action_explore_hoc_short), hoc_s(:call_to_action_explore_maker), hoc_s(:call_to_action_explore_csa_short), hoc_s(:call_to_action_explore_csf), hoc_s(:call_to_action_explore_csp)]

.carousel-wrapper#flexible_units_carousel
  .carousel.carousel--flexible_units{style: "height: 525px"}
    .slides
      - slides_index.times do |index|
        .slide
          .action-block.action-block--one-col.flex-space-between
            .content-wrapper
              %h3
                = slides_title[index]
              %img{src: slides_img[index], alt: ""}
              %p.no-margin-bottom
                %strong=hoc_s(:module_label_grades)
                = slides_grade[index]
              %p
                %strong=hoc_s(:module_label_duration)
                = slides_duration[index]
              %p
                = slides_desc[index]
            .content-footer
              %a.link-button{href: slides_url[index]}
                = slides_button_label[index]

  .pagination
    #flexible_units_carousel-pagination
  .dd__buttons
    %button.carousel__prev#prev_1
      %img{src: "/images/carousel/prev.svg", alt: "previous"}

    %button.carousel__next#next_1
      %img{src: "/images/carousel/next.svg", alt: "next"}
