-landing_page = "/company-profiles/#{data['name_s']}"
-congrats_page = "/congrats?co=#{data['name_s']}"
-markdown_basics = "http://daringfireball.net/projects/markdown/basics"

%link{rel: "stylesheet", type: "text/css", href: "/css/ee_form.css"}/

%form#company_profile
  %table
    -if secret
      %tr
        %th{colspan:2}
          Welcome to the Code.org Employee Engagement program! Here's what you need to do to customize your Hour of Code landing page:
    -if secret
      %tr
        %th{colspan:2}
          1. 
          %a{href:landing_page, target:"_blank"}
            View #{data['display_name_s']}'s current landing page
      %tr
        %th{colspan:2}
          2. See 
          %a{href:"/images/company-profile-annotated.png",target:"_blank"}
            how to customize different parts of the landing page
            %img{src:"/images/company-profile-annotated.png",width:"50px",height:"50px"}

      %tr
        %th{colspan:2}
          3. Provide your own content for any parts of the page you want to customize by filling in the following fields:
    %tr
      %th
        *Name
        -if secret
          %br
          (appears in url)
      %td
        %input{name:'name_s', value:data['name_s']}
    %tr
      %th
        *Display Name
        -if secret
          %br
          (appears in header)
      %td
        %input{name:'display_name_s', value:data['display_name_s']}
    -if secret
      %tr
        %th
          Logo
          %br
          (appears in header, 100x100px or higher recommended)
        %td
          %input{name:'logo_file', type:'file'}
      %tr
        %th
          Youtube video key
          %br
          (e.g. the FC5FbmsH4fw in http://www.youtube.com/watch?v=FC5FbmsH4fw)
        %td
          %input{name:'video_key_s', value:data['video_key_s']}
      %tr
        %th
          Intro - Top
          %br
          (appears above video, formatted in
          %a{href:markdown_basics, target:"_blank"}
            markdown
          )
        %td
          %textarea{name:'intro_top_copy_t', cols:'80', rows:'4'}= data['intro_top_copy_t']
      %tr
        %th
          Intro - Bottom
          %br
          (appears below video on 
          %a{href:landing_page,target:"_blank"}
            landing page
          , formatted in
          %a{href:markdown_basics,target:"_blank"}
            markdown
          )
        %td
          %textarea{name:'intro_bottom_copy_t', cols:'80', rows:'4'}= data['intro_bottom_copy_t']
      %tr
        %th
          Additional Actions
          %br
          (appears below certificate on
          %a{href:congrats_page, target:"_blank"}
            congrats page
          , formatted in
          %a{href:markdown_basics, target:"_blank"}
            markdown
          )
        %td
          %textarea{name:'additional_actions_copy_t', cols:'80', rows:'4'}= data['additional_actions_copy_t']
    %tr
      %th{colspan:2}
        -if secret
          4. 
        %button Save your changes
        -if secret
          %tr
            %th{colspan:2}
              5. View 
              %a{href:landing_page, target:"_blank"}
                #{data['display_name_s']}'s landing page
              again to see your changes (they may take a few minutes to become visible)


:javascript
  function processResponse(data)
  {
    if (data.secret) {
      window.location = '/edit-company-profile/' + data.secret;
    } else {
      window.alert('Saved');
    }
  }

  function processError(data)
  {
    window.alert(data.status + "\n" + data.responseJSON)
  }

  $('#company_profile').submit(
    function( e ) {
      $.ajax({
        url: "/forms/CompanyProfile#{secret ? '/'+secret : ''}",
        type: "post",
        data: new FormData( this ),
        processData: false,
        contentType: false
      }).done(processResponse).fail(processError);
      return false;
    }
  );
