.col-50
  .courseblock-span6.courseblock-wide-large{style: "height: 420px; max-width: 100%; margin-bottom: 20px;"}
    %img.courseblock-span2.imgspan{src: "/images/next/scratch.jpg", style: "margin-right: 10px;"}
    .courseblock-span4.heading
      %h3 Scratch
      %h4 
        = I18n.t(:third_party_gradelevel_2to8)
        %br
        = I18n.t(:third_party_platform_web)
        %br
        = I18n.t(:third_party_price_free)
      .smalltext= I18n.t(:third_party_scratch_desc)
      %br
      %a{:href=>"http://scratched.gse.harvard.edu/guide/files/CreativeComputing20141015.pdf"}
        %button{:style=>'margin-left:10px'}= I18n.t(:third_party_scratch_btn_curriculum)
      %a{:href=>"http://scratched.gse.harvard.edu/discussions"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_scratch_btn_forum)
      %a{:href=>"https://scratch.mit.edu/"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_scratch_btn_site)
.col-50
  .courseblock-span6.courseblock-wide-large{style: "height: 420px; max-width: 100%;"}
    %img.courseblock-span2.imgspan{src: "/images/lightbot.jpg", style: "margin-right: 10px;"}
    .courseblock-span4.heading
      %h3 Lightbot
      %h4 
        = I18n.t(:third_party_gradelevel_2to8)
        %br
        = I18n.t(:third_party_platform_all)
        %br
        = I18n.t(:third_party_price_299)
      .smalltext= I18n.t(:third_party_lightbot_desc)
      %br
      %a{:href=>"http://lightbot.com/Lightbot_BasicProgramming.pdf"}
        %button{:style=>'margin-left:10px'}= I18n.t(:third_party_lightbot_btn_curriculum)
      %a{:href=>"http://lightbot.com/index.html"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_lightbot_btn_site)

.clear
%br
%table.responsive-table
  %thead
    %th= I18n.t(:third_party_organization)
    %th= I18n.t(:third_party_curriculum)
    %th= I18n.t(:third_party_pricing)
  %tr
    %td 
      %a{:href=>"http://www.cs-first.com/materials"} CS First
    %td= I18n.t(:third_party_desc_40_4to8)
    %td= I18n.t(:third_party_cost_free)
  %tr
    %td 
      %a{:href=>"https://www.tynker.com"} Tynker
    %td= I18n.t(:third_party_desc_dozens_kto8)
    %td= I18n.t(:third_party_cost_free_399)
  %tr
    %td 
      %a{:href=>"https://www.kodugamelab.com"} Kodu
    %td= I18n.t(:third_party_desc_5_4to8)
    %td= I18n.t(:third_party_cost_free)
