
- (1..13).each do |n|
  :css
    .courses .bar-#{n} {
      float: left;
      width: #{n * 7}%;
    }

:css

  .courses .grouprow {
    color: #fff;
    border: 3px solid white;
    background-color: #aaa;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .courses .graderow {
    color: #eee;
    border: 3px solid white;
    background-color: #888;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .courses .course {
    cursor: pointer;
  }

  .courses .courserow {
    border: 0px solid grey;
    background-color: #ddd;
    color: white;
    background: linear-gradient(to right, rgba(0, 148, 202, 1), rgba(0, 148, 202, 0.85));
    border: 3px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
  }

  .courses .break {
    clear: both;
  }

  .courses .title {
    font-size: 16px;
  }

  .courses .groupname {
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    right: 0px;
  }
  .courses .subtitle {
    font-size: 10px;
  }

  .courses .description {
    font-size: 12px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: 10px
  }

  .course a {
    color: white;
    text-decoration: underline;
    font-size: 12px;
    margin-left: 10px;
  }

- courses = []
- courses << { name: "Course 1", starts: 0, ends: 1, description: "Introductory course for early readers.", group: "CS Fundamentals", link: "/educate/curriculum/elementary-school" }
- courses << { name: "Course 2", starts: 1, ends: 5, description: "Introductory course for students who can read.", group: "CS Fundamentals", link: "/educate/curriculum/elementary-school" }
- courses << { name: "Course 3", starts: 3, ends: 5, description: "Follow-up to Course 2.", group: "CS Fundamentals", link: "/educate/curriculum/elementary-school" }
- courses << { name: "Course 4", starts: 5, ends: 6, description: "Follow-up to Course 3.", group: "CS Fundamentals", link: "/educate/curriculum/elementary-school" }

- courses << { name: "CS in Science", starts: 6, ends: 8, description: "Computer science concepts are introduced within the context of life, physical, and earth sciences.", link: "/curriculum/science" }
- courses << { name: "CS in Algebra ", starts: 6, ends: 8, description: "Algebraic and geometric concepts are introduced through functional computer programming.", link: "/curriculum/algebra" }
- courses << { name: "CS Discoveries", starts: 7, ends: 9, subtitle: "Under development", description: "Introductory computer science course that be a semester or year long.", link: "/educate/csd" }
- courses << { name: "Computer Science Principles", subtitle: "Advanced Placement course", starts: 9, ends: 12, description: "A year-long rigorous introductory computer science course at the high-school level covering the Internet, data, and programming. Can be run as a non-AP course.", link: "/educate/csp" }

- courses << { name: "Accelerated Course", starts: 5, ends: 12, description: "A faster-paced course that covers all of the concepts covered in Courses 1 - 4 in 20-hours.", group: "CS Fundamentals", opacity: 0.7 }

.courses
  .group
    .grouprow.bar-6
      Elementary school
    .grouprow.bar-3
      Middle school
    .grouprow.bar-4
      High school
  .grade.break
    .graderow.bar-1
      K
    - (1..12).each do |n|
      .graderow.bar-1
        = n
    - courses.each_with_index do |course, course_index|
      .course.break{id: "course-#{course_index}", onclick: "$('#courseextra-#{course_index}').slideToggle(); $('.extra').not('#courseextra-#{course_index}').slideUp();"}
        - unless course[:starts] == 0
          %div{class: "bar-#{course[:starts]}"}
            &nbsp;
        %div{class: "courserow bar-#{course[:ends] - course[:starts] + 1}", style: "opacity: #{course[:opacity] || 1}"}
          .title
            =course[:name]
          - if course[:group]
            .groupname
              =(course[:group])
          .extra{id: "courseextra-#{course_index}", style: "display: none"}
            - if course[:subtitle]
              .subtitle
                =course[:subtitle]
                %br/
            .description
              =course[:description]
            - if course[:link]
              %a{href: course[:link] }
                Learn more

  .notes{style: "clear: both"}
    %h3
      Notes
    %ul
      %li
        All courses are intended to be entry points to the pathway
        %br/
        (exception: Courses 3 and 4 in CS Fundamentals recommend completion of Course 2)
      %li
        Actual implementation may vary
      %li
        Courses 2 – 4 in CS Fundamentals are often used by older students

