.col-50
  .courseblock-span6.courseblock-wide-large{style: "height: 360px;"}
    %img.courseblock-span2.imgspan{src: "/images/next/codeHS.png", style: "margin-right: 10px;"}
    .courseblock-span4.heading
      %h3 CodeHS
      %h4 
        = I18n.t(:third_party_gradelevel_8plus)
        %br
        = I18n.t(:third_party_platform_web)
        %br
        = I18n.t(:third_party_price_school)
        %br
        = I18n.t(:third_party_price_individual)
      .smalltext= I18n.t(:third_party_codehs_desc)
      %br
      %a{:href=>"https://codehs.com/info/curriculum/introjs"}
        %button{:style=>'margin-left:10px'}= I18n.t(:third_party_codehs_btn_try)
.col-50
  .courseblock-span6.courseblock-wide-large{style: "height: 360px;"}
    %img.courseblock-span2.imgspan{src: "/images/next/codecademy.jpg", style: "margin-right: 10px;"}
    .courseblock-span4.heading
      %h3 codecademy
      %h4 
        = I18n.t(:third_party_gradelevel_6plus)
        %br
        = I18n.t(:third_party_platform_web)
        %br
        = I18n.t(:third_party_price_free)
      .smalltext= I18n.t(:third_party_codecademy_desc)
      %br
      %a{:href=>"https://www.codecademy.com/schools/curriculum/resources"}
        %button{:style=>'margin-left:10px'}= I18n.t(:third_party_codecademy_btn_curriculum)
      %a{:href=>"https://www.codecademy.com/"}
        %button{:style=>'margin-top: 10px; margin-left:10px'}= I18n.t(:third_party_codecademy_btn_site)

.clear
%br
%table.responsive-table
  %thead
    %th= I18n.t(:third_party_organization)
    %th= I18n.t(:third_party_curriculum)
    %th= I18n.t(:third_party_pricing)
  %tr
    %td 
      %a{:href=>"https://www.khanacademy.org/computing/computer-programming"} Khan Academy
    %td= I18n.t(:third_party_desc_7to22_5to12)
    %td= I18n.t(:third_party_cost_free)
  %tr
    %td 
      %a{:href=>"http:/ai2.appinventor.mit.edu/"} App Inventor 2
    %td= I18n.t(:third_party_desc_20_4to12)
    %td= I18n.t(:third_party_cost_free)
  %tr
    %td 
      %a{:href=>"https://www.codecombat.com"} Code Combat
    %td= I18n.t(:third_party_desc_25to40_3to12)
    %td= I18n.t(:third_party_cost_free_10)
