:ruby
  resource_items = [
    {
      overline: hoc_s('csa_page.additional_resources.pl.overline'),
      title: hoc_s('csa_page.additional_resources.pl.title'),
      image: '/images/action-block-self-paced-pl.png',
      desc: hoc_s('csa_page.additional_resources.pl.desc'),
      url: '/professional-learning/middle-high',
      button_label: hoc_s('csa_page.additional_resources.pl.button_label'),
      is_external_link: false
    },
    {
      overline: hoc_s('csa_page.additional_resources.ap_class_quiz.overline'),
      title: hoc_s('csa_page.additional_resources.ap_class_quiz.title'),
      image: '/images/action-blocks/action-block-ap-classroom.png',
      desc: hoc_s('csa_page.additional_resources.ap_class_quiz.desc'),
      url: 'https://docs.google.com/document/d/1dqHsX_KdQd_CIYM8OK5UT0JoPFa1SvzB2LtcsfCKl88/edit?usp=sharing',
      button_label: hoc_s('csa_page.additional_resources.ap_class_quiz.button_label'),
      is_external_link: true
    },
    {
      overline: hoc_s('csa_page.additional_resources.ap_csa_computer_vision.overline'),
      title: hoc_s('csa_page.additional_resources.ap_csa_computer_vision.title'),
      image: '/images/action-blocks/action-block-ai-computer-vision-csa.png',
      desc: hoc_s('csa_page.additional_resources.ap_csa_computer_vision.desc'),
      url: CDO.studio_url('/s/csa-software-engineering'),
      button_label: hoc_s('csa_page.additional_resources.ap_csa_computer_vision.button_label'),
      is_external_link: false
    },
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - resource_items.each do |resource_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          = resource_item[:overline]
        %h3
          = resource_item[:title]
        %img{src: resource_item[:image], alt: ""}
        %p
          = resource_item[:desc]
      .content-footer
        - if resource_item[:is_external_link]
          %a.link-button.has-external-link{href: resource_item[:url], target: "_blank", rel: "noopener noreferrer"}
            = resource_item[:button_label]
        - else
          %a.link-button{href: resource_item[:url]}
            = resource_item[:button_label]
