%script{type: "text/javascript", src: "/js/csf-congrats.js"}
%link{:href=>"/shared/css/course-blocks.css", :type=>"text/css", :rel=>"stylesheet"}

:ruby
  cert_script = ScriptConstants::COURSE1_NAME
  share_url = "https://studio.code.org"
  course_name = I18n.t(:"#{course}_name")

  facebook = {:u=>share_url}
  twitter = {
    :url=>share_url,
    :related=>'codeorg',
    :text=> I18n.t(:"just_did_course_donor", donor_twitter: get_random_donor_twitter, course: course_name)
  }

  rec_code_studio = ScriptConstants.csf_next_course_recommendation(course)

  rec_third_party = {
    "course1" => "course1_next",
    "course2" => "course2_next",
    "course3" => "course3_next",
    "course4" => "course4_next",

    "accelerated" => "accelerated_next",

    ScriptConstants::EXPRESS_NAME => "csf_next",
    ScriptConstants::PRE_READER_EXPRESS_NAME => "csf_next",
    ScriptConstants::COURSEA_NAME => "csf_next",
    ScriptConstants::COURSEB_NAME => "csf_next",
    ScriptConstants::COURSEC_NAME => "csf_next",
    ScriptConstants::COURSED_NAME => "csf_next",
    ScriptConstants::COURSEE_NAME => "csf_next",
    ScriptConstants::COURSEF_NAME => "csf_next",

    ScriptConstants::EXPRESS_2018_NAME => "csf_next",
    ScriptConstants::PRE_READER_EXPRESS_2018_NAME => "csf_next",
    ScriptConstants::COURSEA_2018_NAME => "csf_next",
    ScriptConstants::COURSEB_2018_NAME => "csf_next",
    ScriptConstants::COURSEC_2018_NAME => "csf_next",
    ScriptConstants::COURSED_2018_NAME => "csf_next",
    ScriptConstants::COURSEE_2018_NAME => "csf_next",
    ScriptConstants::COURSEF_2018_NAME => "csf_next",

    ScriptConstants::EXPRESS_2019_NAME => "csf_next",
    ScriptConstants::PRE_READER_EXPRESS_2019_NAME => "csf_next",
    ScriptConstants::COURSEA_2019_NAME => "csf_next",
    ScriptConstants::COURSEB_2019_NAME => "csf_next",
    ScriptConstants::COURSEC_2019_NAME => "csf_next",
    ScriptConstants::COURSED_2019_NAME => "csf_next",
    ScriptConstants::COURSEE_2019_NAME => "csf_next",
    ScriptConstants::COURSEF_2019_NAME => "csf_next",

    ScriptConstants::COURSEA_2020_NAME => "csf_next",
    ScriptConstants::COURSEB_2020_NAME => "csf_next",
    ScriptConstants::COURSEC_2020_NAME => "csf_next",
    ScriptConstants::COURSED_2020_NAME => "csf_next",
    ScriptConstants::COURSEE_2020_NAME => "csf_next",
    ScriptConstants::COURSEF_2020_NAME => "csf_next",
    ScriptConstants::EXPRESS_2020_NAME => "csf_next",
    ScriptConstants::PRE_READER_EXPRESS_2020_NAME => "csf_next"
  }

#congrats.mobile-pad{:style=>'margin: 0 auto;'}

  %h1= I18n.t(:congratulations_on_completing_course, course: course_name)

  #toprow
    #hoc-certificate-small.col-50{:style=>"padding:20px; padding-top: 0; box-sizing: border-box"}
      %a{:href=>"/printcertificate?s=#{cert_script}", :target=>'_blank'}
        %img{:src=>"/images/fit-540/#{certificate_template_for(cert_script)}", :width=>"100%"}

    #certificate.col-50
      = view :csf_congrats_certificate, course: course
      = view :congrats_share, facebook:facebook, twitter:twitter

  %div{:style=>'clear: both; height:30px'}
  %h1= I18n.t(:congrats_third_party_title)
  = view :"#{rec_third_party[course]}"

  - if rec_code_studio
    %h1= I18n.t(:congrats_next_tutorials_title)
    = view :course_block, id: rec_code_studio

  %div{:style=>'clear: both; height:30px;'}
  %h1= I18n.t(:congrats_guest_speaker_title)
  #guest-spaker-img.col-50{:style=>'width: 430px; max-width: 100%'}
    %img{:src=>'/images/fill-400x205/guest-speaker-alice.jpg', :style=>'border-radius: 5px; margin-top: 5px;'}
  #guest-speaker-desc.col-50
    = I18n.t(:congrats_guest_speaker_desc)
    %br
    %br
    %a{:href=>'/volunteer/local'}
      %button= I18n.t(:congrats_guest_speaker_cta)

  %div{:style=>'clear: both; height:30px;'}
  %hr
  = view :petition_expand

= view 'popup_window.js'
