:ruby
  block_item = [
    {
      title: "Behind the Cloud: Explore Amazon's data centers",
      image: "/images/csjourneys/data-center-tour.gif",
      desc: "How did we go from renting movies at the store to streaming from anywhere at any time? Learn how data centers and cloud computing have changed the way we watch our favorite content, and the careers behind it.",
      url: "https://www.amazonfutureengineer.com/datacentertour1?utm_campaign=Code.org&utm_medium=AWS1&utm_source=US&utm_content=Website",
      aria_label: "View details about the Behind the Cloud tour",
      overline: "Available on Kahoot!"
    },
    {
      title: "Careers Behind the Beats",
      image: "/images/csjourneys/musictour.gif",
      desc: "How does a song go from the studio to streaming? Come behind the scenes at Amazon Music to learn about the computer science and careers behind your favorite songs.",
      url: "https://www.amazonfutureengineer.com/music?utm_campaign=Code.org&utm_medium=Direct%20Promotion&utm_source=DP%20Music&utm_content=CS%20journeys",
      aria_label: "View details about the Amazon music tour",
      overline: "Available on Kahoot!"
    },
    {
      title: "Alexa, take me to the Moon!",
      image: "/images/csjourneys/alexatour.gif",
      desc: "Join Amazon, Lockheed Martin, and Webex for a behind-the-scenes look at the technology being tested on NASA's Artemis I mission.",
      url: "https://www.amazonfutureengineer.com/space?utm_campaign=codeorg&utm_medium=alexaforastronauts&utm_source=US&utm_content=Website",
      aria_label: "View details about the Alexa moon tour",
      overline: "Available on Kahoot!"
    },
     {
      title: "Explore the technology of Amazon's Fulfillment Centers",
      image: "/images/csjourneys/fctour.gif",
      desc: "Discover how computer science, state-of-the-art engineering, and incredible people deliver customer orders at Amazon.",
      url: "https://www.amazonfutureengineer.com/fctours?utm_campaign=Code.org&utm_medium=Website&utm_source=FC%20Tours",
      aria_label: "View details about the Amazon's Fulfillment Centers tour",
      overline: "Available on Kahoot!"
    },
    {
      title: "Go inside the iRobot Cool Stuff Museum",
      image: "/images/csjourneys/fill-485x235/iRobot-trip.png",
      desc: "Join us in the iRobot Cool Stuff Museum, exploring 30 years of robotics history. See via our mobile robot as our guide brings robotics and computer science to life.",
      url: "https://www.youtube.com/playlist?list=PLPKdbgek9u4Mz5NvDcCp7_2i0Hx7j4UWK",
      aria_label: "View details about the iRobot Cool Stuff Museum tour",
      overline: "Watch virtual tour"
    },
    {
      title: "Exploring the Deep Bit by Bit",
      image: "/images/csjourneys/fill-485x235/mbari-trip.jpg",
      desc: "Learn about the deep sea with the Monterey Bay Aquarium and see how computer science plays a part in helping us understand this challenging habitat!",
      url: "https://montereybayaquarium.thinkific.com/courses/exploring-the-deep-bit-by-bit",
      aria_label: "View details about the Monterey Bay Aquarium tour",
      overline: "Self-paced"
    }
  ]

.action-block__wrapper.action-block__wrapper--three-col
  - block_item.each do |block_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %img{src: block_item[:image], alt: ""}
        %p.overline
          = block_item[:overline]
        %h3
          = block_item[:title]
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button{href: "#{block_item[:url]}", target: "_blank", rel: "noopener noreferrer", aria:{label: "#{block_item[:aria_label]}"}}
          View details
