- hide_keep_on_dancing_tile = DCDO.get('hide_dance_followup', nil)
- minimal ||= false

:css
  div[dir='rtl'] .img-dance-stars {
    left: auto;
    right: 20px;
  }

  .higher-power-text a {
    color: #ffa2f3
  }

  .higher-power-text {
    top: 260px;
  }

  @media screen and (min-width: 560px) and (max-width: 970px) {
    .higher-power-text {
      top: 320px;
    }
  }

  .tutorial-box p {
    margin: 0;
  }

- desktop_background_image = minimal ? "/images/fill-965x330/dance-hoc/dance_party_higher_power_background.jpg" : "/images/dance-hoc/dance_party_higher_power_background.jpg"

.dance-clear-element
.tutorial-promo-container.dance-party-container
  .img-container.tablet-only.desktop-only
    %img.background-img.desktop-only{style: "border-radius: 10px", src: desktop_background_image }
    %img.background-img.tablet-only.mobile-only{style: "border-radius: 10px", src: "/images/fill-500x400/dance-hoc/dance_party_higher_power_background.jpg" }
    %img.img-dance-stars.desktop-only{style: "left: 30px; width: 415px; top: 20px; height: 224px; border-radius: 5px; padding: 0;", src: "/images/fill-415x224/dance-hoc/dance_party_higher_power_band.jpg"}
    %img.img-dance-stars.tablet-only{style: "top: 10%; margin-left: -240px", src: "/images/fit-520x300/dance-hoc/dance_party_higher_power_band_glow.png"}

  %img.mobile-only{style: "width: 100%", src: "/images/dance-hoc/dance_party_higher_power_band_glow.png"}
  .higher-power-text.mobile-only{style: "width: 100%; font-family: var(--main-font); font-weight: var(--semi-bold-font-weight); color: dimgray; text-align: center; padding: 20px; font-size: 18px; line-height: 1.5em;"}
    %div
      = I18n.t(:dance_box_higher_power_line_1)
    - unless minimal
      .higher-power-text
        != I18n.t(:dance_box_higher_power_line_2, path: "/coldplay")

  .col-25.specific-tutorial.right-tutorial.dance-tutorial{:class => ('right-to-left' if language_dir_class == 'rtl' )}
    .tutorial-box{style: "background-color: rgba(34, 99, 183, 0.37)"}
      %h2.specific-tutorial-heading.dance-party-h2{style: "color: #ffa2f3"}= I18n.t(:hoc2018_dance_party_box_title)
      .tutorial-details
        %p.tutorial-description= I18n.t(:hoc2018_dance_party_box_description)
      %a{href: CDO.studio_url('/s/dance-2019/reset'), target: '_self'}
        %button.tutorial-button.dance-try-button= I18n.t(:hoc2018_dance_party_button)
  .col-25.specific-tutorial.left-tutorial.dance-tutorial{:class => ('right-to-left' if language_dir_class == 'rtl' )}
    - unless hide_keep_on_dancing_tile
      .tutorial-box{style: "background-color: rgba(34, 99, 183, 0.37)"}
        %h2.specific-tutorial-heading.dance-party-h2{style: "color: #ffa2f3"}= I18n.t(:hoc2018_dance_keep_on_dancing_box_title)
        .tutorial-details
          %p.tutorial-description= I18n.t(:hoc2018_dance_keep_on_dancing_description)
        %a{href: CDO.studio_url('/s/dance-extras-2019/reset'), target: '_self'}
          %button.tutorial-button.dance-try-button= I18n.t(:hoc2018_dance_keep_on_dancing_button)

  .higher-power-text.desktop-only.tablet-only{style: "width: 100%; font-family: var(--main-font); font-weight: var(--semi-bold-font-weight); position: absolute; color: white; text-align: center; padding: 20px; font-size: 18px; line-height: 1.5em;"}
    %div
      = I18n.t(:dance_box_higher_power_line_1)
    - unless minimal
      .higher-power-text
        != I18n.t(:dance_box_higher_power_line_2, path: "/coldplay")

.dance-clear-element

- unless minimal
  %div{style: "text-align: center; padding-top: 10px; font-family: var(--main-font); font-weight: var(--semi-bold-font-weight);"}
    .foot-note-heading= hoc_s(:codeorg_homepage_hoc2018_musician_before)
    .artist-names
      - Homepage.get_dance_stars.each do |star|
        %span.artist-name= star
        &nbsp; &nbsp;
      %span.and-more= hoc_s(:codeorg_homepage_hoc2018_musician_after)

.dance-clear-element
