- hide_dance_extra_button = DCDO.get('dance_extra_hoc', nil)

%div{style: "clear:both"}
.starwars-container
  .img-container.dance-img-placeholder
  %h1.starwars-heading= I18n.t(:hoc2018_dance_create_your_own_dance_title)
  .col-25.starwars-tutorial.starwars-blocks-tutorial
    .tutorial-box
      %h2.sw-h2.dance-party-h2= I18n.t(:hoc2018_dance_party_box_title)
      .sw-tutorial-info
        %p.sw-tutorial-description= I18n.t(:hoc2018_dance_party_box_description)
      %a{:href => '/api/hour/begin/dance', :target=>'_self'}
        %button.sw-try-button= I18n.t(:hoc2018_dance_party_button)
  .col-25.starwars-tutorial.starwars-js-tutorial
    .tutorial-box{style: "height: 224px;"}
      %h2.sw-h2.dance-party-h2= I18n.t(:hoc2018_dance_keep_on_dancing_box_title)
      .sw-tutorial-info
        %p.sw-tutorial-description= I18n.t(:hoc2018_dance_keep_on_dancing_description)
      - unless hide_dance_extra_button
        %a{:href => '/api/hour/begin/dance-extras', :target=>'_self'}
          %button.sw-try-button= I18n.t(:hoc2018_dance_keep_on_dancing_button)
%div{style: "clear:both"}
