- facebook ||= nil
- twitter ||= nil
- download_filename ||= nil
- download_path ||= nil
- caption ||= nil
- width ||= '100%'
- play_button ||= 'center' # 'center' or 'caption' or 'none'
- letterbox ||= 'true'
- image_url ||= nil
- if image_url
  - image = image_url
- else
  - image = letterbox == 'true' ? "//i.ytimg.com/vi/#{video_code}/0.jpg" : "//i.ytimg.com/vi/#{video_code}/mqdefault.jpg"
- thumbnail_only ||= false

:scss
  .videothumbnail {
    cursor: pointer;
    width: #{width};
    .thumbnail-wrapper {
      position: relative;
      .thumbnail-image {
        width: 100%;
      }
    }
  }

  .video-thumbnail-wrapper {
    position: relative;

    .play-button-wrapper {
      all: unset;
      position: absolute;
      border-radius: 100%;
      transition: background ease-in-out .2s;

      &:hover {
        background: #6F488E;
      }

      &:focus {
        outline: #009EB0 solid 2px;
        outline-offset: 2px;
        background: #6F488E;
      }

      img.play {
        position: absolute;
        top: 0 !important;
        left: 0;
        width: 100%;
        z-index: 100;
      }
    }
  }

  .play-button-center {
    .play-button-wrapper {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6em;
      height: 5.95em;
      background: rgba(0,0,0,.2);
    }
  }

  .play-button-caption {
    .play-button-wrapper {
      bottom: 5px;
      left: 5px;
      width: 40px;
      height: 40px;
      z-index: 100;
    }

    .thumbnail-wrapper .video_caption_link::after {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50px;
      background-color: black;
      line-height: 50px;
      width: 100%;
      opacity: 0.4;
      z-index: -1;
    }

    .thumbnail-wrapper .video_caption_link {
      position: absolute;
      bottom: 0;
      height: 50px;
      color: white;
      background-color: transparent;
      line-height: 50px;
      width: 100%;
      padding-left: 50px;
      z-index: 10;
    }
  }

  .play-button-none {
    img.play{
      display: none;
    }
  }

.videothumbnail{:onclick => "return showVideo_#{id}()", class: "play-button-#{play_button}"}
  %div.thumbnail-wrapper
    %div.video-thumbnail-wrapper
      %img.thumbnail-image{:src => image, :alt => "Video thumbnail"}
      %button.play-button-wrapper
        %img.play{:src => "/shared/images/play-button.png", :alt => "Play video #{caption}"}
    .video_caption_link= caption

- unless thumbnail_only
  = view :display_video_lightbox, id: id, video_code: video_code, facebook: facebook, twitter: twitter, download_filename: download_filename, download_path: download_path
