- facebook ||= nil
- twitter ||= nil
- download_filename ||= nil
- download_path ||= nil
- caption ||= nil
- width ||= '100%'
- play_button ||= 'center' # 'center' or 'caption' or 'none'
- letterbox ||= 'true'
- image = letterbox == 'true' ? "//i.ytimg.com/vi/#{video_code}/0.jpg" : "//i.ytimg.com/vi/#{video_code}/mqdefault.jpg"

:scss
  .videothumbnail {
    cursor: pointer;
    width: #{width};
    .thumbnail-wrapper {
      position: relative;
      overflow: hidden;
      .thumbnail-image {
        width: 100%;
      }
    }
  }

  .play-button-center {
    img.play {
      position: absolute;
      top: 40%;
      left: 40%;
      width: 20%;
    }
  }

  .play-button-caption {
    img.play {
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 40px;
      height: 40px;
      z-index: 100;
    }

    .thumbnail-wrapper .video_caption_link::after {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50px;
      background-color: black;
      line-height: 50px;
      width: 100%;
      opacity: 0.4;
      z-index: -1;
    }

    .thumbnail-wrapper .video_caption_link {
      position: absolute;
      bottom: 0;
      height: 50px;
      color: white;
      background-color: transparent;
      line-height: 50px;
      width: 100%;
      padding-left: 50px;
      z-index: 10;
    }
  }

  .play-button-none {
    img.play{
      display: none;
    }
  }

.videothumbnail{:onclick => "return showVideo_#{id}()", class: "play-button-#{play_button}"}
  %div.thumbnail-wrapper
    %img.thumbnail-image{:src => image, :alt => "video thumbnail"}
    %img.play{:src => "/shared/images/play-button.png", :alt => "play button"}
    .video_caption_link= caption

= view :display_video_lightbox, id: id, video_code: video_code, facebook: facebook, twitter: twitter, download_filename: download_filename, download_path: download_path
