- facebook ||= nil
- twitter ||= nil
- download_filename ||= nil
- download_path ||= nil

.modal.fade{id: "showVideo_#{id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header{style: "border-bottom-width: 0px; padding-top: 0px; padding-bottom: 4px; height:48px"}
        %button.close{:type=>"button", :"data-dismiss"=>"modal", style: "height: 48px"}
          %span{:"aria-hidden"=>"true", style: "font-size:48px"} &times;
          %span{:class=>"sr-only"} Close
        %div{style: "clear:both"}
      .modal-body{style: "padding-top: 0px"}
        =view :index_video_reveal, video_code: video_code, facebook: facebook, twitter: twitter, download_filename: download_filename, download_path: download_path

:css
  .modal{
    text-align: center;
  }

:javascript

  window["showVideo_#{id}"] = function()
  {
    $("#showVideo_#{id}").modal('show');
    setupPopupWindows();
    window["playVideo_#{id}"](true);

    // send video start action to Google Analytics. Use action field to indicate whether this was from YouTube or Code.org CloudFront
    var fallbackVideo = $("#showVideo_#{id} video");
    var eventAction = (fallbackVideo.length > 0 ? 'startVideoFallback' : 'startVideoYouTube');
    ga('send', 'event', 'showvideo', eventAction, '#{id}');
  };

  $("#showVideo_#{id}").on('hide.bs.modal', function ()
  {
    // Pause the video.
    window["playVideo_#{id}"](false);
  });

  window["playVideo_#{id}"] = function(play)
  {
    // If we have this, then we have YouTube.
    var youtubeIframeContent = null;
    var videoDiv = $("#showVideo_#{id} .videodiv");
    if (videoDiv.length > 0)
    {
      var iframe = videoDiv[0].getElementsByTagName("iframe");
      if (iframe.length > 0)
      {
        youtubeIframeContent = iframe[0].contentWindow;
      }
    }


    if (!youtubeIframeContent)
    {
      // While we create YouTube once for the page, we add/dispose the
      // fallback player each time the modal shows.

      var fallbackVideo;

      if (play) {
        var downloadPath = $("#showVideo_#{id} .insert_video_player").data("download-path");

        $("#showVideo_#{id} .insert_video_player").parent().append(
          '<video ' +
          'data-setup=\'{"techOrder": ["flash", "html5"]}\' ' +
          'style="position:absolute; top: 0; left: 0; width: 100%; height: 100%" ' +
          'width="100%" height="100%" ' +
          'class="video-js" ' +
          'preload="none" ' +
          'controls>' +
          '  <source src="' + downloadPath + '" type="video/mp4"/>' +
          '</video>');

        // play the video we just aded.
        fallbackVideo = $("#showVideo_#{id} video");
        videojs(fallbackVideo[0], {}, function() {
          play ? this.play() : this.pause();
        });
      } else {
        // dispose of the video player.
        var fallbackVideo = $("#showVideo_#{id} video");
        var fallbackVideo = $("#showVideo_#{id} .video-js");
        videojs(fallbackVideo[0]).dispose();
      }
    }
    else if (youtubeIframeContent)
    {
      func = play ? 'playVideo' : 'pauseVideo';
      youtubeIframeContent.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
    }
  }
