- facebook ||= nil
- twitter ||= nil
- download_filename ||= nil
- download_path ||= nil

.modal.fade{id: "showVideo_#{id}"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header{style: "border-bottom-width: 0px; padding-top: 0px; padding-bottom: 4px; height:48px"}
        %button.close{:type=>"button", :"data-dismiss"=>"modal", style: "height: 48px"}
          %span{:"aria-hidden"=>"true", style: "font-size:48px"} &times;
          %span{:class=>"sr-only"} Close
        %div{style: "clear:both"}
      .modal-body{style: "padding-top: 0px"}
        =view :index_video_reveal, video_code: video_code, facebook: facebook, twitter: twitter, download_filename: download_filename, download_path: download_path

:css
  .modal{
    text-align: center;
  }

:javascript

  window["showVideo_#{id}"] = function()
  {
    $("#showVideo_#{id}").modal('show')
  };

  $("#showVideo_#{id}").on('hidden.bs.modal', function () 
  {
    var play = false;
    var div = $("#showVideo_#{id} .videodiv")[0];
    var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
    func = play ? 'playVideo' : 'pauseVideo';
    iframe.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
  });
