- diamond_supporters = DB[:cdo_donors].where(level_s:'diamond').order(:url_s).all
- platinum_supporters = DB[:cdo_donors].where(level_s:'platinum').order(:url_s).all
- gold_supporters = DB[:cdo_donors].where(level_s:'gold').order(:url_s).all
- diamond_supporters.shuffle!
- platinum_supporters.shuffle!
- gold_supporters.shuffle!

%link{rel:'stylesheet', type:'text/css', href:'/css/donors.css'}

#donorslider
  .container_responsive
    .donor-header
      %h1
        = I18n.t(:homepage_header_donors)

    .donor-slider
      - diamond_supporters.each_with_index do |supporter|
        %a{:href=>supporter[:url_s], :target=> "_blank"}
          = "#{supporter[:name_s]}, "
      - platinum_supporters.each_with_index do |supporter|
        %a{:href=>supporter[:url_s], :target=> "_blank"}
          = "#{supporter[:name_s]}, "
      - gold_supporters.each_with_index do |supporter, index|
        %a{:href=>supporter[:url_s], :target=> "_blank"}
          - if index == gold_supporters.length-1
            = "#{supporter[:name_s]}"
          - else
            = "#{supporter[:name_s]}, "
    
    .donor-button
      %a{href: "/donate"}
        %button
          = I18n.t(:homepage_donors_donate)
