%link{:href=>"/css/donor_slider.css", :rel=>"stylesheet"}

- supporters = DB[:cdo_donors].where(level_s:'platinum').or(level_s:'gold').order(:url_s).all
- supporters.shuffle!

- request.path_info.include?('/congrats') ? congrats_page = true : congrats_page = false

#donorslider{:class => congrats_page ? "bw_theme" : "color_theme"}
  .container_responsive
    #donorheader
      %h1{:class => congrats_page ? "bw_theme" : "color_theme"}
        = I18n.t(:homepage_header_donors)

      #donorlinks.desktop-feature
        %a{href: "/about/donors", :class => congrats_page ? "bw_theme" : "color_theme"} 
          = I18n.t(:homepage_donors_seall)
        &nbsp; &nbsp; &nbsp;
        %a{href: "/donate", :class => congrats_page ? "bw_theme" : "color_theme"} 
          = I18n.t(:homepage_donors_donate)

    .donor-slider{:class => congrats_page ? "bw_theme" : "color_theme"}
      - supporters.each_with_index do |supporter, index|
        %a{:href=>supporter[:url_s], :target=> "_blank", :class => congrats_page ? "bw_theme" : "color_theme"}
          - if index == supporters.length-1
            = "#{supporter[:name_s]}"
          - else
            != "#{supporter[:name_s]}, "
