- supporters = DB[:cdo_donors].where(level_s:'platinum').or(level_s:'gold').order(:url_s).all
- supporters.shuffle!

- if theme == "color"
  - background_color = "#cfc9de" #lighter_purple
  - font_color = "#ffffff"
- else
  - background_color = "#ffffff"
  - font_color = "#5b6770" #charcoal

#donorslider{style: "background-color: #{background_color}; margin-top:20px; padding-top:10px; margin-bottom:0px"}
  .container_responsive{style: "margin-top:0px; margin-bottom:0px; padding-bottom:15px; padding-top:5px"}
    #donorheader{style: "position:relative; height:40px"}
      %h1{style: "width:100%; font-size: 20px; margin: 0px; padding:0px; text-align:center; color: #{font_color}; position: absolute; top:0px; font-family: 'Gotham 4r', sans-serif"}
        = I18n.t(:homepage_header_donors)

      #donorlinks.desktop-feature{style: "text-align:right; position:absolute; width:100%"}
        %a{href: "/about/donors", style: "color: #{font_color}"} 
          = I18n.t(:homepage_donors_seall)
        &nbsp; &nbsp; &nbsp;
        %a{href: "/donate", style: "color: #{font_color}"} 
          = I18n.t(:homepage_donors_donate)

    .donor-slider{style: "color: #{font_color}; text-align:center; font-size:13px"}
      - supporters.each_with_index do |supporter, index|
        %a{:href=>supporter[:url_s], :target=> "_blank", :style=>"color: #{font_color}; font-family: 'Gotham 4r', sans-serif;"}
          - if index == supporters.length-1
            = "#{supporter[:name_s]}"
          - else
            != "#{supporter[:name_s]}, "
