- supporters = DB[:cdo_donors].where(level_s:'platinum').or(level_s:'gold').order(:url_s).all
- supporters.shuffle!

#donorslider{style: "background-color:rgb(200, 193, 217); margin-top:20px; padding-top:10px; margin-bottom:0px"}
  .container_responsive{style: "margin-top:0px; margin-bottom:0px; padding-bottom:15px; padding-top:5px"}
    #donorheader{style: "position:relative; height:40px"}
      %h1{style: "width:100%; font-size: 20px; margin: 0px; padding:0px; text-align:center; color: rgb(255,255,255); position: absolute; top:0px; font-family: 'Gotham 4r', sans-serif"}
        -if request.language  == 'en'
          = I18n.t(:homepage_header_donors)
        -else
          = I18n.t(:studiobar_donate_body)

      #donorlinks.desktop-feature{style: "text-align:right; position:absolute; width:100%"}
        %a{href: "/about/donors", style: "color:white"} 
          -if request.language == 'en'
            = I18n.t(:homepage_donors_seall)
        &nbsp; &nbsp; &nbsp;
        %a{href: "/donate", style: "color:white"} 
          -if request.language == 'en'
            = I18n.t(:homepage_donors_donate)
          -else
            = I18n.t(:studiobar_donate_title)

    .donor-slider{style: "color:white; text-align:center; font-size:13px"}
      - supporters.each_with_index do |supporter, index|
        %a{:href=>supporter[:url_s], :target=> "_blank", :style=>"color:white; font-family: 'Gotham 4r', sans-serif;"}
          - if index == supporters.length-1
            = "#{supporter[:name_s]}"
          - else
            != "#{supporter[:name_s]}, "
