:ruby
  cookie_key = '_user_type' + (rack_env == :production ? '' : "_#{rack_env.to_s}")
  user_type = request.cookies[cookie_key]

  hamburger_options = {}
  hamburger_options[:level] = nil
  hamburger_options[:user_type] = user_type
  hamburger_options[:language] = request.language
  hamburger_options[:code_org_url_base] = CDO.code_org_url
  hamburger_options[:studio_url_base] = CDO.studio_url
  hamburger_options[:show_gallery] = true
  hamburger_options[:loc_prefix] = "header_"

%link{:href=>"/shared/css/header2.css", :rel=>"stylesheet"}
%link{:href=>'/shared/css/hamburger.css', :rel=>'stylesheet'}

#pageheader2-wrapper
  #pageheader
    .content
      #left
        #logo-wrapper
          %a{:href=>CDO.studio_url("/home")}
            %img#logo{:src=>'/images/logo.png'}
        #headerlinks.desktop-feature
          - if user_type == "teacher"
            %a.headerlink{:href=>CDO.studio_url("/home")}= I18n.t('header_home')
            %a.headerlink{:href=>CDO.studio_url("/courses")}= I18n.t('header_courses')
            %a.headerlink{:href=>CDO.studio_url("/projects")}= I18n.t('header_projects')
            %a.headerlink{:href=>"/teacher-dashboard#/sections"}= I18n.t('header_sections')
            %a.headerlink{:href=>CDO.studio_url("/my-professional-learning")}= I18n.t('header_professional_learning')
          - elsif user_type == "student"
            %a.headerlink{:href=>CDO.studio_url("/courses")}= I18n.t('header_courses')
            %a.headerlink{:href=>CDO.studio_url("/projects")}= I18n.t('header_projects')
          - elsif request.language == "en"
            %a.headerlink{:href=>"/student"}= I18n.t('header_learn')
            %a.headerlink{:href=>"/educate"}= I18n.t('header_teach')
            %a.headerlink{:href=>"/promote"}= I18n.t('header_stats')
            %a.headerlink{:href=>"/help"}= I18n.t('header_help_us')
            %a.headerlink{:href=>"/about"}= I18n.t('header_about')
            %a.headerlink{:href=>CDO.studio_url("/projects/public")}= I18n.t('header_project_gallery')

      #right
        #sign_in_or_user{:style=>'display:block; float: left; margin: .6875em 0 0 30px;'}
        = view :hamburger, hamburger_options

    #clear{:style=>'clear:both'}

    #loc.desktop-feature
      -if banner = @header['banner']
        =view banner

#clear{:style=>'clear:both'}
