:ruby
  block_item = [
    {
      overline: hoc_s(:module_grade_2_12),
      title: hoc_s(:curriculum_name_dance_party),
      image: "/images/dance-hoc/dance-party-activity-ai-edition-cropped.png",
      desc: hoc_s(:social_hoc2023_dance_v2),
      url: "/dance",
      button_label: hoc_s(:call_to_action_explore_dance_party)
    },
    {
      overline: hoc_s(:module_grade_3_12),
      title: hoc_s(:curriculum_name_ai_for_oceans),
      image: "/images/ai/ai-curriclum-oceans.png",
      desc: hoc_s(:ai_curriculum_desc_03),
      url: "/oceans",
      button_label: hoc_s(:call_to_action_explore_ai_for_oceans)
    },
    {
      overline: hoc_s(:module_grade_2_12),
      title: hoc_s(:curriculum_name_minecraft),
      image: "/images/mc/minecraft-tile-generic.png",
      desc: hoc_s(:hoc_page_activity_minecraft_desc),
      url: "/minecraft",
      button_label: hoc_s(:call_to_action_explore_minecraft)
    },
  ]
.action-block__wrapper.action-block__wrapper--three-col
  - block_item.each do |block_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          =hoc_s(:module_label_grades)
          = block_item[:overline]
        %h3
          = block_item[:title]
        %img{src: block_item[:image], alt: ""}
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button{href: "#{block_item[:url]}"}
          = block_item[:button_label]
