.quarterslot.div.col-25.col-mobile-50
  %a.linktag{href: entry[:url], id: entry[:id]}
    .slotbox{style: "background-image: url(#{entry[:image]})"}
      .headerbox{style: "background-color: rgb(#{entry[:color1]}); background-color: rgba(#{entry[:color1]}, 0.92); "}
        .header.underscorehover
          = I18n.t(entry[:title])
        .sentence
          - unless entry[:text].nil_or_empty?
            = I18n.t(entry[:text])
          - else
            &nbsp;
