.div.col-33.col-mobile-50{style: "float:left; height:300px; padding:10px 5px 10px 5px"}

  -#.slotbox{style: "position:relative; overflow:hidden; width: 100%; height:300px"}
  .headingbox{style: "background-color: rgb(#{bgc_head}); color:white; width:100%; padding:10px; font-size:18px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
    = entry[:name]
  .thelinks{style: "padding: 10px; background-color: rgb(#{bgc_body}); height:240px"}
    - entry[:links].each do |link|
      - opacity = 1
      - if link[:priority] && link[:priority] == 2
        - opacity = 0.8
      %p{style: "opacity: #{opacity}"}
        %a{href: "#"}
          = link[:text]
