- if Homepage.show_professional_learning_banner(request)
  = inline_css 'homepage_below_hero_plane_banner.css'
  - text = Homepage.professional_learning_banner_text()
  - header_text = Homepage.professional_learning_banner_header()

  .homepage-professional-learning-banner
    %a.linktag#pl-2019{href: "/educate/professional-learning/middle-high"}
      .homepage-pd-banner-desktop.col-80.desktop-feature
        .banner
          %img{src: "/images/homepage/superhero-banner.png"}
        .left.col-80.animateSlideInFromLeft
          .header= header_text
          .text= text
        .right.col-20
          %button
            Learn More
      .homepage-pd-banner-tablet.col-80.tablet-restrictive-feature
        .banner
          %img{src: "/images/homepage/superhero-banner-half.png"}
          .text-button-wrapper
            .header= header_text
            .text= text
            %button
              Learn More
      .homepage-pd-banner-phone.phone-feature
        .text-button-wrapper
          .header= header_text
          .text= text
          %button
            Learn More

    .clear
