- bg_image = ""
- blurb = ""
- bg_image_text = ""
- bg_image_url = ""
- entry[:links].each do |link|
  - if link[:img]
    - bg_image = link[:img]
    - bg_image_text = link[:caption]
    - bg_image_url = link[:url]
  - if link[:blurb]
    - blurb = link[:blurb]

.col-50.col-mobile-100{style: "float:left; padding:10px 5px 10px 5px; "}

  .thelinks{style: "background-color: rgb(#{bgc_body}); padding:0px; padding-top:0px; overflow:hidden"}
    .title{style: "width: 100%; background-color: rgb(#{bgc_head}); color:white; font-size:18px; padding:5px"}
      = entry[:name]

    .blurb{style: "color: white; font-size:14px; padding-bottom:15px; text-align:left; padding:15px"}
      = blurb

    %a{href: "#{bg_image_url}"}
      .slotbox{style: "position:relative; float:left; background-image: url(#{bg_image}); background-repeat: no-repeat; background-size: cover; width: 40%; height:100%; background-position: 0% 50%; height:220px;"}
        .greybox{style: "position:absolute; bottom:0px; left:0px; background-color: rgba(0,0,0,0.3); color:white; width:100%; padding:10px; font-size:18px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
          = bg_image_text

    .body{style: "float:left; padding:10px; width:60%; text-align:left;  font-size:16px;"}
      -#.blurb{style: "color: white; font-size:14px; padding-bottom:15px"}
        = blurb
      - entry[:links].each do |link|
        - if link[:text]
          - opacity = 1
          - if link[:priority] && link[:priority] == 2
            -# opacity = 0.8
          %p{style: "opacity: #{opacity}; margin-bottom:20px; padding-left:15px; font-size:16px"}
            %a{href: "#", style: "font-family: 'Gotham 5r', sans-serif; color:white"}
              = link[:text]

    


