- display = entry[:active_s] == "hide" ? "none" : "block"
.div.col-25.col-mobile-50{style: "display: #{display}; float:left; height:390px; padding:0px 5px 10px 5px; "}
  %a{href: entry[:param4_s]}
    .slotbox{style: "position:relative; overflow:hidden; background-image: url(#{entry[:image_t]}); background-repeat: no-repeat; background-size: cover; width: 100%; height:100%; background-position: 0% 50%; height:220px; border-top-left-radius: 5px;  border-top-right-radius: 5px;"}
      .greybox{style: "position:absolute; bottom:0px; left:0px;  background-color: rgb(#{entry[:param2_s]});background-color: rgba(#{entry[:param2_s]}, 0.92); color:white; width:100%; padding:10px; font-size:18px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
        .header.underscorehover{style: "font-family: 'Gotham 7r', sans-serif"}
          = I18n.t(entry[:text1_s])
        .sentence{style: "font-size:14px; opacity:0.9"}
          - unless entry[:param1_s].nil_or_empty?
            = I18n.t(entry[:param1_s])
          - else
            &nbsp;
  .thelinks{style: "background-color: rgb(#{entry[:param3_s]}); padding:5px; padding-top:20px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;"}
    - entry[:links].each do |link|
      %p{style: "margin-bottom:20px"}
        %a{href: link[:param2_s], style: "font-size: 16px; font-family: 'Gotham 4r', sans-serif; color:white"}
          = I18n.t(link[:param1_s]).gsub("#", format_integer_with_commas(fetch_hoc_metrics['started']).to_s)
