- page_mode = PageMode.get(request)

- video_code = nil
- download_filename = nil
- download_path = nil
- facebook = nil
- twitter = nil

- video_actions = DB[:cdo_homepage].where(type_s: "action", param1_s: "video", active_s: ["show","hide"], site_s: [request.site,"both"]).all
- video_actions.each_with_index do |entry, index|
  - video_code = entry[:param2_s]
  - if video_code == "2DxWIxec6yo"
    - download_path = 'http://videos.code.org/social/hourofcode-2015-50MB.mp4'
    - facebook = {:u=>"http://#{request.site}/"}
    - if request.site == 'csedweek.org'
      - twitter = {:related=>'codeorg', :hashtags=>'', :text=>I18n.t(:hoc_is_here)}
      - twitter[:hashtags] = 'HourOfCode' unless I18n.t(:hoc_is_here).include? '#HourOfCode'
    - else
      - twitter = {:related=>'codeorg', :hashtags=>'', :text=>I18n.t(:twitter_teach_cs)}
    - twitter[:url] = "http://#{request.site}/" unless twitter[:text].include? "http://#{request.site}/" || "#{twitter[:text]} http://#{request.site}/".length > 140

- unless video_code.nil_or_empty?
  // Inspire Girls video for HoC 2015
  - video_code = "mFPg96gdPkc"
  - video_path = "http://videos.code.org/social/ChangeTheWorld_v5.mp4"

  #videofullwidth{style: "position:absolute; left: 0; top: 0; width: 100%"}
    = view :display_video_lightbox, id: "mainvideo", video_code: video_code, download_filename: download_filename, download_path: download_path, facebook:facebook, twitter:twitter
