:ruby
  show_single_hero = Homepage.show_single_hero
  show_single_hero_mobile_gap = Homepage.show_single_hero_mobile_gap
  heroes_arranged, hero_display_time = Homepage.get_heroes_arranged(request)
  actions = Homepage.get_actions

- main_actions = capture_haml do

  .hoc2018
    - if show_single_hero == "mc"
      .hero-message-line1= hoc_s(:codeorg_homepage_hoc2018_header_line1)
      .hero-message-line2
        -# Don't tint the word "create"
        .desktop-feature= hoc_s(:codeorg_homepage_hoc2018_header_line2_mobile)
        .mobile-feature= hoc_s(:codeorg_homepage_hoc2018_header_line2_mobile)
    - elsif show_single_hero == "dance"
      .hero-message-line1{style: "font-size: 28px; line-height: 28px; padding-bottom: 10px"}
        - if DCDO.get("hoc_mode", CDO.default_hoc_mode) == "actual-hoc"
          = hoc_s(:social_hoc2018_hoc_here)
        - else
          = hoc_s(:codeorg_homepage_hoc2018_header_line1)
      .hero-message-line2{style: "font-size: 28px; line-height: 28px;"}
        -# Don't tint the word "create"
        .desktop-feature= hoc_s(:codeorg_homepage_hoc2018_header_line2_mobile)
        .mobile-feature= hoc_s(:codeorg_homepage_hoc2018_header_line2_mobile)
    - else
      .hero-message-line1= hoc_s(:codeorg_homepage_hoc2018_header_line1)
      .hero-message-line2
        .desktop-feature= hoc_s(:codeorg_homepage_hoc2018_header_line2_desktop)
        .mobile-feature= hoc_s(:codeorg_homepage_hoc2018_header_line2_mobile)
      .hero-message-gap.mobile-feature &nbsp;
      .hero-message-line3
        = hoc_s(:codeorg_homepage_hoc2018_header_line3)
        %span.hero_video_link{onclick: "return showVideo_mainvideo()"}= hoc_s(:codeorg_homepage_hoc2018_video)

  .action_buttons
    - actions.each do |entry|
      - if ["cta_button", "cta_button_solid_white", "cta_button_hollow_white"].include? entry[:type]
        .action.hoc2018
          %a.linktag#hero-hoc{href: entry[:url]}
            - extra_class = "herohocbutton-solid-white" if entry[:type] == "cta_button_solid_white"
            - extra_class = "herohocbutton-hollow-white" if entry[:type] == "cta_button_hollow_white"
            %button.herohocbutton{class: extra_class}= I18n.t(entry[:text])
      - elsif entry[:type] == "video"  # There's a special video link for hoc2018, so don't show video action here
        .action.hoc2018
          %button.clicktag#hero-video{onclick: "return showVideo_mainvideo();"}
            %img.video-play-icon{src: "/shared/images/fit-48/play-button.png"}
            %span#playtext= I18n.t(entry[:text])

  .clear{style: "clear: both"}

#hero{style: "position:relative"}

  - if show_single_hero == "hoc2018"
    .hoc2018
      #blackbackground.desktop-feature
        #blackbox
        #blacktriangle
          %svg#blacktrianglesvg{xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "none", viewBox: "0 0 2 1"}
            %g
              %path{style: "fill: black", d: "M0,0 L2,0 L1,1 L0,1 z"}
      #blackbackground.mobile-feature
        #blackbox_mobile
        #blacktriangle_mobile
          %svg#blacktrianglesvg{xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "none", viewBox: "0 0 1 2"}
            %g
              %path{style: "fill: black", d: "M0,1 L1,0 L1,2 L0,2 z"}

  - heroes_arranged.each_with_index do |entry, index|
    -# Preload the first hero image to render immediately, lazy-load the rest to conserve bandwidth.
    - if index == 0
      -#
        Use Link rel=preload HTTP headers to preload as early as possible.
        Two headers with inverse media queries conditionally load the correctly-sized image.
      - response.add_header 'Link', "<#{entry[:image]}>; rel=preload; as=image; media=\"#{css_retina?(false)}\";"
      - response.add_header 'Link', "<#{entry[:image].gsub('.jpg', '_2x.jpg')}>; rel=preload; as=image; media=\"#{css_retina?}\";"
      .widehero#fullwidth0{style: "background-position: #{entry[:centering]}; background-image: url(#{entry[:image]});"}
    - else
      .widehero.lazyload{id: "fullwidth#{index}", "data-bg"=> "#{entry[:image]}", style: "background-position: #{entry[:centering]}"}

  #fullwidth
    - if request.site == 'code.org'
      = view :header
    - else
      #desktop-header.desktop-feature
        = view :header
      #mobile-header.mobile-headers.mobile-feature
        = view :mobile_header_responsive

  - if show_single_hero
    - extra_style = show_single_hero == "dance" ? "width: 50%;" : nil
    .bigannounce-hoc2018.desktop-feature{style: extra_style}
      - actions_id = show_single_hero_mobile_gap ? "actions-mobile-gap" : "actions"
      %div{id: actions_id}
        = main_actions
    .bigannounce2-hoc2018.mobile-feature
      - actions_id = show_single_hero_mobile_gap ? "actions-mobile-gap" : "actions"
      - actions_extra_style = show_single_hero == "dance" ? "text-align: center" : nil
      %div{id: actions_id, style: actions_extra_style}
        = main_actions
        - if show_single_hero == "mc"
          %img{src: "/images/fit-400/mc/MC_Logo_Large.png", style: "width: 320px; height: 125px; padding-top: 25px; margin-left: -37px;"}
        - if show_single_hero == "dance"
          %a{href: "/dance"}
            %div{style: "text-align: center"}
              %img{src: "/images/fit-400/homepage/hoc2018_dance_stars_mobile.png", style: "max-width: 400px; width: 100%; padding-top: 50px"}
            .hoc2018-dance-heading= hoc_s(:codeorg_homepage_hoc2018_dance_heading)

    -# Temporary for hoc2018 mc launch
    - if show_single_hero == "mc"
      .desktop-feature
        %img{src: "/images/fit-450/homepage/hoc2018_mc_characters.png", style: "position: absolute; width: 400px; right: 20px; bottom: 0px;"}
    - elsif show_single_hero == "dance"
      %a{href: "/dance"}
        .desktop-feature{style: "position: absolute; width: 600px; width: 50%; top: 125px; right: 20px; text-align: center"}
          %img{src: "/images/fit-600/homepage/hoc2018_dance_stars.png", style: "width: 100%"}
          .hoc2018-dance-heading= hoc_s(:codeorg_homepage_hoc2018_dance_heading)

      .clear{style: "clear: both"}

      %div{style: "color: #00adbc; text-align: center; margin-left: 10%; margin-right: 10%; padding-bottom: 15px; font-family: 'Gotham 5r', sans-serif; line-height: 19px;"}
        %div{style: "margin-bottom: 5px"}= hoc_s(:codeorg_homepage_hoc2018_musician_before)
        %div
          - Homepage.get_dance_stars.each do |star|
            %span{style: "white-space: nowrap"}= star
            &nbsp; &nbsp;
          %span{style: "white-space: nowrap"}= hoc_s(:codeorg_homepage_hoc2018_musician_after)

  #caption_container.container_responsive

    - unless show_single_hero
      .col-66.desktop-feature{style: "position:relative;"}
        - heroes_arranged.each_with_index do |entry, index|
          - unless entry[:text].nil_or_empty? || show_single_hero
            - text = I18n.t(entry[:text]).dup

            -# Replace special tags
            - text.gsub!("#student_count", format_integer_with_commas(fetch_user_metrics['number_students']))
            - text.gsub!("#served", format_integer_with_commas(fetch_hoc_metrics['started']))
            - text.gsub!("#loc", format_integer_with_commas(fetch_metrics['lines_of_code']))

            - unless text.nil_or_empty?
              - lines = text.lines
              - if entry[:textposition] == "bottom"
                - position_class = "homepage-caption-bottom"
              .captionarea{id: "captionarea#{index}", class: position_class}
                -# Nokogiri::HTML is use to strip any HTML tags.
                -# Some translated quotes we were using had <b> tags and some broken <b/> tags.
                .caption.caption1{style: "left: 50px; top: 50px"}
                  = Nokogiri::HTML(lines[0])
                .caption.caption2{style: "left: 30px; top: 95px"}
                  = Nokogiri::HTML(lines[1])
                .caption.caption3.smallcaption{style: "left: 40px; top: 140px"}
                  = Nokogiri::HTML(lines[2])

        &nbsp;

        -# Maintains a large empty chunk so that the hero image remains large and visible at all browser sizes.
        #blankspaceleftdesktop.desktop-feature

      #actions.col-33
        = main_actions

      #blankspaceleftmobile.mobile-feature

  .clear{style: "clear: both"}

:javascript
  // Swap in 2x versions of the hero image URLs for retina displays.
  if (window.matchMedia('#{css_retina?}').matches) {
    Array.prototype.forEach.call(document.querySelectorAll('#hero .widehero'), function(item) {
      if (item.dataset.bg) {
        item.dataset.bg = item.dataset.bg.replace(".jpg", "_2x.jpg");
      }
      if (item.style['background-image']) {
        item.style['background-image'] = item.style['background-image'].replace(".jpg", "_2x.jpg");
      }
    });
  }

  var petition;

  $(document).ready(function() {
    // For IE8, can't start with opacity in the HTML, so we made things display: none.  Now we show them but
    // set opacity to 0, ready for code to start showing them by fading them in.
    $(".caption").css({display: "block", opacity: 0});

    showQuote(null, 0);
  });

  function showQuote(lastImage, nextImage)
  {
    if (lastImage !== null)
    {
      var lastImageId = "#captionarea" + lastImage;
      //console.log("hiding", lastImageId);
      $(lastImageId + " .captionspecial").animate({left: "50px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption1").animate({left: "50px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption2").animate({left: "30px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption3").animate({opacity:0}, { duration: 2000 });
    }

    if (nextImageId !== null)
    {
      var nextImageId = "#captionarea" + nextImage;
      //console.log("showing", nextImageId);
      $(nextImageId + " .captionspecial").delay(1500).animate({ left: "0px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption1").delay(1500).animate({ left: "0px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption2").delay(2000).animate({ left: "60px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption3").delay(4500).animate({ opacity: 0.6 }, { duration: 2000 });
    }
  }

  function adjustScroll(destination)
  {
    $('html, body').animate({
      scrollTop: $("#" + destination).offset().top
    }, 1000);
  }

  var currentImage = 0;
  var timerId;
  var videoStarted = false;

  function cycleImage()
  {
    var numWideHeroes = $(".widehero").length;

    var lastImage = currentImage;
    var nextImage = (currentImage + 1) % numWideHeroes;
    $("#fullwidth" + currentImage).fadeTo(4000, 0);
    $("#fullwidth" + nextImage).fadeTo(4000, videoStarted ? 0.3 : 1);
    currentImage = nextImage;

    showQuote(lastImage, currentImage);
  }

  $(document).ready(function() {
    var numWideHeroes = $(".widehero").length;

    if (numWideHeroes > 1) {
      timerId = setInterval(cycleImage, #{hero_display_time});
    }
  });
