- bg_image = ""
- entry[:links].each do |link|
  - if link[:img]
    - bg_image = link[:img]

.div.col-25.col-mobile-50{style: "float:left; height:390px; padding:10px 5px 10px 5px; "}

  %a{href: entry[:url]}
    .slotbox{style: "position:relative; overflow:hidden; background-image: url(#{bg_image}); background-repeat: no-repeat; background-size: cover; width: 100%; height:100%; background-position: 0% 50%; height:220px;"}
      .greybox{style: "position:absolute; bottom:0px; left:0px; background-color: rgba(#{bgc_head},0.92); color:white; width:100%; padding:10px; font-size:18px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
        = entry[:name]
    .thelinks{style: "background-color: rgb(#{bgc_body}); padding:5px; padding-top:20px"}
      - entry[:links].each do |link|
        - if link[:text]
          - opacity = 1
          - if link[:priority] && link[:priority] == 2
            -# opacity = 0.8
          %p{style: "opacity: #{opacity}; margin-bottom:20px"}
            %a{href: link[:url], style: "font-size: 16px; font-family: 'Gotham 4r', sans-serif; color:white"}
              = link[:text]

