.div.col-33.col-mobile-50{style: "float:left; padding:10px 5px 10px 5px"}

  .headingbox{style: "background-color: rgb(#{bgc_head}); color:white; width:100%; padding:10px; font-size:20px; text-align:left; font-family: 'Gotham 4r', sans-serif; text-align:center"}
    = entry[:name]
  .thelinks{style: "padding: 10px; background-color: rgb(#{bgc_body}); font-size: 18px"}
    - entry[:links].each do |link|
      - if link[:text]
        - opacity = 1
        - if link[:priority] && link[:priority] == 2
          -# opacity = 0.8
        %p{style: "opacity: #{opacity};  margin-top:20px; margin-bottom:20px"}
          %a{href: "#", style: "font-family: 'Gotham 4r', sans-serif;"}
            = link[:text]
      - elsif link[:img]
        %img{src: link[:img], style: "width: 100%; margin-top:5px; margin-bottom:15px"}
      - elsif link[:para]
        != link[:para]
