#top{style: "position:relative; width:100%; overflow:hidden"}

  -# Generate a random set of hero images alternating between non-celeb and celeb.
  - heroes = DB[:cdo_homepage].where(type_s: "widehero", active_s: ["show","hide"], site_s: [request.site,"both"], language_supported_s: ["all", languageFilter]).all
  - heroes.shuffle!
  - heroes_nonceleb = heroes.select {|hero| hero[:param2_s] != "celeb"}
  - heroes_celeb = heroes.select {|hero| hero[:param2_s] == "celeb"}
  - heroes_arranged = heroes_nonceleb.zip(heroes_celeb).flatten.compact.first(6)

  - heroes_arranged.each_with_index do |entry, index|
    -# note: this gsheet display parameter unused due to IE8 fix.
    - display = entry[:active_s] == "hide" ? "none" : "block"
    - opacity = index == 0 ? 1 : 0
    .widehero{id: "fullwidth#{index}", style: "display: none; z-index: -5; position:absolute; left: 0; top: 0; background-image: url(#{entry[:image_t]}); background-repeat: no-repeat; background-size: cover; width: 100%; height:100%; opacity: #{opacity}; background-position: #{entry[:param1_s]}"}

  #fullwidth{style: "width: 100%;"}
    .thegap{style: "height: 1px"}
      &nbsp;
    #desktop-header.desktop-feature
      = view :header, variant: "desktop"
    #mobile-header.mobile-feature
      = view :header, variant: "mobile"

  .container_responsive{style: "color: white; font-size: 20px"}
    .col-66{style: "position:relative;"}
      - heroes_arranged.each_with_index do |entry, index|
        -# note: this gsheet display parameter unused due to IE8 fix.
        - display = entry[:active_s] == "hide" ? "none" : "block"
        - unless entry[:text1_s].nil_or_empty?
          - text = I18n.t(entry[:text1_s])
          - unless text.nil_or_empty?
            - lines = text.lines 
            .captions{id: "captionarea#{index}", style: "position:absolute; left:0; top:0; text-align:center; width:100%; color:#fff; line-height:22px"}
              .caption.caption1{style: "display: none; left: 50px; top: 50px; position: absolute; opacity: 0; padding:8px; text-shadow: 0 0 5px black"}
                = lines[0]
              .caption.caption2{style: "display: none; left: 30px; top: 95px; position: absolute; opacity: 0; padding:8px; text-shadow: 0 0 5px black"}
                = lines[1]
              .caption.caption3{style: "display: none; left: 40px; top: 140px; position: absolute; opacity: 0; font-size: 14px; padding:8px; text-shadow: 0 0 5px black"}
                = lines[2]

      &nbsp;

      -# Maintains a large empty chunk so that the hero image remains large and visible at all browser sizes.
      #blankspaceleft.desktop-feature{style: "height:380px"}
      #blankspaceleft.mobile-feature{style: "height:120px"}

    .col-33{style: "position:relative; padding: 20px; margin-top:40px; text-align:center"}   
      - actions = DB[:cdo_homepage].where(type_s: "action", active_s: ["show","hide"], site_s: [request.site,"both"], language_supported_s: ["all", languageFilter]).all
      - actions.each_with_index do |entry, index|
        - display = entry[:active_s] == "hide" ? "none" : "block"
        .action{style: "display: #{display}; opacity: 0"}
          - if entry[:param1_s] == "video"
            %img{src: "/shared/images/play-button.png", width:"40", onclick: "return showVideo_mainvideo();", style: "cursor: pointer"}
            %span{style: "font-size:20px", onclick: "return showVideo_mainvideo();", style: "cursor: pointer"}
              = I18n.t(entry[:text1_s])
          - elsif entry[:param1_s] == "learn"
            %a#herolearnlink{href: "/learn", style: "color:white; font-size:20px"}
              %button{style: "font-weight: 500; font-size: 20px; height: 50px"}
                = I18n.t(entry[:text1_s])
          -# elsif entry[:param1_s] == "petition"
            %span#petitionaction{style: "display: none; font-weight: 500; font-size: 14px; height: 50px; cursor:pointer", onclick: "expandPetition(); adjustScroll('petitionblock');"}
              = I18n.t(entry[:text1_s])
          %div{style: "height:40px"}



:javascript
  var petition;

  $(document).ready()
  {
    // For IE8, can't start with opacity in the HTML, so we made things display: none.  Now we show them but
    // set opacity to 0, ready for code to start showing them by fading them in.
    $(".caption").css({display: "block", opacity: 0});
    $(".widehero").css({display: "block", opacity: 0});

    $("#fullwidth0").fadeTo(4000, 1);

    showQuote(null, 0);
  }

  function showQuote(lastImage, nextImage)
  {
    if (lastImage !== null)
    {
      var lastImageId = "#captionarea" + lastImage;
      //console.log("hiding", lastImageId);
      $(lastImageId + " .caption1").animate({left: "50px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption2").animate({left: "30px", opacity:0}, { duration: 2000 });
      $(lastImageId + " .caption3").animate({opacity:0}, { duration: 2000 });
    }

    if (nextImageId !== null) 
    {
      var nextImageId = "#captionarea" + nextImage;
      //console.log("showing", nextImageId);
      $(nextImageId + " .caption1").delay(1500).animate({ left: "0px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption2").delay(2000).animate({ left: "60px", opacity: 0.8 }, { duration: 2000 });
      $(nextImageId + " .caption3").delay(4500).animate({ opacity: 0.6 }, { duration: 2000 });
    }

    $(".action").delay(4000).animate({ opacity: 1 }, { duration: 2000 });
  }

  function adjustScroll(destination)
  {
    $('html, body').animate({
      scrollTop: $("#" + destination).offset().top
    }, 1000);
  }

  var currentImage = 0;
  var timerId;
  var videoStarted = false;

  function cycleImage()
  {
    var numWideHeroes = $(".widehero").length;

    var lastImage = currentImage;
    var nextImage = (currentImage + 1) % numWideHeroes;
    $("#fullwidth" + currentImage).fadeTo(4000, 0);
    $("#fullwidth" + nextImage).fadeTo(4000, videoStarted ? 0.3 : 1);
    currentImage = nextImage;

    showQuote(lastImage, currentImage);
  }

  $.ready()
  {
    timerId = setInterval(cycleImage, 13000);
  }
