- display = entry[:active_s] == "hide" ? "none" : "block"
.quarterslot-links.div.col-25.col-mobile-50{style: "display: #{display}"}
  %a{id: "#{entry[:id_s]}_link", href: entry[:param4_s]}
    .slotbox{style: "background-image: url(#{entry[:image_t]})"}
      .headerbox{style: "background-color: rgb(#{entry[:param2_s]}); background-color: rgba(#{entry[:param2_s]}, 0.92)"}
        .header.underscorehover
          = I18n.t(entry[:text1_s])
        .sentence
          - unless entry[:param1_s].nil_or_empty?
            = I18n.t(entry[:param1_s])
          - else
            &nbsp;
  .thelinks{style: "background-color: rgb(#{entry[:param3_s]})"}
    - entry[:links].each do |link|
      %p.linkentry
        %a.link{id: "#{link[:id_s]}_link", href: link[:param2_s]}
          = I18n.t(link[:param1_s]).gsub("#", format_integer_with_commas(fetch_hoc_metrics['started']).to_s)
