- donors_and_partners = YAML.load_file('sites.v3/code.org/views/hoc2013_donors_and_partners.yml') 

%h2 Press Kit
For all press and media inquiries, contact 
%a{src: "mailto:press@code.org"}
  press@code.org

%h2 Corporate Donors
= view :about_people, people: donors_and_partners["corporate_donors"].values

%h2 Major Donors
= view :about_people, people: donors_and_partners["major_donors"].values

%h2 Major Partners
= view :about_people, people: donors_and_partners["major_partners"].values

%h2 Promotional Partners
= view :about_people, people: donors_and_partners["promotional_partners"].values

%h2 Tutorial Partners
= view :about_people, people: donors_and_partners["tutorial_partners"].values

%h2 All Other Partners
= view :about_people, people: donors_and_partners["additional_partners"].values
