- lesson_index = 7
- video_id = ["what_is_ml", "computer_vision", "neural_networks", "ai_chatbots", "ai_creativity", "bias_and_access", "automation_and_privacy"]
-# Update cobranded videos here - T45kEEBzrT8 and gD1bEC9q54k
- video_code = ["KHbwOetbmbs", "2hXG8v8p0KM", "JrXazCEACVo", "T45kEEBzrT8", "gD1bEC9q54k", "tJQSyzBUAew", "zNxw5gJtHLc"]
- video_download_path = ["//videos.code.org/ai_series/ai-02-machine-learning.mp4", "//videos.code.org/ai_series/ai-05-computer-vision.mp4", "//videos.code.org/ai_series/ai-04-neural-networks.mp4", "//videos.code.org/ai_series/ai-chatbots.mp4", "//videos.code.org/ai_series/ai-creativity.mp4", "//videos.code.org/ai_series/ai-06-ai-ethics-access-bias.mp4", "//videos.code.org/ai_series/ai-07-ai-ethics-privacy-work.mp4"]

.action-block__wrapper.action-block__wrapper--two-col
  - lesson_index.times do |index|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          =hoc_s(:ai_curriculum_grades_01)
        %h3=hoc_s("how_ai_works_lesson_title_0#{index + 1}")
        = view :display_video_thumbnail, id: video_id[index], video_code: video_code[index], play_button: 'center', letterbox: 'false', download_path: video_download_path[index]
        %p=hoc_s("how_ai_works_lesson_desc_0#{index + 1}")
      .content-footer
        %p
          %strong=hoc_s(:module_label_duration)
          =hoc_s(:module_duration_45_mins)
        %a.link-button{href: CDO.studio_url("/s/how-ai-works-2023/lessons/#{index + 1}"), aria:{label: hoc_s("aria_label_call_to_action_how_ai_works_lesson_0#{index + 1}")}}
          = hoc_s(:call_to_action_see_lesson_details)
