%script{src: '/shared/js/url_test/url_test.js'}
:css
  #warning-banner-https {
    padding: 5px 20px;
    font-size: 28px;
    line-height: 32px;
    background-color: orange;
    text-align: center;
    color: white;
    a, a:visited {
      color: cyan;
    }
    a:hover {
      background: transparent;
    }
    p {
      padding: 7px 0;
      margin-bottom: 0;
    }
  }

#warning-banner-https{style: 'display: none;'}
  .expanded{style: 'display: none;'}
    %i.fa.fa-warning
    = I18n.t 'compatibility_https_header'
    %span#hide-warning.btn.btn-primary= I18n.t("compatibility_https_hide_this_warning")
    %p
      != I18n.t 'compatibility_https_message', https_date: Date.parse('2015/07/01'), it_requirements_url: '//code.org/educate/it'
  .collapsed{style: 'display: none; cursor: pointer; text-align: left; font-size: 10px; line-height: 10px;'}
    %i.fa.fa-warning
    = I18n.t 'compatibility_https_header'
  :javascript
    var banner = $('#warning-banner-https');
    var collapsed = banner.find(".collapsed");
    var expanded = banner.find(".expanded");
    function showWarning() {
      banner.show();
      if (document.cookie.indexOf('hide-https-warning') >= 0) {
        collapsed.show();
      } else {
        expanded.show();
      }
    }
    if(document.cookie.indexOf('https-blocked') >= 0) {
      showWarning();
    }
    banner.find("#hide-warning").click(function () {
      document.cookie = "hide-https-warning=1; path=/";
      expanded.slideUp('fast');
      collapsed.slideDown('fast');
    });
    collapsed.click(function () {
      expanded.slideDown('fast');
      collapsed.slideUp('fast');
    });
    testImageAccess("#{ CDO.code_org_url('test-image.png', 'https:') }",
      function() {},
      function () {
        $(window).load(function () { trackEvent("HTTPS Test", "blocked"); });
        showWarning();
        document.cookie = "https-blocked=1; path=/";
      }
    );
