- videos = []
- videos << { id: 'steph_curry',  code: 'NYzN0a1U8mI', text: I18n.t(:video_title_steph_curry),  duration: I18n.t(:video_2min), download: "//videos.code.org/social/athlete-steph-curry.mp4"}
- videos << { id: 'athletes', code: 'ip051U7Rvds', text: I18n.t(:sports_og_title), duration: I18n.t(:video_1min), download: '//videos.code.org/social/athletes-hour-of-code.mp4'}
- videos << { id: 'cs_changing_everything', code: 'QvyTEx1wyOY', text: I18n.t(:video_title_cs_is_everything), duration: I18n.t(:video_5min), download: '//videos.code.org/social/cs-is-everything.mp4'}
- videos << { id: 'girlpower', code: 'mFPg96gdPkc', text: I18n.t(:video_title_inspire_girl), duration: I18n.t(:video_2min), download: '//videos.code.org/social/ChangeTheWorld_v5.mp4'}
- videos << { id: 'csintro',   code: '_IiPLtP-jm8', text: I18n.t(:video_title_cs_intro), duration: I18n.t(:video_1min), download: '//videos.code.org/2015/social/hour_of_code_cs_matters.mp4'}
- videos << { id: 'dontteach', code: 'nKIu9yen5nc', text: I18n.t(:video_title_schools_dont_teach), duration: I18n.t(:video_5min), download: '//videos.code.org/social/what-most-schools-dont-teach.mp4'}
- videos << { id: 'obama',     code: '6XvmhE1J9PY', text: I18n.t(:video_title_obama), duration: I18n.t(:video_1min), download: '//videos.code.org/2015/social/president_obama_asks_america.mp4'}
- videos << { id: 'hochere',   code: 'FC5FbmsH4fw', text: I18n.t(:video_title_hoc_is_here), duration: I18n.t(:video_2min), download: '//s3.amazonaws.com/cdo-videos/HoC-video-15mb.mp4'}
- videos << { id: 'learn',     code: 'qYZF6oIZtfc', text: I18n.t(:video_title_anybody_can_learn), duration: I18n.t(:video_1min), download: '//videos.code.org/social/codeorg-60sec.mp4'}
- videos << { id: 'aracely',   code: 'rqU8eNJ-SS0', text: I18n.t(:video_title_my_name_is_aracely), duration: I18n.t(:video_3min), download: '//videos.code.org/social/my-name-is-aracely.mp4'}

- videos.each do |video|
  .col-50{style: "float:left; padding:10px"}
    - url = "https://www.youtube.com/watch?v=#{video[:code]}"
    - facebook = {u: url}
    - twitter = {url: url, related: 'codeorg', text: "#{video[:text]} (Thanks #{get_random_donor_twitter} for supporting @codeorg)"}
    =view :display_video_thumbnail, id: video[:id], video_code: video[:code], caption: "#{video[:text]} (#{video[:duration]})", play_button: 'center', facebook: facebook, twitter: twitter, download_path: video[:download]

%div{style: 'clear: both'}

.video-smalltext
  %ul
    %li= I18n.t(:videos_more, inspiring_videos_playlist: 'https://www.youtube.com/playlist?list=PLzdnOPI1iJNfpD8i4Sx7U0y2MccnrNZuP')
    %li= I18n.t(:careers_page_more, careers_url: CDO.code_org_url('/careers'))
