%script{src: "/js/raphael.js"}
%script{src: "/js/extended_us_map.js"}

%div#state-list.phone-feature
  Future drop down list of the states when users are looking at the site on mobile.
  //Would it be better here to iterate through a hash of state names and abbreviates appended to the promote url? Would it also be better to move this whole chunk to a new file?

  .nav-collapse.collapse
  %ul.nav{class:"list-unstyled"}
    %li.dropdown
      %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
        Select Your State
        %b.caret
      %ul.dropdown-menu{"role" => "menu"}
        %li
          %a{:href => "/promote/al"}
            Alabama
          %a{:href => "/promote/ak"}
            Alaska
          %a{:href => "/promote/az"}
            Arizona
          %a{:href => "/promote/ar"}
            Arkansas
          %a{:href => "/promote/ca"}
            California
          %a{:href => "/promote/co"}
            Colorado
          %a{:href => "/promote/ct"}
            Connecticut
          %a{:href => "/promote/de"}
            Delaware
          %a{:href => "/promote/fl"}
            Florida
          %a{:href => "/promote/ga"}
            Georgia
          %a{:href => "/promote/hi"}
            Hawaii
          %a{:href => "/promote/id"}
            Idaho
          %a{:href => "/promote/il"}
            Illinois
          %a{:href => "/promote/in"}
            Indiana
          %a{:href => "/promote/ia"}
            Iowa
          %a{:href => "/promote/ks"}
            Kansas
          %a{:href => "/promote/ky"}
            Kentucky
          %a{:href => "/promote/la"}
            Louisiana
          %a{:href => "/promote/me"}
            Maine
          %a{:href => "/promote/md"}
            Maryland
          %a{:href => "/promote/ma"}
            Massachusetts
          %a{:href => "/promote/mi"}
            Michigan
          %a{:href => "/promote/mn"}
            Minnesota
          %a{:href => "/promote/ms"}
            Mississippi
          %a{:href => "/promote/mo"}
            Missouri
          %a{:href => "/promote/mt"}
            Montana
          %a{:href => "/promote/ne"}
            Nebraska
          %a{:href => "/promote/nv"}
            Nevada
          %a{:href => "/promote/nh"}
            New Hampshire
          %a{:href => "/promote/nj"}
            New Jersey
          %a{:href => "/promote/nm"}
            New Mexico
          %a{:href => "/promote/ny"}
            New York
          %a{:href => "/promote/nc"}
            North Carolina
          %a{:href => "/promote/nd"}
            North Dakota
          %a{:href => "/promote/oh"}
            Ohio
          %a{:href => "/promote/ok"}
            Oklahoma
          %a{:href => "/promote/or"}
            Oregon
          %a{:href => "/promote/pa"}
            Pennsylvania
          %a{:href => "/promote/ri"}
            Rhode Island
          %a{:href => "/promote/sc"}
            South Carolina
          %a{:href => "/promote/sd"}
            South Dakota
          %a{:href => "/promote/tn"}
            Tennessee
          %a{:href => "/promote/tx"}
            Texas
          %a{:href => "/promote/ut"}
            Utah
          %a{:href => "/promote/vt"}
            Vermont
          %a{:href => "/promote/va"}
            Viriginia
          %a{:href => "/promote/wa"}
            Washington
          %a{:href => "/promote/wv"}
            West Virginia
          %a{:href => "/promote/wi"}
            Wisconsin
          %a{:href => "/promote/wy"}
            Wyoming
%div#map.tablet-feature
%div#infobox.greybox.col-33
  %p.info
    Computer science drives innovation throughout the US economy, but it remains marginalized throughout K-12 education.
  %ul
    %li
      Only
      %a{:href=>"/action", style: 'color: white; cursor: pointer; text-decoration: underline', target: '_blank'}
        %strong
          =credit_count
        states
      allow students to count computer science courses toward high school graduation.

    %li
      There are currently
      %strong
        = format_integer_with_commas(jobs_nationwide)
      open computing jobs nationwide.

    %li
      Last year, only
      %strong
        = format_integer_with_commas(grads_nationwide)
      computer science students graduated into the workforce.
  %p.info
    See a
    = succeed "." do
      %a{href: 'https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit?usp=sharing', style: 'color: white; cursor: pointer; text-decoration: underline', target: '_blank'} summary of state efforts

:javascript
  var webServiceLocation = "/promote/state/";

  $(document).ready(function() {
    if (#{use_url}) {
      // Check if the URL specifies a specific state. If so, load the state
      if (window.location.pathname.replace("/promote", "") !== "") {
        var state = window.location.pathname.replace("/promote/", "");
        $.ajax({
          url: webServiceLocation + state.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (window.history.replaceState) {
            history.replaceState({}, "", "../promote");
          }
        });
      }
    }

    // Load the SVG into the #map div
    $('#map').usmap({
      click: function(event, data) {
        if (#{use_url}) {
          // Add data and URL to browser history when the user clicks a state
          if (window.history.replaceState) {
            if (window.history.replaceState) {
              history.replaceState({state: data.name}, data.name, "../promote/" + data.name.toLowerCase());
            }
          }
        }

        // Load the clicked state's information into the infobox
        $.ajax({
          url: webServiceLocation + data.name.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (#{use_url}) {
            window.location = "/promote"
          }
        });
      },

      // Map styling
      stateHoverAnimation: 0,
      stateStyles: {fill: '#3E484F', stroke: '#7A7A7A'},
      labelBackingStyles: {fill: '#3E484F', stroke: '#7A7A7A'},
      labelBackingHoverStyles: {fill: '#DCDF8A'},
      stateHoverStyles: {fill: '#DCDF8A'},
      stateClickStyles: {fill: '#B9BF15', persistent: false}
    });

    // "Click" the current state if page is loaded with state in URL.
    if (#{use_url}) {
      if (window.location.pathname.replace("/promote", "") !== "") {
        $("#" + state.toUpperCase()).click();
      }
    }
  });

  // When the user uses the "back" button, load previous data into infobox and URL bar
  window.onpopstate = function(event) {
    if (#{use_url}) {
      $.ajax({
        url: webServiceLocation + event.state["state"].toLowerCase(),
        type: "get",
      }).done(function(data) {
        $("#infobox").html(data);
        $("#" + event.state["state"]).click();
      }).fail(function () {
        if (window.history.replaceState) {
          history.replaceState({}, "", "../promote");
        }
      });
    }
  };

:css
  #map {
    width: 700px;
    min-height: 425px;
    float: left;
    margin-right: -100px;
  }

  #infobox {
    text-align:left;
    float:right;
  }

  .info {
    font-size:18px;
  }
