%script{src: "/js/raphael.js"}
%script{src: "/js/extended_us_map.js"}

%div#state-list.phone-feature
  //Would it be better here to iterate through a hash of state names and abbreviates appended to the promote url? Would it also be better to move this whole chunk to a new file?
  .nav-collapse.collapse
  %div.nav
    %div.dropdown
      %button.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#", :style => "background-color:#7665a0; border:2px solid #7665a0; width:100%; margin-bottom: 2%; font-size:18px"}
        Select Your State
        %b.caret
      %ul.dropdown-menu{"role" => "menu", :style => "width:100%; font-size:18px; padding-left:10px;"}
        %a{:href => "/promote/al"}
          Alabama
        %br
        %a{:href => "/promote/ak"}
          Alaska
        %br
        %a{:href => "/promote/az"}
          Arizona
        %br
        %a{:href => "/promote/ar"}
          Arkansas
        %br
        %a{:href => "/promote/ca"}
          California
        %br
        %a{:href => "/promote/co"}
          Colorado
        %br
        %a{:href => "/promote/ct"}
          Connecticut
        %br
        %a{:href => "/promote/de"}
          Delaware
        %br
        %a{:href => "/promote/fl"}
          Florida
        %br
        %a{:href => "/promote/ga"}
          Georgia
        %br
        %a{:href => "/promote/hi"}
          Hawaii
        %br
        %a{:href => "/promote/id"}
          Idaho
        %br
        %a{:href => "/promote/il"}
          Illinois
        %br
        %a{:href => "/promote/in"}
          Indiana
        %br
        %a{:href => "/promote/ia"}
          Iowa
        %br
        %a{:href => "/promote/ks"}
          Kansas
        %br
        %a{:href => "/promote/ky"}
          Kentucky
        %br
        %a{:href => "/promote/la"}
          Louisiana
        %br
        %a{:href => "/promote/me"}
          Maine
        %br
        %a{:href => "/promote/md"}
          Maryland
        %br
        %a{:href => "/promote/ma"}
          Massachusetts
        %br
        %a{:href => "/promote/mi"}
          Michigan
        %br
        %a{:href => "/promote/mn"}
          Minnesota
        %br
        %a{:href => "/promote/ms"}
          Mississippi
        %br
        %a{:href => "/promote/mo"}
          Missouri
        %br
        %a{:href => "/promote/mt"}
          Montana
        %br
        %a{:href => "/promote/ne"}
          Nebraska
        %br
        %a{:href => "/promote/nv"}
          Nevada
        %br
        %a{:href => "/promote/nh"}
          New Hampshire
        %br
        %a{:href => "/promote/nj"}
          New Jersey
        %br
        %a{:href => "/promote/nm"}
          New Mexico
        %br
        %a{:href => "/promote/ny"}
          New York
        %br
        %a{:href => "/promote/nc"}
          North Carolina
        %br
        %a{:href => "/promote/nd"}
          North Dakota
        %br
        %a{:href => "/promote/oh"}
          Ohio
        %br
        %a{:href => "/promote/ok"}
          Oklahoma
        %br
        %a{:href => "/promote/or"}
          Oregon
        %br
        %a{:href => "/promote/pa"}
          Pennsylvania
        %br
        %a{:href => "/promote/ri"}
          Rhode Island
        %br
        %a{:href => "/promote/sc"}
          South Carolina
        %br
        %a{:href => "/promote/sd"}
          South Dakota
        %br
        %a{:href => "/promote/tn"}
          Tennessee
        %br
        %a{:href => "/promote/tx"}
          Texas
        %br
        %a{:href => "/promote/ut"}
          Utah
        %br
        %a{:href => "/promote/vt"}
          Vermont
        %br
        %a{:href => "/promote/va"}
          Viriginia
        %br
        %a{:href => "/promote/wa"}
          Washington
        %br
        %a{:href => "/promote/wv"}
          West Virginia
        %br
        %a{:href => "/promote/wi"}
          Wisconsin
        %br
        %a{:href => "/promote/wy"}
          Wyoming
        %br
        %a{:href => "/promote/dc"}
          Washington D.C.

%h2.tablet-feature Choose a State
%div#map.tablet-feature
%div#infobox.greybox.col-33
  %p.info
    Computer science drives innovation throughout the US economy, but it remains marginalized throughout K-12 education.
  %ul
    %li
      Only
      %a{:href=>'/action', style: 'color: white; cursor: pointer; text-decoration: underline', target: '_blank'}
        %strong
          =credit_count
        states
      allow students to count computer science courses toward high school graduation.

    %li
      There are currently
      %strong
        = format_integer_with_commas(jobs_nationwide)
      open computing jobs nationwide.

    %li
      Last year, only
      %strong
        = format_integer_with_commas(grads_nationwide)
      computer science students graduated into the workforce.
  %p.info
    See a
    = succeed "." do
      %a{href: 'https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit?usp=sharing', style: 'color: white; cursor: pointer; text-decoration: underline', target: '_blank'} summary of state efforts

:javascript
  var webServiceLocation = "/promote/state/";

  $(document).ready(function() {
    if (#{use_url}) {
      // Check if the URL specifies a specific state. If so, load the state
      if (window.location.pathname.replace("/promote", "") !== "") {
        var state = window.location.pathname.replace("/promote/", "");
        $.ajax({
          url: webServiceLocation + state.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (window.history.replaceState) {
            history.replaceState({}, "", "../promote");
          }
        });
      }
    }

    // Load the SVG into the #map div
    $('#map').usmap({
      click: function(event, data) {
        if (#{use_url}) {
          // Add data and URL to browser history when the user clicks a state
          if (window.history.replaceState) {
            if (window.history.replaceState) {
              history.replaceState({state: data.name}, data.name, "../promote/" + data.name.toLowerCase());
            }
          }
        }

        // Load the clicked state's information into the infobox
        $.ajax({
          url: webServiceLocation + data.name.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (#{use_url}) {
            window.location = "/promote"
          }
        });
      },

      // Map styling
      stateHoverAnimation: 0,
      stateStyles: {fill: '#3E484F', stroke: '#7A7A7A'},
      labelBackingStyles: {fill: '#3E484F', stroke: '#7A7A7A'},
      labelBackingHoverStyles: {fill: '#DCDF8A'},
      stateHoverStyles: {fill: '#DCDF8A'},
      stateClickStyles: {fill: '#B9BF15', persistent: false}
    });

    // "Click" the current state if page is loaded with state in URL.
    if (#{use_url}) {
      if (window.location.pathname.replace("/promote", "") !== "") {
        $("#" + state.toUpperCase()).click();
      }
    }
  });

  // When the user uses the "back" button, load previous data into infobox and URL bar
  window.onpopstate = function(event) {
    if (#{use_url}) {
      $.ajax({
        url: webServiceLocation + event.state["state"].toLowerCase(),
        type: "get",
      }).done(function(data) {
        $("#infobox").html(data);
        $("#" + event.state["state"]).click();
      }).fail(function () {
        if (window.history.replaceState) {
          history.replaceState({}, "", "../promote");
        }
      });
    }
  };

:css
  #map {
    width: 700px;
    min-height: 425px;
    float: left;
    margin-right: -100px;
  }

  #infobox {
    text-align:left;
    float:right;
  }

  .info {
    font-size:18px;
  }
