%script{src: "/js/raphael.js"}
%script{src: "/js/extended_us_map.js"}

- require 'state_abbr'

- advocacy_variation ||= false
- fill_color = advocacy_variation ? '#0094ca' : '#3E484F'
- stroke_color = advocacy_variation ? 'white' : '#7A7A7A'

#state-list.phone-feature
  - if advocacy_variation
    %h2 Choose your State
  - else
    %h2 Choose a State

  %form
    %select.dropdown#state-dropdown
      %option
      -STATE_ABBR_WITH_DC_HASH.each do |abbr, state|
        %option{value:abbr}= state

- if advocacy_variation
  %h2.tablet-feature Choose your State
- else
  %h2.tablet-feature Choose a State

#map.tablet-feature
#infobox.greybox.col-33
  %p.info
    Computer science drives innovation throughout the US economy, but it remains marginalized throughout K-12 education.
  %ul
    %li.states-link
      Only
      = succeed " allow students to count computer science courses toward high school graduation." do
        %strong= credit_count
        states
    %li
      There are currently
      %strong
        = format_integer_with_commas(jobs_nationwide)
      open computing jobs nationwide.

    %li
      Last year, only
      %strong
        = format_integer_with_commas(grads_nationwide)
      computer science students graduated into the workforce.
  %p.info
    See a
    = succeed "." do
      %a{href: 'https://docs.google.com/document/d/1J3TbEQt3SmIWuha7ooBPvlWpiK-pNVIV5uuQEzNzdkE/edit?usp=sharing', target: '_blank'} summary of state efforts

:javascript
  var webServiceLocation = '/promote/state/';

  $(document).ready(function() {
    if (#{use_url}) {
      // Check if the URL specifies a specific state. If so, load the state
      if (window.location.pathname.replace("/promote", "") !== "") {
        var state = window.location.pathname.replace("/promote/", "");
        $.ajax({
          url: webServiceLocation + state.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (window.history.replaceState) {
            history.replaceState({}, "", "../promote");
          }
        });
      }
    }

    $("#state-dropdown").change(
        function(){

          var abbr = $('#state-dropdown option:selected').val();
          console.log(abbr)
          if (abbr != '') {          // Load the selected state's information into the infobox
            $.ajax({
              url: webServiceLocation + abbr.toLowerCase(),
              type: "get",
            }).done(function(data) {
              $("#infobox").html(data);
            }).fail(function () {
              if (#{use_url}) {
                window.location = "/promote"
              }
            });
          }
        }
      )

    // Load the SVG into the #map div
    $('#map').usmap({
      click: function(event, data) {
        if (#{use_url}) {
          // Add data and URL to browser history when the user clicks a state
          if (window.history.replaceState) {
            if (window.history.replaceState) {
              history.replaceState({state: data.name}, data.name, "../promote/" + data.name.toLowerCase());
            }
          }
        }

        // Load the clicked state's information into the infobox
        $.ajax({
          url: webServiceLocation + data.name.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (#{use_url}) {
            window.location = "/promote"
          }
        });
      },

      // Map styling
      stateHoverAnimation: 0,
      stateStyles: {fill: "#{fill_color}", stroke: "#{stroke_color}"},
      labelBackingStyles: {fill: "#{fill_color}", stroke: "#{stroke_color}"},
      labelBackingHoverStyles: {fill: '#DCDF8A'},
      stateHoverStyles: {fill: '#DCDF8A'},
      stateClickStyles: {fill: '#B9BF15', persistent: false}
    });

    // "Click" the current state if page is loaded with state in URL.
    if (#{use_url}) {
      if (window.location.pathname.replace("/promote", "") !== "") {
        $("#" + state.toUpperCase()).click();
      }
    }
  });

  // When the user uses the "back" button, load previous data into infobox and URL bar
  window.onpopstate = function(event) {
    if (#{use_url}) {
      $.ajax({
        url: webServiceLocation + event.state["state"].toLowerCase(),
        type: "get",
      }).done(function(data) {
        $("#infobox").html(data);
        $("#" + event.state["state"]).click();
      }).fail(function () {
        if (window.history.replaceState) {
          history.replaceState({}, "", "../promote");
        }
      });
    }
  };
