- require 'state_abbr'

- advocacy_variation ||= false
- fill_color = '#0094a3'
- stroke_color = 'white'
- hover_color = '#59cad3'
- click_color = '#ffa400'

#state-list.phone-feature
  - if advocacy_variation
    %h2 See what’s happening in your state
  - else
    %h1 Choose a State

  %form
    %select.dropdown#state-dropdown
      %option
      -STATE_ABBR_WITH_DC_HASH.each do |abbr, state|
        %option{value:abbr}= state

#map.tablet-feature
#map-right.col-33
  #infobox
    %p.info
      Computer science drives innovation throughout the US economy, but it still isn't a core part of our education system.

    %strong= hs_access_count
    states have adopted a policy to give all high school students access to CS courses (and of those, only
    = k12_access_count
    states give all K-12 students access)

    %strong= format_integer_with_commas(jobs_nationwide)
    Open computing jobs nationwide

    %strong=number_to_percentage(51, precision: 0)
    of public high schools offer a CS class

    %strong
      = format_integer_with_commas(grads_nationwide)
    Computer science students graduated into the workforce last year

    .summary-button
      %a.link-button{href: 'https://advocacy.code.org/stateofcs/', target: '_blank'}
        See a summary of state efforts

  %p#sources
    %span
      Sources:
    %a{href: "http://www.conference-board.org/", target: '_blank'} The Conference Board
    and
    =succeed "." do
      %a{href: "http://nces.ed.gov/", target: '_blank'} National Center for Education Statistics
    =succeed "." do
      %a{href: "https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub", target: '_blank'} More info

:javascript
  var useUrl = #{ use_url };
  var fillColor = "#{fill_color}";
  var strokeColor = "#{stroke_color}";
  var hoverColor = "#{hover_color}";
  var clickColor = "#{click_color}";

%script{src: "/js/raphael.js"}
%script{src: "/js/extended_us_map.js"}
