%script{src: "/js/raphael.js"}
%script{src: "/js/extended_us_map.js"}

%div#map
%div#infobox.greybox
  %p.info
    Computer science drives innovation throughout the US economy, but it remains marginalized throughout K-12 education.
  %p.info
    Only
    %strong
      =credit_count
    states allow students to count computer science courses toward high school graduation.
  %p.info
    There are currently
    %strong
      = format_integer_with_commas(jobs_nationwide)
    open computing jobs nationwide.
  %p.info
    Last year, only
    %strong
      = format_integer_with_commas(grads_nationwide)
    computer science students graduated into the workforce.

:javascript
  var webServiceLocation = "/promote/state/";

  $(document).ready(function() {
    if (#{use_url}) {
      // Check if the URL specifies a specific state. If so, load the state
      if (window.location.pathname.replace("/promote", "") !== "") {
        var state = window.location.pathname.replace("/promote/", "");
        $.ajax({
          url: webServiceLocation + state.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (window.history.replaceState) {
            history.replaceState({}, "", "../promote");
          }
        });
      }
    }

    // Load the SVG into the #map div
    $('#map').usmap({
      click: function(event, data) {
        if (#{use_url}) {
          // Add data and URL to browser history when the user clicks a state
          if (window.history.replaceState) {
            if (window.history.replaceState) {
              history.replaceState({state: data.name}, data.name, "../promote/" + data.name.toLowerCase());
            }
          }
        }

        // Load the clicked state's information into the infobox
        $.ajax({
          url: webServiceLocation + data.name.toLowerCase(),
          type: "get",
        }).done(function(data) {
          $("#infobox").html(data);
        }).fail(function () {
          if (#{use_url}) {
            window.location = "/promote"
          }
        });
      },

      // Map styling
      stateHoverAnimation: 0,
      stateStyles: {fill: '#3E484F', stroke: '#7A7A7A'},
      labelBackingStyles: {fill: '#3E484F', stroke: '#7A7A7A'},
      labelBackingHoverStyles: {fill: '#DCDF8A'},
      stateHoverStyles: {fill: '#DCDF8A'},
      stateClickStyles: {fill: '#B9BF15', persistent: false}
    });

    // "Click" the current state if page is loaded with state in URL.
    if (#{use_url}) {
      if (window.location.pathname.replace("/promote", "") !== "") {
        $("#" + state.toUpperCase()).click();
      }
    }
  });

  // When the user uses the "back" button, load previous data into infobox and URL bar
  window.onpopstate = function(event) {
    if (#{use_url}) {
      $.ajax({
        url: webServiceLocation + event.state["state"].toLowerCase(),
        type: "get",
      }).done(function(data) {
        $("#infobox").html(data);
        $("#" + event.state["state"]).click();
      }).fail(function () {
        if (window.history.replaceState) {
          history.replaceState({}, "", "../promote");
        }
      });
    }
  };

:css
  #map {
  width: 56%;
  min-height: 350px;
  float: left;
  margin-top: 25px
  }

  #infobox {
    width: 44%;
    text-align:left;
    float:left
  }

  .info {
    font-size:18px;
  }
