- short_code = I18n.t(:"#{id}_shortcode")
- short_url = "https://hourofcode.com/#{short_code}"
- show_sw_blocks = id == "starwars" && (request.locale != "en-US" || mobile?)
- if show_sw_blocks
  - launch_code = "starwarsblocks"
- else
  - launch_code = id

.container-fluid
  .row-fluid
    .courseblock-tall
      %a{href: "http://studio.code.org/s/#{id}/reset"}
        .imgspan
          %img{src: "/shared/images/courses/logo_tall_#{id}.jpg", style: "width: 100%;"}
        .clear
        .heading
          %h4{style: "font-size: 18px;"}= I18n.t(:"#{id}_name")
        .clear
        .smalltext
          = I18n.t(:"#{id}_shortdescription")
          = "(" + I18n.t(:"#{id}_gradelevel") + ")"
      #bottomalign{style: "bottom: 0; width: 100%; position: absolute; margin-bottom: 10px;"}
        #quicklinks.smalltext{style: "float: left; display: inline-block; width: 200px;"}
          %br
          %a{href: "/hourofcode/#{id}"}
            = I18n.t(:teachers_notes)
          %a{href: short_url, style: "font-family: 'Gotham 4r', sans-serif;"}
            = short_url
        #gobutton{style: "position: relative;"}
          %a{href:  "/api/hour/begin/#{launch_code}", target: "_blank"}
            %button{style: "float: right; margin: 15px 10px 0 0;"}= I18n.t(:go)
