-check_language ||= nil
-international_layout ||= nil
-subheading ||= nil
-company = request.GET['company']
-if check_language
  -items = tutorials.find_with_tag_and_language(tag, request.locale)
-else
  -items = tutorials.find_with_tag(tag)
-if items.count > 0

  .learnpage{:style=>'position:relative'}

    .carousel-wrapper
      .carousel.course-carousel.fullwidth-carousel{id: id}
        .slides

          -count = 0
          -items.each_pair do |key, tutorial|
            -tags = I18n.t("#{tutorial[:code]}_gradelevel") + ' | ' + I18n.t("#{tutorial[:code]}_platformtext")
            -url = tutorials.launch_url_for(key,request.host_with_port)
            -url = url + "?company=#{company}" if company
            -short_url = ('http://hourofcode.com/' + tutorial[:short_code]) unless tutorial[:short_code].nil_or_empty?
            .slide.clear{:style=>"background-color:white;"}
              .slide-img<
                %a{:href=>url, :target=>'_blank'}<
                  %img{:src=>tutorial[:image].sub("/images/", "/images/fit-520/").sub(".png", ".jpg")}
              .slide-text{style: "background-image: url(#{second_panel_image}); background-color:#437174; background-size: cover"}
                %a{:href=>url, :target=>'_blank'}<
                  %h2=I18n.t "#{tutorial[:code]}_name"
                %h3= tutorial[:orgname]
                %p.slide-longdescription=I18n.t "#{tutorial[:code]}_longdescription"
                %p.slide-shortdescription=I18n.t "#{tutorial[:code]}_shortdescription"
                .slide-tags= tags
                .slide-participants-count<
                  %b{:class=>"participants_string_#{key}", :style=>'display: none'}
                    %span{:class=>"participants_value_#{key}"}
                      3
                    = I18n.t(:participants)
                -unless short_url.nil_or_empty?
                  .slide-shorturl-link
                    %a{:href=>url, :target=>'_blank'}
                      -if tutorial[:short_code] == 'mchoc'
                        ="http://code.com/mc"
                      -else
                        =short_url
                -unless tutorial[:teachers_notes].nil_or_empty?
                  .slide-teachers-notes-link{style: "font-weight: 500; font-size: 12px; margin-top: 20px; padding-right: 0px;"}<
                    %a{:href=>tutorial[:teachers_notes], :target=>'blank'}<
                      = I18n.t(:teachers_notes_hoc)
                %a{:href=>url, :target=>'_blank'}<
                  .btn-carousel-slide=I18n.t(:go)

            -count += 1

        %a.slide-prev{:href=>'#'}<
          %span<
            %span.label= I18n.t(:previous)
        %a.slide-next{:href=>'#'}<
          %span<
            %span.label= I18n.t(:next)
      .pagination
        %div{:id => "pagination-#{id}"}
