#teacher-banner
  .learn-teacher-header
    %h2= I18n.t(:learn_educator_resources_button)
  .learn-signup-button
    %a{:href=>'https://hourofcode.com'}
      %button= I18n.t(:csedweek_map_signup)
  %div{style: "clear:both"}
  .learn-hoc-banner
    .banner-character
      .character-img
    .banner-content
      %ul
        %li= I18n.t(:learn_find_volunteer)
        %li= I18n.t(:learn_how_to_hoc)
        %li= I18n.t(:learn_hoc_prizes)
        %li= I18n.t(:learn_inspirational_videos)
%br
