:ruby
  page_mode = PageMode.get(request)
  if page_mode == "feature-starwars"
    first_tutorial = "starwars"
    second_tutorial = "mc"
  else
    first_tutorial = "mc"
    second_tutorial = "starwars"
  end
  if request.locale != "en-US"
    launch_path = "/api/hour/begin/starwarsblocks"
  else
    launch_path = "/starwars"
  end
  if request.GET['company']
    company = URI.escape(request.GET['company'])
    response.set_cookie('company', {value: company, domain: ".code.org", path: '/', expires: Time.now + (365 * 24 * 3600)})
  end

#learnCodeStudio.container.col-md-12{style: "margin-top: 20px;"}
  #codeStudioCarousel.carousel.slide.multi-item-carousel
    .carousel-inner
      .item.active
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: first_tutorial
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: second_tutorial
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: "frozen"
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: "hourofcode"
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: "flappy"
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: "infinity"
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: "playlab"
      .item
        .col-md-4.col-sm-6.col-xs-12
          = view :learn_carousel_block, id: "artist"
    %a.left.carousel-control{href: "#codeStudioCarousel", "data-slide" => "prev"}
      %i.fa.fa-3x.fa-caret-left
    %a.right.carousel-control{href: "#codeStudioCarousel", "data-slide" => "next"}
      %i.fa.fa-3x.fa-caret-right

.clear

%script{:src=>'/js/jquery.touchSwipe.min.js'}

:javascript
  $(document).ready()
  {
    if ("#{request.locale}" != "en-US") {
      $("#codeStudioCarousel").removeClass('slide');
    }

    $("#codeStudioCarousel").swipe( {
      swipeLeft: function() {
        $(this).parent().carousel('next');
      },
      swipeRight: function() {
        $(this).parent().carousel('prev');
      },
      excludedElements: "button, .noSwipe",
      threshold: 25
    });
  }

  $('#codeStudioCarousel').carousel({
    interval: false
  })

  // Populates the Code Studio carousel to have
  // multiple items per slide
  $('.multi-item-carousel .item').each(function() {
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    if (next.next().length > 0) {
      next.next().children(':first-child').clone().appendTo($(this));
    } else {
      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
    }
  });

  // If mobile Star Wars block go to blockly version
  if (window.mobilecheck()) {
    $('#miniblock-starwars a').attr("href", "/api/hour/begin/starwarsblocks");
    $('#gobutton-starwars a').attr("href", "/api/hour/begin/starwarsblocks");
  }
