%a{:href=>"#{url}", :target=>"#{target}"}
  %div.outerblock{:style=>"float: left;"}
    %div.innerblock{:style=>"float: left;"}
      %img{:src=>"#{img_src}", :style=>"width: 100%;"}
      %div.title
        #{title}
      %div.body
        #{text}

:css
  .title {
    padding: 10px;
    font-size: 22px;
    font-family: 'Gotham 5r', sans-serif;
    text-align: center;
    color: #7665a0; // $purple
  }
  .innerblock {
    background-color: #e7e8ea; // $lightest_gray
  }

  a:hover .title {
    color: #5b6770; // $ charcoal
  }

  a:hover .innerblock {
    background-color: rgba(165, 173, 178, 0.1);
  }
