:ruby
  villages_image = "/images/mc/fit-720x620/mc_mee_half_villages.jpg"
  villages_title = I18n.t(:hoc2021_mc_mee_villages_title)
  villages_description = I18n.t(:hoc2021_mc_mee_villages_description)
  villages_link = "https://aka.ms/hourofcode2020"

  ai_image = "/images/mc/fit-720x620/mc_mee_half_ai.jpg"
  ai_title = I18n.t(:hoc2021_mc_mee_ai_title)
  ai_description = I18n.t(:hoc2021_mc_mee_ai_description)
  ai_link = "https://education.minecraft.net/hour-of-code-2019"

  link_text = I18n.t(:hoc2018_mc_educators_box1_button)

.mc-container
  .mc-tutorials
    .tutorial-box.desktop-margin-right
      .img-container
        %img.mc-img-half{src: villages_image}
      .mc-tutorial-info
        .mc-tutorial-details
          %h2.mc-h1-half-box= villages_title
          %p.mc-tutorial-description= villages_description
          %a{href: villages_link, target: '_blank'}
            %button.primary.padded-button= link_text

    .tutorial-box
      .img-container
        %img.mc-img-half{src: ai_image}
      .mc-tutorial-info
        .mc-tutorial-details
          %h2.mc-h1-half-box= ai_title
          %p.mc-tutorial-description= ai_description
          %a{href: ai_link, target: '_blank'}
            %button.primary.padded-button= link_text

%div{style: "clear: both; margin-bottom: 40px;"}
