%link{href: "/css/minecraft2018.css", rel: "stylesheet"}

:ruby
  tutorial = {
    heading:  I18n.t(:hoc2018_mc_educators),
    background_image: "/images/fill-1940x700/mc/minecraft_teacher_background.jpg",
    left_heading:  I18n.t(:hoc2018_mc_educators_box2_title),
    left_description: I18n.t(:hoc2018_mc_educators_box2_desc),
    left_button_link: '/minecraft/facilitator',
    left_button_text: I18n.t(:hoc2018_mc_educators_box2_button),
    right_heading: I18n.t(:hoc2018_mc_educators_box1_title),
    right_description: I18n.t(:hoc2018_mc_educators_box1_desc),
    right_button_link: "https://aka.ms/hoc2018",
    right_button_text: I18n.t(:hoc2018_mc_educators_box1_button),
    id_for_mobile_image: "minecraft-mobile-image",
  }


%h1.responsive-padding= I18n.t(:minecraft_tutorials)
%p.responsive-padding= I18n.t(:minecraft_specs)
%div{style: "clear:both"}
.mc-container
  .mc-tutorials
    .tutorial-box{style: "margin-bottom: 14px;"}
      .img-container.img-container-wide
        %img.mc-img-wide{src: '/images/mc/fit-1940x620/mc_landing_2018.jpg'}
        %img.mc-img.mc-img-narrow{src: '/images/mc/fill-310x310/mc_landing_2018.jpg'}
        .mc-tutorial-info.mc-tutorial-info-wide
          .mc-tutorial-details
            %h2.mc-h1-second-box
              = hoc_s(:hoc2018_minecraft_aquatic_title1)
              %br/
              = hoc_s(:hoc2018_minecraft_aquatic_title2)
            %p.mc-tutorial-description= I18n.t(:hoc2018_mc_short_description_shorter)
            %a{href: CDO.studio_url('/s/aquatic/reset')}
              %button.primary= I18n.t(:minecraft_agent_button)
        %img.mc-new-tag{src: '/images/mc/new_tag.png'}
    .tutorial-box{style: "margin-right: 14px;"}
      .img-container
        %img.mc-img{src: '/images/mc/mc_landing_2015_square.png'}
      .mc-tutorial-info
        .mc-tutorial-details
          %h2.mc-h1-second-box= I18n.t(:minecraft_adventurer)
          %p.mc-tutorial-description= I18n.t(:minecraft_adventurer_description)
          %a{href: CDO.studio_url('/s/mc/reset')}
            %button.primary.padded-button= I18n.t(:minecraft_adventurer_button)
    .tutorial-box{style: "margin-right: 14px;"}
      .img-container
        %img.mc-img{src: '/images/mc/mc_landing_2016_square.jpg'}
      .mc-tutorial-info
        .mc-tutorial-details
          %h2.mc-h1-second-box= I18n.t(:minecraft_designer)
          %p.mc-tutorial-description= I18n.t(:minecraft_designer_description)
          %a{href: CDO.studio_url('/s/minecraft/reset'), target: '_blank'}
            %button.primary= I18n.t(:minecraft_designer_button)
    .tutorial-box
      .img-container
        %img.mc-img{src: '/images/mc/mc_landing_2017_square.jpg'}
      .mc-tutorial-info
        .mc-tutorial-details
          %h2.mc-h1-second-box= I18n.t(:minecraft_agent)
          %p.mc-tutorial-description= I18n.t(:hoc2018_mc_journey)
          %a{href: CDO.studio_url('/s/hero/reset'), target: '_blank'}
            %button.primary= I18n.t(:minecraft_agent_button)

.clear
%h2.mc-header2.responsive-padding
  =I18n.t(:minecraft_no_internet)
  %a{href: CDO.studio_url("/download/mc")}= I18n.t(:minecraft_download_adventurer)

.microsoft-partnership
  = hoc_s(:hoc2018_minecraft_with_microsoft)
  &nbsp;
  %img{src: "images/fit-240/avatars/microsoft.jpg"}

.microsoft-thanks
  = hoc_s(:hoc2018_minecraft_thank_microsoft)

%div{style: "clear: both; margin-top: 45px;"}

= view :tutorial_promo, tutorial: tutorial

%div{style: "clear:both; margin-top: 45px;"}

%link{href: "/css/tools.css", rel: "stylesheet"}

.tile-container-responsive{style: "padding: 5px"}
  .col-50
    .tutorial-tile
      %a{href: "https://www.microsoft.com/youthsparkprograms", target: '_blank'}
        %img.tutorial-tile-img{src: CDO.code_org_url("/images/fill-485x260/mc/minecraft_teacher_small1.jpg")}
      .tutorial-info
        %h3{style: "margin-top: 0px;"}= I18n.t(:hoc2018_mc_educators_box3_title)
        .smalltext= I18n.t(:hoc2018_mc_educators_box3_desc)
        %a{href: "https://www.microsoft.com/youthsparkprograms", target: '_blank'}
          %button.tutorial-info-start.tutorial-gray= I18n.t(:hoc2018_mc_educators_box3_button)
        .clear

  .col-50
    .tutorial-tile
      %a{href: "https://www.microsoft.com/digitalskills", target: '_blank'}
        %img.tutorial-tile-img{src: CDO.code_org_url("/images/fill-485x260/mc/minecraft_teacher_small2.jpg")}
      .tutorial-info
        %h3{style: "margin-top: 0px;"}= I18n.t(:hoc2018_mc_educators_box4_title)
        .smalltext= I18n.t(:hoc2018_mc_educators_box4_desc)
        %a{href: "https://www.microsoft.com/digitalskills", target: '_blank'}
          %button.tutorial-info-start.tutorial-gray= I18n.t(:hoc2018_mc_educators_box4_button)
        .clear
