:ruby
  block_item = [
    {
      overline: hoc_s(:module_subject_math),
      title: hoc_s(:module_name_coding_geometric_star_quilt),
      video_id: "star_quilts",
      video_code: "XtbUUMbqeSY",
      desc: hoc_s(:module_desc_coding_geometric_star_quilt),
      grades: hoc_s(:module_grade_3_8),
      duration: hoc_s(:module_duration_week),
      url_primary: CDO.studio_url("/s/csc-starquilts?viewAs=Instructor"),
      url_secondary: CDO.studio_url("/s/self-paced-pl-csc-2023"),
      aria_label_primary: hoc_s(:naipi_page_module_quilts_aria_primary),
      aria_label_secondary: hoc_s(:naipi_page_module_quilts_aria_secondary),
    },
    {
      overline: hoc_s(:module_subject_english_language_arts),
      title: hoc_s(:module_name_coding_w_poetry),
      video_id: "poetry",
      video_code: "vT9imQY8Dsc",
      desc: hoc_s(:module_desc_coding_w_poetry),
      grades: hoc_s(:module_grade_3_8),
      duration: hoc_s(:module_duration_week),
      url_primary: CDO.studio_url("/s/poetry?viewAs=Instructor"),
      url_secondary: CDO.studio_url("/s/self-paced-pl-csc-2023"),
      aria_label_primary: hoc_s(:naipi_page_module_poetry_aria_primary),
      aria_label_secondary: hoc_s(:naipi_page_module_poetry_aria_secondary),
    },
  ]

.action-block__wrapper.action-block__wrapper--two-col
  - block_item.each do |block_item|
    .action-block.white.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          = block_item[:overline]
        %h3
          = block_item[:title]
        = view :display_video_thumbnail, id: block_item[:video_id], video_code: block_item[:video_code], play_button: 'center', letterbox: 'false'
        %p
          = block_item[:desc]
        %p.no-margin-bottom
          %strong=hoc_s(:module_label_grades)
          = block_item[:grades]
        %p
          %strong=hoc_s(:module_label_duration)
          = block_item[:duration]
      .content-footer
        %a.link-button{href: block_item[:url_primary], aria:{label: block_item[:aria_label_primary]}}
          =hoc_s(:call_to_action_see_module_details)
        %a.link-button.secondary{href: block_item[:url_secondary], aria:{label: block_item[:aria_label_secondary]}}
          =hoc_s(:call_to_action_self_paced_pl)
