-# When this DCDO flag is set to 'true' it shows the off-season version
-# of code.org/educate/professional-learning/middle-high
- off_season_version = !!DCDO.get('pl-teacher-application', false)

:ruby

  item_index = 3

  item_overline = [hoc_s(:module_level_beginner), hoc_s(:module_level_beginner), hoc_s(:module_level_intermediate)]

  item_heading = [hoc_s(:curriculum_name_csd), hoc_s(:curriculum_name_csp), hoc_s(:curriculum_name_csa)]

  video_id = ["intro_csd", "intro_csp", "intro_csa"]

  video_code = ["uQim0hBHco0", "DMr1iFYacGQ", "lFkFi2jGs70"]

  video_download_path = [
    "//videos.code.org/curriculum_videos/curriculum_video_csd.mp4",
    "//videos.code.org/curriculum_videos/curriculum_video_csp.mp4",
    "//videos.code.org/curriculum_videos/curriculum_video_csa.mp4"
  ]

  list_01 = [
    hoc_s(:pl_middle_high_programs_no_experience_req),
    hoc_s(:pl_middle_high_programs_no_experience_req),
    hoc_s(:pl_middle_high_programs_some_experience_req)
  ]

  list_03 = [
    hoc_s(:pl_middle_high_programs_csd_hours),
    hoc_s(:pl_middle_high_programs_csp_hours),
    hoc_s(:pl_middle_high_programs_csa_hours)
  ]

  aria_label_primary = [hoc_s(:aria_label_call_to_action_pl_apply_csd), hoc_s(:aria_label_call_to_action_pl_apply_csp), hoc_s(:aria_label_call_to_action_pl_apply_csa)]

  aria_label_secondary = [hoc_s(:aria_label_call_to_action_learn_more_csd), hoc_s(:aria_label_call_to_action_learn_more_csp), hoc_s(:aria_label_call_to_action_learn_more_csa)]

  button_url_secondary = ["/csd", "/csp", "/csa"]

.action-block__wrapper.action-block__wrapper--three-col{style: "margin-top: 2em"}
  - item_index.times do |index|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          = item_overline[index]
        %h3
          = item_heading[index]
        = view :display_video_thumbnail, id: video_id[index], video_code: video_code[index], play_button: 'center', letterbox: 'false', download_path: video_download_path[index]
        %p.no-margin-bottom
          %strong=hoc_s(:module_label_teacher_requirements)
        %ul
          %li
            = list_01[index]
          %li
            =hoc_s(:pl_middle_high_programs_based_in_us)
          %li
            = list_03[index]
          - if index === 1 || index === 2
            %li
              =hoc_s(:pl_middle_high_programs_teach_ap_course)

      .content-footer
        - if off_season_version
          %a.link-button{href: "#subscribe-form"}
            =hoc_s(:call_to_action_notify_me_when_i_can_apply)
        - else
          %a.link-button{href: "/educate/professional-learning/program-information", aria:{label: aria_label_primary[index]}}
            =hoc_s(:call_to_action_apply_now)
          %a.link-button.secondary{href: button_url_secondary[index], aria:{label: aria_label_secondary[index]}}
            =hoc_s(:call_to_action_learn_more)
