- if request.locale == "en-US"
  = inline_css 'professional_learning_marketing_banner.css'
  - header_text = 'Help students become superheroes!'
  - text = "Our Professional Learning program helps #{audience_text} teach computer science!"

  .homepage-professional-learning-banner
    %a.linktag#pl-2019{href: link_address}
      .homepage-pd-banner-desktop.col-80.desktop-feature
        .banner
          %img{src: "/images/homepage/superhero-banner.png"}
        .left.col-80.animateSlideInFromLeft
          .header= header_text
          .text= text
        .right.col-20
          %button
            #{button_label}
      .homepage-pd-banner-tablet.col-80.tablet-restrictive-feature
        .banner
          %img{src: "/images/homepage/superhero-banner-half.png"}
          .text-button-wrapper
            .header= header_text
            .text= text
            %button
              #{button_label}
      .homepage-pd-banner-phone.phone-feature
        .text-button-wrapper
          .header= header_text
          .text= text
          %button
            #{button_label}

    .clear
