-data = DB[:cdo_state_promote].where(state_code_s:state).first
-pass if data.nil?
-statename = us_state_name_from_code(state)
-petition_url = data[:petition_url_t]
%script{type: "text/javascript", src: "/shared/js/helpers.js"}
%p#state-title
  #{statename}
%p.fact{style: "margin-bottom: 0px"}
  -unless data[:cs_jobs_i] == 0
    %strong.figure
      =format_integer_with_commas(data[:cs_jobs_i])
    open computing jobs
-unless data[:growth_vs_average_f] < 0.0
  %p.fact{style: "color: #ddd"}
    (<b>#{data[:growth_vs_average_f]}x</b> the state average demand rate)
%p.fact
  -unless data[:cs_graduates] == 0
    %strong.figure
      =format_integer_with_commas(data[:cs_graduates_i])
    computer science graduates

%div.fact{style: "margin-left:20px;"}
  - if data[:cs_counts_t] == "No"
    %i.fa.fa-times-circle
    &nbsp;
    CS doesn't count as math or science credit
  - elsif data[:cs_counts_t] == "Yes"
    %i.fa.fa-check-circle
    &nbsp;
    CS counts as math or science credit
  %br

  - if data[:cs_teacher_cert_s] == "No"
    %i.fa.fa-times-circle
    &nbsp;
    No clear CS teacher certification pathways
  - elsif data[:cs_teacher_cert_s] == "Yes"
    %i.fa.fa-check-circle
    &nbsp;
    Clear certification pathways for CS teachers
  %br

  - if data[:cs_standards_s] == "No"
    %i.fa.fa-times-circle
    &nbsp;
    No CS K-12 curriculum standards
  - elsif data[:cs_standards_s] == "Yes"
    %i.fa.fa-check-circle
    &nbsp;
    CS K-12 curriculum standards

-if ! state.nil_or_empty? && File.exists?(pegasus_dir("sites.v3/code.org/public/files/states/#{state}.pdf"))
  %div.download-fact-sheet<
    %a{href: "/advocacy/state-facts/#{state}.pdf", target: '_blank'}<
      Download #{statename} fact-sheet
      %img{:src=>"/images/download.png", width: "35px", style: 'margin-top:-5px'}

-if data[:text_t]
  %p
    =data[:text_t]
%p
  %button{onclick: "return adjustScroll('tools-section')"}
    Take action

  -if data[:action_text_s] && data[:action_url_s]
    %a{href: data[:action_url_s], target: '_blank'}
      %button{class: 'state-petition-btn'}
        = data[:action_text_s]
  - else
    %a{href: data[:action_url_s], target: '_blank'}
      %button{class: 'state-petition-btn', style: 'visibility: hidden'}
        Sign petition

%p#sources
  %span
    Sources:
  =succeed "," do
    %a{href: "http://www.conference-board.org/", style: "color: #BCC2C6", target: '_blank'} The Conference Board
  =succeed "," do
    %a{href: "http://www.nsf.gov/", style: "color: #BCC2C6", target: '_blank'} National Science Foundation
  =succeed "." do
    %a{href: "http://code.org/learn/local", style: "color:#BCC2C6", target: '_blank'} Code.org database
  =succeed "." do
    %a{href: "https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub", style: "color: #BCC2C6", target: '_blank'} More info

:css
  #state-title {
    color: rgb(185,191,21);
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
    font-size:36px;
    line-height: 36px;
    font-weight: bold;
    text-align:center;
  }
  .fact {
    font-size:15px;
  }
  .figure {
    font-size:20px;
  }
  #sources {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    opacity: 0.8;
    color: #BCC2C6;
  }
