-# Can only be used on rebranded pages that use the
-# "design-system-pegasus.scss" stylesheet.

%h2=hoc_s(:resources_tabs_heading)
%p.desc
  =hoc_s(:resources_tabs_desc, markdown: :inline, locals: {sign_up_url: CDO.studio_url("/users/sign_up")})

-# Shows tabs UI on desktop
.resources-tabs.show-desktop
  -# Tabs nav
  %nav.flex-container.justify-space-between
    %button.tab.active{"data-content": "#lesson-plans"}
      =hoc_s(:resources_tabs_tab_label_lesson_plans)
    %button.tab{"data-content": "#videos"}
      =hoc_s(:resources_tabs_tab_label_videos)
    %button.tab{"data-content": "#slides"}
      =hoc_s(:resources_tabs_tab_label_slides)
    %button.tab{"data-content": "#assessments"}
      =hoc_s(:resources_tabs_tab_label_assessments)
    %button.tab{"data-content": "#tools"}
      =hoc_s(:resources_tabs_tab_label_tools)
  -# Tabs content
  %div#lesson-plans.content.show
    = view :resources_tabs_content_lesson_plans
  %div#videos.content
    = view :resources_tabs_content_videos
  %div#slides.content
    = view :resources_tabs_content_slides
  %div#assessments.content
    = view :resources_tabs_content_assessments
  %div#tools.content
    = view :resources_tabs_content_tools

-# Shows accordion UI on smaller screens
.resources-tabs.show-tablet-and-mobile
  %details
    %summary=hoc_s(:resources_tabs_tab_label_lesson_plans)
    = view :resources_tabs_content_lesson_plans
  %details
    %summary=hoc_s(:resources_tabs_tab_label_videos)
    = view :resources_tabs_content_videos
  %details
    %summary=hoc_s(:resources_tabs_tab_label_slides)
    = view :resources_tabs_content_slides
  %details
    %summary=hoc_s(:resources_tabs_tab_label_assessments)
    = view :resources_tabs_content_assessments
  %details
    %summary=hoc_s(:resources_tabs_tab_label_tools)
    = view :resources_tabs_content_tools

%script{src: '../js/resources-tabs.js'}
