:ruby
  student_accounts = "60M"
  female_students = "27M"
  project_count = fetch_project_count['rounded_down_millions']
  project_count = project_count.to_s + "M"
  teacher_users = "2M"
  states_policy_change = "50"

  top_statistic_number = student_accounts
  top_statistic_phrase = "students on Code.org"

  statistics = [
    {
      number: female_students,
      phrase: "of our students are young women",
      link: '/diversity'
    },
    {
      number: project_count,
      phrase: "projects created on Code.org",
      link: CDO.studio_url('/projects/public')
    },
    {
      number: teacher_users,
      phrase: "teachers use Code.org",
      link: CDO.studio_url('/courses?view=teacher')
    },
    {
      number: states_policy_change,
      phrase: "All 50 states support computer science",
      link: '/advocacy'
    },
  ]

  showing_below_hero_announcement = Homepage.get_below_hero_announcement[:showing]

- if !showing_below_hero_announcement
  .every-student Every student in every school should have the opportunity to learn computer science

.statistics
  %a.nounderscorehover.col-20.stats-box.linktag{href: CDO.studio_url('/courses'), id: "stats-0"}
    .jumbo.stats-number= top_statistic_number
    .stats-phrase= top_statistic_phrase

  - statistics.each_with_index do |statistic, index|
    %a.nounderscorehover.col-20.col-mobile-48.stats-box.linktag{:href=> statistic[:link], id: "stats-#{index+1}"}
      .jumbo.stats-number= statistic[:number]
      .stats-phrase= statistic[:phrase]
