- cta_url = "http://teacherblog.code.org/post/147349807334/try-pair-programmingtrack-the-progress-of"
- csp_widgets_url = CDO.code_org_url('/educate/csp/widgets')

%div.teacher-announce
  %a.announce-heading-link{href: 'http://teacherblog.code.org/'}
    %div.announce-heading
      = I18n.t(:dashboard_announcements)
      %div.heading-view-all
        = I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %a{href: cta_url, target: '_blank'}
      %div.content-img-container
        %img.content-img{src: CDO.shared_image_url('/teacher-announcement/pair-programming.png'), width: '200px'}
    %div.content-text
      = I18n.t(:dashboard_announce_message)
    %div.announce-learn-more
      %a{href: cta_url, target: '_blank'}
        %button= I18n.t(:dashboard_announce_learn_more_button)
  %div.announce-content
    %a{href: csp_widgets_url, target: '_blank'}
      %div.content-img-container
        %img.content-img{src: CDO.shared_image_url('/teacher-announcement/csp-widgets.png'), width: '200px'}
    %div.content-text
      = I18n.t(:dashboard_announce_csp_widgets_message)
    %div.announce-learn-more
      %a{href: csp_widgets_url, target: '_blank'}
        %button= I18n.t(:dashboard_announce_try_now_button)
