- cta_url = "http://teacherblog.code.org/post/143850631049/how-the-hints-system-on-code-studio-helps-measure"
- petition_url = "http://bit.ly/computersciencepetition"
- tagging_url = "http://teacherblog.code.org/post/143765455379/were-tagging-puzzles-in-code-studio-with-their"
- ux_url = "http://teacherblog.code.org/post/143850631049/how-the-hints-system-on-code-studio-helps-measure"

%div.teacher-announce
  %a.announce-heading-link{:href=>"http://teacherblog.code.org/"}
    %div.announce-heading
      = I18n.t(:dashboard_announcements)
      %div.heading-view-all
        = I18n.t(:dashboard_announce_view_all)
        >>
  %div.announce-content
    %a{:href=>cta_url}
      %div.content-img-container
        %img.content-img{:src=>"/images/fill-300x200/teacher-dashboard/tagging-puzzles.jpg"}
    %div.content-text
      = I18n.t(:dashboard_announce_message, tagging_url: tagging_url, ux_url: ux_url)
    %div{style: "float: right; margin-top: 25px;"}
      %a{:href=>cta_url}
        %button= I18n.t(:dashboard_announce_button_text)
  %div.announce-content
    %a{:href=>petition_url}
      %div.content-img-container
        %img.content-img{:src=>"/images/fill-300x200/teacher-dashboard/petition-faces.png"}
    %div.content-text
      = I18n.t(:dashboard_announce_petition)
    %div{style: "float: right; margin-top: 25px;"}
      %a{:href=>petition_url}
        %button= I18n.t(:dashboard_announce_petition_button)
