#classroom

  .section.section-light
    %h2= I18n.t('dashboard_landing_news_title')
    %p
      %a{href: "/curriculum/docs/k-5/overview"}
        = I18n.t('dashboard_curriculum_overview')
      |
      %a{href: "/curriculum/docs/k-5/complete.pdf", target: "_blank"}
        = I18n.t('dashboard_view_all_lesson_plans')
    %p
      = I18n.t('dashboard_course1')
      %a{href: "/curriculum/course1/docs/overview"}
        = I18n.t('dashboard_sequence')
      |
      %a{href: "/curriculum/docs/k-5/framework_course1.pdf", target: "_blank"}
        = I18n.t('dashboard_framework')
      |
      %a{href: "/curriculum/docs/k-5/standards_course1.pdf", target: "_blank"}
        = I18n.t('dashboard_standards')

    %p
      = I18n.t('dashboard_course2')
      %a{href: "/curriculum/course2/docs/overview"}
        = I18n.t('dashboard_sequence')
      |
      %a{href: "/curriculum/docs/k-5/framework_course2.pdf", target: "_blank"}
        = I18n.t('dashboard_framework')
      |
      %a{href: "/curriculum/docs/k-5/standards_course2.pdf", target: "_blank"}
        = I18n.t('dashboard_standards')

    %p
      = I18n.t('dashboard_course3')
      %a{href: "/curriculum/course3/docs/overview"}
        = I18n.t('dashboard_sequence')
      |
      %a{href: "/curriculum/docs/k-5/framework_course3.pdf", target: "_blank"}
        = I18n.t('dashboard_framework')
      |
      %a{href: "/curriculum/docs/k-5/standards_course3.pdf", target: "_blank"}
        = I18n.t('dashboard_standards')

    %p
      %a{href: "curriculum/docs/k-5/implementation"}
        = I18n.t('dashboard_implementation_guide')
      |
      %a{href: "/curriculum/docs/k-5/glossary"}
        = I18n.t('dashboard_glossary')
      |
      %a{href: "/curriculum/docs/k-5/ClassroomStrategies.pdf", target: "_blank"}
        = I18n.t('dashboard_classroom_strategies')
    %p
      = I18n.t('dashboard_debugging')
      %a{href: "/curriculum/docs/k-5/DebuggingStudent.pdf", target: "_blank"}
        = I18n.t('dashboard_student_worksheet')
      |
      %a{href: "/curriculum/docs/k-5/DebuggingTeacher.pdf", target: "_blank"}
        = I18n.t('dashboard_teacher_worksheet')
    %p
      = I18n.t('dashboard_puzzle_solving')
      %a{href: "/curriculum/docs/k-5/PuzzleSolvingStudent.pdf", target: "_blank"}
        = I18n.t('dashboard_student_worksheet')
      |
      %a{href: "/curriculum/docs/k-5/PuzzleSolvingTeacher.pdf", target: "_blank"}
        = I18n.t('dashboard_teacher_worksheet')

  .section.section-dark
    %h2= I18n.t('dashboard_landing_useful_links')
    %p
      %a{href:"http://code.org/educate/k5/k5officehours", target: "_blank"}
        = I18n.t('dashboard_landing_office_hours')
    %p
      %a#printcertificates{:href=>"#"}
        = I18n.t('dashboard_landing_print_certificates')
    %p
      %a{href: "http://code.org/hints"}
        = I18n.t('dashboard_landing_smart_hints')
    %p
      %a{href: "http://learn.code.org/videos/test"}
        = I18n.t('dashboard_landing_video_player')

  %form#printcertificatesform{:action=>"http://code.org/certificates", :method=>"POST"}
    %input{:type=>'hidden', :name=>'course', :value=>'20hours'}

  :javascript
    $("#printcertificates").click(function() {
      $('#printcertificatesform').submit();
    });