%link{href: '/css/generated/values.css', rel: 'stylesheet'}

-# FontAwesome icons
- icon_lightbulb = "fa-solid fa-lightbulb-on"
- icon_handshake = "fa-solid fa-handshake-angle"
- icon_people_group = "fa-solid fa-people-group"
- icon_compass = "fa-solid fa-compass"
- icon_hand_seedling = "fa-solid fa-hand-holding-seedling"
- icon_globe = "fa-solid fa-globe"

%div.values__section-container
  %ul
    %li
      %i{class: "#{icon_lightbulb}"}
      %p=hoc_s(:values_01)
    %li
      %i{class: "#{icon_handshake}"}
      %p=hoc_s(:values_02)
    %li
      %i{class: "#{icon_people_group}"}
      %p=hoc_s(:values_03)
    %li
      %i{class: "#{icon_compass}"}
      %p=hoc_s(:values_04)
    %li
      %i{class: "#{icon_hand_seedling}"}
      %p=hoc_s(:values_05)
    %li
      %i{class: "#{icon_globe}"}
      %p=hoc_s(:values_06)
