-name_s ||= nil
-company_s ||= nil
-email_s ||= nil
-location_s ||= nil
-time_commitment_s ||= nil
-location_flexibility_ss ||= nil
-languages_ss ||= nil
-languages_other_ss ||= nil
-experience_s ||= nil
-description_s ||= nil
-linkedin_s ||= nil
-facebook_s ||= nil
-skype_s ||= nil
-helpouts_s ||= nil
-allow_contact_b ||= nil
-form ||= nil

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "/js/selectize-fast-click.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/
%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=false&libraries=places,geometry&v=3.7"}

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

%h1= I18n.t(:volunteer_engineer_submission_title)
%h3{style: 'color: #00adbc; font-size: 1.125em;'}= I18n.t(:volunteer_engineer_submission_subtitle)
%p= I18n.t(:volunteer_engineer_submission_intro)

%img{src: "/images/fill-610x200/impact-hero.png", style: "margin-top: 10px;"}
%img{src: "/images/fill-295x150/sotm31.jpg", style: "margin: 10px 10px 20px 0;"}
%img{src: "/images/fill-300x150/homepage/kids3_2x.jpg", style: "margin: 10px 0 20px 0;"}

%form#volunteer-engineer-submit-form{role: "form", onsubmit: "return volunteerEngineerFormSubmit()"}
  %p= I18n.t(:volunteer_engineer_submission_intro_paragraph)
  #error-message{style: 'display: none'}

  %h2= I18n.t(:volunteer_engineer_submission_header_shared)

  .form-group
    %label.control-label{for: "volunteer-name"}= I18n.t(:volunteer_engineer_submission_field_name)
    %span.form-required-field *
    %div
      %input#volunteer-name.form-control{name: "name_s", placeholder: I18n.t(:volunteer_engineer_submission_field_name_placeholder), type: "text", required: true, value: name_s}/

  .form-group
    %label.control-label{for: "volunteer-company"}= I18n.t(:volunteer_engineer_submission_field_company)
    %span
    %div
      %input#volunteer-company.form-control{name: "company_s", placeholder: I18n.t(:volunteer_engineer_submission_field_company_placeholder), type: "text", required: false, value: company_s}/

  .form-group
    %label.control-label{for: "volunteer-experience"}= I18n.t(:volunteer_engineer_submission_field_experience_level)
    %span.form-required-field *
    %div
      %select#volunteer-experience.form-control{name: "experience_s", type: "select", required: true}
        %option{selected: experience_s.nil_or_empty?, value: ""}
        -VolunteerEngineerSubmission2015.experiences.each_pair do |key,label|
          %option{value: key, selected: key == experience_s}= label

  .form-group
    %label.control-label{for: "volunteer-location"}= I18n.t(:volunteer_engineer_submission_field_location)
    %span.form-required-field *
    %p= I18n.t(:volunteer_engineer_submission_field_location_desc)
    %div
      %input#volunteer-location.form-control{name: "location_s", placeholder: I18n.t(:volunteer_engineer_submission_field_location_placeholder), type: "text", required: true, value: location_s}/

  .form-group
    %label.control-label{for: "volunteer-location-flexibility"}= I18n.t(:volunteer_engineer_submission_field_location_flexibility)
    %span.form-required-field *
    %div
      %select#volunteer-location-flexibility.form-control{name: "location_flexibility_ss[]", type: "select", required: true, multiple: true}
        %option{selected: location_flexibility_ss.nil_or_empty?, value: ""}
        -VolunteerEngineerSubmission2015.locations.each_pair do |key,label|
          %option{value: key, selected: (location_flexibility_ss||[]).include?(key)}= label

  .form-group
    .checkbox
      %label
        %input#volunteer-after-hoc{name: "volunteer_after_hoc_b", type: "checkbox", value: "1", required: false}/
        = I18n.t(:volunteer_engineer_submission_checkbox_after_hoc)

  .form-group{style: "display: none;"}
    %label.control-label{for: "volunteer-time-commitment"}= I18n.t(:volunteer_engineer_submission_field_time_commitment)
    %div
      %select#volunteer-time-commitment.form-control{name: "time_commitment_s", type: "select", required: false}
        %option{selected: time_commitment_s.nil_or_empty?, value: ""}
        -VolunteerEngineerSubmission2015.commitments.each_pair do |key,label|
          %option{value: key, selected: key == time_commitment_s}= label

  .form-group
    %label.control-label{for: "volunteer-linkedin"}= I18n.t(:volunteer_engineer_submission_field_linkedin)
    %div
      %input#volunteer-linkedin.form-control{name: "linkedin_s", placeholder: I18n.t(:volunteer_engineer_submission_field_linkedin_placeholder), type: "text", required: false, value: linkedin_s}/
  .form-group
    %label.control-label{for: "volunteer-facebook"}= I18n.t(:volunteer_engineer_submission_field_facebook)
    %div
      %input#volunteer-facebook.form-control{name: "facebook_s", placeholder: I18n.t(:volunteer_engineer_submission_field_facebook_placeholder), type: "text", required: false, value: facebook_s}/

  .form-group
    %label.control-label{for: "volunteer-description"}= I18n.t(:volunteer_engineer_submission_field_description)
    %span.form-required-field *
    %p= I18n.t(:volunteer_engineer_submission_field_description_desc)
    %div
      %textarea#volunteer-description.form-control{name: "description_s", placeholder: I18n.t(:volunteer_engineer_submission_field_description_placeholder), required: true, style: "height: 10em;"}
        =description_s
  %hr
  %h2= I18n.t(:volunteer_engineer_submission_header_private)

  .form-group
    %label.control-label{for: "volunteer-email"}= I18n.t(:volunteer_engineer_submission_field_email)
    %span.form-required-field *
    %p= I18n.t(:volunteer_engineer_submission_field_email_desc)
    %div
      %input#volunteer-email.form-control{name: "email_s", placeholder: I18n.t(:volunteer_engineer_submission_field_email_placeholder), type: "text", required: true, value: email_s}/

  %br
  .form-group
    %p= I18n.t(:volunteer_engineer_submission_final_paragraph)
    %div
      %label{style: 'font-weight: normal;', for: 'volunteer-allow-contact'}
        %input#volunteer-allow-contact{name: 'allow_contact_b', type: 'checkbox', value: 1, required: true}
          = I18n.t(:volunteer_engineer_submission_checkbox_contact)

  .form-group
    %button#btn-submit.btn.btn-default{type: "submit"}= I18n.t(:volunteer_engineer_submission_submit)

#thanks{:style=>"display: none;"}
  %p= I18n.t(:volunteer_engineer_submission_thankyou)

:javascript
  $(document).ready(function() {
    new google.maps.places.SearchBox(document.getElementById('volunteer-location'));

    $('#volunteer-engineer-submit-form select').selectize({
      plugins: ['fast_click']
    });

    $('#volunteer-languages').change(function() {
      if ($.inArray('other', $(this).val()) > -1) {
        $('#volunteer-languages-other-wrapper').show();
      } else {
        $('#volunteer-languages-other').val('');
        $('#volunteer-languages-other-wrapper').hide();
      }
    }).triggerHandler('change');

    $('#volunteer-after-hoc').change(function() {
      if($(this).is(':checked')) {
        $('#volunteer-time-commitment').closest('.form-group').slideDown();
      } else {
        $('#volunteer-time-commitment').closest('.form-group').slideUp();
      }
    });
  });

:javascript
  function processResponse(data)
  {
    $('#volunteer-engineer-submit-form').hide();
    $('#thanks').show();
  }

  function processError(data)
  {
    $('.has-error').removeClass('has-error');

    errors = Object.keys(data.responseJSON);
    errors_count = errors.length;

    for (i = 0; i < errors_count; ++i) {
      error_id = '#volunteer-' + errors[i].replace(/_/g, '-');
      error_id = error_id.replace(/-[sb]s?$/, '');
      $(error_id).parents('.form-group').addClass('has-error');
    }

    $('#error-message').text('An error occurred. Please check to make sure all required fields have been filled out.').show();

    $('body').scrollTop(0);
    $("#btn-submit").removeAttr('disabled');
    $("#btn-submit").removeClass("button_disabled").addClass("button_enabled");
  }

  function volunteerEngineerFormSubmit()
  {
    $("#btn-submit").attr('disabled','disabled');
    $("#btn-submit").removeClass("button_enabled").addClass("button_disabled");

    $.ajax({
      url: "/forms/VolunteerEngineerSubmission2015#{'/' + form.secret if form}",
      type: "post",
      dataType: "json",
      data: $('#volunteer-engineer-submit-form').serialize()
    }).done(processResponse).fail(processError);

    return false;
  }
