-search_location ||= nil
-experience_s ||= nil
-location_flexibility_ss ||= nil
-distance ||= nil
-num_volunteers ||= nil

%h1 Find a local volunteer

%p
  Enter your address to find a local volunteer. If there aren't any local volunteers available, search for volunteers in other cities who can participate remotely through a video conference.
%p
  Want to sign up to volunteer?
  %a{href: "/volunteer"}
    Sign up here
  to be included on this map.

%form#volunteer-search-form{role: "form", onsubmit: "event.preventDefault();"}
  #volunteer-search-facets.form-section.row
    %h3.col-xs-12.top-margin Search your location
    .form-section.row.no-margin
      .form-group.col-xs-4
        #mapbox-geocoder
      .form-group.col-xs-2.submit-btn
        %button#btn-submit{type: "submit", style: "margin-top: 0px"} Search

    .filter-options{style: "display: none"}
      .form-group.col-xs-4
        %label.control-label.small{for: "location-flexibility"} How a volunteer can help
        %div
          %select#location-flexibility.form-control{name: "location_flexibility_ss[]", type: "select"}
            %option{selected: location_flexibility_ss.nil_or_empty?, value: ""}= "any"
            -VolunteerEngineerSubmission2015.locations.each do |key, value|
              %option{value: key, selected: (location_flexibility_ss||[]).include?(key.to_s)}= value
      .form-group.col-xs-4
        %label.control-label.small{for: "experience-level"} Experience level
        %div
          %select#experience-level.form-control{name: "experience_s", type: "select"}
            %option{selected: experience_s.nil_or_empty?, value: ""}= "any"
            -VolunteerEngineerSubmission2015.experiences.each do |key, value|
              %option{value: key, selected: (experience_s||[]).include?(key.to_s)}= value
      .form-group.col-xs-2
        %label.control-label.small{for: "distance"} Within
        %div
          %select#distance.form-control{name: "distance", type: "select"}
            %option{selected: distance.nil_or_empty?, value: ""}= "#{VolunteerEngineerSubmission2015::DEFAULT_DISTANCE_MILES} miles"
            -VolunteerEngineerSubmission2015.distances.each do |key, value|
              %option{value: key, selected: (distance||[]).include?(key.to_s)}= value
      .form-group.col-xs-2
        %label.control-label.small{for: "num_volunteers"} Show no more than
        %div
          %select#num_volunteers.form-control{name: "num_volunteers", type: "select"}
            %option{selected: num_volunteers.nil_or_empty?, value: ""}= "#{VolunteerEngineerSubmission2015::DEFAULT_NUM_VOLUNTEERS} volunteers"
            -VolunteerEngineerSubmission2015.num_volunteers.each do |key, value|
              %option{value: key, selected: (num_volunteers || []).include?(key.to_s)}= value

.row
  #volunteer-search-error.col-xs-12.display-none.top-margin


%link{rel: "stylesheet", href: "https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css"}
%script{type: "text/javascript", src: "https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js"}

%script{src: "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"}
%link{rel: "stylesheet", href: "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css", type: "text/css"}

:css
  .mapboxgl-ctrl {
    width: 100%;
    z-index: 2;
  }

  .mapboxgl-ctrl ul li {
    padding-left: 0;
    text-indent: 0;
  }

  .mapboxgl-ctrl ul li:before {
    content: none;
    color: #00a1e6;
  }

  .mapboxgl-popup-content {
    max-height: 180px;
    overflow-y: scroll;
  }

:javascript
  mapboxgl.accessToken = "#{CDO.mapbox_access_token}";

#mapbox-container.row{style: "display: none"}
  .col-xs-5
    #mapbox-listings{style: "height: 400px; overflow: scroll"}
  .col-xs-7
    #mapbox{style: "width: 553px; height: 400px"}
