---
title: Computer Science Connections
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/csc-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1{style: "color: white"}
        =hoc_s(:curriculum_name_csc)
      %p{style: "color: white"}
        =hoc_s(:csc_page_top_desc)
      %a.link-button.white{href: "#csc-modules"}
        =hoc_s(:call_to_action_explore_modules)
    %figure
      %img{src: "/images/banners/banner-csc-octopus.png", alt: ""}
    .clear

%section
  .wrapper
    %div.col-50{style: "margin: 0.5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "intro_csc", video_code: "GDcKJ1v2W1s", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/curriculum_videos/curriculum_video_csc.mp4"
    .text-wrapper.col-45{style: "float: right;"}
      %h2=hoc_s(:csc_page_intro_heading)
      %ul
        %li=hoc_s(:csc_page_intro_list_01)
        %li=hoc_s(:csc_page_intro_list_02)
        %li=hoc_s(:csc_page_intro_list_03)
        %li=hoc_s(:csc_page_intro_list_04)
        %li=hoc_s(:csc_page_intro_list_05)
        %li=hoc_s(:csc_page_intro_list_06)
      %a.link-button{href: "#csc-modules"}
        =hoc_s(:call_to_action_explore_modules)
    .clear

%section.bg-neutral-light
  .wrapper
    = view :curriculum_glance_section, heading: hoc_s(:heading_curricula_at_a_glance), grades: hoc_s(:module_grade_3_5), duration: hoc_s(:module_duration_week), level: hoc_s(:module_level_beginner), tools: hoc_s(:csc_page_curriculum_glance_tools), devices: hoc_s(:csc_page_curriculum_glance_devices), professional_learning: hoc_s(:csc_page_curriculum_glance_professional_learning), topics: hoc_s(:csc_page_curriculum_glance_topics), accessibility_features: hoc_s(:csc_page_curriculum_glance_professional_accessibility_features), languages: hoc_s(:csc_page_curriculum_glance_professional_languages)

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s(:csc_page_quote)
      %p.no-margin-bottom
        Tara Vodopich
        %span •
        =hoc_s(:teacher_label_csc)

%section.bg-neutral-light.centered
  .wrapper
    %h2=hoc_s(:csc_explore_curriculum)
    %p=hoc_s(:csc_explore_desc)
    = view :section_divider_line
    %div{style: "margin: 2rem 0 2rem; text-align: center"}
      %h3=hoc_s(:csc_find_the_right_fit)
      %a.link-button{href: "#csc-week-long-modules"}
        =hoc_s(:csc_week_long_modules)
      %a.link-button{href: "#csc-hour-long-lessons"}
        =hoc_s(:csc_hour_long_lessons)

%section#csc-week-long-modules
  .wrapper
    %h2=hoc_s(:csc_week_long_modules)
    %p=hoc_s(:csc_page_find_a_module_desc)
    = view :carousel_csc_week_long

%section#csc-hour-long-lessons
  .wrapper
    %h2=hoc_s(:csc_hour_long_lessons)
    %p=hoc_s(:csc_hour_long_lessons_desc)
    .action-block__wrapper.action-block__wrapper--two-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_subject_english_language_arts)
          %h3=hoc_s(:tutorial_poemart_name)
          %img{src: "/images/csc-module-poem-art.png", alt: "", style: "height: 100%, max-width: 430px"}
          %p=hoc_s(:module_desc_coding_w_poetry)
        .content-footer
          %a.link-button{href: CDO.studio_url("/s/poetry?viewAs=Instructor"), aria:{label: hoc_s(:aria_label_call_to_action_module_coding_w_poetry)}}
            =hoc_s(:call_to_action_see_module_details)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_subject_interdisciplinary)
          %h3=hoc_s(:tutorial_hello_name)
          %img{src: "/images/csc-module-hello-world.png", alt: ""}
          %p=hoc_s(:module_desc_hello_world)
        .content-footer
          %a.link-button{href: "https://hourofcode.com/hello", aria:{label: hoc_s(:aria_label_call_to_action_module_hello_world)}}
            =hoc_s(:call_to_action_see_module_details)

%section.bg-neutral-light
  .wrapper
    = view :"tabs_section/resources/resources_tabs", resources_heading: hoc_s(:resources_tabs_heading), resources_desc: hoc_s(:resources_tabs_desc, markdown: :inline, locals: {sign_up_url: CDO.studio_url("/users/sign_up")})

%section
  .wrapper
    %h2=hoc_s(:heading_professional_learning)
    %p=hoc_s(:professional_learning_section_desc_self_paced)
    .action-block.action-block--two-col
      %img{src: "/images/action-block-self-paced-pl.png", alt: "", class: "col-50"}
      .text-wrapper.col-50
        %h3.heading-sm
          =hoc_s(:self_paced_pl_modules_heading)
        %p=hoc_s(:self_paced_pl_modules_desc)
        %a.link-button{href: CDO.studio_url("/s/self-paced-pl-csc-2023")}
          =hoc_s(:call_to_action_start_modules)

= view :section_divider_line

%section.no-padding-bottom
  .wrapper
    %h2=hoc_s(:heading_faq)
    = view :faq_csc

%section
  .wrapper
    = view :support_and_questions_section

%section#csc-newsletter-signup{style: "padding-top: 2rem"}
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s(:subscribe_form_section_title), subscribe_form_section_desc: hoc_s(:subscribe_form_section_desc_csc), form_height: "375px", form_src: "http://go.pardot.com/l/153401/2018-10-02/lzp5jd"

= view :visit_partial_event_logger

= view :swiper
