---
title: State advocacy sheet
chart: true
<%
  if request.params["pdf_version"]
%>
layout: page_print
theme: pdf
<%
  end
%>
---

- splat = request.splat_path_info[1..-1].split("/")
- state = splat.last
- state_param = state.upcase
- state_info = DB[:cdo_state_promote].where(state_code_s: state_param).first

%h1
  Support K-12 Computer Science Education in 
  = state_info[:state_name_s]

%div Computer science drives job growth and innovation throughout our economy and society. Computing occupations make up two-thirds of all projected new jobs in STEM fields, making Computer Science one of the most in-demand college degrees. And computing is used all around us and in virtually every field. It’s foundational knowledge that all students need. But computer science is marginalized throughout education. 75 percent of U.S. schools don’t even offer computer science and only 8% of STEM graduates study it. We need to improve access for all students, including groups who have traditionally been underrepresented.
%br

%div
  %center
    %img{src: "/images/charts/computing_jobs.png", style: "width: 300px;"}
    %img{src: "/images/charts/computing_degrees.png", style: "width: 300px;"}
    %h3 9 in 10 parents want their students to learn computer science, but only 1 in 4 schools teaches it.
    %img{src: "/images/charts/learn_cs.png", style: "width: 300px;"}
    %img{src: "/images/charts/schools_teach.png", style: "width: 300px;"}


%div
  %h2
    Computer science in 
    = state_info[:state_name_s]
  %ul
    %li
      = state_info[:cs_jobs_i]
      open computing jobs (
      = state_info[:growth_vs_average_f]
      times the average demand rate in 
      = state_info[:state_code_s]
      ). 
    %li
      The average salary for a computing occupation in
      = state_info[:state_code_s]
      is $
      = state_info[:avg_sal_computing_i]
      , which is significantly higher than the average salary in the state ($
      = state_info[:avg_sal_all_i]
      ). 
    %li
      = state_info[:cs_graduates_i]
      computer science graduates in 2015; only
      = state_info[:percent_female_cs_grad_i]
      \% were female.
    %li
      = state_info[:ap_cs_exams_i]
      high school students took the AP Computer Science exam in 2014; only
      = state_info[:percent_ap_female_i]
      \% were female; only
      = state_info[:ap_hispanic_i]
      were Hispanic; only
      = state_info[:ap_black_i]
      were black.
    %li
      Only
      = state_info[:schools_ap_cs_i]
      schools in 
      = state_info[:state_code_s]
      (
      = state_info[:percent_schools_ap_cs_i]
      \% of
      = state_info[:state_code_s]
      schools with AP programs) offered the AP Computer Science course in 2013-2014. 

%div
  %h3
    Stem Subject Exams in 2014 in
    = state_info[:state_code_s]
    Chart will go here.

%div
  %h2 What can you do to improve K-12 CS education? 
  %ol
    %li
      %a{href: "https://code.org/promote/letter"}
        Call
      on your school to expand computer science offerings at every grade level.
    %li Ask your local school district to allow computer science courses to satisfy a core math or science requirement.
    %li
      Visit
      %a{href: state_info[:website_url_s]}= state_info[:website_url_s]
      to learn more about supporting computer science in your state.

%div
  %h2
    Code.org Impact in
    = state_info[:state_name_s]
  %ul
    %li
      Code.org has partnered with
      = state_info[:school_district_partners_s] 
      \.
    %li
      = state_info[:num_affiliates_i]
      Code.org affiliates offering professional development for elementary teachers in
      = state_info[:state_name_s]
      have already trained
      = state_info[:num_elementary_trained_i]
      elementary teachers.
    %li
      Code.org has trained
      = state_info[:num_ms_trained_i]
      middle school teachers and
      = state_info[:num_hs_trained_i]
      high school teachers in
      = state_info[:state_name_s]
      to teach computer science. 
  %p 
    About
    = state_info[:num_hoc_i]
    people in
    = state_info[:state_name_s]
    have completed an Hour of Code! 

%center
  %h3 “Computer Science is a liberal art: it’s something that everybody should be exposed to and everyone should have a mastery of to some extent.” 
  %p —Steve Jobs

%div
  %p
    %h2 What can your state do to improve computer science education?
    Here are 8 key policies that help to provide all students with access to computer science.
  %div

    %div
    - if state_info[:cs_standards_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        has established rigorous K-12 computer science standards.
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not have rigorous computer science standards. Computer science has often been confused with broader technology education in schools. States should adopt discrete standards for computer science focused on both the creation and use of software and computing technologies at all levels of K-12 education. The Computer Science Teachers Association has model K-12 CS standards.  

    %div
    - if state_info[:pd_funding_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        has allocated funding for rigorous computer science professional development and course support.
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not provide funding for rigorous computer science professional development and course support. States should provide professional development resources by creating matching fund opportunities to bring computer science to school districts.

    %div
    - if state_info[:cs_teacher_cert_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        has clear certification pathways for computer science teachers. 
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not have clear certification pathways for computer science teachers. The expansion of K-12 computer science education is hampered by the lack of qualified computer science teachers. We can grow their ranks by creating clear, navigable, and rewarding professional paths for computer science teachers. 

    %div
    - if state_info[:pre_service_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        has established incentives at institutions of higher education to offer computer science to pre-service teachers.
    - else
      %div
        [x]
        = state_info[:state_name_s]
        has no incentives for institutions of higher education to offer computer science to pre-service teachers. The computer science teacher shortage can be addressed by exposing more pre-service teachers to computer science during their required coursework or by creating specific pathways for computer science teachers. 

    %div
    - if state_info[:state_position_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        has dedicated computer science positions in state and local education authorities. 
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not have dedicated computer science positions in state and local education authorities. Creating a statewide computer science leadership position within the state education authority will oversee state-level implementation of computer science education  initiatives. Similar positions at the local level could support districts’ expansion of course offerings and professional development. 

    %div
    - if state_info[:require_hs_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        requires that all secondary schools offer computer science. 
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not require that all secondary schools offer computer science. States should adopt policies that require schools to offer a computer science course based on rigorous standards, with appropriate implementation timelines and allowing for remote and/or in-person courses. 

    %div
    - if state_info[:cs_counts_t] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        allows computer science to count for a core mathematics or science graduation requirement. 
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not allow computer science to count for a core mathematics or science graduation requirement. States that count computer science as a core graduation requirement see 50% more enrollment in their AP Computer Science courses and increased participation from underrepresented minorities. 

    %div
    - if state_info[:higher_ed_entrance_s] == 'Yes'
      %div
        [*]
        = state_info[:state_name_s]
        allows computer science to count as a mathematics or science admission requirement at institutions of higher education. 
    - else
      %div
        [x]
        = state_info[:state_name_s]
        does not allow computer science to count as a mathematics or science admission requirement at institutions of higher education.  Admission policies that do not include rigorous computer science courses as meeting the mathematics or science entrance requirements discourage students from taking such courses in secondary education. State leaders can work with institutions of higher education to ensure credit and articulation policies align with secondary school graduation requirements.

  %p
    %a{href: "https://code.org/files/Making_CS_Fundamental.pdf"} Read more
    about these 8 policy ideas.

%div
  %h3 Follow us! 
  %p
    Join our efforts to give every student in every school the opportunity to learn computer science. Learn more at
    %a{href: "https://code.org"} code.org
    , or follow us on
    %a{href: "https://www.facebook.com/Code.org"} Facebook
    and
    %a{href: "https://twitter.com/codeorg"} Twitter
    \.
  %p Code.org, a public 501c3 nonprofit, also organizes Computer Science Education Week (CSEdWeek), which is the awareness-building activity of the computer science education community. Code.org’s corporate sponsors include Microsoft, Google, Infosys, Amazon, Disney, Facebook, Salesforce, Expedia, Juniper Networks, Workday, Bestbuy, JP Morgan Chase, and Symantec. A list of all supporters can be found at code.org/about/donors.
  %p Data is from the Conference Board, the Bureau of Labor Statistics, the College Board, the National Science Foundation, the National Center for Education Statistics, and the Gallup research study Searching for Computer Science: Access and Barriers in K-12 Education. 

