---
title: App Lab
theme: responsive
video_player: true
---

%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/css/highlights.css", rel: "stylesheet"}

.tools-banner
  .tools-img-box
    %img.tools-img-applab.tools-img{src: CDO.code_org_url("/images/app-lab/applab-tool.png")}
  .tools-info{style: "max-width: 688px;"}
    .tools-title-bar
      %h1.tools-title App Lab
    .tools-description
      %p App Lab is a programming environment where you can make simple apps. Design an app, code in JavaScript with either blocks or text, then share your app in seconds.
      .tools-details Ages 13+, all modern browsers, English only
      %a{href: CDO.studio_url("/projects/applab/new")}
        %button Try it out

.clear

#resources.tile-container-responsive
  = view :top_hoc_tutorial_applab, image_match_youtube_height: true

  .col-50
    .tutorial-tile
      = view :display_video_thumbnail, id: "app_lab_in_classroom", video_code: "e1St8LB4VJA", play_button: 'center', download_path: "//videos.code.org/applab/in-the-classroom.mp4", letterbox: 'false'
      .tutorial-info{style: "justify-content: flex-start;"}
        %h3{style: "margin-top: 0px;"} App Lab in the classroom
        .smalltext This launch video introduces five reasons App Lab could be a great tool for students learning programming.
      .clear

.clear

#challenges
  %h2 Starter Projects
  %p Start with a blank project, explore the sample apps and take the challenge to make them even better, or check out projects that other students have built.
  .highlights-content
    - cta = "Remix the project"
    = view :highlight_item, item: {image: "app-lab/new-project", title: "Blank project", desc: "Start with a blank project and make anything you want.", cta: "Start a blank project", url: 'https://studio.code.org/projects/applab/new'}
    = view :highlight_item, item: {image: "app-lab/slider-sketch", title: "Slider sketch", desc: "Use the sliders to draw cool patterns and designs. Challenge: Add another slider to change the thickness of the line.", cta: cta, url: 'https://studio.code.org/projects/applab/JNbplBXMisx2aMefUkh39g/remix'}
    = view :highlight_item, item: {image: "app-lab/landmark-flashcards", title: "Landmark flaschards", desc: "Use this app to create flashcards to learn a new subject or practice for a test. Challenge: add more cards to the deck or create a whole new deck.", cta: cta, url: 'https://studio.code.org/projects/applab/sNZOTB_PiXAHt3Q5h_aRgQ/remix'}
    = view :highlight_item, item: {image: "app-lab/milk-adventure", title: "Choose your own adventure", desc: "Choose carefully as you go through this short adventure. Challenge: continue the story by adding in more choices. Or create a different story!", cta: cta, url: 'https://studio.code.org/projects/applab/nI9iumSHbTn5mHBXl-wxMw/remix'}
    = view :highlight_item, item: {image: "app-lab/poke-pig", title: "Poke the pig", desc: "How many times you can poke the pig before time runs out? Challenge: Add a button and event to be able to play again and again, so you can improve your score.", cta: cta, url: 'https://studio.code.org/projects/applab/r469vc1FFSOxOlUruTFlUA/remix'}
    = view :highlight_item, item: {image: "app-lab/pet-data", title: "Pet poll", desc: "Vote for your favorite pet in this fun app. Challenge: Add more animals so you can vote for more favorites.", cta: cta, url: 'https://studio.code.org/projects/applab/TjHfwdUd3ENlyImb7VX5Cg/remix'}
    = view :highlight_item, item: {image: "app-lab/pensive-painter", title: "Pensive painter", desc: "Take a deep breath, relax, and paint whatever you desire. Challenge: Add a click event to clear the screen so you can start painting a new masterpiece.", cta: cta, url: 'https://studio.code.org/projects/applab/IAK_Qyc23QrkAB61KGvn1g/remix'}
    = view :highlight_item, item: {image: "app-lab/gallery", title: "Project gallery", desc: "Check out projects other students have made and use them as insiration for your own app.", cta: "View project gallery", url: 'https://studio.code.org/projects/public'}
  .clear

.clear
%h2 Demos for creating apps with App Lab
.col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
  = view :display_video_thumbnail, id: "app_lab_intro", video_code: "xlbRL5eOgkI", play_button: 'center', download_path: "//videos.code.org/applab/how-to-introduction.mp4", letterbox: 'false'
.col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
  = view :display_video_thumbnail, id: "how_to_make_an_app", video_code: "tDnoxkOSfQw", play_button: 'center', download_path: "//videos.code.org/applab/how-to-make-an-app.mp4", letterbox: 'false'
.col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
  = view :display_video_thumbnail, id: "choose_adventure", video_code: "ZhgBSYKWL2A", play_button: 'center', download_path: "//videos.code.org/applab/how-to-choose-your-own-adventure.mp4", letterbox: 'false'
.col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
  = view :display_video_thumbnail, id: "whack_e_moji", video_code: "WZVAA3ajZxc", play_button: 'center', download_path: "//videos.code.org/applab/whack-e-moji.mp4", letterbox: 'false'
.col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
  = view :display_video_thumbnail, id: "app_lab_deep_dive", video_code: "4DntNOOYmpo", play_button: 'center', download_path: "//videos.code.org/2015/csp/AppLabDemo.mp4", letterbox: 'false'

.clear
#teachers
  %h2 For teachers
  %p
    Want to do more with App Lab? Our introductory course,
    = succeed "," do
      %a{href: '/csd'} Computer Science Discoveries
    and our
    %a{href: '/csp'} Computer Science Principles
    course both use this tool to help teach students computer science concepts.

  .pl-callout
    .pl-icon
      %i.fa.fa-book.pl-book
    .pl-description
      .pl-text-area
        .pl-title Professional Learning Program
        %p Course specific professional learning provides hands on experience with the curriculum.
      .pl-button
        %a{href: "/educate/professional-learning"}
          %button.tutorial-gray Learn more

  %h3
    %a{href: '/csp'} Computer Science Principles
    units that use App Lab

  %table
    %tr
      %th{style: "min-width: 75px;"} Link
      %th Unit description
    %tr
      %td
        %a{href: CDO.studio_url("/s/csp3-2019")}
          %img{src: "/educate/csp/images/thumb_applab.png"}
          Unit 3
      %td
        %b.purple Algorithms and Programming
        %p This unit introduces the foundational concepts of computer programming, which unlocks the ability to make rich, interactive apps. This course uses JavaScript as the programming language, and App Lab as the programming environment to build apps, but the concepts learned in these lessons span all programming languages and tools.
    %tr
      %td
        %a{href: CDO.studio_url("/s/csp5-2019")}
          %img{src: "/educate/csp/images/thumb_app.png"}
          Unit 5
      %td
        %b.purple Building Apps
        %p This unit continues to develop students’ ability to program in the JavaScript language, using Code.org’s App Lab environment to create a series of small applications (apps) that live on the web, each highlighting a core concept of programming. In this unit students transition to creating event-driven apps.
    %tr
      %td
        %a{href: CDO.studio_url("/s/csppostap-2019")}
          %img{src: "/educate/csp/images/data_button.png"}
          Post-AP
      %td
        %b.purple Post-AP material - Making Data-backed apps
        %p This unit teaches students how to use App Lab's database capabilites to make apps that store data in the cloud so it can be retrieved later.

  %h3
    %a{href: '/csd'} Computer Science Discoveries
    units that use App Lab

  %table
    %tr
      %th{style: "min-width: 75px;"} Link
      %th Unit description
    %tr
      %td
        %a{href: CDO.studio_url("/s/csd4-2019")}
          %img{src: "/educate/csp/images/thumb_app.png"}
          Unit 4
      %td
        %b.purple The Design Process
        %p In this unit, students are asked to consider and understand the needs of others while developing a solution to a problem through a series of design challenges. The second half of the unit consists of an iterative team project, during which students have the opportunity to identify a need that they care about, prototype solutions both on paper and in App Lab, and test their solutions with real users to get feedback and drive further iteration
    %tr
      %td
        %a{href: CDO.studio_url("/s/csd6")}
          %img{src: "/images/fit-50/animated-examples/circuitplayground.gif"}
          Unit 6
      %td
        %b.purple Physical Computing
        %p
          In this unit, students develop their programming skills in App Lab while exploring the role of hardware platforms in computing. Students look towards current and “smart” devices to understand the ways in which different sensors can provide more effective input and output than the traditional keyboard, mouse, and monitor. Note: This unit requires access to
          %a{href: "https://code.org/circuitplayground"}
            Adafruit's Circuit Playground
          board.


#videos
  %h2 Video library
  Watch these videos to learn how to create apps in App Lab and learn new programming concepts with the tool.

  - cspunit3_videos = []
  - cspunit3_videos << { id: 'turtle', category_title: 'Procedural abstraction and top-down design', caption: 'Program a turtle to move around the screen and draw anything from basic shapes to complex designs.', code: 'i2KHYUhtOlM', download_path: '//videos.code.org/2015/csp/applab/turtle.mp4', studio_stage: '/s/cspunit3/stage/2/puzzle/1' }
  - cspunit3_videos << { id: 'functions', category_title: '', caption: 'Learn how to define and call functions so you can easily reuse code more efficiently.', code: 'yPWQfa4CHbw', download_path: '//videos.code.org/2015/csp/applab/functions.mp4', studio_stage: '/s/cspunit3/stage/3/puzzle/1' }
  - cspunit3_videos << { id: 'functions_params', category_title: 'Documentation and simple loops', caption: 'Create functions with parameters to make functions that are more flexible and can be used to solve different kinds of problems.', code: 'k7Ji1E97-V0', download_path: '//videos.code.org/2015/csp/applab/functions_parameters.mp4', studio_stage: '/s/cspunit3/stage/6/puzzle/1' }
  - cspunit3_videos << { id: 'loops', category_title: '', caption: 'Learn how to use loops to repeat code and simplify your app.', code: 'G8hfAk4PfOM', download_path: '//videos.code.org/2015/csp/applab/loops.mp4', studio_stage: '/s/cspunit3/stage/7/puzzle/1' }
  - cspunit3_videos << { id: 'design_mode', category_title: 'Event-driven programming and apps', caption: 'Start using design mode to create a user interface for your app where users can click buttons, select from dropdowns, and even use a slider.', code: '-EoTeD4mSNU', download_path: '//videos.code.org/2015/csp/applab/design.mp4', studio_stage: '/s/cspunit3/stage/12/puzzle/1'}
  - cspunit3_videos << { id: 'variables_1', category_title: 'Variables and strings', caption: 'An introduction to variables that can be used throughout your code.', code: 'G41G_PEWFjE', download_path: '//videos.code.org/2015/csp/applab/variables_1.mp4', studio_stage: '/s/cspunit3/stage/14/puzzle/1' }
  - cspunit3_videos << { id: 'variables_2', category_title: '', caption: 'Learn how to use different kinds of variables to make your apps more complex.', code: 'ijjVDBPwA1o', download_path: '//videos.code.org/2015/csp/applab/variables_2.mp4', studio_stage: '/s/cspunit3/stage/15/puzzle/1' }
  - cspunit3_videos << { id: 'conditionals_1', category_title: 'Conditionals and boolean logic', caption: 'Use boolean expressions to make decisions in your app logic.', code: 'y3rCKJNOwpA', download_path: '//videos.code.org/2015/csp/applab/conditionals_1.mp4', studio_stage: '/s/cspunit3/stage/18/puzzle/1' }
  - cspunit3_videos << { id: 'conditionals_2', category_title: '', caption: 'Create conditions with if/else statements to make your app more unique.', code: 'UDi7xgIIW8E', download_path: '//videos.code.org/2015/csp/applab/conditionals_2.mp4', studio_stage: '/s/cspunit3/stage/18/puzzle/1'}
  - cspunit3_videos << { id: 'conditionals_3', category_title: '', caption: 'Add more complex logic like AND and OR to give users more choices in your apps.', code: 'kyFdniI-ZZs', download_path: '//videos.code.org/2015/csp/applab/conditionals_3.mp4', studio_stage: '/s/cspunit3/stage/20/puzzle/1' }
  - cspunit3_videos << { id: 'intro_lists', category_title: 'Loops and arrays', caption: 'Organize your information by using a list in your app.', code: 'KFy7u3Rhozs', download_path: '//videos.code.org/2015/csp/applab/lists_intro_full.mp4', studio_stage: '/s/cspunit3/stage/24/puzzle/1' }
  - cspunit3_videos << { id: 'processing_lists', category_title: 'Processing arrays of data', caption: 'Create charts with your data by processing a list.', code: 'RQ6GJt9f2vg', download_path: '//videos.code.org/2015/csp/applab/processing_lists.mp4', studio_stage: '/s/cspunit3/stage/26/puzzle/1' }
  - cspunit3_videos.each do |video|
    // Show the chapter title at the
    // beginning of each video chapter
    - unless video[:category_title].nil_or_empty?
      .clear
      %h3= video[:category_title]
    %div{style: "float:left; padding:10px; width: 275px;"}
      = view :display_video_thumbnail, id: video[:id],  video_code:video[:code], caption: video[:caption], play_button: 'center', download_path: video[:download_path], letterbox: 'false'

:javascript
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
