---
title: App Lab
theme: responsive
video_player: true
---

%link{href: "/css/jumbotron-banner.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet"}
%link{href: "/css/highlights.css", rel: "stylesheet"}

= view :jumbotron_banner, img: CDO.code_org_url("/images/app-lab/girl-cropped.jpg"), title: "App Lab", desc: "App Lab is a programming environment where you can make simple apps. Design an app, code with blocks or JavaScript to make it work, then share your app in seconds.", specs: "Ages 13+, all modern browsers, English only", url: CDO.studio_url('/p/applab'), cta: "Make an app", photo_cred: "Photo courtesy of Fundación Sadosky", nav_bar: [{text: 'Resources', url: '#resources'}, {text: 'Challenges', url: '#challenges'}, {text: 'Video Library', url: '#videos'}]

#resources.responsive-body
  .col-50
    %h2 Try the course that introduces App Lab
    - img_src =  CDO.code_org_url("/shared/images/courses/logo_cspunit3.jpg")
    .courseblock-span6.courseblock-wide-large{style: "height: 363px; max-width: 100%"}
      %a{:href=>CDO.studio_url("/s/csp3")}
        %img{src: img_src, style: "width: 100%"}
        .courseblock-span5{style: "padding: 0 20px 0 20px;"}
          %h3= I18n.t("csp3_name")
          %h4= I18n.t("cspunit3_gradelevel")
          .smalltext= I18n.t("cspunit3_shortdescription_congrats")
          %button{style: "margin-left: 10px; margin-top: 20px;"}= I18n.t(:view_unit)
    .clear

  .col-50
    %h2 Watch this video introduction to App Lab
    = view :display_video_thumbnail, id: "app_lab_in_classroom", video_code: "e1St8LB4VJA", play_button: 'center', download_path: "//videos.code.org/applab/in-the-classroom.mp4"
  .clear
  %h2 See how to use App Lab and build your own app with these 10 minute demos
  .col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
    = view :display_video_thumbnail, id: "app_lab_intro", video_code: "xlbRL5eOgkI", play_button: 'center', download_path: "//videos.code.org/applab/how-to-introduction.mp4", letterbox: 'false', play_button: 'center'
  .col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
    = view :display_video_thumbnail, id: "how_to_make_an_app", video_code: "tDnoxkOSfQw", play_button: 'center', download_path: "//videos.code.org/applab/how-to-make-an-app.mp4", letterbox: 'false', play_button: 'center'
  .col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
    = view :display_video_thumbnail, id: "choose_adventure", video_code: "ZhgBSYKWL2A", play_button: 'center', download_path: "//videos.code.org/applab/how-to-choose-your-own-adventure.mp4", letterbox: 'false', play_button: 'center'
  .col-25{style: "padding-right: 10px; margin-bottom: 20px;"}
    = view :display_video_thumbnail, id: "whack_e_moji", video_code: "WZVAA3ajZxc", play_button: 'center', download_path: "//videos.code.org/applab/whack-e-moji.mp4", letterbox: 'false', play_button: 'center'
  .clear

#challenges.responsive-body
  %h2 Explore these sample apps and take the challenge to make them even better
  .highlights-content
    - cta = "Remix the project"
    = view :highlight_item, item: {image: "app-lab/slider-sketch", title: "Slider sketch", desc: "Use the sliders to draw cool patterns and designs. Challenge: Add another slider to change the thickness of the line.", cta: cta, url: 'https://studio.code.org/projects/applab/JNbplBXMisx2aMefUkh39g/remix'}
    = view :highlight_item, item: {image: "app-lab/landmark-flashcards", title: "Landmark flaschards", desc: "Want to learn more about a new subject or practice for a test? Use this app to create flashcards. Challenge: add more cards to the deck or create a whole new deck for your favorite subject.", cta: cta, url: 'https://studio.code.org/projects/applab/sNZOTB_PiXAHt3Q5h_aRgQ/remix'}
    = view :highlight_item, item: {image: "app-lab/milk-adventure", title: "Choose your own adventure", desc: "Choose carefully as you go through this short adventure. Challenge: continue the story by adding in more scenarios and choices. Or create a totally different story!", cta: cta, url: 'https://studio.code.org/projects/applab/nI9iumSHbTn5mHBXl-wxMw/remix'}
    = view :highlight_item, item: {image: "app-lab/poke-pig", title: "Poke the pig", desc: "How many times you can poke the pig before time runs out? Challenge: Add a button and event to be able to play again and again, so you can improve your score.", cta: cta, url: 'https://studio.code.org/projects/applab/r469vc1FFSOxOlUruTFlUA/remix'}
    = view :highlight_item, item: {image: "app-lab/pet-data", title: "Pet poll", desc: "Vote for your favorite pet in this fun app. Challenge: Add more animals so you can vote for more favorites.", cta: cta, url: 'https://studio.code.org/projects/applab/TjHfwdUd3ENlyImb7VX5Cg/remix'}
    = view :highlight_item, item: {image: "app-lab/pensive-painter", title: "Pensive painter", desc: "Take a deep breath, relax, and paint whatever you desire. Challenge: Add a click event to clear the screen so you can start painting a new masterpiece.", cta: cta, url: 'https://studio.code.org/projects/applab/IAK_Qyc23QrkAB61KGvn1g/remix'}
  .clear

#videos
  %h1.responsive-body Video library
  Some of these videos appear in the CS Principles programming unit and are displayed here as a quick introduction to each of the main concepts from the unit. Check out each video to see how you can add new features to your app.

  - cspunit3_videos = []
  - cspunit3_videos << { id: 'app_lab_deep_dive', category_title: 'Deep dive into App Lab', caption: 'Walk through the creation of a personalized survey app from start to finish. It uses user interface elements and a lightweight database to keep track of results.', code: '4DntNOOYmpo', download_path: '//videos.code.org/2015/csp/AppLabDemo.mp4', studio_stage: '' }
  - cspunit3_videos << { id: 'turtle', category_title: 'Procedural abstraction and top-down design', caption: 'Program a turtle to move around the screen and draw anything from basic shapes to complex designs.', code: 'i2KHYUhtOlM', download_path: '//videos.code.org/2015/csp/applab/turtle.mp4', studio_stage: '/s/cspunit3/stage/2/puzzle/1' }
  - cspunit3_videos << { id: 'functions', category_title: '', caption: 'Learn how to define and call functions so you can easily reuse code more efficiently.', code: 'yPWQfa4CHbw', download_path: '//videos.code.org/2015/csp/applab/functions.mp4', studio_stage: '/s/cspunit3/stage/3/puzzle/1' }
  - cspunit3_videos << { id: 'functions_params', category_title: 'Documentation and simple loops', caption: 'Create functions with parameters to make functions that are more flexible and can be used to solve different kinds of problems.', code: 'k7Ji1E97-V0', download_path: '//videos.code.org/2015/csp/applab/functions_parameters.mp4', studio_stage: '/s/cspunit3/stage/6/puzzle/1' }
  - cspunit3_videos << { id: 'loops', category_title: '', caption: 'Learn how to use loops to repeat code and simplify your app.', code: 'G8hfAk4PfOM', download_path: '//videos.code.org/2015/csp/applab/loops.mp4', studio_stage: '/s/cspunit3/stage/7/puzzle/1' }
  - cspunit3_videos << { id: 'design_mode', category_title: 'Event-driven programming and apps', caption: 'Start using design mode to create a user interface for your app where users can click buttons, select from dropdowns, and even use a slider.', code: '-EoTeD4mSNU', download_path: '//videos.code.org/2015/csp/applab/design.mp4', studio_stage: '/s/cspunit3/stage/12/puzzle/1'}
  - cspunit3_videos << { id: 'variables_1', category_title: 'Variables and strings', caption: 'An introduction to variables that can be used throughout your code.', code: 'G41G_PEWFjE', download_path: '//videos.code.org/2015/csp/applab/variables_1.mp4', studio_stage: '/s/cspunit3/stage/14/puzzle/1' }
  - cspunit3_videos << { id: 'variables_2', category_title: '', caption: 'Learn how to use different kinds of variables to make your apps more complex.', code: 'ijjVDBPwA1o', download_path: '//videos.code.org/2015/csp/applab/variables_2.mp4', studio_stage: '/s/cspunit3/stage/15/puzzle/1' }
  - cspunit3_videos << { id: 'conditionals_1', category_title: 'Conditionals and boolean logic', caption: 'Use boolean expressions to make decisions in your app logic.', code: 'y3rCKJNOwpA', download_path: '//videos.code.org/2015/csp/applab/conditionals_1.mp4', studio_stage: '/s/cspunit3/stage/18/puzzle/1' }
  - cspunit3_videos << { id: 'conditionals_2', category_title: '', caption: 'Create conditions with if/else statements to make your app more unique.', code: 'UDi7xgIIW8E', download_path: '//videos.code.org/2015/csp/applab/conditionals_2.mp4', studio_stage: '/s/cspunit3/stage/18/puzzle/1'}
  - cspunit3_videos << { id: 'conditionals_3', category_title: '', caption: 'Add more complex logic like AND and OR to give users more choices in your apps.', code: 'kyFdniI-ZZs', download_path: '//videos.code.org/2015/csp/applab/conditionals_3.mp4', studio_stage: '/s/cspunit3/stage/20/puzzle/1' }
  - cspunit3_videos << { id: 'intro_lists', category_title: 'Loops and arrays', caption: 'Organize your information by using a list in your app.', code: 'KFy7u3Rhozs', download_path: '//videos.code.org/2015/csp/applab/lists_intro_full.mp4', studio_stage: '/s/cspunit3/stage/24/puzzle/1' }
  - cspunit3_videos << { id: 'processing_lists', category_title: 'Processing arrays of data', caption: 'Create charts with your data by processing a list.', code: 'RQ6GJt9f2vg', download_path: '//videos.code.org/2015/csp/applab/processing_lists.mp4', studio_stage: '/s/cspunit3/stage/26/puzzle/1' }
  - cspunit3_videos.each do |video|
    // Show the chapter title at the
    // beginning of each video chapter
    - unless video[:category_title].nil_or_empty?
      .clear
      %h2= video[:category_title]
    %div{style: "float:left; padding:10px; width: 275px;"}
      = view :display_video_thumbnail, id: video[:id],  video_code:video[:code], caption: video[:caption], play_button: 'center', download_path: video[:download_path], letterbox: 'false'
      - unless video[:studio_stage].nil_or_empty?
        %a{href: CDO.studio_url(video[:studio_stage])} Try it now

:javascript
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
