---
title: App Lab
theme: responsive
video_player: true
---

%link{href: "/css/jumbotron-banner.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet"}
%link{href: "/css/highlights.css", rel: "stylesheet"}

= view :jumbotron_banner, img: CDO.code_org_url("/images/app-lab/girl-cropped.jpg"), title: "App Lab", desc: "App Lab is a web-based environment for students to make simple apps. Simply use \"design mode\" to design your app, write code for you app with blocks or in JavaScript, then send the app to your phone in seconds.", specs: "Grades 9-12, All modern browsers, English only", url: CDO.studio_url('/p/applab'), cta: "Make an app", nav_bar: [{text: 'Resources', url: '#resources'}, {text: 'Challenges', url: '#challenges'}, {text: 'Video Library', url: '#videos'}]

#resources.responsive-body
  %h1 Resources to get you started
  Code.org has created a new programming tool, called <a href="#{CDO.studio_url('/p/applab')}">App Lab</a> for the new <a href="#{CDO.code_org_url('/educate/csp')}">Computer Science Principles</a> high school course. You do not need to complete the Computer Science Principles course to use App Lab, but if you'd like an introduction to the tool here are some resources to help.
  .clear
  .col-50
    %h2 Try the course that introduces App Lab
    = view :course_block, id: "cspunit3", height: "363"
  .col-50
    %h2 Watch this video introduction to App Lab
    = view :display_video_thumbnail, id: "AppLabIntro", video_code: "4wY8JmFzZ8c", play_button: 'center', download_path: "//videos.code.org/2015/csp/IntroToAppLab.mp4"
  .clear

#challenges.responsive-body
  %h1 Try your hand at these challenges
  .highlights-content
    - cta = "Remix the project"
    = view :highlight_item, item: {image: "etch-a-sketch", title: "Slider sketch", desc: "Try it now!", cta: cta, url: CDO.studio_url('/projects/applab/R733v_Jibm3iMGP4l_OLdw')}
    = view :highlight_item, item: {image: "art-flashcard", title: "Art flaschards", desc: "Try it now!", cta: cta, url: CDO.studio_url('/projects/applab/v4ybZ5a0mn77KyXmc9caWQ')}
    = view :highlight_item, item: {image: "milk-adventure", title: "Choose your own adventure", desc: "Try it now!", cta: cta, url: CDO.studio_url('/projects/applab/r1A1E1G0dLO-9xe_N2ybZQ')}
    = view :highlight_item, item: {image: "poke-pig", title: "Poke the pig", desc: "Try it now!", cta: cta, url: CDO.studio_url('/projects/applab/zL2kDJpxRjMGTeVRDidiaA')}
    = view :highlight_item, item: {image: "pet-data", title: "Pet poll", desc: "Try it now!", cta: cta, url: CDO.studio_url('/projects/applab/QzJdV431pNEgnMb0-QKVeA')}
    = view :highlight_item, item: {image: "buddha-board", title: "Pensive painter", desc: "Try it now!", cta: cta, url: CDO.studio_url('/projects/applab/-LH9pPrihOxyQtn63ml5_Q')}
  .clear

#videos
  %h1.responsive-body Video library
  - DB[:cdo_cspunit3_videos].each do |item|
    // Show the chapter title at the 
    // beginning of each video chapter
    - unless item[:category_title_s].nil_or_empty?
      .clear
      %h2= item[:category_title_s]
    %div{style: "float:left; padding:10px; width: 275px;"}
      = view :display_video_thumbnail, id: item[:id_s],  video_code:item[:code_s], caption: item[:caption_s], play_button: 'center', download_path: item[:download_path_s]
      - unless item[:studio_stage_s].nil_or_empty?
        %a{href: CDO.studio_url(item[:studio_stage_s])} Try it now

:javascript
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
