---
title: Computer Science Principles
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"Computer Science Principles" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>


<h1>What is CS Principles?</h1>

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video6", video_code: "POiMh0qISpI", play_button: 'center', letterbox: 'false' %>
<i>Bring CS Principles to your school!</i>

<br>

</div>

<div class="col-50">

<p>Computer Science Principles introduces students to the foundational concepts of computer science and challenges them to explore how computing and technology can impact the world. More than a traditional introduction to programming, it is a rigorous, engaging, and approachable course that explores many of the foundational ideas of computing so all students understand how these concepts are transforming the world we live in.</p>

<p>This year-long course can be taught as an AP or non-AP course - no prerequisites required for students or for teachers new to computer science! In addition, our curriculum is available at <a href="https://code.org/commitment", target=_"blank">no cost</a> for anyone, anywhere to teach. And, <a href="https://code.org/educate/professional-learning/middle-high">professional learning opportunities</a> are available!

</div>

<div style="clear: both;"></div>

<table style="border-style:none;">
  <tr>
    <th style="background-color:#0094ca;color:white;border-style:none;">
      “Can I just say I <strong>LOVE</strong> Code.org? It's my first year teaching AP CS Principles (actually 1st year it is offered at our school) - and both the kids and I are having a blast.”<br/>
      <i>Jennifer Douglass, CS Principles Teacher</i>
      </th>
    <th style="background-color:#0094ca;border-style:none;"">
      <img src="/images/fit-125/csp/csp-jennifer-douglass.jpg">
      </th>
    </tr>
  </table>


# Why should you teach CS Principles?

## AP Endorsed

<img src="../files/apcsp_providerbadge_sm_alpha.png" style="float: right; margin-left: 10px; width: 100px" alt="Code.org AP CSP Endorsed Badge">Code.org is recognized by the <a href="http://collegeboard.org/APCSP", target=_"blank">College Board</a> as an endorsed provider of curriculum and professional development for AP® Computer Science Principles. This endorsement affirms that all components of Code.org's CS Principles offerings are aligned to the AP Curriculum Framework standards and the AP CS Principles assessment. This affords schools access to resources including an AP CS Principles syllabus pre-approved by the College Board’s AP Course Audit, and officially recognized professional development that prepares teachers to teach this course.

Teaching CS Principles as an AP course? Don't forget to submit the <a href="/files/CSPSyllabus2019.pdf", target=_"blank">2019-20 AP Endorsed Syllabus</a> for the AP course audit.

## <a name="overview"></a>Engaging Curriculum

Our team designed the AP CS Principles curriculum to support students and teachers new to the discipline. The curriculum includes daily lesson plans mad up of inquiry-based actvities, videos, assessments, and computing tools, allowing teachers to guide and learn alongside students as they discover core computing concepts.

[col-33]

<center><img src="/images/csp-net-sim.png" style="width:300px"></center>

<div style="margin-left: 15px; margin-top: 5px;">Students learn about the challenges of supporting a giant network like the world wide web, while solving problems about encoding and transmitting data using the <a href="https://studio.code.org/s/netsim", target=_"blank">Internet Simulator</a>.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/binary.gif" style="width:300px"></center>

<div style="margin-left: 15px; margin-top: 5px;">Students get hands on experience with concepts like binary and pixels, text compression, cryptography, and more through <a href="/educate/csp/widgets">computational widgets</a>, which are directly integrated into the course.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/fieldofflowers.gif" style="width:300px"></center>

<div style="margin-left: 15px; margin-top: 5px;"> Using the JavaScript language, students learn about algorithms and program design as they create a series of real working, shareable apps with <a href="/educate/applab">App Lab</a>.</div>

[/col-33]

<p style="clear:both">&nbsp;</p>

## Extensive Teacher Resources

[col-33]

[<center><img src="/images/csp/csp-crop-cover.jpg" style="width:300px">](https://docs.google.com/document/d/1ZVzF_-cON8pjDVUOZjVk32y4flCMXugcrA6gFeWDHzE/preview)</center>

<div style="margin-left: 15px; margin-top: 5px;">Check out the <a href="https://docs.google.com/document/d/1ZVzF_-cON8pjDVUOZjVk32y4flCMXugcrA6gFeWDHzE/preview", target=_"blank">Curriculum Guide</a> to learn more about the classroom and student practices that flow throughout the course, overviews of each unit, implementation considerations, and guidance for navigating course tools and teacher resources.</div>

[/col-33]

[col-33]

[<center><img src="/images/animated-examples/lessonplans.png" style="width:300px">](https://curriculum.code.org/csp)</center>

<div style="margin-left: 15px; margin-top: 5px;">Teachers have access to <a href="https://curriculum.code.org/csp">daily lesson plans</a> that come with detailed instructions, activity guides, assessments, standards alignments, required resources, and more!</div>

[/col-33]

[col-33]

[<center><img src="/images/teacher_dashboard.png" style="width:300px">](https://studio.code.org/home)</center>

<div style="margin-left: 15px; margin-top: 5px;">Create and manage your classroom sections, check student progress, administer assessments, and integrate with your Google or Clever classroom, all from your <a href="https://studio.code.org/home">Teacher Dashboard</a>! (Sign in required.)</div>

[/col-33]

<p style="clear:both">&nbsp;</p>

## <a name="pl"></a>Professional Learning

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: 'false' %>
<i>Interested in professional learning? <a href="/educate/professional-learning/middle-high" target="_blank">Find out more!</a></i>


</div>

[col-50]

<a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf", target=_"blank"><img src="/images/csp-brown-study.png" style="width:467px"></a>

[/col-50]

<div style="clear: both;"></div>

<br>

Looking for an in-depth program to help you implement CS Principles? Apply to join a Professional Learning Program in your region! Code.org's Regional Partners offer hands-on, Code.org-designed workshops to thousands of eachers across the country each year. 

Whether you’re brand new to computer science or an experienced teacher looking for the best way to use the Code.org curriculum, our Professional Learning Program is a great way to get started. Compared with similarly-situated schools, <a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf", target=_"blank">a school's participation in the Code.org program causes an estimated five-fold increase</a> in the number of students that take, and earn qualifying scores on the AP Computer Science Principles exam. And teachers love it! Over 90% rank it the best professional development ever.

[<button>Learn about professional learning</button>](/educate/professional-learning/middle-high)

# Keep up with CS Principles!

## Coming Soon: CS Principles 2020-21

As with all of our courses, we are committed to making regular updates to our CS Principles curriculum to make sure we continue to meet students’ and teachers’ needs, while supporting the best classroom experience possible. We’re planning some very exciting updates to CS Principles 2020-21, which will align with the new AP framework and incorporate the invaluable feedback we receive from our teachers and students!

<a href="https://code.org/files/2020-21_CSPrinciples_1-pager.pdf", target=_"blank">Check out our 1-pager</a> for an overview of what's in store for the 2020-21 version of the course, and stay tuned!

## Stay connected

<div class="col-33" style="padding-right: 20px;">

<h4>Let us know how we're doing</h4>

We are always looking for ways to improve our courses. If something's not quite working, or you have ideas about features that you'd like to see, we'd love to hear from you!
<br>

<a href="mailto:support@code.org"><button>Give feedback</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Subscribe for the latest news</h4>

Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for CS Principles.
<br><br>

<a href="/educate/csp/CSPStatus_Signup"> <button>Sign up</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Chat about CS Principles in the forum</h4>

We have forums for educators to discuss and trade ideas about the CS Principles curriculum. Code.org forums are used for all of our courses, K-12.
<br><br>

<a href="http://forum.code.org/c/csp"> <button>Visit the forum</button></a>

</div>

<div style="clear:both"></div>

## Spread the word about CS Principles

### Inspire students to enroll in the course:

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video4", video_code: "jQm0z894CG0", play_button: 'center', letterbox: 'false' %>
<i>Play this video.</i>

<br>

</div>

<div class="col-50">

<a href="https://code.org/files/programs/csp-student-flyer.pdf"><img src="https://code.org/images/csp/csp-student-flyer.png" style="width:203px"></a>
<a href="https://code.org/files/programs/csp-recruitment-poster.pdf"><img src="https://code.org/images/csp/csp-recruitment-poster.png" style="width:203px"></a>
<p><i>Send home these fliers.</i></p>

</div>

<div style="clear:both"></div>

### Hang these posters in your classroom and around your school:

[![image](/images/fit-200/kieran_rory_CS_recruitment.png)](/files/programs/kieran_rory_CS_recruitment.pdf)
[![image](/images/fit-200/kulkarni_parker_CS_recruitment.png)](/files/programs/kulkarni_parker_CS_recruitment.pdf)
[![image](/images/fit-200/madison_maxey_CS_recruitment.png)](/files/programs/madison_maxey_CS_recruitment.pdf)
[![image](/images/fit-200/javier_aguera_CS_recruitment.png)](/files/programs/javier_aguera_CS_recruitment.pdf)

<i><a href="https://code.org/educate/resources/posters">Check out the full poster gallery</a> for even more decorating options!</i>

## Frequently Asked Questions

Click on the questions below to see answers to our most frequently asked questions!

<br>

<details>
	<summary style="font-size: 18px">Is CS Principles mapped to standards?</summary>
	<p>
	<br/>
CS Principles was written using the AP CS Principles Framework and prepares students for the AP CS Principles exam. The course has also been aligned to the newly revised 2017 CSTA standards. A summary of standards mappings can be found at [curriculum.code.org/csp/standards](https://curriculum.code.org/csp/standards)
</details>

<details>
	<summary style="font-size: 18px">How/Where can I get professional development for this course?</summary>
	<p>
	<br/>
Our Professional Learning Program offers year-round support. The program kicks off with a 5-day summer workshop where you'll have an opportunity to work hands-on with the curriculum and meet other teachers from your area. Throughout the year, we offer online support for upcoming units, forum support, and 1-day quarterly workshops. You don't need any prior computer science experience to get started. And teachers love it! 90% rank it the best professional development ever. [Click here](/educate/professional-learning/middle-high) to apply and learn more.

Have questions about professional development? <a href="https://studio.code.org/pd/regional_partner_contact/new", target=_"blank">Provide your contact information</a> to a Regional Partner in your area.
</details>

<details>
	<summary style="font-size: 18px">What is the recommended timing for teaching CS Principles?</summary>
	<p>
	<br/>
We recommend that CS Principles be taught as a full year course, assuming that you meet with students daily or nearly daily for 45 or more minutes. Full-year schedules where students are in class for a similar amount of time per week will also work.

It is possible to teach the course on a semester block schedule, though we highly recommend this implementation only be used in the fall semester. Since the AP Performance Tasks are due in late April and require 20 dedicated hours of class time to complete, most schools find there is not enough time to complete the course on a block schedule in the spring.

</details>

<details>
	<summary style="font-size: 18px"><a name="materials"></a>What materials do I need for this course?</summary>
	<p>
	<br/>
**Required Materials:**

This course requires that students have access to computers with a modern web browser. At this time, our courses are not optimized for tablets or mobile devices. For more details, check out [Code.org's technology requirements](/educate/it).

Many lessons have handouts that are designed to guide students through activities. While these handouts are not required, we highly recommend their use. 

In addition to handouts, several lessons call for specific items. You can find these listed below as well as our suggestions for alternatives:

- **Unit 1, Lesson 2:** various craft materials for constructing physical devices such as cups, string/yarn, construction paper, flashlights, slinkies, noise makers, markers, and glue
- **Unit 3, Lesson 1:** A handful of legos per 2-3 students (alternatives: post-it notes, construction paper)
- **Unit 3, Lesson 2 - 3:** Playing cards, we recommend 1 deck per 6 students (alternative: write numbers of post-it notes)
- **Unit 4, Lesson 8:** Clear dixie cups with beans (alternatives: any clear container such as a ziplock bag, empty water bottle, etc., and/or any small item such as beads, raisins, coffee beans, etc.)

**Optional Materials**

The following supplies are completely optional but will be useful to have on hand for various lessons:

- Graph paper
- Chart paper
- Markers
- Post-it notes

</details>

<details>
	<summary style="font-size: 18px">How can I access answer keys?</summary
	<p>
	<br/>
With an approved teacher account you can find answer keys in a blue "Teacher Only" panel that shows in the online lessons and activities.

Teachers in our professional learning program will automatically be approved to view answer keys.  If you need an approved teacher account, any teacher can apply for Code Studio access to protected teacher-only materials (answer keys, etc) through <a href="https://docs.google.com/forms/d/1f5QPKi3F_3nBDR8q9BcXCqixzY7SCQd7Seob0-JYizU/viewform" target=_"blank">this form</a>.

</details>

<details>
	<summary style="font-size: 18px">Are there supports in CS Principles for students with learning differences or disabilities?</summary>
	<p>
	<br/>
Yes. Code.org has collaborated closely with partners to make our CS Principles curriculum accessible. Every lesson includes detailed recommendations from the <a href="http://outlier.uchicago.edu/accessCSP/", target=_"blank">accessCSP project from Outlier Research</a> on how activities can be supplemented and modified to meet the needs of students with learning disabilities and attention deficit disorders, including reading disorders, written expression disorders, math disorders, and language disorders. In addition, the Lesson-Specific Adjustment Guides identify the underlying psychological process that each adjustment addresses, including processes related to: aspects of reasoning; areas of language; different types of memory; fine motor; processing, timing, and pacing; aspects of visual processing; and executive functioning, attention, and social skills.
</details>

<details>
	<summary style="font-size: 18px">Does the course have resources for blind or visually impaired students?</summary>
	<p>
	<br/>
Our partners at <a href="https://www.washington.edu/accesscomputing/accesscsforall", target=_"blank">AccessCSforAll</a> have created an <a href="https://quorumlanguage.com/lessons/code.html", target=_"blank">accessible version of the curriculum and online tools</a> designed specifically for students with these disabilities. AccessCSforAll also runs a <a href="https://quorumlanguage.com/epiq.html", target=_"blank">summer professional development</a> to help teachers learn how to support these students. 
</details>

<details>
	<summary style="font-size: 18px">How was the course developed?</summary>
	<p>
	<br/>
Please see this page about [CS Principles Inspirations](/educate/csp/inspirations) to read about the influential works in computer science education that form some of the course's philosophical underpinnings.

For more information about our goals and approach to our courses, please see our <a href="https://code.org/educate/curriculum/values">curriculum values</a> and our <a href="https://code.org/educate/professional-learning/values">professional learning values</a>.

</details>

<br>

<hr/>

AP® is a registered trademark of the College Board.

<!--

### Don't miss these additional resources:

- [**Course Materials List**](#materials)
- <a href="https://www.youtube.com/playlist?list=PLzdnOPI1iJNfV5ljCxR8BZWJRT_m_6CpB", target=_"blank">**CS Principles Video Library**</a>
- [**Code.org Video Library**](/educate/resources/videos)

### Share these videos with students, teachers, and administrators:


<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video4", video_code: "jQm0z894CG0", play_button: 'center', letterbox: 'false' %>
<i>Inspire students</i>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video5", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: 'false' %>
<i>Recruit teachers</i>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video6", video_code: "POiMh0qISpI", play_button: 'center', letterbox: 'false' %>
<i>Engage administrators</i>

</div>

<div style="clear: both;"></div>

[![image](/images/fit-200/csp/CSPrinciples_1-pager.png)](/files/CSPrinciples_1-pager.pdf)

-->
