---
title: CS Principles
video_player: true
theme: responsive
style_min: true
---

<%=view :solid_block_header, :title=>"Computer Science Principles" %>

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<link href="/css/educate.css" rel="stylesheet">

<style>
  details summary {
    cursor: pointer;
  }
</style>

<br>

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video6", video_code: "POiMh0qISpI", play_button: 'center', letterbox: 'false' %>
<i>Bring CS Principles to your school!</i>

<br>

</div>

<div class="col-50">

<p>Computer Science Principles introduces students to the foundational concepts of computer science and challenges them to explore how computing and technology can impact the world. More than a traditional introduction to programming, it is a rigorous, engaging, and approachable course that explores many of the foundational ideas of computing so all students understand how these concepts are transforming the world we live in.</p>

<p>This year-long course can be taught as an introductory course and as an AP course - no prerequisites required for students or for teachers new to computer science! In addition, our curriculum is available at <strong>no cost</strong> for anyone, anywhere to teach. And, <a href="https://code.org/educate/professional-learning/middle-high">professional learning opportunities</a> are available!
<p>
<a href="https://curriculum.code.org/csp-20", target=_"blank"><button>Check out the course!</button></a>
<p>

</div>

<div style="clear: both;"></div>

# Why should you teach CS Principles with Code.org?

## It's endorsed by the College Board.

<img src="../files/apcsp_providerbadge_sm_alpha_2020.png" style="float: right; margin-left: 10px; width: 100px" alt="Code.org AP CSP Endorsed Badge">Code.org is recognized by the <a href="http://collegeboard.org/APCSP", target=_"blank">College Board</a> as an endorsed provider of curriculum and professional development for AP® Computer Science Principles. This endorsement affirms that all components of Code.org's CS Principles offerings are aligned to the AP Curriculum Framework standards and the AP CS Principles assessment. This affords schools access to resources including an AP CS Principles syllabus pre-approved by the College Board’s AP Course Audit, and officially recognized professional development that prepares teachers to teach this course.

## It's backed by research.

<a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college. 

Students who take AP Computer Science Principles, in particular, are <a href="https://medium.com/@codeorg/study-computer-science-students-much-more-likely-to-enroll-in-college-faca65b1476d">12% more likely to enroll in college</a> compared to similarly-situated peers, and students who take AP exams are <a href="https://files.eric.ed.gov/fulltext/ED519365.pdf">more likely to graduate 4-year college</a>, regardless of their score on the exam. AP computer science students also earn <a href="https://blog.code.org/post/125429946375/cs-other-subjects">better AP Calculus scores</a> than comparable students who don’t take AP computer science.

## <a name="overview"></a>The course is designed for beginners.

Our team designed the AP CS Principles curriculum to support students and teachers new to the discipline. The curriculum includes daily lesson plans made up of inquiry-based actvities, videos, assessments, and computing tools, allowing teachers to guide and learn alongside students as they discover core computing concepts.

Every lesson plan and activity is tested by a diverse mix of classrooms around the country to make sure it’s appropriate and engaging for all students. 

[col-33]

<center><img src="/images/csp-net-sim.png" style="width:300px"></center>

<div style="margin-left: 15px; margin-top: 5px;">Students learn about the challenges of supporting a giant network like the world wide web, while solving problems about encoding and transmitting data using the <a href="https://studio.code.org/s/netsim", target=_"blank">Internet Simulator</a>.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/binary.gif" style="width:300px"></center>

<div style="margin-left: 15px; margin-top: 5px;">Students get hands on experience with concepts like binary and pixels, text compression, cryptography, and more through <a href="/educate/csp/widgets">computational widgets</a>, which are directly integrated into the course.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/outfit-generator.gif" style="height:300px"></center>

<div style="margin-left: 15px; margin-top: 5px;"> Using the JavaScript language, students learn about algorithms and program design as they create a series of real working, shareable apps with <a href="/educate/applab">App Lab</a>.</div>

[/col-33]

<p style="clear:both">&nbsp;</p>

## We support you every step of the way with extensive teacher resources.

[col-33]

[<center><img src="/images/csp/csp-crop-cover-20-21.png" style="width:300px">](https://docs.google.com/document/d/1KXRZhIWSgKHg458_Hfgii7Fuq8AarmYOOfJI1V47DWU/preview)</center>

<div style="margin-left: 15px; margin-top: 5px;">Check out the <a href="https://docs.google.com/document/d/1KXRZhIWSgKHg458_Hfgii7Fuq8AarmYOOfJI1V47DWU/preview", target=_"blank">Curriculum Guide</a> to learn more about the classroom and student practices that flow throughout the course, overviews of each unit, implementation considerations, and guidance for navigating course tools and teacher resources.</div>

[/col-33]

[col-33]

[<center><img src="/images/animated-examples/lessonplans.png" style="width:300px">](https://curriculum.code.org/csp-20)</center>

<div style="margin-left: 15px; margin-top: 5px;">The CS Principles curriculum page is where teachers can access <a href="https://curriculum.code.org/csp-20">daily lesson plans</a>. Along with integrated discussion goals, teaching tips, and assessment opportunities, our lesson plans come with detailed pacing instructions, activity guides, required resources, and more!</div>

[/col-33]

[col-33]

[<center><img src="/images/teacher_dashboard.png" style="width:300px">](https://studio.code.org/home)</center>

<div style="margin-left: 15px; margin-top: 31px;">Create and manage your classroom sections, check student progress, administer assessments, and integrate with your Google or Clever classroom, all from your <a href="https://studio.code.org/home">Teacher Dashboard</a>! (Sign in required.)</div>

[/col-33]

<p style="clear:both">&nbsp;</p>

## <a name="pl"></a>Our Professional Learning Program comes recommended by more than 100,000 teachers.

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: 'false' %>
<i>Interested in professional learning? <a href="/educate/professional-learning/middle-high" target="_blank">Find out more!</a></i>


</div>

[col-50]

<a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf", target=_"blank"><img src="/images/csp-brown-study.png" style="width:467px"></a>

[/col-50]

<div style="clear: both;"></div>

<br>

Compared with similarly-situated schools, <a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf">a school's participation in the Code.org Professional Learning program causes an estimated five-fold increase</a> in the number of students that take, and earn qualifying scores on the AP Computer Science Principles exam. And teachers love it! Over 90% rank it the best professional development ever.

Whether you’re brand new to computer science or an experienced teacher looking for the best way to use the Code.org curriculum, our Professional Learning Program is a great way to get started.

[<button>Learn more!</button>](/educate/professional-learning/middle-high)

<br>

<table style="border-style:none;">
  <tr>
    <th style="background-color:#0094ca;color:white;border-style:none;">
      “Can I just say I <strong>LOVE</strong> Code.org? It's my first year teaching AP CS Principles (actually 1st year it is offered at our school) - and both the kids and I are having a blast.”<br/>
      <i>Jennifer Douglass, CS Principles Teacher</i>
      </th>
    <th style="background-color:#0094ca;border-style:none;"">
      <img src="/images/fit-125/csp/csp-jennifer-douglass.jpg">
      </th>
    </tr>
</table>

# Getting started with CS Principles!

<a name="coming-soon"></a>

## Resources for teaching CS Principles 2020-21

<div class="col-60" style="padding-right: 20px;">

Do you have previous experience teaching CS Principles? We've put together a hub of resources to help you get started teaching the latest version of the course!

These resources include:

<ul>
 <li>5 steps to get started with CS Principles 2020-21
 <li><a href="https://code.org/files/CSPSyllabus2020.pdf", target=_"blank">AP CS Principles 2020-21 syllabus for the AP Course Audit</a>
 <li>Our pedagogical approach to programming units
 <li>How to get support from the team
 <li>And more!
</ul>

<a href="/educate/csp-course-updates"> <button>Learn more about teaching the latest version of CS Principles</button></a>

</div>

<div class="col-40">

<a href="https://code.org/files/CSPSyllabus2020.pdf", target=_"blank"><center><img src="../files/csp-syllabus-2020.png" style="margin-top: 10px; margin-bottom: 10px; width: 203px" alt="Code.org AP CSP Syllabus"></center></a>

</div>

<div style="clear:both"></div>

## Stay connected

<div class="col-33" style="padding-right: 20px;">

<h4>Let us know how we're doing</h4>

We are always looking for ways to improve our courses. If something's not quite working, or you have ideas about features that you'd like to see, we'd love to hear from you!
<br>

<a href="mailto:support@code.org"><button>Give feedback</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Subscribe for the latest news</h4>

Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for CS Principles.
<br><br>

<a href="/educate/csp/CSPStatus_Signup"> <button>Sign up</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Chat about CS Principles in the forum</h4>

We have forums for educators to discuss and trade ideas about the CS Principles curriculum. Code.org forums are used for all of our courses, K-12.
<br><br>

<a href="http://forum.code.org/c/csp"> <button>Visit the forum</button></a>

</div>

<div style="clear:both"></div>

## Spread the word about CS Principles

### Inspire students to enroll in the course:

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video4", video_code: "jQm0z894CG0", play_button: 'center', letterbox: 'false' %>
<i>Play this video.</i>

<br>

</div>

<div class="col-50">

<a href="https://code.org/files/programs/csp-student-flyer.pdf"><img src="https://code.org/images/csp/csp-student-flyer.png" style="width:203px"></a>
<a href="https://code.org/files/programs/csp-recruitment-poster.pdf"><img src="https://code.org/images/csp/csp-recruitment-poster.png" style="width:203px"></a>
<p><i>Send home these fliers.</i></p>

</div>

<div style="clear:both"></div>

### Hang these posters in your classroom and around your school:

[![image](/images/fit-200/kieran_rory_CS_recruitment.png)](/files/programs/kieran_rory_CS_recruitment.pdf)
[![image](/images/fit-200/kulkarni_parker_CS_recruitment.png)](/files/programs/kulkarni_parker_CS_recruitment.pdf)
[![image](/images/fit-200/madison_maxey_CS_recruitment.png)](/files/programs/madison_maxey_CS_recruitment.pdf)
[![image](/images/fit-200/javier_aguera_CS_recruitment.png)](/files/programs/javier_aguera_CS_recruitment.pdf)

<i><a href="https://code.org/educate/resources/posters">Check out the full poster gallery</a> for even more decorating options!</i>

## Frequently Asked Questions

For answers to our most frequently asked questions, click on the questions below!

<details style="margin-left: 20px">
	<summary style="font-size: 18px">Can I teach this course in a virtual setting or in a socially-distanced classroom?</summary>
	<p>
	<br/>
While our course is intented to be taught in-person to build a collaborative and inclusive classroom environment, for the 2020-21 school year, we have provided guidance for teachers with ways to amend the activites for virtual asynchronous, virtual synchronous, and socially-distanced learning environments. Find out more about these resources on our <a href="https://forum.code.org/t/announcing-modifications-for-virtual-and-socially-distanced-classrooms/33005", target=_"blank">forum post</a>. 

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">Is CS Principles mapped to standards?</summary>
	<p>
	<br/>
CS Principles was written using the AP CS Principles Framework and prepares students for the AP CS Principles exam. The course has also been aligned to the newly revised 2017 CSTA standards. A summary of standards mappings can be found at [curriculum.code.org/csp/standards](https://curriculum.code.org/csp/standards)
</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">How much does it cost to teach the course?</summary>
	<p>
	<br/>
Our curriculum and platform are available at <a href="https://code.org/commitment">no cost</a> for anyone, anywhere, to teach!
</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">How/Where can I get professional development for this course?</summary>
	<p>
	<br/>
Our Professional Learning Program offers year-round support. The program kicks off with a 5-day summer workshop where you'll have an opportunity to work hands-on with the curriculum and meet other teachers from your area. Throughout the year, we offer forum support and follow-up workshops. You don't need any prior computer science experience to get started. And teachers love it! 90% rank it the best professional development ever. [Click here](/educate/professional-learning/middle-high) to apply and learn more.

Have questions about professional development? <a href="/educate/professional-learning/contact-regional-partner", target=_"blank">Provide your contact information</a> to a Regional Partner in your area.

<strong>If you previously participated in the Code.org Professional Learning Program for CS Principles</strong>, your Regional Partner may be hosting a follow-up workshop to help support your transition to the new course. <a href="https://code.org/educate/professional-learning/contact-regional-partner", target=_"blank">Please contact your Regional Partner</a> for more details.
</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">What is the recommended timing for teaching CS Principles?</summary>
	<p>
	<br/>
We recommend that CS Principles be taught as a full year course, assuming that you meet with students daily or nearly daily for 45 or more minutes. 

It is possible to teach the course on a semester block schedule, though we highly recommend this implementation only be used in the fall semester. Since the AP Performance Tasks are due in late April and require 20 dedicated hours of class time to complete, most schools find there is not enough time to complete the course on a block schedule in the spring.

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px"><a name="materials"></a>What materials do I need for this course?</summary>
	<p>
	<br/>
**Required Materials:**

This course requires that students have access to computers with a modern web browser. At this time, our courses are not optimized for tablets or mobile devices. For more details, check out [Code.org's technology requirements](/educate/it).

Many lessons have handouts that are designed to guide students through activities. While these handouts are not required, we highly recommend their use. 

In addition to handouts, several lessons call for specific items. You can find these listed below as well as our suggestions for alternatives:

- **Unit 1, Lesson 2:** Assortment of craft materials for constructing physical devices. Recommendations: cups, string/yarn, construction paper, flashlights, slinkies, noise makers, markers, and glue, etc. <i>Alternative: none.</i>
- **Unit 2, Lesson 2:**  String for table groups to build a network connecting them. <i>Alternative: Students draw their network but don't actually build it.</i>
- **Unit 3, Lesson 5:** A handful of LEGO® blocks for every pair of students. <i>Alternative: Sticky notes, construction paper.</i>
- **Unit 4, Lessons 1 & 5:** Plastic bags, sticky notes, dry erase markers. <i>Alternative: Envelopes.</i>
- **Unit 5, Lesson 1:** Plastic bags, gallon-sized plastic bags, sticky notes, dry erase markers, tape. <i>Alternative: Envelopes.</i>
- **Unit 6, Lessons 2 & 3:** Sticky notes. <i>Alternative: Scraps of paper.</i>
- **Unit 6, Lesson 4:** Decks of cards. <i>Alternative: Any item that could be combined into two categories (e.g. change with even / odd year).</i>
- **Unit 7, Lessons 1 & 5:** Sticky notes, envelopes, plastic bags, file folders. <i>Alternative: Scraps of paper, folders made of a folded sheet of paper, etc.</i>

**Optional Materials**

The following supplies are completely optional but will be useful to have on hand for various lessons:

- Graph paper
- Chart paper
- Markers
- Post-it notes

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">How can I access answer keys?</summary>
	<p>
	<br/>
With an approved teacher account you can find answer keys in a blue "Teacher Only" panel that shows in the online lessons and activities. 

Teachers in our Professional Learning Program will automatically be approved to view answer keys. If you need an approved teacher account, you can apply for access to protected teacher-only materials (answer keys, etc) through <a href="https://docs.google.com/forms/d/1f5QPKi3F_3nBDR8q9BcXCqixzY7SCQd7Seob0-JYizU/viewform" target=_"blank">this form</a>. Please keep in mind that it may take 3-5 business days to verify your account.

</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">Are there supports in CS Principles for students with learning differences or disabilities?</summary>
	<p>
	<br/>
We have partnered with <a href="https://www.washington.edu/accesscomputing/accesscsforall", target=_"blank">AccessCSforAll</a> to develop an accessible version of CS Principles mapped lesson by lesson to our 2020-21 curriculum, similar to the one they designed for previous versions of our course. This course will be designed to support students with a diverse array of disabilities including those related to vision, hearing, mobility, learning, or other abilities. That curriculum is under active development and will be shared broadly when it is ready to be released.

If you are teaching CS Principles as a non-AP course, you may also consider continuing to use either the 2019 version of the curriculum, which has resources from <a href="http://outlier.uchicago.edu/accessCSP/", target=_"blank">accessCSP project from Outlier Research</a>, or teaching the <a href="https://quorumlanguage.com/lessons/code.html", target=_"blank">accessible version of the 2019-20 curriculum</a> designed by AccessCSforAll. More information on both can be found on pages 1 and 39 of the <a href="https://docs.google.com/document/d/1ZVzF_-cON8pjDVUOZjVk32y4flCMXugcrA6gFeWDHzE/preview", target=_"blank">curriculum guide for the 2019 course</a>.
</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">Does the course have resources for blind or visually impaired students?</summary>
	<p>
	<br/>
Our partners at <a href="https://www.washington.edu/accesscomputing/accesscsforall", target=_"blank">AccessCSforAll</a> have created an <a href="https://quorumlanguage.com/lessons/code.html", target=_"blank">accessible version of the curriculum and online tools</a> designed specifically for students with these disabilities. AccessCSforAll also runs a <a href="https://quorumlanguage.com/epiq.html", target=_"blank">summer professional development</a> to help teachers learn how to support these students. 
</details>

<details style="margin-left: 20px">
	<summary style="font-size: 18px">How was the course developed?</summary>
	<p>
	<br/>
Our CS Principles curriculum has always been designed as part of a broader vision of supporting high quality, engaging, and equitable computer science instruction in classrooms across the country. Our <a href="https://code.org/educate/curriculum/values", target=_"blank">Curriculum Values</a> continue to guide us, and in particular our focus on expanding access to those who historically have been denied opportunities to learn about the exciting and impactful field of computing.

While our vision and values remain unchanged, the landscape of CS education is rapidly developing. For the 2020-21 school year the College Board has made some significant updates to the CS Principles framework and AP assessment to ensure the course remains relevant and aligned with equivalent university courses. CS education research continues to reveal new insights on how students learn about computing, and feedback from the thousands of classrooms now using our CS Principles curriculum has identified opportunities to further improve our courses, tools, and recommended pedagogy. The goal of the updates to our course is to navigate these developments in a way that remains committed to our vision and values and supports the many teachers, schools, classrooms, and districts that are already a part of our broader CS Principles community. We remain deeply thankful for you joining us on this mission to make our collective vision a reality.

For more information about our goals and approach to our courses, please see our <a href="https://code.org/educate/curriculum/values">curriculum values</a> and our <a href="https://code.org/educate/professional-learning/values">professional learning values</a>.

</details>

<br>

<hr/>

AP® is a registered trademark of the College Board.

<!--

### Don't miss these additional resources:

- [**Course Materials List**](#materials)
- <a href="https://www.youtube.com/playlist?list=PLzdnOPI1iJNfV5ljCxR8BZWJRT_m_6CpB", target=_"blank">**CS Principles Video Library**</a>
- [**Code.org Video Library**](/educate/resources/videos)

### Share these videos with students, teachers, and administrators:


<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video4", video_code: "jQm0z894CG0", play_button: 'center', letterbox: 'false' %>
<i>Inspire students</i>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video5", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: 'false' %>
<i>Recruit teachers</i>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video6", video_code: "POiMh0qISpI", play_button: 'center', letterbox: 'false' %>
<i>Engage administrators</i>

</div>

<div style="clear: both;"></div>

[![image](/images/fit-200/csp/CSPrinciples_1-pager.png)](/files/CSPrinciples_1-pager.pdf)

-->
