---
title: Computer Science Principles
video_player: true
theme: responsive
style_min: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

# Computer Science Principles

## <a name="whatis"></a>What is CS Principles?

Computer Science Principles introduces students to the foundational concepts of computer science and challenges them to explore how computing and technology can impact the world. More than a traditional introduction to programming, it is a rigorous, engaging, and approachable course that explores many of the foundational ideas of computing so all students understand how these concepts are transforming the world we live in.

<br>
This year-long course can be taught as an AP or non-AP course - no prerequisites required for students or for teachers new to computer science! In addition, our curriculum is available at no cost for anyone, anywhere to teach. For more information about our goals and approach to our courses, please see our [curriculum values](/educate/curriculum/values) and our [professional learning values](/educate/professional-learning/values).

<br>
<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: 'false' %>
<i>Interested in teaching the course? <a href="https://youtu.be/jQm0z894CG0" target="_blank">Find out more!</a></i>

</div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/courses/csp-2019'), cta_text: 'View course', lesson_plans: 'https://curriculum.code.org/csp', img: CDO.code_org_url('/shared/images/banners/small-purple-icons.png'), title: 'Computer Science Principles', ages: 'Recommended for Grades 9-12', description: 'Computer Science Principles is a course designed to prepare students (and teachers) who are new to computer science for the AP CS Principles exam. The course covers many topics including the Internet, Big Data and Privacy, and Programming and Algorithms.'%>

[/col-50]

<div style="clear: both;"></div>

<hr/>

## <a name="pl"></a>Professional Learning

Code.org offers hands-on workshops and online support. Over 80,000 teachers have been through our professional development workshops and thousands more attend every month. This year, we even have virtual professional learning options available! 

Whether you’re brand new to computer science or an experienced tech teacher looking for the best way to use the Code.org curriculum, our Professional Learning Program is a great way to get started. And teachers love it! Over 90% rank it the best professional development ever.

[<button>Learn about professional learning</button>](/educate/professional-learning/middle-high)

## Code.org's AP CS Principles Curriculum

<img src="../files/apcsp_providerbadge_sm_alpha.png" style="float: right; width: 100px" alt="Code.org AP CSP Endorsed Badge">Code.org is recognized by the [College Board](http://collegeboard.org/APCSP) as an endorsed provider of curriculum and professional development for AP® Computer Science Principles. This endorsement affirms that all components of Code.org CS Principles’s offerings are aligned to the AP Curriculum Framework standards and the AP CS Principles assessment. Using an endorsed provider affords schools access to resources including an AP CS Principles syllabus pre-approved by the College Board’s AP Course Audit, and officially recognized professional development that prepares teachers to teach this course.

 * [Code.org 2018-19 AP CS Principles Endorsed Syllabus](/files/CSPSyllabusMay2018.pdf)
 * [Instructions: How to add our authorized syllabus to your AP Course Audit](https://docs.google.com/document/d/e/2PACX-1vTSyvx8DlFWGAofOpLgyw4PlcphZbEDydsd9-_kEwoqjWzIPSq-MwyTg8u6roRfp8AeETrqTryoS5vm/pub)

<div style="clear:both"></div>

## <a name="overview"></a>Curriculum Resources and Features

[col-33]

[<center><img src="/images/csp/csp-crop-cover.jpg" width="90%">](https://docs.google.com/document/d/1ZVzF_-cON8pjDVUOZjVk32y4flCMXugcrA6gFeWDHzE/preview)</center>

<div style="margin-left: 15px; margin-top: 5px;">The <a href="https://docs.google.com/document/d/1ZVzF_-cON8pjDVUOZjVk32y4flCMXugcrA6gFeWDHzE/preview", target=_"blank">Curriculum Guide</a> contains details about the classroom and student practices that flow throughout the course, overviews of each unit, and implementation considerations.</div>

[/col-33]

[col-33]

[<center><img src="/images/animated-examples/lessonplans.png" width="90%">](https://curriculum.code.org/csp)</center>

<div style="margin-top: 5px;"><a href="https://curriculum.code.org/csp">Daily lesson plans</a> come with detailed instructions, activity guides, assessments, standards mappings, and more.</div>

[/col-33]

[col-33]

[<center><img src="/images/csd/teacher_dashboard.png" width="100%">](https://studio.code.org/home)</center>

<div style="margin-left: 15px; margin-top: 5px;">Create and manage your classroom sections, check student progress, administer assessments, and integrate with your Google or Clever classroom - all from your <a href="https://studio.code.org/home">Teacher Dashboard</a>!</div>

[/col-33]

<p style="clear:both">&nbsp;</p>
<br>

[col-33]

[<center><img src="/images/csp/CSPSyllabus2018-19.png" width="90%">](/files/CSPSyllabusMay2018.pdf)

<div style="margin-left: 15px; margin-top: 5px;">Teaching CS Principles as an AP course? Don't forget to submit the <a href="/files/CSPSyllabusMay2018.pdf">2018-19 AP Endorsed Syllabus</a> for the AP course audit.</div>

[/col-33]


[col-33]

<center><img src="/images/animated-examples/binary.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">Students get hands on experience with concepts like binary and pixels through <a href="/educate/csp/widgets">computational widgets.</a></div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/fieldofflowers.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;"> Quickly create shareable apps with <a href="/educate/applab">Code.org's App Lab</a> - an online block to text, JavaScript programming environment. </div>

[/col-33]

<p style="clear:both">&nbsp;</p>

### Don't miss these additional resources:

- [**Course Materials List**](#materials)
- <a href="https://www.youtube.com/playlist?list=PLzdnOPI1iJNfV5ljCxR8BZWJRT_m_6CpB", target=_"blank">**CS Principles Video Library**
- [**Code.org Video Library**](/educate/resources/videos)


## <a name="lessons"></a>Unit Overview

<div class="col-50" style="padding-right: 20px">

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp1-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/unit1/', img: CDO.code_org_url('/shared/images/banners/small-purple-icons.png'), title: 'Unit 1', ages: 'The Internet', description: "Students learn how the multi-layered systems of the Internet function as they collaboratively solve problems and puzzles about encoding and transmitting data, both 'unplugged' and using Code.org's Internet Simulator."%>

</div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp2-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/unit2/', img: CDO.code_org_url('/shared/images/banners/small-purple-icons.png'), title: 'Unit 2', ages: 'Digital Information', description: 'Students learn how complex information like text and images is stored in a computer and the way compression helps reduce the size of those files.'%>

[/col-50]

<div style="clear:both"></div>

<div class="col-50" style="padding-right: 20px">

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp3-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/unit3/', img: CDO.code_org_url('/shared/images/banners/small-purple-icons.png'), title: 'Unit 3', ages: 'Algorithms and Programming', description: "In this unit, students learn the JavaScript language with turtle programming in Code.org's App Lab. Students are introduced the general principles of algorithms and program design that are applicapble to any programming language."%>

</div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp4-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/unit4/', img: CDO.code_org_url('/shared/images/banners/small-purple-icons.png'), title: 'Unit 4', ages: 'Big Data and Privacy', description: 'Students research current events around the complex questions related to public policy, law, ethics, and societal impact. Students are also introduced to the basics of how and why modern encryption works.'%>

[/col-50]

<div style="clear:both"></div>

<div class="col-50" style="padding-right: 20px">

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp-explore-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/csp-explore/', img: CDO.code_org_url('/shared/images/banners/small-teal-icons.png'), title: 'AP Explore Performance Task', ages: 'Explore - Impact of Computing Innovations', description: 'This unit provides activities and resources for students to prepare for and complete the AP Explore Performance Task, which requires students to identify a computing innovation, explore its impact, and create a related digital artifact.'%>

</div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp5-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/unit5/', img: CDO.code_org_url('/shared/images/banners/small-purple-icons.png'), title: 'Unit 5', ages: 'Building Apps', description: "Students continue learning how to program in the JavaScript language. Using Code.org's App Lab environment, students create a series of applications that live on the web. Each app highlights a core concept of programming."%>

[/col-50]

<div style="clear:both"></div>

<div class="col-50" style="padding-right: 20px">

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csp-create-2019'), cta_text: 'View unit', lesson_plans: 'https://curriculum.code.org/csp-19/csp-create/', img: CDO.code_org_url('/shared/images/banners/small-teal-icons.png'), title: 'AP Create Performance Task', ages: 'Create - Applications from Ideas', description: 'This unit provides activities and resources for students to prepare for and complete the AP Create Performance Task, which asks students to develop a program on a topic that interests them or one that solves a problem.'%>

</div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/csppostap-2019'), cta_text: 'View unit', img: CDO.code_org_url('/shared/images/banners/small-teal-icons.png'), title: 'Post-AP', ages: 'Making Data-backed Apps', description: "After the AP Test, students learn how to analyze data using spreadsheets and use App Lab's database capabilities to create apps that store data in the cloud.
<br><br>"%>

[/col-50]

<div style="clear:both"></div>


*Use, share, and customize the resources, as they are distributed under a Creative Commons Attribution Non-Commerical ShareAlike License see our [Terms of Service](https://code.org/tos). If you are interested in licensing Code.org materials for commercial purposes, [contact us](https://code.org/contact).*

<hr/>

## Keep up with CS Principles

<div class="col-33" style="padding-right: 20px;">

<h4>Let us know how we're doing</h4>

We are always looking for ways to improve our courses. If something's not quite working, or you have ideas about features that you'd like to see, we'd love to hear from you!
<br>

<a href="mailto:support@code.org"><button>Give feedback</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Subscribe for the latest news</h4>

Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for CS Principles.
<br><br>

<a href="/educate/csp/CSPStatus_Signup"> <button>Sign up</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Chat about CS Principles in the forum</h4>

We have forums for educators to discuss and trade ideas about CS Principles and talk about the curriculum. Code.org forums are used for all of our courses, K-12.
<br><br>

<a href="http://forum.code.org/c/csp"> <button>Visit the forum</button></a>

</div>

<div style="clear:both"></div>

<hr/>

## Spread the word about CS Principles

### Hand out these fliers around your school and consider sending home to parents.

[![image](/images/fit-200/csp/CSPrinciples_1-pager.png)](/files/CSPrinciples_1-pager.pdf)
[![image](/images/fit-200/csp/csp-student-flyer.png)](/files/programs/csp-student-flyer.pdf)

### Hang these posters in your classroom and around your school:

[![image](/images/fit-200/kieran_rory_CS_recruitment.png)](/files/programs/kieran_rory_CS_recruitment.pdf)
[![image](/images/fit-200/kulkarni_parker_CS_recruitment.png)](/files/programs/kulkarni_parker_CS_recruitment.pdf)
[![image](/images/fit-200/madison_maxey_CS_recruitment.png)](/files/programs/madison_maxey_CS_recruitment.pdf)
[![image](/images/fit-200/javier_aguera_CS_recruitment.png)](/files/programs/javier_aguera_CS_recruitment.pdf)

### Share these videos with students, teachers, and administrators:


<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video4", video_code: "jQm0z894CG0", play_button: 'center', letterbox: 'false' %>
<i>Inspire students</i>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video5", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: 'false' %>
<i>Recruit teachers</i>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video6", video_code: "POiMh0qISpI", play_button: 'center', letterbox: 'false' %>
<i>Engage administrators</i>

</div>

<div style="clear: both;"></div>


<hr/>

## Frequently Asked Questions

### <a name="materials"></a>What materials do I need for this course?
**Required Materials:**

This course requires that students have access to computers with a modern web browser. At this time, our courses are not optimized for tablets or mobile devices. For more details, check out [Code.org's technology requirements](/educate/it).

Many lessons have handouts that are designed to guide students through activities. While these handouts are not required, we highly recommend their use. 

In addition to handouts, several lessons call for specific items. You can find these listed below as well as our suggestions for alternatives:

- **Unit 1, Lesson 2:** various craft materials for constructing physical devices such as cups, string/yarn, construction paper, flashlights, slinkies, noise makers, markers, and glue
- **Unit 3, Lesson 1:** A handful of legos per 2-3 students (alternatives: post-it notes, construction paper)
- **Unit 3, Lesson 2 - 3:** Playing cards, we recommend 1 deck per 6 students (alternative: write numbers of post-it notes)
- **Unit 4, Lesson 8:** Clear dixie cups with beans (alternatives: any clear container such as a ziplock bag, empty water bottle, etc., and/or any small item such as beads, raisins, coffee beans, etc.)

**Optional Materials**

The following supplies are completely optional but will be useful to have on hand for various lessons:

- Graph paper
- Chart paper
- Markers
- Post-it notes

### How can I access answer keys?
With an approved teacher account you can find answer keys in a blue "Teacher Only" panel that shows in the online lessons and activities.

Teachers in our professional learning program will automatically be approved to view answer keys.  If you need an approved teacher account, any teacher can apply for Code Studio access to protected teacher-only materials (answer keys, etc) through <strong><a href = "https://docs.google.com/forms/d/1f5QPKi3F_3nBDR8q9BcXCqixzY7SCQd7Seob0-JYizU/viewform" target="_blank">this form</a></strong>.
	
### <a name="standards"></a>Is CS Principles mapped to standards?

CS Principles was written using the AP CS Principles Framework and prepares students for the AP CS Principles exam. The course has also been aligned to the newly revised 2017 CSTA standards. A summary of standards mappings can be found at [curriculum.code.org/csp/standards](https://curriculum.code.org/csp/standards)

### What is the recommended timing for teaching CS Principles?

We recommend that CS Principles be taught as a full year course, assuming that you meet with students daily or nearly daily for 45 or more minutes. Full-year schedules where students are in class for a similar amount of time per week will also work.

It is possible to teach the course on a semester block schedule, though we highly recommend this implementation only be used in the fall semester. Since the AP Performance Tasks are due in late April and require 20 dedicated hours of class time to complete, most schools find there is not enough time to complete the course on a block schedule in the spring.

### Are there supports in CS Principles for students with learning differences or disabilities?

Yes. Code.org has collaborated closely with partners to make our CS Principles curriculum accessible. Every lesson includes detailed recommendations from the <a href="http://outlier.uchicago.edu/accessCSP/", target=_"blank">accessCSP project from Outlier Research</a> on how activities can be supplemented and modified to meet the needs of students with learning disabilities and attention deficit disorders, including reading disorders, written expression disorders, math disorders, and language disorders. In addition, the Lesson-Specific Adjustment Guides identify the underlying psychological process that each adjustment addresses, including processes related to: aspects of reasoning; areas of language; different types of memory; fine motor; processing, timing, and pacing; aspects of visual processing; and executive functioning, attention, and social skills.

### Do you have blind or visually impaired students in your class? 

Our partners at <a href="https://www.washington.edu/accesscomputing/accesscsforall", target=_"blank">AccessCSforAll</a> have created an <a href="https://quorumlanguage.com/lessons/code.html", target=_"blank">accessible version of the curriculum and online tools</a> designed specifically for students with these disabilities. AccessCSforAll also runs a <a href="https://quorumlanguage.com/epiq.html", target=_"blank">summer professional development</a> to help teachers learn how to support these students. 

### How can I communicate with other teachers who are using the curriculum?

Check out our forum at <a href="https://forum.code.org" target=_blank>https://forum.code.org</a>. There you'll find a space for general CS Principles discussion as well as unit- and lesson-specific threads.

### Can I give feedback on the lessons?

Yes, please! Our desire is that the curriculum will be a living document and not something set in stone. We are open to changes or alternatives to lessons so please send us your feedback by using the CS Principles forum.

### How/Where can I get professional development for this course?

Our middle and high school programs offer year-round support. The program kicks off with a 5-day summer workshop where you'll have an opportunity to work hands-on with the curriculum and meet other teachers from your area. Throughout the year, we offer online support for upcoming units, forum support, and 1-day quarterly workshops. You don't need any prior computer science experience to get started. And teachers love it! 90% rank it the best professional development ever. [Click here](/educate/professional-learning/middle-high) to learn more.

### How can I learn about what's new or changing with the curriculum?

We send out monthly updates! [Sign up for future emails](http://code.org/educate/csp/CSPStatus_Signup).

### Ideas and Inspirations

Please see this page about [CS Principles Inspirations](/educate/csp/inspirations) to read about the influential works in computer science education that form some of the course's philosophical underpinnings.

AP® is a registered trademark of the College Board.

<!--
## <a name="what"></a>Professional Learning - Applications now available!

Our middle and high school programs offer year-round support. The program kicks off with a 5-day summer workshop where you'll have an opportunity to work hands-on with the curriculum and meet other teachers from your area. Throughout the year, we offer online support for upcoming units, forum support, and 1-day quarterly workshops. You don't need any prior computer science experience to get started. And teachers love it! 90% rank it the best professional development ever.

**Applications for the [CS Principles Professional Learning Program](/educate/professional-learning/cs-principles) are now available!**

[col-50]

<center><img src="/images/recruitment_banner.png" width="90%"></center>

[/col-50]

<div class="col-50" style="padding-top:15px">
  <a href="/educate/professional-learning/cs-principles">
    <button>Learn more and apply now!</button>
  <a>
</div>

<div style="clear:both"></div>

<hr/>

### Professional Learning 
Our middle and high school programs offer year-round support. The program kicks off with a 5-day summer workshop where you'll have an opportunity to work hands-on with the curriculum and meet other teachers from your area. Throughout the year, we offer online support for upcoming units, forum support, and 1-day quarterly workshops. You don't need any prior computer science experience to get started. And teachers love it! 90% rank it the best professional development ever. Want to get notified when applications open for the 2019-2020 school year? Provide your contact information to a Regional Partner.

[<button>Tell me when applications open</button>](https://studio.code.org/pd/regional_partner_contact/new)
-->
