---
title: Game Lab
theme: responsive
video_player: true
---

%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet"}
%link{href: "/css/highlights.css", rel: "stylesheet"}

.tools-banner
  .tools-img-box
    %img.tools-img.tools-img-gamelab{src: CDO.code_org_url("/shared/images/courses/logo_gamelab_square.png")}
  .tools-info.green{style: "max-width: 748px;"}
    .tools-title-bar.green
      %h1.tools-title Game Lab
    .tools-description
      %p Game Lab is a programming environment where you can make simple animations and games with objects and characters that interact with each other. Design an animation or game, code with blocks or JavaScript to make it work, then share your app in seconds.
      .tools-details Ages 13+, all modern browsers, English only
      %a{href: CDO.studio_url("/projects/gamelab/new")}
        %button Make an animation or game

.clear

#resources
  %h1 Resources
  %h2 Try the Computer Science Discoveries unit that introduces Game Lab
  %h3= I18n.t("csd3_name")
  %h4 Grades 7 - 9
  .smalltext In Unit 3, students build on their coding experience as they create programmatic images, animations, interactive art, and games. Starting off with simple, primitive shapes and building up to more sophisticated sprite-based games, students become familiar with the programming concepts and the design process computer scientists use daily. They then learn how these simpler constructs can be combined to create more complex programs. In the final project, students develop a personalized, interactive program. Along the way, they practice design, testing, and iteration, as they come to see that failure and debugging are an expected and valuable part of the programming process.
  %a{:href=>CDO.studio_url("/s/csd3-2019")}
    %button{style: "margin-top: 20px;"}= I18n.t(:view_unit)
.clear

#challenges
  %h1 Sample Projects
  %h2 Explore these sample projects and take the challenge to make them even better
  .highlights-content
    - cta = "Remix the project"
    = view :highlight_item, item: {image: "game-lab/example-sunset", title: "Sunset shapes", desc: "Watch the sun set. Challenge: Make the sky go dark once the sun has set.", cta: cta, url: 'https://studio.code.org/projects/gamelab/Z9QRSmJBfNY25T3ViLp0MTy4uAuXNNXpZrmhPsUdEro/remix'}
    = view :highlight_item, item: {image: "game-lab/example-trees", title: "Make your own character", desc: "Use your arrow keys to move the character around. Challenge: add more to the scene and make the character look like you.", cta: cta, url: 'https://studio.code.org/projects/gamelab/XVEFITms8-c7_F-ND-FKL8w3A-oEpFD_GKAJCB2VPCQ/remix'}
    = view :highlight_item, item: {image: "game-lab/example-bounce", title: "Bounce", desc: "Move the platform to avoid the ball hitting the bottom. Challenge: Add different obstacles and points.", cta: cta, url: 'https://studio.code.org/projects/gamelab/J2R-PHcvE4Wgb2xO2bjk0Q/remix'}
    = view :highlight_item, item: {image: "app-lab/gallery", title: "Project gallery", desc: "Check out projects other students have made and use them as inspiration for your own project.", cta: "View project gallery", url: 'https://studio.code.org/projects/public'}
  .clear

#videos
  %h1 Video library
  Some of these videos appear in Unit 3 (Animations and Games) of the
  %a{href: "/educate/csd"}
    CS Discoveries course
  and are displayed here as a quick introduction to each of the main concepts from the unit. Check out each video to see how you can add new features to your project.

  - csdunit3_videos = []
  - csdunit3_videos << { id: 'csd_gamelab_draw_1', category_title: 'Drawing in Game Lab', code: 'PXn9gKiKKFo', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_drawing_1.mp4', studio_stage: '/s/csd3-2019/stage/3/puzzle/2' }
  - csdunit3_videos << { id: 'csd_gamelab_draw_2', code: 'QLabeWhw_O0', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_drawing_2.mp4', studio_stage: '/s/csd3-2019/stage/3/puzzle/4' }
  - csdunit3_videos << { id: 'csp_applab_variables_1', category_title: 'Introduction to variables', code: 'G41G_PEWFjE', download_path: 'https://videos.code.org/2015/csp/applab/variables_1.mp4', studio_stage: '/s/csd3-2019/stage/5/puzzle/2' }
  - csdunit3_videos << { id: 'csd_gamelab_sprites_1', category_title: 'Animation sprites', code: 'aUHzpGt9nso', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_sprites.mp4', studio_stage: '/s/csd3-2019/stage/6/puzzle/2' }
  - csdunit3_videos << { id: 'csd_gamelab_sprites_2', code: 'G666sFzAg5g', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_animating_sprites.mp4', studio_stage: '/s/csd3-2019/stage/9/puzzle/2' }
  - csdunit3_videos << { id: 'csd_gamelab_animation_tab', category_title: 'Animation tab', code: 'DQPruYTJ0Fk', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_animation_tab.mp4', studio_stage: '/s/csd3-2019/stage/6/puzzle/7' }
  - csdunit3_videos << { id: 'csd_gamelab_drawloop', category_title: 'Draw loop', code: 'G6QJeuHhqCM', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_drawloop.mp4', studio_stage: '/s/csd3-2019/stage/7/puzzle/2' }
  - csdunit3_videos << { id: 'csp_applab_conditionals_1', category_title: 'Conditionals', code: 'y3rCKJNOwpA', download_path: 'https://videos.code.org/2015/csp/applab/conditionals_1.mp4', studio_stage: '/s/csd3-2019/stage/11/puzzle/3' }
  - csdunit3_videos << { id: 'csp_applab_conditionals_2', code: 'UDi7xgIIW8E', download_path: 'https://videos.code.org/2015/csp/applab/conditionals_2.mp4', studio_stage: '/s/csd3-2019/stage/13/puzzle/4' }
  - csdunit3_videos << { id: 'csd_gamelab_velocity', category_title: 'Sprite velocity', code: 'zcP94yMYqrI', download_path: 'https://videos.code.org/cs-discoveries/gamelab/gamelab_velocity.mp4', studio_stage: '/s/csd3-2019/stage/15/puzzle/2' }

  - csdunit3_videos.each do |video|
    // Show the chapter title at the beginning of each video chapter
    - unless video[:category_title].nil_or_empty?
      .clear
      %h2= video[:category_title]
    %div{style: "float:left; padding:10px; width: 275px;"}
      = view :display_video_thumbnail, id: video[:id],  video_code:video[:code], caption: video[:caption], play_button: 'center', download_path: video[:download_path], letterbox: 'false'
      - unless video[:studio_stage].nil_or_empty?
        %a{href: CDO.studio_url(video[:studio_stage])} Try it now

:javascript
  $(function() {
    // On hovering over projects, a description and challenge will show.
    // These descriptions are also commented in the projects so they aren't a requirement for mobile.
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
