---
title: Sprite Lab
theme: responsive
video_player: true
---

%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet"}
%link{href: "/css/highlights.css", rel: "stylesheet"}

.tools-banner
  .tools-img-box
    %img.tools-img.tools-img-gamelab{src: CDO.code_org_url("/shared/images/courses/logo_gamelab_square.png")}
  .tools-info.green{style: "max-width: 748px;"}
    .tools-title-bar.green
      %h1.tools-title Sprite Lab
    .tools-description
      %p Sprite Lab is a block-based programming environment where you can make simple animations and games with objects and characters that interact with each other. Create an animation or game then share your app in seconds.
      .tools-details Ages 10+, all modern browsers, English only
      %a{href: CDO.studio_url("/projects/spritelab/new")}
        %button Make an animation or game

.clear

#resources
  %h1 Resources
  %h2 Try the Computer Science Fundamentals course that introduces Sprite Lab
  %h3 Course E
  %h4 Grade 4
  .smalltext In Course E, students practice coding with algorithms, loops, conditionals, before moving on to functions. In the second part of this course, they will design and create a capstone project that they can share with friends and family.
  %a{:href=>CDO.studio_url("/s/coursee")}
    %button{style: "margin-top: 20px;"}= I18n.t(:view_unit)
.clear

#challenges
  %h1 Sample Projects
  %h2 Explore these sample projects and take the challenge to make them even better
  .highlights-content
    - cta = "Remix the project"
    = view :highlight_item, item: {image: "spritelab/bunny", title: "Feed the Bunny", desc: "Make the bunny bigger by feeding it. Challenge: Add a new sprite that causes a different effect.", cta: cta, url: 'https://studio.code.org/s/coursee-2018/lessons/23/levels/4'}
    = view :highlight_item, item: {image: "spritelab/dogger", title: "Dogger", desc: "Control the dog to get her past the cars to the target. Challenge: Make all of the cars move different speeds", cta: cta, url: 'https://studio.code.org/s/coursee-2018/lessons/23/levels/5'}
    = view :highlight_item, item: {image: "spritelab/car", title: "Driving Game", desc: "Avoid the cars and collect the coins. Challenge: Make something happen when you lose all your points.", cta: cta, url: 'https://studio.code.org/s/coursef-2018/lessons/24/levels/3'}
  .clear

#videos
  %h1 Video library
  Some of these appear in 
  %a{href: "/s/coursee/"}
    Course E
  of the CS Fundamentals suite and are displayed here as a quick introduction to using Sprite Lab. Check out each video to see how you can add new features to your project.

  - spritelab_videos = []
  - spritelab_videos << { id: 'CSF_SpriteLabIntro_CDEF', category_title: 'Making Your First Projects', code: 'l0B0gDuHHC8', download_path: 'https://videos.code.org/levelbuilder/introducingspritelab_sm-mp4.mp4', studio_stage: '/s/coursee-2020/lessons/6/levels/1' }
  - spritelab_videos << { id: 'CSF_Spritelab_MakeSprite_CDEF', code: 'nHq7_-Kpgc8', download_path: 'https://videos.code.org/levelbuilder/howtomakeasprite_sm-mp4.mp4', studio_stage: '/s/coursee-2020/lessons/6/levels/6' }
  - spritelab_videos << { id: 'CDEF_Video_SpritesInAction', code: 'vsjoWjyQLRU', download_path: 'https://videos.code.org/levelbuilder/spritesinaction_sm-mp4.mp4', studio_stage: '/s/coursee-2020/lessons/7/levels/2' }

  - spritelab_videos.each do |video|
    // Show the chapter title at the beginning of each video chapter
    - unless video[:category_title].nil_or_empty?
      .clear
      %h2= video[:category_title]
    %div{style: "float:left; padding:10px; width: 275px;"}
      = view :display_video_thumbnail, id: video[:id],  video_code:video[:code], caption: video[:caption], play_button: 'center', download_path: video[:download_path], letterbox: 'false'
      - unless video[:studio_stage].nil_or_empty?
        %a{href: CDO.studio_url(video[:studio_stage])} Try it now

:javascript
  $(function() {
    // On hovering over projects, a description and challenge will show.
    // These descriptions are also commented in the projects so they aren't a requirement for mobile.
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
