- if current_user && current_user.admin?
  = render layout: 'shared/extra_links' do
    %div
      = link_to 'Admin Page Directory', admin_directory_path
    %div{style: "margin-top: 10px;"} Support tools
    %ul
      %li= link_to 'Assume Identity', assume_identity_form_path
      %li= link_to 'Reset Password', new_user_password_path
      %li= link_to 'Account Repair', account_repair_form_path
      %li= link_to 'Look up section', lookup_section_path
      %li= link_to 'Find Users', find_students_path
      %li= link_to 'Gatekeeper', gatekeeper_show_path
      %li= link_to 'Grant Permissions/Privileges', permissions_form_path
      %li= link_to 'Videos', videos_path
