- if current_user && current_user.admin?
  = render layout: 'shared/admin' do
    %li
      Support tools
      %ul
        %li= link_to 'Assume Identity', assume_identity_form_path
        %li= link_to 'Confirm Email', confirm_email_form_path
        %li= link_to 'Reset Password', new_user_password_path
        %li= link_to 'Look up section', lookup_section_path
    %li= link_to 'Gatekeeper', gatekeeper_show_path
    %li= link_to 'Grant Permissions/Privileges', CDO.code_org_url('/private/privileges')
    %li= link_to 'Videos', videos_path
    %li= link_to 'Recent Activity', all_usage_path
    %li= link_to 'Feedback System', frequent_unsuccessful_level_sources_path
    %li
      = link_to('Scripts', scripts_path)
      = link_to('(Update all)', scripts_path(rake: '1'))
      %ul
        - Script.all.each do |script|
          %li
            = link_to("(#{t 'crud.edit'})", edit_script_path(script))
            = link_to(data_t_suffix('script.name', script.name, 'title'), script_level_path(script, ScriptLevel::NEXT))
    %li= link_to t('builder.manage'), new_level_path
    %li= link_to 'Admin Stats', admin_stats_path
    %li= link_to 'Search for Teachers', search_for_teachers_path
    %li= link_to 'Gallery', gallery_activities_path
