.row
  .span12.twolineheader!= t('home.heading_hoc2014')
.row
  = render partial: 'shared/course_tall_block', locals: { id: "frozen" }
  = render partial: 'shared/course_tall_block', locals: { id: "hourofcode" }
  = render partial: 'shared/course_tall_block', locals: { id: "playlab" }
  = render partial: 'shared/course_tall_block', locals: { id: "flappy" }
%br/  
.row
  .span12.twolineheader!= t('home.heading_elementary')
.row
  = render partial: 'shared/course_tall_block', locals: { id: "course1" }
  = render partial: 'shared/course_tall_block', locals: { id: "course2" }
  = render partial: 'shared/course_tall_block', locals: { id: "course3" }
  = render partial: 'shared/course_tall_block', locals: { id: "course4" }
%br/
-#
  .row
    .span12.twolineheader!= t('home.heading_apps')
  .row
    = render partial: 'shared/course_tall_block', locals: { id: "playlab" }
    = render partial: 'shared/course_tall_block', locals: { id: "flappy" }
    = render partial: 'shared/course_tall_block', locals: { id: "artist" }
  %br/

.row
  .span12.twolineheader
    %h2= t('gallery.header')
.row
  .span6.twolineheader
    %h1= t('gallery.header_playlab')
  .span6.twolineheader
    %h1= t('gallery.header_artist')
.row
  .span6
    = link_to image_tag('playlab_gallery_thumbnails.png', width: 460, height: 74), gallery_activities_path
  .span6
    = link_to image_tag('artist_gallery_thumbnails.png', width: 460, height: 74), gallery_activities_path

%br/

.row
  .span12.twolineheader!= t('home.heading_legacy')
.row
  = render partial: 'shared/course_wide_block', locals: { id: "20hour" }
