.row
  .span12.twolineheader
    %h2= t('gallery.header')
.row
  .span6.twolineheader
    %h1= t('gallery.header_playlab')
  .span6.twolineheader
    %h1= t('gallery.header_artist')
.row
  .span6
    = link_to image_tag('gallery_thumbnails_2019a.png', width: 460, height: 74), gallery_activities_path
  .span6
    = link_to image_tag('gallery_thumbnails_2019b.png', width: 460, height: 74), gallery_activities_path(anchor: "artist")
