- if current_user && current_user.permission?(UserPermission::LEVELBUILDER)
  = render layout: 'shared/extra_links' do
    %li= link_to 'Videos', videos_path
    %li
      = link_to 'Scripts', scripts_path
      = link_to '(Update all)', scripts_path(rake: '1'), data: { confirm: 'Are you sure want to re-seed script data?'}
    %li= link_to t('builder.manage'), levels_path
    %li= link_to 'Pools', pools_path
    %li= link_to 'Shared Functions', shared_blockly_functions_path
    %li= link_to 'Helper Libraries', libraries_path
    %li= link_to 'Gallery', 'projects/public'
    %li= link_to 'Foorm Surveys (preview)', 'foorm/forms/editor'
    %li= link_to '(BETA) Sprite Lab Sprite Management', 'sprites/sprite_upload'
