:css

  .survey input[type=radio]:checked + label {
    background-color: rgb(0, 178, 192) !important;
    color: white !important;
  }

  .survey button:disabled {
    opacity: 0.6;
    cursor: auto;
  }


.survey{style: "background-color: rgb(200,200,200); padding:40px; font-size:18px; border-radius: 4px"}
  #surveythanks{style: "display: none"} Thank you for your response.
  #surveybody
    %h1{style: "margin-top:0px; color: rgb(80,80,80)"} Quick survey
    %p{style: "padding-top: 10px; font-size:18px"}
      How likely are you to recommend Code.org to a friend or colleague?
    = form_for(SurveyResult.new, html: {id: 'survey', onsubmit: "return window.submitSurvey(true)", style: "margin-bottom:0px"}) do |f|
      #dots{style: "padding-top: 10px; padding-bottom: 5px; padding-left: 50px"}
        - -1.upto(10) do |i|
          - display = i == -1 ? "none" : "inline-block"
          %input{style: "margin-right:3px; vertical-align:top; display: none", id: "radio_#{i}", type: "radio", name: "survey[nps_value]", value: i, onclick: "enableSurveySubmit()"}
          %label{style: "display: #{display}; font-size: 14px; width: 32px; height: 32px; margin-right: 24px; background-color: white; border-radius: 32px; text-align: center; line-height: 32px", for: "radio_#{i}"}
            = i
      #scale{style: "font-size: 12px; width: 710px; padding-left: 20px; overflow: hidden; padding-bottom: 20px"}
        #left{style: "float: left"}
          Not at all likely
        #right{style: "float: right"}
          Extremely likely
      #textbox{style: "display:none"}
        %p{style: "font-size:18px"}
          Optional: Any other comments?
        %input{type: "text", style: "width:600px; height:35px", name: "survey[nps_comment]"}
        %input{type: "hidden", name: "survey[kind]", value: SurveyResult::NET_PROMOTER_SCORE_2017}
      #submit
        %button.primary#submitSurvey{type: "submit", disabled: true, style: "font-size: 18px; height: 42px; width: 120px"} Submit
        &nbsp;
        %span{onclick: "return submitSurvey(false)", style: "cursor: pointer; font-size: 18px"} No thanks
  %br/

:javascript

  function enableSurveySubmit()
  {
    $("#survey #textbox").slideDown();
    $("#submitSurvey").prop("disabled", false);
  }

  function submitSurvey(submittedValue)
  {
    var value;

    if (submittedValue)
    {
      value = $("#survey input[type=radio]:checked").val();
    }
    else
    {
      value = -1;
      $("#radio_-1").prop("checked", true)
    }

    trackEvent("survey", "nps2017", value);

    $("#surveythanks").show();
    $("#surveybody").hide();

    $.ajax({
      type: 'POST',
      url: $("#survey").attr('action'),
      data: $("#survey").serialize(),
      dataType: 'json'
    });

    return false;
  }
