:ruby
  link_blocks = []
  link_blocks << {text: "Hour of Code", link: "http://code.org"}
  link_blocks << {text: "Elementary school", link: "http://code.org"}
  link_blocks << {text: "Middle school", link: "http://code.org"}
  link_blocks << {text: "High school and older", link: "http://code.org"}

%link{:href=>'/shared/css/course-explorer.css', :rel=>'stylesheet'}
%script{src: minifiable_asset_path("js/home/courses.js")}

%h1 Recent courses
= render partial: 'home/recent_courses'

%h1 Find a course

- if current_user.teacher? && request.language  == 'en'
  %h2 Code.org Curriculum Pathway
  = render file: Rails.root.join('..', 'shared', 'haml', 'course_explorer_table.haml')

  %h2 Full Course Catalog from Code.org and 3rd Party partners
  = render partial: 'link_blocks', locals: { link_blocks: link_blocks }

  %h2 Standalone tools
  = render file: Rails.root.join('..', 'shared', 'haml', 'tool_explorer_table.haml')

- else
  = render partial: 'home/all_courses'
