#landingpage
  - flash.delete(:notice)
  %h1= t('home.title')
  - if current_user
    .row
      .span10
        %h2= t('welcome_back', name: current_user.name)

      .span2
        - if current_user.students.length > 0 || current_user.teacher?
          %br/
          = button_to t('home.use_as_teacher'), teacher_dashboard_url, :class=>"btn btn-info biggerbutton"

    .row
      .span12
        - if current_user.primary_script
          %h4 #{t('home.student_progress')}:
          - if current_user.primary_script.trophies?
            = t('home.student_stats', trophy_count: current_user.trophy_count, trophy_max: Trophy::TROPHY_MAX)
            %br/

          %div.padtopbottom
            = render partial: 'shared/student_continue', locals: { include_finished: true, script: current_user.primary_script }
            - if !current_user.teacher? && current_user.teachers.length == 0
              = link_to t('add_teacher_form.submit'), "#section_code"
        - unless current_user.gallery_activities.empty?
          %h4 #{t('home.gallery')}:
          = render partial: 'home/gallery'
    %br/

    - if current_user && current_user.primary_script
      = render partial: 'shared/course_progress_block', locals: { script: current_user.primary_script }
  - else
    - unless Rails.configuration.minimal_mode

      .row#signup
        .span6
          %a{style: "text-decoration:none", href: new_user_registration_path}
            %button.btn= t('home.student_reg_link')

          %a{href: new_user_registration_path('user[user_type]' => User::TYPE_TEACHER)}
            %button.btn= t('home.teacher_reg_link')

        .span6{style: "text-align:right"}
          %div{style: "float:right"}
            %a{href: new_user_session_path}
              %button.btn= t('nav.user.signin')
          %div{style: "float:right"}
            .registertext= t('nav.user.already_registered')

      %br/

    .row
      = render partial: '/shared/course_big_block', locals: {id: "hoc" }
    %br/
    .row
      .span12.twolineheader!= t('home.heading_elementary')
      = render partial: 'shared/course_tall_block', locals: { id: "course1" }
      = render partial: 'shared/course_tall_block', locals: { id: "course2" }
      = render partial: 'shared/course_tall_block', locals: { id: "course3" }
    %br/
    .row
      .span12.twolineheader!= t('home.heading_apps')
    .row
      = render partial: 'shared/course_tall_block', locals: { id: "playlab" }
      = render partial: 'shared/course_tall_block', locals: { id: "flappy" }
      = render partial: 'shared/course_tall_block', locals: { id: "artist" }
    %br/
    .row
      .span12.twolineheader!= t('home.heading_legacy')
    .row
      = render partial: 'shared/course_wide_block', locals: { id: "20hour" }

  %br/
  - if current_user && !current_user.teacher?
    - if current_user.teachers.length >= 1
      = t('teacher.title', count: current_user.teachers.length, name: '')
      = raw current_user.teachers.map{|t| t[:name] + ' ' + link_to(t('teacher.remove'), remove_follower_path(teacher_user_id: t[:id], student_user_id: current_user.id), confirm: t('teacher.confirm.remove'), method: :post)}.join(', ')
    - else
      %h4= t('add_teacher_form.code.label')
      = form_for([Follower.new]) do |f|
        .field
          = text_field_tag :section_code, nil, class: 'input-xxlarge', placeholder: t('add_teacher_form.code.placeholder'), :required => true
          = hidden_field_tag :redirect, root_path
        .actions
          = f.submit t('add_teacher_form.submit')
    %br/
    %br/
  %br/

  - if current_user && current_user.admin?
    = render partial: 'home/admin'

  - if current_user
    .row
      .span12.twolineheader!= t('home.heading_elementary')
      = render partial: 'shared/course_tall_block', locals: { id: "course1" }
      = render partial: 'shared/course_tall_block', locals: { id: "course2" }
      = render partial: 'shared/course_tall_block', locals: { id: "course3" }
    %br/
    .row
      .span12.twolineheader!= t('home.heading_apps')
    .row
      = render partial: 'shared/course_tall_block', locals: { id: "playlab" }
      = render partial: 'shared/course_tall_block', locals: { id: "flappy" }
      = render partial: 'shared/course_tall_block', locals: { id: "artist" }
      = render partial: 'shared/course_tall_block', locals: { id: "hoc" }
    %br/
    .row
      .span12.twolineheader!= t('home.heading_legacy')
    .row
      = render partial: 'shared/course_wide_block', locals: { id: "20hour" }


  %br/
  %br/
  %br/

  :javascript
    $( "#section_code" ).placeholder();
