- content_for :og do
  = tag 'meta', property: 'og:title', content: t('share.title')
  = tag 'meta', property: 'og:image', content: CDO.studio_url(CDO.shared_image_url('share/girl_cropped.jpg'), 'https:')
  = tag 'meta', property: 'og:description', content: t('share.description')

= render partial: 'home/survey'
= render partial: 'devise/confirmations/alert'

#landingpage
  .row
    .span12
      .welcome
        .row
          .welcomeleft.span2
            = image_tag('codeorg-studio-logo-white.png', style: "height:120px")
          .welcomeright.span9
            .lines_of_code_header
              %a.lines_of_code_link{href: CDO.code_org_url('/loc')}
                - loc = fetch_metrics['lines_of_code']
                - loc = number_with_delimiter(loc, :delimiter => ',')
                - students = fetch_user_metrics['number_students']
                - students /= 1000000
                != t('home.lines_of_code_linebreak', lines_count: loc, students_count: students)
              .description
                = t('home.description')

  .clear

  - if current_user
    #user_hero
      = render template: 'api/user_hero'
    - if Gatekeeper.allows('logged_in_studio_homepage', default: true)
      - current_user.unadvertised_user_scripts.each_slice(2) do |course_pair|
        .row
          - course_pair.each do |user_script|
            = render partial: 'shared/course_progress_block', locals: { script: user_script.script, user_script: user_script }

  = render partial: 'home/all_courses'

  - if current_user && !current_user.teacher? && Gatekeeper.allows('logged_in_studio_homepage', default: true)
    .row#edit_teachers
      .span12
        .padtopbottom
          - if current_user.teachers.empty?
            = form_for([Follower.new], html: {class: 'form-inline'}) do |f|
              %label= t('add_teacher_form.code.label')
              = text_field_tag :section_code, nil, class: 'form-control', placeholder: t('add_teacher_form.code.placeholder'), :required => true
              = hidden_field_tag :redirect, root_path
              %button.btn.btn-default{type: 'submit', style: 'margin-top:0'}= t('add_teacher_form.submit')

          - else
            = t('teacher.title', count: current_user.teachers.length, name: '')

            -if current_user.encrypted_password?
              = raw current_user.teachers.map{|t| t[:name] + ' ' + link_to(t('teacher.remove'), remove_follower_path(teacher_user_id: t[:id], student_user_id: current_user.id), confirm: t('teacher.confirm.remove'), method: :post)}.join(', ')

            -else
              = raw current_user.teachers.map{|t| t[:name]}.join(",")

  - if current_user && Gatekeeper.allows('logged_in_studio_homepage', default: true)
    %br/
    %br/
    %br/
    = render partial: 'home/projects'
    - unless @gallery_activities.empty?
      = render partial: 'home/gallery'

%br/
%br/
%br/

= render partial: 'home/admin'

:javascript
  $("#section_code").placeholder();

:javascript
  $(document).ready(function() {

    // set up gallery pagination
    $('#gallery').on('click', '.pagination a', function() {
        $.ajax({url: $(this).attr('href'),
                data: { },
                success: function(result) {
                  $('#gallery').animate({opacity: '25%'},
                    500,
                    function() {
                      $('#gallery').html(result);
                    });
                }
        });
        return false;
    });

  });
