- content_for :og do
  = tag 'meta', property: 'og:title', content: t('share.title')
  = tag 'meta', property: 'og:image', content: CDO.studio_url(CDO.shared_image_url('share/girl_cropped.jpg'), 'https:')
  = tag 'meta', property: 'og:description', content: t('share.description')

-if current_user&.school_donor_name && Experiment.enabled?(user: current_user, experiment_name: 'donor-footer')
  - content_for :above_footer_content do
    = render partial: 'home/donor_footer'

-# Student modal
- if RaceInterstitialHelper.show?(current_user) || @force_race_interstitial
  = render partial: 'layouts/race_interstitial'

-# Teacher modals
- if current_user && current_user.teacher? && !current_user.accepted_latest_terms?
  = render partial: 'layouts/terms_interstitial'
- elsif SchoolInfoInterstitialHelper.show_confirmation_dialog?(current_user) || @force_school_info_confirmation_dialog
  = render partial: 'layouts/school_info_confirmation_dialog'
- elsif SchoolInfoInterstitialHelper.show?(current_user) || @force_school_info_interstitial
  = render partial: 'layouts/school_info_interstitial', locals: {show_header: false, user: current_user, form_name: "user[school_info_attributes]"}

- if current_user
  = render partial: 'home/homepage'

%br/
%br/
%br/

= render partial: 'home/admin'
= render partial: 'home/levelbuilder'

:javascript
  $("#section_code").placeholder();
