- content_for :og do
  = tag 'meta', property: 'og:title', content: t('share.title')
  = tag 'meta', property: 'og:image', content: CDO.studio_url(CDO.shared_image_url('share/girl_cropped.jpg'), 'https:')
  = tag 'meta', property: 'og:description', content: t('share.description')

-# Student modal
- if RaceInterstitialHelper.show?(current_user) || @force_race_interstitial
  = render partial: 'layouts/race_interstitial'

-# Teacher modals
- if current_user && current_user.teacher? && !current_user.accepted_latest_terms?
  - current_user.update_user_tos_version_accept()
  = render partial: 'layouts/implicit_new_user_terms_interstitial'
- elsif InitialSectionCreationInterstitialHelper.show?(current_user)
  = render partial: 'layouts/initial_section_creation_interstitial'
- elsif @show_section_creation_celebration_dialog
  = render partial: 'layouts/section_creation_celebration_dialog'
- elsif (SchoolInfoInterstitialHelper.show_confirmation_dialog?(current_user) || @force_school_info_confirmation_dialog) && !params[:courseVersionId]
  - SchoolInfoInterstitialHelper.update_last_seen_timestamp(current_user)
  = render partial: 'layouts/school_info_confirmation_dialog'
- elsif SchoolInfoInterstitialHelper.show?(current_user) || @force_school_info_interstitial
  - SchoolInfoInterstitialHelper.update_last_seen_timestamp(current_user)
  = render partial: 'layouts/school_info_interstitial', locals: {show_header: false, user: current_user, form_name: "user[school_info_attributes]"}

- if current_user
  = render partial: 'home/homepage'

%br/
%br/
%br/

= render partial: 'home/admin'


:javascript
  $("#section_code").placeholder();
