%script{ src: minifiable_asset_path('js/home/user_courses.js')}

%h1 Recent courses

:ruby

  recent_courses = current_user.in_progress_and_completed_scripts.map do |script|
    script_id = script[:script_id]
    script_name = Script.find_by_id(script_id)[:name]
    {
      id: script_id,
      script_name: script_name,
      name: data_t_suffix('script.name', script_name, 'title'),
      description: data_t_suffix('script.name', script_name, 'description_short'),
      link: script_url(script_id),
      image: ""
    }
  end

  block_links = []
  block_links << {text: "Hour of Code", link: ""}
  block_links << {text: "Elementary school", link: ""}
  block_links << {text: "Middle school", link: ""}
  block_links << {text: "High school and older", link: ""}

#recent-courses-container

.clear{style: "clear: both"}

%h1 Find a course

- if current_user.teacher? && request.language  == 'en'

  %h2 Code.org Curriculum Pathway
  = render file: Rails.root.join('..', 'shared', 'haml', 'course_explorer_table.haml')

  %h2 Full Course Catalog from Code.org and 3rd Party partners

  #block-links-container

  .clear{style: "clear: both"}

  %h2 Standalone tools
  = render file: Rails.root.join('..', 'shared', 'haml', 'tools_explorer_table.haml')

  :javascript
    $(document).ready(function () {
      window.showContent(#{recent_courses.to_json}, #{block_links.to_json});
    });

- else

  = render partial: 'home/all_courses'
