= form_with(url: :integrations, method: :post, class: 'lti-integration-form') do |f|
  .row
    .span8
      .padded-container
        .row
          .span3.lti-integration-field-label
            = f.label :name, ('lti.integration.name')
          .span5
            = f.text_field :name, maxlength: 100, required: true
        .row
          .span3.lti-integration-field-label
            = f.label :client_id, ('lti.integration.client_id')
          .span5
            = f.text_field :client_id, maxlength: 50, required: true
        .row
          .span3.lti-integration-field-label
            = f.label :email, ('lti.integration.email')
          .span5
            = f.email_field :email, maxlength: 255, required: true
        .row
          .span3.lti-integration-field-label
            = f.label :lms, ('lti.integration.lms_selector')
          .span5
            = f.select :lms, form_data[:lms_platforms].map {|p| [p[:name], p[:platform].to_s]}
        .row
          .span10
            %p
              != "anything"

        %button.lti-btn-purple= ('lti.integration.register')
