---
title: <%= hoc_s(:events_whole_school_title) %>
layout: wide
nav: events_nav
---
-SOLR = Solr::Server.new(host:CDO.solr_server)

-by_country = {}
-by_state = {}
-country_names = {}
-state_names = {}

-events = SOLR.query(q:"*:*", fq:["kind_s:HocSignup2015", "location_country_s:[* TO *]", "location_country_code_s:[* TO *]", "organization_name_s:[* TO *]", "entire_school_flag_b:true"], sort:'location_country_s asc, location_state_code_s asc', rows:1000)
-events.each do |event|
  -country_code = event['location_country_code_s'].to_s
  -by_country[country_code] = [] unless by_country.has_key?(country_code)
  -by_country[country_code] << nil
  -country_names[country_code] = event['location_country_s'].to_s unless country_names.has_key?(country_code)

  -if country_code == 'US'
    -state_code = event['location_state_code_s'].to_s
    -by_state[state_code] = [] unless by_state.has_key?(state_code)
    -by_state[state_code] << nil
    -state_names[state_code] = event['location_state_s'].to_s unless state_names.has_key?(state_code)

%h1= hoc_s(:events_whole_school_title)

%ul
  %li{class: "hoc-event-country"}
    %span{style: "font-weight: bold;"}= "United States (#{by_country['US'].count rescue '0'} #{hoc_s(:events)})"
    %ul{style: "margin-top: 0; margin-bottom: 0;"}
      -by_state.each_pair do |state_code, events|
        -unless state_code.nil_or_empty?
          %li{class: "hoc-event-state"}
            %a{href: "/events/schools/us/#{state_code.downcase}"}= events.count > 1 ? "#{state_code} (#{events.count} #{hoc_s(:events)})" : "#{state_code} (#{events.count} #{hoc_s(:event)})"
%ul
  -by_country.each_pair do |country_code, events|
    -if country_code != 'US'
      %li{class: "hoc-event-country"}
        %a{href: "/events/schools/#{country_code.downcase}"}= events.count > 1 ? "#{country_names[country_code]} (#{events.count} #{hoc_s(:events)})" : "#{country_names[country_code]} (#{events.count} #{hoc_s(:event)})"
