<% var i18n = require('./locale'); %>

<div id="debug-area">
  <div id="debugResizeBar" class="fa fa-ellipsis-h"></div>
  <div id="debug-area-header">
    <span class="header-text"><%= i18n.debugConsoleHeader() %></span>
    <i id="show-hide-debug-icon" class="fa fa-chevron-circle-down"></i>
    <% if (debugButtons) { %>
    <div id="debug-commands-header" class="workspace-header">
      <i id="running-spinner" style="display: none;" class="fa fa-spinner fa-spin"></i>
      <i id="paused-icon" style="display: none;" class="fa fa-pause"></i>
      <span class="header-text"><%= i18n.debugCommandsHeaderWhenOpen() %></span>
    </div>
    <% } %>
    <% if (debugWatch) { %>
    <div id="debug-watch-header" class="workspace-header">
      <span class="header-text"><%= i18n.debugWatchHeader() %></span>
    </div>
    <% } %>
    <div id="clear-console-header" class="workspace-header workspace-header-button"><span><i class="fa fa-eraser"></i>Clear</span></div>
    <div id="slider-cell" style="margin-left: <%= debugButtons ? 0 : 40 %>px">
      <svg id="speed-slider"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           version="1.1"
           width="150"
           height="28">
          <!-- Slow icon. -->
          <clipPath id="slowClipPath">
            <rect width=26 height=12 x=5 y=6 />
          </clipPath>
          <image xlink:href="<%= assetUrl('media/turtle_icons.png') %>" height=42 width=84 x=-21 y=-18
              clip-path="url(#slowClipPath)" />
          <!-- Fast icon. -->
          <clipPath id="fastClipPath">
            <rect width=26 height=16 x=120 y=2 />
          </clipPath>
          <image xlink:href="<%= assetUrl('media/turtle_icons.png') %>" height=42 width=84 x=120 y=-19
              clip-path="url(#fastClipPath)" />
      </svg>
    </div>
  </div>

  <% if (debugButtons) { %>
  <div id="debug-commands" class="debug-commands">
    <div id="debug-buttons">
      <button id="pauseButton" class="debugger_button">
        <img src="<%= assetUrl('media/1x1.gif') %>" class="pause-btn icon21">
        <%= i18n.pause() %>
      </button>
      <button id="continueButton" class="debugger_button">
        <img src="<%= assetUrl('media/1x1.gif') %>" class="continue-btn icon21">
        <%= i18n.continue() %>
      </button>
      <button id="stepOverButton" class="debugger_button">
        <img src="<%= assetUrl('media/1x1.gif') %>" class="step-over-btn icon21">
        <%= i18n.stepOver() %>
      </button>
      <button id="stepOutButton" class="debugger_button">
        <img src="<%= assetUrl('media/1x1.gif') %>" class="step-out-btn icon21">
        <%= i18n.stepOut() %>
      </button>
      <button id="stepInButton" class="debugger_button">
        <img src="<%= assetUrl('media/1x1.gif') %>" class="step-in-btn icon21">
        <%= i18n.stepIn() %>
      </button>
    </div>
  </div>
  <% } %>
  <% if (debugConsole) { %>
  <div id="debug-console" class="debug-console <%= debugButtons ? '' : 'no-commands' %> <%= debugWatch ? '' : 'no-watch' %>">
    <div id="debug-output" class="debug-output"></div>
    <span class="debug-input-prompt">
      &gt;
    </span>
    <div contenteditable spellcheck="false" id="debug-input" class="debug-input"></div>
  </div>
  <% } %>
  <% if (debugWatch) { %>
  <div id="debug-watch" class="debug-watch <%= debugButtons ? '' : 'no-commands' %>">
  </div>
  <% } %>
</div>
