---
title: <%= hoc_s(:events_all_title) %>
layout: wide
nav: events_nav
---

-require 'cdo/properties'
-hoc_signups = Properties.get('hoc_signup_2014')
-by_country = hoc_signups ? hoc_signups['country_counts'] : {}
-by_state = hoc_signups ? hoc_signups['us_state_counts'] : {}

%h1= hoc_s(:events_all_old_title).gsub(/\@year/, "2014")

%ul
  %li{class: "hoc-event-country"}
    %span{style: "font-weight: bold;"}= "United States (#{by_country['United States'] || '0'} #{hoc_s(:events)})"
    %ul{style: "margin-top: 0; margin-bottom: 0;"}
      -by_state.each do |state, event_count|
        -unless state.nil? || state == ''
          %li{class: "hoc-event-state"}
            %a{href: "/events/2014/us/#{state.downcase}"}= event_count > 1 ? "#{state} (#{event_count} #{hoc_s(:events)})" : "#{state} (#{event_count} #{hoc_s(:event)})"
%ul
  -by_country.each do |country, event_count|
    -unless ['', 'United States'].include? country
      %li{class: "hoc-event-country"}
        %a{href: "/events/2014/#{country.downcase}"}= event_count > 1 ? "#{country} (#{event_count} #{hoc_s(:events)})" : "#{country} (#{event_count} #{hoc_s(:event)})"
