---
title: Computer Science Discoveries
theme: farsi_theme
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/csd-styles.css", rel: "stylesheet"}

-# TODO - Remove the DCDO logic after the AI Teaching Assistant launch
- if !!DCDO.get('ai-teaching-assistant-launch', false)
  = view :top_skinny_banner, banner_id: "banner-csd", banner_url: nil, banner_icon: "fa fa-megaphone", banner_text: hoc_s("ai_ta_page.announcement_banner_csd_page", markdown: :inline, locals: {learn_url: "/ai/teaching-assistant"}), external_link: false, light_theme: true

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s(:curriculum_name_csd)
      %p.white
        =hoc_s(:csd_page_top_desc)
      %a.link-button{href: "#pick-a-course"}
        =hoc_s(:call_to_action_explore_curriculum_options)
    %figure
      %img{src: "/images/banners/banner-csd-circle-icon.png", alt: ""}
    .clear

%section
  .wrapper
    %div.col-50{style: "margin: 0.5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "intro_csp", video_code: "uQim0hBHco0", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/curriculum_videos/curriculum_video_csd.mp4"
    .text-wrapper.col-45{style: "float: right;"}
      %h2=hoc_s(:csd_page_intro_heading)
      %ul
        %li=hoc_s(:csd_page_intro_list_01)
        %li=hoc_s(:csd_page_intro_list_02)
        %li=hoc_s(:csd_page_intro_list_03)
        %li=hoc_s(:csd_page_intro_list_04)
        %li=hoc_s(:csd_page_intro_list_05)
      %a.link-button{href: "#pick-a-course"}
        =hoc_s(:call_to_action_explore_curriculum_options)
    .clear

= view :professional_learning_skinny_banner

%section.bg-neutral-light
  - languages = "Italiano, Español (LATAM), Português (Brasil), Slovenčina"
  .wrapper
    = view :curriculum_glance_section, heading: hoc_s(:heading_curricula_at_a_glance), grades: hoc_s(:module_grade_6_10), duration: hoc_s(:module_duration_month_semester_year), level: hoc_s(:module_level_beginner), tools: hoc_s(:csd_page_curriculum_glance_tools), devices: hoc_s(:csd_page_curriculum_glance_devices), professional_learning: hoc_s(:csd_page_curriculum_glance_professional_learning), topics: hoc_s(:csd_page_curriculum_glance_topics), accessibility_features: hoc_s(:csd_page_curriculum_glance_professional_accessibility_features), languages: languages

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s(:csd_page_quote)
      %p.no-margin-bottom
        Maria Sellers
        %span •
        =hoc_s(:teacher_label_csd)

%section#pick-a-course.bg-neutral-light
  .wrapper
    - if request.language == "en"
      %h2=hoc_s(:csd_page_pick_a_course_heading, markdown: :inline)
    - else
      %h2=hoc_s(:csd_page_pick_a_course_heading_non_en, markdown: :inline, locals: {cs_discoveries: "CS Discoveries&reg;"})
    %p=hoc_s(:csd_page_pick_a_course_desc)
    %hr
    %div.centered
      %h3.heading-md
        =hoc_s(:csd_page_pick_a_course_heading_02)
      %div.flex-container.justify-center.wrap{style: "gap: 1rem"}
        %a.link-button{href: "#flexible-units"}
          =hoc_s(:call_to_action_pick_units)
        %a.link-button{href: "#collections"}
          =hoc_s(:call_to_action_focus_on_topic)
        %a.link-button{href: "#year-long-course"}
          =hoc_s(:call_to_action_teach_full_intro_course)

%section#year-long-course
  .wrapper
    %h2=hoc_s(:heading_year_long_intro_course)
    %p=hoc_s(:csd_page_courses_year_desc)
    .action-block.action-block--two-col
      %img.col-50{src: "/images/courses-catalog/CSD.png", alt: ""}
      .text-wrapper.col-50
        %p=hoc_s(:csd_page_courses_year_action_block_desc)
        %a.link-button{href: CDO.studio_url("/courses/csd?viewAs=Instructor")}
          =hoc_s(:call_to_action_explore_full_course)
    .clear

= view :section_divider_line

%section#flexible-units
  .wrapper
    %h2=hoc_s(:heading_flexible_units)
    %p=hoc_s(:csd_page_courses_flexible_units_desc)
    = view :carousel_csd_flexible

= view :section_divider_line

%section#collections
  .wrapper
    %h2=hoc_s(:heading_collections)
    %p=hoc_s(:csd_page_courses_collections_desc)
    = view :carousel_csd_collections

%section.bg-neutral-light
  .wrapper
    = view :"tabs_section/resources/resources_tabs", resources_heading: hoc_s(:resources_tabs_heading), resources_desc: hoc_s(:resources_tabs_desc, markdown: :inline, locals: {sign_up_url: CDO.studio_url("/users/sign_up")})

%section
  .wrapper
    = view :curriculum_pages_pl_section, facilitator_desc: hoc_s(:professional_learning_section_block_facilitator_led_workshops), apply_url: "/apply",modules_url: CDO.studio_url("/courses/self-paced-pl-csd")

= view :section_divider_line

%section.no-padding-bottom
  .wrapper
    %h2=hoc_s(:heading_faq)
    = view :faq_csd

%section
  .wrapper
    = view :support_and_questions_section

= view :swiper_page_csd
