---
title: Computer Science Fundamentals
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/csf-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s(:curriculum_name_csf)
      %p.white
        =hoc_s(:csf_page_top_desc)
      %a.link-button.white{href: "#pick-a-course"}
        =hoc_s(:call_to_action_explore_courses)
    %figure
      %img{src: "/images/banners/banner-csf-characters.png", alt: ""}
    .clear

%section
  .wrapper
    %div.col-50{style: "margin: .5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "intro_csf", video_code: "rNIM1fzJ8u0", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/curriculum_videos/curriculum_video_csf.mp4"
    .text-wrapper.col-45{style: "float: right;"}
      %h2=hoc_s(:csf_page_intro_heading)
      %ul
        %li=hoc_s(:csf_page_intro_list_01)
        %li=hoc_s(:csf_page_intro_list_02)
        %li=hoc_s(:csf_page_intro_list_03)
        %li=hoc_s(:csf_page_intro_list_04)
        -# The list item below is using the new namespace pattern for strings
        %li=hoc_s("csf_page.intro_list_05")
      %a.link-button{href: "#pick-a-course"}
        =hoc_s(:call_to_action_explore_courses)
    .clear

%section.bg-neutral-light
  - languages = "فارسی ,العربية , Bahasa Indonesia, Català, 简体字, 繁體字, Čeština, Français, Deutsch, हिन्दी, Italiano, 日本語, 한국어, ಕನ್ನಡ, بهاس ملايو, Монгол хэл, English, Polski, Português (Brasil), Română, Русский, Slovenčina, Filipino, தமிழ், ภาษาไทย, Türkçe, Українська, Español (España), Español (LATAM), اردو, O'zbekcha, Tiếng Việt"
  .wrapper
    = view :curriculum_glance_section, heading: hoc_s(:heading_curricula_at_a_glance), grades: hoc_s(:module_grade_k_5), duration: hoc_s(:module_duration_month_quarter), level: hoc_s(:module_level_beginner), tools: hoc_s(:csf_page_curriculum_glance_tools), devices: hoc_s(:csf_page_curriculum_glance_devices), professional_learning: hoc_s(:csf_page_curriculum_glance_professional_learning), topics: hoc_s(:csf_page_curriculum_glance_topics), accessibility_features: hoc_s(:csf_page_curriculum_glance_accessibility_features), languages: languages

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s(:csf_page_quote)
      %p.no-margin-bottom
        =hoc_s(:teacher_label_csf)

%section#pick-a-course.bg-neutral-light
  .wrapper
    %h2=hoc_s(:csf_page_pick_a_course_heading)
    %p=hoc_s(:csf_page_pick_a_course_desc)
    %hr
    %div.centered
      %h3.heading-md
        =hoc_s(:csf_page_pick_a_course_heading_02)
      .button-wrapper.centered
        %a.link-button{href: "#csf-teacher-led"}
          =hoc_s(:curriculum_name_csf_teacher_led)
        %a.link-button{href: "#csf-self-paced"}
          =hoc_s(:curriculum_name_csf_self_paced)
        %a.link-button{href: "#csf-no-devices"}
          =hoc_s(:curriculum_name_csf_no_device)

%section#csf-teacher-led
  .wrapper
    %h2=hoc_s(:csf_page_courses_heading)
    %p=hoc_s(:csf_page_courses_desc)
    = view :csf_page_courses

= view :section_divider_line

%section#csf-self-paced
  .wrapper
    %h2=hoc_s(:csf_page_courses_self_paced_heading)
    %p=hoc_s(:csf_page_courses_self_paced_desc)
    = view :csf_page_courses_self_paced

= view :section_divider_line

%section#csf-no-devices
  .wrapper
    %h2=hoc_s(:heading_no_devices)
    .action-block.action-block--two-col
      .media-wrapper.col-50
        %img{src: "/images/new-main.jpg", alt: ""}
      .text-wrapper.col-50
        %h3=hoc_s(:no_devices_section_subhead)
        %p=hoc_s(:no_devices_section_desc)
        %a.link-button{href: "/curriculum/unplugged", target: "_blank", rel: "noopener noreferrer"}
          =hoc_s(:call_to_action_explore_unplugged_lesson)
      .clear

%section.bg-neutral-light
  .wrapper
    = view :"tabs_section/resources/resources_tabs", resources_heading: hoc_s(:resources_tabs_heading), resources_desc: hoc_s(:resources_tabs_desc, markdown: :inline, locals: {sign_up_url: CDO.studio_url("/users/sign_up")})

%section
  .wrapper
    = view :curriculum_pages_pl_section, facilitator_desc: hoc_s(:professional_learning_section_block_facilitator_led_workshops_csf), apply_url: "/professional-development-workshops", modules_url: CDO.studio_url("/s/k5-onlinepd-2023")

= view :section_divider_line

%section.no-padding-bottom
  .wrapper
    %h2=hoc_s(:heading_faq)
    = view :faq_csf

%section
  .wrapper
    = view :support_and_questions_section

%section#csf-newsletter-signup{style: "padding-top: 2rem"}
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s(:subscribe_form_section_title), subscribe_form_section_desc: hoc_s(:subscribe_form_section_desc_csf), form_height: "375px", form_src: "http://go.pardot.com/l/153401/2018-10-02/lzp5jd"

%section.bg-neutral-light
  .wrapper
    -# The section is using the new namespace pattern for strings
    %h2=hoc_s("csf_page.additional_resources.heading")
    %p=hoc_s("csf_page.additional_resources.desc")
    = view :curriculum_support_additional_resources
