---
title: Educational short videos
theme: responsive_full_width
video_player: true
---

- video_page_index = 7
- video_page_section_title = [hoc_s(:video_library_page_title_ai_works), hoc_s(:video_library_page_title_computers_work), hoc_s(:video_library_page_title_internet_works), hoc_s(:video_library_page_title_not_hacked), hoc_s(:video_library_page_title_blockchain), hoc_s(:video_library_page_title_inspirational), hoc_s(:video_library_page_title_careers)]
- video_page_section_desc = [hoc_s(:video_library_page_description_ai_works), hoc_s(:video_library_page_description_computers_work), hoc_s(:video_library_page_description_internet_works), hoc_s(:video_library_page_description_not_hacked), hoc_s(:video_library_page_description_blockchain), hoc_s(:video_library_page_description_inspirational), hoc_s(:video_library_page_description_careers)]

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/video-page-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s(:video_library_page_main_title)
      %p.white
        =hoc_s(:video_library_page_hero_description)
    %figure
      %img{src: "/images/banners/video-logo.png", alt: ""}
    .clear

- video_page_index.times do |index|
  %section.centered
    .wrapper
      %h2
        = video_page_section_title[index]
      %p
        = video_page_section_desc[index]
      - if index === 0
        = view :carousel_how_ai_works_video
      - if index === 1
        = view :carousel_computer_works_video
      - if index === 2
        = view :carousel_internet_video
      - if index === 3
        = view :carousel_not_hacked_video
      - if index === 4
        = view :carousel_blockchain_video
      - if index === 5
        = view :carousel_inspirational_video
      - if index === 6
        = view :carousel_careers_in_cs_video
  = view :section_divider_line

%section.centered
  %p
    =hoc_s(:video_library_page_footer_description)
  %a.link-button.secondary{href: "https://www.youtube.com/channel/UCJyEBMU1xVP2be1-AoGS1BA", target: "_blank", rel: "noopener noreferrer"}
    =hoc_s(:video_library_page_footer_cta)

= view :swiper_page_videos
