%head
  %style
    body { font-family: sans-serif }
    h2 { font-family: monospace; font-size: 1.1em }
    table { width: 100% }
    tr { background-color: #dddddd; }
    \#refresh-controls { float: right; }
%body
  %div#refresh-controls
    %span#last-refresh-time
    %button#refresh-button Refresh
    %button#auto-refresh-button Pause Auto-Refresh
  %h1= "#{type} Test Status"
  %h2
    %a#git-branch{href: "https://github.com/code-dot-org/code-dot-org/tree/#{git_branch}", data: {branch: git_branch}}= git_branch
    |
    %a#commit-hash{href: "https://github.com/code-dot-org/code-dot-org/commit/#{commit_hash}", data: {hash: commit_hash}}= commit_hash[0..7]
    |
    %span#start-time= start_time
  %table
    - browser_features.map do |browser, feature|
      - browser['name'] = 'UnknownBrowser' if browser['name'].nil?
      %tr{"data-browser" => browser['name'],
          "data-feature" => feature}
        %td= browser['name']
        %td= feature
        %td.status
  %script{src: 'test_status.js'}