- if @application.regional_partner
  - if @application.regional_partner.contact_email.present?
    = @application.regional_partner.contact_name
    %br
    = mail_to @application.regional_partner.contact_email
    %br
    = @application.regional_partner.name
  - else
    = link_to @application.regional_partner.name, CDO.studio_url('/pd/regional_partner_contact/new', CDO.default_scheme)
- else
  Liz Gauthier
  %br
  = mail_to 'teacher@code.org'
  %br
  National Program Manager
  %br
  Code.org
