%p
  Dear
  = @application.first_name + ','

%p
  Thank you for submitting an application to participate in
  = "#{@application.regional_partner&.name || 'Code.org'}'s"
  Professional Learning Program. In order for us to consider your application,
  %strong we need your principal's approval.

%p
  Please take five minutes to forward this email to your principal and encourage them to complete
  = link_to @application.principal_approval_url do
    this form
  as soon as possible. Please note that your application is not considered complete until we receive this form.

%p
  As a reminder, for teachers participating in the program, we require the following commitment:
  %ul
    %li Attend one, five-day summer workshop in 2019
    %li Attend up to four, one-day local workshops during the 2019-20 school year (usually held on Saturdays)
    %li You hope to teach the course in the 2019-20 school year

%p
  Please direct all questions or concerns to:
  %div{style: 'padding-left: 2em'}
    = render partial: 'partner_signature'

%p
  For more information about Code.org’s professional development programs, please visit http://code.org/educate. Thank you very much! We look forward to reviewing your application!
