%p
  Dear
  = @application.principal_greeting + ','

%p
  A teacher at your school,
  = @application.applicant_full_name + ','
  has submitted an application to participate in
  = @application.effective_regional_partner_name + "'s"
  Professional Learning Program in order to teach the
  = @application.course_name
  curriculum during the 2019-20 school year.
  We are excited that this teacher is committed to computer science education!

%p
  %strong In order for us to consider your teacher’s application, we first need your approval.

%p
  Please take five minutes to complete
  = link_to('this form', @application.principal_approval_url)
  as soon as possible.
  Please note that your teacher’s application is not considered complete until we receive this form.

%p
  Registration for the Professional Learning Program may have a cost,
  but there may also be scholarships available. Please
  = link_to 'review this page', 'https://code.org/educate/professional-learning/program-information'
  to see the cost of the program in your region.

%p
  We are looking for teachers who are hoping to teach the course in the 2019-20 school year.
  In addition, we require the following commitment:
  %ul
    %li To attend one five-day summer workshop in 2019
    %li To attend up to four one-day local workshops during the 2019-20 school year (usually held on Saturdays)

%p{style: 'margin-bottom: 0'}
  Please direct all questions or concerns to:
  %div{style: 'padding-left: 2em'}
    = render partial: 'partner_signature'

%p
  For more information about Code.org’s Professional Learning Programs, please visit
  = link_to('https://code.org/educate', 'https://code.org/educate') + '.'
  Thank you very much for your support of computer science for all!

%p
  = render partial: 'partner_signature'
