- registration_url = "https://studio.code.org/pd/workshops/#{@application.workshop.id}/enroll"
- twitter_share_link = 'https://twitter.com/intent/tweet?text=I%20just%20signed%20up%20for%20Code.org%27s%20Professional%20Learning%20Program%20to%20teach%20computer%20science%20in%20my%20classroom.%20Join%20me%20and%20sign%20up%20here%21%20code.org%2Fapply&source=clicktotweet&related=clicktotweet'

%p
  Hello
  = @application.first_name + "!"

%p
  Congratulations on being selected as a participant in the
  = @application.course_name
  Professional Learning program in partnership with
  = @application.effective_regional_partner_name
  and Code.org!
  Now it's time to register!

%p
  Please read on for more details, and then make sure to register using the link below
  %strong within two weeks
  of receiving this message
  %strong to register for your summer workshop.

= render partial: 'expectations'

%p
  Here are your important next steps:

%ul
  %li
    %strong Within two weeks
    of receiving this message, please register for your summer workshop and confirm your seat in this program.
    = link_to('Register Here', registration_url) + '.'
  %li
    If you want to decline your seat, let me know as soon as possible, using the using the contact information in my signature.
  %li
    %strong Mark your calendar for your summer workshop!
    Details about the dates/location of your workshop can be found at
    = link_to('this registration link', registration_url) + '.'
    You will receive more details about travel, lodging, and meals (if applicable)
    approximately six weeks prior to your summer workshop.
  %li
    Share the good news with your school! Start talking with your
    administration, colleagues, students, and parents now about the course you
    will be teaching next year, and encourage a diverse group of students to
    enroll. Once you register for the program, you will receive a
    welcome kit complete with recruitment tips and tools. In the meantime,
    please checkout these
    = link_to('recruitment resources', 'https://code.org/educate/resources/recruit') + '.'

%p
  Congratulations and thanks for bringing computer science to your students! Help us
  = link_to twitter_share_link do
    spread the word in a tweet
  to encourage more teachers to join your local CS teaching community.  We look forward to receiving your registration as soon as possible, but no later than 5 days from today.

= render partial: 'partner_signature'

