---
allow_post: true
---

:ruby
  authentication_required!
  forbidden! unless dashboard_user[:admin]

  USERS = DASHBOARD_DB[:users]
  PERMISSIONS = DASHBOARD_DB[:user_permissions]

  if params['emails']
    emails = params['emails'].gsub(/\s+/, "").downcase.split(',')
  end

  permission_name = params['permission_name']
  messages = []

  def grant_permission_to_email(email, permission_name)
    user = USERS.where(email: email).first
    if !user
      return "#{email} is not a user"
    end

    if permission_name == 'teacher'
      if user[:user_type] == permission_name
        return "#{email} already has 'teacher'"
      end
      USERS.where(email: email).update(user_type: permission_name)
      return "#{email} granted 'teacher'"
    elsif permission_name == 'admin'
      if user[:admin]
        return "#{email} already has 'admin'"
      end
      USERS.where(email: email).update(admin: true)
      return "#{email} granted 'admin'"
    end

    if permission_name == 'affiliate' && user[:user_type] != 'teacher'
      return "Cannot grant #{email} 'affiliate' because #{email} is not a teacher"
    end

    if PERMISSIONS.where(user_id: user[:id], permission: permission_name).any?
      return "#{email} already has '#{permission_name}'"
    end

    time_now = DateTime.now
    PERMISSIONS.insert(user_id: user[:id], permission: permission_name, created_at: time_now, updated_at: time_now)
    return "#{email} granted '#{permission_name}'"
  end

  if emails && permission_name.present?
    emails.each do |email|
      messages << grant_permission_to_email(email, permission_name)
    end
  else
    messages << "Missing emails or permission"
  end

%h1
  Grant Permissions
%ul
  - messages.each do |message|
    %li
      #{message}
%form.panel.panel-default#bulk_import{action:'/private/privileges', method:'POST'}
  .panel-heading
    Please enter emails separated by commas
  .panel-body
    %textarea{name:'emails'}
    %h3
      Select a Permission
    %select{name:'permission_name'}
      %option
      %option
        create_professional_development_workshop
      %option
        levelbuilder
      %option
        teacher
      %option
        admin
    %br
    %br
    %input.btn.btn-primary{type:'submit', value:'Grant Permissions'}

:css
  #bulk_import textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }
