---
title: Careers in Tech
theme: responsive
video_player: true
---

%link{href: "/css/jumbotron-banner.css", rel: "stylesheet"}

= view :jumbotron_banner, img: CDO.code_org_url("/images/girls-trying-vr.png"), title: "Careers in Tech", desc: "Careers in computer science and technology can be fun and rewarding. But what does a person working in these fields really do? With a vast variety of jobs and companies, there's not just one answer to this question. Explore the videos and resources below to meet some of the people who are tackling big problems in creative ways.", nav_bar: [{text: 'Video Series', url: '#videos'}, {text: 'Poster Series', url: '#posters'}]


#videos
  .solid-block-header Video Series
  .col-50.soft-padding
    = view :display_video_thumbnail, id: 'brina_instagram', video_code: 't0-Z_LfGwUM', play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/careers-in-tech/my_name_is_brina.mp4", caption: 'My name is Brina and I\'m a Software Engineer at Instagram'
  .col-50.soft-padding
    = view :display_video_thumbnail, id: 'federico_microsoft', video_code: 'EUF2mad21jo', play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/careers-in-tech/my_name_is_federico.mp4", caption: 'My name is Federico and I\'m a Technical Program Manager at Microsoft'
  .clear
  .col-50.soft-padding
    = view :display_video_thumbnail, id: 'kinsley_facebook', video_code: 'suJZ9z426P0', play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/careers-in-tech/my_name_is_kinsley.mp4", caption: 'My name is Kinsley and I\'m a Software Engineer at Facebook'
  .col-50.soft-padding
    = view :display_video_thumbnail, id: 'tess_google', video_code: 'RfbbDgx6l1g', play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/careers-in-tech/my_name_is_tess.mp4", caption: 'My name is Tess and I\'m a Software Engineer at Google'
  .clear
  .col-50.soft-padding
    = view :display_video_thumbnail, id: 'polina_ea', video_code: 'tTSEFaYjV30', play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/careers-in-tech/my_name_is_polina.mp4", caption: 'My name is Polina and I\'m a Data Scientist at Electronic Arts'
  .clear

#posters
  .solid-block-header Poster Series
  .col-25
    We are 
    %a{href: '/careers-in-tech/rory-and-kieran'}
      Rory and Kieran
    %br
    %a{href: '/careers-in-tech/rory-and-kieran'}
      %img{src: '/images/fit-300/careers/poster_thumbnail_rory_kieran.jpg'}
  .col-25
    We are 
    %a{href: '/careers-in-tech/erin-and-nidhi'}
      Nidhi and Erin
    %br
    %a{href: '/careers-in-tech/erin-and-nidhi'}
      %img{src: '/images/fit-300/careers/poster_thumbnail_nidhi_erin.jpg'}
  .col-25
    My name is 
    %a{href: '/careers-in-tech/maddy-maxey'}
      Maddy Maxey
    %br
    %a{href: '/careers-in-tech/maddy-maxey'}
      %img{src: '/images/fit-300/careers/poster_thumbnail_maddy_maxey.jpg'}
  .col-25
    My name is 
    %a{href: '/careers-in-tech/javier-aguera'}
      Javier Agüera
    %br
    %a{href: '/careers-in-tech/javier-aguera'}
      %img{src: '/images/fit-300/careers/poster_thumbnail_javier_aguera.jpg'}
  .clear

%hr{style: 'margin-top: 50px;'}
For more inspirational videos, visit our
%a{href: '/videos'}
  video library.
