- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
- email = 'facilitators@code.org'

- if @registration.accepted?
  %h1
    Thank you for completing the FiT Weekend registration form
  %p
    Thank you for submitting your FiT Weekend registration form. We’re excited you’re
    planning to join us this summer! You will receive more information about travel
    approximately six weeks before the FiT Weekend. In the meantime, please
    %strong
      do not
    book your flight, and make sure to contact
    = link_to(email, "mailto:#{email}")
    with any questions. We look forward to meeting you this summer!
- else
  %h1
    Thank you for completing the FiT Weekend registration form
  %p
    Thank you for submitting your FiT Weekend registration form. We noticed you responded
    that you’re not able to attend your assigned FiT weekend. Please contact us at
    = link_to(email, "mailto:#{email}")
    so that we can assist you.
