<% if @resource.child_users %>

    <p>Hello <%= @resource.email %>!</p>

    <p>Someone has requested a link to change the password for an account associated with your email address. You can reset the password for the appropriate account using the link below any time within the next <%= Devise.reset_password_within.inspect %>:</p>

    <ul>
    <% @resource.child_users.each do |user| %>
      <li> Change password for <%= user.username %>: <%= link_to edit_password_url(user, :reset_password_token => user.raw_token), edit_password_url(user, :reset_password_token => user.raw_token) %></li>
    <% end %>
    </ul>

    <p>Passwords will not change until you access the corresponding link above and create a new one.</p>

<% else %>

    <p>Hello <%= @resource.email %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below any time within the next <%= Devise.reset_password_within.inspect %>.</p>

    <p>Change my password: <%= link_to edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>

    <p>Your password won't change until you access the link above and create a new one.</p>

<% end %>