<% password_reset_time = Devise.reset_password_within.inspect %>
<% if @resource.child_users %>
    <p><%= "#{I18n.t('devise.mailer.reset_password_instructions.hello')} #{@resource.email}" %></p>

    <p>
      <%= I18n.t('devise.mailer.reset_password_instructions.associated_account_password_reset') %>
      <%= I18n.t("devise.mailer.reset_password_instructions.#{password_reset_time}") %>:
    </p>

    <ul>
    <% @resource.child_users.each do |user| %>
      <% password_reset_url = edit_password_url(user, :reset_password_token => user.raw_token) %>
      <li>
        <%= "#{I18n.t('devise.mailer.reset_password_instructions.change_password_for')} #{user.username}: " %>
        <%= link_to password_reset_url, password_reset_url %>
      </li>
    <% end %>
    </ul>

    <p><%= I18n.t('devise.mailer.reset_password_instructions.associated_account_password_wont_change') %></p>

<% else %>
    <p><%= "#{I18n.t('devise.mailer.reset_password_instructions.hello')} #{@resource.email}" %></p>

    <p>
      <%= I18n.t('devise.mailer.reset_password_instructions.your_password_reset') %>
      <%= I18n.t("devise.mailer.reset_password_instructions.#{password_reset_time}") %>:.
    </p>

    <% password_reset_url = edit_password_url(@resource, :reset_password_token => @token) %>
    <p>
      <%= "#{I18n.t('devise.mailer.reset_password_instructions.change_my_password')}: " %>
      <%= link_to password_reset_url, password_reset_url %>
    </p>

    <p><%= I18n.t('devise.mailer.reset_password_instructions.ignore_if_did_not_request') %></p>

    <p><%= I18n.t('devise.mailer.reset_password_instructions.your_password_wont_change') %></p>

<% end %>
