<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<style>@media print{ #_t { background-image: url('https://2a35fy33.emltrk.com/2a35fy33?p&d=<%= @resource.email %>');}} div.OutlookMessageHeader {background-image:url('https://2a35fy33.emltrk.com/2a35fy33?f&d=<%= @resource.email %>')} table.moz-email-headers-table {background-image:url('https://2a35fy33.emltrk.com/2a35fy33?f&d=<%= @resource.email %>')} blockquote #_t {background-image:url('https://2a35fy33.emltrk.com/2a35fy33?f&d=<%= @resource.email %>')} #MailContainerBody #_t {background-image:url('https://2a35fy33.emltrk.com/2a35fy33?f&d=<%= @resource.email %>')}</style><div id="_t"></div>
<img src="https://2a35fy33.emltrk.com/2a35fy33?d=<%= @resource.email %>" width="1" height="1" border="0" />
