<% if @resource.child_users %>
    <p><%= "#{I18n.t(:hello, scope: [:devise, :mailer, :reset_password_instructions])} #{@resource.email}" %></p>

    <p>
      <%= I18n.t(:associated_account_password_reset, scope: [:devise, :mailer, :reset_password_instructions]) %> <%= Devise.reset_password_within.inspect %>:
    </p>

    <ul>
    <% @resource.child_users.each do |user| %>
      <% password_reset_url = edit_password_url(user, :reset_password_token => user.raw_token) %>
      <li>
        <%= "#{I18n.t(:change_password_for, scope: [:devise, :mailer, :reset_password_instructions])} #{user.username}: #{link_to password_reset_url, password_reset_url}" %>
      </li>
    <% end %>
    </ul>

    <p><%= I18n.t(:associated_account_password_wont_change, scope: [:devise, :mailer, :reset_password_instructions]) %>></p>

<% else %>
    <p><%= "#{I18n.t(:hello, scope: [:devise, :mailer, :reset_password_instructions])} #{@resource.email}" %></p>

    <p>
      <%= I18n.t(:your_password_reset, scope: [:devise, :mailer, :reset_password_instructions]) %> <%= Devise.reset_password_within.inspect %>.
    </p>

    <% password_reset_url = edit_password_url(@resource, :reset_password_token => @token) %>
    <p>
      <%= "#{I18n.t(:change_my_password, scope: [:devise, :mailer, :reset_password_instructions])}: #{link_to password_reset_url, password_reset_url}" %>
    </p>

    <p><%= I18n.t(:ignore_if_did_not_request, scope: [:devise, :mailer, :reset_password_instructions]) %>></p>

    <p><%= I18n.t(:your_password_wont_change, scope: [:devise, :mailer, :reset_password_instructions]) %>></p>

<% end %>
