- day_count = Devise.reset_password_within.inspect[/\d+/]

- if @resource.child_users
  = I18n.t('devise.mailer.reset_password_instructions.hello', user_email: @resource.email)

  %p= I18n.t('devise.mailer.reset_password_instructions.associated_account_password_reset', day_count: day_count)

  %ul
  - @resource.child_users.each do |user|
    - password_reset_url = edit_password_url(user, reset_password_token: user.raw_token)
    %li
      = I18n.t('devise.mailer.reset_password_instructions.change_password_for', user_name: user.username)
      = link_to password_reset_url, password_reset_url

  %p= I18n.t('devise.mailer.reset_password_instructions.associated_account_password_wont_change')

- else
  %p= I18n.t('devise.mailer.reset_password_instructions.hello', user_email: @resource.email)

  %p= I18n.t('devise.mailer.reset_password_instructions.your_password_reset', day_count: day_count)

  - password_reset_url = edit_password_url(@resource, reset_password_token: @token)
  %p
    = I18n.t('devise.mailer.reset_password_instructions.change_my_password')
    = link_to password_reset_url, password_reset_url

  %p= I18n.t('devise.mailer.reset_password_instructions.ignore_if_did_not_request')

  %p= I18n.t('devise.mailer.reset_password_instructions.your_password_wont_change')
