- @page_title = t('gallery.students_made_these_with_code')
- content_for :og do
  = tag 'meta', property: 'og:title', content: @page_title
  = tag 'meta', property: 'og:image', content: image_url('gallery_thumbnail.png')
  = tag 'meta', property: 'og:description', content: strip_tags(t('gallery.picture_count', days: @days, count: number_with_delimiter(GalleryActivity.pseudocount)))

.row
  %h1{style: 'text-align:center;'}
    = link_to t('gallery.students_made_these_with_code'), gallery_activities_path

- if params[:app] # pagination page: just one type of activity
  = render partial: 'gallery_activities', locals: {gallery_activities: @gallery_activities}
  .span{style: 'float:right;'}
    - page = params[:page] || 1
    - page = page.to_i
    = link_to t('gallery.more').html_safe, page: page + 1

- else
  .row
    .span2
    .span8.infobox
      = t('gallery.activity_count', days: @days, count: number_with_delimiter(brakeman_no_warn(GalleryActivity.pseudocount))).html_safe
    .span2

  .row
    .span12
      %h2{style: 'text-align:center;'}= t('gallery.header_playlab')

  = render partial: 'gallery_activities', locals: {gallery_activities: @playlab_gallery_activities, app: Game::PLAYLAB}
  .span{style: 'float:right;'}
    = link_to t('gallery.more').html_safe, app: Game::PLAYLAB

  %a{name: "artist"}

  .row
    .span12
      %h2{style: 'text-align:center;'}= t('gallery.header_artist')

  = render partial: 'gallery_activities', locals: {gallery_activities: @artist_gallery_activities, app: Game::ARTIST}
  .span{style: 'float:right;'}
    = link_to t('gallery.more').html_safe, app: Game::ARTIST

%br{clear: :all}

.row
  %h2.lesson{style: 'text-align:center'}
    = t('gallery.want_to_make_your_own')
  %h4{style: 'text-align:center'}= t('gallery.how_to_save')
.row
  .span3
  = render partial: 'shared/course_tall_block', locals: { id: Script::PLAYLAB_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Script::ARTIST_NAME }
  .span3
.row
  %a{href: CDO.code_org_url('/report-abuse')}
    %h5{style: 'text-align:center'}
      = t('gallery.report_abuse')
