.span12
  = render partial: 'shared/course_wide_block', locals: { id: 'course1' }
%div{style: 'clear: both;'}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: 'course2' }
%div{style: 'clear: both;'}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: 'course3' }
%div{style: 'clear: both;'}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: 'course4' }
%div{style: 'clear: both;'}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: 'hoc' }
%div{style: 'clear: both;'}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: Script::FLAPPY_NAME }
%div{style: 'clear: both;'}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: Script::TWENTY_HOUR_NAME }
%div{style: 'clear: both;'}
%br/
