.span12
  = render partial: 'shared/course_wide_block', locals: { id: "course1" }
%div{style: "clear:both"}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: "course2" }
%div{style: "clear:both"}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: "course3" }
%div{style: "clear:both"}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: "hoc" }
%div{style: "clear:both"}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: "flappy" }
%div{style: "clear:both"}
%br/

.span12
  = render partial: 'shared/course_wide_block', locals: { id: "20hour" }
%div{style: "clear:both"}
%br/