.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::STARWARS_NAME, teacher_guide: CDO.code_org_url("/hourofcode/starwars") }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FROZEN_NAME, teacher_guide: CDO.code_org_url("/hourofcode/frozen") }
  = render partial: 'shared/course_tall_block', locals: { id: 'sports' }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FLAPPY_NAME, teacher_guide: CDO.code_org_url("/hourofcode/flappy") }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_NAME, teacher_guide: CDO.code_org_url("/hourofcode/hourofcode") }
  = render partial: 'shared/course_tall_block', locals: { id: Script::INFINITY_NAME, teacher_guide: CDO.code_org_url("/hourofcode/infinity") }
  = render partial: 'shared/course_tall_block', locals: { id: Script::PLAYLAB_NAME, teacher_guide: CDO.code_org_url("/hourofcode/playlab") }
  = render partial: 'shared/course_tall_block', locals: { id: Script::ARTIST_NAME, teacher_guide: CDO.code_org_url("/hourofcode/artist") }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: 'text_compression', teacher_guide: "https://curriculum.code.org/hoc/2016/1/" }
  = render partial: 'shared/course_tall_block', locals: { id: 'hoc_encryption', teacher_guide: "https://curriculum.code.org/hoc/2016/2/" }
  = render partial: 'shared/course_tall_block', locals: { id: 'conditionals', teacher_guide: CDO.code_org_url("/hourofcode/unplugged-conditionals-with-cards") }

%br/
