.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::STARWARS_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FROZEN_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Script::SPORTS_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FLAPPY_NAME, show_teacher_guide: true }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Script::INFINITY_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Script::PLAYLAB_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Script::ARTIST_NAME, show_teacher_guide: true }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::TEXT_COMPRESSION_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_ENCRYPTION_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: 'conditionals', show_teacher_guide: true }

%br/
