.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Unit::POEM_ART }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::STARWARS_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::FROZEN_NAME, show_teacher_guide: true }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Unit::FLAPPY_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::HOC_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::INFINITY_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::PLAYLAB_NAME, show_teacher_guide: true }

.row{style: "margin: 0;"}

  = render partial: 'shared/course_tall_block', locals: { id: Unit::ARTIST_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::TEXT_COMPRESSION_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::HOC_ENCRYPTION_NAME, show_teacher_guide: true }
  = render partial: 'shared/course_tall_block', locals: { id: 'conditionals', show_teacher_guide: true }

%br/
