.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_tall_block', locals: { id: Script::MINECRAFT_DESIGNER_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::STARWARS_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FROZEN_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_NAME, showState: false }
%br/
.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_tall_block', locals: { id: Script::FLAPPY_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::INFINITY_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::PLAYLAB_NAME, showState: false }
  = render partial: 'shared/course_tall_block', locals: { id: Script::ARTIST_NAME, showState: false }
%br/
