.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::STARWARS_NAME, teacher_guide: "/hourofcode/starwars" }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FROZEN_NAME, teacher_guide: "/hourofcode/frozen" }
  = render partial: 'shared/course_tall_block', locals: { id: 'sports' }
  = render partial: 'shared/course_tall_block', locals: { id: Script::FLAPPY_NAME, teacher_guide: "/hourofcode/flappy" }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: Script::HOC_NAME, teacher_guide: "/hourofcode/hourofcode" }
  = render partial: 'shared/course_tall_block', locals: { id: Script::INFINITY_NAME, teacher_guide: "/hourofcode/infinity" }
  = render partial: 'shared/course_tall_block', locals: { id: Script::PLAYLAB_NAME, teacher_guide: "/hourofcode/playlab" }
  = render partial: 'shared/course_tall_block', locals: { id: Script::ARTIST_NAME, teacher_guide: "/hourofcode/artist" }

.row{style: "margin: 0;"}
  = render partial: 'shared/course_tall_block', locals: { id: 'text_compression' }
  = render partial: 'shared/course_tall_block', locals: { id: 'hoc_encryption' }
  = render partial: 'shared/course_tall_block', locals: { id: 'conditionals', teacher_guide: "/hourofcode/unplugged-conditionals-with-cards" }

%br/
