.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_tall_block', locals: { id: 'hourofcode' }
  = render partial: 'shared/course_tall_block', locals: { id: 'frozen' }
  = render partial: 'shared/course_tall_block', locals: { id: 'infinity' }
  = render partial: 'shared/course_tall_block', locals: { id: 'flappy' }
%br/
.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_wide_block', locals: { id: 'playlab' }
  = render partial: 'shared/course_wide_block', locals: { id: 'artist' }
%br/
