.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_tall_block', locals: { id: Unit::STARWARS_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::FROZEN_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::FLAPPY_NAME }

%br/

.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_tall_block', locals: { id: Unit::INFINITY_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::PLAYLAB_NAME }
  = render partial: 'shared/course_tall_block', locals: { id: Unit::ARTIST_NAME }

%br/
