.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_wide_block', locals: { id: Script::COURSE1_NAME, showState: false }
  = render partial: 'shared/course_wide_block', locals: { id: Script::COURSE2_NAME, showState: false }
  .clear
  %br/
  = render partial: 'shared/course_wide_block', locals: { id: Script::COURSE3_NAME, showState: false }
  = render partial: 'shared/course_wide_block', locals: { id: Script::COURSE4_NAME, showState: false }
%br/
.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_wide_block', locals: { id: Script::TWENTY_HOUR_NAME, showState: false, view: "large" }
  = render partial: 'shared/course_wide_block', locals: { id: "unplugged", view: "large" }
%br/
