.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_wide_block', locals: { id: 'course1' }
  = render partial: 'shared/course_wide_block', locals: { id: 'course2' }
  .clear
  %br/
  = render partial: 'shared/course_wide_block', locals: { id: 'course3' }
  = render partial: 'shared/course_wide_block', locals: { id: 'course4' }
%br/
.row{style: 'margin: 0px;'}
  = render partial: 'shared/course_wide_block', locals: { id: "20-hour", view: "large" }
%br/