- cta_url = "http://blog.code.org/post/147243645493/"

%div.teacher-announce
  %a.announce-heading-link{href: 'http://teacherblog.code.org/'}
    %div.announce-heading
      = t('home.announcement_title')
      %div.heading-view-all
        = t('home.announcement_view_all')
        >>
  %div.announce-content
    %a{href: cta_url, target: '_blank'}
      %div.content-img-container
        = image_tag(CDO.shared_image_url('/teacher-announcement/privacy-policy.png'), width: '100px')
    %div.content-text
      != t('home.announcement_message')
    %div.announce-learn-more
      %a{href: cta_url, target: '_blank'}
        %button.primary= t('home.announcement_learn_more_button')

#clearboth{style: 'clear: both;'}
