- cta_url = CDO.studio_url('/p/applab')

%div.teacher-announce
  %a.announce-heading-link{href: 'http://teacherblog.code.org/'}
    %div.announce-heading
      = t('home.announcement_title')
      %div.heading-view-all
        = t('home.announcement_view_all')
        >>
  %div.announce-content
    %a{href: cta_url}
      %div.content-img-container
        = image_tag(CDO.shared_image_url('/teacher-announcement/embed-app-lab.gif'), width: '200px')
    %div.content-text
      != t('home.announcement_message')
    %div.announce-learn-more
      %a{href: cta_url}
        %button.primary= t('home.announcement_button')

#clearboth{style: 'clear: both;'}
