- teacher_blog_url = 'http://teacherblog.code.org/'
- code_studio_video_url = 'https://www.youtube.com/watch?v=ZRNRVu4DFcs'
- beyond_url = 'https://code.org/educate'
- recruit_ap_students = 'http://teacherblog.code.org/post/156689658029/ask-your-cs-principles-students-to-star-in-our'
- recruit_ap_students_gift_url = 'http://teacherblog.code.org/post/157254660224/lets-make-history-for-ap-computer-science'
- recruit_ap_students_video_url = 'https://www.youtube.com/watch?v=ed_zuLHlMdQ'
- csf_pilot_url = 'http://teacherblog.code.org/post/156904055219/were-making-cs-fundamentals-even-betterand-we'
- csp_deadline_url = 'https://code.org/educate/professional-learning/cs-principles-apply'

.teacher-announce
  .announce-heading{style: 'height: 20px; box-sizing: content-box'}
    = t('home.announcement_title')
  #us-announcement{style: 'display: none;'}

    .announce-content
      %a.track-link{href: csp_deadline_url, target: '_blank', data: {id: 'csp_deadline'}}
        .content-img-container
          = image_tag(CDO.shared_image_url('/teacher-announcement/csp-deadline.png'), width: '200px')
      .content-text
        != t('home.announcement_csp_deadline')
      .announce-learn-more
        %a.track-link{href: csp_deadline_url, target: '_blank', data: {id: 'csp_deadline'}}
          %button.primary= t('home.announcement_apply_now')

  #non-us-announcement{style: 'display: none;'}

    .announce-content
      %a.track-link{href: code_studio_video_url, target: '_blank', data: {id: 'code_studio_video'}}
        .content-img-container
          = image_tag(CDO.shared_image_url('/teacher-announcement/how-code-studio.png'), width: '200px')
      .content-text
        != t('home.announcement_go_beyond')
      .announce-learn-more
        %a.track-link{href: beyond_url, target: '_blank', data: {id: 'code_studio_video'}}
          %button.primary= t('home.announcement_go_beyond_button')

  .mini-announcement
    .content-text
      %i.fa.fa-hand-o-right
      != t('home.announcement_all', teacher_blog_url: teacher_blog_url)

#clearboth{style: 'clear: both;'}
