- cta_url = "http://teacherblog.code.org/post/147349807334/try-pair-programmingtrack-the-progress-of"
- csp_widgets_url = CDO.code_org_url('/educate/csp/widgets')

%div.teacher-announce
  %a.announce-heading-link{href: 'http://teacherblog.code.org/'}
    %div.announce-heading
      = t('home.announcement_title')
      %div.heading-view-all
        = t('home.announcement_view_all')
        >>
  %div.announce-content
    %a{href: cta_url, target: '_blank'}
      %div.content-img-container
        = image_tag(CDO.shared_image_url('/teacher-announcement/pair-programming.png'), width: '200px')
    %div.content-text
      != t('home.announcement_message')
    %div.announce-learn-more
      %a{href: cta_url, target: '_blank'}
        %button.primary= t('home.announcement_learn_more_button')
  %div.announce-content
    %a{href: csp_widgets_url, target: '_blank'}
      %div.content-img-container
        = image_tag(CDO.shared_image_url('/teacher-announcement/csp-widgets.png'), width: '200px')
    %div.content-text
      != t('home.announcement_csp_widgets_message')
    %div.announce-learn-more
      %a{href: csp_widgets_url, target: '_blank'}
        %button.primary= t('home.announcement_try_now_button')

#clearboth{style: 'clear: both;'}
