- if current_user
  - script = current_user.primary_script
  - script_level = current_user.next_unpassed_progression_level(script)
  - role_class = current_user.user_type

  #contents
    #welcome{class: role_class}= t('welcome_back', name: current_user.name)

    #body{class: role_class}
      - if current_user.primary_script && script_level
        #student
          #currentprogress
            = t("data.script.name.#{current_user.primary_script.name}.title")
            %br
            = script_level.stage.localized_title
          #coursebuttons
            = link_to 'http://studio.code.org/#allcourses' do
              %button.primary= t('continue')
            = link_to script_url(current_user.primary_script) do
              %button.primary= t('home.view_course')
      - elsif all_advertised_scripts_completed?(advertised_scripts)
        = t('home.student_finished', online_link: link_to(t('home.online'), 'http://code.org/learn/beyond'), local_school_link: link_to(t('home.local_school'), 'http://code.org/learn/local'))
      - else
        = link_to t('home.no_primary_course'), root_url

      / - if current_user.teacher?
      /   #teacherarea.col-50
      /     #classroom #{t('home.classroom')}:
      /     #teacher
      /       %span#student_count
      /         - if current_user.students.length == 1
      /           = t('home.teacher_student_count_one', count: current_user.students.length)
      /         - else
      /           = t('home.teacher_student_count', count: current_user.students.length)
      /         &nbsp;
      /       %a{href: teacher_dashboard_url, style: 'text-decoration:none'}
      /         %button.btn.btn-primary.button-continue{class: role_class}= t('teacher.students.dashboard')
      /       %br/
      
    #clearboth{ style: 'clear:both;' }
