- if current_user
  - role_class = current_user.user_type

  #contents
    #welcome{class: role_class}
      = t('welcome_back', name: current_user.name)
      - if current_user.teacher?
        = link_to teacher_dashboard_url do
          %button.primary{class: 'teacherdashboard', style: "margin-left: 20px;"}= t('teacher.students.dashboard')
    - plc_enrollments = Plc::UserCourseEnrollment.where(user: current_user)
    - plc_enrollments.each do |course_enrollment|
      - uncompleted_units = course_enrollment.plc_unit_assignments.where.not(status: [Plc::EnrollmentUnitAssignment::COMPLETED, Plc::EnrollmentUnitAssignment::START_BLOCKED])
      - if uncompleted_units.any?
        - unit_enrollment = uncompleted_units.first
        #plc_course_progress{class: role_class}
          %h4
            = t('your_professional_learning_plan')
          .flex_container{style: 'display: flex'}
            .flex_item{style: 'width: 50%'}
              #{course_enrollment.plc_course.name}
            .flex_item{style: 'width: 50%'}
              = link_to course_path(course_enrollment.plc_course.name.downcase.sub(' ', '-')) do
                %button.primary{class: 'teacherdashboard', style: "margin-left: 20px;"}= t('see_your_learning_plan')
    - if Gatekeeper.allows?('logged_in_studio_hero', default: true)
      #body{class: role_class}
        - script = current_user.primary_script
        - if script
          - script_level = current_user.next_unpassed_progression_level(script)
        - if script && script_level
          #currentprogress
            = t("data.script.name.#{current_user.primary_script.name}.title")
            %br
            .smalltext= script_level.stage.localized_title
          #coursebuttons
            = link_to build_script_level_url(script_level) do
              %button.primary= t('continue')
            = link_to script_url(current_user.primary_script) do
              %button.primary= t('home.view_course')
        - elsif current_user.all_advertised_scripts_completed?
          #suggestcourse.smalltext!= t('home.student_finished', online_link: link_to(t('home.online'), 'http://code.org/learn/beyond'), local_school_link: link_to(t('home.local_school'), 'http://code.org/learn/local'))
        - else
          - if current_page?(root_url)  # Already at studio.code.org
            #suggestcourse.smalltext= t('home.choose_next_course')
          - else
            #suggestcourse.smalltext= link_to t('home.no_primary_course'), root_url

  #clearboth{ style: 'clear:both;' }
