- if current_user
  - role_class = current_user.user_type
  - script = current_user.primary_script
  - if script
    - script_level = current_user.next_unpassed_progression_level(script)  

  #contents
    #welcome{class: role_class}
      = t('welcome_back', name: current_user.name)
      - if current_user.teacher?
        = link_to teacher_dashboard_url do
          %button.primary{style: "margin-left: 20px;"}= t('teacher.students.dashboard')

    #body{class: role_class}
      - if current_user.primary_script && script_level
        #student
          #currentprogress
            = t("data.script.name.#{current_user.primary_script.name}.title")
            %br
            .smalltext= script_level.stage.localized_title
          #coursebuttons
            = link_to build_script_level_url(script_level) do
              %button.primary= t('continue')
            = link_to script_url(current_user.primary_script) do
              %button.primary= t('home.view_course')
      - else
        - if current_page?(root_url)  # Already at studio.code.org
          .smalltext= t('home.choose_next_course')
        - else # At code.org
          .smalltext= link_to t('home.no_primary_course'), root_url
      
    #clearboth{ style: 'clear:both;' }
