---
layout: wide
nav: events_nav
---
:ruby
  @header["title"] = hoc_s(:events_all_title)

:ruby
  require pegasus_dir 'helper_modules/forms'
  hoc_year = 2015.freeze
  kind = "HocSignup#{hoc_year}".freeze
  events = Forms.events_by_country(kind)
  us_events = Forms.events_by_state(kind)
  us_events_count = us_events.inject(0) {|result, element| result + element[:count]}

%h1= hoc_s(:events_all_old_title).gsub(/\@year/, hoc_year.to_s)

%ul
  %li{class: "hoc-event-country"}
    %span{style: "font-weight: bold;"}= "United States (#{us_events_count} #{hoc_s(:events)})"
    %ul{style: "margin-top: 0; margin-bottom: 0;"}
      -us_events.each do |event|
        %li{class: "hoc-event-state"}
          %a{href: "/events/#{hoc_year}/us/#{event[:state_code].downcase}"}= "#{event[:state_code]} (#{event[:count]} #{hoc_s(event[:count] > 1 ? :events : :event)})"
%ul
  -events.each do |event|
    %li{class: "hoc-event-country"}
      %a{href: "/events/#{hoc_year}/#{event[:country_code].downcase}"}= "#{country_name_from_code(event[:country_code])} (#{event[:count]} #{hoc_s(event[:count] > 1 ? :events : :event)})"
