:ruby
  dont_cache
  facilitator_id = params['user_id']
  authentication_required!
  forbidden! unless (have_permission?('create_professional_development_workshop') && (dashboard_user[:id] == facilitator_id.to_i)) || !facilitator_id || dashboard_user[:admin]

  all_facilitators = DB.fetch('SELECT user_id, name FROM forms WHERE kind="ProfessionalDevelopmentWorkshop" GROUP BY user_id ORDER BY name, created_at;')
  all_surveys = DB.fetch('SELECT * FROM forms WHERE kind="K5ProfessionalDevelopmentSurvey"')
  workshops = []

  def satisfaction_s_to_i(value)
    case value
    when 'extremely satisfied (would recommend to others)'
      return 5
    when 'moderately satisfied'
      return 4
    when 'neither satisfied nor dissatisfied'
      return 3
    when 'moderately dissatisfied'
      return 2
    when 'dissatisfied (would not recommend to others)'
      return 1
    end
  end

  def total_survey_data(surveys, workshops)
    responses = 0.0
    totals = {}
    fields_to_count =
      %w{facilitator_prepared_i facilitator_knowledgeable_i facilitator_enjoyable_i facilitator_professional_i workshop_start_i
         workshop_end_i workshop_materials_i workshop_venue_i workshop_food_i workshop_tech_i experience_courses_i experience_useful_i
         experience_attention_i experience_time_i experience_bestpd_i experience_sequence_i experience_level_i experience_equitable_i
         beliefs_i knowledge_i cscareers_i satisfaction_s
        }

    fields_to_count.each do |field|
      totals[field] = 0.0
    end

    totals['teacher_type_s'] = 0.0
    totals['school_type_s'] = 0.0
    totals['course_offering_s'] = 0.0
    totals['satisfaction_s'] = 0.0
    totals['responses'] = 0.0
    totals['improve_pd_s'] = []

    surveys.each do |survey|
      data = JSON.parse(survey[:data]).merge(JSON.parse(survey[:processed_data]))

      if (!workshops) || (workshops.include? data['workshop_id_i'].to_i)

        responses += 1

        if data['teacher_type_s'] == 'in-service teacher, currently teaching'
          totals['teacher_type_s'] += 1
        end
        if data['school_type_s'] != 'home school' && data['school_type_s'] != 'other'
          totals['school_type_s'] += 1
        end
        if data['course_offering_s'] == 'yes'
          totals['course_offering_s'] += 1
        end
        if data['improve_pd_s'] != ""
          totals['improve_pd_s'] << data['improve_pd_s']
        end

        totals['satisfaction_s'] += satisfaction_s_to_i(data['satisfaction_s'])

        fields_to_count.each do |field|
          totals[field] += data[field].to_i
        end
      end
    end
    totals['responses'] = responses
    return totals
  end

  if facilitator_id
    workshops = DB[:forms].where(kind:'ProfessionalDevelopmentWorkshop', user_id:facilitator_id)
    workshops_ids = []
    total_attendees = 0
    workshops.each do |workshop|
      workshops_ids << workshop[:id]
      data = JSON.parse(workshop[:data]).merge(JSON.parse(workshop[:processed_data]))
      if data['total_attendee_count_i']
        total_attendees += data['total_attendee_count_i']
      end
    end

    individual_survey_totals = total_survey_data(all_surveys, workshops_ids)
  end
  all_surveys_totals = total_survey_data(all_surveys, false)

:javascript
  $(document).ready(function() {
    $('#facilitator_dropdown').bind("change", function (ev) {
      window.location.href = ev.target.value;
    });
  });
%h1
  K-5 Facilitator Profile
- if dashboard_user[:admin]
  %select#facilitator_dropdown
    %option{value:"/manage-professional-development-workshops/k5surveys"}
      Select a Facilitator
    - all_facilitators.each do |facilitator|
      %option{value:'/manage-professional-development-workshops/k5surveys?user_id=' + facilitator[:user_id].to_s}
        #{facilitator[:name]} - #{facilitator[:user_id].to_s}

- if workshops.count > 0
  %h2
    #{workshops.first[:name]}

- if (workshops.count <= 0 && facilitator_id) || (facilitator_id && individual_survey_totals['responses'] <= 0)
  %div.jumbotron
    There are no surveys regarding this facilitator, or the facilitator is invalid (check ID)
- else
  %table{style:'width:970px; layout:fixed;'}
    - if facilitator_id
      %colgroup
        %col{width: "400"}
    %tr
      %th{colspan:4}
    - if facilitator_id
      %tr
        %td
          Facilitator name
        %td
          #{workshops.first[:name]}
        %td
        %td
      %tr
        %td
          Facilitator ID
        %td
          #{facilitator_id}
        %td
        %td
      %tr
        %td
        %td
          Individual facilitator:
        %td
        %td
          Across all workshops:
    %tr{style:'background-color:lightgreen'}
      %td
        \# of teachers surveyed
      - if facilitator_id
        %td
          #{individual_survey_totals['responses'].round}
        %td
      %td
        #{all_surveys_totals['responses'].round}
    %tr{style:'background-color:lightgreen'}
      %td
        Overall, rate your satisfaction about the workshop.
      - if facilitator_id
        %td
          #{(individual_survey_totals['satisfaction_s'] / individual_survey_totals['responses']).round(2)}
        %td
      %td
        #{(all_surveys_totals['satisfaction_s'] / all_surveys_totals['responses']).round(2)}
    %tr{style:'background-color:deepskyblue'}
      %td
        \% In-service teachers
      - if facilitator_id
        %td
          #{(individual_survey_totals['teacher_type_s'] / individual_survey_totals['responses'] * 100).round}%
        %td
      %td
        #{(all_surveys_totals['teacher_type_s'] / all_surveys_totals['responses'] * 100).round}%
    %tr{style:'background-color:deepskyblue'}
      %td
        \% in-school - vs afterschool/homeschool
      - if facilitator_id
        %td
          #{(individual_survey_totals['school_type_s'] / individual_survey_totals['responses'] * 100).round}%
        %td
      %td
        #{(all_surveys_totals['school_type_s'] / all_surveys_totals['responses'] * 100).round}%
    %tr{style:'background-color:deepskyblue'}
      %td
        \% who plan to offer the course
      - if facilitator_id
        %td
          #{(individual_survey_totals['course_offering_s'] / individual_survey_totals['responses'] * 100).round}%
        %td
      %td
        #{(all_surveys_totals['course_offering_s'] / all_surveys_totals['responses'] * 100).round}%
    %tr{style:'background-color:bisque'}
      %td
        My facilitator came prepared to teach/lead the workshop
      - if facilitator_id
        %td
          #{(individual_survey_totals['facilitator_prepared_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['facilitator_prepared_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:bisque'}
      %td
        My facilitator was very knowledgeable in the workshop content and Code.org curriculum.
      - if facilitator_id
        %td
          #{(individual_survey_totals['facilitator_knowledgeable_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['facilitator_knowledgeable_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:bisque'}
      %td
        My facilitator was an enjoyable person.
      - if facilitator_id
        %td
          #{(individual_survey_totals['facilitator_enjoyable_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['facilitator_enjoyable_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:bisque'}
      %td
        My facilitator acted in a professional manner.
      - if facilitator_id
        %td
          #{(individual_survey_totals['facilitator_professional_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['facilitator_professional_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:lightblue'}
      %td
        The workshop started on time.
      - if facilitator_id
        %td
          #{(individual_survey_totals['workshop_start_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['workshop_start_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:lightblue'}
      %td
        The workshop ended on time.
      - if facilitator_id
        %td
          #{(individual_survey_totals['workshop_end_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['workshop_end_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:lightblue'}
      %td
        The workshop materials were in perfect condition.
      - if facilitator_id
        %td
          #{(individual_survey_totals['workshop_materials_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['workshop_materials_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:lightblue'}
      %td
        The venue was clean with adequate space to work.
      - if facilitator_id
        %td
          #{(individual_survey_totals['workshop_venue_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['workshop_venue_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:lightblue'}
      %td
        The food provided was what the facilitator described.
      - if facilitator_id
        %td
          #{(individual_survey_totals['workshop_food_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['workshop_food_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:lightblue'}
      %td
        The workshop had no issues with technology access (computers / Internet / WiFi).
      - if facilitator_id
        %td
          #{(individual_survey_totals['workshop_tech_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['workshop_tech_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:darkseagreen'}
      %td
        I feel prepared to teach the Code.org computer science courses.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_courses_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_courses_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:darkseagreen'}
      %td
        The information presented at the workshop was useful.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_useful_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_useful_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:darkseagreen'}
      %td
        The organization/sequence of this professional development made sense to me.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_sequence_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_sequence_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:darkseagreen'}
      %td
        This professional development kept my attention for the entire time.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_attention_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_attention_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:darkseagreen'}
      %td
        This professional development was a very good use of my time.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_time_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_time_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:darkseagreen'}
      %td
        This was the absolute best professional development I’ve ever participated in.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_bestpd_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_bestpd_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:aliceblue'}
      %td
        The professional development session was suitable for my level of experience with teaching Computer Science.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_level_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_level_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:aliceblue'}
      %td
        This professional development session prepared me to facilitate an equitable computer science classroom.
      - if facilitator_id
        %td
          #{(individual_survey_totals['experience_equitable_i'] / individual_survey_totals['responses'] + 3).round(2)}
        %td
      %td
        #{(all_surveys_totals['experience_equitable_i'] / all_surveys_totals['responses'] + 3).round(2)}
    %tr{style:'background-color:aliceblue'}
      %td
        How much have your beliefs and values about teaching computer science changed after attending the Code.org professional development workshop?
      - if facilitator_id
        %td
          #{(individual_survey_totals['beliefs_i'] / individual_survey_totals['responses']).round(2)}
        %td
      %td
        #{(all_surveys_totals['beliefs_i'] / all_surveys_totals['responses']).round(2)}
    %tr{style:'background-color:aliceblue'}
      %td
        Which of the following best describes your current level of knowledge related to computer science?
      - if facilitator_id
        %td
          #{(individual_survey_totals['knowledge_i'] / individual_survey_totals['responses']).round(2)}
        %td
      %td
        #{(all_surveys_totals['knowledge_i'] / all_surveys_totals['responses']).round(2)}
    %tr{style:'background-color:aliceblue'}
      %td
        Which of the following best describes your current level of awareness of careers that use computer science?
      - if facilitator_id
        %td
          #{(individual_survey_totals['cscareers_i'] / individual_survey_totals['responses']).round(2)}
        %td
      %td
        #{(all_surveys_totals['cscareers_i'] / all_surveys_totals['responses']).round(2)}
    - if facilitator_id
      %tr
        %th{colspan:4}
          Attendee Comments
      - individual_survey_totals['improve_pd_s'].each do |comment|
        %tr
          %td{colspan:4}
            #{comment}
