<% var msg = window.blockly.locale %>
<% var webappMsg = window.blockly.appLocale %>

<% if (debugButtons) { %>
<div>
<% } %>

<% if (debugButtons) { %>
<div id="debug-buttons" style="display:inline;">
    <button id="pauseButton" class="share">
      <%= webappMsg.pause() %>
    </button>
    <button id="stepInButton" class="share">
      <%= webappMsg.stepIn() %>
    </button>
    <button id="stepOverButton" class="share">
      <%= webappMsg.stepOver() %>
    </button>
    <button id="stepOutButton" class="share">
      <%= webappMsg.stepOut() %>
    </button>
  </div>
<% } %>

<% if (finishButton) { %>
  <div id="share-cell" class="share-cell-none">
    <button id="finishButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.finish() %>
    </button>
  </div>
<% } %>

<% if (debugButtons) { %>
</div>
<% } %>
