%h1 Listing teacher_prizes

%table
  %tr
    %th Prize provider
    %th Code
    %th User
    %th
    %th
    %th

  - @teacher_prizes.each do |teacher_prize|
    %tr
      %td= teacher_prize.prize_provider_id
      %td= teacher_prize.code
      %td= teacher_prize.user_id
      %td= link_to 'Show', teacher_prize
      %td= link_to 'Edit', edit_teacher_prize_path(teacher_prize)
      %td= link_to 'Destroy', teacher_prize, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Teacher prize', new_teacher_prize_path
