%p#notice= notice

%p
  %b Prize provider:
  = @teacher_prize.prize_provider_id
%p
  %b Code:
  = @teacher_prize.code
%p
  %b User:
  = @teacher_prize.user_id

= link_to 'Edit', edit_teacher_prize_path(@teacher_prize)
\|
= link_to 'Back', teacher_prizes_path
