%p
  Fields marked with a
  %span.form-required-field
    *
  are required.

- if @enrollment.errors.any?
  #error_explanation
    %h2 Error
    %ul
      - school_info_error_shown = false
      - @enrollment.errors.each do |name, message|
        - if name.to_s.start_with?("school_info")
          -# Just show one error for any errors in the school info.
          - if !school_info_error_shown
            %li= "School information is required."
            - school_info_error_shown = true
        - elsif name.to_s == "email" && message == 'already enrolled in workshop'
          %li= "This email has already been used to enroll in this workshop. Please contact support@code.org if you need additional assistance."
        - else
          %li= raw @enrollment.errors.full_message(name, message).html_safe

=form_for @enrollment, url: {action: action} do |form|
  %div.control-group
    %label
      First Name
      %span.form-required-field
        *
    %div.controls
      =form.text_field :first_name, class: 'span5'
  %div.control-group
    %label
      Last Name
      %span.form-required-field
        *
    %div.controls
      =form.text_field :last_name, class: 'span5'
  %div.control-group
    %label
      Email Address
      %span.form-required-field
        *
    %div.controls
      - readonly_email = current_user && !current_user.email.blank? && !@enrollment.email.blank?
      =form.text_field :email, class: 'span5', readonly: readonly_email,
        title: readonly_email ? 'Email can be changed in account settings' : nil
  - unless current_user
    %div.control-group
      %label
        Confirm Email Address
        %span.form-required-field
          *
      %div.controls
        =form.text_field :email_confirmation, class: 'span5'
  %div.control-group
    %label
      School Info
      %span.form-required-field
        *
    -# Manually wrap an error highlight around the entire district dropdown.
    - error_class = (@enrollment.errors.include?(:"school_info")) ? "field_with_errors_div" : ""
    #school_info.span5{class: error_class, style: "border: solid 1px #bbb; border-radius: 4px; padding: 15px; margin-left: 0px; box-sizing: border-box;"}
      %div.controls
        -# ignore existing info if it was in the old data format, to avoid inclusion of bogus fields.
        - existing_school_info = (@enrollment.school_info && @enrollment.school_info.country) ? @enrollment.school_info : nil
        = render partial: 'shared/school_info', locals: {form_name: "school_info", existing_school_info: existing_school_info}
    %div{style: "clear: both"}
  %p
    Code.org works closely with local Regional Partners and Code.org facilitators to deliver the Professional Learning Program. By enrolling in this workshop, you are agreeing to allow Code.org to share information on how you use Code.org and the Professional Learning resources with your Regional Partner, school district and facilitators.  We will share your contact information, which courses/units you are using and aggregate data about your classes with these partners. This includes the number of students in your classes, the demographic breakdown of your classroom, and the name of your school and district. We will not share any information about individual students with our partners - all information will be de-identified and aggregated. Our Regional Partners and facilitators are contractually obliged to treat this information with the same level of confidentiality as Code.org.
  %div.control-group
    = form.submit submit_text, class: 'btn', disabled: true
