%div.row
  %div.span6
    %h2
      Workshop Details
%div.row
  %div.span2{style: 'text-align: right'}
    %strong
      = @workshop.sessions.count == 1 ? 'Date:' : 'Dates:'
  %div.span4
    - @workshop.sessions.each do |session|
      = session.formatted_date_with_start_and_end_times
      %br
%div.row
  %div.span2{style: 'text-align: right'}
    %strong
      Location:
  %div.span2
    = @workshop.location_name
    - if @workshop.location_address.present?
      %br
      = @workshop.location_address

%div.row
  %div.span2{style: 'text-align: right'}
    %strong
      Course:
  %div.span2
    - if @workshop.course_url
      = link_to @workshop.course, @workshop.course_url
    - else
      = @workshop.course

    - if @workshop.subject
      = "(#{@workshop.subject})"

  %div.span6
    %p{style: 'white-space: pre-wrap'}
      = @workshop.notes
