- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%div
  %h1
    Register for a Code Studio workshop
  %p
    Taught by Code.org facilitators who are experienced computer science educators,
    our workshops will prepare you to teach the Code.org curriculum.

  .container
    .row

      -# Left Column
      .span6
        = render partial: 'workshop_details'
        %h2
          Your Information
        %p
          Fields marked with a
          %span.form-required-field
            *
          are required. Your email address will be shared
          with the workshop organizer and facilitators.
        = render partial: 'enroll_form', locals: {action: 'create', submit_text: 'Register'}

      -# Right column
      %div.span6
        %div.row
          %div.span6
            %h2 Facilitators
            - @workshop.facilitators.each do |facilitator|
              -# TODO: Retire old K5 dashboard, and come up with more permanent solution that doesn't require cross-project file dependency.

              - bio_file = pegasus_dir("sites.v3/code.org/views/workshop_affiliates/#{facilitator.id}_bio.md")
              - image_file = pegasus_dir("sites.v3/code.org/public/images/affiliate-images/#{facilitator.id}.jpg")
              = image_tag CDO.code_org_url("/images/affiliate-images/fit-150/#{facilitator.id}.jpg") if File.exists? image_file
              - if File.exists? bio_file
                = render file: bio_file
              - else
                %h2= facilitator.name
                %p= mail_to facilitator.email
