- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%div
  %h1
    Register for a Code Studio workshop
  %p
    Taught by Code.org facilitators who are experienced computer science educators,
    our workshops will prepare you to teach the Code.org curriculum.

  .container-fluid
    .row-fluid
      -# Left Column
      .span6
        .row-fluid
          %h2
            Workshop Details
        .row-fluid
          .span2{style: 'text-align: right'}
            = @workshop.sessions.count == 1 ? 'Date:' : 'Dates:'
          .span6
            - @workshop.sessions.each do |session|
              = session.formatted_date_with_start_and_end_times
              %br
        .row-fluid
          .span2{style: 'text-align: right'} Location:
          .span6
            = @workshop.location_name
            %br
            = @workshop.location_address
        .row-fluid{style: 'margin-top: 1em'}
          = @workshop.notes

        - if @enrollment.errors.any?
          #error_explanation
            %h2= "#{pluralize(@enrollment.errors.count, 'error')}:"
            %ul
              - @enrollment.errors.full_messages.each do |msg|
                %li= msg

        =form_for @enrollment, url: {action: 'create'} do |form|
          %h2
            Your Information
          %p
            Fields marked with a
            %span.form-required-field
              *
            are required. Your email address will be shared
            with the workshop organizer and facilitators.
          %div.control-group
            %label
              Your Name
              %span.form-required-field
                *
            %div.controls
              =form.text_field :name, class: 'span10', readonly: !current_user.nil?
          %div.control-group
            %label
              Email Address
              %span.form-required-field
                *
            %div.controls
              =form.text_field :email, class: 'span10', readonly: !current_user.nil?
          - unless current_user
            %div.control-group
              %label
                Confirm Email Address
                %span.form-required-field
                  *
              %div.controls
                =form.text_field :email_confirmation, class: 'span10'
          %div.control-group
            %label
              District
              %span.form-required-field
                *
            %div.controls
              =form.text_field :district_name, class: 'span10'
          %div.control-group
            %label
              School
              %span.form-required-field
                *
            %div.controls
              =form.text_field :school, class: 'span10'

          %div.control-group
            = form.submit 'Register', class: 'btn'

      -# Right column
      %div.span6
        %div.row-fluid
          %h2 Facilitators
          - @workshop.facilitators.each do |facilitator|
            -# TODO: Retire old K5 dashboard, and come up with more permanent solution that doesn't require cross-project file dependency.

            - bio_file = pegasus_dir("sites.v3/code.org/views/workshop_affiliates/#{facilitator.id}_bio.md")
            - image_file = pegasus_dir("sites.v3/code.org/public/images/affiliate-images/#{facilitator.id}.jpg")
            = image_tag CDO.code_org_url("/images/affiliate-images/fit-150/#{facilitator.id}.jpg") if File.exists? image_file
            - if File.exists? bio_file
              = render file: bio_file
            - else
              %h3= facilitator.name
              %p= mail_to facilitator.email
