- if current_user.try(:admin?)
  :scss
    .admin {
      border: 2px solid #888;
      padding: 10px;
      background: #ccc;
      position: fixed;
      bottom: 0;
      right: 0;
      h4 {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 5px 0;
      }
    }
  .admin
    %h4
      Admins:
      %a{href: '#', onclick: '$(".admin .content").toggle(); return false;'} [hide/show]
    .content
      #{@level.name}:
      = link_to "play", @level
      - if can? :edit, @level
        \/
        = link_to "edit", edit_level_path(@level)
        (
        - if @level.is_a? Artist or @level.is_a? Calc
          = link_to "solution", level_edit_blocks_path(@level, :solution_blocks)
          \/
        = link_to "toolbox", level_edit_blocks_path(@level, :toolbox_blocks)
        \/
        = link_to "start", level_edit_blocks_path(@level, :start_blocks)
        \/
        = link_to "required", level_edit_blocks_path(@level, :required_blocks)
        \/
        = link_to "pre-draw", level_edit_blocks_path(@level, :predraw_blocks)
        )
      - else
        \/
        (Cannot edit)
      \/
      = link_to "stats", level_stats_path(@level)

      %br/
      This level is in the following scripts:
      %ul
        - @level.script_levels.each do |script_level|
          %li
            = link_to script_level.script.name, script_level.script
            as
            = link_to build_script_level_path(script_level), build_script_level_path(script_level)
