- unless @is_legacy_share
  %div{style: 'display: none;'}= render partial: 'levels/reference_area'

-# Ensure Font Awesome is loaded for use in apps
%span{style: 'font: 1px FontAwesome; position: absolute;', id: 'fa-preload'} &nbsp;

#codeApp
  .loading
  .slow_load
    = t(:slow_loading)
    %br
    %a{href: 'javascript: location.reload();'}= t(:try_reloading)

- content_for :body_scripts do
  = render_app_dependencies

  -# Small inline script to kick off app initialization once all dependencies
  -# have been loaded.
  :javascript
    //<![CDATA[
    var script_path = "#{@script_level && build_script_level_path(@script_level)}";
    var appOptions = #{app_options.to_json};
    appOptions.locale = '#{js_locale}';
    apps.setupApp(appOptions);
    apps.load(apps.init);
    //]]>
