-# TODO(JL): conditionally load on client
- if browser.chrome? && browser.version.to_s.to_i == 34
  %script{src: '/shared/js/chrome34Fix.js'}

%div{style: 'display: none;'}= render partial: 'levels/reference_area'

#codeApp
  .loading
  .slow_load
    = t(:slow_loading)
    %br
    %a{href: 'javascript: location.reload();'}= t(:try_reloading)

  :javascript
    //<![CDATA[
    var script_path = "#{@script_level && build_script_level_path(@script_level)}";
    var appOptions = #{app_options.to_json};
    var blocklyOptions = #{blockly_options.to_json};
    blocklyOptions.locale = '#{js_locale}';
    //]]>

  %script{src: '/shared/js/client_api.js'}
  %script{src: '/shared/js/initApp.js'}
