-# TODO(JL): conditionally load on client
- if browser.chrome? && browser.version.to_s.to_i == 34
  :javascript
    window.dashboard.isChrome34 = true;

%div{style: 'display: none;'}= render partial: 'levels/reference_area'

#codeApp
  .loading
  .slow_load
    = t(:slow_loading)
    %br
    %a{href: 'javascript: location.reload();'}= t(:try_reloading)

- content_for :body_scripts do
  = render_app_dependencies

  -# Small inline script to kick off app initialization once all dependencies
  -# have been loaded.
  :javascript
    //<![CDATA[
    var script_path = "#{@script_level && build_script_level_path(@script_level)}";
    var appOptions = #{app_options.to_json};
    appOptions.locale = '#{js_locale}';
    apps.setupApp(appOptions);
    apps.load(apps.init);
    //]]>
