- data = @level.properties
:javascript
  window.levelData = #{data.to_json};

%script{src: minifiable_asset_path('js/levels/contract_match.js')}
= stylesheet_link_tag 'levels/contract_match'
= render partial: 'levels/common_audio'

.contract
  - app = 'contract_match'

  - options_to_colors = { None: "#000000", Number: "#00ccff", String: "#0099999", Image: "#9900cc", Boolean: "#336600" }

  .mainblock
    = render partial: 'levels/content', locals: {app: app, data: data}
    #contractForm
    #domainItems
    .clear
    = render partial: 'levels/dialog', locals: {app: app, data: data}
  .clear
