/ This partial contains general logic+view for displaying modal dialogs and handling submit button interactions.
- app = local_assigns[:app]

- unless app == 'external'
  .buttons{class: @level.properties['submittable'] == 'true' ? 'submittable' : nil}
    - if local_assigns[:previous_button]
      = button_tag t('previous_page'), class: "btn btn-large btn-primary previousPageButton"
    - if local_assigns[:next_button]
      = button_tag t('next_page'), class: "btn btn-large btn-primary nextPageButton"
    - elsif local_assigns[:continue_button]
      = button_tag t('continue'), class: "btn btn-large btn-primary next-lesson submitButton"
    - else
      = button_tag t('submit'), class: "btn btn-large btn-primary next-lesson submitButton"
      - if @level.properties['submittable'] && !Policies::InlineAnswer.visible_for_script_level?(current_user, @script_level)
        = button_tag t('unsubmit'), class: "btn btn-large btn-primary unsubmitButton"
.clear

%script{src: webpack_asset_path('js/levels/_dialog.js')}
