.container
  - if @level.long_instructions
    %div= render(inline: @level.long_instructions, type: :md)

  %h4
    = link_to @level.url, target: '_blank' do
      %i.fa.fa-external-link-square.external-link-icon>
      = @level.link_title

  .external-link-disclaimer
    %h2= t('external_links.disclaimer')
    %strong= t('external_links.leaving_domain')
    %p!= t('external_links.disclaimer_text', support_url: 'https://support.code.org', markdown: inline)

  = render partial: 'levels/teacher_markdown', locals: {data: {'teacher_markdown' => @level.teacher_markdown}}

  - if @script_level
    -# Temporary hack - explicitly include the submissions helper so this submit button will post milestone
    -# Long term plan is to have a footer section that will include these buttons
    %script{src: webpack_asset_path('js/levels/_external_link.js')}
    = link_to @script_level.end_of_lesson? ? t('done_with_module') : t('continue'), @script_level.next_level_or_redirect_path_for_user(current_user), class: 'btn btn-large pull-right btn-primary next-stage submitButton'
