- content_for(:head) do
  = stylesheet_link_tag 'editor/collapse', media: 'all'

#validation-error.validation-error{style: 'background-color: yellow'}
= form_for [@level], method: @level.new_record? ? :post : :patch, remote: true do |f|
  = f.hidden_field :type, value: @type_class.to_s.presence || @level.type
  .field
    / dsl-defined levels specify a name directly in the DSL text
    - unless @level.is_a? DSLDefined
      = f.label :name
      = f.text_field :name, placeholder: 'Level Name'
  / Only enter name to create new records of certain level types.
  - unless @level.new_record? && @level.is_a?(Blockly)
    = render partial: 'levels/category', locals: {f: f, category: 'general', partial: 'levels/editors/all'}

    = render partial: 'levels/category', locals: {f: f,
        category: 'md_instructions',
        label: "Instructions",
        partial: 'levels/editors/md_instructions'} unless @level.is_a? DSLDefined

    = render partial: 'levels/category', locals: {f: f, category: 'authored_hints', partial: 'levels/editors/authored_hints'} unless @level.is_a? DSLDefined

    = render partial: 'levels/category', locals: {f: f, category: 'blockly', partial: 'levels/editors/blockly'} if @level.is_a? Blockly
    = render partial: 'levels/category', locals: {f: f, category: 'studio', partial: 'levels/editors/studio'} if @level.is_a? Studio
    = render partial: 'levels/category', locals: {f: f, category: 'maze', partial: 'levels/editors/maze'} if @level.is_a? Maze
    = render partial: 'levels/category', locals: {f: f, category: 'grid', partial: 'levels/editors/grid'} if @level.is_a? Grid
    = render partial: 'levels/category', locals: {f: f, category: 'craft', partial: 'levels/editors/craft'} if @level.is_a? Craft
    = render partial: 'levels/category', locals: {f: f, category: 'karel', partial: 'levels/editors/karel'} if @level.is_a? Karel
    = render partial: 'levels/category', locals: {f: f, category: 'artist', partial: 'levels/editors/artist'} if @level.is_a? Artist
    = render partial: 'levels/category', locals: {f: f, category: 'applab', partial: 'levels/editors/applab'} if @level.is_a? Applab
    = render partial: 'levels/category', locals: {f: f, category: 'dsl', partial: 'levels/editors/dsl'} if @level.is_a? DSLDefined
    = render partial: 'levels/category', locals: {f: f, category: 'netsim', partial: 'levels/editors/netsim'} if @level.is_a? NetSim

    = render partial: 'levels/category', locals: {f: f, category: 'pixelation', partial: 'levels/editors/pixelation'} if @level.is_a? Pixelation
    = render partial: 'levels/category', locals: {f: f, category: 'text_compression', partial: 'levels/editors/text_compression'} if @level.is_a? TextCompression
    = render partial: 'levels/category', locals: {f: f, category: 'odometer', partial: 'levels/editors/odometer'} if @level.is_a? Odometer
    = render partial: 'levels/category', locals: {f: f, category: 'vigenere', partial: 'levels/editors/vigenere'} if @level.is_a? Vigenere
    = render partial: 'levels/category', locals: {f: f, category: 'frequency_analysis', partial: 'levels/editors/frequency_analysis'} if @level.is_a? FrequencyAnalysis
  .actions
    = f.submit
#validation-error.validation-error{style: 'background-color: yellow'}
:javascript
  #{render partial: 'shared/ajax_submit', formats: [:js],  locals: {form_selector: @level.new_record? ? '#new_level' : '.edit_level'}}
