- level ||= @level
- last_attempt ||= @last_attempt
- index ||= nil

- if index
  :javascript
    window['level_#{index}'] = {
      getCurrentAnswer: function () {
        return $('#level_#{index}').val();
      },
      getLevelId: function () {
        return #{level.id};
      }
    }
- else
  :javascript
    function getResult() {
      return {
        response: $('.response').val(),
        result: true
      };
    }

.free-response
  %h2= level.title if level.title && !index
  %div= render(inline: level.markdown_instructions, type: :md)

  - height = level.height || '80'
  %textarea.response{id: "level_#{index}", placeholder: level.placeholder || 'Enter your answer here', style: "width: 700px; height: #{height}px;", readonly: @view_options.readonly_workspace}= last_attempt

= render partial: 'levels/dialog', locals: {app: 'free_response', data: level.properties} unless index
= render partial: 'levels/teacher_markdown', locals: {data: {'teacher_markdown' => level.solution}}
