%h1 Levels
%table
  %thead
    %tr
      %th{ width:100 } Levels
      %th{ width:100 } Game
      %th{ width:100 } URL
      %th{ width:300 }
  %tbody
    - @levels.each do |level|
      %tr
        %td= level.name
        %td= level.game.name if level.game
        %td= level.level_url if level.is_a? Blockly
        %td
          = link_to t('crud.show'), level
          - if can? :update, level
            = link_to t('crud.edit'), edit_level_path(level)
          - if can? :destroy, level
            = link_to t('crud.destroy'), level, method: :delete, data: { confirm: t('crud.confirm') }
          - if can? :create, Level
            = link_to 'Clone', level_clone_path(level), method: :post
%br/
- if can? :create, Level
  = link_to t('crud.new_model', model: Level.model_name.human), new_level_path
