- content_for(:head) do
  %script{src: minifiable_asset_path('js/levelbuilder.js')}
  :scss
    .controls-column > a {
      &:hover {
        text-decoration: none;
      }
      &:first-of-type {
        margin-left: 1em;
      }
      &:last-of-type {
        margin-right: 1em;
      }
    }

%h1 Levels
= form_tag levels_path, method: :get do
  = label_tag 'Filter by name:'
  = text_field_tag :name, params[:name], autofocus: true
  = label_tag 'Filter by type:'
  - level_type_options = [['All types', '']].concat @level_types.map {|x| [x, x]}
  = select_tag :level_type, options_for_select(level_type_options, params[:level_type])
  = submit_tag "Search"
= paginate @levels
%table
  %thead
    %tr
      %th
      %th Name
      %th Type
  %tbody
    - @levels.each do |level|
      %tr
        %td.controls-column
          - if level.custom?
            = link_to edit_level_path(level), title: t('crud.edit') do
              %i.fa.fa-fw.fa-pencil
            = link_to level, title: t('crud.destroy'), method: :delete, data: { confirm: t('crud.confirm') } do
              %i.fa.fa-fw.fa-trash
            = link_to '', title: 'Clone', onclick: "$('#clone_#{level.id}').toggle(); return false;" do
              %i.fa.fa-fw.fa-copy
            %div{class: 'clone_level', id: "clone_#{level.id}", style: 'display: none;'}
              = form_tag level_clone_path(level), method: :post, remote: true do
                = label_tag 'New name:'
                = text_field_tag :name, level.name
                = submit_tag 'Clone'
        %td= link_to level.name, level, title: t('crud.show')
        %td= level.class.name
= paginate @levels
%br/
- if can? :create, Level
  = link_to t('crud.new_model', model: Level.model_name.human), new_level_path
#validation-error.validation-error{style: 'background-color: yellow'}
:javascript
  window.levelbuilder.ajaxSubmit('.clone_level');
  $('.clone_level').on('ajax:beforeSend', function (e, xhr) {
    var validation_error = $('#validation-error').detach();
    $(e.target).parent().append(validation_error);
  });
