/ Show the correct answer to authorized teachers
- if can_view_teacher_markdown?
  - correct_answers = data['answers'].each_with_index.map do |answer, index|
    - next unless answer['correct']
    - letter = standalone ? nil : Multi.value_to_letter(index)
    - {index: index, letter: letter}
  - end.compact
  - unless correct_answers.empty?
    - localized_answers = level.localized_property(:answers)
    #markdown.teacher.hide-as-student
      %h3= t('teacher.answer')
      .content
        - correct_answers.each do |correct_answer|
          .multi
            .mainblock
              %span.answerbutton.btn{style: "height: #{height}"}
                .item-mark
                  .fa{class: checked_class}
                .item-label
                  %label{style: "height: #{height}"}
                    - if correct_answer[:letter]
                      .item-answer-letter{style: "display: inline-block"}
                        = "#{correct_answer[:letter]}."
                        &nbsp;
                    != render_multi_or_match_content(localized_answers[correct_answer[:index]]['text'])
