/ Show the correct answer to authorized teachers
- multi_answer_characters = ("A".."Z").to_a
- if current_user.try(:authorized_teacher?) && !@script.try(:pd?)
  - correct_answers = data['answers'].each_with_index.map do |answer, index|
    - next unless answer['correct']
    - {text: answer['text'], index: index}
  - end.compact
  - unless correct_answers.empty?
    #markdown.teacher
      %h3= t('teacher.answer')
      .content
        - correct_answers.each do |correct_answer|
          .multi
            .mainblock
              %span.answerbutton.btn{style: "height: #{height}"}
                .item-mark
                  .fa{class: checked_class}
                .item-label
                  %label{style: "height: #{height}"}
                    - unless standalone
                      .item-answer-letter{style: "display: inline-block"}
                        = "#{multi_answer_characters[correct_answer[:index].to_i]}."
                        &nbsp;
                    != multi_t(level, correct_answer[:text])
