- data = level.properties
- app = 'text_match'

.text-match{id: "level_#{level.id}"}
  .mainblock
    = render partial: 'levels/content', locals: {app: app, data: data, source_level: level, hide_header: !standalone}
    - height = data['height'] || '80'
    %textarea.response{placeholder: data['placeholder'] ? string_or_image(app, data['placeholder']) : t(app + '.placeholder'), style: "width: 700px; height: #{height}px;", readonly: @view_options.readonly_workspace}

    - if standalone
      = render partial: 'levels/dialog', locals: {app: app, data: data}

    = render partial: 'levels/teacher_markdown', locals: {data: data}

  .clear

= render partial: 'levels/common_audio'

-# Don't operate if we're a LevelGroup with a /level/ URL.
- if standalone || @script_level
  :javascript

    window.levelGroup.levels[#{level.id}] = new TextMatch(
      "level_#{level.id}",
      #{standalone},
      #{data['answers'] || []},
      #{last_attempt.to_json}
    );
