- if current_user.try(:teacher?) && @script_level

  .teacher-panel{class: params[:user_id] || params[:section_id] || params[:solution] ? '' : 'hidden'}
    .hide-handle
      %i.fa.fa-chevron-right{onclick: '$(".teacher-panel").toggleClass("hidden"); return false;'}
    .show-handle
      %i.fa.fa-chevron-left{onclick: '$(".teacher-panel").toggleClass("hidden"); return false;'}

    %h3
      = t('teacher.panel.answer_viewer')
    .content
      .non-scrollable-wrapper
        - if @user
          .students
            %h4= t('teacher.panel.student')
            = link_to @user.name, teacher_dashboard_student_progress_url(@section, @user)
        - if @user_level
          .user_level
            .level
              - status = activity_css_class(@user_level)
              .level_link{class: status}
                - if @level.unplugged?
                  %span.puzzle-named
                    Unplugged
                - elsif status == 'passed' || status == 'perfect'
                  = check_mark_html
                - else
                  %span.puzzle-number
                    = @script_level.position
              - if @user_level.driver_user_levels.present? || @user_level.navigator_user_levels.present?
                #worked_with
                  %h4
                    %i.fa.fa-users
                    = t('teacher.panel.worked_with')
                  - @user_level.driver_user_levels.each do |driver_user_level|
                    %div
                      = link_to driver_user_level.user.name, build_script_level_path(@script_level, user_id: driver_user_level.user_id, section_id: @section.id)
                      %i= t('nav.user.driver')
                  - @user_level.navigator_user_levels.each do |navigator_user_level|
                    %div
                      = navigator_user_level.user.name
                      %i= t('nav.user.navigator')
              - if @user_level.submitted?
                #submitted
                  %div= t('teacher.panel.submitted_on')
                  .timestamp= @user_level.updated_at.iso8601
                  %button.btn.btn-info#unsubmit{"data-user-level-url" => url_for(@user_level)}
                    = t('teacher.panel.unsubmit')
                  :javascript
                    $(function() {
                      var submittedTimestamp = $('#submitted .timestamp');
                      submittedTimestamp.text((new Date(submittedTimestamp.text())).toLocaleString());
                    });
                    $('#unsubmit').click(function(ev) {
                      $.post($(ev.target).attr('data-user-level-url'), {"_method": 'PUT', user_level: {best_result: 1, submitted: false}}, function( data ) {
                        // Let's just refresh so that the dots are correct, etc.
                        location.reload();
                      });
                    });

        .level
          - if @level && @level.ideal_level_source_id && @script # 'solutions' for blockly-type levels
            - if @ideal_level_source
              %h4= t('teacher.panel.viewing_solution')
            - else
              = link_to build_script_level_path(@script_level, {solution: true}.merge(@section ? {section_id: @section.id} : {})) do
                %button.btn.btn-info= t('reference_area.teacher')
          - if @level.try(:examples).present? && current_user.try(:authorized_teacher?) # 'solutions' for applab-type levels
            - @level.examples.each_with_index do |example, index|
              = link_to applab_project_view_projects_url(channel_id: example, host: 'studio.code.org', port: 443, protocol: :https), target: "_blank" do
                %button.btn.btn-info
                  - if @level.examples.many?
                    = t('teacher.panel.example_with_number', solution_number: index + 1)
                  - else
                    = t('teacher.panel.example')
          = link_to build_script_level_path(@script_level, @section? {section_id: @section.id} : {}) do
            %button.btn.btn-info= t('teacher.panel.try_it_yourself')
        - if @section
          .section
            %h4
              = t('teacher.panel.section')
              = link_to @section.name, teacher_dashboard_section_progress_url(@section)
        - if current_user.sections.many?
          = select_tag('sections', section_options, prompt: content_tag('i', t('teacher.panel.select_section')))
          :javascript
            $('select#sections').change(function(ev) {
              window.location.href = ev.target.value;
            });
      - if @section
        .scrollable-wrapper
          %table.section-students
            - @section.students.order(:name).each do |student|
              - active = 'active' if @user && student.id == @user.id
              %tr.section-student{class: active}
                - user_level = student.user_level_for(@script_level, @level)
                - status = activity_css_class(user_level)
                %td
                  .level_link{class: status}
                    - if @level.unplugged?
                      %span.puzzle-named
                        Unplugged
                    - elsif status == 'passed' || status == 'perfect'
                      = check_mark_html
                    - else
                      %span.puzzle-number
                        = @script_level.position
                %td.name{class: user_level && user_level.navigator? && !user_level.driver? ? 'navigator' : ''}
                  = link_to build_script_level_path(@script_level, user_id: student.id, section_id: @section.id) do
                    = student.name
                    - if user_level && (user_level.navigator_user_levels.present? || user_level.driver_user_levels.present?) # I am a driver
                      %i.fa.fa-users.pair-programming-icon
  :javascript
    function resizeScrollable() {
      var newHeight = $('.teacher-panel').innerHeight() -
          $('.teacher-panel h3').outerHeight() -
          15 - // magic..
          $('.non-scrollable-wrapper').outerHeight();
      $('.scrollable-wrapper').css('max-height', newHeight);
    }
    $(document).ready(resizeScrollable);
    $(window).resize(dashboard.utils.debounce(resizeScrollable, 250));
