.text-match
  - data = @level.properties
  - app = 'text_match'

  .mainblock
    = render partial: 'levels/content', locals: {app: app, data: data}
    %textarea.response{placeholder: data['placeholder'] ? string_or_image(app, data['placeholder']) : t(app + '.placeholder'), style: 'width: 700px'}
    = render partial: 'levels/dialog', locals: {app: app, data: data}
  .clear

= render partial: 'levels/common_audio'

:javascript
  // Pre-fill text area with previous response content
  $('textarea.response').val(#{@last_attempt.to_json});
  function getResult()
  {
    var response = $('textarea.response').val();
    var answers = #{data['answers'].to_json};
    if(answers) {
      response = response.replace(/\s+/g, '');
      var result = answers.some(function(element) {
        return response == element.replace(/\s+/g, '');
      });
      response = encodeURIComponent(response);
      return {
        response: response,
        result: result
      };
    } else {
      // Always succeed for any non-empty response to open-ended question without answer(s)
      return {
        response: response,
        result: response.length > 0
      };
    }
  }
