- content_for(:head) do
  = javascript_include_tag 'js/levels/widget'
  = stylesheet_link_tag asset_path('blockly/css/common.css'), media: 'all'
  = stylesheet_link_tag 'css/leveltype_widget', media: 'all'

= render partial: 'levels/dialog', locals: {app: 'external', data: @level.properties}

:javascript
  dashboard.setupWidgetLevel();

#external
  = render file: '/public/' + @level.properties['href']
.clear
