%link{rel: 'stylesheet', href: asset_path('blockly/css/common.css')}
= stylesheet_link_tag 'levels/widget', media: 'all'
= javascript_include_tag 'levels/widget'
:javascript
  var options = #{@level.properties.to_json}
  function getResult() {
    return {
      response: 'ok',
      result: true
    };
  }
- href = asset_path(@level.properties['href'])
#external
  / Load the external file through ActionView templates.
  = ActionView::Base.new('public', {}, ActionController::Base.new).render(file: href)
= render partial: 'levels/dialog', locals: {app: 'external', data: @level.properties}
