<%- # Embedded Blockly block html template. Derived from /blockly/src/templates/readonly.html.ejs, converted to erb %>
<%-
  options = local_assigns
  app = options.delete :app
%>
<!DOCTYPE html>
<html dir="<%= locale_dir %>">
<head>
  <meta charset="utf-8">
  <title>Blockly</title>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'js/react-only' %>
  <%= javascript_include_tag 'js/code-studio-common' %>
  <%= render partial: 'levels/apps_dependencies', locals: { app: app, use_blockly: true } %>
</head>
<body class="readonly embed-block">
  <div id="codeWorkspace"></div>
  <script>
    var appOptions = <%= raw options.to_json %>;
    window.onload = function () {
      <%= app %>Main(appOptions);
    };
  </script>
</body>
</html>
