-#
  This is a view for rendering a summary of all of the levels/instructions in a given
  script, that should only be visible in levelbuilder mode
:scss
  .instructions_summary {
    h1 {
      margin-top: 30px
    }
    .script_level {
      border: 1px dashed black;
      padding: 10px;
    }
  }

- lessons = local_assigns[:lessons]
.instructions_summary
  - lessons.each_with_index do |lesson|
    %h1= lesson.localized_title
    - lesson.script_levels.each do |script_level|
      - level = script_level.level
      .script_level
        = link_to "Level #{script_level.position}: #{script_level.level.name}", build_script_level_path(script_level)
        %div= "type: #{script_level.level.class}"
        - levels = level.is_a?(LevelGroup) ? level.levels : [level]
        - levels.each do |level|
          - if level.try(:contained_levels).present?
            - level.try(:contained_levels).each do |contained|
              %span Contained Level:
              = link_to "#{contained.name} ", level_path(contained)
          - if level.is_a?(External)
            =render partial: 'levels/content', locals: {app: 'external', data: level.properties}
          - if level.properties['title']
            %div= "Title: #{level.properties['title']}"
          - if level.properties['code_functions']
            %div Blocks:
            %ul
              - level.properties['code_functions'].each do |key, code_function|
                %li= key
          - if level.properties['long_instructions']
            - markdown = level.properties['long_instructions']
            =ActionView::Base.new.render(inline: markdown, type: :md) unless markdown.blank?
          = render partial: 'levels/teacher_markdown', locals: {data: level.properties}
          - if level.properties['questions']
            %div= "Questions: #{level.properties['questions']}"
          - if level.properties['answers']
            %div= "Answers: #{level.properties['answers']}"
          %br
