%h2 Choose a type of level to build

= link_to 'Script and Level builder how to', 'https://docs.google.com/a/code.org/document/d/1HcYloRHibxk0Axnuw3A3w_Ht3AEmBHO0IUCaYFfs838/edit?usp=sharing'

%h3 Blockly
%ul
  %li= link_to 'Build a Maze Level', new_level_path(type: 'Maze')
  %li= link_to 'Build a Farmer/Bee Level', new_level_path(type: 'Karel')
  %li= link_to 'Build an Artist Level', new_level_path(type: 'Artist')
  %li= link_to 'Build a Playlab Level', new_level_path(type: 'Studio')
  %li= link_to 'Build a Playlab Droplet Level', new_level_path(type: 'StudioEC')
  %li= link_to 'Build a Calc Level', new_level_path(type: 'Calc')
  %li= link_to 'Build an Eval Level', new_level_path(type: 'Eval')
  %li= link_to 'Build a Minecraft Level', new_level_path(type: 'Craft')

%h3 DSL-Defined
%ul
  %li= link_to 'Build a Multi Level', new_level_path(type: 'Multi')
  %li= link_to 'Build a Match Level', new_level_path(type: 'Match')
  %li= link_to 'Build a Text Match Level', new_level_path(type: 'TextMatch')
  %li= link_to 'Build a Contract Match Level', new_level_path(type: 'ContractMatch')
  %li= link_to 'Build an External HTML Level', new_level_path(type: 'External')
  %li= link_to 'Build a LevelGroup Level', new_level_path(type: 'LevelGroup')

%h3 CSP Apps
%ul
  %li= link_to 'Build an Applab Droplet Level', new_level_path(type: 'Applab')
  %li= link_to 'Build a Gamelab Droplet Level', new_level_path(type: 'Gamelab')
  %li= link_to 'Build a NetSim Level', new_level_path(type: 'NetSim')
  %li= link_to 'Build a Pixelation Level', new_level_path(type: 'Pixelation')
  %li= link_to 'Build a Text Compression Level', new_level_path(type: 'TextCompression')
  %li= link_to 'Build a Odometer Level', new_level_path(type: 'Odometer')
  %li= link_to 'Build a Vigenere Level', new_level_path(type: 'Vigenere')
  %li= link_to 'Build a Frequency Analysis Level', new_level_path(type: 'FrequencyAnalysis')

%h3 Your Levels
- @levels.each do |level|
  %li
    = level.name
    = link_to t('crud.show'), level_path(level)
    = link_to t('crud.edit'), edit_level_path(level)
    = link_to t('crud.delete'), level_path(level, redirect: new_level_path), method: :delete
    = link_to 'Clone', level_clone_path(level), method: :post

%h3 All levels
%ul
  %li
    = link_to 'All levels', levels_path
