- @page_title = level_title
= render partial: 'shared/sharing_meta_tags'

#notes-content{style: 'display: none;'}
  %ul
    %li
      %a{href: '#video'}
        = I18n.t('video.tab')
        %span.video-name
    %li
      %a{href: '#notes-outer'}= I18n.t('video.notes')

- if @game.unplugged?
  = render partial: 'levels/unplug', locals: {app: @game.app}
- elsif @level.is_a?(Blockly) && @level.embed == 'true' && !@edit_blocks
  #title
    - if @level.properties['instructions'].present?
      %h4{style: 'margin-left: auto; margin-right: auto; max-width: 800px;'}!= @level.properties['instructions']
  - # Pass special parameters to Blockly partial for embedded level type.
  = render partial: 'levels/blockly'
- elsif @level.is_a?(DSLDefined)
  = render partial: "levels/#{@level.class.to_s.underscore}"
  :javascript
    var appOptions = #{app_options.to_json};
    dashboard.createCallouts(appOptions.callouts);
    if (appOptions.autoplayVideo) {
      showVideoDialog(appOptions.autoplayVideo);
    }
  = render partial: 'levels/reference_area'
- else
  = render partial: 'levels/blockly'

- if @script.try(:hoc?) && (@script_level.try(:chapter) == 1 || @script_level.try(:position) == 1)
  -# special tracking image to make sure a cookie is set when hoc starts (/hoc/1)
  = image_tag(tracking_pixel_url(@script))

- if current_user.try(:admin?)
  = render partial: 'levels/admin'

- if current_user.try(:teacher?)
  = render partial: 'levels/teacher'
