#lti-integration-portal
  .row
    .span10.header
      %h1= t('lti.integration.early_access.form_header')

  - if Policies::Lti.early_access_closed?
    .row
      .span10
        %p= t('lti.integration.early_access.closed')
        != t('lti.integration.early_access.waitlist', sign_up_link: SharedConstants::LMS_LINKS.INTEGRATION_EARLY_ACCESS_URL, markdown: true)
  - else
    .row
      .span10
        %p= t('lti.integration.early_access.form_instructions')
        != t('lti.integration.form_instructions_2', install_instructions: SharedConstants::LMS_LINKS.INSTALL_INSTRUCTIONS_URL, markdown: true)
        = render partial: 'lti/v1/integrations/form', locals: {form_data: @form_data}

    .row
      .span10
        %em!= t('lti.integration.privacy_policy', privacy_policy: SharedConstants::EMAIL_LINKS.PRIVACY_POLICY_URL, markdown: true)
