.row#lesson
  .span9#heading
    %h3.whitetext= data_t_suffix('script.name', script.name, "title")
.row#stats
  .span12#rightside
    .user-stats-block
      - levels = script.script_levels.group_by{ |sl| sl.stage ? sl.stage : sl.level.game }
      - levels = levels.select {|stage_or_game, _| !stage_or_game.unplugged? }
      - levels.each_pair do |stage_or_game, sl_group|
        - stage_title = data_t_suffix('script.name', script.name, stage_or_game.name)
        - game_title = (data_t('game.name', stage_or_game.name) || stage_or_game.name)
        - color = cycle '#dadada', '#eeeeee'
        - custom_script = stage_or_game.instance_of? Stage
        - next if stage_or_game.unplugged?
        .game-group{style:"background-color: #{color}"}
          .stage 
            = stage_title + (custom_script ? '' : ': ')
            - unless custom_script # Custom script stages don't map to specific games
              %span.game-title<
                =game_title
          .games
            - sl_group.each do |sl|
              .level
                %span.puzzle_outer_level
                  = link_to sl.level_display_text, add_pop_hint_per_level_path(sl.level_id, 0), class: 'level_link'
                - if current_user && current_user.admin?
                  = link_to 'All', show_pop_hints_per_level_path(sl.level_id, 0)
                - else
                  %span{style: 'display: block; width: 30px;'} &nbsp;
