%div

  - if current_user && current_user.admin?
    %h1 Administrator options
    %h3 Add hint access by entering the user's email address below.
    = form_for(current_user, :url => add_hint_access_path, :html => { :method => :get }) do |f|
      .field
        = text_field_tag :user_email, nil, class: 'input-xxlarge', placeholder: 'Email for user', :required => true
        = hidden_field_tag :redirect, frequent_unsuccessful_level_sources_path
      .actions
        = f.submit 'Add Hint Access'
    %h3= link_to 'Review hints by popularity >>', show_pop_hints_path(0)
    %h3= link_to 'Review hints by user >>', level_source_hints_path

    %h1 User options

  %h3= link_to 'Start adding hints (where needed) >>', add_pop_hint_path(0)
  %br
  %h3 Or, choose a particular puzzle and add hints just for that puzzle:

  -# Script.where(hidden: false).each do |script| # TODO: add this back when we support hints for other scripts
  - script = Script.twenty_hour_script
  = render partial: 'script', locals: {script: script}

:javascript
  $( "#user_email" ).placeholder();

