---
title: Music Lab
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/music-styles.css", rel: "stylesheet"}

%section
  .wrapper
    .text-wrapper.col-50
      %h1 Music Lab
      %p.body-one
        =hoc_s("music_lab.tools_page.top.subheading")
      %p.body-two
        =hoc_s("music_lab.tools_page.top.desc")
      %a.link-button{href: CDO.studio_url("/s/music-intro-2024/reset")}
        =hoc_s("music_lab.button.try_music_lab")
    %figure.col-45{style: "float: right; margin-top: 1.25rem;"}
      = view :display_video_thumbnail, id: "music_lab", video_code: "GqlP5s7KTl4", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/music_lab/Music_Lab_Make_Music_Learn_Code.mp4"
    .clear

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("music_lab.tools_page.glance.heading")
    = view :"tools/tools_glance", ages: hoc_s("music_lab.tools_page.glance.ages"), level: hoc_s("music_lab.tools_page.glance.level"), make: hoc_s("music_lab.tools_page.glance.make"), devices: hoc_s("music_lab.tools_page.glance.devices"), browsers: hoc_s("music_lab.tools_page.glance.browsers"), languages: "العربية, Español (España), Español (LATAM), Filipino, Français, हिन्दी, Bahasa Indonesia, Italiano, 日本語, 한국어, فارسی, Polski, Português (Brasil), Português (Portugal), Slovenčina, ภาษาไทย, Türkçe, Tiếng Việt, 繁體字", accessibility: nil
    %p.body-two.wrap-pretty
      =hoc_s("music_lab.tutorial.desc")
    %a.link-button.secondary{href: CDO.studio_url("/s/music-tutorial-2024")}
      =hoc_s("music_lab.tutorial.button")

%section.student-projects
  .wrapper
    %h2=hoc_s("music_lab.student_projects.heading")
    = view :"music/music_lab_student_projects"

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s("music_lab.tools_page.videos.heading")
    = view :"tools/music_lab/music_lab_videos"

-# TODO - Add resources view once this ticket is done ACQ-1621
-# %section
-#   .wrapper

%section
  .wrapper
    = view :afe_partnership_block
    %p.body-four.centered
      =hoc_s(:dance_afe_disclaimer)

= view :analytics_event_log_helper, event_name: AnalyticsConstants::MUSIC_LAB_PAGE_VISITED_EVENT
