:ruby
  steps_educators_index = 7

  steps_educators_heading = [
    hoc_s("hoc_how_to.label.register"),
    hoc_s("hoc_how_to.label.choose"),
    hoc_s("hoc_how_to.label.prepare"),
    hoc_s("hoc_how_to.label.plan_hour"),
    hoc_s("hoc_how_to.label.get_coding"),
    hoc_s("hoc_how_to.label.after"),
    hoc_s("hoc_how_to.label.beyond")
  ]

  steps_educators_desc = [
    hoc_s("hoc_how_to.events.steps.register"),
    hoc_s("hoc_how_to.events.steps.choose_activity"),
    "",
    hoc_s("hoc_how_to.events.steps.plan.body_01"),
    hoc_s("hoc_how_to.events.steps.get_coding.body_01"),
    hoc_s("hoc_how_to.events.steps.after.body_01"),
    hoc_s("hoc_how_to.events.steps.beyond.body_01")
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_events"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 4 || index === 6}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag
                =hoc_s(:before_hoc)
              .button-wrapper
                %a.link-button{href: resolve_url("/events")}
                  =hoc_s(:call_to_action_register_event)

            -# Step 2 additional content
            - if index === 1
              %img{src: "/images/activities_2024.jpg", alt: ""}
              %a.link-button{href: resolve_url("/learn")}
                =hoc_s(:call_to_action_select_coding_activity)

            -# Step 3 additional content
            - if index === 2
              %ul
                %li
                  =hoc_s("hoc_how_to.events.steps.prepare.list_01")
                %li
                  =hoc_s("hoc_how_to.events.steps.prepare.list_02")
                %li.no-margin-bottom
                  =hoc_s("hoc_how_to.events.steps.prepare.list_03")
              %a.link-button{href: resolve_url("/promote")}
                =hoc_s("hoc_how_to.button.get_resources")

            -# Step 4 additional content
            - if index === 3
              %ul
                %li
                  =hoc_s("hoc_how_to.events.steps.plan.list_01", markdown: :inline, locals:{videos_url: resolve_url("/promote/resources#videos")})
                %li
                  =hoc_s("hoc_how_to.events.steps.plan.list_02")
                %li
                  =hoc_s("hoc_how_to.events.steps.plan.list_03")
                %li
                  =hoc_s("hoc_how_to.events.steps.plan.list_04")
                %li
                  =hoc_s("hoc_how_to.events.steps.plan.list_05")
                %li
                  =hoc_s("hoc_how_to.events.steps.plan.list_06")

            -# Step 5 additional content
            - if index === 4
              %p.tag
                =hoc_s(:day_of_hoc)
              %p.no-margin-bottom
                =hoc_s("hoc_how_to.events.steps.get_coding.body_02")

            -# Step 6 additional content
            - if index === 5
              %ul
                %li
                  =hoc_s("hoc_how_to.events.steps.after.list_01")
                %li
                  =hoc_s("hoc_how_to.events.steps.after.list_02")
                %li
                  =hoc_s("hoc_how_to.events.steps.after.list_03")
                %li
                  =hoc_s("hoc_how_to.events.steps.after.list_04")
                %li
                  =hoc_s("hoc_how_to.events.steps.after.list_05")
              %a.link-button.has-external-link{href: "https://code.org/certificates", target: "_blank", rel: "noopener noreferrer"}
                =hoc_s("hoc_how_to.button.print_certificates")

            -# Step 7 additional content
            - if index === 6
              %p.tag
                =hoc_s(:after_hoc)
              %p
                =hoc_s("hoc_how_to.events.steps.beyond.body_02")
              %a.link-button.has-external-link{href: "https://code.org", target: "_blank", rel: "noopener noreferrer"}
                =hoc_s("hoc_how_to.button.continue_learning")
