:ruby
  steps_educators_index = 7

  steps_educators_heading = [
    hoc_s(:hoc_how_to_step_label_register_event),
    hoc_s(:hoc_how_to_step_label_choose_activities),
    hoc_s(:hoc_how_to_step_label_prepare_your_event),
    hoc_s(:hoc_how_to_step_label_plan_your_hour),
    hoc_s(:hoc_how_to_step_label_get_coding),
    hoc_s(:hoc_how_to_step_label_after_event),
    hoc_s(:hoc_how_to_step_label_beyond_hoc)
  ]

  steps_educators_desc = [
    hoc_s(:hoc_how_to_step_events_register_desc_01, markdown: :inline, locals:{share_url: "https://docs.google.com/forms/d/e/1FAIpQLSdD90kD2nkNZqTUMcAb2cQdOhUv99Q5XDQmkLDec25yZJHYhw/viewform"}),
    hoc_s(:hoc_how_to_step_choose_activities_desc_01),
    hoc_s(:hoc_how_to_step_events_prepare_desc_01),
    hoc_s(:hoc_how_to_step_plan_hour_desc_01),
    hoc_s(:hoc_how_to_step_events_get_coding_desc_01),
    hoc_s(:hoc_how_to_step_events_after_desc_01),
    hoc_s(:hoc_how_to_step_beyond_hoc_subhead)
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_events"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 4 || index === 6}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3.heading-lg
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag
                =hoc_s(:before_hoc)
              %p
                =hoc_s(:hoc_how_to_step_events_register_desc_02, markdown: :inline, locals:{map_url: resolve_url("/map")})
              .button-wrapper
                %a.link-button{href: resolve_url("/events")}
                  =hoc_s(:call_to_action_register_event)
                %a.link-button.secondary{href: "https://docs.google.com/forms/d/e/1FAIpQLSdD90kD2nkNZqTUMcAb2cQdOhUv99Q5XDQmkLDec25yZJHYhw/viewform"}
                  =hoc_s(:call_to_action_share_event_plan)

            -# Step 2 additional content
            - if index === 1
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_02, markdown: :inline, locals:{activities_url: resolve_url("/learn"), ai_activities_url: resolve_url("/learn?subject=ai")})
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_03, markdown: :inline, locals:{ai_url: resolve_url("/ai")})
              %img{src: "/images/activites_2023.jpg", alt: ""}
              .button-wrapper
                %a.link-button{href: resolve_url("/learn")}
                  =hoc_s(:call_to_action_select_coding_activity)
                %a.link-button.secondary{href: resolve_url("/ai")}
                  =hoc_s(:call_to_action_learn_about_ai)

            -# Step 3 additional content
            - if index === 2
              %p
                =hoc_s(:hoc_how_to_step_events_prepare_desc_02, markdown: :inline, locals:{letter_url: resolve_url("/promote/resources#sample-emails"), toolkit_url: "/files/elected-official.pdf"})
              %p.no-margin-bottom
                =hoc_s(:hoc_how_to_step_events_prepare_desc_03, markdown: :inline, locals:{press_kit_url: resolve_url("/promote/press-kit")})

            -# Step 4 additional content
            - if index === 3
              %ul
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_02, markdown: :inline, locals:{videos_url: resolve_url("/promote/resources#videos")})
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_03, markdown: :inline, locals:{stats_url: resolve_url("/promote/stats")})
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_04)
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_05)
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_06)
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_07)

            -# Step 5 additional content
            - if index === 4
              %p.tag
                =hoc_s(:day_of_hoc)
              %p.no-margin-bottom
                =hoc_s(:hoc_how_to_step_events_get_coding_desc_02)

            -# Step 6 additional content
            - if index === 5
              %ul
                %li
                  =hoc_s(:hoc_how_to_step_events_after_desc_02)
                %li
                  =hoc_s(:hoc_how_to_step_events_after_desc_03)
                %li
                  =hoc_s(:hoc_how_to_step_events_after_desc_04)
                %li
                  =hoc_s(:hoc_how_to_step_events_after_desc_05)
                %li
                  =hoc_s(:hoc_how_to_step_events_after_desc_06)
              %a.link-button{href: "https://code.org/certificates"}
                =hoc_s(:call_to_action_print_certificates)

            -# Step 7 additional content
            - if index === 6
              %p.tag
                =hoc_s(:after_hoc)
              %p
                =hoc_s(:hoc_how_to_step_beyond_hoc_desc_generic)
              %a.link-button{href: resolve_url("/beyond")}
                =hoc_s(:call_to_action_go_beyond_hoc)
