:ruby
  steps_educators_index = 7

  steps_educators_heading = [
    hoc_s(:hoc_how_to_step_label_recruit_school_participation),
    hoc_s(:hoc_how_to_step_label_register_event),
    hoc_s(:hoc_how_to_step_label_get_familiar_activities),
    hoc_s(:hoc_how_to_step_label_promote_district_involvement),
    hoc_s(:hoc_how_to_step_label_get_coding),
    hoc_s(:hoc_how_to_step_label_celebrate),
    hoc_s(:hoc_how_to_step_label_beyond_hoc)
  ]

  steps_educators_desc = [
    hoc_s(:hoc_how_to_step_districts_recruit_desc_01),
    hoc_s(:hoc_how_to_step_districts_register_desc_01),
    hoc_s(:hoc_how_to_step_choose_activities_desc_01),
    hoc_s(:hoc_how_to_step_districts_promote_desc_01),
    hoc_s(:hoc_how_to_step_events_get_coding_desc_01),
    hoc_s(:hoc_how_to_step_districts_celebrate_desc_01),
    hoc_s(:hoc_how_to_step_districts_beyond_desc_01_v2)
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_districts"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 4 || index === 6}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3.heading-xl
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag
                =hoc_s(:before_hoc)
              .button-wrapper{style: "margin-top: 1rem"}
                %a.link-button{href: resolve_url("/how-to")}
                  =hoc_s(:call_to_action_see_teacher_guide)
                %a.link-button{href: resolve_url("/how-to/events")}
                  =hoc_s(:call_to_action_see_event_guide)

            -# Step 2 additional content
            - if index === 1
              %a.link-button{href: resolve_url("/events")}
                =hoc_s(:call_to_action_register_event)

            -# Step 3 additional content
            - if index === 2
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_02, markdown: :inline, locals:{activities_url: resolve_url("/learn"), ai_activities_url: resolve_url("/learn?subject=ai")})
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_03, markdown: :inline, locals:{ai_url: resolve_url("/ai")})
              %img{src: "/images/activites_2023.jpg", alt: ""}
              .button-wrapper
                %a.link-button{href: resolve_url("/learn")}
                  =hoc_s(:call_to_action_select_coding_activity)
                %a.link-button.secondary{href: resolve_url("/ai")}
                  =hoc_s(:call_to_action_learn_about_ai)

            -# Step 4 additional content
            - if index === 3
              %a.link-button{href: resolve_url("/promote/resources#sample-emails")}
                =hoc_s(:call_to_action_share_event_w_parents)

            -# Step 5 additional content
            - if index === 4
              %p.tag
                =hoc_s(:day_of_hoc)
              %p
                =hoc_s(:hoc_how_to_step_events_get_coding_desc_02)
              %a.link-button{href: "https://code.org/ai/pl/101"}
                =hoc_s(:call_to_action_learn_more_about_ai)

            -# Step 7 additional content
            - if index === 6
              %p.tag
                =hoc_s(:after_hoc)
              %a.link-button{href: resolve_url("/beyond")}
                =hoc_s(:call_to_action_go_beyond_hoc)
