:ruby
  steps_educators_index = 8

  steps_educators_heading = [
    hoc_s("hoc_how_to.label.register"),
    hoc_s("hoc_how_to.label.choose"),
    hoc_s("hoc_how_to.label.plan_event"),
    hoc_s("hoc_how_to.label.plan_hour"),
    hoc_s("hoc_how_to.label.spread_word"),
    hoc_s("hoc_how_to.label.get_coding"),
    hoc_s("hoc_how_to.label.celebrate"),
    hoc_s("hoc_how_to.label.beyond")
  ]

  steps_educators_desc = [
    hoc_s("hoc_how_to.teachers.steps.register"),
    hoc_s("hoc_how_to.teachers.steps.choose_activity"),
    "",
    hoc_s("hoc_how_to.teachers.steps.plan_hour.body_01"),
    hoc_s("hoc_how_to.teachers.steps.spread_word.body_01", markdown: :inline, locals:{emails_url: resolve_url("/promote/resources#sample-emails")}),
    hoc_s("hoc_how_to.teachers.steps.get_coding"),
    hoc_s("hoc_how_to.teachers.steps.celebrate"),
    hoc_s("hoc_how_to.teachers.steps.beyond.body_01")
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_educators"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 5 || index === 7}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag.day-of
                =hoc_s("hoc_how_to.label.before_hoc")
              %a.link-button{href: resolve_url("/events")}
                =hoc_s(:call_to_action_register_event)

            -# Step 2 additional content
            - if index === 1
              %img{src: "/images/activites_2023.jpg", alt: ""}
              %a.link-button{href: resolve_url("/learn")}
                =hoc_s(:call_to_action_select_coding_activity)

            -# Step 3 additional content
            - if index === 2
              %p
                %strong=hoc_s(:what)
                =hoc_s(:hoc_how_to_step_educators_plan_desc_01)
              %p
                %strong=hoc_s(:when)
                =hoc_s(:hoc_how_to_step_educators_plan_desc_02, markdown: :inline, locals: {campaign_date: campaign_date("full")})
              %p
                %strong=hoc_s(:where)
                =hoc_s(:hoc_how_to_step_educators_plan_desc_03)
              %img{src: "/images/group_ipad.jpg", alt: ""}

            -# Step 4 additional content
            - if index === 3
              %ul
                %li
                  =hoc_s("hoc_how_to.teachers.steps.plan_hour.list_01", markdown: :inline, locals:{video_url: resolve_url("/promote/resources#videos")})
                %li
                  =hoc_s("hoc_how_to.teachers.steps.plan_hour.list_02")
                %li
                  =hoc_s("hoc_how_to.teachers.steps.plan_hour.list_03")

            -# Step 5 additional content
            - if index === 4
              %ul
                %li
                  =hoc_s("hoc_how_to.teachers.steps.spread_word.list_01", markdown: :inline, locals: {register_url: resolve_url("/events")})
                %li
                  =hoc_s("hoc_how_to.teachers.steps.spread_word.list_02")
                %li
                  =hoc_s("hoc_how_to.teachers.steps.spread_word.list_03")

            -# Step 6 additional content
            - if index === 5
              %p.tag.day-of
                =hoc_s("hoc_how_to.label.day_of_hoc")

            -# Step 7 additional content
            - if index === 6
              %a.link-button{href: "https://code.org/certificates"}
                =hoc_s(:call_to_action_print_certificates)

            -# Step 8 additional content
            - if index === 7
              %p.tag.day-of
                =hoc_s("hoc_how_to.label.after_hoc")
              %p
                =hoc_s("hoc_how_to.teachers.steps.beyond.body_02")
              %a.link-button{href: resolve_url("/beyond")}
                =hoc_s(:call_to_action_go_beyond_hoc)
