:ruby
  steps_educators_index = 6

  steps_educators_heading = [
    hoc_s(:hoc_how_to_step_label_inspire_employees),
    hoc_s(:hoc_how_to_step_label_encourage_employees),
    hoc_s(:hoc_how_to_step_label_plan_internal_event),
    hoc_s(:hoc_how_to_step_label_choose_activities),
    hoc_s(:hoc_how_to_step_label_help_spread_word),
    hoc_s(:hoc_how_to_step_label_beyond_hoc)
  ]

  steps_educators_desc = [
    hoc_s(:hoc_how_to_step_companies_inspire_desc_01),
    hoc_s(:hoc_how_to_step_companies_encourage_desc_01),
    hoc_s(:hoc_how_to_step_companies_plan_desc_01),
    hoc_s(:hoc_how_to_step_choose_activities_desc_01),
    hoc_s(:hoc_how_to_step_companies_spread_word_desc_01),
    hoc_s(:hoc_how_to_step_beyond_advocacy_desc_01)
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_companies"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 3 || index === 5}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3.heading-xl
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag.day-of
                =hoc_s(:before_hoc)
              %figure.video-responsive
                %div
                  %iframe{allowFullScreen: 'true', frameborder: '0', src: "https://www.youtube-nocookie.com/embed/ExnT-5bcLBs"}

            -# Step 2 additional content
            - if index === 1
              %a.link-button{href: resolve_url("/how-to/volunteers")}
                =hoc_s(:call_to_action_see_volunteer_guide)

            -# Step 3 additional content
            - if index === 2
              %p
                =hoc_s(:hoc_how_to_step_companies_plan_desc_02, markdown: :inline, locals:{map_url: resolve_url("/map")})
              %a.link-button{href: resolve_url("/events")}
                =hoc_s(:call_to_action_register_event)

            -# Step 4 additional content
            - if index === 3
              %p.tag.day-of
                =hoc_s(:day_of_hoc)
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_02, markdown: :inline, locals:{activities_url: resolve_url("/learn"), ai_activities_url: resolve_url("/learn?subject=ai")})
              %p
                =hoc_s(:hoc_how_to_step_companies_choose_activities_desc_03, markdown: :inline, locals:{ai_url: resolve_url("/ai")})
              %img{src: "/images/activites_2023.jpg", alt: ""}
              .button-wrapper
                %a.link-button{href: resolve_url("/learn")}
                  =hoc_s(:call_to_action_select_coding_activity)
                %a.link-button.secondary{href: resolve_url("/ai")}
                  =hoc_s(:call_to_action_learn_about_ai)

            -# Step 5 additional content
            - if index === 4
              %a.link-button{href: "https://code.org/certificates"}
                =hoc_s(:call_to_action_print_certificates)

            -# Step 6 additional content
            - if index === 5
              %p.tag.day-of
                =hoc_s(:after_hoc)
              %a.link-button{href: "https://advocacy.code.org/"}
                =hoc_s(:call_to_action_become_an_advocate)
