:ruby
  steps_educators_index = 8

  steps_educators_heading = [
    hoc_s(:hoc_how_to_step_label_register_event),
    hoc_s(:hoc_how_to_step_label_choose_activities),
    hoc_s(:hoc_how_to_step_label_plan_your_event),
    hoc_s(:hoc_how_to_step_label_plan_your_hour),
    hoc_s(:hoc_how_to_step_label_help_spread_word),
    hoc_s(:hoc_how_to_step_label_get_coding),
    hoc_s(:hoc_how_to_step_label_celebrate),
    hoc_s(:hoc_how_to_step_label_beyond_hoc)
  ]

  steps_educators_desc = [
    hoc_s(:hoc_how_to_step_educators_register_desc, markdown: :inline, locals:{map_url: resolve_url("/map")}),
    hoc_s(:hoc_how_to_step_choose_activities_desc_01),
    "",
    hoc_s(:hoc_how_to_step_plan_hour_desc_01),
    hoc_s(:hoc_how_to_step_educators_spread_word_desc_01, markdown: :inline, locals:{email_url: resolve_url("/promote/resources#sample-emails")}),
    hoc_s(:hoc_how_to_step_educators_get_coding_desc),
    hoc_s(:hoc_how_to_step_educators_celebrate_desc),
    hoc_s(:hoc_how_to_step_beyond_hoc_subhead)
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_educators"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 5 || index === 7}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag.day-of
                =hoc_s(:before_hoc)
              %a.link-button{href: resolve_url("/events")}
                =hoc_s(:call_to_action_register_event)

            -# Step 2 additional content
            - if index === 1
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_02, markdown: :inline, locals:{activities_url: resolve_url("/learn"), ai_activities_url: resolve_url("/learn?subject=ai")})
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_03, markdown: :inline, locals:{ai_url: resolve_url("/ai")})
              %img{src: "/images/activites_2023.jpg", alt: ""}
              .button-wrapper
                %a.link-button{href: resolve_url("/learn")}
                  =hoc_s(:call_to_action_select_coding_activity)
                %a.link-button.secondary{href: resolve_url("/ai")}
                  =hoc_s(:call_to_action_learn_about_ai)

            -# Step 3 additional content
            - if index === 2
              %p
                %strong=hoc_s(:what)
                =hoc_s(:hoc_how_to_step_educators_plan_desc_01)
              %p
                %strong=hoc_s(:when)
                =hoc_s(:hoc_how_to_step_educators_plan_desc_02, markdown: :inline, locals: {campaign_date: campaign_date("full")})
              %p
                %strong=hoc_s(:where)
                =hoc_s(:hoc_how_to_step_educators_plan_desc_03)
              %img{src: "/images/group_ipad.jpg", alt: ""}

            -# Step 4 additional content
            - if index === 3
              %ul
                %li
                  =hoc_s(:hoc_how_to_step_educators_plan_hour_desc_02, markdown: :inline, locals:{video_url: resolve_url("/promote/resources#videos")})
                %li
                  =hoc_s(:hoc_how_to_step_educators_plan_hour_desc_03)
                %li
                  =hoc_s(:hoc_how_to_step_educators_plan_hour_desc_04)
                %li
                  =hoc_s(:hoc_how_to_step_educators_plan_hour_desc_05)

            -# Step 5 additional content
            - if index === 4
              %ul
                %li
                  =hoc_s(:hoc_how_to_step_educators_spread_word_desc_02, markdown: :inline, locals: {register_url: resolve_url("/events")})
                %li
                  =hoc_s(:hoc_how_to_step_educators_spread_word_desc_03, markdown: :inline, locals: {host_url: resolve_url("/how-to/events"), share_url: "https://docs.google.com/forms/d/e/1FAIpQLSdD90kD2nkNZqTUMcAb2cQdOhUv99Q5XDQmkLDec25yZJHYhw/viewform"})
                %li
                  =hoc_s(:hoc_how_to_step_educators_spread_word_desc_04)

            -# Step 6 additional content
            - if index === 5
              %p.tag.day-of
                =hoc_s(:day_of_hoc)

            -# Step 7 additional content
            - if index === 6
              %a.link-button{href: "https://code.org/certificates"}
                =hoc_s(:call_to_action_print_certificates)

            -# Step 8 additional content
            - if index === 7
              %p.tag.day-of
                =hoc_s(:after_hoc)
              %p
                =hoc_s(:hoc_how_to_step_beyond_hoc_desc_generic)
              %a.link-button{href: resolve_url("/beyond")}
                =hoc_s(:call_to_action_go_beyond_hoc)
