:ruby
  steps_educators_index = 9

  steps_educators_heading = [
    hoc_s(:hoc_how_to_step_label_invite_elected_official),
    hoc_s(:hoc_how_to_step_label_register_event),
    hoc_s(:hoc_how_to_step_label_choose_activities),
    hoc_s(:hoc_how_to_step_label_plan_your_event),
    hoc_s(:hoc_how_to_step_label_coordinate_media),
    hoc_s(:hoc_how_to_step_label_confirm_details),
    hoc_s(:hoc_how_to_step_label_get_coding),
    hoc_s(:hoc_how_to_step_label_after_event),
    hoc_s(:hoc_how_to_step_label_beyond_hoc)
  ]

  steps_educators_desc = [
    hoc_s(:hoc_how_to_step_public_officials_invite_desc_01),
    hoc_s(:hoc_how_to_step_public_officials_register_desc_01),
    hoc_s(:hoc_how_to_step_choose_activities_desc_01),
    hoc_s(:hoc_how_to_step_public_officials_plan_desc_01),
    hoc_s(:hoc_how_to_step_public_officials_media_desc_01),
    hoc_s(:hoc_how_to_step_public_officials_confirm_desc_01),
    hoc_s(:hoc_how_to_step_public_officials_get_coding_desc_01),
    hoc_s(:hoc_how_to_step_events_after_desc_01),
    hoc_s(:hoc_how_to_step_beyond_advocacy_desc_01)
  ]

%section.steps
  .wrapper

    = view :"how-to/steps/side-nav/side_nav_public_officials"

    %div.steps-wrapper
      - steps_educators_index.times do |index|
        .step{id: "step-0#{index + 1}", class:"#{'divider-accent' if index === 0 || index === 6 || index === 8}"}
          .step-counter
            %span
              = index + 1
          .step-content
            %h3.heading-xl
              = steps_educators_heading[index]
            %p
              = steps_educators_desc[index]

            -# Step 1 additional content
            - if index === 0
              %p.tag.day-of
                =hoc_s(:before_hoc)
              %p
                =hoc_s(:hoc_how_to_step_public_officials_invite_desc_02)
              %figure
                %img{src: "/images/fit-800/hoc_govs.png", alt: ""}
                - if @country === "us"
                  %figcaption.no-margin-bottom
                    =hoc_s(:hoc_how_to_step_public_officials_invite_desc_03)

            -# Step 2 additional content
            - if index === 1
              %p
                =hoc_s(:hoc_how_to_step_events_register_desc_02, markdown: :inline, locals:{map_url: resolve_url("/map")})
              %a.link-button{href: resolve_url("/events")}
                =hoc_s(:call_to_action_register_event)

            -# Step 3 additional content
            - if index === 2
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_02, markdown: :inline, locals:{activities_url: resolve_url("/learn"), ai_activities_url: resolve_url("/learn?subject=ai")})
              %p
                =hoc_s(:hoc_how_to_step_choose_activities_desc_03, markdown: :inline, locals:{ai_url: resolve_url("/ai")})
              %img{src: "/images/activites_2023.jpg", alt: ""}
              .button-wrapper
                %a.link-button{href: resolve_url("/learn")}
                  =hoc_s(:call_to_action_select_coding_activity)
                %a.link-button.secondary{href: resolve_url("/ai")}
                  =hoc_s(:call_to_action_learn_about_ai)

            -# Step 4 additional content
            - if index === 3
              %ul
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_plan_list_01)
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_plan_list_02)
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_plan_list_03)
                %li.no-margin-bottom
                  =hoc_s(:hoc_how_to_step_public_officials_plan_list_04)
              %p
                =hoc_s(:hoc_how_to_step_plan_hour_desc_01)
              %ul.no-margin-bottom
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_02, markdown: :inline, locals:{videos_url: resolve_url("/promote/resources#videos")})
                %li
                  =hoc_s(:hoc_how_to_step_events_plan_hour_desc_03, markdown: :inline, locals:{stats_url: resolve_url("/promote/stats")})
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_agenda_list_03)
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_agenda_list_04)
                %li.no-margin-bottom
                  =hoc_s(:hoc_how_to_step_public_officials_agenda_list_05)

            -# Step 5 additional content
            - if index === 4
              %p
                =hoc_s(:hoc_how_to_step_public_officials_media_desc_02)
              %ul.no-margin-bottom
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_media_list_01, markdown: :inline, locals:{general_send_url: "https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=dca0c24f-88a9-48a2-a227-d14fa01a9390&env=na2&acct=66bab3ee-40e1-40e3-ad7f-7576ba73668c&v=2"})
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_media_list_02, markdown: :inline, locals:{general_print_url: "https://drive.google.com/file/d/1CrfxcLt0UD_6iOEunCxkKoEFwcko9aur/view?usp=sharing"})
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_media_list_03, markdown: :inline, locals:{minor_send_url: "https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=5fb23612-668a-4bcb-ba77-f05d4448d3ef&env=na2&acct=66bab3ee-40e1-40e3-ad7f-7576ba73668c&v=2"})
                %li.no-margin-bottom
                  =hoc_s(:hoc_how_to_step_public_officials_media_list_04, markdown: :inline, locals:{minor_print_url: "https://drive.google.com/file/d/1DIyczgLYCX6A8AWlQjxzl9gNIO-2U0nW/view?usp=share_link"})

            -# Step 6 additional content
            - if index === 5
              %p.no-margin-bottom
                =hoc_s(:hoc_how_to_step_public_officials_confirm_desc_02)

            -# Step 7 additional content
            - if index === 6
              %p.tag
                =hoc_s(:day_of_hoc)
              %p
                =hoc_s(:hoc_how_to_step_public_officials_get_coding_desc_02)
              %p
                =hoc_s(:hoc_how_to_step_public_officials_get_coding_desc_03)

            -# Step 8 additional content
            - if index === 7
              %ul.no-margin-bottom
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_after_list_01, markdown: :inline, locals:{certificate_url: "http://code.org/certificates"})
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_after_list_02)
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_after_list_03)
                %li
                  =hoc_s(:hoc_how_to_step_public_officials_after_list_04)
                %li.no-margin-bottom
                  =hoc_s(:hoc_how_to_step_public_officials_after_list_05)

            -# Step 9 additional content
            - if index === 8
              %p.tag
                =hoc_s(:after_hoc)
              %a.link-button{href: "https://advocacy.code.org/"}
                =hoc_s(:call_to_action_become_an_advocate)
