%h1 Listing professional_learning_courses

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @professional_learning_courses.each do |professional_learning_course|
      %tr
        %td= professional_learning_course.name
        %td= link_to 'Show', professional_learning_course
        %td= link_to 'Edit', edit_professional_learning_course_path(professional_learning_course)
        %td= link_to 'Destroy', professional_learning_course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Professional learning course', new_professional_learning_course_path
