---
layout: wide
nav: promote_nav
---

<% @header["title"] = hoc_s(:title_country_resources) %>

<%= view :signup_button %>

<% if @country == 'la' %>

<h1>Recursos</h1>

<h2>¿Qué hacemos cuando hacemos la Hora del Código?</h2>

<div class="handout" style="width: 50%; float: left;">
<a href="/la/files/hacemos-la-Hora-del-Codigo.pdf" target="_blank"><img src="/la/images/fit-260/hacemos-la-Hora-del-Codigo.png"></a>
<br/>En Español
</div>

<div class="handout" style="width: 50%; float: left;">
<a href="/la/files/hacemos-la-Hora-del-Codigo-Ingles.pdf" target="_blank"><img src="/la/images/fit-260/hacemos-la-Hora-del-Codigo-Ingles.png"></a>
<br/>En Inglés
</div>

<div style="clear:both"></div>

<h2>Vídeos</h2>

<br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/HrBh2165KjE" frameborder="0" allowfullscreen></iframe>
<a href="https://www.youtube.com/watch?v=HrBh2165KjE"><strong>¿Por qué todos tienen que aprender a programar? Participá de la Hora del Código en Argentina (5 min)</strong></a>

<br/>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_vq6Wpb-WyQ" frameborder="0" allowfullscreen></iframe>
<br/><a href="https://www.youtube.com/watch?v=_vq6Wpb-WyQ"><strong>La Hora del Código en Chile (2 min)</strong></a>

<% elsif @country == 'al' %>

<iframe width="560" height="315" src="https://www.youtube.com/embed/AtVzbUZqZcI" frameborder="0" allowfullscreen></iframe><p><a href="https://www.youtube.com/embed/AtVzbUZqZcI"><strong>Ora E Kodimit (5 min)</strong></a>

<% elsif @country == 'ca' %>

<h2>Videos</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/k3cg1e27zQM" frameborder="0" allowfullscreen></iframe><p><a href="https://www.youtube.com/watch?v=k3cg1e27zQM"><strong>Join Nova Scotia for the Hour of Code (3 min)</strong></a>

<% elsif @country == 'id' %>

Di luar dari fakata bahwa Pekan Edukasi Ilmu Komputer jatuh pada 7 hingga 13 Desember 2015, kami mengetahui bahwa banyak siswa-siswi Indonesia yang menjalankan prosesi ujian. Untuk alasan ini kami memutuskan untuk menjalankan masa kampanye Hour of Code di Indonesia pada 12 hingga 20 Desember 2015. Kita tetap akan merasakan kemeriahan yang sama dan dengan tujuan yang sama namun dengan kebersamaan yang lebih besar karena akan ada lebih banyak siswa-siswi yang dapat mengikutinya.

Mari bersama kita dukung gerakan Hour of Code di Indonesia!

<% elsif @country == 'jp' %>

<h2>Hour of Code(アワーオブコード) 2015紹介ビデオ</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_C9odNcq3uQ" frameborder="0" allowfullscreen></iframe><p><a href="https://www.youtube.com/watch?v=_C9odNcq3uQ"><strong>Hour of Code(アワーオブコード) 2015紹介ビデオ (1 min)</strong></a>

<a href="/files/HourofCodeLessonGuideJapan.pdf">Hour of Code Lesson Guide</a>

<% elsif @country == 'nl' %>

<br/><br/><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0hfb0d5GxSw" frameborder="0" allowfullscreen></iframe><p><a href="https://www.youtube.com/embed/0hfb0d5GxSw"><strong>Friends of Technology Hour of Code (2 min)</strong></a>

<% elsif @country == 'pk' %>

اگر آپ کا تعلق پاکستان کےایسے کیمبرج اسکول سے ہے، جہاں دسمبر کے مہینے میں امتحانات لئے جاتے ہیں، تو آپ اپنے اسکول میں آور آف کوڈ کا انقعاد  نومبر ٢٣ تا ٢٩ کے دوران بھی کر سکتے ہیں۔ آپ کا شمار دنیا کی سب سے بڑی تعلیمی تقریب میں حصّہ لینے والوں میں ہی کیا جائے گا۔

<% elsif @country == 'ro' %>

Va multumim pentru inregistrare, daca doriti materiale printate pentru promovarea evenimentului, echipa din Romania vi le poate trimite prin curier. Trebuie doar sa trimiteti un email la HOC@adfaber.org si sa le solicitati.

<% elsif @country ==  'uk' %>

<h1>How-to Guide for Organizations</h1>

<h2>Use this handout to recruit corporations</h2>
<a href="<%= localized_file('/files/corporations.pdf') %>"><%= localized_image('/images/fit-500x300/corporations.png') %></a>

<h2>1) Try the tutorials:</h2>
We’ll host a variety of fun, hour-long tutorials, created by a variety of partners. New tutorials are coming to kick off the Hour of Code before <%= campaign_date('full') %>.

<strong>All Hour of Code tutorials:</strong>

<ul>
  <li>Require minimal prep-time for organizers</li>
  <li>Are self-guided - allowing students to work at their own pace and skill-level</li>
</ul>

<a href="https://code.org/learn"><img src="https://code.org/images/tutorials.png"></a>


<h2>2) Plan your hardware needs - computers are optional</h2>

The best Hour of Code experience will be with Internet-connected computers. But you don’t need a computer for every participant, and can even do the Hour of Code without a computer at all.

<ul>
  <li><strong>Test tutorials on student computers or devices.</strong> Make sure they work properly (with sound and video).</li>
  <li><strong>Preview the congrats page</strong> to see what students will see when they finish.</li>
  <li><strong>Provide headphones for your group</strong>, or ask students to bring their own, if the tutorial you choose works best with sound.</li>
</ul>

<h2>3) Plan ahead based on your technology available</h2>

<ul>
  <li><strong>Don't have enough devices?</strong> Use <a href="http://www.ncwit.org/resources/pair-programming-box-power-collaborative-learning">pair programming</a>. When participants partner up, they help each other and rely less on the teacher.</li>
  <li><strong>Have low bandwidth?</strong> Plan to show videos at the front of the class, so each student isn't downloading their own videos. Or try the unplugged / offline tutorials.</li>
</ul>
<h2>4) Inspire students - show them a video</h2>


Show students an inspirational video to kick off the Hour of Code. Examples:

<ul>
  <li>The original Code.org launch video, featuring Bill Gates, Mark Zuckerberg, and NBA star Chris Bosh (There are <a href="https://www.youtube.com/watch?v=qYZF6oIZtfc">1 minute</a>, <a href="https://www.youtube.com/watch?v=nKIu9yen5nc">5 minute</a>, and <a href="https://www.youtube.com/watch?v=dU1xS07N-FA">9 minute</a> versions)</li>
  <li>The <a href="https://www.youtube.com/watch?v=FC5FbmsH4fw">Hour of Code 2013 launch video</a>, or the <a href="https://www.youtube.com/watch?v=96B5-JGA9EQ">Hour of Code 2014 video</a></li>
  <li><a href="https://www.youtube.com/watch?v=6XvmhE1J9PY">President Obama calling on all students to learn computer science</a></li>
</ul>
<strong>Get your students excited - give them a short intro</strong>

<% elsif @country ==  'pe' %>

<h1>La Hora del Código Perú</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/whSt53kn0lM" frameborder="0" allowfullscreen></iframe><p><a href="https://www.youtube.com/watch?v=whSt53kn0lM"><strong>Pedro Pablo Kuczynski. Presidente del Perú 2016-2021</strong></a>

<% else %>

<h1><%= hoc_s(:promote_additional_resources) %></h1>

<% end %>
