<html>
  <head>
    <title><%- appName %></title>
    <meta charset="utf-8" />
    <% if (webExport) { -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } else { -%>
    <meta name="viewport" content="width=<%- appWidth %>, minimal-ui, target-densityDpi=device-dpi, user-scalable=no">
    <% } -%>
    <script src="<%- jQueryPath %>"></script>
    <% if (webpackRuntimePath) { -%>
      <script src="<%- webpackRuntimePath %>"></script>
    <% } -%>
    <script src="<%- gamelabApiPath %>"></script>
    <link href="<%- gamelabCssPath %>" rel="stylesheet" type="text/css">
    <script src="<%- p5Path %>"></script>
    <script src="<%- p5playPath %>"></script>
    <script src="<%- codePath %>"></script>
    <style>
      body.expo {
        background-color: black;
      }
      #sketch.expo.no-controls {
        top: 82px;
      }
    </style>
  </head>
  <body class="<%- exportClass %>" style="margin:0; overflow:hidden; user-select:none; -webkit-user-select:none; -webkit-touch-callout:none; position:fixed; top:0; left:0; width:<%- appWidth %>px; height:<%- appHeight %>px;">
    <div id="sketch" class="<%- exportClass %>" style="position:absolute;"></div>
    <div id="soft-buttons" style="display: none">
      <button id="leftButton" disabled className="arrow">
      </button>
      <button id="rightButton" disabled className="arrow">
      </button>
      <button id="upButton" disabled className="arrow">
      </button>
      <button id="downButton" disabled className="arrow">
      </button>
    </div>
    <div id="studio-dpad-container" style="position:absolute; width:400px; bottom:5px; height:157px; overflow-y:hidden;">
    </div>
  </body>
</html>
