- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h1
  Edit Teacher Application Email

- if @errors.try(:any?)
  #error_explanation
    %h2 Error
    %ul
      - @errors.each do |key, message|
        %li= "#{key.to_s.titleize} #{message}"

#application-container.container

  %h2
    Application Id
    = @teacher_application.id

    - if @param_rules
      = form_tag url_for(action: 'send_email'), enforce_utf8: false, class: 'form-horizontal pd-admin' do
        - @param_rules.each do |key, param|
          - param_name = "email[#{key}]"
          %div{class: @errors.try(:key?, param[:label]) ? 'field_with_errors' : nil}
            .form-group
              = label_tag param_name, param[:label], class: 'col-sm-3'
              .col-sm-6
                - if param[:options]
                  = select_tag param_name, options_for_select(param[:options]), class: 'form-control'
                - else
                  = text_field_tag param_name, param[:value], class: 'form-control'

        = submit_tag 'Send email', class: 'btn btn-primary', data: {confirm: 'Are you sure?'}
        = link_to 'Back', {action: 'edit'}, class: 'btn btn-default'
