- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

:ruby
  edit_fields = %w[
    primary_email
    secondary_email
    accepted_workshop
    regional_partner_name
  ]

  def yes_no(value)
    value ? 'Yes' : 'No'
  end

%h1
  Edit Teacher Application

- if @teacher_application.errors.any?
  #error_explanation
    %h2 Error
    %ul
      - @teacher_application.errors.each do |name, message|
        - if name == :program_registration_json
          - sub_message, sub_errors = message.split(':', 2)
          %li= "Program registration JSON #{sub_message}"
          - if sub_errors
            %ul
              - sub_errors.split(',').each do |sub_error|
                %li= sub_error
        - else
          %li= raw @teacher_application.errors.full_message(name, message).html_safe

#application-container.container

  - if @teacher_application.errors.any?
    = link_to 'Reset', {action: 'edit'}, class: 'btn btn-default btn-xs'


  = show_flashes.html_safe

  %h2
    Application Id
    = @teacher_application.id

  = link_to 'Email', {action: 'send_email'}, class: 'btn btn-default'

  %h3 Code Studio User
  %table.table
    %thead
      %th Id
      %th Email
      %th Teacher?
      %th Primary email match?
    %tbody
      %tr
        %td= @teacher_application.user.try(:id)
        %td= @teacher_application.user.try(:email)
        - [@teacher_application.user.try(:teacher?), @teacher_application.primary_email_matches_user_email?].each do |value|
          %td{style: value ? '' : 'color: red' }
            = yes_no value

  - if !@teacher_application.user.try(:teacher?) && @teacher_application.primary_email_matches_user_email?
    = button_to 'Upgrade to teacher', {action: :upgrade_to_teacher}, class: 'btn btn-default btn-sm'

  = form_for @teacher_application, url: {action: 'update'}, html: {class: 'form-horizontal pd-admin'} do |form|
    .form-group
      = form.label :move_to_user, 'Move to user (email or id):', class: 'col-sm-3'
      .col-sm-6
        = form.text_field :move_to_user, class: 'form-control'

    - edit_fields.each do |field|
      .form-group
        = form.label field, class: 'col-sm-3'
        .col-sm-6
          = form.text_field field, class: 'form-control'

    .form-group
      = form.label :selected_course, 'Selected Course:', class: 'col-sm-3'
      .col-sm-6
        = form.select :selected_course, class: 'form-control' do
          - course_options = Pd::TeacherApplication::PROGRAM_DETAILS_BY_COURSE.map {|k,v| [v[:name], k]}
          = options_for_select course_options, selected: @teacher_application.selected_course

    .form-group
      = label_tag nil, 'Teachercon?', class: 'col-sm-3'
      .col-sm-6
        = yes_no @teacher_application.accepted_program.try(:teachercon?)

    - if @teacher_application.program_registration

      = form.label :program_registration_json do
        %h3 Program Registration
        %p Edit JSON to update program registration fields. Clear to delete the registration.
      = form.text_area :program_registration_json, class: 'form-control', rows: @teacher_application.program_registration_json.count("\n") + 1

    = form.submit 'Save', class: 'btn btn-primary', data: {confirm: 'Are you sure?'}
    = link_to 'Cancel', {action: 'manage'}, class: 'btn btn-default'
