- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

:ruby
  def yes_no(value)
    value ? 'Yes' : 'No'
  end

%h1 Manage Teacher Applications

#application-container.selectable

  = show_flashes.html_safe

  %p Type an application Id to open that directly, or text to search primary and secondary emails.
  = form_tag url_for(action: 'manage'), method: 'get', class: 'form-inline', enforce_utf8: false do
    = text_field_tag :q, params[:q], class: 'form-control'
    %button.btn{type: 'submit'}
      %i.fa.fa-search
    - if params[:q]
      = link_to 'Remove Filter', nil, params: {}, class: 'btn btn-default'

  - if params[:q]
    %h4
      Filter:
      = params[:q]

  = page_header 'applications', @teacher_applications, permitted_params: [:q]

  %table.table.table-hover.table-condensed.table-auto-width
    %thead
      %th Id
      %th Primary Email
      %th Name
      %th Secondary Email
      %th Code Studio User Id
      %th Code Studio Email
      %th Account Type
      %th Assigned Summer Workshop
      %th Assigned Partner
      %th TeacherCon?
      %th Registered?
    %tbody
      - @teacher_applications.each do |application|
        %tr
          %td= link_to application.id, action: :edit, teacher_application_id: application.id
          %td= application.primary_email
          %td= application.teacher_name
          %td= application.secondary_email
          %td= application.user_id
          %td= application.user.try(:email)
          %td= application.user.try(:user_type)
          %td= application.accepted_workshop
          %td= application.regional_partner_name
          %td= yes_no application.accepted_program.try(:teachercon?)
          %td= yes_no application.program_registration?
