- SignUpTracking.log_load_finish_sign_up session, (@user.provider || 'email')
- require 'geocoder'
- require 'country_codes'
- location = Geocoder.search(request.ip).try(:first)
- us_ip = location.nil? || ['US', 'RD'].include?(location.country_code.to_s.upcase)

- @page_title = t('activerecord.attributes.user.finish_sign_up_header')

#signup
  .row
    .span8.header
      %h1= @page_title

  = form_for(@user, url: registration_path(@user), html: {class: "finish-signup"}) do |f|
    .row
      .span8
        %p
          - if @user.provider.present?
            - provider = t("auth.#{@user.provider}")
            = t('activerecord.attributes.user.finish_sign_up_subheader_provider_markdown', provider: provider, email: @user.email, markdown: :inline).html_safe
          - else
            = t('activerecord.attributes.user.finish_sign_up_subheader_markdown', email: @user.email, markdown: :inline).html_safe
          = link_to t('cancel'), users_cancel_path

    = f.hidden_field :locale, value: locale
    = f.hidden_field :email
    = f.hidden_field :encrypted_password
    .row
      .span2
        = f.label :user_type, t('signup_form.user_type_label')
      .span4
        = f.select :user_type, user_type_options, {include_blank: true}, {disabled: @user.should_disable_user_type?}
      .span2
        - if @user.errors[:user_type].present?
          %span.error= t('activerecord.errors.messages.blank')

    .row
      .span2
        #teacher-name-label{style: "display: none;"}
          = f.label :name, t('activerecord.attributes.user.name').html_safe
        #student-name-label{style: "display: none;"}
          = f.label :name, t('activerecord.attributes.user.name_example')
      .span4
        = f.text_field :name, maxlength: 255
      .span2
        - if @user.errors[:name].present?
          %span.error= @user.errors[:name].join(', ')

    .row#age-dropdown{style: "display: none;"}
      .span2
        = f.label :age
      .span4
        = f.select :age, age_options, include_blank: true
      .span2
        - if @user.errors[:age].present?
          %span.error= @user.errors[:age].join(', ')

    .row#gender-dropdown{style: "display: none;"}
      .span2
        = f.label :gender, t('signup_form.gender')
      .span4
        = f.select :gender, gender_options
      .span2
        - if @user.errors[:gender].present?
          %span.error= @user.errors[:gender].join(', ')

    .row
      .span8
        -# Mount point for React SchoolInfoInputs component.
        #school-info-inputs{style: "display: none;"}
          = f.fields_for :school_info_attributes do |ff|
            = ff.hidden_field :school_id
            = ff.hidden_field :school_name
            = ff.hidden_field :school_state
            = ff.hidden_field :school_zip
            = ff.hidden_field :country
            = ff.hidden_field :full_address

    .row
      .span6
        .checkbox
          = f.label :terms_of_service_version do
            = f.check_box :terms_of_service_version, {}, User::TERMS_OF_SERVICE_VERSIONS.last
            %span
              = t('terms_interstitial.accept_label_markdown', tos_url: CDO.code_org_url('/tos'), privacy_url: CDO.code_org_url('/privacy'), markdown: :inline).html_safe
      .span2
        - if @user.errors[:terms_of_service_version].present?
          %span.error= t('signup_form.accept_terms')

    -# If GDPR applies, show an additional checkbox.
    - if request.gdpr? || request.params['force_in_eu']
      .row
        .span6
          = f.hidden_field :data_transfer_agreement_required, value: "1"
          .checkbox
            = f.label :data_transfer_agreement_accepted do
              = f.check_box :data_transfer_agreement_accepted
              %span
                = t('signup_form.agree_us_website')
                = t('signup_form.my_data_to_us')
        .span2
          - if @user.errors[:data_transfer_agreement_accepted].present?
            %span.error= t('signup_form.accept_terms')

    .row#email-preference-radio{style: "display: none;"}
      .span8
        %p
          = t('signup_form.email_preference_question')
          = link_to t('signup_form.email_preference_privacy'), CDO.code_org_url('/privacy'), target: '_blank'
      .span2{style:"display:block"}
        .radio
          = f.radio_button :email_preference_opt_in, 'yes'
          = f.label :email_preference_opt_in, t('signup_form.email_preference_yes'), value: 'yes'
        .radio
          = f.radio_button :email_preference_opt_in, 'no'
          = f.label :email_preference_opt_in, t('signup_form.email_preference_no'), value: 'no'
      .span2
        - if @user.errors[:email_preference_opt_in].present?
          %span.error= t('signup_form.email_preference_required')


    %button.submit= t('signup_form.go_to_account')

:ruby
  script_data = {
    signup: {
      usIp: us_ip,
      signUpUID: "#{session[:sign_up_uid]}"
    }.to_json
  }
%script{src: webpack_asset_path('js/devise/registrations/_finish_sign_up.js'), data: script_data}
