%br/
.row
  .span5{style: "display: flex;"}
    = render "devise/shared/oauth_links"

%div.horizontal-or
  %hr
  = t("or").upcase
  %hr

%h4.signup-header= t('signup_form.email_signup')

= form_for(@user, url: users_begin_sign_up_path, html: {class: "signup"}) do |f|
  / Email
  .field-row
    .field.field-sm
      -# Render email label as "Email&nbsp;*", so the asterisk referencing the
      -# "student terms" footer can't wrap onto a line all by itself
      = f.label :email do
        = succeed '&nbsp;*'.html_safe do
          = User.human_attribute_name(:email)
      %span.input-sm= f.email_field :email, maxlength: 255
    %span.error.padded= @user.errors[:email]&.first

  / Password
  .field-row
    .field.field-sm
      = f.label :password
      %span.input-sm= f.password_field :password, maxlength: 255
    %span.error.padded= @user.errors[:password]&.first

  / Password confirmation
  .field-row
    .field.field-sm
      = f.label :password_confirmation
      %span.input-sm= f.password_field :password_confirmation, maxlength: 255
    %span.error.padded= @user.errors[:password_confirmation]&.first

  / Submit
  %button.submit= t('signup_form.submit')

/ More information for students about email storage.
.row
  .span1.text-right
    = "*"
  .span8
    != t('signup_form.student_terms_markdown', markdown: true)
