- SignUpTracking.log_load_sign_up session

#signup
  .row
    .span8.header
      -# FND-893 - Stop using markdown inside headers
      %h1= t('signup_form.title')
      - if @already_hoc_registered
        = t('signup_form.hoc_already_signed_up_content_post_hoc_markdown', studio_url: CDO.studio_url('/'), markdown: true).html_safe
      - else
        = t('signup_form.overview_markdown', markdown: true).html_safe
        = t('auth.already_signedup')
        &nbsp;
        = link_to t('nav.user.signin'), new_session_path(resource_name)
  .row
    .span8.oauth-links
      .row
        .span6
          = render "devise/shared/oauth_links"
      .row
        .span6
          %div.horizontal-or
            %hr
            = t("or").upcase
            %hr
      .row
        .span6
          %h4.signup-header= t('signup_form.email_signup')
  .row
    .span8
      = form_for(@user, url: users_begin_sign_up_path, html: {class: "signup"}) do |f|
        / Email
        .row
          .span2
            -# Render email label as "Email&nbsp;*", so the asterisk referencing the
            -# "student terms" footer can't wrap onto a line all by itself
            = f.label :email do
              = succeed '&nbsp;*'.html_safe do
                = User.human_attribute_name(:email)
          .span4
            = f.email_field :email, maxlength: 255
          .span2
            %span.error= @user.errors[:email]&.first

        / Password
        .row
          .span2
            = f.label :password
          .span4
            = f.password_field :password, maxlength: 255
          .span2
            %span.error= @user.errors[:password]&.first

        / Password confirmation
        .row
          .span2
            = f.label :password_confirmation
          .span4
            = f.password_field :password_confirmation, maxlength: 255
          .span2
            %span.error= @user.errors[:password_confirmation]&.first

        / Submit
        .row
          .span6
            %button.submit= t('signup_form.submit')

  / More information for students about email storage.
  .row
    .span8.more-details
      %div
        *
      %div.more-details-text
        != t('signup_form.student_terms_markdown', markdown: true)



%div{style: "clear:both"}
%br/
%br/
%br/
