- @page_title = t('activerecord.attributes.user.edit_header')

%h2= @page_title

= render partial: 'devise/confirmations/alert'

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :hashed_email
  %div
  .field
    = f.label :name
    = f.text_field :name, autofocus: true, maxlength: 255
  .field
    = f.label :email
    = f.email_field :email, placeholder: '***encrypted***', autocomplete: 'off', maxlength: 255
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
      %br/
      %br/
  - if resource.username.present?
    .field
      = f.label :username
      = f.object.username
  %div
    = f.label :password, maxlength: 255
    %em= t('user.new_password_hint')
    %br/
    = f.password_field :password, autocomplete: 'off', maxlength: 255
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'off', maxlength: 255
  - if f.object.encrypted_password.present?
    %div
      = f.label :current_password
      %em= t('user.current_password_hint')
      %br/
      = f.password_field :current_password, maxlength: 255
  - if !resource.teacher?
    .field
      = f.label t('signup_form.gender')
      = f.select :gender, gender_options
    .field
      = f.label t('signup_form.age')
      = f.select :age, User::AGE_DROPDOWN_OPTIONS
  - if resource.teacher?
    .field
      = f.label :school
      = f.text_field :school, class: 'input-xlarge', maxlength: 255
    .field
      = f.label :full_address
      = f.text_area :full_address, class: 'input-xxlarge', rows: 4, maxlength: 1024
    = f.hidden_field :age, value: "21"
  .field
    = f.label t('signup_form.user_type')
    = f.select :user_type, user_type_options

  %div= f.submit t('crud.update'), class: 'btn btn-default'
%h3= t('user.delete')
%p
  = t('user.delete_text')
  - if current_user.teacher?
    = t('user.delete_text_teacher_note')
  = button_to t('user.delete'), registration_path(resource_name), data: { confirm: t('user.delete_confirm') }, method: :delete, class: 'btn btn-danger'
= link_to t('crud.back'), :back

:javascript
  $( ".edit_user" ).on("submit", function(e){
    window.dashboard.hashEmail({ email_selector: '#user_email',
      hashed_email_selector: '#user_hashed_email',
      age_selector: '#user_age'});
  });
