%h1
  = I18n.t('auth.email_conflict.account_exists', email: params[:email])

#signin

  - link_authentication_path = omniauth_authorize_path(User, params[:provider])

  %p
    = I18n.t('auth.email_conflict.sign_in', provider: I18n.t(params[:provider], scope: "auth"))

  %p
    = link_to new_user_session_path({user_return_to: link_authentication_path}) do
      %button= I18n.t('nav.user.signin')

  %p
    = I18n.t('auth.email_conflict.sign_up', provider: I18n.t(params[:provider], scope: "auth"))

  %p
    = link_to new_user_registration_path({user_return_to: link_authentication_path}) do
      %button.blue-button= I18n.t('nav.user.signup')
