%h1
  = I18n.t('auth.existing_account.account_exists', email: params[:email])

#signin

  %p
    = I18n.t('auth.existing_account.sign_in', provider: I18n.t(params[:provider], scope: "auth"))

  %p
    = link_to new_user_session_path({user_return_to: edit_user_registration_path}) do
      %button= I18n.t('nav.user.signin')

  %p
    = I18n.t('auth.existing_account.sign_up', provider: I18n.t(params[:provider], scope: "auth"))

  %p
    = link_to new_user_registration_path({user_return_to: edit_user_registration_path}) do
      %button.blue-button= I18n.t('nav.user.signup')
