- require 'country_codes'
- resource.user_type ||= params[:user].try(:fetch, :user_type) || User::TYPE_STUDENT

-#
  Retrieve the return_to value from the session, which will also delete it.
  It means that a failed attempted to sign up here will no longer take the
  user to the recorded return_to URL upon a future attempt at sign-in/up, but
  that should be alright because it's really only a best-attempt, and not
  crucial, and should probably only be done immediately after the user attempted
  to go that that URL anyway, not a long time afterwards which is confusing.

- return_to_url = get_and_clear_session_return_to

#signup
  .row
    .span9
      %h1= t('signup_form.signup_title')
      %p= t('signup_form.overview_student').html_safe
      %p= sanitize(t('signup_form.no_signup_message').html_safe, tags: %w(a), attributes: %w(href target))

  .row
    .span8.signupblock

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'signupform'}) do |f|

        #user_type-block.itemblock
          .labelblock= t('signup_form.user_type_label')
          %select#user_user_type.fieldblock{name: "user[user_type]", type: "select"}
            %option{value: "", selected: true, disabled: true}
            %option{value: User::TYPE_STUDENT}= t('signup_form.user_type_student')
            %option{value: User::TYPE_TEACHER}= t('signup_form.user_type_teacher')
          .error_in_field= t('signup_form.field_is_required')

        = signup_error_messages!

        = f.hidden_field :locale, value: locale
        = f.hidden_field :hashed_email

        #email-block.itemblock
          .labelblock= t('activerecord.attributes.user.email')
          = f.email_field :email, class: 'input-xlarge fieldblock', maxlength: 255
          .error_in_field

        - if f.object.password_required?
          #password-block.itemblock
            .labelblock= t('activerecord.attributes.user.password')
            = f.password_field :password, class: 'input-xlarge fieldblock', maxlength: 255
            .error_in_field

          #password_confirmation-block.itemblock
            .labelblock= t('activerecord.attributes.user.password_confirmation')
            = f.password_field :password_confirmation, class: 'input-xlarge fieldblock', maxlength: 255
            .error_in_field

        #name-block.itemblock
          .labelblock= t('activerecord.attributes.user.name')
          = f.text_field :name, class: 'input-xlarge fieldblock', autofocus: true, maxlength: 255
          .error_in_field

        #schoolname-block.itemblock{style: "display: none"}
          .labelblock= t('signup_form.school_name')
          = f.text_field :school, class: 'input-xlarge fieldblock', maxlength: 255
          .error_in_field

        #age-block.itemblock
          .labelblock= t('signup_form.age')
          %select#user_user_age.fieldblock{name: "user[age]", type: "select"}
            %option{value: "", selected: true, disabled: true}
            - User::AGE_DROPDOWN_OPTIONS.each do |age_option|
              %option{value: age_option}= age_option
          .error_in_field

        #gender-block.itemblock
          .labelblock= t('signup_form.gender')
          = f.select :gender, gender_options, {disabled: '', selected: '' }, { class: 'fieldblock'}
          .error_in_field

        #schoolcountry-block.itemblock{style: "display: none"}
          .labelblock= t('signup_form.country')
          %select#schoolcountry.form-control.fieldblock{name: "user[country]", type: "select"}
            %option{value: "", selected: true, disabled: true}
            - get_all_countries.each do |country_abbr, country_name|
              %option{value: country_abbr}= country_name
            %option{value: "other"} Other
          .error_in_field

        #district-block.itemblock{style: "display: none"}
          .labelblock= t('signup_form.district')
          .district-dropdown
            = render partial: 'shared/district_dropdown', locals: {form_name: "user"}
          .error_in_field

        %br/
        = f.submit t('signup_form.submit'), class: "btn btn-primary btn-large"
        %br/
        %br/
        %br/
        #student-terms!= t('signup_form.student_terms')
        #teacher-terms{style: "display: none"}!= t('signup_form.teacher_terms')

    .span4
      .devise_links
        = render "devise/shared/links"

    %div{style: "clear:both"}
    %br/
    %br/
    %br/

=javascript_include_tag 'js/signup'

:javascript

  $(document).ready(function() {
    // Send through some values that the JavaScript will need.
    window.signupManager = new SignupManager({
      isTeacher: "#{resource.teacher?}",
      returnToUrl: "#{return_to_url}",
      teacherDashboardUrl: "#{teacher_dashboard_url}",
      invalidPasswordString: "#{t('signup_form.invalid_password')}",
      passwordMismatchString: "#{t('signup_form.mismatch_password')}"
    });
  });
