.peer-review
  %p Feedback:
  - @peer_reviews.each do |peer_review|
    .peer-review-content{class: peer_review.css_classes}
      %p.peer-review-title
        %strong= peer_review.from_instructor ? t('peer_review.instructor_feedback') : t('peer_review.peer_feedback')
        = "\u2022 added #{time_ago_in_words(peer_review.updated_at)} ago"
      %p.peer-review-status= peer_review.localized_status_description
      %p= peer_review.data
      - unless peer_review.current?
        %em= t('peer_review.outdated')
