-dont_cache

-encrypted_app_id = request.splat_path_info[1..-1].split('/').first
-app_id = storage_decrypt_app_id(encrypted_app_id).last.to_s
-table_name = request.splat_path_info[1..-1].split('/').last
-api_base_url = "/v3/apps/#{encrypted_app_id}/shared-tables/#{table_name}"
-records = DB[:app_tables].where(app_id:app_id, table_name:table_name, storage_id:nil)
-jsonExample = '{"key1":"value1", "key2":2}'

:css
  button {
   margin-left: 5px;
  }
  .button-column {
    min-width: 200px;
  }
  td {
    padding: 0;
  }

%h2 Edit table

%h3 Records
%table
  %tr
    %td record id
    %td record data
    %td action
  -records.each do |record|
    %tr
      %td
        #{record[:row_id]}
      %td
        %textarea{id: "#{record[:row_id]}-textarea", name:"record", value:"#{record[:value]}", cols:"80", rows:"2"}= record[:value]
      %td.button-column
        %button{id:"#{record[:row_id]}-save"}
          Save
        %button{id:"#{record[:row_id]}-delete"}
          Delete
  %tr
    %td (new)
    %td
      %textarea{id: "new-record-textarea", name:'record', cols:"80", rows:"2"}= jsonExample
    %td
      %button#new-record-add Add

:javascript
  function processResponse(data) {
    window.location.reload()
  }
  function processError(data) {
    window.alert(data.status + '\n' + data.responseJSON);
  }
  function saveRecordData(url, recordData) {
    try {
      JSON.parse(recordData); // make sure it parses
      $.ajax({
        url: url,
        type: 'post',
        data: recordData,
        processData: false,
        contentType: 'application/json; charset=utf-8'
      }).done(processResponse).fail(processError);
    } catch (e) {
      window.alert(
          'Error parsing JSON:\n' +
          '\tinput: ' + recordData + '\n' +
          '\terror: "' + e.message + '"\n\n' +
          'example of valid JSON: \n\t#{jsonExample}');
    }
    return false;
  }

  $('#new-record-add').click(
    function(e) {
      var recordData = document.getElementById('new-record-textarea').value;
      saveRecordData('#{api_base_url}', recordData);
    }
  );

-records.each do |record|
  -row_id = record[:row_id]
  :javascript
    $('##{row_id}-save').click(function(e) {
      var recordData = document.getElementById('#{row_id}-textarea').value;
      return saveRecordData('#{api_base_url}/#{row_id}', recordData);
    });

    $('##{row_id}-delete').click(function(e) {
      $.ajax({
        url: '#{api_base_url}/#{row_id}/delete',
        type: 'post'
      }).done(processResponse).fail(processError);
    });
