---
theme: responsive_wide
layout: wide
social:
  "og:title": "Advocate for computer science education"
  "og:description": "Bringing together more than 50 industry, non-profit, and advocacy organizations, the Code.org Advocacy Coalition is growing the movement to make Computer Science a fundamental part of the K-12 education."
  "twitter:site": "@codeorg"
  "twitter:title": "Advocate for computer science education"
  "twitter:description": "Learn about our local policy and access resources to support computer science in our state."
  "twitter:url": "https://advocacy.code.org/"
video_player: false
---

-# Put advocacy.css after other CSS files so that it can override them.
=inline_css 'interactive_map.css'
=inline_css 'advocacy-home.css'

- banner_body = capture_haml do
  Bringing together more than 50 industry, non-profit, and advocacy organizations, the Code.org Advocacy Coalition is growing the movement to make Computer Science a fundamental part of the K-12 education.

  .learn-more
    %a{href: CDO.code_org_url("/files/CoalitionOnePager.pdf"), target: '_blank'}
      %button.header-button
        Learn more

#homepage

  #fullwidth.banner-container
    .banner
      .banner-shade
        .container_responsive
          %h1 Advocate for computer science education
          .desktop-feature
            = banner_body

    = view :header

  .container_responsive
    .non-banner.mobile-feature
      = banner_body

    -state ||= nil
    = view :interactive_map, use_url: false, advocacy_variation: true

    .clear{style: "clear:both"}

    %h2
      Drive the change in your state

    =inline_css 'homepage.css'

    #audienceblocks
      - blocks = AdvocacySite.get_blocks(request)
      - blocks.each do |block|
        .block
          - if block[:type] == "block"
            = view :homepage_quarterslot_links, entry: block, desktop_column_width: 50, layout_class: 'quarterslot-links-large'

    .clear

    .centered
      %a{href: CDO.code_org_url("/promote/morestats")}
        %button More resources

    .coalition
      %h2 Our Coalition
      %br
      .centered
        %a{href: "/"}
          %button Join the newsletter
        &nbsp;&nbsp;
        %a{href: "http://bit.ly/joinadvocacycoalition", target: "_blank"}
          %button Join the coalition

      = view :about_logos, logos: DB[:cdo_partners].where(codeorg_b:true).and(kind_s:'advocacy')

