%div.start_new_project_header
  =t('project.new_buttons_header')
%span.new_project_links_wrapper
  %a{href: applab_project_create_new_projects_path}
    %button.btn.btn-default
      = t('project.new_buttons.applab')
  %a{href: playlab_project_create_new_projects_path}
    %button.btn.btn-default
      = t('project.new_buttons.playlab')
  %a{href: artist_project_create_new_projects_path}
    %button.btn.btn-default
      = t('project.new_buttons.artist')
  %a{href: gamelab_project_create_new_projects_path}
    %button.btn.btn-default
      = t('project.new_buttons.gamelab')
  %a{href: weblab_project_create_new_projects_path}
    %button.btn.btn-default
      = t('project.new_buttons.weblab')
