- @page_title = t('project.project_gallery')

= render partial: 'shared/angular'

%script{src: asset_path('angularProjects.js') }
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{src: minifiable_asset_path('js/projects/index.js')}

.projects-page
  .row
    .span12
      %h1= @page_title

  .row
    .span2
    .span8.infobox= t('project.help_text').html_safe
    .span2
  %br
  %br

  .row
    #gallery-switcher
    #angular-my-projects-wrapper
      %div{'ng-app' => 'projectsApp', 'ng-view' => ''}
    #public-gallery-wrapper{'style' => 'display: none;'}
      #public-gallery
    #publish-confirm
  .row
    .span12
      %h3.lesson{style: 'text-align:center'}
        = t('project.need_help')
  .row
    .center{style: 'width: 720px;'}
      = render partial: 'shared/course_tall_block', locals: { id: 'applab' }
      = render partial: 'shared/course_tall_block', locals: { id: 'playlab' }
      = render partial: 'shared/course_tall_block', locals: { id: 'artist' }

= render partial: 'projects/admin'
