- @page_title = t('project.projects')

.projects-table-wrapper.center
  %div{'ng-show' => 'projects.length === 0 && projectsLoaded'}
    %div{style: "padding: 10px;"}
      = t('project.no_projects')

  %div.loading{'ng-show' => 'projects.length === 0 && !projectsLoaded'}

  %table.projects{'ng-show' => 'projects.length > 0'}
    %colgroup
      %col{width: "46"}
      %col{width: "250"}
      %col{width: "180"}
      %col{width: "296"}
    %tr
      %th
      %th
        %a{href: "", "ng-click" => "order = 'name'; reverse=!reverse"}
          = t('projects.name')
          %i.fa.fa-caret-down{'ng-show' => "order == 'name' && reverse == true"}
          %i.fa.fa-caret-up{'ng-show' => "order == 'name' && reverse == false"}
      %th
        %a{href: "", "ng-click" => "order = 'updatedAt'; reverse=!reverse"}
          = t('projects.updated')
          %i.fa.fa-caret-down{'ng-show' => "order == 'updatedAt' && reverse == true"}
          %i.fa.fa-caret-up{'ng-show' => "order == 'updatedAt' && reverse == false"}
      %th
    %tr{"ng-repeat" => "project in projects | filter:projectVisible | orderBy:order:reverse"}
      %td{ style: "padding: 3px 0px;"}
        %img{ style: "width: 50px;", "ng-src" => '{{ project.thumbnail() }}' }
      %td.name
        %span{'ng-hide' => 'project.editing'}
          %a{href: '', "ng-href" => '{{ project.editUrl() }}'}
            {{ project.name }}
        %span{'ng-show' => 'project.editing'}
          %input{"ng-model" => "project.name", type: 'text'}/
      %td
        {{ project.updatedAt | date: 'short' }}
      %td
        %button.btn.btn-default{'ng-click' => 'project.editing = true', 'ng-hide' => 'project.editing || project.deleting'}= t('project.rename')
        %button.btn.btn-primary{'ng-click' => 'project.$save({id: project.id}); project.editing = false', 'ng-show' => 'project.editing'}= t('project.save')

        %span{'ng-show' => '!project.deleting && project.isPublishableProjectType()'}
          %button.btn.btn-default{'ng-click' => 'showPublishProjectDialog(project)', 'ng-hide' => 'project.publishedAt'}
            = t('project.publish')
          %button.btn.btn-default{'ng-click' => 'unpublishProject(project)', 'ng-show' => 'project.publishedAt'}
            = t('project.unpublish')

        %button.btn.btn-danger{'ng-click'=>'project.deleting = true', 'ng-hide' => 'project.deleting'}= I18n.t('project.delete')
        %span{'ng-show' => 'project.deleting'}
          = t('project.really_delete')
          %button.btn.btn-danger{'ng-click' => 'removeProject(project)'}= t('project.delete_yes')
          %button.btn.btn-white{'ng-click' => 'project.deleting = false'}= I18n.t('project.delete_no')

  %span{'ng-show' => 'projects.length !== 0'}
    = t('project.thumbnail_help')

-if !@gallery_activities.empty?
  = render partial: 'home/gallery'

%h3.lesson{style: 'text-align:center'}
  = t('project.need_help')

.center{style: 'width: 720px;'}
  = render partial: 'shared/course_tall_block', locals: { id: 'applab' }
  = render partial: 'shared/course_tall_block', locals: { id: 'playlab' }
  = render partial: 'shared/course_tall_block', locals: { id: 'artist' }
