- @page_title = t('project.projects')

:scss
  // TODO copied from colors.css
  $bkgnd_color: #00adbc;
  $purple: #7665a0;
  $orange: #ffa400;
  $level_current: $orange;

  // TODO move to assets when more solidified
  .projects-page {
    h1 {text-align: center;}
    .level_link,.level_link:link, .level_link:visited {
      background-color: $purple;
      border-color: $purple;
      font-size: 14px;
      padding: 5px 10px;
      color: white;
      &:hover {
        background-color: $level_current;
        border-color: $level_current;
        text-decoration: none;
      }
    }
  }
  .projects {
    width: 850px;
    table-layout: auto;
    margin: 10px 0;
    
    th {
      padding: 10px;
      background-color: $bkgnd_color;
      color: white;
      text-align: left;
      
      a, a:hover, a:link, a:visited {
        color: white !important;
      }
    }
    tr {
      vertical-align: top;
    }
    td {
      padding: 10px;
      border: 1px solid #ccc;
    }
    .name {
      font-size: 1.5em;
    }

    input {
      width: 90%;
    }
  }

  .level-buttons {
    margin: 20px 5px;
  }

.projects-page
  .row
    .span12
      %h1= @page_title

  .row
    .span2
    .span8.infobox= t('project.help_text').html_safe
    .span2
  %br
  %br
  .row
    .span12
      %a.level_link{href: standalone_playlab_path}
        %i.fa.fa-rocket
        = t('nav.header.free_play.playlab')  
      %a.level_link{href: standalone_artist_path}
        %i.fa.fa-pencil
        = t('nav.header.free_play.artist')

  .row
    .span12
      %table.projects{'ng-show' => 'projects.length > 0'}
        %colgroup
          %col{width: "250"}
          %col{width: "200"}
          %col{width: "200"}
          %col{width: "200"}
        %tr
          %th
            %a{href: "", "ng-click" => "order = 'name'; reverse=!reverse"}
              = t('projects.name')
              %i.fa.fa-caret-down{'ng-show' => "order == 'name' && reverse == true"}
              %i.fa.fa-caret-up{'ng-show' => "order == 'name' && reverse == false"}
          %th
            %a{href: "", "ng-click" => "order = 'updatedAt'; reverse=!reverse"}
              = t('projects.updated')
              %i.fa.fa-caret-down{'ng-show' => "order == 'updatedAt' && reverse == true"}
              %i.fa.fa-caret-up{'ng-show' => "order == 'updatedAt' && reverse == false"}
          %th
            %a{href: "", "ng-click" => "order = 'projectType'; reverse=!reverse" }
              = t('projects.project_type')
              %i.fa.fa-caret-down{'ng-show' => "order == 'projectType' && reverse == true"}
              %i.fa.fa-caret-up{'ng-show' => "order == 'projectType' && reverse == false"}
          %th
        %tr{"ng-repeat" => "project in projects | filter:projectVisible | orderBy:order:reverse"}
          %td.name
            %span{'ng-hide' => 'project.editing'}
              %a{href: '', "ng-href" => '{{ project.url() }}'}
                {{ project.name }}
            %span{'ng-show' => 'project.editing'}
              %input{"ng-model" => "project.name", type: 'text'}/
          %td
            {{ project.updatedAt | date: 'short' }}
          %td
            TODO
          %td
            %button.btn.btn-default{'ng-click' => 'project.editing = true', 'ng-hide' => 'project.editing'}= t('project.rename')
            %button.btn.btn-primary{'ng-click' => 'project.$save(project); project.editing = false', 'ng-show' => 'project.editing'}= t('project.save')
            %button.btn.btn-danger{'ng-click' => 'project.$remove({id: project.id}) && projects.splice($index,1)'}= t('project.delete')

  .row
    .span12
      %h2.lesson{style: 'text-align:center'}
        = t('project.need_help')
  .row
    .span3
    = render partial: 'shared/course_tall_block', locals: { id: 'playlab' }
    = render partial: 'shared/course_tall_block', locals: { id: 'artist' }
    .span3

- if current_user.try(:admin?)
  = render partial: 'projects/admin'
