- @page_title = t('hoc_download.title')
- content_for :og do
  = tag 'meta', property: 'og:title', content: t('share.title')
  = tag 'meta', property: 'og:image', content: CDO.studio_url(CDO.shared_image_url('share/girl_cropped.jpg'), 'https:')
  = tag 'meta', property: 'og:description', content: t('share.description')
- languages = ['Albanian', 'Arabic', 'Azerbaijani', 'Basque', 'Bosnian', 'Bulgarian', 'Catalan', 'Chinese-Taiwan', 'Chinese', 'Croatian', 'Czech', 'Danish', 'Dutch', 'English', 'Finnish', 'French', 'German', 'Greek', 'Hebrew', 'Hungarian', 'Icelandic', 'Indonesian', 'Italian', 'Japanese', 'Korean', 'Latvian', 'Lithuanian', 'Norwegian', 'Norwegian-Nynorsk', 'Polish', 'Portuguese-Brazil', 'Portuguese', 'Romanian', 'Russian', 'Serbian', 'Slovenian', 'Spanish', 'Swedish', 'Turkish', 'Ukrainian', 'Vietnamese']

#hoc_download
  .row
    .span12
      %h1
        = t('hoc_download.title')
  .row
    .span12
      .capsule
        .indent
          %h3
            != t('hoc_download.capsule_title')
          %h4
            != t('hoc_download.capsule_desc', url: @hoc_url, app_name: @app_name)
  .indent
    .row
      .span12
        %h3
          = t('hoc_download.instructions_headline')
    .row
      .span12
        .smalltext
          != t('hoc_download.instructions', url: CDO.code_org_url('/certificates'))
        %br/
    .row
      .span12
        %strong
          = t('hoc_download.download_message', app_name: @app_name)
        %ul
          - languages.each do |lang|
            %li
              = t("hoc_download.download_in_#{lang}")
              =link_to t('hoc_download.windows'), @download_urls[:"#{lang}_windows_url"], :class => 'hoc-download-link'
              |
              =link_to t('hoc_download.mac'), @download_urls[:"#{lang}_mac_url"], :class => 'hoc-download-link'
        -if @show_js_links
          %strong
            = t('hoc_download.download_message', app_name: @app_name_js)
          %ul
            - languages.each do |lang|
              %li
                = t("hoc_download.download_in_#{lang}")
                =link_to t('hoc_download.windows'), @download_urls[:"#{lang}_windows_url_js"], :class => 'hoc-download-link'
                |
                =link_to t('hoc_download.mac'), @download_urls[:"#{lang}_mac_url_js"], :class => 'hoc-download-link'
%br/
%br/

:javascript
  $(document).ready(function() {
     // Track Google Analytics events for HOC download clicks
     $('.hoc-download-link').on('click', function() {
        var url = $(this).attr('href');
        trackEvent('DownloadHOC','startdownload', url);
        return true;
    });
  });
