- content_for(:head) do
  =javascript_include_tag 'js/plc'

%h1 Self Evaluation for #{@course_unit.unit_name}

%p
  This will determine what parts of the course are best suited for your learning needs. There are no wrong answers, just answer as best as you can!

= form_tag(action: 'submit_evaluation') do
  - @questions.each do |question|
    %p{style: 'margin-top: 20px'}
      #{question.question}
    - answers = question.plc_evaluation_answers
    - answers.each do |answer|
      %p
        %input.radio{type: "radio", name: question.id, value: answer.plc_learning_module_id, checked: answer == answers.first, style: 'margin-left: 20px'}
          #{answer.answer} (corresponds with #{answer.plc_learning_module.try(:name)})
  = hidden_field_tag('answerModuleList')
  = submit_tag('Submit evaluation', id: 'submitEvaluation')

