- content_for(:head) do
  = stylesheet_link_tag 'css/plc', media: 'all'

-# Probably won't need the script when this is no longer under the enrollment unit assignment path
- preselected_module_ids = @enrollment_unit_assignment.plc_module_assignments.pluck(:plc_learning_module_id)

= form_tag(action: 'confirm_assignments') do
  .preview_evaluation
    .module_type_section
      %h3 Required Content Module
      %p
        %strong Based on your self-assessment answers, we chose one content module for you as required.
        You can choose a different required module if you think that it would help you better prepare to teach.

      - @content_learning_modules.each do |content_module|
        %p
          %input.radio{type: 'radio', name: 'content_module', value: content_module.id, checked: preselected_module_ids.include?(content_module.id)}
            = content_module.name

    .module_type_section
      %h3 Required Practice Module
      %p
        %strong Based on your self-assessment answers, we chose one practice module for you as required.
        You can choose a different required module if you think that it would help you better prepare to teach.

      %p
        All other modules will be available for reference.

      - @practice_learning_modules.each do |practice_module|
        %p
          %input.radio{type: 'radio', name: 'practice_module', value: practice_module.id, checked: preselected_module_ids.include?(practice_module.id)}
            = practice_module.name

  #submit_tag_container
    = submit_tag('Confirm Module Selections', id: 'confirm-assignments')
