:ruby
  block_item = [
    {
      title: hoc_s(:minecraft_cdo_activity_title_aquatic),
      image: "/images/mc/minecraft-activity-aquatic.png",
      desc: hoc_s(:minecraft_cdo_activity_desc_aquatic),
      url: CDO.studio_url("/s/aquatic/lessons/1/levels/1"),
      url_lesson: CDO.studio_url("/s/aquatic"),
      aria_label: hoc_s(:aria_label_call_to_action_minecraft_aquatic),
      aria_label_lesson: hoc_s(:aria_label_call_to_action_minecraft_aquatic_lesson),
    },
    {
      title: hoc_s(:minecraft_cdo_activity_title_journey),
      image: "/images/mc/minecraft-activity-journey.png",
      desc: hoc_s(:minecraft_cdo_activity_desc_journey),
      url: CDO.studio_url("/s/hero/lessons/1/levels/1"),
      url_lesson: CDO.studio_url("/s/hero"),
      aria_label: hoc_s(:aria_label_call_to_action_minecraft_journey),
      aria_label_lesson: hoc_s(:aria_label_call_to_action_minecraft_journey_lesson)
    },
    {
      title: hoc_s(:minecraft_cdo_activity_title_adventurer),
      image: "/images/mc/minecraft-activity-adventurer.png",
      desc: hoc_s(:minecraft_cdo_activity_desc_adventurer),
      url: CDO.studio_url("/s/mc/lessons/1/levels/1"),
      url_lesson: CDO.studio_url("/s/mc"),
      aria_label: hoc_s(:aria_label_call_to_action_minecraft_adventurer),
      aria_label_lesson: hoc_s(:aria_label_call_to_action_minecraft_adventurer_lesson)
    },
    {
      title: hoc_s(:minecraft_cdo_activity_title_designer),
      image: "/images/mc/minecraft-activity-designer.png",
      desc: hoc_s(:minecraft_cdo_activity_desc_designer),
      url: CDO.studio_url("/s/minecraft/lessons/1/levels/1"),
      url_lesson: CDO.studio_url("/s/minecraft"),
      aria_label: hoc_s(:aria_label_call_to_action_minecraft_designer),
      aria_label_lesson: hoc_s(:aria_label_call_to_action_minecraft_designer_lesson)
    },
  ]

.carousel-wrapper
  %swiper-container.minecraft-activities{navigation: "true", "navigation-next-el": ".nav-next-minecraft-activities", "navigation-prev-el": ".nav-prev-minecraft-activities", pagination: "true", init: "false"}
    - block_item.each do |block_item|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline
              =hoc_s(:module_label_grades)
              =hoc_s(:module_grade_2_12)
            %h3
              = block_item[:title]
            %img{src: block_item[:image], alt: "", style: "width: 100%"}
            %p
              = block_item[:desc]
          .content-footer
            %a.link-button{href: "#{block_item[:url]}", "aria-label": "#{block_item[:aria_label]}"}
              =hoc_s(:call_to_action_get_started)
            %a.link-button.secondary{href: "#{block_item[:url_lesson]}", "aria-label": "#{block_item[:aria_label_lesson]}"}
              =hoc_s(:call_to_action_view_lesson_plan)

  %button.swiper-nav-prev.nav-prev-minecraft-activities
  %button.swiper-nav-next.nav-next-minecraft-activities
