:ruby
  activity_item = [
    {
      title: hoc_s(:minecraft_education_activity_title_2022),
      image: "/images/mc/minecraft-activity-estate-escape-2022.png",
      desc: hoc_s(:minecraft_education_activity_desc_2022),
      url: "https://education.minecraft.net/en-us/resources/hour-code-2022",
      aria_label: hoc_s(:aria_label_call_to_action_minecraft_2022)
    },
    {
      title: hoc_s(:minecraft_education_activity_title_2021),
      image: "/images/mc/minecraft-activity-timecraft-2021.png",
      desc: hoc_s(:minecraft_education_activity_desc_2021),
      url: "https://education.minecraft.net/en-us/resources/hour-code-2021",
      aria_label: hoc_s(:aria_label_call_to_action_minecraft_2021)
    }
  ]

-# Hiding the Minecraft AI for Earth activity until further
-# notice from Microsoft — put this object back in the activity_item
-# array if we need to add this back.
-# {
-#   title: hoc_s(:minecraft_education_activity_title_2020),
-#   image: "/images/mc/minecraft-activity-gen-ai-for-earth-2020.png",
-#   desc: hoc_s(:minecraft_education_activity_desc_2020),
-#   url: "https://education.minecraft.net/en-us/lessons/minecraft-hour-of-code",
-#   aria_label: hoc_s(:aria_label_call_to_action_minecraft_2020)
-# }

.action-block.action-block--two-col
  %img.col-50{src: "/images/mc/minecraft-activity-gen-ai-2023.png", alt: ""}
  .text-wrapper.col-50
    .flex-container.justify-space-between.align-items-start
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_2_12)
      %p.new
        =hoc_s(:new)
    %h3.heading-md
      = hoc_s(:minecraft_education_activity_title_2023)
    %p
      = hoc_s(:minecraft_education_activity_desc_2023)
    %a.link-button.has-external-link{href: "https://aka.ms/hourofcode", target: "_blank", rel: "noopener noreferrer", "aria-label": hoc_s(:aria_label_call_to_action_minecraft_2023)}
      = hoc_s(:call_to_action_get_started)
  .clear

.action-block__wrapper.action-block__wrapper--two-col
  - activity_item.each do |activity_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          =hoc_s(:module_label_grades)
          =hoc_s(:module_grade_2_12)
        %h3
          = activity_item[:title]
        %img{src: activity_item[:image], alt: ""}
        %p
          = activity_item[:desc]
      .content-footer
        %a.link-button.has-external-link{href: "#{activity_item[:url]}", "aria-label": "#{activity_item[:aria_label]}"}
          =hoc_s(:call_to_action_get_started)
