:ruby
  block_items = [
    {
      overline: hoc_s("game_design_page.elementary_curricula.game_design.overline"),
      title: hoc_s("game_design_page.elementary_curricula.game_design.title"),
      img: "/images/action-blocks/action-block-game-design.png",
      desc: hoc_s("game_design_page.elementary_curricula.game_design.desc"),
      duration: hoc_s("game_design_page.elementary_curricula.game_design.duration"),
      url: CDO.studio_url("/s/elem-game-design-2024"),
      aria_label: hoc_s("game_design_page.elementary_curricula.game_design.aria_label"),
      button_label: hoc_s("game_design_page.elementary_curricula.game_design.button"),
      new: true,
    },
    {
      overline: hoc_s("game_design_page.elementary_curricula.sports.overline"),
      title: hoc_s("game_design_page.elementary_curricula.sports.title"),
      img: "/images/action-blocks/action-block-sports.png",
      desc: hoc_s("game_design_page.elementary_curricula.sports.desc"),
      duration: hoc_s("game_design_page.elementary_curricula.sports.duration"),
      url: CDO.studio_url("/s/sports/lessons/1/levels/1"),
      aria_label: hoc_s("game_design_page.elementary_curricula.sports.aria_label"),
      button_label: hoc_s("game_design_page.elementary_curricula.sports.button"),
    },
    {
      overline: hoc_s("game_design_page.elementary_curricula.flappy.overline"),
      title: hoc_s("game_design_page.elementary_curricula.flappy.title"),
      img: "/images/action-blocks/action-block-flappy.png",
      desc: hoc_s("game_design_page.elementary_curricula.flappy.desc"),
      duration: hoc_s("game_design_page.elementary_curricula.flappy.duration"),
      url: CDO.studio_url("/flappy/1"),
      aria_label: hoc_s("game_design_page.elementary_curricula.flappy.aria_label"),
      button_label: hoc_s("game_design_page.elementary_curricula.flappy.button"),
    },
    {
      overline: hoc_s("game_design_page.elementary_curricula.basketball.overline"),
      title: hoc_s("game_design_page.elementary_curricula.basketball.title"),
      img: "/images/action-blocks/action-block-basketball.png",
      desc: hoc_s("game_design_page.elementary_curricula.basketball.desc"),
      duration: hoc_s("game_design_page.elementary_curricula.basketball.duration"),
      url: CDO.studio_url("/s/basketball/lessons/1/levels/1"),
      aria_label: hoc_s("game_design_page.elementary_curricula.basketball.aria_label"),
      button_label: hoc_s("game_design_page.elementary_curricula.basketball.button"),
    },
  ]

.carousel-wrapper
  %swiper-container.three-col{navigation: "true", "navigation-next-el": ".swiper-nav-next", "navigation-prev-el": ".swiper-nav-prev", init: "false"}
    - block_items.each do |block_item|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            - if block_item[:new]
              .flex-container.justify-space-between.align-items-start
                %p.overline
                  = block_item[:overline]
                %p.new
                  =hoc_s(:new)
            - else
              %p.overline
                = block_item[:overline]
            %h3
              = block_item[:title]
            %img{src: block_item[:img], alt: ""}
            %p
              = block_item[:desc]
            %p
              %strong
                =hoc_s(:module_label_duration)
              = block_item[:duration]
          .content-footer
            %a.link-button{href: block_item[:url], aria:{label: block_item[:aria_label]}}
              = block_item[:button_label]

  %button.swiper-nav-prev
  %button.swiper-nav-next

= view :swiper
