= form_for @regional_partner do |f|
  - if @regional_partner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@regional_partner.errors.count, "error")} prohibited this Regional Partner from being saved:"
      %ul
        - @regional_partner.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field.checkbox
    = f.check_box :is_active
    = f.label :is_active
  %h2 Regional Manager Information
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  %h2 Teacher Application Settings
  .field
    = f.label nil, "Apps Open Date (YYYY-MM-DD)"
    = f.text_field :apps_open_date_teacher
  .field
    = f.label nil, "Apps Close Date (YYYY-MM-DD)"
    = f.text_field :apps_close_date_teacher
  .field
    = f.label nil, "Free and Reduced Lunch Guardrail Percent"
    = f.number_field :frl_guardrail_percent, :in => 0..100
  .field
    = f.label nil, "Underrepresented Group Guardrail Percent"
    = f.number_field :urg_guardrail_percent, :in => 0..100
  .field
    = f.label nil, "Applications Administrator/School Leader Approval", {style: 'margin-top: 20px'}
    .applications_principal_approval
      %label
        = f.radio_button :applications_principal_approval, RegionalPartner::ALL_REQUIRE_APPROVAL, checked: @regional_partner.applications_principal_approval == RegionalPartner::ALL_REQUIRE_APPROVAL
        = 'All apps require administrator/school leader approval'
      %label
        = f.radio_button :applications_principal_approval, RegionalPartner::SELECTIVE_APPROVAL, checked: @regional_partner.applications_principal_approval == RegionalPartner::SELECTIVE_APPROVAL
        = 'Selectively require some apps to have administrator/school leader approval'
  .field
    = f.label nil, "Applications Decision Emails", {style: 'margin-top: 20px'}
    .applications_decision_emails
      %label
        = f.radio_button :applications_decision_emails, RegionalPartner::SENT_BY_PARTNER, checked: @regional_partner.applications_decision_emails == RegionalPartner::SENT_BY_PARTNER
        = 'Partner sends decision emails'
      %label
        = f.radio_button :applications_decision_emails, RegionalPartner::SENT_BY_SYSTEM, checked: @regional_partner.applications_decision_emails == RegionalPartner::SENT_BY_SYSTEM
        = 'System sends decision emails'
  .field
    = f.label :link_to_partner_application, {style: 'margin-top: 20px'}
    = f.text_field :link_to_partner_application, {style: 'width: 500px'}
  .field
    = f.label nil, "PL Programs Offered"
    = f.select :pl_programs_offered, Pd::SharedWorkshopConstants::OFFERED_PROGRAMS, {}, {multiple: true}
  .field
    = f.label nil, "Program information"
    = f.text_area :cost_scholarship_information, {style: 'width: 1000px; height: 200px'}
  .field
    = f.label :additional_program_information
    = f.text_area :additional_program_information, {style: 'width: 1000px; height: 200px'}
  %button.btn.btn-primary{type: 'submit', style: 'margin: 0'} Save
