= form_for @regional_partner do |f|
  - if @regional_partner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@regional_partner.errors.count, "error")} prohibited this Regional Partner from being saved:"
      %ul
        - @regional_partner.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :group
    = f.text_field :group
  .field
    = f.label :urban
    = f.check_box :urban
  .field
    = f.label nil, "Apps Open Date for Teachers (YYYY-MM-DD)"
    = f.text_field :apps_open_date_teacher
  .field
    = f.label nil, "Apps Close Date for Teachers (YYYY-MM-DD)"
    = f.text_field :apps_close_date_teacher
  .field
    = f.label nil, "Applications Principal Approval"
    .applications_principal_approval
      %label
        = f.radio_button :applications_principal_approval, RegionalPartner::ALL_REQUIRE_APPROVAL, checked: @regional_partner.applications_principal_approval == RegionalPartner::ALL_REQUIRE_APPROVAL
        = 'All apps require principal approval'
      %label
        = f.radio_button :applications_principal_approval, RegionalPartner::SELECTIVE_APPROVAL, checked: @regional_partner.applications_principal_approval == RegionalPartner::SELECTIVE_APPROVAL
        = 'Selectively require some apps to have principal approval'
  .field
    = f.label nil, "Applications Decision Emails"
    .applications_decision_emails
      %label
        = f.radio_button :applications_decision_emails, RegionalPartner::SENT_BY_PARTNER, checked: @regional_partner.applications_decision_emails == RegionalPartner::SENT_BY_PARTNER
        = 'Partner sends decision emails'
      %label
        = f.radio_button :applications_decision_emails, RegionalPartner::SENT_BY_SYSTEM, checked: @regional_partner.applications_decision_emails == RegionalPartner::SENT_BY_SYSTEM
        = 'System sends decision emails'
  .field
    = f.label :link_to_partner_application
    = f.text_field :link_to_partner_application, {style: 'width: 500px'}
  .field
    = f.label nil, "Program information"
    = f.text_area :cost_scholarship_information, {style: 'width: 500px'}
  .field
    = f.label :additional_program_information
    = f.text_area :additional_program_information, {style: 'width: 500px'}
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field
    = f.label :contact_email
    = f.text_field :contact_email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  %button.btn.btn-primary{type: 'submit', style: 'margin: 0'} Save
