- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
  :scss
    .main .new-regional-partner {
      font-size: 20px;
      line-height: 40px;
      margin: 10px 0;
      float: right;
    }

- if can? :create, RegionalPartner
  = link_to new_regional_partner_path, class: 'new-regional-partner' do
    %i.fa.fa-plus-circle
    = t('crud.new_model', model: RegionalPartner.model_name.human)

%h1 Regional Partners

#application-container
  = show_flashes.html_safe

%p
  Enter an Organization Name to view and edit a Regional Partner.
  Trying to find a regional partner by state/zip? Check out
  %a{href: CDO.code_org_url('/educate/professional-learning/middle-high', CDO.default_scheme)}
    this search tool.
= form_tag url_for(action: 'index'), method: 'get', class: 'form-inline', enforce_utf8: false do
  = text_field_tag :search_term, params[:search_term], class: 'form-control'
  %button.btn{type: 'submit'}
    %i.fa.fa-search
-if @regional_partners.any?
  %table.table.table-hover.table-condensed.table-auto-width
    %thead
      %th ID
      %th Name
      %th Group
      %th Urban
      %th Contact
      %th
    %tbody
      - @regional_partners.each do |regional_partner|
        %tr
          %td= link_to regional_partner.id, regional_partner
          %td= regional_partner.name
          %td= regional_partner.group
          %td= regional_partner.urban ? 'Yes' : 'No'
          %td= regional_partner.contact_email_with_backup
          - if can? :update, regional_partner
            %td= link_to t('crud.edit'), edit_regional_partner_path(regional_partner)
