- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

#application-container
  = show_flashes.html_safe

%h1= t('crud.new_model', model: RegionalPartner.model_name.human)

= render 'form'

= link_to t('crud.back'), regional_partners_path

