- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h1 View Regional Partner

#application-container
  = show_flashes.html_safe
%p
  %strong ID:
  = @regional_partner.id
%p
  %strong Name:
  = @regional_partner.name
%p
  %strong Group:
  = @regional_partner.group
%p
  %strong Urban:
  = @regional_partner.urban? ? 'Yes' : 'No'
%p
  %strong Contact Email:
  = @regional_partner.contact.try(:email)
%p
  %strong Contact Name:
  = @regional_partner.contact.try(:name)
%p
  %strong Ship Attention:
  = @regional_partner.attention
%p
  %strong Street:
  = @regional_partner.street
%p
  %strong Apartment/Suite:
  = @regional_partner.apartment_or_suite
%p
  %strong City:
  = @regional_partner.city
%p
  %strong State:
  = @regional_partner.state
%p
  %strong Zip Code:
  = @regional_partner.zip_code
%p
  %strong Ship Phone Number:
  = @regional_partner.phone_number
%p
  %strong Notes:
  = @regional_partner.notes
%p
  %strong Created At:
  = @regional_partner.created_at.strftime('%F')
%p
  %strong Updated At:
  = @regional_partner.updated_at.strftime('%F')
- if can? :update, @regional_partner
  = link_to 'Edit', edit_regional_partner_path(@regional_partner)
\|
= link_to 'Back', regional_partners_path
%br
%h2 Program Managers
= form_tag(action: 'index') do
  %table.table.table-hover.table-condensed.table-auto-width{:id => 'program-managers-table'}
    %thead
      %th Action
      %th ID
      %th Name
      %th Email
      %th Recent Sign In
      %th Sign In Count
      %th Registered Account At
    %tbody
      - @regional_partner.program_managers.each do |program_manager|
        %tr
          %td= link_to 'Remove', action: :index, regional_partner_id: @regional_partner.id, user_id: program_manager.id
          %td= program_manager.id
          %td= program_manager.name
          %td= program_manager.email
          %td= program_manager.current_sign_in_at.try(:strftime, '%F')
          %td= program_manager.sign_in_count
          %rd= program_manager.created_at.strftime('%F')
      %tr
        %td
          .actions
            = submit_tag('Assign', id: 'submitAssignProgramManager')
        %td
          %input{:hidden => true, :name => "regional_partner_id", :value => @regional_partner.id}
          .field
            = select_tag :user_id, options_for_select([1,2,3])
        %td

