---
title: The Circuit Playground
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/maker-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_stars = "fa-solid fa-stars"
- icon_puzzle_piece = "fa-solid fa-puzzle-piece"
- icon_circle_check = "fa-solid fa-circle-check"
- icon_circle_xmark = "fa-solid fa-circle-xmark"
- icon_flag = "fa-solid fa-flag-checkered"

%section.skinny-banner.no-padding-bottom
  .wrapper
    = view :maker_skinny_banner

%section.intro
  .wrapper
    %h1 The Circuit Playground
    %p.heading-sm The Circuit Playground is a family of small microcontroller boards with LEDs, buttons, and sensors built in.
    %div.flex-container
      %ul.icon-bullet-list.full-width.col-60
        %li
          %div
            %i{class: "#{icon_stars}"}
          .text-wrapper
            %h3 Designed specifically for novice programmers
            %p Enables students to get up and running quickly with physical computing without worrying about many of the traditional barriers to entry.
        %li.no-margin-bottom
          %div
            %i{class: "#{icon_puzzle_piece}"}
          .text-wrapper
            %h3 Works with App Lab
            %p.no-margin-bottom Using App Lab students can quickly build apps that communicate with external hardware using our block-to-text app development environment.
      %figure.col-25{style: "margin-top: 2em; text-align: center"}
        %img{src: "/images/maker/circuitplayground-no-bg.gif", alt: ""}
    .clear

%section.bg-neutral-light.device-setup
  .wrapper
    %h2 Device setup requirements
    %p The Circuit Playground is a series of circuit boards produced by Adafruit with a variety of sensors and outputs built in.
    %p <strong>There are three variants of the Circuit Playground, two are compatible with App Lab and one of them is not:</strong>
    %ul.icon-bullet-list.full-width{style: "margin-top: 0"}
      %li
        %div
          %i{class: "#{icon_circle_check}", style: "color: #3EA33E"}
        .text-wrapper
          %h3 The Circuit Playground Classic
      %li
        %div
          %i{class: "#{icon_circle_check}", style: "color: #3EA33E"}
        .text-wrapper.no-margin-bottom
          %h3 The Circuit Playground Express
      %li
        %div
          %i{class: "#{icon_circle_xmark}", style: "color: #E5311A"}
        .text-wrapper.no-margin-bottom
          %h3 The Circuit Playground Bluefruit
    %p.body-three Wondering which version you have? <a href="https://learn.adafruit.com/category/circuit-playground" target="_blank" rel="noopener noreferrer">Check out Adafruit's guide</a>.

%section.bg-primary-light
  .wrapper
    %p.heading-xs.no-margin-bottom
      %i{class: "#{icon_flag}", style: "margin-right: 4px"}
      Once you have your device, <a href="https://studio.code.org/maker/setup">visit the Maker Setup page</a> to connect your Circuit Playground with App Lab.

%section
  .wrapper
    %h2 Getting the Circuit Playground for your classroom
    .action-block__wrapper.action-block__wrapper--two-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 Circuit Playground Classroom Kit
          %img{src: "/images/maker/maker-cp-kit.png", alt: "", style: "width: 100%"}
          %p Contains Circuit Playground boards and accessories necessary for using Code.org's curriculum with a class of 30 students.
          %p All educators receive a 10% discount when they apply the code <strong>ADAEDU</strong> at checkout. <em>Note:</em> The ADAEDU code only applies to orders of $250 or greater.
        .content-footer
          %a.link-button{href: "https://www.adafruit.com/product/3399", target: "_blank", rel: "noopener noreferrer"} Get the classroom kit
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3 Circuit Playground Individual Kit
          %img{src: "/images/maker/maker-cp-individual.png", alt: "", style: "width: 100%"}
          %p For smaller classrooms, we recommend investing in a set of Circuit Playground Individual Kits. The individual kit is designed for a single student or pair of students.
        .content-footer
          %a.link-button{href: "https://www.adafruit.com/product/3795", target: "_blank", rel: "noopener noreferrer"} Get the individual kit
    %p.body-three.no-margin-bottom{style: "margin-top: 1em"} Out of stock? Try looking at other approved <a href="https://www.adafruit.com/distributors#North_America" target="_blank" rel="noopener noreferrer">Adafruit distributors</a>.

= view :section_divider_line

%section
  .wrapper
    %h2 Curriculum using the Circuit Playground
    = view :maker_curriculum_circuit_playground, explore_unit_link: CDO.studio_url("/s/devices-2023?viewAs=Instructor"), teach_unit_link: CDO.studio_url("/courses/self-paced-pl-physical-computing")
