---
title: Become a Maker | Learn about Physical Computing
theme: responsive_full_width
---

%script{data: {"amplitude-api-key": CDO.safe_amplitude_api_key}}
%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/maker-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_microchip = "fa-solid fa-microchip"
- icon_hands_clapping = "fa-solid fa-hands-clapping"
- icon_face_smile = "fa-solid fa-face-smile"

%section.hero-banner-basic{style: "background: #00736E"}
  .wrapper
    %div.flex-container
      %div.text-wrapper.col-50
        %h1{style: "color: white"} Become a Maker
        %p{style: "color: white"} Explore your creativity with physical computing.
      %div.col-30.flex-container.justify-end
        %img{src: "/images/maker/maker-skinny-banner-img-left.svg", alt: ""}
        %img{src: "/images/maker/maker-skinny-banner-img-right.svg", alt: ""}
    .clear

%section
  .wrapper
    .text-wrapper.col-60
      %h2 What is a Maker?
      %p <strong>Makers invent, explore, innovate, and create using technology like development boards, robotics, 3D printing, programming, and more.</strong>
      %p.body-three Maker education takes STEM (Science, Technology, Engineering, Mathematics) a step further by inviting hands-on experience and collaboration into the classroom to help teach problem solving and critical thinking.
    %div.col-33{style: "float: right"}
      %img{src: "/images/maker/maker-students-cp.png", alt: "", style: "width: 100%; margin-top: .75em"}
    .clear

= view :section_divider_line

%section
  .wrapper
    %h2 Explore devices
    %p We have curriculum options that support two different devices — see available options below. <strong>Need a device?</strong> Learn more about the devices below.
    = view :maker_devices, curriculum_link_cp: "#curriculum_link_cp", curriculum_link_microbit: "#curriculum_link_microbit",  button_label: "See available curriculum", aria_label_cp: "See available curriculum for Circuit Playground device", aria_label_microbit: "See available curriculum for BBC micro:bit device"

%section.bg-neutral-light.why-physical-computing
  .wrapper
    %h2 Why physical computing?
    %p Learning about physical computing requires time on and off the computer. As a result of this different learning dynamic, there are some unique benefits of learning computer science through physical computing.
    %div.flex-container
      %ul.icon-bullet-list.full-width.col-45
        %li
          %div
            %i{class: "#{icon_microchip}"}
          .text-wrapper
            %h3 Real-world applications
            %p.no-margin-bottom Using a physical device can help students engage and connect the actions on a screen to their impact in the real world.
        %li
          %div
            %i{class: "#{icon_hands_clapping}"}
          .text-wrapper
            %h3 Inclusion and engagement
            %p.no-margin-bottom According to a BBC survey, female students described feeling more confident after exposure to physical computing.
        %li.no-margin-bottom
          %div
            %i{class: "#{icon_face_smile}"}
          .text-wrapper
            %h3 Social and emotional learning
            %p Physical computing encourages students to work together, fostering collaboration, interpersonal skills, and active learning. (<a href="https://www.microsoft.com/en-us/research/uploads/prod/2020/04/physical-computing.pdf" target="_blank" rel="noopener noreferrer">Source</a>)
      %figure.col-50
        %img{src: "/images/maker/maker-girls-with-devices.png", alt: "", style: "width: 100%"}
    .clear

%a{id: "curriculum_link_cp"}
%section
  .wrapper
    %h2 Curriculum using the Circuit Playground
    = view :maker_curriculum_circuit_playground, explore_unit_link: CDO.studio_url("/s/devices-2023?viewAs=Instructor"), teach_unit_link: CDO.studio_url("/courses/self-paced-pl-physical-computing")

= view :section_divider_line

%a{id: "curriculum_link_microbit"}
%section
  .wrapper
    %h2 Curriculum using the micro:bit
    %p Code.org has partnered with the Micro:bit Educational Foundation to offer teachers several resources on using the BBC micro:bit device.
    = view :maker_curriculum_microbit, explore_unit_link: CDO.studio_url("/s/microbit-2023?viewAs=Instructor"), extension_lessons_link: "/maker/csf-microbit", self_paced_pl_link: CDO.studio_url("/courses/self-paced-pl-microbit-2023")

%section.bg-neutral-light
  .wrapper
    %div.col-45{style: "margin-bottom: 1em"}
      %h2 Maker careers
      %h3.heading-sm Meet Jerome Morrison at Meow Wolf
      %p Jerome is a design technologist at Meow Wolf who works on amazing interactive art installations. With technology, he helps create portals to imaginative worlds at Meow Wolf's location in Santa Fe, New Mexico.
    %div.col-50{style: "float: right"}
      %figure.video-responsive{style: "margin-top: 5px; max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/dhvQ7L5UScs", title: "Careers with Computer Science: Design Technologist at Meow Wolf", allowfullscreen: "true", frameborder: "0"}
    .clear

%section
  .wrapper
    %h2 Additional activities
    .action-block.action-block--two-col
      %img{src: "/shared/images/announcement/announcement_special_hoc2022.png", alt: "", class: "col-50"}
      .text-wrapper.col-50
        %h3.heading-sm Looking for more activity options?
        %p There are many Maker activities available in the Hour of Code activities list.
        %a{href: "/learn?platform=robotics", class: "link-button"} Find an activity
  .clear

= view :section_divider_line

%section.newsletter-signup
  .wrapper
    %h2 Subscribe to the latest news
    %p Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for Maker.
    %iframe.col-50{:allowtransparency => "true", :frameborder => "0", :height => "500", :scrolling => "yes", :src => "http://go.pardot.com/l/153401/2023-01-10/pqf2sr", :style => "overflow:hidden; float: none", :type => "text/html", :width => "100%"}

= view :visit_partial_event_logger
