---
title: The BBC micro:bit
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/maker-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_stars = "fa-solid fa-stars"
- icon_puzzle_piece = "fa-solid fa-puzzle-piece"
- icon_circle_check = "fa-solid fa-circle-check"
- icon_flag = "fa-solid fa-flag-checkered"

%section.skinny-banner.no-padding-bottom
  .wrapper
    = view :maker_skinny_banner

%section.intro
  .wrapper
    %h1 The BBC micro:bit
    %p.heading-sm.no-margin-bottom The BBC micro:bit is a pocket-sized computer that introduces you to how software and hardware work together.
    %div.col-50{style: "float: left; margin-top: 2em"}
      %figure.video-responsive{style: "max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/u2u7UJSRuko", allowFullScreen: 'true', frameborder: '0', title: "Introduction to the BBC micro:bit"}
    %div.flex-container.col-45{style: "float: right"}
      %ul.icon-bullet-list.full-width
        %li
          %div
            %i{class: "#{icon_stars}"}
          .text-wrapper
            %h3 Real-world interactivity
            %p The micro:bit has an LED light display, buttons, sensors and many input/output features that, when programmed, let it interact with you and your world.
        %li.no-margin-bottom
          %div
            %i{class: "#{icon_puzzle_piece}"}
          .text-wrapper
            %h3 Works with App Lab
            %p.no-margin-bottom Using App Lab students can quickly build apps that communicate with external hardware using our block-to-text app development environment.
    .clear

%section.bg-neutral-light.device-setup
  .wrapper
    %h2 Device setup requirements
    .text-wrapper.col-66
      %p The micro:bit is a pocket-sized computer with an LED light display, buttons, sensors and many input/output features that you can program and physically interact with.
      %p <strong>There are two versions of the micro:bit and both of them work with the Maker unit:</strong>
      %ul.icon-bullet-list.full-width{style: "margin-top: 0"}
        %li
          %div
            %i{class: "#{icon_circle_check}", style: "color: #3EA33E"}
          .text-wrapper
            %h3 micro:bit V1
        %li
          %div
            %i{class: "#{icon_circle_check}", style: "color: #3EA33E"}
          .text-wrapper.no-margin-bottom
            %h3 micro:bit V2
    %figure.col-25{style: "float: right; text-align: center"}
      %img{src: "/images/maker/microbit.gif", alt: "", style: "margin: 0 auto 2em; max-width: 250px; width:100%"}
    .clear
    %p.body-three Wondering which version you have? <a href="https://support.microbit.org/support/solutions/articles/19000119162-how-to-identify-the-version-number-of-your-micro-bit" target="_blank" rel="noopener noreferrer">Check out the micro:bit guide</a>.

%section.bg-primary-light
  .wrapper
    %p.no-margin-bottom
      %i{class: "#{icon_flag}", style: "margin-right: 4px"}
      Once you have your device, <a href="https://studio.code.org/maker/setup">visit the Maker Setup page</a> to install special software that allows your micro:bit to work with our website.

%section
  .wrapper
    %h2 Getting the micro:bit for your classroom
    .action-block.action-block--two-col
      %img{src: "/images/maker/microbit-front-back.png", alt: "", class: "col-50"}
      .text-wrapper.col-50
        %h3.heading-sm Buy the micro:bit
        %p BBC micro:bit reseller companies sell the device all around the world.
        %a{href: "https://microbit.org/buy/", class: "link-button", target: "_blank", rel: "noopener noreferrer"} Buy the micro:bit

= view :section_divider_line

%section
  .wrapper
    %h2 Curriculum using the micro:bit
    %p Code.org has partnered with the Micro:bit Educational Foundation to offer teachers several resources on using the BBC micro:bit device.
    = view :maker_curriculum_microbit, explore_unit_link: CDO.studio_url("/s/microbit-2023?viewAs=Instructor"), extension_lessons_link: "/maker/csf-microbit", self_paced_pl_link: CDO.studio_url("/courses/self-paced-pl-microbit-2023")
