:ruby
  block_items = [
    {
      overline: hoc_s("ai_page.curricula.tile.humanities.overline"),
      title: hoc_s("ai_page.curricula.tile.humanities.title"),
      img: "/images/action-blocks/action-block-ai-humanities.png",
      desc: hoc_s("ai_page.curricula.tile.humanities.desc"),
      duration: hoc_s("ai_page.curricula.tile.humanities.duration"),
      url: CDO.studio_url("/s/gen-ai-humanities"),
      aria_label: hoc_s("ai_page.curricula.tile.humanities.aria_label"),
      button_label: hoc_s("ai_page.curricula.tile.humanities.button"),
      new: true,
    },
    {
      overline: hoc_s(:module_grade_6_12),
      title: hoc_s("coding_with_ai_tile.title"),
      img: "/images/action-blocks/action-block-coding-with-ai.png",
      desc: hoc_s("coding_with_ai_tile.desc"),
      duration: hoc_s("coding_with_ai_tile.duration"),
      url: "/curriculum/coding-with-ai",
      aria_label: hoc_s("coding_with_ai_tile.aria_label"),
      button_label: hoc_s("coding_with_ai_tile.button_label"),
    },
    {
      overline: hoc_s(:module_grade_7_12),
      title: hoc_s(:ai_curriculum_title_06),
      img: "/images/ai/ai-curriculum-societal-impacts.png",
      desc: hoc_s(:ai_curriculum_desc_06),
      duration: hoc_s(:module_duration_1_hr),
      url: CDO.studio_url("/s/ai-ethics-2023/lessons/2"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_06),
      button_label: hoc_s(:call_to_action_view_lesson_plan),
    },
    {
      overline: hoc_s("ai_page.curricula.tile.computer_vision.overline"),
      title: hoc_s("ai_page.curricula.tile.computer_vision.title"),
      img: "/images/ai/ai-curriculum-computer-vision.png",
      desc: hoc_s("ai_page.curricula.tile.computer_vision.desc"),
      duration: hoc_s("ai_page.curricula.tile.computer_vision.duration"),
      url: "/curriculum/computer-vision",
      aria_label: hoc_s("ai_page.curricula.tile.computer_vision.aria_label"),
      button_label: hoc_s("ai_page.curricula.tile.computer_vision.button"),
    },
    {
      overline: hoc_s(:module_grade_6_12),
      title: hoc_s(:ai_curriculum_title_04),
      img: "/images/ai/ai-curriculum-how-ai-works.png",
      desc: hoc_s(:ai_curriculum_desc_04),
      duration: hoc_s(:module_duration_8_hrs),
      url: "/ai/how-ai-works",
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_04),
      button_label: hoc_s(:call_to_action_explore_lessons),
    },
    {
      overline: hoc_s(:module_grade_6_12),
      title: hoc_s(:ai_curriculum_title_01),
      img: "/images/ai/ai-curriclum-machine-learning.png",
      desc: hoc_s(:ai_curriculum_desc_01),
      duration: hoc_s(:module_duration_20_hrs),
      url: CDO.studio_url("/s/aiml"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_01),
      button_label: hoc_s(:call_to_action_explore_unit),
    },
    {
      overline: hoc_s(:module_grade_7_12),
      title: hoc_s(:ai_curriculum_title_02),
      img: "/images/ai/ai-curriclum-ethics.png",
      desc: hoc_s(:ai_curriculum_desc_02),
      duration: hoc_s(:module_duration_1_hr),
      url: CDO.studio_url("/s/ai-ethics-2023/lessons/1"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_02),
      button_label: hoc_s(:call_to_action_view_lesson_plan),
    },
    {
      overline: hoc_s(:module_grade_3_12),
      title: hoc_s(:ai_curriculum_title_03),
      img: "/images/ai/ai-curriclum-oceans.png",
      desc: hoc_s(:ai_curriculum_desc_03),
      duration: hoc_s(:module_duration_1_hr),
      url: CDO.studio_url("/s/oceans"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_03),
      button_label: hoc_s(:call_to_action_try_activity),
    },
    {
      overline: hoc_s(:module_grade_3_12),
      title: hoc_s(:curriculum_name_dance_party_ai_edition),
      img: "/images/dance-hoc/dance-party-activity-ai-edition-cropped.png",
      desc: hoc_s(:curriculum_desc_dance_party_ai_edition),
      duration: hoc_s(:module_duration_1_hr),
      url: CDO.studio_url("/s/dance-ai-2023/reset"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_dance_ai),
      button_label: hoc_s(:call_to_action_try_activity),
    },
  ]

.carousel-wrapper
  %swiper-container.swiper-middle-high{navigation: "true", "navigation-next-el": ".nav-next-middle-high", "navigation-prev-el": ".nav-prev-middle-high", pagination: "true", init: "false"}
    - block_items.each do |block_item|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            - if block_item[:new]
              .flex-container.justify-space-between.align-items-start
                %p.overline
                  =hoc_s(:module_label_grades)
                  = block_item[:overline]
                %p.new
                  =hoc_s(:new)
            - else
              %p.overline
                =hoc_s(:module_label_grades)
                = block_item[:overline]
            %h3
              = block_item[:title]
            %img{src: block_item[:img], alt: ""}
            %p
              = block_item[:desc]
            %p
              %strong
                =hoc_s(:module_label_duration)
              = block_item[:duration]
          .content-footer
            %a.link-button{href: block_item[:url], aria:{label: block_item[:aria_label]}}
              = block_item[:button_label]

  %button.swiper-nav-prev.nav-prev-middle-high
  %button.swiper-nav-next.nav-next-middle-high
