---
title: AI 101 for Teachers
theme: responsive_full_width
---

= view :analytics_event_log_helper, event_name: AnalyticsConstants::AI_PL_PAGE_VISIT_EVENT

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/ai-pl-101-styles.css", rel: "stylesheet"}

-# FontAwesome icons
- icon_sparkles = "fa-solid fa-sparkles"
- icon_lightbulb = "fa-solid fa-lightbulb"
- icon_magnifying_glass = "fa-solid fa-magnifying-glass"
- icon_book = "fa-solid fa-book"
- icon_person_chalkboard = "fa-solid fa-person-chalkboard"
- icon_video = "fa-solid fa-video"
- icon_megaphone = "fa-solid fa-megaphone"

%section.hero-banner-basic.hero-ai-pl-webinar{style: "display: block !important"}
  .wrapper
    .text-wrapper.col-75
      %h1{style: "color: white"}=hoc_s(:ai_pl_101_hero_heading)
      %p.body-one{style: "color: white"}=hoc_s(:ai_pl_101_hero_desc)
      .hero-ai-pl-webinar__by
        %span{style: "color: white"}=hoc_s(:ai_pl_101_hero_presented)
        .hero-ai-pl-webinar__list
          %img{src: "/images/ai/pl/101/code--w.png", height: "24px", alt: "CODE"}
          %img{src: "/images/ai/pl/101/ets--w.png", height: "26px", alt: "ETS"}
          %img{src: "/images/ai/pl/101/iste--w.png", height: "18px", alt: "ISTE"}
          %img{src: "/images/ai/pl/101/khan--w.png", height: "20px", alt: "Khan Academy"}

- video_101_index = 5
- video_101_tags = [hoc_s(:module_label_new), hoc_s(:module_label_coming_soon), hoc_s(:module_label_coming_soon), hoc_s(:module_label_coming_soon), hoc_s(:module_label_coming_soon)]

%section.bg-neutral-light.video-101.bg-neutral-light{id: "ai-pl-callout"}
  .wrapper
    .text-wrapper
      %h2=hoc_s(:ai_pl_101_intro_heading)
      %p.video-101__text=hoc_s(:ai_pl_callout_desc_01)

    - video_101_index.times do |index|
      .action-block.action-block--two-col
        .video-101__image
          %img{src: "/images/ai/pl/101/coming-soon.jpg", alt: hoc_s("ai_pl_101_video_title_#{index + 1}"), class: "col-50"}
        .text-wrapper.col-50
          %p.overline=video_101_tags[index]
          %h3=hoc_s("ai_pl_101_video_title_#{index + 1}")
          %p.heading-sm=hoc_s("ai_pl_101_video_desc_#{index + 1}")
          - if index >= 1
            %a.link-button.secondary{href: "#newsletter-signup", aria: { label: hoc_s("ai_pl_101_video_title_#{index + 1}") }}
              = hoc_s(:call_to_action_notify_available)

      .clear

%section.newsletter-signup#newsletter-signup
  .wrapper
    %h2=hoc_s(:ai_pl_101_join_email_title)
    %p=hoc_s(:ai_pl_101_pro_join_email_desc)
    .signup-iframe
      %iframe.signup-iframe__iframe{:allowtransparency => "true", :frameborder => "0", :height => "570", :scrolling => "yes", :src => "http://go.pardot.com/l/153401/2023-06-01/pqnddj", :style => "overflow:hidden; float: none", :type => "text/html", :width => "100%"}

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:ai_pl_101_explore_title)
    %p=hoc_s(:ai_pl_101_explore_desc)
    .action-block__wrapper.action-block__wrapper--two-col

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_curriculum_pure)
          %h3=hoc_s(:ai_pl_101_explore_title_3)
          %img{src: "/images/ai/pl/101/ai-curriclum-machine-learning-with-logo.png", alt: ""}
          %p=hoc_s(:ai_pl_101_explore__desc_3)
        .content-footer
          %a.link-button{href: "https://code.org/ai#ai-curricula", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_3)

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_student_tool)
          %h3=hoc_s(:ai_pl_101_explore_title_4)
          %img{src: "/images/ai/pl/101/explore_4.png", alt: ""}
          %p=hoc_s(:ai_pl_101_explore__desc_4)
        .content-footer
          %a.link-button{href: "https://www.ets.org/research/ai-labs.html", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_4)

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_educator_course)
          %h3=hoc_s(:ai_pl_101_explore_title_2)
          %img{src: "/images/ai/pl/101/explore_2.png", alt: ""}
          %p=hoc_s(:ai_pl_101_explore__desc_2)
        .content-footer
          %a.link-button{href: "https://www.iste.org/professional-development/iste-u/artificial-intelligence", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_2)

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_educator_tool)
          %h3=hoc_s(:ai_pl_101_explore_title_1)
          %img{src: "/images/ai/pl/101/explore_1.png", alt: ""}
          %p=hoc_s(:ai_pl_101_explore__desc_1)
        .content-footer
          %a.link-button{href: "https://blog.khanacademy.org/teacher-khanmigo/?utm_source=code.org&utm_medium=referral&utm_campaign=code.orgwebinar", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_1)

= view :visit_partial_event_logger

%section.partnership-ai
  .wrapper
    %p.centered
      =hoc_s(:ai_pl_101_partnership_between)
    .partnership-ai__list
      %img.partnership-ai__logo.partnership-ai__logo--code{src: "/images/ai/pl/101/code.svg", height: "50px", alt: "CODE"}
      %img.partnership-ai__logo.partnership-ai__logo--ets{src: "/images/ai/pl/101/ets.png", height: "55px", alt: "ETS"}
      %img.partnership-ai__logo.partnership-ai__logo--iste{src: "/images/ai/pl/101/iste.png", height: "38px", alt: "ISTE"}
      %img.partnership-ai__logo.partnership-ai__logo--khan{src: "/images/ai/pl/101/khan.svg", height: "50px", alt: "Khan Academy"}
