---
title: AI 101 for Teachers
theme: responsive_full_width
---

= view :analytics_event_log_helper, event_name: AnalyticsConstants::AI_PL_PAGE_VISIT_EVENT

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/ai-pl-101-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.hero-ai-pl-webinar{style: "display: block !important"}
  .wrapper
    .text-wrapper.col-75
      %h1.white=hoc_s(:ai_pl_101_hero_heading)
      %p.body-one.white=hoc_s(:ai_pl_101_hero_desc)
      .hero-ai-pl-webinar__by
        %span.white=hoc_s(:ai_pl_101_hero_presented)
        .hero-ai-pl-webinar__list
          %img{src: "/images/ai/pl/101/code--w.png", height: "24px", alt: "CODE"}
          %img{src: "/images/ai/pl/101/ets--w.png", height: "26px", alt: "ETS"}
          %img{src: "/images/ai/pl/101/iste--w.png", height: "18px", alt: "ISTE"}
          %img{src: "/images/ai/pl/101/khan--w.png", height: "20px", alt: "Khan Academy"}

%section.bg-neutral-light.video-101
  .wrapper
    %h2=hoc_s(:ai_pl_101_intro_heading)
    %p.body-two
      =hoc_s(:ai_pl_callout_desc_01)
    = view :ai_101_videos

%section
  .wrapper
    %h2=hoc_s(:ai_pl_101_resources_section_title)
    .additional-resources
      .content-wrapper.flex-container.justify-space-between.align-items-center.wrap-reverse{style: "margin: 2rem 0; gap: 1rem"}
        .text-wrapper.col-50
          %h3=hoc_s(:ai_pl_101_llm_slides_title)
          %p=hoc_s(:ai_pl_101_llm_slides_desc)
          %a.link-button.has-external-link{href: "https://docs.google.com/presentation/d/1WXvjG9TscUuH5Xz8Pj2okz6lMIKV__g0v6AoYVXKb40/copy", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:call_to_action_get_guide)
        %figure.col-45
          %iframe{allowfullscreen: "true", frameborder: "0", height: "280", mozallowfullscreen: "true", src: "https://docs.google.com/presentation/d/e/2PACX-1vRBPHqheht4zNPoFJhPPqT5T9a0b-J6Tm4MYdLRlbZSXBNaGHSFwisQmmdzJqQDs8Rl4cBZcyOLIXKy/embed?start=false&loop=false&delayms=3000", webkitallowfullscreen: "true", width: "459", style: "width: 100%;"}
      %hr
      .content-wrapper.flex-container.justify-space-between.align-items-center.wrap{style: "gap: 1rem"}
        %figure.col-50
          =view :display_video_thumbnail, id: "ai_chatbots", video_code: "X-AWdfSFCHQ", caption: hoc_s(:ai_vid_chatbots_caption), play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/HowAIWorks_LLM_SM_CoBrand.mp4"
        .text-wrapper.col-45{style: "float: right"}
          %h3=hoc_s(:ai_video_series_title)
          %p=hoc_s(:ai_pl_101_video_desc_6)
          %a.link-button{href: "/ai#ai-videos"}
            = hoc_s(:call_to_action_watch_now)

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:ai_pl_101_explore_title)
    %p=hoc_s(:ai_pl_101_explore_desc)
    .action-block__wrapper.action-block__wrapper--four-col

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_curriculum_pure)
          %img{src: "/images/ai/pl/101/ai-curriclum-machine-learning-with-logo.png", alt: ""}
          %h3=hoc_s(:ai_pl_101_explore_title_3)
          %p=hoc_s(:ai_pl_101_explore__desc_3)
        .content-footer
          %a.link-button{href: "https://code.org/ai#ai-curricula", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_3)

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_student_tool)
          %img{src: "/images/ai/pl/101/explore_4.png", alt: ""}
          %h3=hoc_s(:ai_pl_101_explore_title_4)
          %p=hoc_s(:ai_pl_101_explore__desc_4)
        .content-footer
          %a.link-button.has-external-link{href: "https://www.ets.org/research/ai-labs.html", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_4)

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_educator_course)
          %img{src: "/images/ai/pl/101/explore_2.png", alt: ""}
          %h3=hoc_s(:ai_pl_101_explore_title_2)
          %p=hoc_s(:ai_pl_101_explore__desc_2)
        .content-footer
          %a.link-button.has-external-link{href: "https://www.iste.org/professional-development/iste-u/artificial-intelligence", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_2)

      .action-block.action-block--explore.action-block--one-col.flex-space-between
        .content-wrapper
          %p.overline=hoc_s(:module_label_educator_tool)
          %img{src: "/images/ai/pl/101/explore_1.png", alt: ""}
          %h3=hoc_s(:ai_pl_101_explore_title_1)
          %p=hoc_s(:ai_pl_101_explore__desc_1)
        .content-footer
          %a.link-button.has-external-link{href: "https://blog.khanacademy.org/teacher-khanmigo/?utm_source=code.org&utm_medium=referral&utm_campaign=code.orgwebinar", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:ai_resources_btn_aria_label_01)}}
            =hoc_s(:ai_pl_101_explore__button_1)

= view :visit_partial_event_logger

%section.partnership-ai
  .wrapper
    %p.centered
      =hoc_s(:ai_pl_101_partnership_between)
    .partnership-ai__list
      %img.partnership-ai__logo.partnership-ai__logo--code{src: "/images/ai/pl/101/code.svg", height: "50px", alt: "CODE"}
      %img.partnership-ai__logo.partnership-ai__logo--ets{src: "/images/ai/pl/101/ets.png", height: "55px", alt: "ETS"}
      %img.partnership-ai__logo.partnership-ai__logo--iste{src: "/images/ai/pl/101/iste.png", height: "38px", alt: "ISTE"}
      %img.partnership-ai__logo.partnership-ai__logo--khan{src: "/images/ai/pl/101/khan.svg", height: "50px", alt: "Khan Academy"}
