:ruby
  block_items = [
    {
      overline: hoc_s(:module_grade_k_12_teachers),
      title: hoc_s(:module_label_ai_101_self_paced_pl),
      image: '/images/self-paced-pl-tile-ai-101.jpg',
      curriculum: hoc_s(:curriculum_name_all_ai),
      duration: hoc_s(:module_duration_5_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-ai-101"),
      url_secondary: '/ai#ai-curricula',
      aria_label_primary: hoc_s(:aria_label_call_to_action_ai_101),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_ai_101),
      new: true
    },
    {
      overline: hoc_s(:module_grade_3_5_teachers),
      title: hoc_s(:module_label_teaching_how_ai_makes_decisions),
      image: '/images/self-paced-pl-tile-how-ai-makes-decisions.jpg',
      curriculum: hoc_s(:curriculum_name_how_ai_makes_decisions),
      duration: hoc_s(:module_duration_1_hr),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/elementaryai-2024"),
      url_secondary: CDO.studio_url('/s/k5-ai-data-2024?viewAs=Instructor'),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_how_ai_makes_decisions),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_how_ai_makes_decisions),
      new: true
    },
    {
      overline: hoc_s(:module_grade_3_5_teachers),
      title: hoc_s(:module_label_teaching_elementary_game_design),
      image: '/images/action-blocks/action-block-game-design.png',
      curriculum: hoc_s(:curriculum_name_elementary_game_design),
      duration: hoc_s(:module_duration_1_hr_30_minutes),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/3-5gamedesign-2024"),
      url_secondary: CDO.studio_url('/s/elem-game-design-2024?viewAs=Instructor'),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_elementary_game_design),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_elementary_game_design),
      new: true
    },
    {
      overline: hoc_s(:module_grade_2_5_teachers),
      title: hoc_s(:module_label_teaching_microbit_maker_module),
      image: "/images/self-paced-pl-tile-micro-bit-maker.png",
      curriculum: hoc_s(:curriculum_name_microbit_maker_modules),
      duration: hoc_s(:module_duration_1_hr_30_minutes),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/microbitmakermodule-2024"),
      url_secondary: "/maker#curriculum-link-microbit",
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_microbit_maker_module),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_microbit_maker_module),
      new: true
    },
    {
      overline: hoc_s(:module_grade_k_5_teachers),
      title: hoc_s(:module_label_teaching_k5_basics),
      image: "/images/CSFimages/students_with_tablets.png",
      curriculum: hoc_s(:curriculum_name_all_k5),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-k5-2024"),
      url_secondary: "/educate/curriculum/elementary-school",
      aria_label_primary: hoc_s(:aria_label_call_to_action_explore_k5_self_paced_pl),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_explore_k_5_curriculum),
    },
    {
      overline: hoc_s(:module_grade_k_5_teachers),
      title: hoc_s(:module_label_teaching_csf),
      image: "/images/self-paced-pl-tile-csf.png",
      curriculum: hoc_s(:curriculum_name_csf_02),
      duration: hoc_s(:module_duration_4_hrs_30_mins),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/s/k5-onlinepd-2023"),
      url_secondary: "/csf",
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_csf),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_csf),
    },
    {
      overline: hoc_s(:module_grade_k_5_teachers),
      title: hoc_s(:module_label_teaching_csc),
      image: "/images/self-paced-pl-tile-csc.png",
      curriculum: hoc_s(:curriculum_name_csc_02),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/s/self-paced-pl-csc-2023"),
      url_secondary: "/educate/csc",
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_csc),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_csc),
    }
  ]

.carousel-wrapper
  %swiper-container.swiper-elementary{navigation: "true", "navigation-next-el": ".nav-next-elementary", "navigation-prev-el": ".nav-prev-elementary", pagination: "true", init: "false"}
    - block_items.each do |block_item|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            - if block_item[:new]
              .flex-container.justify-space-between.align-items-start
                %p.overline
                  = block_item[:overline]
                %p.new
                  =hoc_s(:new)
            - else
              %p.overline
                = block_item[:overline]
            %h3
              = block_item[:title]
            %img{src: block_item[:image], alt: "", style: "width: 100%"}
            %p
              %strong=hoc_s(:module_label_curriculum)
              = block_item[:curriculum]
            %p
              %strong=hoc_s(:module_label_duration)
              = block_item[:duration]
            %p
              %strong=hoc_s(:module_label_prerequisites)
              = block_item[:prerequisites]
          .content-footer
            %a.link-button{href: block_item[:url_primary], aria:{label: "#{block_item[:aria_label_primary]}"}}
              =hoc_s(:call_to_action_start_pl)
            %a.link-button.secondary{href: block_item[:url_secondary], aria:{label: "#{block_item[:aria_label_secondary]}"}}
              =hoc_s(:call_to_action_explore_curriculum)

  %button.swiper-nav-prev.nav-prev-elementary
  %button.swiper-nav-next.nav-next-elementary
