:ruby
  block_items = [
    {
      overline: hoc_s(:module_grade_k_12_teachers),
      title: hoc_s(:module_label_ai_101_self_paced_pl),
      image: '/images/self-paced-pl-tile-ai-101.jpg',
      curriculum: hoc_s(:curriculum_name_all_ai),
      duration: hoc_s(:module_duration_5_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-ai-101"),
      url_secondary: '/ai#ai-curricula',
      aria_label_primary: hoc_s(:aria_label_call_to_action_ai_101),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_ai_101),
      new: true
    },
    {
      overline: hoc_s(:module_grade_6_12_teachers),
      title: hoc_s(:module_label_teaching_coding_with_ai),
      image: '/images/self-paced-pl-tile-coding-with-ai.png',
      curriculum: hoc_s(:curriculum_name_coding_with_ai),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-coding-with-ai-2024"),
      url_secondary: '/curriculum/coding-with-ai',
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_coding_with_ai),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_coding_with_ai),
      new: true,
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:curriculum_name_teaching_animation),
      image: "/images/csd-unit-interactive-animations-games.png",
      curriculum: hoc_s(:module_label_teaching_animations),
      duration: hoc_s(:module_duration_3_hrs_20_minutes),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-csd-unit3"),
      url_secondary: CDO.studio_url("/s/interactive-games-animations?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_interactive_animations_games),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_interactive_animations_games),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_maker_cp),
      image: "/images/self-paced-pl-tile-maker-cp.png",
      curriculum: hoc_s(:curriculum_name_maker_cp),
      duration: hoc_s(:module_duration_3_hrs),
      prerequisites: hoc_s(:module_prerequisites_maker_cp),
      url_primary: CDO.studio_url("/courses/self-paced-pl-physical-computing"),
      url_secondary: CDO.studio_url("/s/devices?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_maker_cp),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_maker_cp),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_csd),
      image: "/images/self-paced-pl-tile-csd.png",
      curriculum: hoc_s(:curriculum_name_csd),
      duration: hoc_s(:module_duration_3_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-csd"),
      url_secondary: CDO.studio_url("/courses/csd?viewAs=Instructor?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_csd),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_csd),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_problem_solving),
      image: "/images/problem-solving-course-banner.png",
      curriculum: hoc_s(:curriculum_name_problem_solving),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-csd-unit1"),
      url_secondary: CDO.studio_url("/s/problem-solving-computing?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_problem_solving),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_problem_solving),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_maker_microbit),
      image: "/images/maker/maker-curriculum-microbit.png",
      curriculum: hoc_s(:curriculum_name_maker_microbit),
      duration: hoc_s(:module_duration_3_hrs),
      prerequisites: hoc_s(:module_prerequisites_maker_microbit),
      url_primary: CDO.studio_url("/courses/self-paced-pl-microbit"),
      url_secondary: CDO.studio_url("/s/microbit?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_maker_microbit),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_maker_microbit),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_ai),
      image: "/images/ai/ai-curriclum-machine-learning.png",
      curriculum: hoc_s(:curriculum_name_ai),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-aiml"),
      url_secondary: CDO.studio_url("/s/aiml?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_ai),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_ai),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_data_and_society),
      image: "/images/csd-unit-data-society.png",
      curriculum: hoc_s(:curriculum_name_data_and_society),
      duration: hoc_s(:module_duration_2_hrs_30_minutes),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-csd-unit5"),
      url_secondary: CDO.studio_url("/s/data-society?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_explore_data_society_pl),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_explore_data_society_curriculum),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_design_process),
      image: "/images/csd-unit-design-process.png",
      curriculum: hoc_s(:curriculum_name_design_process),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url("/courses/self-paced-pl-csd-unit4"),
      url_secondary: CDO.studio_url("/s/design-process?viewAs=Instructor"),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_the_design_process),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_design_process),
    },
    {
      overline: hoc_s(:module_grade_6_10_teachers),
      title: hoc_s(:module_label_teaching_web_development),
      image: "/images/csd-unit-web-development.png",
      curriculum: hoc_s(:curriculum_name_web_development),
      duration: hoc_s(:module_duration_2_hrs),
      prerequisites: hoc_s(:module_prerequisites_none),
      url_primary: CDO.studio_url('/courses/self-paced-pl-csd-unit2'),
      url_secondary: CDO.studio_url('/s/web-development?viewAs=Instructor'),
      aria_label_primary: hoc_s(:aria_label_call_to_action_teaching_web_development),
      aria_label_secondary: hoc_s(:aria_label_call_to_action_curriculum_web_development),
    }
  ]

.carousel-wrapper
  %swiper-container.swiper-middle{navigation: "true", "navigation-next-el": ".nav-next-middle", "navigation-prev-el": ".nav-prev-middle", pagination: "true", init: "false"}
    - block_items.each do |block_item|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            - if block_item[:new]
              .flex-container.justify-space-between.align-items-start
                %p.overline
                  = block_item[:overline]
                %p.new
                  =hoc_s(:new)
            - else
              %p.overline
                = block_item[:overline]
            %h3
              = block_item[:title]
            %img{src: block_item[:image], alt: "", style: "width: 100%"}
            %p
              %strong=hoc_s(:module_label_curriculum)
              = block_item[:curriculum]
            %p
              %strong=hoc_s(:module_label_duration)
              = block_item[:duration]
            %p
              %strong=hoc_s(:module_label_prerequisites)
              = block_item[:prerequisites]
          .content-footer
            %a.link-button{href: block_item[:url_primary], aria:{label: "#{block_item[:aria_label_primary]}"}}
              =hoc_s(:call_to_action_start_pl)
            %a.link-button.secondary{href: block_item[:url_secondary], aria:{label: "#{block_item[:aria_label_secondary]}"}}
              =hoc_s(:call_to_action_explore_curriculum)

  %button.swiper-nav-prev.nav-prev-middle
  %button.swiper-nav-next.nav-next-middle
