- course = @pd_enrollment.workshop.course
- subject = @pd_enrollment.workshop.subject
- @page_title = "Satisfaction Survey for Code.org's #{course} #{subject} Professional Development Workshop"

- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

#thanks
  %h1 Thank you for your survey submission!

  %h2 We appreciate your feedback.

  // Note: this is not yet in use for CSF. The transition is in progress.
  // See: /code-dot-org/pegasus/sites.v3/code.org/public/pd-workshop-survey/splat.haml
  - if course == Pd::Workshop::COURSE_CSF

    %p
      To help you get started with CS Fundamentals in your classroom, we've created a
      = succeed "." do
        %a{:href => 'https://docs.google.com/document/d/19BIaGVliOZCciSDmuezFFUhhCjhrB2oXpVLn0cJAibc/edit#heading=h.d1b2pnqkkc57', :target => '_blank'} list of required materials and supplies

    %p
      If you have any questions, feel free to reach out to us at
      = succeed ',' do
        %a{:href => 'mailto:teacher@code.org'} teacher@code.org
      or connect with other teachers on our
      = succeed '.' do
        %a{:href => 'https://forum.code.org/'} teacher forum

    %p
      Happy teaching!
