#lti-integration-portal

  .row
    .span10.header
      %h1= t('lti.integration.form_header')
  .row
    .span10
      %p= t('lti.integration.form_instructions')
      %p
        != "test"
      = render partial: 'lti/v1/integrations/form', locals: {form_data: @form_data}

  .row
    .span10
      %em
        != "email"
