- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'
  = stylesheet_link_tag 'jquery.handsontable.full', media: 'all'
  %script{src: webpack_asset_path('js/levelbuilder.js')}
  = javascript_include_tag 'jquery.handsontable.full'

- content_for :body_scripts do
  %script{src: webpack_asset_path('js/levels/editors/_all.js')}

= render partial: 'levels/editors/fields/bubble_choice_sublevel', locals: {f: f} unless (@level.is_a?(BubbleChoice) || @level.is_a?(CurriculumReference) || @level.is_a?(EvaluationMulti))
= render partial: 'levels/editors/fields/callouts', locals: {f: f} unless (@level.is_a?(CurriculumReference) || @level.is_a?(DSLDefined))
= render partial: 'levels/editors/fields/hide_share_and_remix', locals: {f: f} if (@level.uses_droplet?) || @level.is_a?(Blockly) || @level.is_a?(Weblab)
= render partial: 'levels/editors/fields/video', locals: {f: f} unless (@level.is_a?(DSLDefined) || @level.is_a?(CurriculumReference))
= render partial: 'levels/editors/fields/special_level_types', locals: {f: f} if  @level.is_a?(Blockly) || @level.is_a?(Weblab) || @level.is_a?(FreeResponse)
= render partial: 'levels/editors/fields/validation_code', locals: {f: f} if (@level.uses_droplet?)

- if @level.respond_to? :coordinate_grid_background
  .field
    = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :coordinate_grid_background, description: "Coordinate grid background"}

- if @level.is_a?(Blockly)
  .field
    = f.label :preload_asset_list, 'Preload asset list'
    %p A list of assets to be preloaded at page load time. The extension must be mp3, ogg, png, gif, jpg, jpeg, mov, or mp4. (click the plus sign to add an asset)
    - @level.preload_asset_list = [''] unless @level.preload_asset_list.try(:present?)
    - @level.preload_asset_list.each do |url|
      = text_field_tag 'level[preload_asset_list][]', url, placeholder: 'Asset URL', style: 'width: 100%; box-sizing: border-box; min-height: 28px;'
    #plusPreloadAssetList
      %i.fa.fa-plus-circle
