- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'
  = stylesheet_link_tag 'jquery.handsontable.full', media: 'all'
  %script{src: webpack_asset_path('js/levelbuilder.js')}
  = javascript_include_tag 'jquery.handsontable.full'

- content_for :body_scripts do
  %script{src: webpack_asset_path('js/levels/editors/_all.js')}

= render partial: 'levels/editors/fields/video', locals: {f: f} unless (@level.is_a?(DSLDefined) || @level.is_a?(CurriculumReference) || @level.is_a?(ExternalLink) || @level.is_a?(FreeResponse) || @level.is_a?(Odometer))
= render partial: 'levels/editors/fields/bubble_choice_sublevel', locals: {f: f} unless (@level.is_a?(BubbleChoice) || @level.is_a?(CurriculumReference) || @level.is_a?(EvaluationMulti) || @level.is_a?(StandaloneVideo) || @level.is_a?(ContractMatch) || @level.is_a?(External))
= render partial: 'levels/editors/fields/hide_share_and_remix', locals: {f: f} if ((@level.uses_droplet?) || @level.is_a?(Blockly) || @level.is_a?(Weblab)) && !@level.is_a?(NetSim)
= render partial: 'levels/editors/fields/special_level_types', locals: {f: f} if (@level.is_a?(Blockly) || @level.is_a?(Weblab) || @level.is_a?(FreeResponse)) && !@level.is_a?(NetSim)
= render partial: 'levels/editors/fields/preload_assets', locals: {f: f} if @level.is_a?(Applab) || @level.is_a?(Weblab) || @level.is_a?(Gamelab)
= render partial: 'levels/editors/fields/callouts', locals: {f: f} unless (@level.is_a?(CurriculumReference) || @level.is_a?(DSLDefined))
