.field
  = f.label :slider_speed, 'Slider speed'
  %p Number from 0.0 to 1.0 for how fast Applab runs by default while in the IDE. If not set, default is 1.0
  = f.number_field :slider_speed, :step => 0.1
.field
  = f.label :app_width
  %p Integer representing the width of the app in pixel coordinates. Default is 320.
  = f.number_field :app_width, disabled: true
.field
  = f.label :app_height
  %p
    Integer representing the height of the app in pixel coordinates. Default is 480. Note:
    this number includes 30 pixels of space reserved for the footer (i.e. if I make the
    height 30, it will consist entirely of a footer).
  = f.number_field :app_height, disabled: true
.field
  = f.label :show_turtle_before_run, 'Show turtle before Run is pressed'
  = boolean_check_box f, :show_turtle_before_run
.field
  = f.label :text_mode_at_start, 'Text mode (showing code) at start'
  = boolean_check_box f, :text_mode_at_start
.field
  = f.label :design_mode_at_start, 'Start in Design Mode'
  = boolean_check_box f, :design_mode_at_start
.field
  = f.label :hide_design_mode, 'Hide Design Mode'
  = boolean_check_box f, :hide_design_mode
.field
  = f.label :autocomplete_palette_apis_only, 'Autocomplete palette APIs only'
  = boolean_check_box f, :autocomplete_palette_apis_only
.field
  = f.label :execute_palette_apis_only, 'Execute palette APIs only'
  = boolean_check_box f, :execute_palette_apis_only
.field
  = f.label :beginner_mode, 'Beginner mode for loops'
  = boolean_check_box f, :beginner_mode
.field
  = f.label :submittable, 'Submittable'
  %p
    If checked, students with teachers can "submit" a solution for
    grading. Submitting a solution means that it is marked as
    submitted and they can no longer edit it (unless a teacher returns
    it).
  = boolean_check_box f, :submittable
.field
  = f.label :start_html, 'Starting design mode html'
  %p
    This should be equivalent to the level html created by design mode. The recommended way to generate this
    is to add your elements in design mode, hit run, then open up the browser console and type `Applab.levelHtml`.
    IMPORTANT WARNING: If you have referenced images in the HTML and/or  CODE, then you need to get fully-qualified
    code.org https URLS for these assets and update the HTML and the code to reflect these. You can quickly get full
    image urls by drag-dropping the image into the markdown section of a dummy level in levelbuilder.
    Copy the result and paste it here (it should start with something like
    #{html_escape("<div xmlns='http://www.w3.org/1999/xhtml' id='divApplab'")}...)
  = f.text_area :start_html, placeholder: 'Start html', rows: 4, value: @level.start_html
  :javascript
    levelbuilder.initializeCodeMirror('start_html', 'html');
.field.examples
  = f.label :examples, 'Example solutions'
  %p
    Go to
    = link_to applab_project_projects_url(host: 'studio.code.org', port: 443, protocol: :https), applab_project_projects_url(host: 'studio.code.org', port: 443, protocol: :https)
    to build your example, then copy the channel token (the sequence of letters and numbers after /applab)
    Need more help? View this
    = link_to 'screencast', 'https://www.dropbox.com/s/zpmszi9eenvwql7/applab%20example%20screencast.mp4?dl=0', target: '_blank'
  - unless f.object.examples.blank?
    - f.object.examples.each do |example|
      - next if example.blank?
      = text_field_tag "level[examples][]", example
  - 5.times do
    = text_field_tag "level[examples][]"

.field
  = f.label 'Log Conditions'
  Create a JSON array resembling the example if you want to add requirements that certain functions were executed. These will be checked when the Finish button is pressed.
  %pre
    = preserve do
      :escaped
        Example:
        [
          { "entries": ["function1", "function2"], "matchType": "exact", "minTimes": 1, "message": "You need to call both functions." },
          { "entries": ["[forTest]", "moveTo", "randomNumber", "randomNumber"], "matchType": "inexact", "minTimes": 20, "message": "You need to call moveTo in a for loop." }
        ]
  = f.text_area 'log_conditions', placeholder: 'Insert JSON Data', rows: 4, value: @level.log_conditions ? JSON.pretty_generate(@level.log_conditions) : ''
  :javascript
    levelbuilder.initializeCodeMirror('log_conditions', 'javascript');

.field
  = f.label 'Table Data'
  Step 1: Create a project at studio.code.org/p/applab and edit the data for a table in the data browser. Step 2: Copy the data via the debug area at the bottom of the table. Step 3: Paste the data below in the format { "tablename": <paste> }
  %pre
    = preserve do
      :escaped
        Example:
        {
          "table_name": [{ "name": "Trevor", "age": 30 }, { "name": "Hadi", "age": 72}],
          "table_name2": [{ "city": "Seattle", "state": "WA" }, { "city": "Chicago", "state": "IL"}]
        }
  = f.text_area 'data_tables', placeholder: 'Insert JSON Data', rows: 4, value: @level.data_tables or ''
  :javascript
    levelbuilder.initializeCodeMirror('data_tables', 'javascript');

.field
  = f.label 'Key-Value Data'
  You can copy the data array from the debug view of code.org/v3/edit-csp-properties/
  %pre
    = preserve do
      :escaped
        Example:
        {
          "click_count": 5,
          "button_color": "blue"
        }
  = f.text_area 'data_properties', placeholder: 'Insert JSON Key-Value Data', rows: 4, value: @level.data_properties or ''
  :javascript
    levelbuilder.initializeCodeMirror('data_properties', 'javascript');

.field
  = f.label 'Hide View Data Button'
  = boolean_check_box f, :hide_view_data_button

.field
  =f.label 'Disable code debugger (Console is still enabled)'
  = boolean_check_box f, :debugger_disabled
