- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/editors/_applab.js')}

= render partial: 'levels/editors/fields/debugger', locals: {f: f}

.field
  = f.label :slider_speed, 'Slider speed'
  %p Number from 0.0 to 1.0 for how fast Applab runs by default while in the IDE. If not set, default is 1.0
  = f.number_field :slider_speed, :step => 0.1

.field
  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :show_turtle_before_run, description: "Show turtle before Run is pressed"}
.field
  = render partial: 'levels/editors/fields/checkboxes', locals: {f: f, field_name: :widget_mode, description: "Enable Widget Mode: Creates an embeded level with a double-width app screen that auto-runs on page load. The coding workspace, design mode, data mode, the reset button, and sharing are all disabled in widget mode."}

= render partial: 'levels/editors/fields/applab_design_mode', locals: {f: f}
= render partial: 'levels/editors/fields/applab_data', locals: {f: f}
= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'applab'}

:ruby
  script_data = {
    applabOptions: {
      data_library_tables: @level.data_library_tables,
      dataset_library_manifest: @dataset_library_manifest
    }.to_json
  }
%script{src: webpack_asset_path('js/levels/editors/_applab.js'),
        data: script_data}
