- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/editors/_applab.js')}

= render partial: 'levels/editors/fields/instructions_area', locals: {f: f}
= render partial: 'levels/editors/fields/teacher_only_markdown', locals: {f: f}
= render partial: 'levels/editors/fields/code_area', locals: {f: f}
= render partial: 'levels/editors/fields/video', locals: {f: f}
= render partial: 'levels/editors/fields/bubble_choice_sublevel', locals: {f: f}
= render partial: 'levels/editors/fields/special_level_types', locals: {f: f}
= render partial: 'levels/editors/fields/debugger', locals: {f: f}
= render partial: 'levels/editors/fields/applab_design_mode', locals: {f: f}
= render partial: 'levels/editors/fields/applab_data', locals: {f: f}
= render partial: 'levels/editors/fields/applab_turtle', locals: {f: f}
= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'applab'}
= render partial: 'levels/editors/fields/preload_assets', locals: {f: f}
= render partial: 'levels/editors/fields/sharing', locals: {f: f}
= render partial: 'levels/editors/fields/callouts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}

:ruby
  script_data = {
    applabOptions: {
      data_library_tables: @level.data_library_tables,
      dataset_library_manifest: @dataset_library_manifest
    }.to_json
  }
%script{src: webpack_asset_path('js/levels/editors/_applab.js'),
        data: script_data}
