= render partial: 'levels/editors/helper_libraries', locals: {f: f}

= render partial: 'levels/editors/control_buttons', locals: {f: f}

= render partial: 'levels/editors/submittable', locals: {f: f}

= render partial: 'levels/editors/validation_code', locals: {f: f}

= render partial: 'levels/editors/encrypted_examples', locals: {f: f, level_type: 'dance'}

%legend.control-legend{data: {toggle: "collapse", target: "#default_song"}}
  Default Song

#default_song.collapse
  = f.label :default_song, 'Default Song'
  = f.select :default_song, options_for_select(@level.class.hoc_songs, @level.default_song)
