:scss
  $cyan: #0094ca;
  $light_cyan: #59b9dc;
  $lighter_cyan: #a6daed;
  $lightest_cyan: #d9eff7;

  .script_text textarea { width: 100%; height: 100px}
  .markdown {
    border: 5px solid gray;
    border-radius: 5px;
    padding: 10px;
  }

  .markdown.teacher {
    border: 5px solid $cyan;
    background-color: $lightest_cyan;
  }

- if @level.filename
  = "Filename: #{@level.filename}"
.field
  = f.label :encrypted, 'Encrypt this entire file'
  %p Use this if you want to prevent devious students from finding answers in our git repo
  = boolean_check_box f, :encrypted
.script_text
  = text_area_tag('level[dsl_text]', @level.dsl_text || (@level.dsl_default))

- if [ContractMatch, Match, Multi, TextMatch, External].include? @level.class

  - content_for(:head) do
    = javascript_include_tag 'js/levelbuilder_markdown'

  .markdown
    %p Edit Markdown:

    %textarea#level_markdown_textarea
    #markdown-preview

  .markdown.teacher
    %p Edit Teacher Only Markdown:

    %textarea#level_teacher_markdown_textarea
    #teacher-markdown-preview
