= render partial: 'levels/editors/fields/frequency_analysis_fields', locals: {f: f}
= render partial: 'levels/editors/fields/instructions_area', locals: {f: f}
= render partial: 'levels/editors/fields/video', locals: {f: f}
= render partial: 'levels/editors/fields/bubble_choice_sublevel', locals: {f: f}
= render partial: 'levels/editors/fields/callouts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
