.field
  = f.label :title
  %p Title to show on level pages (but not in level groups).
  = f.text_field :title
.field
  = f.label :height
  %p Height of the answer textarea in px.
  = f.number_field :height, step: 50
.field
  = f.label :placeholder
  %p Placeholder text to show in the answer textarea.
  = f.text_field :placeholder
.field
  = f.label :solution
  %p Optional solution markdown to display to teachers.
  = f.text_area :solution, rows: 20
