-# Gamelab-only fields for level edit page on levelbuilder
- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/editors/_gamelab.js')}

%legend.control-legend.levelTypeHeader
  Game Lab Options

= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'gamelab'}

= render partial: 'levels/editors/fields/debugger', locals: {f: f}

= render partial: 'levels/editors/fields/control_buttons', locals: {f: f}

= render partial: 'levels/editors/fields/submittable', locals: {f: f}

= render partial: 'levels/editors/fields/key_value_data', locals: {f: f}

.field.aligned-input-group
  = boolean_check_box f, :hide_view_data_button
  = f.label 'Hide View Data Button'

= render partial: 'levels/editors/fields/helper_libraries', locals: {f: f}

= render partial: 'levels/editors/fields/validation_code', locals: {f: f}

= render partial: 'levels/editors/fields/animation', locals: {f: f}

:javascript
  window.toggleBlock = function (elementId) {
    var element = document.getElementById(elementId);
    if (element) {
      element.style.display = element.style.display === 'none' ? 'block' : 'none';
    }
  };
