-# Gamelab-only fields for level edit page on levelbuilder
- content_for(:head) do
  :css
    #level-start-animations-validation {
      padding: 0.2em;
      font-weight: bold;
    }
  %script{src: minifiable_asset_path('js/levelbuilder_gamelab.js')}

.field
  = f.label :text_mode_at_start, 'Text mode (showing code) at start'
  = f.radio_button :text_mode_at_start, 'false'
  = f.label :text_mode_at_start, 'Start with user preferred setting', :value => 'false'
  = f.radio_button :text_mode_at_start, 'blocks'
  = f.label :text_mode_at_start, 'Always start with blocks', :value => 'blocks'
  = f.radio_button :text_mode_at_start, 'true'
  = f.label :text_mode_at_start, 'Always start with text', :value => 'true'

.field
  = f.label :hide_animation_mode, 'Hide the Animation Tab (you can still seed a level with animations)'
  = boolean_check_box f, :hide_animation_mode

.field
  = f.label :start_in_animation_tab, 'Start in the Animation Tab'
  = boolean_check_box f, :start_in_animation_tab

.field
  = f.label :all_animations_single_frame, 'All animations should be a single frame. If it has multiple frames, only show the first frame as a still image.'
  = boolean_check_box f, :all_animations_single_frame

.field
  = f.label :show_d_pad
  = boolean_check_box f, :show_d_pad

.field
  = f.label :expand_debugger, 'Expand Debugger by Default'
  = boolean_check_box f, :expand_debugger

= render partial: 'levels/editors/watchers_ui', locals: {f: f}

.field
  = f.label :soft_buttons, 'Controls buttons'
  %p
    Select
    %a.select_all{href: '#'} all
    \/
    %a.select_none{href: '#'} none
    (shift-click or cmd-click to select multiple). Arrow buttons to display below the game canvas.
  = f.collection_select :soft_buttons, soft_button_options, :value, :name, {selected: @level.soft_buttons}, {multiple: true}

.field
  = f.label :submittable, 'Submittable'
  %p
    If checked, students with teachers can "submit" a solution for
    grading. Submitting a solution means that it is marked as
    submitted and they can no longer edit it (unless a teacher returns
    it).
  = boolean_check_box f, :submittable

.field
  = f.label 'Key-Value Data'
  This data can be accessed via the getKeyValue and setKeyValue blocks in Game Lab.
  %pre
    = preserve do
      :escaped
        Example:
        {
          "click_count": 5,
          "button_color": "blue"
        }
  ~ f.text_area 'data_properties', placeholder: 'Insert JSON Key-Value Data', rows: 4, value: @level.data_properties or ''
  :javascript
    levelbuilder.initializeCodeMirror('level_data_properties', 'javascript');

.field
  = f.label 'Hide View Data Button'
  = boolean_check_box f, :hide_view_data_button

.field
  =f.label 'Disable code debugger (Console is still enabled)'
  = boolean_check_box f, :debugger_disabled

.field
  = f.label 'Run setup code as you write it (under development)'
  :ruby
    selector = f.select :auto_run_setup, options_for_select([
      ['none', nil],
      ['Run the draw loop once', GAMELAB_AUTORUN_OPTIONS.draw_loop],
      ['Call drawSprites()', GAMELAB_AUTORUN_OPTIONS.draw_sprites],
      ['Run some other JavaScript', GAMELAB_AUTORUN_OPTIONS.custom],
    ], selected: @level.auto_run_setup)
  = selector
  = f.label 'Custom setup code'
  = f.text_field :custom_setup_code
  :javascript
    (function () {
      var autoRunSetup = document.getElementById('level_auto_run_setup');
      var customSetupCode = document.getElementById('level_custom_setup_code');
      var changeHandler = function () {
        if (autoRunSetup.value === 'CUSTOM') {
          customSetupCode.previousElementSibling.style.display = '';
          customSetupCode.style.display = '';
        } else {
          customSetupCode.previousElementSibling.style.display = 'none';
          customSetupCode.style.display = 'none';
        }
      }
      autoRunSetup.onchange = changeHandler;
      changeHandler();
    })();

.field
  =f.label 'Animations are paused by default'
  %p
    If checked, the sprite animation will always be paused after a <tt>setAnimation</tt> call.
    Otherwise, it will be playing after a <tt>setAnimation</tt> call.
  = boolean_check_box f, :pause_animations_by_default

.field
  = f.label :start_animations, 'Starting animation list JSON'
  %p
    This should be equivalent to the animation JSON created by the animation tab.
    <a href="#" onClick="toggleBlock('start_animations_more'); return false">Read more...</a>
  #start_animations_more{style: 'display: none'}
    %p
      You can generate this by getting the animation tab into the desired state,
      opening the developer console, and running <tt>viewExportableAnimationList()</tt>;
      or, you can compose it by hand.
      Here is an example.
    %pre
      :preserve
        {
          "orderedKeys": ["animation1"],
          "propsByKey": {
            "animation1": {
              "name": "asterisk_circle",
              "sourceUrl": "/blockly/media/gamelab/library/asterisk_circle.png",
              "frameSize": {"x":132, "y": 126},
              "frameCount": 9,
              "frameDelay": 2,
              "looping": true
            }
          }
        }
    %p
      Some considerations:
    %ul
      %li <tt>orderedKeys</tt> defines the order the animations are listed in the animation tab, and each key must reference a set of props in <tt>propsByKey</tt>
      %li <tt>name</tt>, <tt>sourceUrl</tt>, <tt>frameSize</tt>, <tt>frameCount</tt>, <tt>frameDelay</tt>, and <tt>looping</tt> are all required.
      %li <tt>name</tt> is used to refer to the animation in code; the "animation key" is never visible to the student.
      %li
        <tt>sourceUrl</tt> can take absolute URLs (which will run through our media proxy, so you can refer to almost anything)
        or domain-relative URLs for the limited set of animations in the current library,
        <a href="https://github.com/code-dot-org/code-dot-org/blob/staging/apps/src/gamelab/animationLibrary.js">which you can find here.</a>
        The sourceUrl should point to an image or spritesheet - not an animated gif.
      %li <tt>frameDelay</tt> can be from slowest to fastest: 60, 45, 30, 20, 15, 10, 5, 4, 3, 2, 1.
      %li <tt>looping</tt> is true is if the animation plays repeatedly or false if it plays once.
  ~ f.text_area :start_animations, placeholder: 'Starting animations JSON', rows: 4, value: @level.start_animations
  #level-start-animations-validation

:javascript
  window.toggleBlock = function (elementId) {
    var element = document.getElementById(elementId);
    if (element) {
      element.style.display = element.style.display === 'none' ? 'block' : 'none';
    }
  };

= render partial: 'levels/editors/encrypted_examples', locals: {f: f, level_type: 'gamelab'}

= render partial: 'levels/editors/teacher_only_markdown', locals: {f: f}
