.field
  = f.label 'Use default sprites as starting animation JSON'
  = boolean_check_box f, :use_default_sprites
.field
  = f.label :custom_blocks, 'Custom block defintions'

  ~ f.text_area :custom_blocks, placeholder: 'Custom blocks', rows: 4, value: @level.custom_blocks
  #custom-blocks-validation
.field
  = f.label :hide_custom_blocks, 'Do not automatically add block pool and custom blocks to the toolbox'
  = boolean_check_box f, :hide_custom_blocks
