= render partial: 'levels/editors/control_buttons', locals: {f: f}

= render partial: 'levels/editors/animation', locals: {f: f}

= render partial: 'levels/editors/helper_libraries', locals: {f: f}

%legend.control-legend{data: {toggle: "collapse", target: "#setup_code"}}
  Setup Code

%p Create custom setup code. Immediately show results of setup code in playspace

#setup_code.collapse
  = f.label 'Immediately show the results of setup code changes in the playspace?'
  :ruby
    selector = f.select :auto_run_setup, options_for_select([
      ['No', nil],
      ['Yes, run the draw loop once', SharedConstants::GAMELAB_AUTORUN_OPTIONS.draw_loop],
      ['Yes, call drawSprites()', SharedConstants::GAMELAB_AUTORUN_OPTIONS.draw_sprites],
      ['Yes, run some other JavaScript', SharedConstants::GAMELAB_AUTORUN_OPTIONS.custom],
    ], selected: @level.auto_run_setup)
  = selector
  = f.label 'Custom setup code'
  = f.text_field :custom_setup_code

= render partial: 'levels/editors/encrypted_examples', locals: {f: f, level_type: 'spritelab'}

= render partial: 'levels/editors/validation_code', locals: {f: f}

= render partial: 'levels/editors/submittable', locals: {f: f}
