= render partial: 'levels/editors/debugger', locals: {f: f}

= render partial: 'levels/editors/control_buttons', locals: {f: f}

= render partial: 'levels/editors/submittable', locals: {f: f}

= render partial: 'levels/editors/block_pools', locals: {f: f}

= render partial: 'levels/editors/helper_libraries', locals: {f: f}

= render partial: 'levels/editors/validation_code', locals: {f: f}

= render partial: 'levels/editors/animation', locals: {f: f}

%legend.control-legend.levelTypeHeader
  Sprite Lab Options

= render partial: 'levels/editors/encrypted_examples', locals: {f: f, level_type: 'spritelab'}

.field
  = render partial: 'levels/editors/checkboxes', locals: {f: f, field_name: :include_shared_functions, description: "Make shared functions and behaviors available"}

= render partial: 'levels/editors/custom_block', locals: {f: f}

= render partial: 'levels/editors/custom_helper_library', locals: {f: f}

:javascript
  window.toggleBlock = function (elementId) {
    var element = document.getElementById(elementId);
    if (element) {
      element.style.display = element.style.display === 'none' ? 'block' : 'none';
    }
  };
