= render partial: 'levels/editors/fields/instructions_area', locals: {f: f}
= render partial: 'levels/editors/fields/teacher_only_markdown', locals: {f: f}
= render partial: 'levels/editors/fields/video', locals: {f: f}
= render partial: 'levels/editors/fields/callouts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
