- content_for(:head) do
  %script{src: webpack_asset_path('js/levels/editors/_studio.js')}

= render partial: 'levels/editors/fields/instructions_area', locals: {f: f}
= render partial: 'levels/editors/fields/teacher_only_markdown', locals: {f: f}
= render partial: 'levels/editors/fields/code_area', locals: {f: f}
= render partial: 'levels/editors/fields/video', locals: {f: f}
= render partial: 'levels/editors/fields/bubble_choice_sublevel', locals: {f: f}
= render partial: 'levels/editors/fields/special_level_types', locals: {f: f}
= render partial: 'levels/editors/fields/grid', locals: {f: f}

= render partial: 'levels/editors/fields/encrypted_examples', locals: {f: f, level_type: 'playlab'}
= render partial: 'levels/editors/fields/control_buttons', locals: {f: f}
= render partial: 'levels/editors/fields/studio_fields', locals: {f: f}

= render partial: 'levels/editors/fields/sharing', locals: {f: f}
= render partial: 'levels/editors/fields/cs_in_a', locals: {f: f}
= render partial: 'levels/editors/fields/callouts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
= render partial: 'levels/editors/fields/level_concept_difficulty', locals: {f: f}
