.field
  = f.label :text_to_speech_overrides
  %p By default, Text-to-Speech will use the Instructions and Markdown Instructions texts as its sources. You can override them individually here if you wish to tweak the pronunciation.
  #tts-error.alert.alert-error{style: "display: none"}
    #alert-content
  .row
    .span6
      %h5 Instructions
      = f.text_area :tts_instructions_override, placeholder: '', rows: 4, class:"input-block-level"
    .span6
      %h5 Markdown Instructions
      = f.text_area :tts_markdown_instructions_override, placeholder: '', rows: 4, class:"input-block-level"
  - if CDO.use_acapela
    = f.label :voice
    %div
      %select#level_tts_voice
    %div
      %button.tts#tts-instructions{type: 'button'} Hear Instructions
      %button.tts#tts-markdown-instructions{type: 'button'} Hear Markdown Instructions
    %div
      %audio#tts-audio

:javascript
  if (#{!!CDO.acapela_login}) {
    const config = {
      login: "#{CDO.acapela_login}",
      app: "#{CDO.acapela_ephemeral_app}",
      pwd: "#{CDO.acapela_ephemeral_password}",
    };

    $('button.tts').click(function () {
      var sourceText;
      switch (this.id) {
        case 'tts-instructions':
          sourceText = $("#level_tts_instructions_override").val() || $("#level_instructions").val();
          break;
        case 'tts-markdown-instructions':
          sourceText = $("#level_tts_markdown_instructions_override").val() || $('#markdown-instructions-preview').text()
          break;
      }

      levelbuilder.acapela.getAudio(sourceText, $("#level_tts_voice").val(), config, function (data) {
        $('#tts-error').hide();

        if (data.err_msg) {
          $('#alert-content').text(unescape(data.err_msg));
          $('#tts-error').show();
        }

        if (data.snd_url) {
          $("#tts-audio").attr({
            src: data.snd_url,
            controls: 'controls'
          });
        }
      });
    });

    $(document).ready(function () {
      levelbuilder.acapela.populateVoicesList($('#level_tts_voice'), config);
    });
  }
