%h1.control-legend{data: {toggle: "collapse", target: "#unplugged-settings"}}
  Unplugged Settings

#unplugged-settings.in.collapse
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description, rows: 6, class: 'input-block-level'

= render partial: 'levels/editors/fields/video', locals: {f: f}
= render partial: 'levels/editors/fields/callouts', locals: {f: f}
= render partial: 'levels/editors/fields/audit_log', locals: {f: f}
= render partial: 'levels/editors/fields/level_concept_difficulty', locals: {f: f}
