<% var msg = window.blockly.locale; %>
<% if (options.feedbackImage) { %>
  <div class="sharing">
    <img class="feedback-image" src="<%= options.feedbackImage %>">
  </div>
<% } %>

<div class="sharing">
  <div class="social-buttons">
  <% if (!options.onMainPage) { %>
    <button id="print-button">
      <%= msg.print() %>
    </button>
  <% } %>
<% if (options.alreadySaved) { %>
  <button class="saved-to-gallery" disabled>
    <%= msg.savedToGallery() %>
  </button>
<% } else if (options.saveToGalleryUrl) { %>
  <button id="save-to-gallery-button" class="launch">
    <%= msg.saveToGallery() %>
  </button>
<% } %>
  </div>

<% if (options.response && options.response.level_source) { %>
  <% if (options.appStrings && options.appStrings.sharingText) { %>
    <div><%= options.appStrings.sharingText %></div>
  <% } %>

  <div>
    <input type="text" id="sharing-input" value=<%= options.response.level_source %> readonly>
  </div>

  <div class='social-buttons'>
    <% if (options.facebookUrl) { -%>
      <a href='<%= options.facebookUrl %>' target="_blank" class="popup-window">
        <img src='<%= BlocklyApps.assetUrl("media/facebook_purple.png") %>' />
      </a>
    <% } -%>

    <% if (options.twitterUrl) { -%>
      <a href='<%= options.twitterUrl %>' target="_blank" class="popup-window">
        <img src='<%= BlocklyApps.assetUrl("media/twitter_purple.png") %>' />
      </a>
    <% } -%>
    <% if (options.sendToPhone) { -%>
      <a id="sharing-phone" href="" onClick="return false;">
        <img src='<%= BlocklyApps.assetUrl("media/phone_purple.png") %>' />
      </a>
    <% } -%>
    <% if (options.level.shapewaysUrl && !options.onMainPage && options.sendToPhone) { -%>
      <a id="sharing-shapeways" href="" onClick="return false;">
        <img src='<%= BlocklyApps.assetUrl("media/shapeways_purple.png") %>' />
      </a>
    <% } -%>
  </div>
<% } %>
</div>
<div id="send-to-phone" class="sharing" style="display: none">
  <label for="phone">Enter a US phone number:</label>
  <input type="text" id="phone" name="phone" />
  <button id="phone-submit" onClick="return false;">Send</button>
  <div id="phone-charges">A text message will be sent via <a href="http://twilio.com">Twilio</a>. Charges may apply to the recipient.</div>
</div>
<% if (options.response && options.response.level_source && options.level.shapewaysUrl) { -%>
  <div id="shapeways-message" class="sharing" style="display: none">
    <div id="shapeways-message-body">You'll be redirected to Shapeways.com to order and purchase a 3D print.</div>
    <button id="shapeways-print-go-button" onclick="window.open('<%= options.level.shapewaysUrl %>', '_blank')">Go to Shapeways</button>
    <div id="shapeways-message-body-disclaimer">Students under 13 years need a parent or guardian to do 3D printing.</div>
  </div>
<% } -%>
