%link{rel:'stylesheet', type:'text/css', href:'/css/wide-layout.css'}

= view :unsupported_browser
= view :header

.container.wide-index-content

  - if @header['nav']
    .row
      .col-sm-9
        = body
      .col-sm-3.nav-col
        = view(@header['nav'])
  - else
    = body

%br/
%br/
%br/
