
= view :header

.container

  - if header['nav']
    .row
      .col-sm-3{style: "margin-top:50px;"}
        = view(header['nav'])
      .col-sm-9
        = body
  - else
    = body

%br/
%br/
%br/

= view :footer
