
%link{rel:'stylesheet', type:'text/css', href:'/css/wide-layout.css'}
= view :header

.container

  - if header['nav']
    .row
      .col-sm-3.nav-col.col-sm-push-9
        = view(header['nav'])
      .col-sm-9.col-sm-pull-3
        = body
  - else
    = body

%br/
%br/
%br/

= view :footer
