-# Can only be used on rebranded pages that use the
-# "design-system-pegasus.scss" stylesheet.

%h2
  #{resources_heading}
%p.desc
  #{resources_desc}

-# Shows tabs UI on desktop
.tabs-section.resources-tabs.show-desktop
  -# Tabs nav
  %nav.tab-container.flex-container.justify-space-between
    %button.tab.lesson-plans.active{"data-content": "#lesson-plans"}
      =hoc_s(:resources_tabs_tab_label_lesson_plans)
    %button.tab.videos{"data-content": "#videos"}
      =hoc_s(:resources_tabs_tab_label_videos)
    %button.tab.slides{"data-content": "#slides"}
      =hoc_s(:resources_tabs_tab_label_slides)
    %button.tab.assessments{"data-content": "#assessments"}
      =hoc_s(:resources_tabs_tab_label_assessments)
    %button.tab.tools{"data-content": "#tools"}
      =hoc_s(:"resources_tabs.progress.tab_label")
  -# Tabs content
  %div.tab-content-container
    %div#lesson-plans.content.tab-content.show
      = view :"tabs_section/resources/resources_tabs_content_lesson_plans"
    %div#videos.content.tab-content
      = view :"tabs_section/resources/resources_tabs_content_videos"
    %div#slides.content.tab-content
      = view :"tabs_section/resources/resources_tabs_content_slides"
    %div#assessments.content.tab-content
      = view :"tabs_section/resources/resources_tabs_content_assessments"
    %div#tools.content.tab-content
      = view :"tabs_section/resources/resources_tabs_content_progress"

-# Shows accordion UI on smaller screens
.tabs-section.resources-tabs.show-tablet-and-mobile
  %details.lesson-plans
    %summary=hoc_s(:resources_tabs_tab_label_lesson_plans)
    = view :"tabs_section/resources/resources_tabs_content_lesson_plans"
  %details.videos
    %summary=hoc_s(:resources_tabs_tab_label_videos)
    = view :"tabs_section/resources/resources_tabs_content_videos"
  %details.slides
    %summary=hoc_s(:resources_tabs_tab_label_slides)
    = view :"tabs_section/resources/resources_tabs_content_slides"
  %details.assessments
    %summary=hoc_s(:resources_tabs_tab_label_assessments)
    = view :"tabs_section/resources/resources_tabs_content_assessments"
  %details.tools
    %summary=hoc_s(:resources_tabs_tab_label_tools)
    = view :"tabs_section/resources/resources_tabs_content_progress"

%script{src: '../js/tabs-section.js'}
