%p
  != I18n.t('hoc_tutorial_email.dear_teacher', teacher_name: @teacher.name)

%p
  != I18n.t('hoc_tutorial_email.intro_step_by_step_guide')
%ol
  %li
    %strong
      != I18n.t('hoc_tutorial_email.sign_up')
    != I18n.t('hoc_tutorial_email.sign_up_desc')
    != I18n.t('hoc_tutorial_email.sign_up_here')

    🚗







