---
title: Coding with AI
theme: responsive_full_width
---

- button_url = CDO.studio_url("/s/coding-with-ai?viewAs=Instructor")
- button_string = hoc_s("coding_with_ai_page.button")

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/coding-with-ai-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s("coding_with_ai_page.heading")
      %p.white
        =hoc_s("coding_with_ai_page.desc")
      %a.link-button.white{href: button_url}=button_string
    %figure
      %img{src: "/images/ai/page/coding-with-ai/coding-with-ai-banner.png", alt: ""}

%section
  .wrapper.centered
    %h2=hoc_s("coding_with_ai_page.empower.heading")
    %p=hoc_s("coding_with_ai_page.empower.desc")
    = view :"coding_with_ai/coding_with_ai_editorial_cards"
    %a.link-button{href: button_url}=button_string

%section.bg-neutral-light
  .wrapper
    = view :curriculum_glance_section, heading: hoc_s(:heading_curriculum_at_a_glance), grades: hoc_s("coding_with_ai_page.glance.grades"), duration: hoc_s("coding_with_ai_page.glance.duration"), level: hoc_s("coding_with_ai_page.glance.level"), tools: hoc_s("coding_with_ai_page.glance.tools"), devices: hoc_s("coding_with_ai_page.glance.devices"), professional_learning: hoc_s("coding_with_ai_page.glance.professional_learning"), topics: hoc_s("coding_with_ai_page.glance.topics"), accessibility_features: hoc_s("coding_with_ai_page.glance.accessibility_features"), languages: hoc_s("coding_with_ai_page.glance.languages")

%section.bg-primary-light
  .wrapper
    .flex-container.align-items-center.wrap.gap-2
      .text-wrapper.flex-1
        %h2.heading-sm
          =hoc_s("coding_with_ai_page.support.heading")
        %p.no-margin-bottom
          =hoc_s("coding_with_ai_page.support.desc", markdown: :inline)
      .button-wrapper
        %a.link-button{href: CDO.studio_url("/users/sign_up")}
          =hoc_s("coding_with_ai_page.support.button")

%section
  .wrapper
    %h2=hoc_s("coding_with_ai_page.lessons.heading")
    %p=hoc_s("coding_with_ai_page.lessons.desc")
    = view :"coding_with_ai/coding_with_ai_lessons"

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s("coding_with_ai_page.teach.heading")
    = view :"coding_with_ai/coding_with_ai_teach"

%section
  .wrapper
    %h2=hoc_s("coding_with_ai_page.faq.heading")
    = view :"coding_with_ai/coding_with_ai_faq"

%section.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s("coding_with_ai_page.learn_more.heading")
    = view :"coding_with_ai/coding_with_ai_learn_more"
    %hr.light
    %h3=hoc_s("coding_with_ai_page.learn_more.subheading")
    %p=hoc_s("coding_with_ai_page.learn_more.desc")
    %a.link-button.secondary{href: "/ai"}
      =hoc_s("coding_with_ai_page.learn_more.button")
