---
title: AP® Computer Science A
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/csa-styles.css", rel: "stylesheet"}

- ap_quizzes_learn_more_url = "https://docs.google.com/document/d/1dqHsX_KdQd_CIYM8OK5UT0JoPFa1SvzB2LtcsfCKl88/edit?usp=sharing"

= view :top_skinny_banner, banner_id: "banner-ap-quizzes", banner_url: nil, banner_icon: "fa-solid fa-megaphone", banner_text: hoc_s("csa_page.ap_quizzes_banner", markdown: :inline, locals: {learn_more_url: ap_quizzes_learn_more_url}), external_link: false, light_theme: true

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white
        =hoc_s(:curriculum_name_csa)
      %p.has-external-link.white
        =hoc_s(:csa_page_top_desc, markdown: :inline, locals: {csa_url: "https://apcentral.collegeboard.org/media/pdf/ap-computer-science-a-course-and-exam-description.pdf?course=ap-computer-science-a"})
      %a.link-button.white{href: CDO.studio_url("/courses/csa?viewAs=Instructor")}
        =hoc_s(:call_to_action_explore_course)
    %figure
      %img{src: "/images/banners/banner-csa-student-code-paint.png", alt: ""}

%section
  .wrapper
    %div.col-50{style: "margin: .5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "intro_csa", video_code: "lFkFi2jGs70", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/curriculum_videos/curriculum_video_csa.mp4"
    .text-wrapper.col-45{style: "float: right;"}
      %h2=hoc_s(:csa_page_intro_heading)
      %ul
        %li=hoc_s(:csa_page_intro_list_01)
        %li=hoc_s(:csa_page_intro_list_02)
        %li=hoc_s(:csa_page_intro_list_03)
        %li=hoc_s(:csa_page_intro_list_04)
        %li=hoc_s(:csa_page_intro_list_05)
      %a.link-button{href: CDO.studio_url("/courses/csa?viewAs=Instructor")}
        =hoc_s(:call_to_action_explore_course)
    .clear

= view :professional_learning_skinny_banner

%section.bg-neutral-light
  .wrapper
    = view :curriculum_glance_section, heading: hoc_s(:heading_curriculum_at_a_glance), grades: hoc_s(:module_grade_9_12), duration: hoc_s(:module_duration_school_year), level: hoc_s(:module_level_intermediate), tools: hoc_s(:csa_page_curriculum_glance_tools), devices: hoc_s(:csa_page_curriculum_glance_devices), professional_learning: hoc_s(:csa_page_curriculum_glance_professional_learning), topics: hoc_s(:csa_page_curriculum_glance_topics), accessibility_features: hoc_s(:csa_page_curriculum_glance_accessibility_features), languages: hoc_s(:csa_page_curriculum_glance_languages)

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text
        =hoc_s(:csa_page_quote)
      %p.no-margin-bottom
        -# %span •
        =hoc_s(:teacher_label_csa)

%section
  .wrapper
    %h2=hoc_s(:heading_engaging_projects)
    = view :projects_csa_page

%section.bg-neutral-light
  .wrapper
    = view :"tabs_section/resources/resources_tabs", resources_heading: hoc_s(:resources_tabs_heading), resources_desc: hoc_s(:resources_tabs_desc, markdown: :inline, locals: {sign_up_url: CDO.studio_url("/users/sign_up")})

%section
  .wrapper
    %h2=hoc_s('csa_page.additional_resources.heading')
    = view :csa_ap_resources

= view :section_divider_line

%section.no-padding-bottom
  .wrapper
    %h2=hoc_s(:heading_faq)
    = view :faq_csa

%section.computer-vision
  .wrapper
    %h2=hoc_s(:heading_csa_ai)
    .action-block.action-block--two-col.flex-container.wrap-reverse
      .text-wrapper.col-50
        %h3=hoc_s(:curriculum_name_csa_ai)
        %p=hoc_s(:curriculum_desc_csa_ai_long)
        %p
          %strong=hoc_s(:module_label_duration)
          =hoc_s(:module_duration_5_hrs_plus)
        %a.link-button{href: "/curriculum/computer-vision"}
          =hoc_s(:call_to_action_explore_module)
      %figure.col-50
      .clear

= view :section_divider_line

%section
  .wrapper
    = view :support_and_questions_section

%section#csa-newsletter-signup{style: "padding-top: 2rem"}
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s(:subscribe_form_section_title), subscribe_form_section_desc: hoc_s(:subscribe_form_section_desc_csa), form_height: "375px", form_src: "http://go.pardot.com/l/153401/2021-02-19/p291ns"

%section.bg-neutral-light
  .wrapper
    %h2.centered=hoc_s("csf_page.additional_resources.heading")
    %p.centered=hoc_s("csf_page.additional_resources.desc")
    = view :curriculum_support_additional_resources

%section
  .wrapper
    = view :afe_partnership_block

= view :analytics_event_log_helper, event_name: AnalyticsConstants::CSA_CURRICULUM_PAGE_VISITED_EVENT
