---
title: Generative AI
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/generative-ai-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper.col-50
      %h1.white.no-margin-bottom
        =hoc_s("gen_ai_page.heading_banner.heading")
      %p.body-two.no-margin-bottom.white
        =hoc_s("gen_ai_page.heading_banner.desc")
      .afe.flex-container.align-items-baseline.wrap
        %p.strong.body-three.no-margin-bottom.white
          =hoc_s("gen_ai_page.heading_banner.partner")
        %figure
          %img{src: "/images/avatars/amazon_future_engineer_light.png", alt: hoc_s(:afe_partnership_logo_alt)}
      %a.link-button{href: CDO.studio_url("/courses/exploring-gen-ai-2024?viewAs=Instructor")}
        =hoc_s(:call_to_action_explore_course)
    %figure.col-40
      %img{src: "/images/banners/banner-bg-gen-ai-bot-wizard.png", alt: ""}

%section
  .wrapper.centered
    %h2=hoc_s("gen_ai_page.course_description.title")
    %p=hoc_s("gen_ai_page.course_description.desc")
    = view "gen_ai_landing_page/empower_students_unordered_list"
    .button-wrapper.centered
      %a.link-button{href: CDO.studio_url("/courses/exploring-gen-ai-2024?viewAs=Instructor")}
        =hoc_s(:call_to_action_explore_course)

%section.bg-neutral-light
  .wrapper
    = view :curriculum_glance_section, heading: hoc_s("gen_ai_page.glance.title"), grades: hoc_s("gen_ai_page.glance.grades"), duration: hoc_s("gen_ai_page.glance.duration"), level: hoc_s("gen_ai_page.glance.level"), tools: hoc_s("gen_ai_page.glance.suggested_tools"), devices: hoc_s("gen_ai_page.glance.compatible_devices"), suggested_tools: hoc_s("gen_ai_page.glance.compatible_devices"), professional_learning: hoc_s("gen_ai_page.glance.professional_learning"), topics: hoc_s("gen_ai_page.glance.topics"), accessibility_features: hoc_s("gen_ai_page.glance.accessibility_features"), languages: hoc_s("gen_ai_page.glance.languages")

%section
  .wrapper
    %h2
      =hoc_s("gen_ai_page.teach_complete_course.title")
    %p.body-two
      =hoc_s("gen_ai_page.teach_complete_course.desc")
    .action-block.action-block--two-col.content-block-margin
      %img.col-50{src: "/images/ai/explore-gen-ai-bot-wizard.png", alt: ""}
      .text-wrapper.col-50
        %h3=hoc_s("gen_ai_page.teach_complete_course.explore_gen_ai_card.title")
        %p=hoc_s("gen_ai_page.teach_complete_course.explore_gen_ai_card.desc")
        %a.link-button{href: CDO.studio_url("/courses/exploring-gen-ai-2024?viewAs=Instructor")}
          =hoc_s(:call_to_action_explore_course)
        %br
        %a.link-button.secondary.white-button{href: CDO.studio_url("/s/self-paced-gen-ai-2024")}
          =hoc_s("gen_ai_page.teach_complete_course.explore_gen_ai_card.see_pl")
      .clear

= view :section_divider_line

%section
  .wrapper
    %h2
      =hoc_s("gen_ai_page.flexible_units.title")
    %p.body-two
      =hoc_s("gen_ai_page.flexible_units.desc")
    = view "gen_ai_landing_page/generative_ai_units"

%section.verified-skinny-banner
  .wrapper.flex-container.justify-space-between.align-items-center.wrap.gap-1
    .text-wrapper
      %p.body-one.strong
        =hoc_s("gen_ai_page.unlock_full_access_banner.title")
      %p.body-two.no-margin-bottom
        =hoc_s("gen_ai_page.unlock_full_access_banner.desc")
    .cta-wrapper.col-30
      %a.link-button.has-external-link{href: "https://support.code.org/hc/en-us/articles/115001550131-How-to-Become-a-Verified-Teacher"}
        =hoc_s("gen_ai_page.unlock_full_access_banner.button")

%section
  .wrapper.flex-container.justify-space-between.align-items-center
    %figure.action-wrapper.solid-bg.col-45
      %img{src: "/images/ai/model-card-genai-example.png", alt: ""}
    .text-wrapper.col-50
      %h2
        =hoc_s("gen_ai_page.new_ai_chat_lab.title")
      %p.body-two
        =hoc_s("gen_ai_page.new_ai_chat_lab.desc")

%section.quote.bg-neutral-dark
  .wrapper
    %div.quotes-wrapper
      %p.quote-text.large
        =hoc_s("gen_ai_page.cs_teacher_quote.quote")
      %p.no-margin-bottom
        =hoc_s("gen_ai_page.cs_teacher_quote.credit")

%section.bg-neutral-light
  .wrapper
    %h2
      =hoc_s("gen_ai_page.preparing_to_explore.title")
    .action-block.action-block--two-col.content-block-margin.white
      %img.col-50{src: "/images/ai/explore-gen-ai-bot-wizard.png", alt: ""}
      .text-wrapper.col-50
        %p.overline=hoc_s("gen_ai_page.preparing_to_explore.teaching_card.overline")
        %h3=hoc_s("gen_ai_page.preparing_to_explore.teaching_card.title")
        %p=hoc_s("gen_ai_page.preparing_to_explore.teaching_card.desc")
        %a.link-button{href: CDO.studio_url("/s/self-paced-gen-ai-2024")}
          =hoc_s("gen_ai_page.preparing_to_explore.teaching_card.button")

%section
  .wrapper
    %h2
      =hoc_s(:heading_faq)
    = view "gen_ai_landing_page/faq_generative_ai"

%section#csa-newsletter-signup{style: "padding-top: 2rem"}
  .wrapper
    = view :subscribe_form, subscribe_form_section_title: hoc_s("gen_ai_page.stay_informed.title"), subscribe_form_section_desc: hoc_s("gen_ai_page.stay_informed.desc"), form_height: "375px", form_src: "https://go.pardot.com/l/153401/2024-03-27/pqwtxx"

%section.bg-neutral-light
  .wrapper
    %h2
      =hoc_s('gen_ai_page.additional_resources.title')
    %p
      =hoc_s('gen_ai_page.additional_resources.desc')
    = view "gen_ai_landing_page/additional_resources"
