---
title: How AI Works
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/how-ai-works-styles.css", rel: "stylesheet"}

%section.hero-banner-basic
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h1.white=hoc_s(:how_ai_works_hero_heading)
      %p.body-one.white=hoc_s(:how_ai_works_hero_desc)
    %figure
      %img{src: "/images/banners/ai-bot-artist-w-trophy.png", alt: ""}

%section.bg-neutral-light
  .wrapper
    %h2=hoc_s(:how_ai_works_hero_heading)
    %p=hoc_s(:how_ai_works_intro_desc)
    %div.col-45{style: "margin: 0.5rem 0 1rem;"}
      = view :display_video_thumbnail, id: "intro_csp", video_code: "YlwVMtNEWKA", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-intro-to-how-ai-works-lessons.mp4"
    .text-wrapper.col-50{style: "float: right;"}
      %p
        %strong=hoc_s(:heading_these_lessons_will)
      %ul
        %li=hoc_s(:how_ai_works_intro_list_01)
        %li=hoc_s(:how_ai_works_intro_list_02)
        %li=hoc_s(:how_ai_works_intro_list_03)
        %li=hoc_s(:how_ai_works_intro_list_04)
      %a.link-button{href: "#how-ai-works-lessons"}
        =hoc_s(:call_to_action_explore_lessons)
    .clear

%section#how-ai-works-lessons
  .wrapper
    %h2=hoc_s(:how_ai_works_lessons_heading)
    = view :how_ai_works_lessons

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:how_ai_works_lessons_in_a_day_title)
    %p=hoc_s(:how_ai_works_lessons_in_a_day_desc)
    .action-block.action-block--two-col
      %figure.col-50
        = view :display_video_thumbnail, id: "introducing_ai", video_code: "Ok-xpKjKp2g", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/ai_series/ai-01-intro-to-ai.mp4"
      .text-wrapper.col-50
        %p=hoc_s(:how_ai_works_lessons_in_a_day_desc_02)
        %p
          %strong=hoc_s(:module_label_duration)
          =hoc_s(:module_duration_1_hr)
        %p
          %strong=hoc_s(:module_label_grades)
          =hoc_s(:module_grade_6_12)
        %a.link-button{href: CDO.studio_url("/s/how-ai-works-2023/lessons/8")}
          =hoc_s(:call_to_action_see_lesson_details)
      .clear

= view :section_divider_line

%section
  .wrapper
    %h2=hoc_s(:heading_additional_resources)
    %p=hoc_s(:how_ai_works_resources_desc)
    = view :how_ai_works_resources

= view :analytics_event_log_helper, event_name: AnalyticsConstants::AI_HOW_WORKS_PAGE_VISITED_EVENT
