#hocmap
  %link{rel: "stylesheet", type: "text/css", href: "/css/map.css"}
  %h2.mapheader
    %a{:href=> "https://hourofcode.com/events"}
      = I18n.t(:csedweek_map_header).gsub('#', format_integer_with_commas(fetch_hoc_metrics['total_hoc_count']))
    %a{:href=> "https://hourofcode.com/#join"}
      %button.signup-button
        = I18n.t(:host_an_hour)

  .row
    .col-sm-12
      #gmap.full-width
      .footnote
        The Hour of Code map only shows the first 200,000 registered events. All registered events with a valid address can be viewed on
        %a{href: resolve_url('/events')}
          the events page.
  #belowmaplegend.legend
    .legend-title= I18n.t(:csedweek_map_legend_title)
    .color.red
    %div= I18n.t(:csedweek_map_legend_event)
    .color.blue
    %div= I18n.t(:csedweek_map_legend_cs_tech_jam)

:javascript
  var gmap;
  var resizeZoom;
  var scrollwheelOption = false;
  var draggableOption = false;
  var resizeThrottleTimerId;
  var resizeThrottleTimeoutMs = 500;
  var maxHeightPercentage = 0.65;

  $(document).ready(function() {
    initializeMap();
    addGeocomplete();
    resizeMap();

    $(window).resize(function() {
      // Throttle calling of resizeMap
      clearTimeout(resizeThrottleTimerId);
      resizeThrottleTimerId = setTimeout(resizeMap, resizeThrottleTimeoutMs);
    });
  });

  function initializeMap() {
    var mapOptions = {
      center: new google.maps.LatLng(22.2116,4.5775),
      zoom: 2,
      scrollwheel: scrollwheelOption,
      draggable: draggableOption,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    gmap = new google.maps.Map(document.getElementById("gmap"), mapOptions);

    var layer = new google.maps.FusionTablesLayer({
      query: {
        select: 'review',
        from: '164RLDWEyPij3-Z9O0791ta_a8RfuCdGUkWRFcnBD'
      },
      styles: [{
        where: "review CONTAINS 'approved'",
        markerOptions: {
          iconName: "blu_circle"
        }
      }, {
        where: "review DOES NOT CONTAIN 'approved'",
        markerOptions: {
          iconName: "small_red"
        }
      }],
    });

    var legend = document.createElement('div');
    legend.id = 'inmaplegend';
    legend.className = 'legend';
    legend.index = 1;
    $("#belowmaplegend div").clone().appendTo(legend);

    gmap.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

    layer.setMap(gmap);

    google.maps.event.addListener(layer, 'click', function(event) {
      enableDrag();
      event.infoWindowHtml = event.row['organization_name'].value;
      if (event.row['city'].value.length > 0) {
        event.infoWindowHtml += ' (' + event.row['city'].value + ')';
      }
      if (event.row['review'].value == 'approved') {
        event.infoWindowHtml += '<br>' + event.row['description'].value;
      }
      event.infoWindowHtml += '<br>';
    });
    google.maps.event.addListener(gmap, 'zoom_changed', function(event) {
      enableDrag();
    });
    google.maps.event.addListener(gmap, 'click', function(event) {
      enableDrag();
    });
  }

  function enableDrag() {
    scrollwheelOption = true;
    draggableOption = true;

    var map_options = {
      scrollwheel: scrollwheelOption,
      draggable: draggableOption
    }
    gmap.setOptions(map_options);
  }

  function resizeMap() {
    var map_width = $('#gmap').width();
    var map_zoom = gmap.getZoom();
    var map_center = gmap.getCenter();

    // Max height of map is 2/3 of screen height so user can always scroll.
    var max_height = $(window).innerHeight() * maxHeightPercentage; 

    var window_aspect_ratio = $(window).innerHeight() / $(window).innerWidth();
    
    if  (window_aspect_ratio < 1) {
      // Landscape window. Use the current 1:2 ratio map size.
      map_height = map_width / 2;

      // But, make sure this size doesn't exceed our max height.
       map_height = Math.min(map_height, max_height);
    } 
    else {
      // Portrait window. Just use the max height so that it's taller and more usable.
      map_height = max_height;
    }

    $('#gmap').height(Math.round(map_height));

    if (map_width < 256 && map_zoom < 3) {
      map_zoom = 0;
      map_center = new google.maps.LatLng(22.2116,4.5775);
    }
    else if (map_width < 512 && map_zoom < 3) {
      map_zoom = 1;
      map_center = new google.maps.LatLng(22.2116,4.5775);
    }
    else if (map_zoom < 3) {
      map_zoom = 2;
      map_center = new google.maps.LatLng(22.2116,4.5775);
    }

    var map_options = {
      center: map_center,
      zoom: map_zoom,
      minZoom: map_zoom,
      scrollwheel: scrollwheelOption,
      draggable: draggableOption
    }

    gmap.setOptions(map_options);
  }

  function addGeocomplete() {
    var geocomplete_options = {
    };

    $("#geocomplete").geocomplete(geocomplete_options)
      .bind("geocode:result", function(event, result){
        gmap.fitBounds(result.geometry.viewport);
      });

    $("#btn-submit").click(function(){
      $("#geocomplete").trigger("geocode");
    });

    $("#btn-reset").click(function(){
      $('#geocomplete').val('');
      gmap.setCenter(new google.maps.LatLng(22.2116,4.5775));
      gmap.setZoom(2);
      info_window.close();
      resizeMap();
    });
  }
