- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

%h1
  = I18n.t('pd.logged_out.heading')

%p
  != I18n.t('pd.logged_out.body', url: CDO.code_org_url('/educate/professional-learning'))

%div
  = link_to "/users/sign_in?user_return_to=#{request.fullpath}" do
    %button= I18n.t('nav.user.signin')

  = link_to "/users/sign_up?user[user_type]=teacher&user_return_to=#{request.fullpath}" do
    %button= I18n.t('nav.user.signup')
