- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

#thanks
  %h1 Thank you for submitting your application!

  %p
    In most regions, applications are accepted on a rolling basis. And in most cases, our local partner will get back
    to you within two weeks to let you know your application status. If you have not heard back within two weeks,
    please reach out to them directly.


  %p
    In the meantime, help us support local CS expansion by visiting
    = link_to 'https://code.org/yourschool', 'https://code.org/yourschool'
    and telling us more about what computer science opportunities are available in your school. Or, visit
    = link_to 'https://code.org/educate', 'https://code.org/educate'
    for additional resources to support computer science at your school.

  %p
    Thank you for supporting computer science education at your school!

  %br
  %p
    Have feedback on the application process?
    = link_to 'Please let us know!', 'https://code.org/contact'

- ga_link = "/pd/application/teacher/submitted"
- ga_link += "?nominated=true" if params[:nominated]

:javascript
  $(document).ready(function() {
    // Report a unique page view to GA.
    ga('set', 'page', "#{ga_link}");
    ga('send', 'pageview');
  });
