- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'

#thanks
  %h1 Thank you for submitting your application!
  %h2 You will receive confirmation that your application has been submitted at the email used to complete this application.

  %p
    In most regions, applications are accepted on a rolling basis. In most cases, our Regional Partner will respond
    within two to four weeks to let you know your application status.

    - if @application.regional_partner
      If you have not heard from them within two weeks,
      please reach out to them directly at:

      %p= @application.effective_regional_partner_name
      %p= @application.regional_partner&.contact_email


  %p
    In the meantime, you can start to learn more about teaching with Code.org at
    = link_to 'https://code.org/teach', 'https://code.org/teach'

  %p
    Thank you for supporting computer science education at your school!

  %br
  %p
    Have feedback on the application process?
    = link_to 'Please let us know!', 'https://code.org/contact'
