---
title: About Us
nav: about_nav
video_player: true
theme: responsive
style_min: true
set_dir: true
---

- facebook = {:u=>'https://youtu.be/mTGSiB4kB18'}
- twitter = {:url=>'https://youtu.be/mTGSiB4kB18', :related=>'codeorg', :text=>"Meet the team at @codeorg and see how much they’ve done! (Thanks #{PegasusCdoDonor.get_random_donor_twitter} for supporting @codeorg)"}
%h1
  =hoc_s(:about_us_page_title)

%div{style: "float: left; width: 280px; margin-right: 5%"}
  =view :display_video_thumbnail, id: "codeorg_recruiting", facebook: facebook, twitter: twitter, video_code: "mTGSiB4kB18", play_button: 'center', letterbox: "false", download_path: "http://videos.code.org/social/about-codeorg.mp4"
.col-50
  =hoc_s(:about_us_page_hero_description, markdown: :inline, locals: {hour_url: "http://hourofcode.com/", others_url: "/about/supporters"})

.div{style:"clear: both;"}

%h2
  =hoc_s(:about_us_page_section_title_1)
%section
  .col-33
    %center
      %img{src: "/images/marketing/diversity/code_gender.png", style:"max-width: 100%"}
  .col-33
    %center
      %img{src: "/images/marketing/diversity/code_urg.png", style:"max-width: 100%"}
  .col-33
    %center
      %img{src: "/images/marketing/diversity/code_frl.png", style:"max-width: 100%"}
.div{style:"clear: both;"}
  %figcaption{style: "text-align: center; font-size: 13px"}
    =hoc_s(:about_us_page_statistic_figcaption, markdown: :inline, locals: {data_url: "/diversity"})
  %br
    =hoc_s(:about_us_page_statistic_description, markdown: :inline, locals: {diversity_url: "/diversity"})

%h2
  =hoc_s(:about_us_page_section_title_2)
%section
  %p
    =hoc_s(:about_us_page_section_news_description, markdown: :inline, locals: {news_url: "/about/news"})
  .col-45{style:"float: left; margin: 1%"}
    =view :display_video_thumbnail, id: "Nasdaq", video_code: "zxcBZg7jYlc", caption: "Nasdaq interviews Code.org founder Hadi Partovi", play_button: "center", letterbox: "false"
  .col-45{style: "float: left; margin: 1%"}
    =view :display_video_thumbnail, id: "codeorg_cbs", video_code: "sUXfjzzHO5g", caption: "Code.org's work covered by CBS This Morning", play_button: "center", letterbox: "false"
  .div{style:"clear: both;"}

%h2
  =hoc_s(:about_us_page_section_table)
%section
  %table
    %thead
      %tr
        %th
          =hoc_s(:about_us_page_section_table_header_1)
        %th
          =hoc_s(:about_us_page_section_table_header_2)
    %tbody
      %tr
        %td
          =hoc_s(:abous_page_section_table_cell_1_1, markdown: :inline)
        %td
          =hoc_s(:abous_page_section_table_cell_1_2, markdown: :inline, locals:{diversity_url: "/diversity"})
      %tr
        %td
          =hoc_s(:about_page_section_table_cell_2_1)
        %td
          =hoc_s(:about_page_section_table_cell_2_2, markdown: :inline, locals:{hour_url: "http://hourofcode.com/"})
      %tr
        %td
          =hoc_s(:about_page_section_table_cell_3_1)
        %td
          =hoc_s(:about_page_section_table_cell_3_2, markdown: :inline, locals:{code_studio_url: "http://studio.code.org"})
      %tr
        %td
          =hoc_s(:about_page_section_table_cell_4_1)
        %td
          =hoc_s(:about_page_section_table_cell_4_2, markdown: :inline, locals:{learning_programs_url: "/educate"})
      %tr
        %td
          =hoc_s(:about_page_section_table_cell_5_1)
        %td
          =hoc_s(:about_page_section_table_cell_5_2, markdown: :inline, locals:{schoold_disctrict_url: "/educate/partner-districts", cs_curriculum_url: "/educate/curriculum", regional_partner_url: "/educate/districts"})
      %tr
        %td
          =hoc_s(:about_page_section_table_cell_6_1)
        %td
          =hoc_s(:about_page_section_table_cell_6_2, markdown: :inline, locals:{states_url: "https://advocacy.code.org", details_url: "/advocacy/landscape.pdf"})
      %tr
        %td
          =hoc_s(:about_page_section_table_cell_7_1)
        %td
          =hoc_s(:about_page_section_table_cell_7_2)
  %center{style: "margin-top: 10px"}
    %font{size: 1}
      =hoc_s(:about_page_section_table_under_label, markdown: :inline, locals:{educators_url: "https://docs.google.com/document/d/1gySkItxiJn_vwb8HIIKNXqen184mRtzDX12cux0ZgZk/pub"})

= view :testimonials
%h2
  =hoc_s(:about_page_section_title_3)
  %p
    =hoc_s(:about_page_section_more_description_1, markdown: :inline, locals: {hadi_url: "/about/leadership/hadi_partovi", partovi_url: "https://www.crunchbase.com/person/ali-partovi#/entity", video_url: "https://www.youtube.com/watch?v=nKIu9yen5nc", efforts_url: "https://docs.google.com/document/d/1rdEUqAkYtKPMD4UeEmpZCAau4_AdIOGbZDqLkePAQrY/pub", partners_url: "https://medium.com/@codeorg/dedicating-our-5-year-anniversary-to-our-partners-b57368a92924"})
  %p
    =hoc_s(:about_page_section_more_description_2)
  %p
    =hoc_s(:about_page_section_more_description_3, markdown: :inline, locals: {efforts_url: "https://docs.google.com/document/d/1rdEUqAkYtKPMD4UeEmpZCAau4_AdIOGbZDqLkePAQrY/pub", partners_url: "/about/supporters"})
  %ul
    %li
      =hoc_s(:about_page_annual_report, markdown: :inline, locals: {report_url: "/about/annual-report"})
    %li
      =hoc_s(:about_page_section_more_list_2, markdown: :inline, locals: {core_url: "/about/values"})
    %li
      =hoc_s(:about_page_section_more_list_4, markdown: :inline, locals: {tedx_url: "https://www.youtube.com/watch?v=m-U9wzC9xLk"})
= view :section_divider_line

%h2
  =hoc_s(:about_page_section_specific_title_1)
  %p
    =hoc_s(:about_page_section_specific_description_1, markdown: :inline, locals: {read_more_url: "/about/unifying"})
  = view :section_divider_line
%h2
  =hoc_s(:about_page_section_specific_title_8)
  %p
    =hoc_s(:about_page_section_specific_description_8, markdown: :inline, locals: {partners_url: "https://code.org/about/partners"})
%h2
  =hoc_s(:about_page_section_specific_title_2)
  %p
    =hoc_s(:about_page_section_specific_description_2, markdown: :inline, locals: {values_url: "/about/values", accessibility_url: "/accessibility" })
  = view :section_divider_line
%h2
  =hoc_s(:about_page_section_specific_title_3)
  %p
    =hoc_s(:about_page_section_specific_description_3, markdown: :inline, locals: {commons_url: "http://creativecommons.org/licenses/by-nc-sa/4.0/", contact_us_url: "/contact", open_source_url: "https://github.com/code-dot-org/code-dot-org" })
  = view :section_divider_line
%h2
  =hoc_s(:about_page_section_specific_title_4)
  %p
    =hoc_s(:about_page_section_specific_description_4, markdown: :inline, locals: {advocacy_url: "/advocacy" , leaders_url: "https://youtu.be/W5QGo_Yb_Pc?list=PLzdnOPI1iJNfygSF8gKBUq7fT4Y61_h2I"})
  = view :section_divider_line
%h2
  =hoc_s(:about_page_section_specific_title_5)
  %p
    =hoc_s(:about_page_section_specific_description_5, markdown: :inline, locals: {framework_url: "http://k12cs.org"})
  = view :section_divider_line
%h2
  =hoc_s(:about_page_section_specific_title_6)
  %p
    =hoc_s(:about_page_section_donors_description_1, markdown: :inline, locals: {individuals_url: "/about/donors"})
  %p
    =hoc_s(:about_page_section_donors_description_2, markdown: :inline)
  %p
    %a.link-button{href: "/donate"}
      =hoc_s(:call_to_action_make_a_donation)
    &nbsp;&nbsp;or
    %a
      =hoc_s(:about_page_donors_link_2, markdown: :inline, locals: {donors_url: "/about/donors"})
  %p
    =hoc_s(:about_page_section_specific_description_6, markdown: :inline, locals: {irs_url_2014: "/files/irs-form.pdf", irs_url_2015: "/files/irs-form-2015.pdf", irs_url_2016: "/files/irs-form-2016.pdf", irs_url_2017: "/files/irs-form-2017.pdf", irs_url_2018: "/files/irs-form-2018.pdf", irs_url_2019: "/files/irs-form-2019.pdf", irs_url_2020: "/files/irs-form-2020.pdf", irs_url_2021: "/files/irs-form-2021.pdf", irs_url_2022: "/files/irs-form-2022.pdf", donation_policy_url: "/about/donation-policy"})
  = view :section_divider_line

%h2
  =hoc_s(:about_page_section_specific_title_7)
%p
  =hoc_s(:about_page_section_specific_description_7, markdown: :inline, locals: {sign_up_url: "https://code.org/about/hear-from-us"})
= view :social_media, facebook: "Code.org", twitter: "codeorg", instagram: "codeorg", tiktok: 'code.org'
= view :section_divider_line
= view :about_seals
