---
layout: wide
nav: events_nav
---
:ruby
  @header["title"] = hoc_s(:events_orgs_title)

:ruby
  require pegasus_dir 'helper_modules/forms'
  hoc_year = DCDO.get("hoc_year", 2017)
  kind = "HocSignup#{hoc_year}".freeze
  company_event_counts = Hash.new(0)

  events = Forms.events_by_company_name(kind)
  events.each do |event|
    company = event[:company_name].to_s
    company_event_counts[company] += 1
  end

%h1= hoc_s(:events_orgs_title)

%ul
  - company_event_counts.each_pair do |company, event_count|
    %li{class: "hoc-event-country"}
      - if event_count > 0
        = hoc_s('company_' + company)
        = event_count > 1 ? "(#{event_count} #{hoc_s(:events)})" : "(#{event_count} #{hoc_s(:event)})"
      - else
        = hoc_s('none')
