---
title: <%= hoc_s(:events_orgs_title) %>
layout: wide
nav: events_nav
---
-SOLR = Solr::Server.new(host:CDO.solr_server)

-by_company = {}

-events = SOLR.query(q:"*:*", fq:["kind_s:HocSignup2015", "location_country_s:[* TO *]", "organization_name_s:[* TO *]", "hoc_company_s:[* TO *]"], sort:'location_country_s asc, location_state_s asc', rows:1000)
-events.each do |event|
  -company = event['hoc_company_s'].to_s
  -by_company[company] = [] unless by_company.has_key?(company)
  -by_company[company] << nil

%h1= hoc_s(:events_orgs_title)

%ul
  -by_company.each_pair do |company, events|
    %li{class: "hoc-event-country"}
      %a{href: "#"}=events.count > 1 ? "#{hoc_s('company_'+company)} (#{events.count} #{hoc_s(:events)})" : "#{hoc_s('company_'+company)} (#{events.count} #{hoc_s(:event)})"
