<!DOCTYPE html>
<html dir="<%= options.localeDirection %>">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Blockly App - <%= app %>: <%= options.levelId %></title>
</head>
<body>
<% if (app === "netsim") { %>
  <link rel="stylesheet" type="test/css" href="../assets/application.css">
<% } %>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/<%= app %>.css">

  <!--
    Get jquery from our node_modules. Unfortuantely, the jquery-ui in our node_modules
    is not browser friendly. Instead, we'll grab a local version that is the
    same as what's currently on dashboard
   -->
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/dev/jquery-ui.min.js"></script>

<% if (app === "gamelab") { %>
  <script type="text/javascript" src="../js/p5play/p5.js"></script>
  <script type="text/javascript" src="../js/p5play/p5.play.js"></script>
<% } %>

<% if ((app === "maze" && options.levelId.indexOf('3_') === 0) ||
       (app === "applab" && options.levelId.indexOf('ec_') === 0) ||
       (app === "gamelab" && options.levelId.indexOf('ec_') === 0) ||
       (app === "studio" && options.levelId.indexOf('ec_') === 0) ||
       (app === "studio" && options.levelId.indexOf('js_') === 0) ||
       (app === "turtle" && options.levelId.indexOf('ec_') === 0) ||
       (app === "netsim")) { -%>
  <script type="text/javascript" src="../js/jsinterpreter/acorn.js"></script>
  <script type="text/javascript" src="../js/jsinterpreter/interpreter.js"></script>
  <script type="text/javascript" src="../js/ace/ace.js"></script>
  <script type="text/javascript" src="../js/ace/ext-language_tools.js"></script>
  <script type="text/javascript" src="../js/droplet/droplet-full.js"></script>
  <script type="text/javascript" src="../js/ace/mode-javascript.js"></script>
  <script type="text/javascript" src="../js/tooltipster/jquery.tooltipster.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/droplet/droplet.min.css">
<% } else { -%>
  <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="../js/blockly.js"></script>
  <script type="text/javascript" src="../js/<%= options.locale %>/blockly_locale.js"></script>
  <script type="text/javascript" src="../js/phaser/phaser.js"></script>
<% } -%>
  <script src="https://fb.me/react-0.13.3.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>
  <script type="text/javascript" src="../js/<%= options.locale %>/common_locale.js"></script>
  <script type="text/javascript" src="../js/<%= options.locale %>/<%= app %>_locale.js"></script>
  <script type="text/javascript" src="../js/<%= app %>.js"></script>
  <script type="text/javascript">
    function StubDialog(options) {
      this.options = options;
      console.log("Creating Dialog");
      console.log(options);
    }
    StubDialog.prototype.show = function() {
      console.log("Showing Dialog");
      if (this.options.body) {
        console.log(this.options.body.innerHTML);
      }
      console.log(this);
    };
    StubDialog.prototype.hide = function() {
      console.log("Hiding Dialog");
      console.log(this);
    };

    var appOptions = <%- JSON.stringify(options) %> ;
    // pass in some functions. These can't be define in server.js, since functions
    // get removed when we convert to json on the line above.
    appOptions.onAttempt = function(report) {
      console.log('Attempt!');
      console.log(report);
      if (report.onComplete) {
        // Notify the app that the report operation is complete
        // (important to do this asynchronously to simulate a service call or else
        //  we will have problems with the animating_ / waitingForReport_ states
        //  in the maze state machine)
        setTimeout(report.onComplete, 0);
      }
    };
    appOptions.onContinue = function () {
      console.log('Continue!');
    };
    appOptions.onResetPressed = function () {
      console.log('Reset!');
    };
    appOptions.Dialog = StubDialog;
    appOptions.rackEnv = 'development';

    <%= app %>Main(appOptions);
  </script>
  <div id="codeApp"></div>
</body>
</html>
