- if current_user && current_user.confirmation_required? && !current_user.confirmed?
  .alert.alert_warning
    %span= t('user.email_confirm_needed_required', email: current_user.email)
    %br/
    %br/
    = form_for(current_user, :url => confirmation_path(current_user), :html => { :method => :post }) do |form_c|
      = form_c.hidden_field :email
      %div= form_c.submit t('user.email_resend_confirm'), class: 'btn btn-default'
    - if params[:controller] !~ /^registrations/
      = link_to t('user.email_confirm_wrong_email'), edit_user_registration_path
