---
title: Promote Computer Science
social:
  "og:title": "What's wrong with this picture?"
  "og:description": "Only 1 in 4 schools teach computer science. To fix this, sign the petition."
  "og:image": "https://code.org/images/fit-1771x1048/cs-stats/Slide1_Schools_Teach.png"
  "og:image:width": 1771
  "og:image:height": 1048
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
video_player: true
theme: responsive
---
-state ||= nil

%script{:src=>"/js/jquery.placeholder.js"}

%link{:href=>"/css/promote.css", :rel=>"stylesheet"}
%link{:href=>"/css/interactive-map.css", :rel=>"stylesheet"}

#promote-page
  %div{:id=>'us_content'}

    %h1 Why Computer Science?
    #stats-section.section.clear.desktop-feature
      = view :stats_carousel

    #stats-section-mobile.section.clear.mobile-feature
      = view :stats_mobile

    %h1 Code.org’s Impact in Schools
    #impact-section.section.clear.desktop-feature
      = view :stats_impact_carousel

    #impact-section-mobile.section.clear.mobile-feature
      = view :stats_impact_carousel_mobile

    %h1 Join the Movement
    #petition-section.section.clear
      = view :petition

    %h1.tablet-feature Choose a State
    #interactive-map.section.clear
      = view :interactive_map, use_url: true

    %h1 Advocate for Computer Science Locally
    #advocate-locally.section.clear
      = view :stats_advocate_locally

  %div{:id=>'universal_content'}

    %h1 Tell the World!
    #youtube-section.section.clear
      %h2 Share the Code.org Video
      = view :youtube_videos

    #quotes-section.section.clear
      %h2 Leaders and Trendsetters Agree More Students Should Learn Computer Science
      = view :top_quotes

= view 'popup_window.js'

:javascript
  var petition;

  $(document).ready()
  {
    petition = new Petition();
  }
