---
title: Promote Computer Science
social:
  "og:title": "What's wrong with this picture?"
  "og:description": "Only 1 in 4 schools teach computer science. To fix this, sign the petition."
  "og:image": "https://code.org/images/fit-1771x1048/cs-stats/Slide1_Schools_Teach.png"
  "og:image:width": 1771
  "og:image:height": 1048
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
video_player: true
theme: responsive
---
-state ||= nil

%script{:src=>"/js/jquery.placeholder.js"}

%link{:href=>"/css/promote.css", :rel=>"stylesheet"}
%link{:href=>"/css/interactive_map.css", :rel=>"stylesheet"}

#promote-page
  %h1 Promote Computer Science - index

  %div{:id=>'us_content'}

    #petition-section.section.clear
      = view :petition

    #interactive-map.section.clear
      = view :interactive_map, use_url: true

    #stats-section.section.clear.desktop-feature
      %h2 What’s wrong with this picture? Share these stats
      = view :stats_carousel

    #stats-section-mobile.section.clear.mobile-feature
      %h2 Computer Science Education Stats
      = view :stats_mobile

    #tools-section.section.clear
      %h2 Tools to help you advocate locally
      = view :promote_tools, state:nil, section_name: 'local_tools'

    #resources-section.section.clear
      %h2 Policy development resources
      = view :promote_tools, state:nil, section_name: 'policy_resources'

  %div{:id=>'universal_content'}
    #youtube-section.section.clear
      %h2 Tell the world! Share the Code.org video
      = view :youtube_videos

    #quotes-section.section.clear
      %h2 Leaders and trendsetters agree more students should learn computer science
      = view :top_quotes

= view 'popup_window.js'

:javascript
  var petition;

  $(document).ready()
  {
    petition = new Petition();
  }
