---
title: Promote Computer Science
social:
  "og:description": "What’s wrong with this picture? Share these stats."
  "og:image": "http://code.org/images/cs-stats/more-jobs-than-students.png"
  "og:image:width": 1771
  "og:image:height": 1048
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
:javascript
  var petitionIncluded = false;
  var promoteIncluded = false;

-state = File.basename(request.path_info)
-facebook = {:u=>'https://code.org/promote' + (state != "thanks" ? "/" + state : "")}
-twitter = {:url=>"https://code.org", :related=>'codeorg', :hashtags=>'CSforAll', :text=>'9 out of 10 parents agree, every student should have the opportunity to learn computer science.'}

%script{:src=>"/js/jquery.placeholder.js"}

#promote-page
  %h1 Promote Computer Science

  %div{:id=>'thank-you-box'}
    %p{:id=>'thank-you-message', :style=>'display: inline-block'}
      Thank you for filling out our petition. Please help us spread the word.
      = view :share_buttons, facebook:facebook, twitter:twitter
  %div{:id=>'us_content'}
    - if state != "thanks"
      #interactive-map.section.clear
        %h2{:style=>"margin-top: 0px"} Choose a State
        = view :interactive_map, use_url: true

    #stats-section.section.clear
      %h2 What’s wrong with this picture? Share these stats.
      = view :stats_carousel

    #petition-section.section.clear
      = view :petition
    :javascript
      petitionIncluded = true;

    #tools-section.section.clear
      %h2 Tools to help you advocate locally
      = view :promote_tools, state:nil

  - if state == "thanks"
    #interactive-map.section.clear
      %h2{:style=>"margin-top: 0px"} Choose a State
      = view :interactive_map, use_url: true

  %div{:id=>'universal_content'}
    #youtube-section.section.clear
      %h2 Tell the world! Share the Code.org video.
      = view :youtube_videos

      #stateaction{:style=>'padding-left:30px'}
        %a{:href=>"/action"} See where computer science counts towards high school graduation

    #quotes-section.section.clear
      %h2 Leaders and trendsetters agree more students should learn computer science
      = view :top_quotes

= view 'popup_window.js'

:css
  #thank-you-box {
    display: none;
    padding: 8px;
    width: 100%;
    height: 50px;
    background-color: rgba(102, 209, 217, 0.5);
    float: left;
    margin-bottom: 15px
  }
  #thank-you-box .share-buttons {
    float: none;
    display: inline-block;
    margin-top: 0px;
  }
  #thank-you-box .share-buttons button {
    margin-top: 0px;
  }
  #thank-you-message {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

:javascript
  var petition;
  $(document).ready()
  {
    if (petitionIncluded) {
      petition = new Petition();
    }
    if (document.referrer.indexOf(location.host) !== -1) {
      $("#thank-you-box").show();
      $("#petition-section").hide();
    }
  }

