---
title: Promote Computer Science
social:
  "og:description": "What’s wrong with this picture? Share these stats."
  "og:image": "http://code.org/images/cs-stats/more-jobs-than-students.png"
  "og:image:width": 1771
  "og:image:height": 1048
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---
:javascript
  var petitionIncluded = false;
  var promoteIncluded = false;

-state ||= nil

%script{:src=>"/js/jquery.placeholder.js"}

#promote-page
  %h1 Promote Computer Science
  %div{:id=>'thank-you-box'}
    %p{:id=>'thank-you-message'}
      Thank you for filling out our petition. Your participation makes a difference.

  %div{:id=>'us_content'}
    #interactive-map.section.clear
      %h2{:style=>"margin-top: 0px"} Choose a State
      = view :interactive_map

    #stats-section.section.clear
      %h2 What’s wrong with this picture? Share these stats.
      = view :stats_carousel

    #petition-section.section.clear
      = view :petition
    :javascript
      petitionIncluded = true;

    #tools-section.section.clear
      %h2 Tools to help you advocate locally
      = view :promote_tools, state:nil

  %div{:id=>'universal_content'}
    #youtube-section.section.clear
      %h2 Tell the world! Share the Code.org video.
      = view :youtube_videos

      #stateaction{:style=>'padding-left:30px'}
        %a{:href=>"/action"} See where computer science counts towards high school graduation

    #quotes-section.section.clear
      %h2 Leaders and trendsetters agree more students should learn computer science
      = view :top_quotes

= view 'popup_window.js'

:css
  #thank-you-box {
    display: none;
    padding: 5px;
    width: 100%;
    height: 50px;
    background-color: rgba(102, 209, 217, 0.5);
    float: left;
    margin-bottom: 15px
  }
  #thank-you-message {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
    margin-left: 10px;
    line-height: 38px;
  }

:javascript
  var petition;
  var promote;
  $(document).ready()
  {
    if (petitionIncluded)
      petition = new Petition();

    if (promoteIncluded)
      promote = new Promote();

    if (document.referrer.indexOf(location.origin) === 0) {
      $("#thank-you-box").slideDown();
      $("#petition-section").hide();
    }
  }

