---
nav: blank
rightbar: blank
---

:ruby
  @header["title"] = hoc_s(:not_found_title)

%h1= hoc_s(:not_found_desc)
%p{style: 'font-size: 1.5em; line-height: 1.5em;'}= hoc_s(:not_found_instructions)
%ul{style: 'font-size: 1.25em; line-height: 1.5em; min-height: 240px;'}
  %li<
    %a{href:resolve_url('/learn')}= hoc_s(:header_menu_activities)
  %li<
    %a{href:resolve_url('/how-to')}= hoc_s(:header_menu_how_to)
  %li<
    %a{href:resolve_url('/promote')}= hoc_s(:header_menu_promote)
  %li<
    %a{href:resolve_url('/#faq')}= hoc_s(:header_menu_faq)
