#headshots{:style=>'width: 900px; padding: 0; margin: 0;'}
  - people.each_slice(columns) do |group|
    .headshot_row{:style=>'width: 900px; padding: 0; margin: 0;'}
      - group.each do |person|
        - column_width = columns==3 ? '300' : '160'
        .headshot_column{:style=>'width: ' + column_width + 'px; padding: 15px; margin: 0; float: left;'}
          - logo_name = person[:name_s].downcase.gsub(/\W/, '_').gsub(/_+/, '_')
          - file_path = resolve_image("images/#{logo_name}").to_s[/([^\/]*)$/]
          - avatar_url = "/images/fill-200x200/#{file_path}" unless file_path.nil_or_empty?
          - unless person[:url_s].nil_or_empty?
            %a{:href=>person[:url_s], :target=>"_self"}
              .avatar_container{:style=>'height: 200px;'}
                %img{:src=>avatar_url, :style=>'max-height: 200px; border-radius: 100px;'}
              %h3{:style=>'height: 20px;'}
                = person[:name_s]
          - else
            .avatar_container{:style=>'height: 200px;'}
              %img{:src=>avatar_url, :style=>'max-height: 200px; border-radius: 100px;'}
            %h3{:style=>'height: 20px;'}
              = person[:name_s]
          -unless person[:title_s].nil_or_empty?
            %p{:style=>'height: 40px;'}= person[:title_s]
          %p{:style=>'font-size: 13px;'}= person[:description_t]
    %br{:style=>'clear: both;'}
