%link{href: "/css/headshots.css", rel: "stylesheet", type:'text/css'}

#headshots
  - people.each_slice(3) do |group|
    .headshot_row
      - group.each do |person|
        .headshot_column
          - logo_name = person[:name_s].downcase.gsub(/\W/, '_').gsub(/_+/, '_')
          - file_path = resolve_image("images/#{logo_name}").to_s[/([^\/]*)$/]
          - unless person[:url_s].nil_or_empty?
            %a{:href=>person[:url_s], :target=>"_self"}
              = view :headshot_image, file_path: file_path
              %h3.person_name
                = person[:name_s]
          - else
            = view :headshot_image, file_path: file_path
            %h3.person_name
              = person[:name_s]
          -unless person[:title_s].nil_or_empty?
            %p.person_title= person[:title_s]
          %p.person_description= person[:description_t]
    %br{:style=>'clear: both;'}
