#choose_country
  -if @country != 'uk'
    %h2= hoc_s(:choose_country_header)
    %ul
      -HOC_COUNTRIES.keys.each do |country|
        %li
          -country_url = "/#{country}"
          -country_url += "/#{@user_language}" if @user_language
          %a{href:country_url}= hoc_s("country_#{country}")

%h2 Prizes for every organizer
%ul
  %li Every Hour of Code organizer will receive Dropbox or Skype credit as a thank you
  -if @country == 'us'
    %li One public school in every US state (& Washington DC) will win $10,000 worth of technology 
    %li 50 classrooms will win video chats with very special guests
