- subheading ||= nil
- company = request.GET["company"]
- shuffle ||= false
- items = tutorials.find_with_grade_level(gradelevel)

- if items.count > 0
  - if shuffle
    - items = items.to_a.shuffle.to_h

  %hr

  %h3.centered{style: "font-size: 1.5rem; margin-block: 4rem 2rem"}!= heading

  .carousel-wrapper
    %swiper-container.three-col{id: id, navigation: "true", "navigation-next-el": ".swiper-nav-next.#{id}", "navigation-prev-el": ".swiper-nav-prev.#{id}", init: "false"}
      - items.each do |key, tutorial|
        - url = tutorials.launch_url_for(key, request.host_with_port)
        - url = "#{url}?company=#{company}" if company
        %swiper-slide
          .action-block-wrapper
            .action-block.action-block--one-col.white.flex-space-between
              .content-wrapper
                %p.overline-two= tutorial[:age]
                %h4{style: "font-size: 18px;"}
                  = tutorial[:name]
                %img{src: tutorial[:image].sub("/images/", CDO.code_org_url("/images/fill-480x360/")).sub(".png", ".jpg"), alt: ""}
                %p
                  %strong=hoc_s(:module_label_devices)
                  = tutorial[:platformtext]
                %p.slide-longdescription= tutorial[:longdescription]
              .content-footer
                %a.link-button{href: url, target: "_blank", aria: {label: hoc_s(:module_label_visit_site, markdown: :inline, locals: {site_name: tutorial[:name]})}}
                  =I18n.t(:go)

    %button.swiper-nav-prev{class: id}
    %button.swiper-nav-next{class: id}
