%div.resources-navigation
  %div.nav-header= hoc_s(:events_nav_title)
  %div.nav-item
    %a.nav-link{href: resolve_url('/events/all')}
      = hoc_s(:events_nav_all)
  %div.nav-item
    %a.nav-link{href: resolve_url('/events/schools')}
      = hoc_s(:events_nav_whole_schools)
  %div.nav-item
    %a.nav-link{href: resolve_url('/events/special')}
      = hoc_s(:events_nav_special)

= view :resources_nav
