- learn_url = resolve_url('/learn')

%h1= hoc_s(:hoc_faq_title)

%details
  %summary#about= hoc_s(:hoc_faq_what_is_hoc_q)
  %p!= hoc_s(:hoc_faq_what_is_hoc_a_markdown, markdown: :inline, locals: {tutorials: learn_url, partners: resolve_url('/partners')})

%details
  %summary= hoc_s(:hoc_faq_when_is_hoc_q)
  %p!= hoc_s(:hoc_faq_when_is_hoc_a_markdown, markdown: :inline, locals: {csedweek_url: 'https://csedweek.org', campaign_date_year: campaign_date('year'), campaign_date_full: campaign_date('full'), grace_hopper: 'http://en.wikipedia.org/wiki/Grace_Hopper'})

%details
  %summary= hoc_s(:hoc_faq_why_cs_q)
  %p!= hoc_s(:hoc_faq_why_cs_a_markdown, markdown: :inline, locals: {stats_url: resolve_url('/promote/stats')})

%details
  %summary= hoc_s(:hoc_faq_how_participate_q)
  %p!= hoc_s(:hoc_faq_how_participate_a_markdown, markdown: :inline, locals: {howto: resolve_url('/how-to')})

%details
  %summary= hoc_s(:hoc_faq_behind_hoc_q)
  %p!= hoc_s(:hoc_faq_behind_hoc_a_markdown, markdown: :inline, locals: {partner_url: resolve_url('/partners')})

%details
  %summary= hoc_s(:hoc_faq_host_q)
  %p!= hoc_s(:hoc_faq_host_a_markdown, markdown: :inline, locals: {learn_url: learn_url, howto_url: resolve_url('/how-to')})

%details
  %summary= hoc_s(:hoc_faq_devices_q)
  %p!= hoc_s(:hoc_faq_devices_a_markdown, markdown: :inline, locals: {it_url: codeorg_url('/educate/it'), learn_url: learn_url, unplugged_url: resolve_url('/learn?platform=no-computers')})

%details
  %summary= hoc_s(:hoc_faq_need_computers_q)
  %p!= hoc_s(:hoc_faq_need_computers_a_markdown, markdown: true, locals: {pair_programming_research: 'http://www.ncwit.org/resources/pair-programming-box-power-collaborative-learning', pair_programming_video: 'https://www.youtube.com/watch?v=vgkahOzFsummaryQ', unplugged_url: resolve_url('/learn?platform=no-computers')})

-if @country == 'us'
  %details
    %summary= hoc_s(:hoc_faq_logo_q)
    %p!= hoc_s(:hoc_faq_logo_a_markdown, markdown: :inline, locals: {logo_url: "https://support.code.org/hc/en-us/articles/202518403"})

-if @country != 'us'
  %details
    %summary= hoc_s(:hoc_faq_international_q).gsub(/<country>/, HOC_COUNTRIES[@country]['full_name'])
    %p!= hoc_s(:hoc_faq_international_a_markdown, markdown: :inline, locals: {promote: resolve_url('/promote')})

%details
  %summary= hoc_s(:hoc_faq_tutorial_q)
  %p!= hoc_s(:hoc_faq_tutorial_a_markdown, markdown: :inline, locals: {tutorial_guidelines: resolve_url('/tutorial-guidelines')})

%details
  %summary= hoc_s(:hoc_faq_account_q)
  %p!= hoc_s(:hoc_faq_account_a_markdown, markdown: :inline, locals: {beyond_url: resolve_url('/beyond'), section_instructions_url: "https://support.code.org/hc/en-us/articles/115000488132-Creating-a-classroom-section"})

%details
  %summary= hoc_s(:hoc_faq_certificates_q)
  %p!= hoc_s(:hoc_faq_certificates_answer_markdown, markdown: :inline, locals: {certificates_url: codeorg_url('/certificates')})

%details
  %summary= hoc_s(:hoc_faq_high_school_q)
  %p!= hoc_s(:hoc_faq_high_school_a_markdown, markdown: :inline, locals: {learn_url: learn_url})

%details
  %summary= hoc_s(:hoc_faq_count_hoc_q)
  %p!= hoc_s(:hoc_faq_count_hoc_a_markdown, markdown: :true)

%details
  %summary= hoc_s(:hoc_faq_map_q)
  %p!= hoc_s(:hoc_faq_map_a_markdown, markdown: :inline, locals: {events_url: resolve_url('/events')})

%details
  %summary= hoc_s(:hoc_faq_one_hour_q)
  %p!= hoc_s(:hoc_faq_one_hour_a_markdown, markdown: true)

%details
  %summary= hoc_s(:hoc_faq_keep_learning_q)
  %p!= hoc_s(:hoc_faq_keep_learning_a_markdown, markdown: :inline, locals: {promote: resolve_url('/promote')})

%details
  %summary= hoc_s(:hoc_faq_bug_q)
  %p!= hoc_s(:hoc_faq_bug_a_markdown, markdown: :true)
