- require 'cdo/footer'
- options = {ge_region: params[:ge_region]}
- footer_contents = Cdo::Footer.get_footer_contents(options)
%footer#pagefooter
  #footer-links
    %ul.hide-responsive-footer-menu
      - links = (footer_contents[:links][:hour_of_code] || []).map(&:dup)
      - links.each do |link|
        - if link[:domain] == 'studio.code.org'
          - link[:href] = CDO.studio_url(link[:url])
        - elsif link[:domain] == 'code.org'
          - link[:href] = codeorg_url(link[:url])
        - elsif link[:title] == 'cookie'
          - link[:href] = resolve_url(link[:url])
        - else
          - link[:href] = link[:url]
          - link[:rel] = "noopener noreferrer nofollow"
        %li
          %a{link.except(:title, :url, :domain)}= hoc_s("footer_menu_#{link[:title]}")
    #footer-toggle
      %a{href: "#"}
        Code.org
        %i{:class=>"fa fa-chevron-up"}
  #copyright
    = hoc_s(:footer_copyright_message, locals: {current_year: "#{Time.now.year}"})
    %br
    = hoc_s(:footer_trademark_message)
    %br
    = hoc_s(:footer_built_on_github)
  #powered-by-aws
    %a{:href=>"https://aws.amazon.com/what-is-cloud-computing"}
      %img{:src=>"/shared/images/Powered-By_logo-horiz_RGB_REV.png", :alt=>"Powered by AWS Cloud Computing", :style=>"width: 190px"}
