%footer#pagefooter
  .content
    %div{:style=>"clear:both; float: left;"}
      %small.dim
        = hoc_s(:footer_copyright_message)
        %br
        = hoc_s(:footer_trademark_message)
    %div{:style=>"float:right"}
      %small{:style=>"opacity:0.5"}
        %a.whitefooterlink{:href=>"https://www.facebook.com/Code.org/", :target=>"_blank"} <i class="fa fa-facebook fa-lg"></i>
        &nbsp; &nbsp;
        %a.whitefooterlink{:href=>"https://twitter.com/codeorg", :target=>"_blank"} <i class="fa fa-twitter fa-lg"></i>
        &nbsp; &nbsp;
        %a.whitefooterlink{:href=>"https://www.instagram.com/codeorg/", :target=>"_blank"} <i class="fa fa-instagram fa-lg"></i>
        &nbsp; &nbsp;
        %a.whitefooterlink{:href=>"http://codeorg.tumblr.com", :target=>"_blank"} <i class="fa fa-tumblr fa-lg"></i>
        &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{:href=>"http://support.code.org/hc/en-us/requests/new", :style=>"font-size: 12px;", :target=>"_blank"}= hoc_s(:footer_menu_contact)
        &nbsp; &nbsp; | &nbsp; &nbsp;  
        %a.whitefooterlink{:href=>"http://support.code.org", :style=>"font-size: 12px;", :target=>"_blank"}= hoc_s(:footer_menu_support)
        &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{href:resolve_url('/partners'), :style=>"font-size: 12px;", :target=>"_blank"}=hoc_s(:footer_menu_partners)
        &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{:href=>resolve_url('https://code.org/tos'), :style=>"font-size: 12px;", :target=>"_blank"}= hoc_s(:footer_menu_terms)
        &nbsp; &nbsp; | &nbsp; &nbsp;
        %a.whitefooterlink{:href=>resolve_url('https://code.org/privacy'), :style=>"font-size: 12px;", :target=>"_blank"}= hoc_s(:footer_menu_privacy)
        