#pageheader.row{style: "background-color: rgba(0, 178, 192, 0.5) "}
  .container{style:'overflow:visible'}
    .row
      #left{style: "padding-left: 15px; padding-top: 15px"}
        #hoc-header-branding{style: "border-left: 0px; border-right: 0px"}
          #logoholder{style: "position:relative"}
            #imageheld{style: "position:absolute; top:-18px; left:0"}
              %a{href:resolve_url('/')}
                %img{src: localized_image('/images/hour-of-code-logo.png'), alt: hoc_s(:hour_of_code)}
        
      #language-dropdown.hidden-xs{style: "visibility: hidden;"}
        = view :language_dropdown
      #right.hidden-xs
        %a.headerlink{href:resolve_url('/how-to'), style: "margin-left:0px"}= hoc_s(:header_menu_how_to)
        %a.headerlink{href:resolve_url('/promote')}= hoc_s(:header_menu_promote)
        - if request.path == "/"
          %a.headerlink{href:"#", onclick:"return adjustScroll('faqs')"}= hoc_s(:header_menu_faq)
        - else
          %a.headerlink{href:resolve_url('/#faq')}= hoc_s(:header_menu_faq)
        %a.headerlink{href:resolve_url('/prizes')}= hoc_s(:header_menu_prizes)
