#pageheader
  .container
    #hoc-header-branding
      %a{href:resolve_url('/')}
        - if @language == 'es' || @language == 'la'
          %img{src: localized_image('/images/hora-del-codigo-logo.png'), alt: hoc_s(:hour_of_code)}
        -else
          %img{src: localized_image('/images/hour-of-code-logo.png'), alt: hoc_s(:hour_of_code)}
    #hoc-header-main
      #language-dropdown
        = view :language_dropdown
      #hoc-nav
        %ul.hide-responsive-menu
          %li
            %a{href:resolve_url('/learn'), title:hoc_s(:header_menu_activities)}= hoc_s(:header_menu_activities)
          %li
            %a{href:resolve_url('/how-to'), title:hoc_s(:header_menu_how_to)}= hoc_s(:header_menu_how_to)
          %li
            %a{href:resolve_url('/promote'), title:hoc_s(:header_menu_promote)}= hoc_s(:header_menu_promote)
          %li
            - if request.path == "/"
              %a{href:"#", onclick:"return adjustScroll('faqs')", title:hoc_s(:header_menu_faq)}= hoc_s(:header_menu_faq)
            - else
              %a{href:resolve_url('/#faq'), title:hoc_s(:header_menu_faq)}= hoc_s(:header_menu_faq)
        %a#hoc-nav-hamburger{href: "#"}
          &#9776;
%div{style: "clear: both;"}
