- url = item[:url_s] || nil
- image_path = "/images/highlights/fill-260x260/#{item[:image_url_s]}"
- unless item[:image_url_s].blank?
  .highlight-item
    %a.learnmore-link{href: url, target: '_blank'}
      .highlight-img{style: "background-image:url(#{image_path})"}
      .highlight-caption
        %h4.caption-headline= item[:short_heading_s]
        - unless item[:heading_s].blank?
          .highlight-description= item[:heading_s]
        %br
        - unless item[:link_text_s].blank?
          .learn-button= item[:link_text_s]
