:ruby
  event_count = format_integer_with_commas(fetch_hoc_metrics['total_hoc_count'])
  year = campaign_date('year')
  events_text = hoc_s(:map_header_count_year_so_far, locals: {event_count: event_count, year: year})

-if @company
  -company_name = hoc_s("company_" + @company)
  -company_total = format_integer_with_commas(company_count)
  = succeed "." do
    = events_text + ","
    = hoc_s(:map_header_company).gsub('#', company_total).gsub('company', company_name)
-elsif @country != 'us'
  -country_total = format_integer_with_commas(country_count)
  -country_total = "0" if country_total == ""
  = succeed "." do
    = events_text + ","
    -# TODO - FND-1894: Removed `gsub` usage
    = hoc_s(:map_header_country, locals: {country_total: country_total, country: country_full_name}).gsub('#', format_integer_with_commas(country_total))
-else
  = succeed "." do
    = events_text
