%div.resources-navigation
  %a.nav-link{href: resolve_url('/how-to')}
    %div.nav-header= hoc_s(:resources_how_to_guides)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to')}
      = hoc_s(:how_to_nav_educators)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/companies')}
      = hoc_s(:how_to_nav_companies)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/districts')}
      = hoc_s(:how_to_nav_districts)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/events')}
      = hoc_s(:how_to_nav_assemblies)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/parents')}
      = hoc_s(:how_to_nav_parents)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/public-officials')}
      = hoc_s(:how_to_nav_public_officials)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/volunteers')}
      = hoc_s(:how_to_nav_volunteers)
  %div.nav-item
    %a.nav-link{href: resolve_url('/how-to/virtual')}
      = hoc_s(:how_to_nav_virtual)
= view :resources_nav
