- subheading ||= nil
- company = request.GET['company']
- shuffle ||= false
- items = tutorials.find_with_grade_level(gradelevel)
- item_count = 3

- if items.count > 0
  - if shuffle
    - items = items.to_a.shuffle.to_h
  %h3{:class=>'course-carousel-title', :style=>"margin-bottom:8px"}!= heading

  - unless subheading.nil_or_empty?
    %p!= subheading

  .learnpage{:style=>'position:relative'}
    .carousel-wrapper
      %div{id: id, class: 'carousel course-carousel'}
        .slides
          - items.each_slice(item_count) do |slice|
            .slide.clear
              - slice.each do |key, tutorial|
                - url = tutorials.launch_url_for(key, request.host_with_port)
                - url = "#{url}?company=#{company}" if company
                .action-block-wrapper
                  .action-block.action-block--one-col.flex-space-between
                    .slide-img-1
                      %a{:href=>url, :target=>'_blank'}<
                        .slide-tags.age-tags= tutorial[:age]
                      %h2{style: "font-size: 18px;"}
                        = tutorial[:name]
                        %img{:src=>tutorial[:image].sub("/images/", CDO.code_org_url("/images/fit-520/")).sub(".png", ".jpg"), style: "margin-top: 10px;"}
                    .slide-text-1
                      .slide-tags= tutorial[:platformtext]
                      %p.slide-longdescription= tutorial[:longdescription]
                    %a.link-button{:href=>url, :target=>'_blank'}<
                      =I18n.t(:go)
      .pagination
        %div{:id => "pagination-#{id}"}
      %button.slide-prev{:href=>'#'}<
        %span<
          %span.label= I18n.t(:previous)
      %button.slide-next{:href=>'#'}<
        %span<
          %span.label= I18n.t(:next)
