%div.resources-navigation
  %div.nav-header= hoc_s(:prizes_nav_title)
  %div.nav-item
    %a.nav-link{href: resolve_url('/prizes')}
      = hoc_s(:prizes_nav_home)
  %div.nav-item
    %a.nav-link{href: resolve_url('/prizes/hardware-signup')}
      = hoc_s(:prizes_nav_hardware)
  %div.nav-item
    %a.nav-link{href: resolve_url('/prizes/terms')}
      = hoc_s(:prizes_nav_terms)
  %div.nav-item
    %a.nav-link{href: resolve_url('/prizes/faq')}
      = hoc_s(:prizes_nav_faq)
= view :resources_nav
