%a{:id => "videos"}
%h2= hoc_s(:videos_title)

.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube-nocookie.com/embed/VYqHGIR7a_k?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?v=VYqHGIR7a_k"}= hoc_s(:videos_creativity)
  %a{:href => "//videos.code.org/social/creativity-is.mp4"}
    %img{:src => "/images/download.png", :width => "30px"}

.video
  %a{:href => "https://www.youtube.com/playlist?list=PLzdnOPI1iJNcXMS80NRhQd0NA3po1swJf", :target => "_blank"}
    %img.dance-thumbnail-tile-img{:src => "/images/fit-350/dance_playlist_thumbnail.png"}
    %br
    = hoc_s(:videos_creativity_series)

%div{style: "clear:both"}

.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube-nocookie.com/embed/nKIu9yen5nc?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?v=nKIu9yen5nc"}= hoc_s(:videos_what_most_schools_dont_teach)
  %a{:href => "https://dl.dropbox.com/sh/6sdjczibjih6x8s/Rjs8XgYNzr/Code-5-minute.mov?dl=1"}
    %img{:src => "/images/download.png", :width => "30px"}

.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube-nocookie.com/embed/FC5FbmsH4fw?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?FC5FbmsH4fw"}= hoc_s(:videos_hoc_2014)
  %a{:href => "http://s3.amazonaws.com/cdo-videos/HoC-video-15mb.mp4"}
    %img{:src => "/images/download.png", :width => "30px"}

.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube-nocookie.com/embed/6XvmhE1J9PY?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?6XvmhE1J9PY"}= hoc_s(:videos_obama_cs)

.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube-nocookie.com/embed/qYZF6oIZtfc?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?qYZF6oIZtfc"}= hoc_s(:videos_anybody_can_learn)
  %a{:href => "https://dl.dropbox.com/sh/6sdjczibjih6x8s/_0RSOSY8oW/Code-1-min.mov?dl=1"}
    %img{:src => "/images/download.png", :width => "30px"}

%div{:style => 'clear:both'}
