%a{:id => "videos"}
%h2= hoc_s(:videos_title)

%div.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube.com/embed/nKIu9yen5nc?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?v=nKIu9yen5nc"}= hoc_s(:videos_what_most_schools_dont_teach)
  %a{:href => "https://dl.dropbox.com/sh/6sdjczibjih6x8s/Rjs8XgYNzr/Code-5-minute.mov?dl=1"}
    %img{:src => "/images/download.png", :width => "30px"}

%div.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube.com/embed/FC5FbmsH4fw?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?FC5FbmsH4fw"}= hoc_s(:videos_hoc_2014)
  %a{:href => "http://s3.amazonaws.com/cdo-videos/HoC-video-15mb.mp4"}
    %img{:src => "/images/download.png", :width => "30px"}

%div.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube.com/embed/6XvmhE1J9PY?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?6XvmhE1J9PY"}= hoc_s(:videos_obama_cs)

%div.video
  %iframe{:width => "350", :height => "195", :src => "https://www.youtube.com/embed/qYZF6oIZtfc?iv_load_policy=3&rel=0&autohide=1&showinfo=0", :frameborder => "0", :allowFullScreen => "true"}
  %br
  %a{:href => "https://www.youtube.com/watch?qYZF6oIZtfc"}= hoc_s(:videos_anybody_can_learn)
  %a{:href => "https://dl.dropbox.com/sh/6sdjczibjih6x8s/_0RSOSY8oW/Code-1-min.mov?dl=1"}
    %img{:src => "/images/download.png", :width => "30px"}

%div{:style => 'clear:both'}
