%div.resources-navigation
  %div.nav-header= hoc_s(:resources_promote)
  - if @country != 'us'
    %div.nav-item
      %a.nav-link{href: resolve_url('/promote/country-resources')}
        = hoc_s(:resources_country_resources)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote')}
      = hoc_s(:resources_nav_spread_word)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#onepager')}
      = hoc_s(:resources_one_pager)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#brochure')}
      = hoc_s(:resources_brochure)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#videos')}
      = hoc_s(:resources_videos)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#posters')}
      = hoc_s(:resources_posters)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#banners')}
      = hoc_s(:resources_banners)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#logo')}
      = hoc_s(:resources_logo)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#stickers')}
      = hoc_s(:resources_stickers)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/resources#sample-emails')}
      = hoc_s(:resources_emails)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/stats')}
      = hoc_s(:resources_stats)
  %div.nav-item
    %a.nav-link{href: resolve_url('/promote/press-kit')}
      = hoc_s(:resources_press_kit)
= view :resources_nav
