- require 'country_codes'
%script{type: "text/javascript", src: "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"}
%link{rel: "stylesheet", type: "text/css", href: "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"}

- signup_submit_error_message = hoc_s(:signup_submit_error_message).gsub(/"/,"\\\\\"")
- signup_submit_census_error_message = hoc_s(:signup_submit_census_error_message).gsub(/"/,"\\\\\"")
- hoc_year = DCDO.get("hoc_year", 2017)

#signupform
  %h2#signup-header= hoc_s(:signup_header).gsub(/%{campaign_date}/, campaign_date("full"))
  %h2#census-header{style: "display: none;"}= hoc_s(:census_header)
  #error_message
  %form{:id=>"hoc-signup-form", role: "form", onsubmit: "event.preventDefault();"}
    .main-form
      .form-group
        %label.control-label{for: "hoc-name"}
          = hoc_s(:signup_name_label)
          %span.required*
        %div
          %input#hoc-name.form-control{name: "name_s", placeholder: hoc_s(:signup_name_placeholder), type: "text"}
        #name-error.error-message{style: "display:none;"}
          = hoc_s(:signup_name_error)

      .form-group
        %label.control-label{for: "hoc-email"}
          = hoc_s(:signup_email_label)
          %span.required*
        %div
          %input#hoc-email.form-control{name: "email_s", placeholder: hoc_s(:signup_email_placeholder), type: "text"}
        #email-error.error-message{style: "display:none;"}
          = hoc_s(:signup_email_error)
        #email-invalid-error.error-message{style: "display:none;"}
          = hoc_s(:signup_invalid_email_error)

      .form-group
        %label.control-label{for: "hoc-event-country"}
          = hoc_s(:signup_event_country_label)
          %span.required*
        %select#country.form-control{name: "hoc_event_country_s", type: "select"}
          %option{value: "", selected: true, disabled: true}
          - get_all_countries().each do |code, name|
            %option{value: code}= name
        #country-error.error-message{style: "display:none;"}
          = hoc_s(:signup_event_country_error)

      .form-group
        %label.control-label{for: "hoc-event-type"}
          = hoc_s(:signup_event_type_label)
          %span.required*
        %div
          %select#hoc-event-type.form-control{name: "event_type_s", type: "select"}
            %option{value: nil, selected: true}
            -%w(in_school out_of_school at_home).each do |event_type|
              %option{value: event_type}= hoc_s('signup_event_type_' + event_type)
        #event-type-error.error-message{style: "display:none;"}
          = hoc_s(:signup_event_type_error)

      #school-autocomplete{style: "display: none;"}
        .form-group#school-selector

      .form-group#school-name-field{style: "display: none;"}
        %label.control-label{for: "school-name"}
          = hoc_s(:school_name)
          %span.required*
        %div
          %input#school-name.form-control{name: "school_name_s", type: "text"}
        #school-name-error.error-message{style: "display:none;"}
          = hoc_s(:school_name_error)

      .form-group#organization-name-field{style: "display: none;"}
        %label.control-label{for: "hoc-organization-name"}
          = hoc_s(:signup_organization_name_label)
          %span.required*
        %div
          %input#organization-name.form-control{name: "organization_name_s", type: "text"}
        #organization-name-error.error-message{style: "display:none;"}
          = hoc_s(:signup_organization_name_error)

      .form-group#hoc-event-location-field{style: "display: none;"}
        %label.control-label{for: "hoc-event-location"}
          = hoc_s(:signup_event_location_label)
          %span.required*
        %div#hoc-event-location-selector
        #event-location-error.error-message{style: "display:none;"}
          = hoc_s(:signup_event_location_error)

      .form-group#hoc-entire-school{style: "display: none;"}
        .checkbox
          %label
            %input#hoc-entire-school-flag{name: "entire_school_flag_b", type: "checkbox", value: "1"}/
            = hoc_s(:signup_event_entire_school_label)

      .form-group
        .checkbox
          %label
            %input#hoc-special-event-flag{name: "special_event_flag_b", type: "checkbox", value: "1"}/
            = hoc_s(:signup_special_event_flag_label)

      .form-group{style: "display: none;"}
        %label.control-label{for: "hoc-special-event-details"}
          = hoc_s(:signup_special_event_details_label)
        %div
          %textarea#hoc-special-event-details.form-control{name: "special_event_details_s", placeholder: hoc_s(:signup_special_event_details_placeholder), style: "height: 5em;"}

      .form-group
        .checkbox
          %label
            %input#hoc-match-volunteer-flag{name: "match_volunteer_flag_b", type: "checkbox", value: "1"}/
            = hoc_s(:signup_match_volunteer)

      .form-group
        %label.control-label{for: "hoc-email-preference-opt-in"}
          = hoc_s(:signup_email_preference_opt_in)
          %a{href: codeorg_url('/privacy'), target: '_blank'}
            = hoc_s(:signup_email_preference_privacy)
          %span.required*
        %div
          %select#email-preference.form-control{name: "email_preference_opt_in_s", type: "select"}
            %option{value: nil, selected: true}
            -['yes', 'no'].each do |email_preference|
              %option{value: email_preference}= hoc_s('signup_email_preference_' + email_preference)
        #email-preference-error.error-message{style: "display:none;"}
          = hoc_s(:signup_email_preference_error)

      %input{name:'hoc_country_s', type:'hidden', value:@country}
      %input{name:'hoc_company_s', type:'hidden', value:@company}

    #submit
      %p.footnote
        = hoc_s(:signup_multiple_event_warning)
        %strong= hoc_s(:signup_registration_deadline)
      .form-group.submit-btn#submit-btn
        %div
          %button{type: "submit"}= hoc_s(:signup_submit_label)
      .form-group.continue-btn#continue-btn{style: "display: none;"}
        %div
          %button.submit-btn#continue{type: "button"}
            = hoc_s(:signup_submit_and_continue_label)


  %form{:id=>"census-form", role: "form", onsubmit: "event.preventDefault();", style: "display: none;"}
    .main-census-form
      %input{id:'school_year', name:'school_year', type:'hidden', value: hoc_year}
      %input{id:'census_email', name:'submitter_email_address', type:'hidden', value:''}
      %input{id:'census_name', name:'submitter_name', type:'hidden', value:''}
      %input{id:'census_school_id', name:'nces_school_s', type:'hidden', value:''}
      %input{id:'census_country', name:'country_s', type:'hidden', value:''}
      %input{id:'census_school_name', name:'school_name_s', type:'hidden', value:''}
      %input{id:'census_location', name:'school_location', type:'hidden', value:''}
      #census-questions
        =view :census_questions
        #submit-census
          .form-group.submit-btn
            %div
              %button{type: "submit"}= hoc_s(:signup_submit_census_label)

:javascript
  var thanksUrl = "#{resolve_url('thanks')}";
  var signupErrorMessage = "#{signup_submit_error_message}";
  var censusErrorMessage = "#{signup_submit_census_error_message}";
  var hocYear = "#{hoc_year}"
  if (typeof mapboxgl === 'object') {mapboxgl.accessToken = "#{CDO.mapbox_access_token}";}
