- @page_title = "#{@lesson_data[:displayName]} - #{t('stage_number', number: @lesson_data[:position])}"

%link{href: asset_path('css/lessons.css'), rel: 'stylesheet', type: 'text/css'}
%script{src: webpack_asset_path('js/lessons/show.js'),
        data: {lesson: @lesson_data.to_json, customBlocksConfig: Block.for('GamelabJr').to_json}}
%script{src: webpack_asset_path('js/googleblockly.js')}
%script{src: webpack_asset_path("js/#{js_locale}/blockly_locale.js")}

= render partial: 'shared/emulate_print_media'

#show-container

- if current_user&.teacher?
  %div#ai-differentiation-fab-mount-point

- if can? :edit, @lesson
  = render layout: 'shared/extra_links' do
    %strong= @lesson.name
    %ul
      - if Rails.application.config.levelbuilder_mode
        %li= link_to "Edit", @lesson.get_uncached_edit_path
        %li
          #copy-lesson-button
      - else
        %li= link_to 'Edit on levelbuilder', URI.join("https://levelbuilder-studio.code.org/", script_lesson_path(@lesson.script, @lesson)).to_s
