%link{href: asset_path('css/lessons.css'), rel: 'stylesheet', type: 'text/css'}
%script{src: webpack_asset_path('js/lessons/show.js'),
        data: {lesson: @lesson_data.to_json}}

= render partial: 'shared/emulate_print_media'

#show-container

- if can? :edit, @lesson
  = render layout: 'shared/extra_links' do
    %strong= @lesson.name
    %ul
      - if Rails.application.config.levelbuilder_mode
        %li= link_to "Edit", script_lesson_edit_path(@lesson.script, @lesson)
      - else
        %li= link_to 'Edit on levelbuilder', URI.join("https://levelbuilder-studio.code.org/", script_lesson_path(@lesson.script, @lesson)).to_s

