-# FontAwesome icon
- icon_book = "fa-solid fa-book"

- video_101_index = 5

- video_101_title = [hoc_s(:ai_pl_101_video_title_1), hoc_s(:ai_pl_101_video_title_2), hoc_s(:ai_pl_101_video_title_3), hoc_s(:ai_pl_101_video_title_4), hoc_s(:ai_pl_101_video_title_5)]

- video_101_desc = [hoc_s(:ai_pl_101_video_desc_1), hoc_s(:ai_pl_101_video_desc_2), hoc_s(:ai_pl_101_video_desc_3), hoc_s(:ai_pl_101_video_desc_4), hoc_s(:ai_pl_101_video_desc_5)]

- video_code = ["ik70A1ge-aY", "DosAhBSjNds", "cGWEYDt4Dt0", "P14XpLzaEac", "BBO8-Y65eYc"]

.carousel-wrapper#ai_101_videos
  .carousel.blocks
    .slides
      - video_101_index.times do |index|
        .slide
          .slide-content
            .action-block.action-block--one-col
              .content-wrapper
                %figure.video-responsive
                  %div
                    %iframe{allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/#{video_code[index]}"}
                %h3
                  = video_101_title[index]
                %p
                  = video_101_desc[index]
              .content-footer
                - if index === 1
                  %p
                    %i{class: "#{icon_book}"}
                    %strong=hoc_s(:ai_pl_101_resources_guide)
                    %a.has-external-link{href: "https://docs.google.com/presentation/d/1WXvjG9TscUuH5Xz8Pj2okz6lMIKV__g0v6AoYVXKb40/copy", target: "_blank", rel: "noopener noreferrer"}
                      =hoc_s(:ai_pl_101_llm_slides_title)
                - if index === 2
                  %p
                    %i{class: "#{icon_book}"}
                    %strong=hoc_s(:ai_pl_101_resources_guide)
                    %a.has-external-link{href: "http://bit.ly/TransformLearningAI", target: "_blank", rel: "noopener noreferrer"}
                      =hoc_s(:ai_pl_101_resources_3)
                - if index === 3
                  %p
                    %i{class: "#{icon_book}"}
                    %strong=hoc_s(:ai_pl_101_resources_guide)
                    %a.has-external-link{href: "http://bit.ly/AIRespUse", target: "_blank", rel: "noopener noreferrer"}
                      =hoc_s(:ai_pl_101_resources_5)

  = view :carousel_pagination, carousel_id: "ai_101_videos-pagination", carousel_index: "3"
