:ruby
  resource_item = [
    {
      overline: hoc_s(:module_label_educator_course),
      title: hoc_s(:hoc_ai_resources_adobe_title),
      image: "/images/ai/resources_adobe_express_ai.png",
      desc: hoc_s(:hoc_ai_resources_adobe_desc),
      url: "https://edex.adobe.com/professional-learning/self-paced-course/generative-ai-in-the-classroom-with-adobe-express?sdid=12B9DQXM&mv=partner",
      button_label: hoc_s(:call_to_action_explore_course),
      aria_label: hoc_s(:hoc_ai_resources_adobe_aria_label)
    },
    {
      overline: hoc_s(:module_label_educator_resources),
      title: hoc_s(:hoc_ai_resources_microsoft_02_title),
      image: "/images/ai/resources_microsoft_02.png",
      desc: hoc_s(:hoc_ai_resources_microsoft_02_desc),
      url: "https://learn.microsoft.com/en-us/training/educator-center/topics/ai-for-education",
      button_label: hoc_s(:call_to_action_explore_resources),
      aria_label: hoc_s(:hoc_ai_resources_microsoft_02_aria_label)
    },
    {
      overline: hoc_s(:module_label_educator_tool),
      title: hoc_s(:ai_pl_101_explore_title_1),
      image: "//code.org/images/ai/pl/101/explore_1.png",
      desc: hoc_s(:ai_pl_101_explore__desc_1),
      url: "https://blog.khanacademy.org/teacher-khanmigo/?utm_source=code.org&utm_medium=referral&utm_campaign=code.orgwebinar",
      button_label: hoc_s(:ai_pl_101_explore__button_1),
      aria_label: ""
    },
    {
      overline: hoc_s(:module_label_educator_course),
      title: hoc_s(:ai_pl_101_explore_title_2),
      image: "//code.org/images/ai/pl/101/explore_2.png",
      desc: hoc_s(:ai_pl_101_explore__desc_2),
      url: "https://www.iste.org/professional-development/iste-u/artificial-intelligence",
      button_label: hoc_s(:call_to_action_explore_course),
      aria_label: hoc_s(:hoc_ai_resources_iste_aria_label)
    },
    {
      overline: hoc_s(:module_label_event_or_lessons),
      title: hoc_s(:hoc_ai_resources_day_of_ai_title),
      image: "/images/ai/resources_day_of_ai.png",
      desc: hoc_s(:hoc_ai_resources_day_of_ai_desc),
      url: "https://www.dayofai.org/",
      button_label: hoc_s(:call_to_action_explore_lessons),
      aria_label: hoc_s(:hoc_ai_resources_day_of_ai_aria_label)
    },
    {
      overline: hoc_s(:module_label_educator_course),
      title: hoc_s(:hoc_ai_resources_microsoft_01_title),
      image: "/images/ai/resources_microsoft_01.png",
      desc: hoc_s(:hoc_ai_resources_microsoft_01_desc),
      url: "https://learn.microsoft.com/en-us/training/modules/empower-educators-explore-potential-artificial-intelligence/",
      button_label: hoc_s(:call_to_action_see_lesson_details),
      aria_label: hoc_s(:hoc_ai_resources_microsoft_01_aria_label)
    },
    {
      overline: hoc_s(:module_label_educator_course),
      title: hoc_s(:hoc_ai_resources_bing_title),
      image: "/images/ai/resources_bing.png",
      desc: hoc_s(:hoc_ai_resources_bing_desc),
      url: "https://learn.microsoft.com/en-us/training/modules/enhance-teaching-learning-bing-chat/",
      button_label: hoc_s(:call_to_action_see_lesson_details),
      aria_label: hoc_s(:hoc_ai_resources_bing_aria_label)
    }
  ]

.carousel-wrapper
  %swiper-container.ai-educator-resources.three-col{navigation: "true", "navigation-next-el": ".nav-next-ai-educator-resources", "navigation-prev-el": ".nav-prev-ai-educator-resources", init: "false"}
    - resource_item.each do |resource_item|
      %swiper-slide
        .action-block.action-block--one-col.flex-space-between
          .content-wrapper
            %p.overline-two
              = resource_item[:overline]
            %h3
              = resource_item[:title]
            %img{src: resource_item[:image], alt: ""}
            %p.body-three.no-margin-bottom
              = resource_item[:desc]
          .content-footer
            %a.link-button{href: "#{resource_item[:url]}", target: "_blank", rel: "noopener noreferrer", aria:{label: resource_item[:aria_label]}}
              = resource_item[:button_label]

  %button.swiper-nav-prev.nav-prev-ai-educator-resources
  %button.swiper-nav-next.nav-next-ai-educator-resources
