- slides_index = 7

- slide_image = ["/images/ai/ai_lesson_intro_01.png", "/images/ai/ai_lesson_ai_lesson_computer_vision_02.png", "/images/ai/ai_lesson_neural_networks_03.png", "/images/ai/ai_lesson_chatbots_04.png", "/images/ai/ai_lesson_generative_images_05.png", "/images/ai/ai_lesson_bias_06.png", "//code.org/images/ai/ai-curriclum-ethics.png"]

.carousel-wrapper#how_ai_works_lessons
  .carousel.blocks
    .slides
      - slides_index.times do |index|
        .slide
          .slide-content
            .action-block.action-block--one-col
              .content-wrapper
                %p.overline-two
                  =hoc_s(:ai_curriculum_grades_01)
                %h3=hoc_s("how_ai_works_lesson_title_0#{index + 1}")
                %figure
                  %img{src: slide_image[index], alt: ""}
                %p=hoc_s("how_ai_works_lesson_desc_0#{index + 1}")
                %p.no-margin-bottom
                  %strong=hoc_s(:module_label_duration)
                  =hoc_s(:module_duration_45_mins)
              .content-footer
                %a.link-button{href: CDO.studio_url("/s/how-ai-works-2023/lessons/#{index + 1}?viewAs=Instructor"), aria:{label: hoc_s("aria_label_call_to_action_how_ai_works_lesson_0#{index + 1}")}}
                  = hoc_s(:call_to_action_see_lesson_details)

  = view :carousel_pagination, carousel_id: "how_ai_works_lessons-pagination", carousel_index: "2"
