:ruby
  block_item = [
    {
      overline: hoc_s(:module_grade_7_12),
      title: hoc_s(:ai_curriculum_title_02),
      image: "//code.org/images/ai/ai-curriclum-ethics.png",
      desc: hoc_s(:ai_curriculum_desc_02),
      url: CDO.studio_url("/s/ai-ethics-2023/lessons/1?viewAs=Instructor"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_02),
      button_label: hoc_s(:call_to_action_view_lesson_plan)
    },
    {
      overline: hoc_s(:module_grade_7_12),
      title: hoc_s(:ai_curriculum_title_06),
      image: "//code.org/images/ai/ai-curriculum-societal-impacts.png",
      desc: hoc_s(:ai_curriculum_desc_06),
      url: CDO.studio_url("/s/ai-ethics-2023/lessons/2?viewAs=Instructor"),
      aria_label: hoc_s(:ai_curriculum_btn_aria_label_06),
      button_label: hoc_s(:call_to_action_view_lesson_plan)
    },
  ]

.action-block__wrapper.action-block__wrapper--two-col
  - block_item.each do |block_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline-two
          =hoc_s(:module_label_grades)
          = block_item[:overline]
        %h3
          = block_item[:title]
        %img{src: block_item[:image], alt: ""}
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button{href: "#{block_item[:url]}", "aria-label": "#{block_item[:aria_label]}"}
          = block_item[:button_label]
