---
title: Learn
theme: responsive_wide
layout: wide
social:
  twitter:card: photo
  twitter:site: "@codeorg"
  og:image:width: '1200'
  og:image:height: '630'
style_min: false
---
:ruby
  @header["social"]["twitter:url"] = "https://#{request.host}/learn"
  @header["social"]["twitter:title"] = hoc_s(:hour_of_code)
  @header["social"]["twitter:description"] = hoc_s(:social_hoc2018_global_movement)
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/social-media/hoc-2018-creativity.png'
  @header["social"]["og:title"] = hoc_s(:hour_of_code)
  @header["social"]["og:description"] = hoc_s(:social_hoc2018_global_movement)
  @header["social"]["og:image"] = 'https://' + request.host + '/images/social-media/hoc-2018-creativity.png'

:css
  .noFocusButton:focus {
    outline: 0;
  }

  .noFocusButton {
    margin-top: 0px;
  }

  #fullwidth {
    overflow: hidden;
    background-size: cover;
  }
  .banner {
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }
  .banner a {
    color: black;
    text-decoration: underline;
    font-family: 'Gotham 5r', sans-serif;
  }
  .bannerHeading {
    font-family: 'Gotham 5r', sans-serif;
    font-size: 45px;
    line-height: 45px;
    padding: 20px 0px 20px 0px;
  }
  .bannerBeyond {
    padding-top: 15px;
  }
  .bannerTeachers {
    padding-top: 15px;
    padding-bottom: 10px;
    opacity: 0;
  }

  /* Center the foreground image when it's below the header text. */
  @media screen and (max-width: 970px) {
    #studentImage img {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      height: 278px;
    }
  }

  @media screen and (min-width: 992px) {
    #fullwidth {
      background-image: url(#{CDO.code_org_url('/images/learn/hoc2020_background.png')});
      background-position: 70% 70%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #fullwidth {
      background-image: url(#{CDO.code_org_url('/images/learn/hoc2020_background_tablet.png')});
      background-position: 67% 50%;
      padding-bottom: 200px;
    }
  }
  /* Use the narrow image for narrower screens */
  @media screen and (max-width: 767px) {
    #fullwidth {
      background-image: url(#{CDO.code_org_url('/images/learn/hoc2020_background_narrow.png')});
      background-position: 50% 80%;
      padding-bottom: 160px;
    }
  }

#fullwidth
  - if request.site == 'code.org'
    = view :header
  - else
    #desktop-header.desktop-feature
      = view :header, variant: "desktop"
    #mobile-header.mobile-headers.mobile-feature
      - if request.site == 'csedweek.org'
        = view :mobile_header_responsive
      - else
        = view :mobile_header_responsive

  .banner.container_responsive
    .col-sm-12.col-md-6{style: "text-align: center"}
      .bannerHeading= hoc_s(:learn_banner_heading)
      = hoc_s(:learn_banner_blurb)
      .bannerBeyond
        != hoc_s(:learn_banner_beyond_markdown, markdown: :inline, locals: {url: "https://hourofcode.com/beyond"})
      .bannerTeachers
        %i{:class=>"fa fa-graduation-cap", :style=>"font-size: larger"}
        != hoc_s(:learn_banner_teachers_markdown, markdown: :inline, locals: {host_url: "https://hourofcode.com/#join", howto_url: "https://hourofcode.com/how-to"})

  .clear{style: "clear:both"}

-# Not ideal but we can pull the undigested files from /blockly.
- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/tutorialExplorer_locale.js")}
%script{src: webpack_asset_path("js/tutorialExplorer.js")}

- tutorials_contents = Tutorials.new(:tutorials).contents(request.host_with_port)

- tutorials_contents.each do |tutorial|
  - tutorial[:contact] = nil
  - prefix = "tutorial_#{tutorial[:short_code]}_"
  - tutorial[:name]                                 = hoc_s(prefix + "name")
  - tutorial[:shortdescription]                     = hoc_s(prefix + "shortdescription")
  - tutorial[:longdescription]                      = hoc_s(prefix + "longdescription")
  - tutorial[:language]                             = hoc_s(prefix + "language")
  - tutorial[:string_detail_grades]                 = hoc_s(prefix + "string_detail_grades")
  - tutorial[:string_platforms]                     = hoc_s(prefix + "string_platforms")
  - tutorial[:string_detail_platforms]              = hoc_s(prefix + "string_detail_platforms")
  - tutorial[:string_detail_programming_languages]  = hoc_s(prefix + "string_detail_programming_languages")
  - tutorial[:teachers_notes]                       = CDO.curriculum_url(request.locale, tutorial[:teachers_notes], false)

#tutorials

:javascript

  $(document).ready(function() {
    // Send through some values that the JavaScript will need.
    var tutorialExplorerManager = new window.TutorialExplorerManager({
      tutorials: #{tutorials_contents.to_json.html_safe},
      locale: "#{request.locale}",
      roboticsButtonUrl: "/learn/robotics",
      showSortDropdown: #{DCDO.get('learn_show_sort_dropdown', true)},
      disabledTutorials: #{raw DCDO.get('learn_hide_tutorials', [])},
      defaultSortByPopularity: #{Tutorials.sort_by_popularity?(request.site, DCDO.get("hoc_mode", CDO.default_hoc_mode))}
    });
    tutorialExplorerManager.renderToElement(document.getElementById('tutorials'));

    // Open banner links in new tab; we render them with markdown, so we can't do this in the haml
    // Add the rel tag to attempt to mitigate the inherent danger in opening
    // links in a new tab; will only work for modern browsers, though.
    $(".banner a").attr({target: "_blank", rel: "noopener noreferrer nofollow"});

    // Set up google analytics tracking
    $('.bannerTeachers a[href$="join"]').click(function () {
      ga('send', 'event', 'learn', 'click', 'teacher_banner_host');
    });
    $('.bannerTeachers a[href$="how-to"]').click(function () {
      ga('send', 'event', 'learn', 'click', 'teacher_banner_howto');
    });

    $(".bannerTeachers").fadeTo('slow', 1);
  });
