---
title: Learn
theme: responsive
social:
  "og:description": "Anyone can learn the basic concepts of Computer Science. Choose an intro activity to start learning."
  "og:image": "http://code.org/images/fit-520/codehoc3.jpg"
  "og:image:width": 520
  "og:image:height": 391
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

%link{href: "/css/learn_tabs.css", rel: "stylesheet"}

%h1{:style=>"margin-bottom: 0px;"}
  = I18n.t(:code_hoc_coming)
%br/

%div{style: "background-color:#f8f8f8; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px"}
  %h3{:style=>"margin-top: 0px; font-size:16px; font-weight:600"}
    = I18n.t(:code_sign_up)
    &nbsp;
    %a{:href=>'http://www.hourofcode.com'}
      %button
        = I18n.t(:learn_more)
  %h3{:style=>"margin-top: 20px;"}
    = I18n.t(:hoc2014_try_new_tutorial)
    &mdash;
    %a{:href=>"http://#{canonical_hostname('studio.code.org')}/s/frozen", target: "_blank"}
      = I18n.t(:hoc2014_try_frozen)
%br/

= view :learn_carousels, variation:'learn'
