---
title: Learn
theme: responsive_wide
layout: wide
social:
  "og:description": "Anyone can learn the basic concepts of Computer Science. Choose an intro activity to start learning."
  "og:image": "http://code.org/images/fit-520/codehoc3.jpg"
  "og:image:width": 520
  "og:image:height": 391
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

:css
  .noFocusButton:focus {
    outline: 0;
  }

#fullwidth{style: "background-color: #2799a4; overflow: hidden"}
  #desktop-header.desktop-feature
    = view :header, variant: "desktop"
  #mobile-header.mobile-feature
    = view :header, variant: "mobile"

  .banner
    .container_responsive{style: "color: white"}
      .col-50{style: "text-align: center"}
        %br/
        %br/
        %i{style: "font-family: 'Gotham 5r', sans-serif; font-size: 56px"}
          ROBOTICS
        %br/
        %br/
        Got robots? Use them with the activities below and make a tangible Hour of Code for students of any age!
        %br/
        %br/
      .col-50.tablet-feature
        %img{src: "/images/learn/robotics.png", style: "text-align: center"}

-# Not ideal but we can pull the undigested files from /blockly.
- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: CDO.studio_url("/blockly/js/#{js_locale}/tutorialExplorer_locale.js")}
%script{src: CDO.studio_url("/blockly/js/tutorialExplorer.js")}

- tutorials_contents = Tutorials.new(:tutorials).contents(request.host_with_port)

- tutorials_contents.each do |tutorial|
  - tutorial[:contact] = nil

#tutorials

:javascript

  $(document).ready(function() {
    // Send through some values that the JavaScript will need.
    var tutorialExplorerManager = new window.TutorialExplorerManager({
      tutorials: #{tutorials_contents.to_json},
      locale: "#{request.locale}",
      robotics: true,
      backButton: true,
      showSortBy: window.location.search.indexOf("showsort") !== -1
    });
    tutorialExplorerManager.renderToElement(document.getElementById('tutorials'));
  });
