= form_for(@video) do |f|
  - if @video.errors.any?
    #error_explanation
      %h2
        = pluralize(@video.errors.count, 'error')
        prohibited this video from being saved:
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :key
    %br/
    = f.text_field :key, readonly: !@video.new_record?
  .field
    = f.label 'Title'
    %br/
    = text_field_tag :title, @video.new_record? ? '' : data_t('video.name', @video.key)
  .field
    = f.label 'YouTube code'
    %br/
    = f.text_field :youtube_code
  .field
    = f.label 'S3 download link'
    %br/
    = f.text_field :download
    - if @s3_metadata.present?
      %p
        Size:
        = number_to_human_size(@s3_metadata.content_length)
      %p{title: @s3_metadata.last_modified.to_formatted_s(:long_ordinal)}
        Last modified:
        = time_ago_in_words(@s3_metadata.last_modified) + ' ago'
  .actions
    = f.submit
