/ This view creates a page that transparently provides fallback-player support to the specified YouTube video.
/ See VideosController#embed for usage.
!!! 5
- video_info = local_assigns[:video_info]
%head
  = stylesheet_link_tag '/blockly/video-js/video-js', media: 'all'
  = render partial: 'layouts/analytics'
  = javascript_include_tag 'application'
  %script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
  %script{src: webpack_asset_path('js/embedVideo.js')}
  %script{src: webpack_asset_path('js/webpack-runtime.js')}
%html{:dir => locale_dir}
  :css
    #video-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    #video {
      border: 0;
    }

    body {
      background-color: #000;
      color: #fff;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      padding: 0;
      margin: 0;
    }

  #video-container

  :javascript
    var width = $(window).width();
    var height = $(window).height();
    window.dashboard.videos.createVideoWithFallback($('#video-container'), #{video_info.to_json}, width, height);
