%h1 Listing videos
%table
  %thead
    %tr
      %th Name
      %th Key
      %th Youtube Code
      %th
      %th
      %th
  %tbody
    - @videos.each do |video|
      %tr
        %td= data_t('video.name', video.key)
        %td= video.key
        %td= video.youtube_code
        %td= link_to t('crud.show'), video
        - if can? :update, video
          %td= link_to t('crud.edit'), edit_video_path(video)
        - if can? :destroy, video
          %td= link_to t('crud.destroy'), video, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if can? :create, Video
  = link_to t('crud.new_model', model: Video.model_name.human), new_video_path
