- feedback_provided = Lti::Feedback.provided?(current_user)

#lti-feedback-modal.modal.hide.fade{role: 'dialog', aria: {modal: 'true', labelledby: 'lti-feedback-modal-title'}}
  %a.close{aria: {label: t('to_close')}, role: 'button', data: {dismiss: 'modal'}, href: '#'}
    %span{aria: {hidden: 'true'}} ×

  = form_for Lti::Feedback.new, url: lti_v1_feedback_index_path, remote: true, html: {style: feedback_provided ? 'display: none;' : ''} do |f|
    = f.hidden_field :satisfaction_level
    .modal-header
      %h4.heading-md#lti-feedback-modal-title= t('lti.feedback.modal.title')
    .modal-body
      %fieldset
        %legend= t('lti.feedback.modal.satisfaction_level')
        - Lti::Feedback.satisfaction_levels.each_key do |satisfaction_level|
          %label.radio
            = f.radio_button :satisfaction_level, satisfaction_level, required: true
            = t(satisfaction_level, scope: %i[activerecord attributes lti/feedback satisfaction_levels])
    .modal-footer
      = f.submit t('submit')

  #provided{style: feedback_provided ? '' : 'display: none;'}
    .modal-header
      %h4.heading-md= t('lti.feedback.modal.provided.title')
    .modal-body
      %p= t('lti.feedback.modal.provided.share_more_request')
      %a#share-more{href: SharedConstants::LMS_LINKS.ADDITIONAL_FEEDBACK_URL, target: '_blank', role: 'button'}
        = t('lti.feedback.modal.provided.share_more_button')
        &nbsp;
        %i.fa.fa-external-link
    .modal-footer

  = javascript_include_tag webpack_asset_path('js/lti/v1/feedback/_modal.js'),
                           data: {modalSelector: JSON.dump('#lti-feedback-modal'),
                                  userKey: JSON.dump(Digest::MD5.hexdigest(current_user.id.to_s))}
