<% var i18n = require('../../locale'); %>
<h1 class="minecraft-big-yellow-header" id="getting-started-header"><%= i18n.houseSelectLetsBuild() %></h1>

<h2 id="select-house-text"><%= i18n.houseSelectChooseFloorPlan() %></h2>

<div id="choose-house-container">
  <div class="minecraft-house" id="choose-house-a">
    <h1 class="minecraft-big-yellow-header"><%= i18n.houseSelectEasy() %></h1>
    <div class="house-outline-container">
      <div class="house-photo" id="house-a-picture"></div>
    </div>
    <div class="choose-house-button"><%= i18n.selectChooseButton() %></div>
  </div>
  <div class="minecraft-house" id="choose-house-b">
    <h1 class="minecraft-big-yellow-header"><%= i18n.houseSelectMedium() %></h1>
    <div class="house-outline-container">
      <div class="house-photo" id="house-b-picture"></div>
    </div>
    <div class="choose-house-button"><%= i18n.selectChooseButton() %></div>
  </div>
  <div class="minecraft-house" id="choose-house-c">
    <h1 class="minecraft-big-yellow-header"><%= i18n.houseSelectHard() %></h1>
    <div class="house-outline-container">
      <div class="house-photo" id="house-c-picture"></div>
    </div>
    <div class="choose-house-button"><%= i18n.selectChooseButton() %></div>
  </div>
</div>

<div id="close-house-select"></div>
