<%
  var msg = require('@cdo/locale');
%>
<% // Comment so this file is not identical to studio/controls.html.ejs %>

<div id="soft-buttons" class="soft-buttons-none">
  <button id="leftButton" disabled=true class="arrow">
    <img src="<%= assetUrl('media/1x1.gif') %>" class="left-btn icon21">
  </button>
  <button id="rightButton" disabled=true class="arrow">
    <img src="<%= assetUrl('media/1x1.gif') %>" class="right-btn icon21">
  </button>
  <button id="upButton" disabled=true class="arrow">
    <img src="<%= assetUrl('media/1x1.gif') %>" class="up-btn icon21">
  </button>
  <button id="downButton" disabled=true class="arrow">
    <img src="<%= assetUrl('media/1x1.gif') %>" class="down-btn icon21">
  </button>
</div>

<% if (finishButton) { %>
  <div id="share-cell" class="share-cell-none">
    <button id="finishButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.finish() %>
    </button>
  </div>
<% } %>

<% if (submitButton) { %>
  <div id="share-cell" class="share-cell-none">
    <button id="submitButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.submit() %>
    </button>
  </div>
<% } %>

<% if (unsubmitButton) { %>
  <div id="share-cell" class="share-cell-enabled">
    <button id="unsubmitButton" class="share">
      <img src="<%= assetUrl('media/1x1.gif') %>"><%= msg.unsubmit() %>
    </button>
  </div>
<% } %>
