<% var msg = require('../../locale/current/common') %>
<% var applabMsg = require('../../locale/current/applab') %>

<div id="debug-area">
  <% if (debugButtons) { %>
  <div>
    <div id="debug-buttons" style="display:inline;">
      <button id="pauseButton" class="debugger_button">
        <%= applabMsg.pause() %>
      </button>
      <button id="stepInButton" class="debugger_button">
        <%= applabMsg.stepIn() %>
      </button>
      <button id="stepOverButton" class="debugger_button">
        <%= applabMsg.stepOver() %>
      </button>
      <button id="stepOutButton" class="debugger_button">
        <%= applabMsg.stepOut() %>
      </button>
      <button id="viewDataButton" class="debugger_button">
        <%= applabMsg.viewData() %>
      </button>
    </div>
  </div>
  <% } %>

  <% if (debugConsole) { %>
  <div id="debug-console" class="debug-console">
    <textarea id="debug-output" readonly disabled tabindex=-1 class="debug-output"></textarea>
    <span class="debug-input-prompt">
      &gt;
    </span>
    <div contenteditable id="debug-input" class="debug-input"></div>
  </div>
  <% } %>
</div>
