---
title: Music Lab
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/music-styles.css", rel: "stylesheet"}

%section.hero-banner-basic.overlay
  .wrapper.grid-container.justify-space-between.align-items-center.gap-4
    .text-wrapper
      %p.body-one.white.has-icon
        =hoc_s("music_lab.introducing_music_lab_strong", markdown: :inline, locals:{music_lab: "Music Lab"})
      %h1.white
        =hoc_s("music_lab.banner.heading")
      %p.body-one.white
        =hoc_s("music_lab.banner.desc")
      %a.link-button.white{href: CDO.studio_url("/s/music-intro-2024/reset")}
        =hoc_s("music_lab.button.try_music_lab")
      .afe.flex-container.align-items-baseline.wrap
        %p.add-margin-top.no-margin-bottom.white
          =hoc_s("music_lab.in_partnership_with")
        %figure
          %img{src: "/images/avatars/amazon_future_engineer_light.png", alt: hoc_s("music_lab.amazon_future_engineer")}
    %figure
      %img{src: "/images/music-lab/music-lab-banner-graphic.png", alt: "", style: "width: 100%"}

%section.bg-neutral-light
  .wrapper.flex-container.justify-space-between.align-items-center.gap-1.wrap.flex-direction-column-mobile
    .text-wrapper.flex-1
      %h2.heading-lg
        =hoc_s("music_lab.featuring_songs_by")
      %p.no-margin-bottom
        =hoc_s("music_lab.artist_list", markdown: :inline, locals:{artist_list: "The Chainsmokers, Tinashe, Rosa Linn, Coldplay, Aloe Blacc, Chloe x Halle, Lady Gaga, Dove Cameron"})
    .flex-1
      = view :"music/music_lab_featured_artists"

%section.student-projects
  .wrapper
    %h2=hoc_s("music_lab.student_projects.heading")
    = view :"music/music_lab_student_projects"

%section.bg-primary-light.aws-career-tours
  .wrapper.flex-container.justify-space-between.align-items-center.wrap.flex-direction-column-tablet.gap-1
    %figure
      %img{src: "/images/avatars/amazon-career-tours.png", alt: hoc_s("music_lab.amazon_future_engineer"), style: "width: 150px"}
    .text-wrapper.centered
      %h2.heading-lg
        =hoc_s("music_lab.amazon.heading")
      %p.body-two.no-margin-bottom
        =hoc_s("music_lab.amazon.desc")
    %a.link-button.has-external-link{href: "https://www.amazonfutureengineer.com/music?utm_campaign=Code.org&utm_medium=Direct%20Promotion&utm_source=DP%20Music&utm_content=Music%20Lab", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s("music_lab.button.amazon_career_tour")

%section
  .wrapper
    %h2=hoc_s("music_lab.videos.heading")
    = view :"music/music_lab_carousel_videos"

%section.quote
  .wrapper
    %h2.white=hoc_s("music_lab.quotes.heading")
    = view :"music/music_lab_carousel_quotes"

%section
  .wrapper
    .flex-container.justify-space-between.align-items-center.wrap.gap-2
      %figure.col-45
        %img.rounded-corners{src: "/images/music-lab/music-lab-tutorial.png", alt: "", style: "width: 100%;"}
      .text-wrapper.col-50
        %h2=hoc_s("music_lab.tutorial.heading")
        %p.wrap-pretty
          =hoc_s("music_lab.tutorial.desc")
        %a.link-button{href: CDO.studio_url("/s/music-tutorial-2024")}
          =hoc_s("music_lab.tutorial.button")

%section.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s("music_lab.additional_resources.heading")
    = view :"music/music_lab_additional_resources"

%section
  .wrapper
    = view :afe_partnership_block
    %p.body-four.centered
      =hoc_s(:dance_afe_disclaimer)

= view :swiper_page_music_lab

= view :analytics_event_log_helper, event_name: AnalyticsConstants::MUSIC_PAGE_VISITED_EVENT
