%h1= t('password.change_form.title')
%br

#change-password
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :reset_password_token

    / New password
    .field
      = f.label :password, t('password.change_form.new_password')
      = f.password_field :password, autofocus: true

    / New password confirmation
    .field
      = f.label :password_confirmation, t('password.change_form.confirm_password')
      = f.password_field :password_confirmation

    / Submit button
    %button= t('password.change_form.submit')
