%h2= t('password.reset_form.title')
.row
  .span8
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      = f.email_field :email, :autofocus => true, style: "width: 400px", placeholder: t('password.reset_form.email')
      = f.submit t('password.reset_form.submit'), class: "btn btn-primary"

:javascript
  $( "#user_email" ).placeholder();
