!!! 5
%html
  %head
    %title= @title

    -@stylesheets.each do |uri|
      %link{rel:'stylesheet', type:'text/css', href:uri}

    %link{rel:'shortcut icon', href:'/images/favicon.ico'}
    %link{rel:'apple-touch-icon', href:'/images/favicon.png'}

  %body
    #screen-outer
      #screen-inner

        -if @header
          #header-outer
            #header-inner
              = haml @header

        -if @notice
          #notice-outer
            #notice-inner
              = haml @notice.is_a?(Symbol) ? @notice : :layout_notice

        #page-outer
          #page-inner
            = yield

        -if @footer
          #footer-outer
            #footer-inner
              = haml @footer

    -@scripts.each do |uri|
      %script{src:uri}
