-# FontAwesome icons
- icon_check = "fa-solid fa-check"
- icon_asterisk = "fa-solid fa-asterisk"

.content-wrapper.flex-container.flex-direction-column{class: wrapper_class}
  %h4= title
  %p= desc
  %p.overline-two
    =hoc_s("pl_page.journey.overview")
  %ul.clear-styles
    - list.each_with_index do |li, index|
      %li
        %i{class: index == 4 ? "#{icon_asterisk}" : "#{icon_check}"}
        %p= li
  %a.link-button.no-margin-bottom{href: button_url}
    = button_label
