---
title: "Code.org Professional Learning Program Registration"
---

:ruby
  require 'state_abbr'

  teachercon_city_regex = /Houston|Phoenix|Philadelphia/

  authentication_required!
  user_id = dashboard_user[:id]
  email = dashboard_user[:email]
  accepted_programs = DASHBOARD_DB[:pd_accepted_programs].where(user_id: user_id)

  # Teachers may have 2 accepted programs (one from a teacher application, one manually entered),
  # but they will only have one teachercon workshop.
  teachercon_program = accepted_programs.find{|p| p[:workshop_name] =~ teachercon_city_regex}

  accepted_workshop, assigned_tc_city, selected_course = nil
  if teachercon_program
    accepted_workshop = teachercon_program[:workshop_name]
    assigned_tc_city = teachercon_program.to_s.scan(teachercon_city_regex).first
    selected_course = teachercon_program[:course]
  end

  # Fill application data, if an application is present.
  # Manually entered accepted programs will not have a matching application.
  # Some teachers have both an accepted teacher application, and a manually-entered acceptance.
  # Only one teacher application can be submitted per user so in either case, grab the contact info from the
  # single application if it exists.
  application_data = {}
  application = DASHBOARD_DB[:pd_teacher_applications].where(user_id: user_id).first
  if application
    application_json = JSON.parse(application[:application])
    application_data.merge!(
      id: application[:id],
      first_name: application_json['firstName'],
      last_name: application_json['lastName'],
      phone_number: application_json['phoneNumber'],
      school_district: application_json['school-district']
    )

    # Use primary email from teacher application if the teacher account doesn't have one
    # e.g. accidental student account
    email = application_json['primaryEmail'] if email.blank?
  end

  previous_response = DB[:forms].where(kind: 'PdProgramRegistration', user_id: user_id).first
  previously_accepted = false
  if previous_response
    data = JSON.parse(previous_response[:data])
    previously_accepted = data['accept_b'] == '1'
  end

  def form_control(name, options={})
    options[:form] = PdProgramRegistration
    view "pd_survey_controls/#{name.to_s}", options
  end

%script{type: "text/javascript", src: "/js/fastclick.js"}
%script{type: "text/javascript", src: "/js/pd-program-registration.js"}
%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

:css
  .control-label {
    font-family: 'Gotham 4r', sans-serif;
    font-size: 18px;
  }

  .lb-sm {
    font-family: 'Gotham 5r', sans-serif;
    font-size: 14px;
  }

#thanks{style: 'display: none;'}
  %p
    Thanks for registering.
  %p
    We’re excited you’re planning to join the Professional Learning Program!
    You will receive more information about travel approximately six weeks before TeacherCon.
  %p
    In the meantime, please contact
    %a{href:'mailto:teacher@code.org'}teacher@code.org
    with any questions. We look forward to meeting you this summer!

#not-attending{style: 'display: none'}
  %p
    Thanks for letting us know you have declined to attend the Professional Learning Program.
  %p
    If you change your mind, or have any questions, please contact
    %a{href:'mailto:teacher@code.org'}teacher@code.org
    \.

- if previous_response
  - if previously_accepted
    %script{type: 'text/javascript'}$('#thanks').show();
  - else
    %script{type: 'text/javascript'}$('#not-attending').show();

- elsif teachercon_program.nil? || email.blank?
  %p
    You must first complete a
    %a{href: 'https://studio.code.org/pd/teacher_application'}teacher application.
  %p
    If you have already completed one, make sure you're logged into the right Code Studio account.
  %p
    If you have any questions, please contact
    %a{href:'mailto:teacher@code.org'}teacher@code.org
    \.

- elsif accepted_workshop.nil?
  %p
    Thanks for completing a teacher application. We are processing your application,
    and will notify you by the end of April.
  %p
    If you have any questions, please contact
    %a{href:'mailto:teacher@code.org'}teacher@code.org
    \.

- elsif assigned_tc_city.nil?
  You must have an assigned TeacherCon city.

- else

  %form#pd-program-registration-form{role: 'form'}
    %input{name: 'email_s', type: 'hidden', value: email}
    %input{name: 'user_id_i', type: 'hidden', value: user_id}
    %input{name: 'pd_teacher_application_id_i', type: 'hidden', value: application_data[:id]}
    %input{name: 'first_name_s', type: 'hidden', value: application_data[:first_name]}
    %input{name: 'last_name_s', type: 'hidden', value: application_data[:last_name]}
    %input{name: 'phone_number_s', type: 'hidden', value: application_data[:phone_number]}
    %input{name: 'school_district_s', type: 'hidden', value: application_data[:school_district]}
    %input{name: 'selected_course_s', type: 'hidden', value: selected_course}
    %input{name: 'accepted_workshop_s', type: 'hidden', value: accepted_workshop}

    %h1 Code.org Professional Learning Program Registration
    %h2
      Please complete this form by May 5, 2017. Contact
      %a{href:'mailto:teacher@code.org'}teacher@code.org
      with any questions.

    #error-message{style: 'display: none'}

    #section1
      .form-group
        = form_control :yes_no_select,
            name: 'accept_b',
            label: "Would you like to accept your seat in the Professional Learning Program, #{accepted_workshop}?"

      #accept-no{style: 'display: none;'}
        .form-group
          = form_control :single_select,
              name: 'accept_no_reason_s',
              label: 'Why not?'

        .form-group#accept-no-other-wrapper{style: 'display: none;'}
          %label.control-label.lb-sm{for: 'accept_no_other_s'}
            %em{style: 'font-weight: normal;'}Other
          %div
            %input.form-control{name: 'accept_no_other_s', type: 'text'}

        %p
          Thank you for letting us know. You do not need to complete the rest of this form.
          Please click to submit your form.

        .form-group.submit-btn
          %button#btn-submit.btn.btn-primary{type: "submit"} Submit

      #accept-yes{style: 'display: none;'}
        .travel-info
          %h2 Travel Information

          %h3 What is your home address?
          %p We aren't able to ship to PO Boxes, so please provide your street address.

          .form-group
            %label.control-label.lb-sm{for: 'address_s'}
              Street Address
              %span.form-required-field *
            %input.form-control{name: 'address_s', type: 'text'}

          .form-group
            %label.control-label.lb-sm{for: 'city_s'}
              City
              %span.form-required-field *
            %input.form-control{name: 'city_s', type: 'text'}

          .form-group
            %label.control-label.lb-sm{for: "state_s"}
              State
              %span.form-required-field *
            %div
              %select#k5-send-materials-state.form-control{name: "state_s"}
                %option{selected: true, value: ""}
                -STATE_ABBR_WITH_DC_HASH.each_pair do |abbr, state|
                  %option{value: abbr}= state

          .form-group
            %label.control-label.lb-sm{for: 'zip_code_s'}
              Zip code
              %span.form-required-field *
            %input.form-control{name: 'zip_code_s', type: 'text'}

          %h3 Please provide the name and phone number of someone we can contact in case of an emergency.

          .form-group
            %label.control-label.lb-sm{for: 'emergency_contact_name_s'}
              First and last name
              %span.form-required-field *
            %input.form-control{name: 'emergency_contact_name_s', type: 'text'}

          .form-group
            %label.control-label.lb-sm{for: 'emergency_contact_relationship_s'}
              Relationship to you
              %span.form-required-field *
            %input.form-control{name: 'emergency_contact_relationship_s', type: 'text'}

          .form-group
            %label.control-label.lb-sm{for: 'emergency_contact_phone_number_s'}
              Phone number
              %span.form-required-field *
            %input.form-control{name: 'emergency_contact_phone_number_s', type: 'text', placeholder: 'XXX-XXX-XXXX'}

          .form-group
            = form_control :multi_select,
              name: 'dietary_needs_ss[]',
              label: 'Please list any dietary needs or food allergies you may have'

          .form-group{id: 'allergy-list-wrapper', style: 'display: none;'}
            %label.control-label.lb-sm{for: 'allergy_list_s'}<
              %em{style: 'font-weight: normal;'} Allergy list
            %div
              %input.form-control{name: 'allergy_list_s', type: 'text'}

          .form-group{id: 'dietary-needs-other-wrapper', style: 'display: none;'}
            %label.control-label.lb-sm{for: 'dietary_needs_other_s'}<
              %em{style: 'font-weight: normal;'} Other dietary needs
            %div
              %input.form-control{name: 'dietary_needs_other_s', type: 'text'}

          .form-group
            = form_control :yes_no_select,
                name: 'more_than_20_miles_from_tc_b',
                label: "Do you live more than 25 miles from downtown #{assigned_tc_city}?"

          .form-group
            = form_control :single_select,
              name: 'how_traveling_s',
              label: 'How will you be traveling to TeacherCon?'

          %h3 Code.org will cover the cost of each participating teacher's hotel room.
          .form-group
            = form_control :yes_no_select,
                name: 'need_hotel_room_b',
                label: "Will you need a hotel room during TeacherCon?"

          .form-group
            %label.control-label{for: 'accessible_room_b'}
              Do you require an ADA accessible hotel room?
              %span.form-required-field *
            .form-inline
              %label.radio-inline{style: 'font-family: inherit'}
                %input{type: 'radio', name: 'accessible_room_b', value: '1'}
                  Yes
              %label.radio-inline{style: 'font-family: inherit'}
                %input{type: 'radio', name: 'accessible_room_b', value: '0'}
                  No
              %label.control-label.lb-sm{for: 'accessible_room_notes_s'}
                %em{style: 'font-weight: normal;'}Notes (optional)
              %input.form-control{name: 'accessible_room_notes_s', type: 'text'}

          .form-group.submit-btn
            %button#btn-section1-next.btn.btn-primary{type: "button"} Next, read and accept photo release

    #section2{style: 'display: none;'}

      %h3 Part 2 of 4: Photo Release

      %p
        Photos from Code.org workshops are commonly posted to social media by other workshop attendees,
        by workshop facilitators, or even sometimes by Code.org.
        If you're okay with having your photo taken and shared in this way, please check "YES" in the box below.

      %p
        %strong
          If you do not wish to have your photo taken and potentially used for this purpose, click "No" below.
          It is then your responsibility to communicate this to your workshop facilitator in advance.

      %p
        By checking "Yes" below, I grant Code.org, its representatives and employees the right to take
        photographs of me and my personal property during the duration of this and any future professional
        development workshops provided by Code.org, for the sole purpose of posting to social media and
        other similar digital marketing. I further acknowledge that participation is voluntary and that
        neither I or nor Code.org will receive financial compensation of any type associated with the
        publication of these photographs, and that publication of said photos confers no rights of ownership
        or royalties whatsoever. I hereby release Code.org, its contractors, its employees and any third
        parties involved in the creation or publication of Code.org digital marketing, from liability
        for any claims by me or any third party in connection with my participation.

      .form-group
        = form_control :yes_no_select,
            name: 'photo_release_b',
            label: 'I accept'

      .form-group
        %button#btn-section2-back.btn{type: "button"} Back
        %button#btn-section2-next.btn.btn-primary{type: "button"} Next, read and accept liability waiver

    #section3{style: 'display: none;'}

      %h3 Part 3 of 4: Liability Waiver

      %p
        %i
          I  understand  that  by  registering  for  and  attending  a  Code.org-sponsored  professional learning event,  including 
          but  not  limited  to  Facilitation Training Events and TeacherCon, I  am  agreeing  to  the  terms  of  this  Waiver  &  
          Release of Liability .

        %strong All attendees are asked to agree to this form before completing registration for this event.

      %p
        I will indemnify and hold harmless Code.org, its officers, directors, employees, partners, contractors, customers,
        and agents from any and all claims, losses, liabilities, damages, expenses and costs (including attorneys’ fees
        and court costs) resulting from judgments or claims for personal injury, including death, and property damage
        against them arising out of my traveling to, participating in, or returning from any Code.org professional learning
        event, but excluding liability for injury, death, or damage caused solely by gross negligence of Code.org.

      %p
        I agree to provide an emergency contact before attending any Code.org professional learning event. I grant my
        authorization and consent for trained personnel to administer general first aid treatment for minor injuries or
        illnesses. If the injury or illness is severe, I authorize him or her to seek professional emergency personnel to
        attend, transport, and treat me and to issue consent for any medical care deemed advisable by a licensed medical
        professional or institution. I authorize the designated personnel to exercise best judgment upon the advice of
        medical or emergency personnel, if my emergency contact is not reachable.

      %p
        I take full personal responsibility for all charges and damages to my hotel room caused by me or any of my guests.
        I also declare that I will adhere to applicable local, state, and federal laws, and any other pertinent laws or
        regulations in force at the conference location.

      %p
        I have carefully read, clearly understood and accepted the terms and conditions stated herein and acknowledge
        that this agreement shall be effective and binding for all future Code.org professional learning events after
        checking “YES” below.

      .form-group
        %label.control-label{for: 'liability_waiver_b'}
          I agree
          %span.form-required-field *
        .checkbox
          %label{style: 'font-family: inherit'}
            %input{name: 'liability_waiver_b', type: 'checkbox', value: '1'}
              YES

      .form-group
        %button#btn-section3-back.btn{type: "button"} Back
        %button#btn-section3-next.btn.btn-primary{type: "button"} Next, demographics

    #section4{style: 'display: none;'}

      %h3 Part 4 of 4: Demographics

      .form-group
        = form_control :single_select,
            name: 'gender_s',
            label: 'Gender'

      .form-group
        = form_control :multi_select,
            name: 'race_ss[]',
            label: 'Race (check all that apply)'

      .form-group
        = form_control :single_select,
            name: 'age_s',
            label: 'What is your age?'

      .form-group
        %label.control-label{for: 'years_taught_k12_s'}
          If you are/were a K-12 teacher, how many years have you taught?
        %input.form-control{name: 'years_taught_k12_s', type: 'text', maxlength: 2}

      .form-group
        = form_control :multi_select,
            name: 'grades_taught_ss[]',
            label: 'What grade level do you teach? (check all that apply)'

      .form-group
        = form_control :multi_select,
            name: 'grades_planning_to_teach_ss[]',
            label: 'What grade level are you planning to teach this course to (check all that apply)?'

      - if selected_course == 'csd'
        .form-group
          = form_control :single_select,
              name: 'how_implement_csd_s',
              label: 'Please tell us how you plan to implement the CS Discoveries course'

      .form-group
        = form_control :multi_select,
            name: 'subjects_taught_ss[]',
            label: 'What subjects have you taught (check all that apply)?'

      .form-group
        %label.control-label{for: 'years_taught_cs_s'}
          For how many years have you taught Computer Science?
        %input.form-control{name: 'years_taught_cs_s', type: 'text', maxlength: 2}

      .form-group
        %button#btn-section4-back.btn{type: "button"} Back
        %button#btn-submit.btn.btn-primary{type: "submit"} Submit
