- if @workshop.course == Pd::Workshop::COURSE_CSA
  %h3
    Getting Started Modules:
  %p
    The Getting Started Modules are intended to support teachers who are new to Java or new to Code.org's courses.
    You should have received instructions via email about accessing the Getting Started Modules.
    If you have not received the instructions, or if you have questions, please contact your Regional Partner,
    = @regional_partner_name
    Check them out today to see what portions of these modules would be helpful to you!

%h3
  Check out the
  = @workshop.course
  Curriculum (optional)
  - if @workshop.course == Pd::Workshop::COURSE_CSA
    %p
      If you want to begin exploring CSA, you're welcome to
      = link_to 'check out the curriculum.', 'https://studio.code.org/courses/csa-2022', target: '_blank', rel: "noopener noreferrer"
  - elsif @workshop.course == Pd::Workshop::COURSE_CSD
    %p
      If you want to begin exploring CS Discoveries, you're welcome to
      = link_to 'check out the curriculum.', 'https://studio.code.org/courses/csd', target: '_blank', rel: "noopener noreferrer"
  - elsif @workshop.course == Pd::Workshop::COURSE_CSP
    %p
      If you want to begin exploring CS Principles, you're welcome to
      = link_to 'check out the curriculum.', 'https://studio.code.org/courses/csp', target: '_blank', rel: "noopener noreferrer"
  %p
    There is no requirement that you are familiar with the course before you join the workshop
    – we will walk you through what you need to know in our time together.
