%p
  - survey_type = (@workshop.summer? || @workshop.ayw?) ? 'pre-course' : 'pre-workshop'
  - if @is_first_pre_survey_email
    Please take a moment to complete the
    = survey_type
    survey and review the following logistical details about your workshop.
    If you have any questions, reach out to your workshop organizer directly:
    = "#{@organizer.name} at "
    = mail_to @organizer.email, "#{@organizer.email}."
    = render partial: "#{survey_type.underscore}_survey"
  -elsif !Pd::PreWorkshopSurvey.where(pd_enrollment: @enrollment).exists?
    If you have not already done so, please complete the
    = link_to "#{survey_type} survey", @pre_workshop_survey_url, target: "_blank", rel: "noopener noreferrer"
    and review the following logistical details about your workshop. If you have any questions about
    your workshop, reach out to your workshop organizer directly:
    = "#{@organizer.name} at "
    = mail_to @organizer.email, "#{@organizer.email}."
