- pre_work_url = 'https://bit.ly/summer-prep-sessions'
- zoom_download_url = 'https://zoom.us/download'
- learning_tips_url = 'https://docs.google.com/document/d/e/2PACX-1vQbiURoyzHZhWrmT8jbXq7QRiCMicUIO58EQQcw7aIPdZrxhfn1XP64djtg2TVFTsBNEUZnSYHSx4Lx/pub'
- digital_digest_url = 'https://bit.ly/summer-prep-sessions'

= render partial: 'workshop_logistics'

= render partial: 'workshop_notes'

%h3 Materials

%p
  Please have the following with you on the day of your session to ensure you
  are able to participate fully:

%ul
  %li
    Laptop and charger, as well as any adapters. Review
    = link_to 'this page', Pd::WorkshopMailer::SUPPORTED_TECH_URL
    for more information regarding compatible operating systems and browsers.
    We do not recommend using a tablet as your primary device.
  %li Headphones or earphones. (optional)
  %li Your curiosity and readiness to learn!

%h3 Did something come up? If you can’t make it, let us know

%p
  If for any reason, you can’t make it, please click this link to
  = link_to 'cancel your registration', @cancel_url, target: "_blank", rel: "noopener noreferrer"
  so we can open up your spot to other interested educators.

%p
  If you have any questions, reach out to us directly at
  = link_to('facilitators@code.org', 'mailto:facilitators@code.org') + '.'

%p
  Thank you,
  %br
  Dave Frye
  %br
  Director of Program Development and Operations, Code.org
