:css
  td {
    padding-bottom: .5em;
  }
  td.heading {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
  }

= render partial: 'workshop_details'

= render partial: 'workshop_logistics'

= render partial: 'workshop_notes'

= render partial: 'supply_list'

- if @workshop.local_summer?
  %p
    Check with your workshop organizer to see if breakfast or lunch is provided. If you
    have any food allergies please let us know as soon as possible by emailing
    = mail_to @workshop.organizer.email, "#{@workshop.organizer.email},"
    and be sure to eat responsibly.
- else
  %p
    If your workshop organizer plans to provide lunch and you have any food allergies,
    please bring your own meal or eat responsibly.

%p
  Other workshop attendees may post photos from the workshop to social media.
  If you don't want your photo taken, make sure the facilitator knows before the workshop begins.

= render partial: 'how_to_cancel'

- if @is_reminder && @workshop.course == Pd::Workshop::COURSE_CSD && @workshop.subject == Pd::Workshop::SUBJECT_CSD_UNIT_6
  %h3
    Pre-Workshop Tech Setup
  %p
    During the workshop, we will explore Unit 6 of the CS Discoveries course.
    Unit 6 uses the Circuit Playground and Maker App to get students hands-on experience with physical computing.
    In order to save time during the workshop for more exploration, we ask that you install the Maker App
    before attending the workshop. Directions for setting up the Maker App can be found at
    = link_to('https://studio.code.org/maker/setup', 'https://studio.code.org/maker/setup') + '.'

- if @workshop.local_summer? && @is_reminder
  %h3
    Final reminders
  %p
    Be sure to check out your
    = link_to "online professional learning page", professional_learning_landing_url, target: "_blank"
    and complete the following pre-work, if you have not done so already:

  - if @workshop.course == Pd::Workshop::COURSE_CSD
    = render partial: 'csd_pre_course_reading'
  - elsif @workshop.course == Pd::Workshop::COURSE_CSP
    = render partial: 'csp_pre_course_reading'
%p
  Thank you,
  %br
  = @workshop.organizer.name

%p
  P.S. Connect with other computer science teachers on Twitter
  = link_to '@TeachCode', 'https://twitter.com/teachcode', target: "_blank"
  for inspiration and great tips on bringing computer science to every school.
