:css
  td {
    padding-bottom: .5em;
  }
  td.heading {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
  }

- if @workshop.subject == Pd::Workshop::SUBJECT_SUMMER_WORKSHOP
  %h3
    Before the Workshop
  - if @workshop.course == Pd::Workshop::COURSE_CSA
    %p
      Reminder: For the best professional development experience, we strongly
      encourage you to engage in the pre-work that is specifically designed for
      CSA. The pre-work can be found at
      = link_to('studio.code.org/courses/self-paced-pl-csa', 'https://studio.code.org/courses/self-paced-pl-csa') + '.'
  - else
    %p
      There is no requirement that you are familiar with the course before you
      join the workshop - we will walk you through what you need to know in our
      time together.

- if @is_reminder && @workshop.course == Pd::Workshop::COURSE_CSD && @workshop.subject == Pd::Workshop::SUBJECT_CSD_WORKSHOP_4
  %h3
    Pre-Workshop Tech Setup
  %p
    During the workshop, we will explore Unit 6 of the CS Discoveries course.
    Unit 6 uses the Circuit Playground and Maker App to get students hands-on experience with physical computing.
    In order to save time during the workshop for more exploration, we ask that you install the Maker App
    before attending the workshop. Directions for setting up the Maker App can be found at
    = link_to('https://studio.code.org/maker/setup', 'https://studio.code.org/maker/setup') + '.'
    School- or district-owned laptops may require administrator permission to download Maker App,
    so we encourage you to start this process soon.

- if @workshop.virtual?
  = render partial: 'virtual_tips'
- elsif !@workshop.virtual? && @is_reminder
  = render partial: 'supply_list'
  %h3
    Health and wellness precautions
  %p
    Our workshops are highly interactive. If you are feeling ill, or show
    any flu-like symptoms such as a fever or cough, please inform your
    Regional Partner.

= render partial: 'accessibility'

= render partial: 'workshop_logistics'

= render partial: 'how_to_cancel'

%p
  Thank you,
  %br
  = @workshop.organizer.name

%p
  P.S. Connect with other computer science teachers on Twitter
  = link_to '@TeachCode', 'https://twitter.com/teachcode', target: "_blank", rel: "noopener noreferrer"
  for inspiration and great tips on bringing computer science to every school. We encourage you and other workshop attendees to post about your workshop experience on social media, and help
  = link_to 'spread awareness about computer science.', 'http://bit.ly/38Ivp20', target: "_blank", rel: "noopener noreferrer"
  - unless @workshop.virtual?
    However, if you don't want your photo taken, just make sure the facilitator knows before the workshop begins.
