:css
  td {
    padding-bottom: .5em;
  }
  td.heading {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
  }

= render partial: 'workshop_logistics'

= render partial: 'accessibility'

= render partial: 'how_to_cancel'

%p
  Thank you,
  %br
  = @workshop.organizer.name

%p
  P.S. Connect with other educators on Twitter
  = link_to '@TeachCode', 'https://twitter.com/teachcode', target: "_blank", rel: "noopener noreferrer"
  for inspiration and great tips on bringing computer science to every school. We encourage you and other workshop attendees to post about your workshop experience on social media, and help
  = link_to 'spread awareness about computer science.', 'http://bit.ly/38Ivp20', target: "_blank", rel: "noopener noreferrer"
  However, if you don't want your photo taken, just make sure the facilitator knows before the workshop begins.

