:css
  td {
    padding-bottom: .5em;
  }
  td.heading {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
  }

= render partial: 'workshop_logistics'

= render partial: 'supply_list'

= render partial: 'workshop_notes'

= render partial: 'workshop_details'

= render partial: 'how_to_cancel'

- if @is_reminder && @workshop.course == Pd::Workshop::COURSE_CSD && @workshop.subject == Pd::Workshop::SUBJECT_CSD_WORKSHOP_4
  %h3
    Pre-Workshop Tech Setup
  %p
    During the workshop, we will explore Unit 6 of the CS Discoveries course.
    Unit 6 uses the Circuit Playground and Maker App to get students hands-on experience with physical computing.
    In order to save time during the workshop for more exploration, we ask that you install the Maker App
    before attending the workshop. Directions for setting up the Maker App can be found at
    = link_to('https://studio.code.org/maker/setup', 'https://studio.code.org/maker/setup') + '.'

- if @workshop.local_summer? && @is_reminder
  %h3
    Final reminders
  %p
    Be sure to check out your
    = link_to "online professional learning page", professional_learning_landing_url, target: "_blank"
    and complete the following pre-work, if you have not done so already:

  - if @workshop.course == Pd::Workshop::COURSE_CSD
    = render partial: 'csd_pre_course_reading'
  - elsif @workshop.course == Pd::Workshop::COURSE_CSP
    = render partial: 'csp_pre_course_reading'

%p
  If you have any accessibility needs or food allergies, please let the workshop organizer know so they can make appropriate accommodation plans and answer any of your questions. You can reach them at
  = mail_to(@workshop.organizer.email) + '.'

%p
  Thank you,
  %br
  - if @workshop.course == Pd::Workshop::COURSE_CSF
    Megan Hochstatter
    %br
    K-5 Education Program Manager, Code.org
  - else
    = @workshop.organizer.name

%p
  P.S. Connect with other computer science teachers on Twitter
  = link_to '@TeachCode', 'https://twitter.com/teachcode', target: "_blank"
  for inspiration and great tips on bringing computer science to every school. Speaking of social media, if you don't want your photo taken or posted at the workshop, make sure the facilitator knows before the workshop begins.
