:css
  td {
    padding-bottom: .5em;
  }
  td.heading {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
  }

= render partial: 'workshop_logistics'

- unless @workshop.virtual?
  = render partial: 'supply_list'

- if @workshop.virtual? && (@workshop.course == Pd::Workshop::COURSE_CSD || @workshop.course == Pd::Workshop::COURSE_CSP)
  = render partial: 'pre_order_materials'

- if @workshop.virtual?
  = render partial: 'virtual_tips'

= render partial: 'workshop_notes'

= render partial: 'workshop_details'

- unless @workshop.virtual?
  = render partial: 'covid_19'

- if @is_reminder && @workshop.course == Pd::Workshop::COURSE_CSD && @workshop.subject == Pd::Workshop::SUBJECT_CSD_WORKSHOP_4
  %h3
    Pre-Workshop Tech Setup
  %p
    During the workshop, we will explore Unit 6 of the CS Discoveries course.
    Unit 6 uses the Circuit Playground and Maker App to get students hands-on experience with physical computing.
    In order to save time during the workshop for more exploration, we ask that you install the Maker App
    before attending the workshop. Directions for setting up the Maker App can be found at
    = link_to('https://studio.code.org/maker/setup', 'https://studio.code.org/maker/setup') + '.'
    School- or district-owned laptops may require administrator permission to download Maker App,
    so we encourage you to start this process soon.

- if @workshop.local_summer? && @is_reminder
  %h3
    Final reminders
  %p
    Be sure to check out your
    = link_to "online professional learning page", professional_learning_landing_url, target: "_blank", rel: "noopener noreferrer"
    and complete the following pre-work, if you have not done so already:

  - if @workshop.course == Pd::Workshop::COURSE_CSD
    = render partial: 'csd_pre_course_reading'
  - elsif @workshop.course == Pd::Workshop::COURSE_CSP
    = render partial: 'csp_pre_course_reading'

= render partial: 'accessibility'

= render partial: 'how_to_cancel'

%p
  Thank you,
  %br
  - if @workshop.course == Pd::Workshop::COURSE_CSF
    Dave Frye
    %br
    Director of Program Development and Operations, Code.org
  - else
    = @workshop.organizer.name

%p
  P.S. Connect with other computer science teachers on Twitter
  = link_to '@TeachCode', 'https://twitter.com/teachcode', target: "_blank", rel: "noopener noreferrer"
  for inspiration and great tips on bringing computer science to every school. We encourage you and other workshop attendees to post photos from the workshop to social media, and help
  = link_to 'spread awareness about computer science.', 'http://bit.ly/38Ivp20', target: "_blank", rel: "noopener noreferrer"
  However, if you don't want your photo taken, just make sure the facilitator knows before the workshop begins.
