%h3
  Logistics

%table
  %tr
    %td.heading= 'Date'.pluralize(@workshop.sessions.length) + ':'
    %td
      - @workshop.sessions.each do |session|
        = session.start_date_with_start_and_end_times_us_format
        %br
  - unless @workshop.location_name.blank? || @workshop.virtual?
    %tr
      %td.heading
        Location:
      %td
        = @workshop.location_name
        - if @workshop.location_address.present?
          %br
          = @workshop.location_address
  %tr
    %td.heading
      Organizer:
    %td
      = @workshop.organizer.name
      (#{mail_to(@workshop.organizer.email)})
  - if @workshop.facilitators.any?
    %tr
      %td.heading= 'Facilitator'.pluralize(@workshop.facilitators.length) + ':'
      %td
        - @workshop.facilitators.each do |facilitator|
          = facilitator.name
          (#{mail_to(facilitator.email)})
          %br
