%h3
  Logistics

%table
  %tr
    %td.heading
      Date(s):
    %td
      - @workshop.sessions.each do |session|
        = session.formatted_date_with_start_and_end_times
        %br
  %tr
    %td.heading
      Location:
    %td
      = @workshop.location_name
      %br
      = @workshop.location_address
  %tr
    %td.heading
      Organizer:
    %td
      = @workshop.organizer.name
      (#{mail_to(@workshop.organizer.email)})
