:css
  body {
    font-family: Metropolis, sans-serif;
  }

%p
  Hi
  = @enrollment.first_name + ','

%p
  This is a quick email to let you know some details about your upcoming
  = @workshop.course_name
  = @workshop.subject
  workshop have changed.
  %br We look forward to seeing you there and hope these changes don't impact your availability.

-if Pd::Workshop::COURSE_ADMIN_COUNSELOR == @workshop.course
  = render partial: 'teacher_enrollment_details_counselor'
-else
  = render partial: 'teacher_enrollment_details'
