:css
  body {
    font-family: Gotham, sans-serif;
  }

%p
  Hi
  = @enrollment.first_name + ','

%p
  Some details about your upcoming
  = @workshop.course_name
  = @workshop.subject
  workshop have changed.

-if [Pd::Workshop::COURSE_COUNSELOR, Pd::Workshop::COURSE_ADMIN].include? @workshop.course
  = render partial: 'teacher_enrollment_details_counselor'
-else
  = render partial: 'teacher_enrollment_details'
