:css
  body {
    font-family: Gotham, sans-serif;
  }

- code_org_link = link_to 'Code.org', 'http://code.org'

%p
  Hi
  = @enrollment.first_name + ','

%p
  Thank you for attending a Code.org
  - if @workshop.course == Pd::Workshop::COURSE_CSF
    = @workshop.course + ' ' + @workshop.subject + ' workshop'
  - elsif @workshop.subject == Pd::Workshop::SUBJECT_CSP_FOR_RETURNING_TEACHERS
    = @workshop.subject
  - else
    = @workshop.course + ' workshop'
  on
  = @workshop.sessions.first.start_date_us_format + '.'

%p
  Please tell us about your experience by filling out this 5 minute
  = link_to('survey', @survey_url) + '.'

%p
  %i Why? Because your opinion matters!!

%p
  We are committed to continually improving our programs. We want our teachers to have the best workshops possible
  and your feedback helps us build the experience that teachers have in the future!

%p
  Please note that your responses will be shared
  %strong anonymously
  with the facilitator of your workshop and your Regional Partner. Your responses are confidential
  and your name and email will not be shared with your facilitator or Regional Partner. However,
  it's possible your facilitator or Regional Partner could identify you from your written responses.

%p
  %a{href: @survey_url,
    style: 'width: 240px; height: 36px; border: 0; color: white; background-color: #FDC62C; font: bolder 18px Arial; display: block; text-align: center; line-height: 36px; text-decoration: none; border-radius: 5px;'}
    Take the 5 minute survey

- if @workshop.course == Pd::Workshop::COURSE_CSF && @workshop.subject == Pd::Workshop::SUBJECT_CSF_101

  %h3
    Get started with
    = @workshop.course

  %p
    To help you get started with
    = @workshop.course
    in your classroom, we've created these
    = link_to('Amazon lists', 'https://www.amazon.com/ideas/amzn1.account.AFRP6N2PQKQ73HHEN6SJNS5ONHEA') + '.'
    Also feel free to source similar items locally and use these lists as a checklist!

  %p
    If you have any questions, feel free to reach out to us at
    = link_to('teacher@code.org', 'mailto:teacher@code.org')
    or connect with other teachers on our
    = link_to('teacher forum', 'https://forum.code.org/') + '.'

- unless [Pd::Workshop::SUBJECT_CSF_201, Pd::Workshop::SUBJECT_CSP_FOR_RETURNING_TEACHERS].include? @workshop.subject
  %h3
    Additional workshop benefits

  - if @workshop.course == Pd::Workshop::COURSE_CSF
    %p
      There's a personalized certificate attached to this email acknowledging your successful completion of Code.org's
      = @workshop.course
      workshop.

  = render partial: 'iste'

  %p
    You've taken the first steps to making CS available to your students. We can't wait to see where you all go from here!
    Remember to keep us posted on Twitter @TeachCode.


- if @workshop.course == Pd::Workshop::COURSE_CSF
  %p
    Thank you,
    %br
    Dave Frye
    %br
    Director of Program Development and Operations, Code.org

- else
  %p
    Thank you,
    %br
    Baker Franke
    %br
    Research and Evaluation Manager
    = code_org_link

