:css
  body {
    font-family: Gotham, sans-serif;
  }

%p
  Hi
  = @workshop.organizer.name.split().first.titleize + ','

%p
  = @enrollment.full_name
  signed up for your
  = @workshop.course
  = @workshop.subject
  = link_to 'workshop', @workshop.workshop_dashboard_url
  on
  = @workshop.sessions.first.formatted_date
  at
  = "#{@workshop.location_name}."

= render partial: 'teacher_info'

%p
  To view and manage enrolled teachers, access your workshop through the
  =link_to 'workshop dashboard.', @workshop.workshop_dashboard_url

%p
  Thanks!
