:css
  body {
    font-family: Gotham, sans-serif;
  }

%p
  Hi
  = @enrollment.first_name + ','

- if @workshop.local_summer?
  %p
    Thanks for enrolling in
    = "#{@workshop.organizer.name}’#{@workshop.organizer.name.ends_with?('s') ? '' : 's'} "
    5-day Summer workshop on the Code.org
    = @workshop.course
    curriculum.
- else
  %p
    Thanks for enrolling in Code.org’s
    = @workshop.course_name
    = @workshop.subject
    workshop. We look forward to seeing you there!

-if [Pd::Workshop::COURSE_COUNSELOR, Pd::Workshop::COURSE_ADMIN].include? @workshop.course
  = render partial: 'teacher_enrollment_details_counselor'
-else
  = render partial: 'teacher_enrollment_details'
