:css
  body {
    font-family: Metropolis, sans-serif;
  }

%p
  Hi
  = @enrollment.first_name + ','

%p
  Thanks for enrolling in
  = "#{@workshop.organizer.name}'#{@workshop.organizer.name.ends_with?('s') ? '' : 's'} "
  5-day Summer workshop on the Code.org
  = @workshop.course
  curriculum.

%h3
  Preparing for the workshop

%p
  To ensure the best experience possible for your workshop,
  we encourage you to engage in the self-paced pre-work that
  was specifically designed for CSA. The pre-work includes:
%ul
  %li
    Orientation to Code.org and CSA
  %li
    Navigating Code.org's tools
  %li
    Support with text-based programming
  %li
    Creating and using objects in Java

%p
  While the CSA pre-work is optional, we strongly recommend
  that you participate to get the most from your professional
  development experience. Head to
  =link_to('studio.code.org/courses/self-paced-pl-csa', 'https://studio.code.org/courses/self-paced-pl-csa')
  to get started with the pre-work course today!

= render partial: 'how_to_cancel'

%p
  Thank you,
  %br
  = @workshop.organizer.name
