:css
  body {
    font-family: Gotham, sans-serif;
  }

%p
  Hi
  = @enrollment.first_name + ','

- if @workshop.local_summer?
  %p
    Thanks for enrolling in
    = "#{@workshop.organizer.name}’#{@workshop.organizer.name.ends_with?('s') ? '' : 's'} "
    5-day Summer workshop on the Code.org
    = @workshop.course
    curriculum.
- elsif Pd::Workshop::COURSE_FACILITATOR == @workshop.course
  %p
    Thanks for enrolling in Code.org’s summer workshop prep session. We look
    forward to seeing you there!
- else
  %p
    Thanks for enrolling in Code.org’s
    = @workshop.course_name
    = @workshop.subject
    workshop. We look forward to seeing you there!

- if @workshop.subject == Pd::Workshop::SUBJECT_CSF_201
  %p
    Please remember that this workshop is for educators who are already using the CS Fundamentals curriculum in their classroom.
    If you have not used CS Fundamentals with students yet, or don’t plan to do so before this workshop, please
    = link_to 'click here to cancel your registration', @cancel_url, target: "_blank", rel: "noopener noreferrer"
    to this workshop and sign up for a
    = link_to 'CS Fundamentals Intro workshop', 'https://code.org/professional-development-workshops'
    near you to help you get started.

-if [Pd::Workshop::COURSE_COUNSELOR, Pd::Workshop::COURSE_ADMIN].include? @workshop.course
  = render partial: 'teacher_enrollment_details_counselor'
- elsif Pd::Workshop::COURSE_FACILITATOR == @workshop.course
  = render partial: 'teacher_enrollment_details_facilitator'
-else
  = render partial: 'teacher_enrollment_details'
