:css
  body {
    font-family: Gotham, sans-serif;
  }

- if @workshop.subject == Pd::Workshop::SUBJECT_CSF_201
  %p
    Hi
    = @enrollment.first_name + ','

  %p
    We are so excited to have you at the
    = @workshop.course
    = @workshop.subject
    workshop on
    = @workshop.sessions.first.start_date_us_format + '.'

  %p
    Please remember to
    = link_to 'fill out this short pre-workshop survey', 'https://form.jotform.com/90066184161150'
    at least 24 hours before the workshop. Completing this survey helps the facilitator prepare
    for the workshop and ensures that the workshop best meets your needs and goals.

  %p
    If you forget to complete it early, we understand, and still encourage you to complete it when
    you are able so that we can use the information to measure overall program health and success.

  %p
    Thank you,
    %br Megan Hochstatter
    %br K-5 Education Program Manager, Code.org
