:css
  body {
    font-family: Gotham, sans-serif;
  }

%p
  You have canceled your registration for the Code.org
  = @workshop.course
  = @workshop.subject
  workshop with
  = @workshop.organizer.name
  on
  = @workshop.sessions.first.start_date_us_format

- if @workshop.course == Pd::Workshop::COURSE_CSF
  We’re sorry to hear you can no longer attend.
  You can sign up for a different workshop
  = link_to('here', 'https://code.org/professional-development-workshops') + ','
  or check out our free, self-paced
  = link_to 'online professional development', 'https://code.org/educate/professional-development-online'
  to get started before attending a different workshop.

%p
  If this is a mistake and you did not mean to cancel your workshop registration,
  contact your workshop organizer
  = @workshop.organizer.name
  at
  = mail_to(@workshop.organizer.email) + '.'

- if @workshop.course == Pd::Workshop::COURSE_CSF
  %p
    Thank you,
    %br Dave Frye
    %br Director of Program Development and Operations, Code.org
