:css
  body {
    font-family: Metropolis, sans-serif;
  }

%p
  Hi
  = @enrollment.first_name + ','

- if @workshop.local_summer?
  %p
    Thanks for enrolling in
    = "#{@workshop.organizer.name}'#{@workshop.organizer.name.ends_with?('s') ? '' : 's'} "
    5-day Summer workshop on the Code.org
    = @workshop.course
    curriculum.
- elsif Pd::Workshop::COURSE_ADMIN_COUNSELOR == @workshop.course && Pd::Workshop::SUBJECT_ADMIN_COUNSELOR_SLP_INTRO == @workshop.subject
  %p
    Thank you so much for enrolling in the School Leadership
    Program for 2023-2024! This program is part of the Equity
    in AP Computer Science Principles study. Therefore, we are
    asking you to complete this survey that tells us about your
    thoughts and beliefs about computer science as well as the
    state of computer science education at your school. To
    complete the survey prior to the Introduction Workshop, visit
    = link_to 'https://studio.code.org/form/2022_baseline_school_leadership.', 'https://studio.code.org/form/2022_baseline_school_leadership', target: "_blank", rel: "noopener noreferrer"
- elsif @workshop.ayw? || Pd::Workshop::COURSE_ADMIN_COUNSELOR == @workshop.course || Pd::Workshop::SUBJECT_CSA_CAPSTONE == @workshop.subject
  %p
    Thanks for enrolling in
    = "#{@workshop.organizer.name}'#{@workshop.organizer.name.ends_with?('s') ? '' : 's'} "
    = @workshop.subject
    on the Code.org
    = @workshop.course
    curriculum.
- elsif Pd::Workshop::COURSE_FACILITATOR == @workshop.course
  %p
    Thanks for enrolling in your Facilitator workshop. We look
    forward to seeing you there!
- else
  %p
    Thanks for enrolling in Code.org's
    = @workshop.course_name
    = @workshop.subject
    workshop. We look forward to seeing you there!

- if @workshop.subject == Pd::Workshop::SUBJECT_CSF_201
  = render partial: 'csf_deepdive_reminder'

-if Pd::Workshop::COURSE_ADMIN_COUNSELOR == @workshop.course
  = render partial: 'teacher_enrollment_details_counselor'
- elsif Pd::Workshop::COURSE_FACILITATOR == @workshop.course
  = render partial: 'teacher_enrollment_details_facilitator'
-else
  = render partial: 'teacher_enrollment_details'
