- if @application.regional_partner
  - if @application.regional_partner.contact_email.present?
    = @application.regional_partner.contact_name
    %br
    = mail_to @application.regional_partner.contact_email
    %br
    = @application.regional_partner.name
  - else
    = link_to @application.regional_partner.name, CDO.code_org_url('educate/professional-learning/contact-regional-partner', CDO.default_scheme)
- else
  -# Keep this signature consistent with the default notification email in teacher_application_mailer.rb
  Nikki Navta
  %br
  = mail_to 'teacher@code.org'
  %br
  K12 Adoption Lead
  %br
  = link_to 'Code.org', 'https://code.org'
