%p
  Dear
  = @application.first_name + ','

%p
  Thank you for submitting an application to participate in
  = "#{@application.regional_partner&.name || 'Code.org'}'s"
  Professional Learning Program. In order for us to consider your application,
  %strong we need your Administrator/School Leader's approval.

%p
  Please take a moment to forward this email to your Administrator/School Leader and encourage them to complete
  = link_to @application.principal_approval_url do
    this form
  as soon as possible. Please note that your application is not considered complete until we receive this form.

%p
  Thank you very much for your support of computer science for all
  and let us know if you have any further questions!

= render partial: 'questions_concerns'

%p
  = render partial: 'partner_signature'
