%p
  Dear
  = @application.principal_greeting + ','

%p
  Thank you for completing the Administrator/School Leader approval form.
  = @application.first_name + "'s"
  application is now considered complete and we will review it soon.

%p
  If your school or district is interested in having other teachers
  attend our Professional Learning Program, please have them apply at
  = link_to 'code.org/apply', 'https://code.org/apply'
  or reach out to me directly for additional information.

%p
  Districts can now partner with Code.org directly, at no cost, to get
  support in expanding computer science for all students. Participating
  districts will receive high-quality, open-source K-12 computer science
  curriculum and support such as implementation guidance and access to
  local & national communities of practice.
  = link_to('Get more information', 'https://code.org/districts#email-signup-form') + ','
  or
  = link_to('enroll here', 'https://docs.google.com/forms/d/e/1FAIpQLSfFV_iJoDK4erZxIeX_tZiq5vZ7ZDa9HFjHbYzBDNLT9rIFhQ/viewform?usp=sf_link') + '.'
  = link_to('here', 'https://code.org/districts#email-signup-form')
  or enroll
  = link_to('here', 'https://docs.google.com/forms/d/e/1FAIpQLSfFV_iJoDK4erZxIeX_tZiq5vZ7ZDa9HFjHbYzBDNLT9rIFhQ/viewform?usp=sf_link') + '.'

%p
  Best,

%p
  = render partial: 'partner_signature'
