%p
  Dear
  = @application.principal_greeting + ','

%p
  A teacher at your school,
  = @application.applicant_full_name + ','
  has submitted an application to participate in
  = @application.effective_regional_partner_name + "'s"
  Professional Learning Program in order to prepare to teach the
  = @application.course_name
  curriculum during the school year.

%p
  %strong
    Please complete the
    = link_to('required Administrator/School Leader approval form', @application.principal_approval_url)
    in support of the submitted teacher application.
  Please note that
  = @application.first_name + "'s"
  application is not considered complete and will not be considered for acceptance until
  we receive this form.

%p
  Registration for the
  = @application.course_name
  Professional Learning Program may have a cost, but there may also be scholarships available.
  - if @application.regional_partner
    Please
    = link_to 'review this page', 'https://code.org/educate/professional-learning/program-information'
    to see the cost of the program in your region.

%p
  Participating teachers are asked to commit to Code.org's yearlong Professional Learning Program
  starting in the summer and concluding in the spring. Workshops can either be held in-person,
  virtually, or as a combination of both throughout the year.

%p
  For more information about
  = link_to('Code.org', 'https://code.org') + "'s"
  professional development programs, please visit
  = link_to('https://code.org/educate/professional-learning/middle-high', 'https://code.org/educate/professional-learning/middle-high')
  and refer to this
  = link_to('brochure', 'https://code.org/files/programs/codeorg-program-brochure.pdf')
  that highlights how to bring computer science to your school.
  - if @application.regional_partner
    As
    = @application.regional_partner.name
    is Code.org's Regional Partner in your area, I am also here to answer additional questions you
    may have about the program or application.
  - else
    Please let me know if you have any questions.
  Thank you very much for your support of computer science for all!

= render partial: 'questions_concerns'
%p
  = render partial: 'partner_signature'
