- registration_url = "https://studio.code.org/pd/application/teacher"

%p
  - if !!@application.first_name&.present?
    Hello
    = @application.first_name + ","
  - else
    Hello,

%p
  We noticed that you still have not completed your application. We just wanted to check in
  and see if there is any support we can offer as you decide which professional learning
  program is right for you. If there is anything we can do to support you in completing your
  application, please reach out to us at
  = mail_to 'teacher@code.org' + '.'
  You can also find details about the professional learning program and Code.org curriculum at
  = link_to('code.org/apply', 'https://code.org/apply') + '.'

%p
  As a reminder, in order to be considered for one of the spots in your region's Professional
  Learning program, you need to complete and submit your application. Applications are accepted
  on a rolling basis, so we suggest you get your application in early to have the best shot at
  taking part in the program.

%p
= link_to('Click here to finish your application', registration_url) + '.'

%p
  Becky Kenemuth
  %br
  = mail_to 'teacher@code.org'
  %br
  6-12 Program Manager
  %br
  Code.org
