%p
  Dear
  = @application.first_name + ','

%p
  = @application.effective_regional_partner_name
  has begun reviewing your application. Based on that review,
  = @application.effective_regional_partner_name
  has determined that your application requires approval from your school's
  administrator/leadership for you to be considered for acceptance into the
  Program.

%p
  The school administrator/leader that you indicated in your application received an email with the subject
  "Action Needed:
  = @application.first_name + ' ' + @application.last_name
  has applied to
  = @application.effective_regional_partner_name + "'s"
  Professional Learning Program!" with a link to the approval form. To prevent delay, we encourage you to also contact
  them directly to make them aware of the approval requirement. If they can not find the email you can also give them
  this unique link to the
  = link_to('Administrator/School Leader approval form for your application', @application.principal_approval_url) + '.'

%p
  After your school administrator/leader submits the approval form using the unique link,
  = @application.effective_regional_partner_name
  will review your application within 2-4 weeks.
  Your application will not be fully reviewed until the school administrator/leader approval form is received.

%p
  Thank you for helping to expedite the application review process by letting your school administrator/leader
  know where to find the approval form in their inbox and the urgency of submitting it.

%p
  Thanks again for applying, and let us know if you have any questions or concerns!

%p
  = render partial: 'partner_signature'
