- registration_url = "https://studio.code.org/pd/workshops/#{@application.workshop.id}/enroll"

%p
  Hello
  = @application.first_name + "!"

%p
  Congratulations again on being accepted into the
  = @application.course_name
  Professional Learning program in partnership with
  - if @application.regional_partner
    = @application.effective_regional_partner_name
    and Code.org!
  - else
    Code.org!
  We have not yet received your workshop registration.

%p
  %strong It takes only 1 minute
  to register for your workshop(s) and is
  %strong
    required
  to confirm your seat.
  %strong
    = link_to('Register here', registration_url) + '!'

= render partial: 'expectations'

%p
  Here are your important next steps:

%ul
  %li
    %strong
      Register for your workshop(s) and confirm your seat.
      = link_to('Register here', registration_url) + '!'
  %li
    Mark your calendar for your summer workshop! Details about the
    dates/location of your workshop can be found at
    = link_to('the registration link', registration_url) + '.'
    You will receive more details
    approximately six weeks prior to your summer workshop.
  %li
    %strong Share the good news with your school!
    Start talking with your administration, colleagues, students, and parents
    about the course you will be teaching next year, and encourage a diverse
    group of students to enroll. Once you register for the program, you will
    receive a welcome kit complete with recruitment tips and tools.
  %li
    = render partial: 'interested_teachers'

%p
  %em
    %center
      If you want to decline your seat, let me know as soon as possible, using the contact
      information in my signature so we can accommodate another teacher.

%p
  Congratulations again! We look forward to receiving your registration.

= render partial: 'partner_signature'

