---
title: Creativity with AI | Hour of Code
layout: wide_index
---

%link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}
%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: "/css/generated/page/ai.css", rel: "stylesheet", type: "text/css"}

#fullwidth
  = view :header

  %section.banner
    .wrapper
      %p.hoc-label
        =hoc_s(:hour_of_code)
      %h1
        =hoc_s(:hoc2023_header)
      %p.body-one
        =hoc_s(:hoc_ai_top_desc)

%section.bg-neutral-light
  .wrapper
    = view :"ai/ai_section_intro", overline_label: hoc_s(:for_everyone), section_heading: hoc_s(:how_ai_works_video_series), section_desc: hoc_s(:hoc_ai_how_ai_works_video_series_desc)
    = view :"ai/how_ai_works_video_series"

%section
  .wrapper
    = view :"ai/ai_section_intro", overline_label: hoc_s(:for_students_teacher_led_learning), section_heading: hoc_s(:learn_how_ai_works), section_desc: hoc_s(:hoc_ai_learn_how_ai_works_desc)
    = view :"ai/how_ai_works_lessons"

    %hr

    = view :"ai/ai_section_intro", overline_label: hoc_s(:professional_development), section_heading: hoc_s(:ai_101_for_educators), section_desc: hoc_s(:hoc_ai_101_for_educators_desc)
    = view :"ai/ai_101_series"

    %hr

    = view :"ai/ai_section_intro", overline_label: hoc_s(:for_students_teacher_led_lessons), section_heading: hoc_s(:learn_about_ai_impacts), section_desc: hoc_s(:hoc_ai_impacts_desc)
    = view :"ai/impacts_of_ai_blocks"

    %hr

    = view :"ai/ai_section_intro", overline_label: hoc_s(:for_educators_heading), section_heading: hoc_s(:additional_educator_resources), section_desc: hoc_s(:hoc_ai_additional_educator_resources_desc)
    = view :"ai/ai_educator_resources"

%section.activities.bg-neutral-light
  .wrapper.centered
    = view :"ai/ai_section_intro", overline_label: hoc_s(:for_everyone), section_heading: hoc_s(:hoc_ai_activities), section_desc: hoc_s(:hoc_ai_activities_desc)
    .flex-container
      %img{src: "//code.org/images/tutorials/hoc2019/oceans.jpg", alt: ""}
      %img{src: "/images/ai/creaticode_chatgpt.png", alt: ""}
      %img{src: "/images/ai/codecombat_worlds.png", alt: ""}
      %img{src: "//code.org/images/tutorials/hoc2021/ca_avatar.jpg", alt: ""}
      %img{src: "/images/ai/mit_imagebot.png", alt: ""}
    %a.link-button{href: resolve_url("/learn?subject=ai")}
      =hoc_s(:call_to_action_try_hoc_ai_activities)

%script{:src=>'/js/jquery.carouFredSel-6.2.1-packed.js'}
%script{:src=>'/js/jquery.touchSwipe.min.js'}
%script{:src=>'/js/page/ai.js'}
