---
title: Beyond an Hour of Code
layout: wide_index
---

%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/page/beyond.css", rel: "stylesheet", type: "text/css"}

#fullwidth
  = view :header

  %section.banner
    .wrapper
      %h1=hoc_s(:beyond_an_hour)
      %p.body-one.no-margin-bottom
        =hoc_s(:hoc_beyond_hero_description)

%section
  .wrapper
    %h2.centered
      =hoc_s(:hoc_beyond_for_teachers_section_title)
    %p.body-two.centered
      =hoc_s(:hoc_beyond_for_teachers_section_description)
    .action-block__wrapper.action-block__wrapper--two-col
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3
            =hoc_s(:hoc_beyond_for_teachers_course_title_1)
          %img{src: "/images/beyond-teach.png", alt: ""}
          %p
            =hoc_s(:hoc_beyond_for_teachers_course_description_1)
        .content-footer
          %a.link-button{href: "https://code.org/teach", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hoc_beyond_for_teachers_course_link_1)
      .action-block.action-block--one-col.flex-space-between
        .content-wrapper
          %h3
            =hoc_s(:hoc_beyond_for_teachers_course_title_2)
          %img{src: "/images/beyond-courses.png", alt: ""}
          %p
            =hoc_s(:hoc_beyond_for_teachers_course_description_2)
        .content-footer
          %a.link-button{href: "https://code.org/educate/curriculum/3rd-party", target: "_blank", rel: "noopener noreferrer"}
            =hoc_s(:hoc_beyond_for_teachers_course_link_2)

%section.bg-neutral-light
  .wrapper
    %h2.centered
      = hoc_s(:hoc_beyond_carousel_title)
    %p.centered.body-two
      = hoc_s(:hoc_beyond_carousel_description)
    = view :course_carousels, variation:"beyond"
    %hr
    %p.body-one.centered{style: "margin-top: 3rem"}
      =hoc_s(:hoc_beyond_submit_activity_form, markdown: :inline, locals:{form_url: "https://forms.gle/PqQVSCA7MxzXgN8s9"})

= view :organized_by_cdo

= view :swiper_page_beyond
