---
title: Highlights
layout: wide
---

%link{href: "/css/highlights.css", rel: "stylesheet"}

%h1 Hour of Code Highlights
%h3 Some of our favorite moments of the Hour of Code campaign.

.highlights-content
  - tag = 'highlight'
  -DB[:cdo_news_items].where(tag_s:tag).limit(100).each do |item|
    .highlight-item
      %img.higlight-img{src: "#{item[:image_url_s]}"}
      .highlight-caption
        - if item[:short_heading_s]
          %h4.caption-headline= item[:short_heading_s]
        = item[:heading_s]
        %br
        - if item[:link_text_s]
          %a.learnmore-link{href: "#{item[:url_s]}"}
            .learn-button= item[:link_text_s]

:javascript
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.show();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.hide();
    });
  });
