---
layout: wide_index
social:
  twitter:site: "@codeorg"
  twitter:url: https://hourofcode.com
---

:ruby
  @header["title"] = hoc_s(:front_title, locals: {campaign_date: campaign_date('full-year')})

%link{href: "/css/generated/front-page.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/highlights-homepage.css", rel: "stylesheet", id: "highlight-styles"}

-# We set the DCDO default to CDO.default_hoc_mode here because we can't change the DCDO flag on the test machine, but
-# ui tests rely on hourofcode.com being in a hoc_mode consistent with production. This default needs to be updated
-# whenever we change the hoc_mode, to make sure we're still testing what we'll see on production.
-hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

-twitter = {:url=>"http://hourofcode.com", :related=>'codeorg', :hashtags=>'', :text=>hoc_s(:twitter_default_text)}
-twitter[:hashtags] = 'HourOfCode' unless hoc_s(:front_header_banner, locals: {campaign_date: campaign_date('full-year')}).include? '#HourOfCode'

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}

#top
  #fullwidth
    = view :header
    %section.banner.homepage
      .wrapper
        %p.hoc-label
          =hoc_s(:hour_of_code)
        %h1=hoc_s(:hoc2023_header)
        %p.hero-desc
          =hoc_s(:hoc2023_hero_desc_homepage)
        = view :hoc2023_hero_banner_ctas

%main
  -# What is HoC?
  %section.what-is-hoc.centered
    .wrapper
      %h2=hoc_s(:front_what_is_hoc)
      %p.body-two
        =hoc_s(:hoc2023_what_is_hoc_desc)
      = view :index_video

  -# Off season interest form
  -# This is only shown when hoc_mode is false
  - if hoc_mode == false
    %section.bg-neutral-light
      .wrapper
        = view :off_season_interest_form

  -# HoC Live Spanish banner
  - if @language == 'es' || @language == 'la'
    %section.spanish-banner.no-padding-bottom
      .wrapper
        .action-block.action-block--two-col
          %img{src: '/images/hora-del-codigo-en-vivo.png', alt: hoc_s(:hoc_live)}
          .content-wrapper
            %h2.heading-lg
              = hoc_s(:hoc_live_learn_title)
            %p
              = hoc_s(:hoc_live_learn_message)
            %a.link-button{href: 'https://code.org/envivo'}
              = hoc_s(:hoc_live_learn_more)
        %hr

  -# Highlights
  %section.highlights.centered
    .wrapper
      %h2=hoc_s(:highlights_header)
      = view :home_highlights

  -# Stats
  %section.stats.bg-neutral-light
    .wrapper.centered
      = view :home_stats
      .button-wrapper
        %a.link-button{href: resolve_url('/how-to')}
          =hoc_s(:call_to_action_host_hoc)
        %a.link-button.secondary{href: resolve_url('/learn')}
          =hoc_s(:call_to_action_try_activities)

  -# Organized by Code.org
  = view :organized_by_cdo

:javascript

  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
