---
layout: wide_index
title: "<%= hoc_s(:front_title).gsub(/%{campaign_date}/, campaign_date('full-year')) %>"
social:
  "twitter:site": "@codeorg"
  "twitter:url": "https://hourofcode.com"
---
%link{href: "/css/highlights-homepage.css", rel: "stylesheet", id: "highlight-styles"}

-facebook = {:u=>"http://#{request.host}/us"}
-# We set the DCDO default to "soon-hoc" here because we can't change the DCDO flag on the test machine, but ui tests rely on hourofcode.com being in a hoc_mode consistent with production. NOTE: Erin B. needs to update this default when we flip to "actual-hoc".
-hoc_mode = DCDO.get("hoc_mode", "soon-hoc")

:ruby
  HIGHLIGHTS_CONSTANTS = [
    {:id=>64, :heading_s=>hoc_s(:highlights_constant_trudeau_heading), :short_heading_s=>hoc_s(:highlights_constant_trudeau_short_heading), :image_url_s=>"hoc-trudeau.jpg", :link_text_s=>hoc_s(:highlights_watchvideo), :url_s=>"https://www.youtube.com/watch?v=8QwT58VTj_g"},
    {:id=>63, :heading_s=>hoc_s(:highlights_constant_ny_heading), :short_heading_s=>hoc_s(:highlights_constant_ny_short_heading), :image_url_s=>"chicago-2.png", :link_text_s=>hoc_s(:highlights_readmore), :url_s=>"http://www.brooklynpaper.com/stories/39/5/dtg-hour-of-code-challenge-2016-01-29-bk.html"},
    {:id=>65, :heading_s=>hoc_s(:highlights_constant_athletes_heading), :short_heading_s=>hoc_s(:highlights_constant_athletes_short_heading), :image_url_s=>"athletes.png", :link_text_s=>hoc_s(:highlights_watchvideo), :url_s=>"https://code.org/athletes"}
  ]

-twitter = {:url=>"http://hourofcode.com", :related=>'codeorg', :hashtags=>'', :text=>hoc_s(:twitter_default_text)}
-twitter[:hashtags] = 'HourOfCode' unless hoc_s(:front_header_banner).include? '#HourOfCode'

%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=false&libraries=places,geometry&v=3.7"}
%script{type: "text/javascript", src: "/js/jquery.geocomplete.min.js"}
- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: asset_path("js/#{js_locale}/common_locale.js")}
%script{type: "text/javascript", src: minifiable_asset_path('js/hourofcode.com/public/index.js')}

%link{rel: "stylesheet", type: "text/css", href: "/css/front-page.css"}

:css
  html, body, #gmap {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .hero-image {
    z-index: -5;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

- imageheight = 590

= view :answer_dash

#top{style: "position: relative; width: 100%; overflow: hidden;"}

  // Canada's default langauge is set to 'en' but since we don't support 'en-CA' we make an exception
  // to localize homepage hero images for Canada in the view instead of using localized_image
  // (which is based on localizing for languages other than 'en').
  - slide1 = @country == 'ca' ? '/images/fit-1500/homepage_1_canada.jpg' : localized_image('/images/fit-1500/homepage_1.jpg')
  - slide3 = @country == 'ca' ? '/images/fit-1500/homepage_3_canada.jpg' : localized_image('/images/fit-1500/homepage_3.jpg')

  #fullwidth0.hero-image{style: "background-image: url(#{localized_image('/images/fit-1500/homepage_4.jpg')}); opacity: 1; background-position: 50% 10%;"}

  #fullwidth1.hero-image{style: "background-image: url(#{localized_image('/images/fit-1500/homepage_trudeau.jpg')}); background-position: 50% 50%"}

  #fullwidth2.hero-image{style: "background-image: url(#{slide1}); background-position: 50% 50%"}

  #fullwidth3.hero-image{style: "background-image: url(#{localized_image('/images/fit-1500/homepage_2.jpg')}); background-position: 50% 50%"}

  #fullwidth4.hero-image{style: "background-image: url(#{slide3}); background-position: 50% 20%"}

  #fullwidth{style: "width: 100%;"}

    .thegap{style: "height: 1px;"}
      &nbsp;

    = view :header

    .container
      .row
        .col-sm-6.col-xs-12.col-md-7
          %div{style: "height: 380px;"}
            #leftbox
              #leftvideo{style: "width: 100%;"}
                = view :index_video
                %div{style: "clear: both;"}
              #leftbutton.visible-xs
                %h1.front-header-banner.watch-video=hoc_s(:front_watch_regular_video)
                %img{src: "/images/play-button.png", width: "60", onclick: "return startVideo();", style: "cursor: pointer;"}
        .col-sm-6.col-xs-12.col-md-4
          #textbacking
            %div.front-header-banner{style: "color: white; margin-top: 0px;"}
              %h4
                =hoc_s(:front_join_us_heading)
              %div.students-served
                =hoc_s(:front_join_us_n_students_served).gsub("#", format_integer_with_commas(fetch_hoc_metrics['started']).to_s)
            %div.ctabuttongroup
              %div#tryittext.ctatext
                = view :hoc_action_buttons, hoc_mode: hoc_mode

            #remainder.hidden-xs{style: "text-align: center; margin-top: 15px;"}
              %div.watch-video-small{onclick: "return startVideo();"}
                =hoc_s(:front_watch_regular_video)
                %img{src: "/images/play-button.png", width: "25", onclick: "return startVideo();", style: "cursor: pointer;"}
          %br/
          %br/

      %div{style: "clear: both;"}


%br/
%br/

.container

  -# Description

  #description.row
    .col-xs-1
      &nbsp;
    .col-xs-10{style: "text-align: center; font-size: 24px; line-height: 30px; font-weight: 500; color: rgb(26,172,186);"}
      =hoc_s(:front_intro_default)

  -# Map

  - unless @country == 'ma' # Hide map for Morocco because of sensitive border disputes misrepresented in map
    = view :hoc_events_counter
    #maparea.full-width
      -# During pre-Hour of Code season, show the embedded gmap.
      -# All other times show a picture of the map.
      -if hoc_mode == "pre-hoc"
        = view :hoc_events_map, max_height_percentage: 1
        .footnote=hoc_s(:map_warning).gsub(/%{events_url}/, resolve_url('/events'))
      -else
        %a{href: resolve_url('/map')}
          %img{src: '/images/fit-1000/map.jpg', style: 'width: 100%;'}
        .footnote=hoc_s(:map_warning).gsub(/%{events_url}/, resolve_url('/events'))

  -# Signup and Highlights

  -# Show sign up form above highlights when we're trying to increase sign ups. Otherwise, feature highlights first which is more engaging and evergreen.
  -if ["pre-hoc", "soon-hoc"].include?(hoc_mode)
    = view :home_signup, hoc_mode: hoc_mode
    = view :home_highlights
  -else
    = view :home_highlights
    = view :home_signup, hoc_mode: hoc_mode

  -# Stats

  .row
    .col-xs-12
      %div{style: 'text-align: center; margin: 3em 0;'}
        %h2=hoc_s(:stats_hoc_2013_heading)

  .row#infotop{style: "font-weight: 500; font-size: 16px; color: rgb(26, 172, 186);"}
    .col-xs-6.col-sm-4{style: "text-align:center;"}
      %p=hoc_s(:stats_i18n)
      %img{src: "/images/fit-300/stats-languages.jpg", style: "width: 100%;"}

    .col-xs-6.col-sm-4{style: "text-align:center"}
      %p=hoc_s(:stats_global)
      -if @language == "en"
        %img{src: "/images/fit-300/stats-400m.jpg", style: "width: 100%;"}
      -else
        %img{src: "/images/fit-300/stats-map.jpg", style: "width: 100%;"}

    .hidden-xs.col-sm-4{style: "text-align:center"}
      -if @language == "en"
        %p=hoc_s(:stats_females)
        %img{src: "/images/fit-300/stats-females.jpg", style: "width: 100%;"}
        %p=hoc_s(:stats_females_more)
      -else
        %p=hoc_s(:stats_girls_more)
        %img{src: "/images/fit-300/stats-info3.jpg", style: "width: 100%;"}

  -# FAQ

  %a#faqs{name:'faq'}
  .row
    .col-xs-12
      =view :faq

  =view :signup_button

  = view 'popup_window.js'

:javascript

  var currentImage = 0;
  var timerId;
  var videoStarted = false;

  function cycleImage()
  {
    var nextImage = (currentImage + 1) % 5;
    $("#fullwidth" + currentImage).fadeTo(2000, 0);
    $("#fullwidth" + nextImage ).fadeTo(2000, videoStarted ? 0.3 : 1);
    currentImage = nextImage;
  }

  $(document).ready(function() {
    timerId = setInterval(cycleImage, 6000);
  });

  function startVideo()
  {
    if (videoStarted)
      return;

    $("<iframe allowfullscreen frameborder='0' src='https://www.youtube.com/embed/KsOIlDT145A?iv_load_policy=3&amp;rel=0&amp;autohide=1&amp;showinfo=0&amp;autoplay=1&cc_load_policy=1' style='position:absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:black;'></iframe>").appendTo("#videodiv");

    $("#videodiv").fadeTo(1000, 1);
    $("#leftbutton").fadeTo(500, 0).remove();

    $("#fullwidth" + currentImage).fadeTo(1000, 0.3);

    videoStarted = true;

    clearInterval(timerId);
  }
  $(function() {
    $('.highlight-item').mouseover(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeIn();
    });

    $('.highlight-item').mouseleave(function() {
      var caption = $(this).find('.highlight-caption');
      caption.fadeOut();
    });
  });
