---
layout: wide
title: "<%= hoc_s(:front_title) %>"
banner: front_header_banner
social:
  "twitter:card": player
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/"
  "twitter:title": "<%= hoc_s(:front_header_banner) %>"
  "twitter:description": "<%= hoc_s(:front_intro_default) %>"
  "twitter:image:src": 'http://csedweek.org/images/hoc-video-thumbnail.jpg'
  "twitter:player": 'https://www.youtubeeducation.com/embed/FC5FbmsH4fw?iv_load_policy=3&rel=0&autohide=1&showinfo=0'
  "twitter:player:width": 1920
  "twitter:player:height": 1080
---

-facebook = {:u=>"http://#{request.site}/"}

-twitter = {:url=>"http://#{request.site}/", :related=>'codeorg', :hashtags=>'', :text=>hoc_s(:front_header_banner)}
-twitter[:hashtags] = 'HourOfCode' unless hoc_s(:front_header_banner).include? '#HourOfCode'

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=false&libraries=places,geometry&v=3.7"}

%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

:css
  html, body, #gmap {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

#index

  #top{style: "position:relative; height: 500px"}
    #fullwidth0{style: "position:absolute; left: 0; top: 0; background-image: url('/images/the-world.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:500px; opacity: 1"}

    #fullwidth1{style: "position:absolute; left: 0; top: 0; background-image: url('/images/boy-certificate.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:500px; opacity: 0"}

    #fullwidth2{style: "position:absolute; left:0; top: 0; background-image: url('/images/girl-learning.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:500px; opacity: 0"}

    #fullwidth3{style: "position:absolute; left:0; top: 0; background-image: url('/images/kids-learning.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:500px; opacity: 0"}

    #fullwidth{style: "position:absolute; left:0; top: 0; width: 100%; height:500px"}

      .thegap{style: "height: 1px"}
        &nbsp;

      %headerwrapper
        = view :header

      -#flags-banner
        %img{src: '/images/flags-banner.png', alt: 'Flags'}

      #contained{style: "width: 970px; margin: 0 auto"}
        %h1.front-header-banner{style: "color:white; text-align: right"}= hoc_s(:front_header_banner)

        #joinus{style: "text-align:right"}
          %a{onclick: "return adjustScroll('hocsignupform')"}
            %button.btn.btn-default{style: "font-size: 24px; font-weight: 500; width: 200px; height: 50px;"}
              =hoc_s(:front_join_us_button)
            

      -#more{style: "color:grey"}
        - if @country == 'uk'
          %p{style: 'font-size: 1.5em; margin: 2em 0; text-align: center;'}= hoc_s(:front_intro_default_uk)
        - elsif @country == 'ar'
          %p{style: 'font-size: 1.5em; margin: 2em 0; text-align: center;'}= hoc_s(:front_intro_default_ar)  
        - else
          %p{style: 'font-size: 1.5em; margin: 2em 0; text-align: center;'}= hoc_s(:front_intro_default)


  -#top
    #video.col-63.desktop-pad-right{style: 'padding-right: 30px;'}
      -if @country == 'uk'
        = view :front_video_uk
      -if @country != 'uk'
        = view :front_video

    #start.col-36
      #blurb.col-mobile-56.mobile-pad-right
        %br.desktop-feature


      #getstarted.col-mobile-44
        .desktop-feature= view :front_join_us

    #below.mobile-center{:style=>'clear:both; overflow:hidden; padding-top: 0px'}
      = view :share_buttons, facebook:facebook, twitter:twitter, download_url:"http://s3.amazonaws.com/cdo-videos/HoC-video-15mb.mp4"

  %div{style:"clear:both"}

  #contained{style: "width: 970px; margin: 0 auto; clear:both"}
    .row
      .col-xs-12
        =view :stats_hoc_2013

    .row
      .col-xs-12
        =view :map

    .row
      .col-xs-7
        =view :signup_form
      .col-xs-4.col-sm-offset-1
        =view :choose_country

    %a#faqs{name:'faq'}
    .row
      .col-xs-12
        =view :faq

= view 'popup_window.js'

:javascript

  function adjustScroll(destination)
  {
    $('html, body').animate({
      scrollTop: $("#" + destination).offset().top
    }, 1000);
  }

  var currentImage = 0;

  $.ready()
  {
    setInterval(function() {
      var nextImage = (currentImage + 1) % 4;
      $("#fullwidth" + currentImage).fadeTo(1000, 0);
      $("#fullwidth" + nextImage ).fadeTo(1000, 1);
      currentImage = nextImage;
    }, 3000);
  }
