---
layout: wide_index
---

:ruby
  @header["title"] = hoc_s(:front_title, locals: {campaign_date: campaign_date('full-year')})

%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: "/css/generated/front-page.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/hoc-banner.css", rel: "stylesheet", type: "text/css"}

-# We set the DCDO default to CDO.default_hoc_mode here because we can't change the DCDO flag on the test machine, but
-# ui tests rely on hourofcode.com being in a hoc_mode consistent with production. This default needs to be updated
-# whenever we change the hoc_mode, to make sure we're still testing what we'll see on production.
-hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}

#top
  #fullwidth{class: hoc_mode == "soon-hoc" ? 'hoc-2024' : nil}
    = view :header
    -# Show 2024 HOC banner if hoc_mode is "soon-hoc", otherwise show 2023 banner
    - if hoc_mode == "soon-hoc"
      %section.banner.homepage.hoc-2024
        .wrapper.flex-container
          %figure
            %img{src: "/images/hoc-2024-graphic.png", alt: ""}
          .text-wrapper
            %h1=hoc_s("hoc_2024.header")
            %p.body-one
              =hoc_s("hoc_2024.banner.desc.join_millions")
          %a.link-button.black{href: resolve_url("/events")}
            =hoc_s("hoc_2024.button_host_an_event")
    - else
      %section.banner.homepage
        .wrapper
          %p.hoc-label
            =hoc_s(:hour_of_code)
          %h1=hoc_s(:hoc2023_header)
          %p.hero-desc
            =hoc_s(:hoc2023_hero_desc_homepage)
          = view :hoc2023_hero_banner_ctas

%main
  -# What is HoC?
  %section.bg-neutral-light
    .wrapper
      %h2.no-margin-top.centered
        =hoc_s("hoc_homepage.what_is_hoc.heading")
      %p.centered.body-two.wrap-balance
        =hoc_s("hoc_homepage.what_is_hoc.desc")
      -# Spanish video and banner
      - if @language == 'es' || @language == 'la'
        .spanish-content
          = view :index_video
          %hr
          .action-block.action-block--two-col.white
            %img{src: '/images/hora-del-codigo-en-vivo.png', alt: hoc_s(:hoc_live)}
            .content-wrapper
              %h2.heading-lg.no-margin-top
                = hoc_s(:hoc_live_learn_title)
              %p
                = hoc_s(:hoc_live_learn_message)
              %a.link-button{href: 'https://code.org/envivo'}
                = hoc_s(:hoc_live_learn_more)

  -# Host an Hour of Code
  %section.no-padding-bottom
    .wrapper
      .flex-container.justify-space-between.align-items-center.flex-direction-column-tablet-reverse.gap-4.mobile-gap-2
        .text-wrapper.flex-1
          %h2.no-margin-top
            =hoc_s("hoc_homepage.host.heading")
          %p.body-two
            =hoc_s("hoc_homepage.host.desc")
          %a.link-button{href: resolve_url('/events')}
            =hoc_s("hoc_homepage.host.button")
        %figure.flex-1
          %img.rounded-corners{src: "/images/homepage-students-computer.png", alt: "", style: "width: 100%"}

  -# Resources
  %section
    .wrapper
      .flex-container.justify-space-between.align-items-center.flex-direction-column-tablet.gap-4.mobile-gap-2
        %figure.flex-1
          %img.rounded-corners{src: "/images/homepage-resources.png", alt: "", style: "width: 100%"}
        .text-wrapper.flex-1
          %h2.no-margin-top
            =hoc_s("hoc_homepage.resources.heading")
          %p.body-two
            =hoc_s("hoc_homepage.resources.desc")
          .button-wrapper
            %a.link-button{href: resolve_url('/how-to')}
              =hoc_s("hoc_homepage.resources.button.how_to")
            %a.link-button.secondary{href: resolve_url('/promote')}
              =hoc_s("hoc_homepage.resources.button.explore_resources")

  -# Stats
  %section.stats.bg-neutral-dark
    .wrapper.centered
      %h2.white
        =hoc_s("hoc_homepage.global.heading")
      %p.body-two.no-margin-bottom.white
        =hoc_s("hoc_homepage.global.desc")
      = view :home_stats
      .button-wrapper.centered
        %a.link-button.white{href: resolve_url('/events')}
          =hoc_s(:call_to_action_host_hoc)
        %a.link-button.secondary.white{href: resolve_url('/learn')}
          =hoc_s(:call_to_action_try_activities)

  -# Organized by Code.org
  = view :organized_by_cdo
