---
layout: wide
title: "<%= hoc_s(:front_title) %>"
social:
  "twitter:card": player
  "twitter:site": "@codeorg"
  "twitter:url": "http://code.org/"
  "twitter:title": "<%= hoc_s(:front_header_banner) %>"
  "twitter:description": "<%= hoc_s(:front_intro_default) %>"
  "twitter:image:src": 'http://csedweek.org/images/hoc-video-thumbnail.jpg'
  "twitter:player": 'https://www.youtubeeducation.com/embed/FC5FbmsH4fw?iv_load_policy=3&rel=0&autohide=1&showinfo=0'
  "twitter:player:width": 1920
  "twitter:player:height": 1080
---

-facebook = {:u=>"http://#{request.site}/"}

-twitter = {:url=>"http://#{request.site}/", :related=>'codeorg', :hashtags=>'', :text=>hoc_s(:front_header_banner)}
-twitter[:hashtags] = 'HourOfCode' unless hoc_s(:front_header_banner).include? '#HourOfCode'

%script{type: "text/javascript", src: "/js/sifter.min.js"}
%script{type: "text/javascript", src: "/js/microplugin.min.js"}
%script{type: "text/javascript", src: "/js/selectize.min.js"}
%script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?client=#{CDO.google_maps_client_id}&sensor=false&libraries=places,geometry&v=3.7"}

%link{rel: "stylesheet", type: "text/css", href: "/css/selectize.bootstrap3.css"}/

/[if lt IE 9]
  %script{src: "/js/es5-shim.min.js"}

:css
  html, body, #gmap {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

- imageheight = 500

#top{style: "position:relative; height: #{imageheight}px; width:100%"}
  #fullwidth0{style: "position:absolute; left: 0; top: 0; background-image: url('/images/the-world.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:#{imageheight}px; opacity: 1"}

  #fullwidth1{style: "position:absolute; left: 0; top: 0; background-image: url('/images/boy-certificate.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:#{imageheight}px; opacity: 0"}

  #fullwidth2{style: "position:absolute; left:0; top: 0; background-image: url('/images/girl-learning.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:#{imageheight}px; opacity: 0"}

  #fullwidth3{style: "position:absolute; left:0; top: 0; background-image: url('/images/kids-learning.jpg'); background-repeat: no-repeat; background-size: cover; width: 100%; height:#{imageheight}px; opacity: 0"}

  #fullwidth{style: "position:absolute; left:0; top: 0; width: 100%; height:#{imageheight}px"}

    .thegap{style: "height: 1px"}
      &nbsp;

    = view :header

    .row
      .col-xs-6
        &nbsp;
      .col-xs-5
        %h1.front-header-banner{style: "color:white; text-align: center"}= hoc_s(:front_header_banner)
        #joinus{style: "text-align:center"}
          %a{onclick: "return adjustScroll('hocsignupform')"}
            %button.btn.btn-default{style: "font-size: 24px; font-weight: 500; width: 200px; height: 50px;"}
              =hoc_s(:front_join_us_button)
          
.container
  .row
    .col-xs-12
      %div{style: 'text-align: center; margin: 3em 0;'}
        %h2= I18n.t(:stats_hoc_2013_heading)

  .row#infotop{style: "/*margin: 0 auto; width: 900px; */ font-weight: 500; font-size: 16px; color: rgb(26, 172, 186)"}
    .col-xs-6.col-sm-4{style: "text-align:center; height:"}
      %p It was the fastest to reach 15 million users
      %img{src: "/images/stats-info1.jpg", style: "width: 100%"}

    .col-xs-6.col-sm-4{style: "text-align:center"}
      %p 15 million students in 170 countries learned an Hour of Code
      %img{src: "/images/stats-info2.jpg", style: "width: 100%"}
      
    .hidden-xs.col-sm-4{style: "text-align:center"}
      %p More girls tried computer science than in the last 70 years
      %img{src: "/images/stats-info3.jpg", style: "width: 100%"}

        %p{style:"color: #ea7717;"} Over 10 million girls in 2013.
    -#infogap
      &nbsp;

  .row#infobottom{style: "/*margin: 0 auto; width: 800px; */ font-weight: 400; font-size: 16px; color: #ea7717;"}
    .col-xs-6.col-sm-4{style: "text-align:center"}
      %img{src: "/images/stats-kid1.jpg", style: "width: 70%"}
      %br/
      "Every single day yielded the same results - <b>100% engagement.</b>" - Nina Nichols Peery, Teacher

    .col-xs-6.col-sm-4{style: "text-align:center"}
      %img{src: "/images/stats-kid2.jpg", style: "width: 70%"}
      %br/
      I knew this was a <b> once-in-a-lifetime</b> chance" - Mariana Alzate, 5th grader

    .hidden-xs.col-sm-4{style: "text-align:center"}
      %img{src: "/images/stats-kid3.jpg", style: "width: 70%"}
      %br/
      I have <b>never, ever</b> seen my students so excited about learning." - Michael Clark, Teacher

  #map.row
    .col-xs-12
      =view :map

  #signupform.row
    .col-xs-12.col-sm-9.col-md-8
      =view :signup_form
    .col-xs-12.col-sm-3.col-md-4
      =view :choose_country

  %a#faqs{name:'faq'}
  .row
    .col-xs-12
      =view :faq

= view 'popup_window.js'

:javascript

  function adjustScroll(destination)
  {
    $('html, body').animate({
      scrollTop: $("#" + destination).offset().top
    }, 1000);
  }

  var currentImage = 0;

  $.ready()
  {
    setInterval(function() {
      var nextImage = (currentImage + 1) % 4;
      $("#fullwidth" + currentImage).fadeTo(2000, 0);
      $("#fullwidth" + nextImage ).fadeTo(2000, 1);
      currentImage = nextImage;
    }, 6000);
  }
