---
layout: wide_index
---

:ruby
  @header["title"] = hoc_s("hoc_resources.heading")

%link{href: '/css/full-width-section.css', rel:'stylesheet', type:'text/css'}
%link{href: '/css/generated/page/resources.css', rel:'stylesheet', type:'text/css'}

#fullwidth
  = view :header

  %section.banner.bg-neutral-light
    .wrapper.centered
      %h1.no-margin-top
        =hoc_s("hoc_resources.heading")
      %p.body-two{style: "max-width: 650px; margin: 0 auto;"}
        =hoc_s("hoc_resources.desc", markdown: :inline, locals:{how_to_url: resolve_url('/how-to')})
      = view :"resources/resources_page_nav"

%main
  -# Handouts
  %section#handouts
    .wrapper
      = view :"resources/resources_handouts"

  -# Stickers
  %section#stickers.bg-neutral-dark
    .wrapper
      = view :"resources/resources_stickers"

  -# Videos
  %section#videos
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.videos")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.videos.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.videos.desc")

  -# Posters
  %section#posters.bg-neutral-light
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.posters")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.posters.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.posters.desc")

  -# Emails
  %section#emails
    .wrapper
      %h2.overline-one.centered
        =hoc_s("hoc_resources.sections.emails")
      %h3.heading-xl.centered
        =hoc_s("hoc_resources.emails.heading")
      %p.body-two.centered
        =hoc_s("hoc_resources.emails.desc")

  -# Logos
  %section#logos.bg-neutral-dark
    .wrapper
      = view :"resources/resources_logos"

  -# Organized by Code.org
  = view :organized_by_cdo
