---
title: <%= hoc_s(:title_press_kit).inspect %>
layout: wide
nav: promote_nav
---
<%= view :signup_button %>

# How to attract media to your Hour of Code event

### Make a splash with your Hour of Code event and invite local media to see why computer science is important at your school.

*تمام پریس اور میڈیا کی تحقیقات کیلئے، <press@code.org> سے رابطہ کریں*

---

## Key Tips

- اپنے ایونٹ سے تقریباً دو ہفتے پہلے ای میل کے ذریعے میڈیا تک رسائی اور آگاہ کریں۔ اگر آپ کو ابتدائی جواب موصول نہ ہو تو، ای-میل اور فون سے فالو-اَپ کرتے رہیں۔.
- اپنے اسکول کے اسٹاف میمبرز یا والیئنٹرز سے کہیں کہ وہ تصاویر لیں اور اسے آن-لائن شیئر کریں یا پریس کو بھیج دیں۔.
- اپنی ویب سائیٹ کے ھوم پیج اور اسکول کے نیوز-پیپر (جریدے) پر آور-آف-کوڈ کے بارے میں لکھیں اور ایونٹ کی تفصیلات، تصاویر، اور اسٹوڈینٹس ایکٹیویٹیز پوسٹ کریں۔.
- On Facebook and Twitter, share updates on your plans, announce your events, and post pictures during <%= campaign_date('year') %>. Use the hashtag **#HourOfCode** so Code.org can see and promote your events.

## Step-by-step guide

### 1. Plan your event

- آور-آف-کوڈ کو بھرپور طریقہ سے کرنے کے لیے اسمبلی پلان کریں۔.
- Send [a letter](<%= resolve_url('/promote/resources#sample-emails') %>) to parents and ask them to spread the word.
- Send [a letter](<%= resolve_url('/promote/resources#sample-emails') %>) to invite your local mayor, member of Congress, governor, or influential businessperson to attend and speak to your students.
- گروپ ایکٹیویٹیز آرگنائز کریں (جیسا کہ ایک 'اَن-پلگڈ' پروگرامنگ ایکٹیویٹی)، یا اسٹوڈینٹ کی جانب سے تخلیق کردہ اور لیڈ-ایکٹیویٹیز کا مظاہرہ کرنا۔.
- Show Code.org’s [Hour of Code video](<%= resolve_url('/') %>) or one of [these videos](<%= resolve_url('/promote/resources#videos') %>) to inspire students. <br />

### 2. Identify specific reporters that cover education or local events

Like local newspapers, TV station or radio stations, or blogs. <br />

### 3. Contact local media

The best way to reach out is by email. It should be short and should communicate "why should other people care about this event"? Include contact information (including a cellphone number) for who will be on site at the event. **[See a sample pitch to media](<%= resolve_url('/promote/press-kit#sample-emails') %>)**.

Look online to find reporter contact information. If you can't find it, call the publication to ask, or email the organization's general email address and ask for your message to be directed to the correct reporter. <br />

### 4. Prepare to field questions about your school event. Here are some examples:

#### آپ کا اسکول کیوں کوڈ کا قیام کر رہا ہے?

اگرچہ ہم سب جانتے ہیں کہ طلباء کے لئے یہ ضروری ہے کہ آج کی ٹیک سٹیوریٹ دنیا کو نگہداشت کرنے کے لۓ، بہت سے اساتذہ کمپیوٹر سائنس میں تجربہ نہیں کیا جاسکتے ہیں اور نہیں جانتے کہ کہاں سے شروع ہوسکتا ہے. یہ واقعہ ہم سب کے لئے ایک ایسا موقع ہے جس کے بارے میں کمپیوٹر سائنس کیا ہے.

ہم امید رکھتے ہیں کہ وہ طالب علموں کو سیکھنے کے لۓ دلچسپی لائیں گے. ریسرچ میں یہ بھی پتہ چلتا ہے کہ وہ کس طرح پڑھنے اور لکھنے کے بارے میں جاننے سے قبل بچوں کو پروگرامنگ تصورات اٹھا سکتے ہیں. دراصل، ان کے دماغوں کو ایک چھوٹی عمر میں کمپیوٹر کی زبانوں کے مقابلے میں زیادہ حساس ہے، جیسے غیر ملکی زبانیں. <br /> <br />

#### یہ کیوں اہم ہے?

ٹیکنالوجی سیارے پر ہر صنعت کو تبدیل کر رہی ہے. 2015 میں، امریکہ میں 7 ملین افتتاحی پر قبضے میں تھے - فن فن اور ڈیزائن - جس قدر قیمت کوڈنگ کی مہارت. But 60 percent of schools in the U.S. don't teach computer science. It’s time for us to catch up to the 21st-century. ہم جانتے ہیں کہ ہمارے طالب علموں کو جب وہ بڑے ہوتے ہیں، چاہے وہ دوا، کاروبار، سیاست، یا آرٹس میں جائیں، جانیں کہ ٹیکنالوجی کیسے بنائے گی، انہیں اعتماد اور مسابقتی برتری ملے گی. <br />

<a id="sample-emails"></a>

## Sample email to send to invite local media to your event

**Subject line**: Local school joins mission to introduce students to computer science

کمپیوٹر ہر جگہ ہیں، ہر سیارے کو سیارے میں تبدیل کر لیتے ہیں، لیکن نصف اسکولوں میں سے کم کمپیوٹر کمپیوٹر سائنس سیکھتے ہیں. کمپیوٹر سائنس کی کلاسیں اور ٹیک صنعت میں گرلز اور اقلیتوں کو سختی سے کمتر قرار دیا جاتا ہے. اچھی خبر یہ ہے کہ ہم اس کو تبدیل کرنے کے لیے اپنے راستے پر ہیں ۔.

کوڈ کے قیام کے ساتھ، کمپیوٹر سائنس گوگل، MSN، یاہو، اور ڈزنی کے گھروں پر ہے. اس تحریک کی حمایت کے لئے 100 سے زیادہ شراکت داروں کے ساتھ مل کر شامل ہو گئے ہیں. دنیا میں ہر ایپل سٹور نے ایک گھنٹہ کوڈ کی میزبانی کی ہے. یہاں تک کہ صدر اوبامہ نے اپنی پہلی لائن کو ایک مہم کے طور پر لکھا تھا.

That’s why every one of the [X number] students at [SCHOOL NAME] are joining in on the largest learning event in history: The Hour of Code, during Computer Science Education Week (December 3-9).

میں لکھ رہا ہوں کہ آپ کو ہماری کٹوف اسمبلی میں شرکت کرنے کے لئے مدعو کرنا اور بچوں کو دیکھنے کے لئے [DATE] پر سرگرمی شروع کرنا ہے.

کوڈ کا قیام، غیر منافع بخش Code.org اور 100 سے زائد دیگر، ایک عالمی تحریک ہے جس کا یقین ہے کہ آج کے طالب علموں کو 21st صدی کی کامیابی کے لئے اہم مہارت حاصل کرنے کے لئے تیار ہیں. براہ مہربانی ہمارے ساتھ شامل ہوں.

Contact: [YOUR NAME], [TITLE], cell: (212) 555-5555 When: [DATE and TIME of your event] Where: [ADDRESS and DIRECTIONS]

I look forward to being in touch. <br />

## Additional details and a quote you can use in materials

Code.org کے بانی اور سی ای او ہادی پارویو نے کہا، "کوڈ کا قیام کوڈ کو ڈیسسٹیٹ کرنے کے لئے ڈیزائن کیا گیا ہے اور ظاہر ہوتا ہے کہ کمپیوٹر سائنس راکٹ سائنس نہیں ہے. "دنیا بھر میں 100 ملین سے زائد طالب علموں نے ایک گھنٹہ کوڈ کی کوشش کی ہے. The demand for relevant 21st-century computer science education crosses all borders and knows no boundaries." <br /> <br />

#### Code.org کے بارے میں

Code.org ایک 501c3 عوامی غیر منافع بخش ہے جو کمپیوٹر سائنس میں شمولیت کی توسیع اور رنگوں کے تحت خواتین اور underrepresented طلباء میں حصہ لینے کے لئے وقف ہے. Its vision is that every student in every school has the opportunity to learn computer programming. 2013 میں لانچ کرنے کے بعد، Code.org نے کوڈ آفس کی مہم کا اہتمام کیا - جس نے کمپیوٹر سائنس سے 100 ملین سے زائد طالب علموں کو آج تک متعارف کرایا اور ملک بھر میں 70 سرکاری اسکولوں کے ساتھ مل کر کمپیوٹر سائنس سائنس کو بڑھانے کے لئے شراکت داری کی. Code.org is supported by philanthropic donations from corporations, foundations and generous individuals, including Microsoft, Facebook, Infosys Foundation USA, Amazon, and others. مزید معلومات کے لئے، ملاحظہ کریں: [ <٪ = solution_url ('code.org')٪> ](٪= solution_url('https://code.org') ٪).

  
Find more resources and sample emails [here](<%= resolve_url('/promote/resources#sample-emails') %>).

<%= view :signup_button %>