%p This is a writing task

= form_for(@enrollment_task_assignment, url: plc_enrollment_task_assignment_path(@enrollment_task_assignment)) do |f|
  %p
    %strong Assignment description:
    = @enrollment_task_assignment.plc_task.assignment_description
  %p
    = f.label :writing
    = f.text_area :submission

  .actions
    = f.submit 'Submit'
