---
title: Professional Learning Program Details
video_player: true
theme: responsive
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<style>
  details summary {
    cursor: pointer;
  }
</style>

# Professional Learning for Middle and High School Teachers
### Learn how to bring Computer Science curriculum to your students through Code.org's Professional Learning Program

<div style="clear: both;">

<div class="col-50" style="padding-right: 30px;">

<img src="/images/fit-450/marketing/excel-charter-schoolhoc-2015-stills-14.jpg">
<br><br>

</div>

<div class="col-50" style="padding-right: 30px; padding-bottom: 70px">

Research shows that around age 12 both boys and girls have a similar level of interest in computer science. This difference is that <b>women are half as likely to be encouraged to explore it</b>.  That’s especially important considering that students who are told by a parent or a teacher that they’d be good at the subject are up to 3x more likely to be interested in learning CS in the future.

Perhaps the single most effective way to get women into CS classes is also one of the simplest! Take a moment out of each day to tell a female student that you think she’d be great at CS. <br><br><br><br>
<br/>

</div>

</div>

<a name="scholarships"></a>
<div style="clear: both;">
<div class="col-100">
<%= view :regional_partner_zip_form %>

</div>

</div>


<div style="clear: both;">
<%= view :three_circles, circles: [] %>
</div>


<div style="clear: both;">

<div class="col-33" style="padding-right: 20px;">
<center>
<b><br>Who is the course for?</b>
<br>
<details>
  <summary>Details</summary>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
</p>
</details>
</center>
</div>

<div class="col-33" style="padding-right: 20px;">
<center>
<b><br>What You'll Learn</b>
<br>
<details>
  <summary>Details</summary>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
</p>
</details>
</center>
</div>

<div class="col-33" style="padding-right: 20px;">
<center>
<b><br>Benefits of the Program</b>
<br>
<details>
  <summary>Details</summary>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
</p>
</details>
</center>
</div>

<br>
<br>

<div style="clear: both;"></div> 

## Benefits of Program

<div style="clear: both;">

<div class="col-40" style="padding-right: 20px;">

<img src="/images/fit-300/marketing/excel-charter-schoolhoc-2015-stills-14.jpg">
<br><br>

</div>

<div class="col-60" style="padding-right: 10px; padding-bottom: 20px">

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <Br><br><Br><br>

<br/>

</div>

</div>

<div style="clear: both;"></div>

## Benefits of Program

<div style="clear: both;">

<div class="col-40" style="padding-right: 20px;">

<img src="/images/fit-300/marketing/excel-charter-schoolhoc-2015-stills-14.jpg">
<br><br>

</div>

<div class="col-60" style="padding-right: 10px; padding-bottom: 20px">

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <Br><br><Br><br>

<br/>

</div>

</div>

<div style="clear: both;"></div>

## Benefits of Program

<div style="clear: both;">

The program supports teachers with diverse teaching backgrounds as they prepare to teach either of the following courses:

<div class="col-50">

[CS Discoveries (Grades 6-10)](/educate/csd)

<div style="width: 70%;">
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "uQim0hBHco0", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csd">An introductory computer science course</a> that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun
* Can be taught as a 1 or 2 semester course (or 50+ course hours)

</div>

</div>

<div class="col-50">

[CS Principles (Grades 9-12)](/educate/csp)

<div style="width: 70%;">
<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csp">A higher level introductory course</a> that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world
* Can be taught as an AP or non-AP class
* Requires a full year to teach (or 100+ course hours)

</div>

</div>

<div style="clear: both;"></div>

## Have questions?

<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high", notes: "Please tell me more about the professional learning program for grades 6-12!" %>

<br/>

And be sure to check out our <a href="https://docs.google.com/document/d/e/2PACX-1vSxBryx0io9I8VE5PtBmmaLaVUlorblmLBmZ9FYLV_sqse86stk_WHidIUjsyCptR7itNfqPrVJlTx0/pub", target=_"blank">Professional Learning Program FAQs</a>.


## Ready to apply?

<%=
link = "/educate/professional-learning/program-information"
link += "?nominated=true" if params[:nominated]
"<a class='linktag' id='pl-get-started-link' href='#{link}'><button>Get started!</button></a>"
%>

<!--

### <a name="facilitate"></a>How do I become a CS Discoveries Facilitator?

Code.org's [Facilitator Development Program](/educate/professional-learning/facilitator) is a highly-selective professional learning program designed to prepare and support facilitators to deliver quality workshops on the CS Principles curriculum.

If you're interested in becoming a Code.org Facilitator, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAq4l_1HsjdbtRBo7fggTrTZe0H9_tcRMBrxXA893QkP6MWA/viewform", target=_"blank">let us know!</a>

-->

<%= view :answerdash %>
