---
title: Professional Learning Program Details
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/pl-middle-high-styles.css", rel: "stylesheet"}

= view :analytics_event_log_helper, event_name: AnalyticsConstants::MIDDLE_AND_HIGH_SCHOOL_PL_PAGE_VISITED_EVENT

%section.top
  .wrapper
    %h1=hoc_s(:pl_middle_high_top_heading)
    .text-wrapper.col-50
      %p.body-one
        =hoc_s(:pl_middle_high_top_desc)
      %p
        %strong=hoc_s(:pl_middle_high_top_desc_02)
      %ul
        %li=hoc_s(:pl_middle_high_top_list_01)
        %li=hoc_s(:pl_middle_high_top_list_02)
        %li=hoc_s(:pl_middle_high_top_list_03)
      %a.link-button{href: "/educate/professional-learning/program-information"}
        =hoc_s(:call_to_action_apply_now)
    .video-wrapper.col-50
      %figure.video-responsive{style: "margin-top: 5px; max-width: unset"}
        %div
          %iframe{src: "https://www.youtube-nocookie.com/embed/dScOdk0yY38", title: "YouTube video player", allowfullscreen: "true", frameborder: "0"}
    .clear

%section.bg-neutral-light
  .wrapper
    .quotes-wrapper
      %figure.col-33{style: "margin-top: 10px;"}
        %img{src: "/images/professional-learning/pl-carousel.png", alt: ""}
      %div.col-60{style: "float: right"}
        %h2.heading-lg.no-margin-bottom
          =hoc_s(:pl_middle_high_quotes_heading)
        = view :pl_middle_high_carousel
  .clear

%section
  .wrapper
    %h2=hoc_s(:pl_middle_high_programs_heading)
    %p
      =hoc_s(:pl_middle_high_programs_desc, markdown: :inline, locals:{csd_url: "/csd", csp_url: "/csp", csa_url: "/csa"})
    = view :pl_middle_high_programs
  .clear

= view :section_divider_line

%section
  .wrapper
    %h2 Program design
    %p The yearlong professional learning programs all follow a similar design. Regional Partners across the country provide our programs and offer local workshops led by trained facilitators.
    %ul.arrow-list
      %li{style: "width: 32%"}
        %h3 Summer Workshops
        %p Attend a 5 day summer workshop to get familiar with the curriculum and prepare for the school year.
      %li{style: "width: 32%"}
        %h3 Academic Year Workshops
        %p Attend workshops during the year to receive support as you teach the curriculum
      %li{style: "width: 32%"}
        %h3 Community Support
        %p Collaborate with your regional cohort of teachers and get the support of a nationwide online teacher community
    %a{href: "/educate/professional-learning/program-information"} Find out more about the program specifics in your region.

%section.bg-neutral-light
  .wrapper
    %h2 How does the application process work?
    %ol.steps-list.four-col
      %li
        %h3
          %span 1
        %h4 Apply
        %p Fill out an application with information about you, your school and the course you're teaching.
      %li
        %h3
          %span 2
        %h4 Acceptance
        %p If accepted, you will be notified of your acceptance by your Regional Partner 2-4 weeks after applying.
      %li
        %h3
          %span 3
        %h4 Enroll
        %p Sign up for the summer workshop in your region and get ready to start the yearlong program!
    %div.centered
      %a.link-button{href: "/educate/professional-learning/program-information"} Apply now

%section
  .wrapper
    %h2 What does the program cost?
    .action-block.action-block--two-col
      %img{src: "/images/professional-learning/pl-teacher-group.png", alt: "", class: "col-50"}
      .text-wrapper.col-50
        %h3.heading-sm The cost of the program varies by region.
        %p You may be eligible for a scholarship to cover the cost of your program.
        %a.link-button{href: "/educate/professional-learning/program-information"} Learn more about the program in your region
  .clear

= view :section_divider_line

%section
  .wrapper
    %h2 Additional programs to meet diverse teacher needs
    %p In addition to our in-person facilitator led options for middle and high school teachers we have several other programs to meet the diverse needs of our teachers.
    .action-block__wrapper.action-block__wrapper--three-col
      .action-block.action-block--one-col.secondary.flex-space-between
        .content-wrapper
          %h3 Self-Paced Learning
          %p Learn at your own pace using our online learning modules. You can start whenever is convenient for you and the courses are free.
        .content-footer
          %a.link-button.secondary{href: "/educate/professional-development-online"} Learn more
      .action-block.action-block--one-col.secondary.flex-space-between
        .content-wrapper
          %h3 Elementary Workshops
          %p Do you teach Kindergarten through 5th grade? Check out the link below to learn more about our K5 workshops.
        .content-footer
          %a.link-button.secondary{href: "/professional-development-workshops"} Learn more
      .action-block.action-block--one-col.secondary.flex-space-between
        .content-wrapper
          %h3 Outside the United States
          %p If you are an international teacher interested in professional learning. Learn more about what is offered in your area.
        .content-footer
          %a.link-button.secondary.has-external-link{href: "https://support.code.org/hc/en-us/articles/115003865532-I-teach-outside-of-the-US-Are-there-resources-to-help-me-teach-computer-science-", target: "_blank", rel: "noopener noreferrer"} Learn more

= view :section_divider_line

%section
  .wrapper
    %h2 Have questions?
    .action-block.action-block--two-col
      .text-wrapper.col-50
        %p Your local Code.org Regional Partner provides high quality Code.org professional learning to teachers, and can help guide your school or district on implementation, certification, funding, and more. They are happy to answer any questions you may have about the program!
        = view :professional_development_workshops_regional_partner_search
        %a.link-button.secondary.has-external-link{href: "https://support.code.org/", target: "_blank", rel: "noopener noreferrer"} Visit our support center
      %img{src: "/images/professional-learning/pl-teachers-talking.png", alt: "", class: "col-50"}
  .clear
