---
title: Professional Learning Program Details
video_player: true
theme: responsive
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<style>
  details summary {
    cursor: pointer;
  }
</style>

# Professional Learning for Middle and High School
<br/>

<a name="scholarships"></a>
<div class="col-50">
<%= view :regional_partner_zip_form %>

</div>
<div class="col-50" width="75%" style='padding-top: 10px'>
<center>
	<img class="quote-image" src="/images/testimonials/fit-150/twoteachers.jpg">
	<p class="quote-title">"I do not have a computer science background. I would change nothing about the training. It was an incredible experience, and I felt valued and respected."</p>
</center>
</div>


<div style="clear: both;"></div>
<%= view :three_circles, circles: [] %>

<a name="why"></a>
## Why should I apply?

The majority of our workshop attendees rank it the **best professional development ever.** Over 90% of attendees would recommend our program to another teacher.

**No experience needed!** Whether you are new to teaching computer science (CS) or have experience teaching other CS courses, the Code.org Professional Learning Program offers year round support. We’ve designed this program to promote growth by providing space for you to become comfortable with curricular materials, CS content, and pedagogy.

**Over a third of schools** use Code.org's curriculum, including the largest school districts in the U.S., such as LAUSD, Broward, and Dallas ISD. And, over a quarter of our teachers come from rural schools.

**Proven results** - peer reviewed research shows that school participation in the Code.org program causes an estimated 5x increase in students that take and pass the AP Computer Science Principles exam.

**Every Student Succeeds Act**. The Code.org program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA). Learn more in our [Program Brochure](/files/programs/codeorg-program-brochure.pdf).

## Find the right course for your classroom

The program supports teachers with diverse teaching backgrounds as they prepare to teach either of the following courses:

[col-50]
### [CS Discoveries (Grades 6-10)](/educate/csd)

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "uQim0hBHco0", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csd">An introductory computer science course</a> that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun
* Can be taught as a 1 or 2 semester course (or 50+ course hours)

</div>

[/col-50]

[col-50]
### [CS Principles (Grades 9-12)](/educate/csp)

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csp">A higher level introductory course</a> that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world
* Can be taught as an AP or non-AP class
* Requires a full year to teach (or 100+ course hours)

</div>

[/col-50]

<div style="clear: both;"></div>

<br/>

Teach a different grade level or have fewer hours available with your students? <a href="https://code.org/files/course-pl-options.pdf", target=_"blank">Find the right course for your classroom.</a>

## Program commitments and schedule
The Code.org Professional Learning Program has both in-person and online supports designed to prepare teachers before and during their first year teaching CS Discoveries or CS Principles. Professional learning workshops will be hosted by our [Regional Partners](/educate/professional-learning/about-partners) beginning in the summer of 2019.
<%=
link = "/educate/professional-learning/program-information"
link += "?nominated=true" if params[:nominated]
"<a class='linktag' id='pl-apps-open-link' href='#{link}'>**Applications are now open!**</a>"
%>



<img src="/images/professional-learning/pl_timeline.png" width="100%"/>

<br/>

<a name="features"></a>
## What can you expect?

Click on the features below to learn more about what our programs have to offer!

<details>
  <summary>**Engaging workshop experiences**</summary>
  <p>
  <br/>
Participants explore the curriculum and learning tools, discuss classroom management and teaching strategies, and build a community of teachers. With a focus on a customized experience, participants will develop skills while working in small groups to deepen their understanding of the materials.
</p>
</details>

<details>
  <summary>**Teaching and learning in context**</summary>
  <p>
  <br/>
Participants will engage with the curriculum both as instructors and as learners. By experiencing the course content as an active learner, participants will gain important, concrete insight into the perspective their students will have during the academic year. By interacting with curriculum content as instructors, participants will learn how to plan and deliver lessons.
</p>
</details>

<details>
  <summary>**A collaborative, participant-centric approach**</summary>
  <p>
  <br/>
​Teachers and facilitators will have the opportunity to share their expertise from the field and collaborate on strategies to bring to the CS Principles and CS Discoveries classrooms, giving participants a chance to learn from everyone in the room. Facilitators model pedagogical strategies and participants share their own approaches by planning and delivering lessons.
​</p>
​</details>

<details>
  <summary>**One cohesive set of resources**</summary>
  <p>
  <br/>
​Our professional learning and curriculum flow seamlessly together, empowering teachers to deliver the course with confidence. In-person workshops combine with online tools to provide participants with a broad selection of resources to help them plan ahead for implementing the course in their classrooms, while also collaborating with other educators.
</p>
</details>

<details>
  <summary>**An active community of CS educators**</summary>
  <p>
  <br/>
All teachers have access to the Code.org forum, an online professional learning community that offers continued support with tools and content, introduces new and helpful resources for teaching the course, and lets teachers continue to explore the curriculum.

To help you say connected, we've also partnered with ISTE to offer all Code.org teachers discounted membership when they sign up for the first time.

<img style="margin-top:-8px; margin-bottom:-20px; margin-left:-25px; float:left;" src="/images/avatars/fit-200/iste.png"/>

Code.org and ISTE are partnering to expand teacher community and learning opportunities beyond Code.org’s professional learning. Through this partnership, <a href="https://www.iste.org/membership/code-org", target="_blank">we can offer an ISTE membership</a> exclusively to Code.org teachers at the special price of $99 (regularly $125).

<br>
Check out these 3 key benefits of ISTE membership:

- Professional Learning Networks made up of peer experts, including computer science educators
- Hundreds of webinar and ISTE Conference & Expo recordings on coding and other edtech topics
- Empowered Learner, ISTE’s print and online magazine for members covering the most important topics in edtech ($49 retail value)

</details>

[Check out our professional learning values](/educate/professional-learning/values) for more information about our goals and approach to professional learning. <br><br>
**Administrator Information**: [Share this flyer](/files/programs/codeorg-program-brochure.pdf) with your principal or administrators to encourage their support for your professional learning and expanding computer science opportunities at your school. See how this program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA).<br><br>
Want to help spread the word? [Print a flyer](https://code.org/files/PLProgramsOverview_1-Pager.pdf) to share with teachers.

## <a name="participate"></a>Who can participate?

The Code.org Professional Learning Program is open to educators who are interested in teaching Code.org courses - no prior computer science experience required! In order to participate in this program, we ask that applicants:

* Commit to participating in the full, year-long professional learning program
* Plan to teach the course in the 2019-20 school year
* For CS Discoveries, teach students between 6th and 10th grade
* For CS Principles, teach students between 9th and 12th grade
* Support the recruitment and enrollment of a diverse group of students in the course, representative of the school's student population

## Have questions?

<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high", notes: "Please tell me more about the professional learning program for grades 6-12!" %>

<br/>

And be sure to check out our <a href="https://docs.google.com/document/d/e/2PACX-1vSxBryx0io9I8VE5PtBmmaLaVUlorblmLBmZ9FYLV_sqse86stk_WHidIUjsyCptR7itNfqPrVJlTx0/pub", target=_"blank">Professional Learning Program FAQs</a>.


## Ready to apply?

<%=
link = "/educate/professional-learning/program-information"
link += "?nominated=true" if params[:nominated]
"<a class='linktag' id='pl-get-started-link' href='#{link}'><button>Get started!</button></a>"
%>

<!--

### <a name="facilitate"></a>How do I become a CS Discoveries Facilitator?

Code.org's [Facilitator Development Program](/educate/professional-learning/facilitator) is a highly-selective professional learning program designed to prepare and support facilitators to deliver quality workshops on the CS Principles curriculum.

If you're interested in becoming a Code.org Facilitator, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAq4l_1HsjdbtRBo7fggTrTZe0H9_tcRMBrxXA893QkP6MWA/viewform", target=_"blank">let us know!</a>

-->

<%= view :answerdash %>
<!--stackedit_data:
eyJoaXN0b3J5IjpbLTE2MDQxODUwMjhdfQ==
-->