---
title: Professional Learning Program Details
video_player: true
theme: responsive
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<style>
  details summary {
    cursor: pointer;
  }
</style>


<%=view :solid_block_header, :title=>"Professional Learning for Middle and High School Teachers", :subtitle=>"Bring Computer Science to your school through Code.org's Professional Learning Program" %>

<div style="clear: both;"></div>

<div style="clear: both;">

<div class="col-50" style="padding-right: 30px;">

<img src="/images/fit-450/marketing/excel-charter-schoolhoc-2015-stills-14.jpg">
<br><br>

</div>

<div class="col-50" style="padding-right: 30px; padding-bottom: 70px">

Computer science (CS) teaches critical thinking and problem solving, collaboration, curiosity and creativity - skills that all employers seek. When you bring CS to your classroom you open future possibilities to your students. 

<br><br><br><br>

<br/>

</div>

</div>

<a name="scholarships"></a>
<div style="clear: both;">
<div class="col-100">
<%= view :regional_partner_zip_form %>

</div>

</div>


<div style="clear: both;">
<%= view :three_circles, circles: [] %>
</div>


<div style="clear: both;">

<div class="col-33" style="padding-right: 20px;">
<center>
<b><br>Who is the course for?</b>
<br>
  <summary>The course is for cool people:</summary>
  <p align="left">
 <ul>
 <li>asdfasdf</li>
 <li>afdasdfad</li>
 <li>asdfasdf</li>
</ul>
</p>
</center>
</div>

<div class="col-33" style="padding-right: 20px;">
<center>
<b><br>What You'll Learn</b>
<br>
  <summary>You'll learn cool things like:</summary>
  <p>
  <ul>
 <li>asdfasdf</li>
 <li>afdasdfad</li>
 <li>asdfasdf</li>
</ul>
</p>
</center>
</div>

<div class="col-33" style="padding-right: 20px;">
<center>
<b><br>Benefits of the Program</b>
<br>
  <summary>This program is cool because:</summary>
  <p>
  <ul>
 <li>asdfasdf</li>
 <li>afdasdfad</li>
 <li>asdfasdf</li>
</ul>
</p>
</center>
</div>

<br>
<br>

<div style="clear: both;"></div> 

## Why apply?: 

<div style="clear: both;">

<div class="col-40" style="padding-right: 20px;">

<img src="/images/fit-300/marketing/excel-charter-schoolhoc-2015-stills-14.jpg">
<br><br>

</div>

<div class="col-60" style="padding-right: 10px; padding-bottom: 20px">

The majority of our workshop attendees rank it the best professional development ever. Over 90% of attendees would recommend our program to another teacher.

No experience needed! Whether you are new to teaching computer science (CS) or have experience teaching other CS courses, the Code.org Professional Learning Program offers year round support. We’ve designed this program to promote growth by providing space for you to become comfortable with curricular materials, CS content, and pedagogy.

Over a third of schools use Code.org's curriculum, including the largest school districts in the U.S., such as LAUSD, Broward, and Dallas ISD. And, over a quarter of our teachers come from rural schools.

Proven results - peer reviewed research shows that school participation in the Code.org program causes an estimated 5x increase in students that take and pass the AP Computer Science Principles exam.

Every Student Succeeds Act. The Code.org program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA). Learn more in our Program Brochure. <Br><br><Br><br>

<br/>

</div>

</div>

<div style="clear: both;"></div>

## Expectations

<div style="clear: both;">

<div class="col-40" style="padding-right: 20px;">

<img src="/images/fit-300/marketing/excel-charter-schoolhoc-2015-stills-14.jpg">
<br><br>

</div>

<div class="col-60" style="padding-right: 10px; padding-bottom: 20px">

Many teachers are surprised to learn just how feasible it is to expand computer science into their schools! You don’t need a fancy computer lab or previous experience teaching CS. We’ve also created an in-depth Administrator Brochure for you and your school leadership to assess what CS can bring to your students. 

Cost: Generous scholarships and grants are available across the country to cover the cost of the program. Enter your zip code to find the program cost of your local workshop.  

Commitment to Computer Science: 
- Plan to teach the course in the 2019-20 school year
- For CS Discoveries, teach students between 6th and 10th grade
- For CS Principles, teach students between 9th and 12th grade
- Last but not least, support the recruitment and enrollment of a diverse group of students in the course, representative of the school's student population
<Br><br><Br><br>

<br/>

</div>

</div>

<div style="clear: both;"></div>

## What You'll Learn

<div style="clear: both;">

<div class="col-50">

<center>
<a href="https://code.org/educate/csd">CS Discoveries (Grades 6-10)</a>

<div style="width: 70%;">
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "uQim0hBHco0", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csd">An introductory computer science course</a> that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun
* Can be taught as a 1 or 2 semester course (or 50+ course hours)

</div>

</div>

<div class="col-50">

<center>
<a href="https://code.org/educate/csp">CS Principles (Grades 9-12)</a>

<div style="width: 70%;">
<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: "false" %>

* <a href="https://code.org/educate/csp">A higher level introductory course</a> that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world
* Can be taught as an AP or non-AP class
* Requires a full year to teach (or 100+ course hours)

</div>

</div>

Technical Requirements: 
- Code.org website and emails are whitelisted (not blocked by a district’s firewall).
- Computer lab with 1:1 computers set up so that group work is possible OR an additional non-computer classroom that the teacher can use for group work.
- For additional IT requirements, please see https://code.org/educate/it 

<div style="clear: both;"></div>

## Have questions?

<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high", notes: "Please tell me more about the professional learning program for grades 6-12!" %>

<br/>

And be sure to check out our <a href="https://docs.google.com/document/d/e/2PACX-1vSxBryx0io9I8VE5PtBmmaLaVUlorblmLBmZ9FYLV_sqse86stk_WHidIUjsyCptR7itNfqPrVJlTx0/pub", target=_"blank">Professional Learning Program FAQs</a>.


## Ready to apply?

<%=
link = "/educate/professional-learning/program-information"
link += "?nominated=true" if params[:nominated]
"<a class='linktag' id='pl-get-started-link' href='#{link}'><button>Get started!</button></a>"
%>

<!--

### <a name="facilitate"></a>How do I become a CS Discoveries Facilitator?

Code.org's [Facilitator Development Program](/educate/professional-learning/facilitator) is a highly-selective professional learning program designed to prepare and support facilitators to deliver quality workshops on the CS Principles curriculum.

If you're interested in becoming a Code.org Facilitator, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAq4l_1HsjdbtRBo7fggTrTZe0H9_tcRMBrxXA893QkP6MWA/viewform", target=_"blank">let us know!</a>

-->

<%= view :answerdash %>
