---
title: Professional Learning Program Details
video_player: true
theme: responsive
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>

<style>
  details summary {
    cursor: pointer;
  }
</style>

# Professional Learning for Middle and High School Teachers
 <%= view :professional_learning_apply_banner, :link_suffix => "program-information", :style => {"padding-bottom" => "32px"} %>	

<a name="scholarships"></a>
<div class="col-50">
  <%= view :regional_partner_zip_form %>
</div>

<div class="col-50" width="75%" style='padding: 17px 25px 17px 25px; border-radius: 5px; background-color: #a69bc1; color: #ffffff'>
<h2 style="margin-top: 0; margin-bottom: 12px; color: #ffffff; font-size: 20px">In this program, you will:</h2>
<span>&#10003;</span> Explore the curriculum and learning tools<br>
<span>&#10003;</span> Practice teaching the course as a lead learner<br>
<span>&#10003;</span> Collaborate and share your expertise with fellow teachers<br>
<span>&#10003;</span> Join an active, nationwide community of CS educators<br>
<br>
<br>
<strong>No computer science experience is necessary!</strong> More details below.
</div>

<div style="clear: both; margin-bottom: 40px"></div>

<div class="col-33" style="text-align: center">
  <img src="/images/marketing/professional-learning-2021-middle-high.jpg" style="max-width: 60%; border-radius: 50%; border: 10px solid #59cad3">
</div>
<div class="col-66" style="color: #00adbc; margin-top: 30px; padding-right: 30px; font-size: 16px">
  "This was excellent professional development that allowed us time to reflect, process and debrief both individually and as a group. The activities were engaging and meaningful to learning the content. I feel like I'm leaving with skills I can immediately apply in teaching the curriculum."
  <br><br>
  -CS Discoveries Teacher, Alaska
</div>

<div style="clear: both; margin-bottom: 40px"></div>

<a name="why"></a>
## Why should you apply?

The Code.org Professional Learning Program is hosted by our Regional Partners across the country, and is designed to prepare teachers before and during their first year teaching CS Discoveries or CS Principles.
<br>
<br>

<img style="width: 7%; float: left; margin-right: 2%" src="/images/marketing/pl-2021-crowd.png">
<div style="width: 87%; float: left">
  <p style="margin-top:0"><strong>More than 100,000 teachers have participated</strong> in the Code.org Professional Learning Program, and the majority of attendees rank it the best professional development ever! Over 90% of attendees would recommend our program to another teacher.</p>
</div>
<div style="clear: both"></div>
<br>
<br>

<img style="width: 7%; float: left; margin-right: 2%" src="/images/marketing/pl-2021-growth.png">
<div style="width: 87%; float: left">
  <p style="margin-top:0"><strong>No experience needed!</strong> Whether you are new to teaching computer science (CS) or have experience teaching other CS courses, the Code.org Professional Learning Program offers year round support. We’ve designed this program to promote growth by providing space for you to become comfortable with curricular materials, CS content, and pedagogy.</p>
</div>
<div style="clear: both"></div>
<br>
<br>

<img style="width: 7%; float: left; margin-right: 2%" src="/images/marketing/pl-2021-schools.png">
<div style="width: 87%; float: left">
  <p style="margin-top:0"><strong>Over a third of schools</strong> use Code.org's curriculum, including the largest school districts in the U.S., such as LAUSD, Broward, and Dallas ISD. And, over a quarter of our teachers come from rural schools.</p>
</div>
<div style="clear: both"></div>
<br>
<br>

<img style="width: 7%; float: left; margin-right: 2%" src="/images/marketing/pl-2021-clipboard.png">
<div style="width: 87%; float: left">
  <p style="margin-top:0"><strong>Every Student Succeeds Act</strong>. The Code.org program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA). Learn more in our <a href="/files/programs/codeorg-program-brochure.pdf" target="_blank">Program Brochure</a>.</p>
</div>
<div style="clear: both; margin-bottom: 30px"></div>
<br>

<p>Hear from Code.org CEO Hadi Partovi and former U.S. Secretary of Education Arne Duncan on why you should bring computer science to your school. Webinar recording also features an overview of the Code.org Professional Learning Program and a brief panel discussion with a few of Code.org's Regional Partners.</p>
<a href="https://youtu.be/0u34aci9ayA" target="_blank"><button>View webinar recording</button></a>
<br>
<br>
<br>

<div class="col-100" style="padding: 25px; border-radius: 5px; background-color: #a69bc1; color: #ffffff">

<h2 style="margin-top: 0; color: #ffffff">Our program is backed by research</h2>
<div class="col-50" style="padding-right: 20px">
  <p>Compared with similarly-situated schools, <a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf" style="color: #ffffff; text-decoration: underline" target="_blank">a school's participation in the Code.org program causes an estimated five-fold increase</a> in the number of students that take, and earn qualifying scores on the AP Computer Science Principles exam.</p>
  <p>Why is that significant? <a href="https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536" style="color: #ffffff; text-decoration: underline" target="_blank">Six different studies show</a>: students who study computer science perform better in other subjects, excel at problem-solving, and are more likely to attend college.</p>
  <p>Students who take AP Computer Science Principles, in particular, are <a href="https://medium.com/@codeorg/study-computer-science-students-much-more-likely-to-enroll-in-college-faca65b1476d" style="color: #ffffff; text-decoration: underline" target="_blank">12% more likely to enroll in college</a> compared to similarly-situated peers, and students who take AP exams are <a href="https://files.eric.ed.gov/fulltext/ED519365.pdf" style="color: #ffffff; text-decoration: underline" target="_blank">more likely to graduate 4-year college</a>, regardless of their score on the exam.</p>
</div>
<div class="col-50" style="text-align:center">
  <a href="http://www.westcoastanalytics.com/uploads/6/9/6/7/69675515/wca_code_final_report_2018.pdf", target=_"blank"><img src="/images/csp-brown-study.png" style="width:90%"></a>
</div>
<div style="clear: both;"></div>

</div>

<div style="clear: both;"></div>

## Find the right course for your classroom

The program supports teachers with diverse teaching backgrounds as they prepare to teach either of the following courses:

<div class="col-50">
<h3><strong><a href="/educate/csd" style="color:#7665a0" target="_blank">CS Discoveries (Grades 6-10)</a></strong></h3>

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csd", video_code: "uQim0hBHco0", play_button: 'center', letterbox: "false" %>
<ul>
<li><a href="https://code.org/educate/csd" target="_blank">An introductory computer science course</a> that empowers students to create authentic artifacts and engage with computer science as a medium for creativity, communication, problem solving, and fun</li>
<li>Can be taught as a 1 or 2 semester course (or 50+ course hours)</li>
</ul>
</div>

</div>

<div class="col-50">
<h3><strong><a href="/educate/csp" style="color:#7665a0" target="_blank">CS Principles (Grades 9-12)</a></strong></h3>

<div style="width: 96%;">
<%=view :display_video_thumbnail, id: "intro_csp", video_code: "DMr1iFYacGQ", play_button: 'center', letterbox: "false" %>
<ul>
<li><a href="https://code.org/educate/csp" target="_blank">A higher level introductory course</a> that introduces the foundational concepts of computer science while challenging students to explore how computing and technology can impact the world</li>
<li>Can be taught as an AP or non-AP class</li>
<li>Requires a full year to teach (or 100+ course hours)</li>
</ul>
</div>

</div>

<div style="clear: both;"></div>

<%@show_csa = DCDO.get('courses_show_csa', CDO.default_courses_show_csa)%>
<% if @show_csa %>
  <p><strong>Coming in 2022</strong>: Computer Science A! In Computer Science A, students learn object-oriented programming using Java. Students take on the role of software engineers, and practice skills that are used in the field.</p> 
  <a href="/educate/csa" target="_blank"><button>Learn more</button></a>
<% end %>
<br>
<br>
Teach a different grade level or have fewer hours available with your students? <a href="https://code.org/files/course-pl-options.pdf", target="_blank">Find the right course for your classroom.</a>

<a name="features"></a>
## What can you expect?

Click on the features below to learn more about what our programs have to offer!

<details>
  <summary>**Engaging workshop experiences**</summary>
  <p>
  <br/>
Participants explore the curriculum and learning tools, discuss classroom management and teaching strategies, and build a community of teachers. With a focus on a customized experience, participants will develop skills while working in small groups to deepen their understanding of the materials.
</p>
<br/>
</details>

<details>
  <summary>**Teaching and learning in context**</summary>
  <p>
  <br/>
Participants will engage with the curriculum both as instructors and as learners. By experiencing the course content as an active learner, participants will gain important, concrete insight into the perspective their students will have during the academic year. By interacting with curriculum content as instructors, participants will learn how to plan and deliver lessons.
</p>
<br/>
</details>

<details>
  <summary>**A collaborative, participant-centric approach**</summary>
  <p>
  <br/>
​Teachers and facilitators will have the opportunity to share their expertise from the field and collaborate on strategies to bring to the CS Principles and CS Discoveries classrooms, giving participants a chance to learn from everyone in the room. Facilitators model pedagogical strategies and participants share their own approaches by planning and delivering lessons.
​</p>
​</details>

<details>
  <summary>**One cohesive set of resources**</summary>
  <p>
  <br/>
​Our professional learning and curriculum flow seamlessly together, empowering teachers to deliver the course with confidence. Immersive workshops combine with online tools to provide participants with a broad selection of resources to help them plan ahead for implementing the course in their classrooms, while also collaborating with other educators.
</p>
<br/>
</details>

<details>
  <summary>**An active community of CS educators**</summary>
  <p>
  <br/>
All teachers have access to the Code.org forum, an online professional learning community that offers continued support with tools and content, introduces new and helpful resources for teaching the course, and lets teachers continue to explore the curriculum.
<br/>
<br/>
To help you stay connected, we've also partnered with ISTE to offer all Code.org teachers discounted membership when they sign up for the first time.

<img style="margin-top:-8px; margin-bottom:-20px; margin-left:-25px; float:left;" src="/images/avatars/fit-200/iste.png"/>

Code.org and ISTE are partnering to expand teacher community and learning opportunities beyond Code.org’s professional learning. Through this partnership, <a href="https://www.iste.org/membership/code-org", target="_blank">we can offer an ISTE membership</a> exclusively to Code.org teachers at the special price of $65 (regularly $75).

<br>
Check out these 3 key benefits of ISTE membership:

- Professional Learning Networks made up of peer experts, including computer science educators
- Hundreds of webinar and ISTE Conference & Expo recordings on coding and other edtech topics
- Empowered Learner, ISTE’s digital newsletter for members, covering the most important topics in edtech
</details>

<a href="/educate/professional-learning/values" target="_blank">Check out our professional learning values</a> for more information about our goals and approach to professional learning. <br><br>
**Administrator Information**: <a href="/files/programs/codeorg-program-brochure.pdf" target="_blank">Share this flyer</a> with your principal or administrators to encourage their support for your professional learning and expanding computer science opportunities at your school. See how this program meets the six key criteria for professional development outlined in the Every Student Succeeds Act (ESSA). Find more information for administrators at <a href="https://code.org/administrators" target="_blank">code.org/administrators</a>.<br><br>
Want to help spread the word? <a href="https://code.org/files/PLProgramsOverview_1-Pager.pdf" target="_blank">Print a flyer</a> to share with teachers.

## <a name="participate"></a>Who can participate?

The Code.org Professional Learning Program is open to educators who are interested in teaching Code.org courses - no prior computer science experience required! In order to participate in this program, we ask that applicants:

* Commit to participating in the full, year-long Professional Learning Program
* Plan to teach the course in the 2021-22 school year
* For CS Discoveries, teach students between 6th and 10th grade
* For CS Principles, teach students between 9th and 12th grade
* Support the recruitment and enrollment of a diverse group of students in the course, representative of the school's student population

## <a name="questions"></a>Have questions?

<%= view :professional_learning_regional_partner_mini_contact, source_page_id: "middle-high", notes: "Please tell me more about the professional learning program for grades 6-12!" %>

<br/>

## Ready to apply?

<%=
link = "/educate/professional-learning/program-information"
link += "?nominated=true" if params[:nominated]
%>
<a class="linktag" id="pl-get-started-link" href="<%= link %>"><button>Get started!</button></a>

<br>
<br>

<hr>

<p style="font-size:11px">“Crowd” icon made by <a href="https://www.freepik.com/" title="Freepik" target="_blank">Freepik</a>. “Development” icon made by <a href="https://www.freepik.com/" title="Freepik" target="_blank">Freepik</a>. “University” icon made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware" target="_blank">Good Ware</a>. “Clipboard” icon made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry" target="_blank">Kiranshastry</a>. Icons sourced from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>.</p>


<!--

To help you say connected, we've also partnered with ISTE to offer all Code.org teachers discounted membership when they sign up for the first time.

<img style="margin-top:-8px; margin-bottom:-20px; margin-left:-25px; float:left;" src="/images/avatars/fit-200/iste.png"/>

Code.org and ISTE are partnering to expand teacher community and learning opportunities beyond Code.org’s professional learning. Through this partnership, <a href="https://www.iste.org/membership/code-org", target="_blank">we can offer an ISTE membership</a> exclusively to Code.org teachers at the special price of $99 (regularly $125).

<br>
Check out these 3 key benefits of ISTE membership:

- Professional Learning Networks made up of peer experts, including computer science educators
- Hundreds of webinar and ISTE Conference & Expo recordings on coding and other edtech topics
- Empowered Learner, ISTE’s print and online magazine for members covering the most important topics in edtech ($49 retail value)



### <a name="facilitate"></a>How do I become a CS Discoveries Facilitator?

Code.org's [Facilitator Development Program](/educate/professional-learning/facilitator) is a highly-selective professional learning program designed to prepare and support facilitators to deliver quality workshops on the CS Principles curriculum.

If you're interested in becoming a Code.org Facilitator, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAq4l_1HsjdbtRBo7fggTrTZe0H9_tcRMBrxXA893QkP6MWA/viewform", target=_"blank">let us know!</a>

## Program commitments and schedule
The Code.org Professional Learning Program has supports designed to prepare teachers before and during their first year teaching CS Discoveries or CS Principles. Professional learning workshops will be hosted by our [Regional Partners](/educate/professional-learning/about-partners) beginning in the summer of 2020.
<%
link = "/educate/professional-learning/program-information"
link += "?nominated=true" if params[:nominated]
%>
<a class="linktag" id="pl-apps-open-link" href="<%= link %>">**Applications are now open!**</a>

Please check your Regional Partner's <a href="/educate/professional-learning/program-information">program page</a> for commitments and schedule.

<br/>

And be sure to check out our <a href="https://docs.google.com/document/d/e/2PACX-1vSxBryx0io9I8VE5PtBmmaLaVUlorblmLBmZ9FYLV_sqse86stk_WHidIUjsyCptR7itNfqPrVJlTx0/pub", target=_"blank">Professional Learning Program FAQs</a>.

-->

<%= view :answerdash %>
