- @page_title = "#{current_user.name} #{t('teacher.rollup')}"
- hours = (params[:hours] || 1).to_i
- add_section_ui = !current_user.sections.blank?

= render partial: 'shared/teacher_nav', locals: { current: 'report' }

%h1= @page_title

%br/

= form_tag(nil, method: 'GET') do
  - if add_section_ui
    %div{ style: 'float: left; padding-right: 30px;'}
      = t('teacher.followers.section')
      = select_tag('section_id', options_from_collection_for_select(current_user.sections.unshift(Section.new(name: 'All')), :id, :name, params[:section_id]), {onchange:"this.form.submit();", style: "width: 140px; margin:0px;"  })
  %div{ style: 'float: left; padding-right: 30px;'}
    = t('teacher.followers.stages')
    = select_tag('game_id', options_for_select(@all_games.unshift(Game.new(name: 'all')).map {|g| [t(g.name), g.id]}, params[:game_id]), {onchange:"this.form.submit();", style: "width: 140px; margin:0px;"  })
  %div
    != t('teacher.followers.show_past', bullet_html: bullet_html)
    = select_tag('hours', options_for_select([[t('time.hour'), 1], [t('time.day'), 24], [t('time.week'), 24 * 7]], selected: params[:hours] || 1), {onchange:"this.form.submit();", style: "width: 100px; margin:0px;" })

%hr/

= render partial: 'followers/progress', locals: {hours: hours}
