- @page_title = t('teacher.sections.manage')

= render partial: 'shared/teacher_nav', locals: { current: 'sections' }

%h1= @page_title

%br/
= link_to t('teacher.sections.add'), new_section_path

%br/
%br/

%table{ style: "width:775px; table-layout:fixed;"}
  %colgroup
    %col{ width: 350 }
    %col{ width: 125 }
    %col{ width: 300 }

  %tr
    %th.manage-th= t('teacher.sections.section')
    %th.manage-th= t('teacher.sections.students')
    %th.manage-th= t('teacher.sections.add_section_code')

  - @sections.each do |section|
    %tr.manage-tr
      %td.manage-td
        = section.try(:name)
        = link_to(t('teacher.sections.rename'), edit_section_path(section.id))
        = link_to(t('teacher.sections.delete'), section_path(section.id), data: {confirm: t('teacher.sections.confirm_delete')}, method: :delete) if section.followers.empty?
      %td.manage-td
        = section.students.count
      %td.manage-td
        %span
          = section.code
        = link_to t('teacher.sections.email'), build_invite_mailto(section, current_user), target: :_blank

