%h1 Change #{@user.name}'s password

= form_for(@user, url: student_update_password_path, method: 'post') do |f|
  = f.hidden_field(:id)
  = f.password_field(:password, class: 'input-xlarge', placeholder: "New password")
  %br/
  = f.password_field(:password_confirmation, class: 'input-xlarge', placeholder: "Re-enter new password")
  %br/
  = submit_tag 'Change password', class: "btn btn-primary"