---
title: "Certificate for Completion of One Hour of Code"
theme: responsive
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:image:width" : "640"
  "twitter:image:height" : "451"
  "twitter:title": "I just finished the Hour of Code"
  "twitter:description": "Over 400 million Hours of Code have been served in 180+ countries and 45+ languages. Anyone can learn an hour of computer science."
  "og:title": "I just finished the Hour of Code"
  "og:description": "Over 400 million Hours of Code have been served in 180+ countries and 45+ languages. Anyone can learn an hour of computer science."
  "og:image:width": "640"
  "og:image:height": "451"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

:ruby
  @header["social"]["twitter:url"] = "http://#{request.host_with_port}/certificates/blank"
  @header["social"]["twitter:image:src"] = "http://#{request.host_with_port}/images/hour_of_code_certificate-640.jpg"
  @header["social"]["og:image"] = "http://#{request.host_with_port}/images/hour_of_code_certificate-640.jpg"
  @header["social"]["og:url"] = "http://#{request.host_with_port}/certificates/blank"

#hoc-certificate
  %a{:href=>"/printcertificate"}
    %img{:src=>"/images/hour_of_code_certificate.jpg", :alt=>"Certificate for Completion of One Hour of Code"}
#index
  #gap.feature-codeorg

  #top
    #video.col-63.desktop-pad-right
      = view :index_video

    #start.col-36
      #blurb.col-mobile-56.mobile-pad-right
        %br.desktop-feature

        = view :try_hoc_count
        %br

      #getstarted.col-mobile-44
        #largegap.mobile-show-medium{:style=>"height:50px"}
        %a{:href=>'/learn'}
          %button{:style=>"font-size: 19px; font-family: 'Gotham 5r', sans-serif; height: 50px;"}
            =I18n.t(:get_started)

    #below.mobile-center{:style=>'clear:both; overflow:hidden; padding-top: 0px'}
