%strong{:class => "code", :id => "message"} Hello,  #{@project.project_type}

%h2 Tables
%table
  %tr
    %td table_name
    %td columns
    %td is_shared_table
  - @tables.each do |table|
    %tr
      %td= table.table_name
      %td= table.columns
      %td= table.is_shared_table

%h2 Records

%table
  %tr
    %td table_name
    %td record_id
    %td record_json
  - @records.each do |record|
    %tr
      %td= record.table_name
      %td= record.record_id
      %td= record.record_json

%h2 Key Value Pairs

%table
  %tr
    %td key
    %td value
  - @key_value_pairs.each do |kvp|
    %tr
      %td= kvp.key
      %td= kvp.value

%h2 KeyValuePair

%h3 set_key_value
= form_tag "set_key_value", :method => :post, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = text_field_tag "value", "", placeholder: "\"value\""
  = submit_tag "set_key_value"

%h3 get_key_value
= form_tag "get_key_value", :method => :get, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = submit_tag "get_key_value"

%h2 Record

%h3 create_record
= form_tag "create_record", :method => :post, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "record_json", "", placeholder: "record_json"
  = submit_tag "create_record"

%h3 read_records
= form_tag "read_records", :method => :get, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = submit_tag "read_records"

%h3 update_record
= form_tag "update_record", :method => :put, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "record_id", "", placeholder: "record_id"
  = text_field_tag "record_json", "", placeholder: "record_json"
  = submit_tag "update_record"


%h3 delete_record
= form_tag "delete_record", :method => :delete, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "record_id", "", placeholder: "record_id"
  = submit_tag "delete_record"

%hr

%h2 Dataset Browser Data Loading Methods

%h3 get_table_names
= form_tag "get_table_names", :method => :get, :remote => false do
  = submit_tag "get_table_names"

%h3 get_key_values
= form_tag "get_key_values", :method => :get, :remote => false do
  = submit_tag "get_key_values"

%hr

%h2 Dataset Browser Actions Methods

%h3 create_table
= form_tag "create_table", :method => :post, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = submit_tag "create_table"

%h3 delete_table
= form_tag "delete_table", :method => :delete, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = submit_tag "delete_table"

%h3 clear_table
= form_tag "clear_table", :method => :delete, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = submit_tag "clear_table"

%h3 import_csv
= form_tag "import_csv", :method => :post, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_area_tag "table_data_csv", "", placeholder: "table_data_csv"
  = submit_tag "import_csv"

%h3 add_column
= form_tag "add_column", :method => :post, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "column_name", "", placeholder: "column_name"
  = submit_tag "add_column"

%h3 delete_column
= form_tag "delete_column", :method => :delete, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "column_name", "", placeholder: "column_name"
  = submit_tag "delete_column"

%h3 rename_column
= form_tag "rename_column", :method => :put, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "old_column_name", "", placeholder: "old_column_name"
  = text_field_tag "new_column_name", "", placeholder: "new_column_name"
  = submit_tag "rename_column"

%h3 coerce_column
= form_tag "coerce_column", :method => :put, :remote => false do
  = text_field_tag "table_name", "", placeholder: "table_name"
  = text_field_tag "column_name", "", placeholder: "column_name"
  = text_field_tag "column_type", "", placeholder: "column_type"
  = submit_tag "coerce_column"

%h3 delete_key_value
= form_tag "delete_key_value", :method => :delete, :remote => false do
  = text_field_tag "key", "", placeholder: "key"
  = submit_tag "delete_key_value"
