%h1 Listing User Course Enrollments

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @user_professional_learning_course_enrollments.each do |user_course_enrollment|
      %tr
        %td= user_course_enrollment.user.name
        %td= user_course_enrollment.professional_learning_course.name
        %td= link_to 'Show', user_course_enrollment
        %td= link_to 'Destroy', user_course_enrollment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User course enrollment', new_user_professional_learning_course_enrollment_path
