%p#notice= notice

%p Hello #{@user_professional_learning_course_enrollment.user.name}, here is your progress for #{@user_professional_learning_course_enrollment.professional_learning_course.name}

-@user_professional_learning_course_enrollment.user_enrollment_module_assignment.each do |module_enrollment|
  %p
    %strong #{module_enrollment.professional_learning_module.name}
    - module_enrollment.user_module_task_assignment.each do |artifact_assignment|
      %li #{artifact_assignment.professional_learning_task.name} - #{artifact_assignment.status}

-if @user_professional_learning_course_enrollment.user_enrollment_module_assignment.count == 0
  %p
    You have not taken the evaluation quiz. Once you have done so, we can enroll you in appropriate modules.
    = link_to 'Take evaluation quiz', "/plc_enrollment_evaluations/#{@user_professional_learning_course_enrollment.id}/perform_evaluation"


= link_to 'Back', user_professional_learning_course_enrollments_path
