-dont_cache

-encrypted_channel_id = request.splat_path_info[1..-1].split('/').first
-not_authorized! unless owns_channel? encrypted_channel_id
-channel_id = storage_decrypt_channel_id(encrypted_channel_id).last.to_s
-TableType = CDO.use_dynamo_tables ? DynamoTable : SqlTable

%form#csp_tables
  %table
    %tr
      %td
        Table name
      %td
        action
    -TableType.table_names(channel_id).each do |table_name|
      %tr
        %td
          #{table_name}
        %td
          %a{href:"/v3/edit-csp-table/#{encrypted_channel_id}/#{table_name}", target:"_blank"}
            view
    %tr
      %td
        %input#table-name-input
      %td
        %button
          Add
  %a{href:"/v3/edit-csp-properties/#{encrypted_channel_id}", target:"_blank"}
    view key/value pairs

:javascript
  $('#csp_tables').submit(
    function(e) {
      var tableName = document.getElementById('table-name-input').value;
      if (tableName) {
        window.open("/v3/edit-csp-table/#{encrypted_channel_id}/" + tableName, "_blank");
      }
    }
  );
