%center
  %h1 Find (Deleted) Students

%br/

%form{method: 'get'}
  %table.filters
    %tr
      %td
        Student Name
      %td
        %input{name: "studentNameFilter", id: "studentNameFilter", value: params[:studentNameFilter]}
    %tr
      %td
        Student Email
      %td
        %input{name: "studentEmailFilter", id: "studentEmailFilter", value: params[:studentEmailFilter]}
    %tr
      %td
        Teacher Name
      %td
        %input{name: "teacherNameFilter", id: "teacherNameFilter", value: params[:teacherNameFilter]}
    %tr
      %td
        Teacher Email
      %td
        %input{name: "teacherEmailFilter", id: "teacherEmailFilter", value: params[:teacherEmailFilter]}
    %tr
      %td
        Section Code
      %td
        %input{name: "sectionFilter", id: "sectionFilter", value: params[:sectionFilter]}

  %br/

  %center
    %input{type: "submit", name: "submit"}

%br/

%h2 #{@total_count}#{@total_count == AdminSearchController::MAX_TOTAL_SIZE ? '+' : ''} Users
- if @total_count > 0
  = paginate @users, total_pages: (@total_count / AdminSearchController::MAX_PAGE_SIZE.to_f).ceil
  %table.users
    %tr
      - ['ID', 'Name', 'Email', 'Provider', 'Deleted At', 'Undelete'].each do |field|
        %th
          %span= field
    - @users.each do |user|
      %tr
        - [:id, :name, :email, :provider, :deleted_at].each do |field|
          %td
            %span= user[field]
        - if user.deleted?
          %td
            =link_to 'Undelete User', undelete_user_path(user_id: user[:id]), method: :post, class: "btn", data: {confirm: "Are you sure?"}
- else
  No users met the specified search criteria.
