%h1 Lookup section

= form_tag(lookup_section_url, method: :post) do
  Enter the 6-letter section code:
  %br/
  = text_field_tag 'section_code'
  %br/
  = submit_tag 'Go!'

= form_tag(undelete_section_url, method: :post) do
  - if @section && @section.user
    %p= "Section code: #{@section.code}"
    %p{id: 'section_owner'}= "Owner: #{@section.user.email}"
    - if @section.deleted?
      = hidden_field_tag 'section_code', @section.code
      = submit_tag 'Undelete!'
    - else
      %a{href: teacher_dashboard_section_progress_url(@section)}
        %p View this section
    %h3 Section dump
    %pre= @section.inspect
    %h3 Teacher dump
    %pre= @section.user.inspect
  - elsif @section
    %p= "Section code: #{@section.code}"
    %p{id: 'section_owner'}= "Owner: DELETED"
