%h1
  = @pilot_name
%h2 Enter a single email address, or several!
%p Separate emails by line. For example:
%p teacher@school.org<br>teacher2@school.org<br>teacher3@school.org
%p Note: Use the lower right-hand corner to drag the box to any size.
= form_tag controller: 'admin_search', action: 'add_to_pilot', method: "post" do
  = text_area_tag :email, nil, width: '300px', height: '300px'
  = hidden_field_tag 'pilot_name', @pilot_name
  = submit_tag "Add", class: 'btn'
%table
  %tr
    %th
      %span Current Pilot Participants
    %th
      %span Actions
  - @emails.each do |email|
    %tr
      %td
        %span= email
      %td
        .btn.btn-link{"href" => "#remove_pilot_user", "role" => "button", "data-toggle" => "modal"} Remove

.modal.hide.fade#remove_pilot_user{"role"=>"dialog", "aria-labelledby" => "remove_pilot_userLabel", "aria-hidden" => "true"}
  .modal-header
    %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
      x
    %h3#remove_pilot_userLabel
      Remove Pilot User
  .modal-body
    You are about to remove this participant from this pilot.  Once you do this all progress this participant has made will be lost.  Are you sure?
  .modal-footer
    = form_tag controller: 'admin_search', action: 'remove_from_pilot', class: 'form-inline', method: "post" do
      = hidden_field_tag 'email', 'levelbuilder@dev.com'
      = hidden_field_tag 'pilot_name', @pilot_name
      = submit_tag "Remove", class: 'btn-primary'
