%h1
  = @pilot_name
%h2 Enter a single email address, or several!
%h5 Separate emails by line. For example:
%h6 teach@school.org
%h6 teach2@school.org
%h6 teach3@school.org
= form_tag controller: 'admin_search', action: 'add_to_pilot', method: "post" do
  = text_area_tag :email, nil, width: '300px', height: '300px'
  = hidden_field_tag 'pilot_name', @pilot_name
  = submit_tag "Add", class: 'btn'
%table
  %tr
    %th
      %span Email
  - @emails.each do |email|
    %tr
      %td
        %span= email
