%h1
  = @pilot_name
%h2 Input form below now accepts multiple emails!
%h5 Ex: teach@school.org, teach2@school.org, teach3@school.org
= form_tag controller: 'admin_search', action: 'add_to_pilot', method: "post" do
  = text_field_tag :email, nil, placeholder: "Teacher's email(s)", style: 'margin-bottom: 0'
  = hidden_field_tag 'pilot_name', @pilot_name
  = submit_tag "Add", class: 'btn'
%table
  %tr
    %th
      %span Email
  - @emails.each do |email|
    %tr
      %td
        %span= email
