<!DOCTYPE html>
<html dir="<%= options.localeDirection %>">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Blockly App - <%= app %>: <%= options.levelId %></title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/<%= app %>.css">

  <script type="text/javascript" src="../js/<%= options.locale %>/vendor.js"></script>

<% if (app === "maze" && options.levelId.indexOf('3_') === 0) { -%>
  <script type="text/javascript" src="../js/jsinterpreter/acorn_interpreter.js"></script>
  <script type="text/javascript" src="../js/requirejs/require.js"></script>
  <script type="text/javascript" src="../js/ace/ace.js"></script>
  <script type="text/javascript" src="../js/ace/ext-language_tools.js"></script>
  <script type="text/javascript" src="../js/droplet/droplet-full.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/droplet/droplet.min.css">
<% } -%>

  <script type="text/javascript" src="../js/<%= options.locale %>/<%= app %>.js"></script>
  <script type="text/javascript">
    <%= app %>Main(<%-: options | json %>);
  </script>
  <div id="blocklyApp"></div>
  <script type="text/javascript" src="chrome34Workaround.js"></script>
</body>
</html>
