%p
  Dear
  = "#{@principal_prefix} #{@principal_last_name},"

%p
  A teacher at your school,
  = "#{@teacher_name},"
  has submitted an application to participate in Code.org’s Professional Learning
  Program in order to teach the
  %a{href: @program_url}= @program_name
  curriculum during the 2017-18 school year. We are excited that this teacher is
  committed to computer science education!

%p
  %strong
    In order for us to consider your teacher’s application, we first need your approval.
  %p
    Please take five minutes to complete
    %a{href: @approval_form_url} this form
    as soon as possible. Please note that all applications and principal
    approvals are due no later than
    = "#{@due_date}."

%p
  Registration for the Professional Learning Program is free for participating
  teachers and requires the following time commitment:
  %ul
    %li
      One five-day summer workshop in 2017 (reasonable travel, lodging and
      meal expenses will be covered for participants)
    %li
      Up to four one-day local workshops during the 2017 - 18 school year
      (usually held on Saturdays)
    %li
      20 hours of online professional development during the 2017 - 18 school year

%p
  For more information about Code.org’s professional development programs, please visit
  = succeed "." do
    %a{href:"http://code.org/educate"}>http://code.org/educate
  Please send any additional questions to
  = succeed "." do
    %a{href:"mailto:teacher@code.org"}>teacher@code.org
  Thank you very much for your support of computer science for all!

%p
  Sarah Fairweather
  %br
  Teacher Development Program Manager
