%p
  Hello
  = @application.first_name + ','

%p
  Thank you for submitting your application to join Code.org's Professional Learning Program!
  - if @application.regional_partner
    We've received your application, and will be reviewing it in the next few weeks with your
    Regional Partner. As a reminder, your assigned Regional Partner is
    = @application.regional_partner.name + "."

%p
  Your principal will receive a form at the email address you provided,
  asking for approval of your participation in the program.
  %strong
    Your application will not be considered complete until your principal has finished this form,
  so please make sure your principal has received that email and completes the form as soon as possible.

%p
  The priority deadline for applications has passed, but we will consider your application if space
  remains in the program. If you have any additional questions, or need to update your application,
  please contact
  = link_to('teacher@code.org', 'mailto:teacher@code.org') + '.'

%p
  In the meantime, please visit
  = link_to 'https://code.org/yourschool', 'https://code.org/yourschool'
  and tell us more about what computer science opportunities are available at your school.
  Or, visit
  = link_to 'https://code.org/educate', 'https://code.org/educate'
  for additional resources and opportunities to connect with other computer science educators.
  Thank you for supporting computer science for every student!

%p
  Sarah Fairweather
  %br
  Education Team Program Manager
  %br
  Code.org
