%h1 Create a Foorm Simple Survey

%p
  %strong
    Note that any simple survey you create here that uses a URL
    that is already in use will become the survey visible at that URL.
  Check out
  = link_to 'this page', CDO.studio_url(foorm_simple_survey_forms_path, CDO.default_scheme)
  for the list of URLs currently in use.

= form_with model: @foorm_simple_survey_form, url: foorm_simple_survey_forms_path do |f|
  .field
    = f.label :path, 'Path suffix where survey will appear (studio.code.org/form/your_path_here). Lower case letters, numbers, and underscores only.'
    = f.text_field :path
  .field
    = f.label :kind, 'Survey identifier (optional, for analysis)'
    = f.text_field :kind
  .field
    = f.label :form_key, 'Form to appear on page:'
    = select_tag :form_key,
      options_from_collection_for_select(Foorm::Form.where(published: true), 'key', 'key')
  .field
    = f.label :allow_multiple_submissions, 'Allow multiple submissions by the same user?'
    = f.check_box :allow_multiple_submissions
  %button.btn.btn-primary{type: 'submit', style: 'margin: 0'} Create
