%p#notice= notice

%p
  %strong Name:
  = @plc_task.name

%p
  %strong Associated module
  = @plc_task.plc_learning_module.try(:name)

= link_to 'Edit', edit_plc_task_path(@plc_task)
\|
= link_to 'Back', plc_tasks_path
