- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'

%p
  %strong Name:
  = @task.name

%p
  %strong Associated module
  = @task.plc_learning_module.try(:name)

-unless @task.type == :plc_task
  %p
    = render partial: 'plc/tasks/view/' + @task.class.underscored_task_type

= link_to 'Edit', edit_plc_task_path(@task)
\|
= link_to 'Back to Learning Module', plc_learning_module_path(@task.plc_learning_module)
