---
title: Donate
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/donate-styles.css", rel: "stylesheet"}

-# Donate with Amazon
%script{async: "", src: "https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"}

-# Double the Donation
:javascript
  var DDCONF = { API_KEY: "#{CDO.ddconf_api_key}" };
%script{src: "https://doublethedonation.com/api/js/ddplugin.js"}

%section.top
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper.col-50
      %h1=hoc_s(:donate_page_top_heading)
      %p.body-one
        =hoc_s(:donate_page_top_desc)
      %a.link-button.has-external-link{href: "https://donate.code.org/campaign/support-computer-science-education/c172233", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_donate_to_cdo)
    %div.col-45{style: "margin: 1rem 0 0;"}
      = view :display_video_thumbnail, id: "donate_10th_anniv", video_code: "4w9y93ouj8w", play_button: 'center', letterbox: 'false', download_path: "//videos.code.org/donate_10th_anniversary_video.mp4"
  .clear

%section.fundraise.bg-neutral-dark
  .wrapper.centered
    %h2=hoc_s(:donate_page_fundraise_title)
    %p=hoc_s(:donate_page_fundraise_desc)
    %a.link-button.has-external-link{href: "https://donate.code.org/campaign/computer-science-education/c142257", target: "_blank", rel: "noopener noreferrer"}
      =hoc_s(:call_to_action_start_fundraiser)

%section.campaigns.bg-neutral-light
  .wrapper
    %h2.centered
      =hoc_s(:donate_page_campaigns_heading)
    .action-block.action-block--two-col.white
      .media-wrapper.col-50
        %img{src: "/images/farsi/farsi-students-snacking.png", alt: ""}
      .text-wrapper.col-50
        %h3=hoc_s(:farsi_page_top_heading)
        %p=hoc_s(:donate_page_campaigns_farsi_desc)
        .button-wrapper
          %a.link-button.has-external-link{href: "https://donate.code.org/CodeDotOrgInFarsi", target: "_blank", rel: "noopener noreferrer", aria:{label: hoc_s(:aria_label_call_to_action_farsi_donate)}}
            =hoc_s(:call_to_action_donate)
          %a.link-button.secondary{href: "/farsi", aria:{label: hoc_s(:aria_label_call_to_action_farsi_learn_more)}}
            =hoc_s(:call_to_action_learn_more)
    .clear

%section.donate-options
  .wrapper
    %h2.centered
      =hoc_s(:donate_page_other_ways_title)
    %p.centered
      =hoc_s(:donate_page_other_ways_desc)
    = view :"tabs_section/donate/donate_tabs"
    %p.body-three
      =hoc_s(:donate_page_501c3)

%section.supporters.bg-neutral-light
  .wrapper.centered
    %h2=hoc_s(:donate_page_supporters_heading)
    %p=hoc_s(:donate_page_supporters_desc)
    .logos.flex-container.justify-center.wrap
      %img{src: "/images/avatars/amazon.png", alt: hoc_s(:amazon_logo_alt)}
      %img{src: "/images/avatars/microsoft.png", alt: hoc_s(:microsoft_logo_alt)}
      %img{src: "/images/avatars/google.png", alt: hoc_s(:google_logo_alt)}
      %img{src: "/images/avatars/coinbase.png", alt: hoc_s(:coinbase_logo_alt)}
      %img{src: "/images/avatars/ballmer_group.png", alt: hoc_s(:ballmer_group_logo_alt)}
      %img{src: "/images/avatars/vista_equity_partners.png", alt: hoc_s(:vista_equity_partners_logo_alt)}
    .button-wrapper.centered
      %a.link-button.has-external-link{href: "https://donate.code.org/campaign/support-computer-science-education/c172233", target: "_blank", rel: "noopener noreferrer"}
        =hoc_s(:call_to_action_donate)
      %a.link-button.secondary{href: "/about/supporters"}
        =hoc_s(:call_to_action_view_our_supporters)

%section.bg-primary-light
  .wrapper.flex-container.justify-space-between.align-items-center.wrap
    .text-wrapper
      %h2.heading-lg
        =hoc_s(:donate_page_donation_policy_title)
      %p.no-margin-bottom
        =hoc_s(:donate_page_donation_policy_desc)
    .cta-wrapper
      %a.link-button{href: "/about/donation-policy"}
        =hoc_s(:call_to_action_view_donation_policy)

%section.seals
  .wrapper
    = view :about_seals

= view :analytics_event_log_helper, event_name: AnalyticsConstants::DONATE_PAGE_VISITED_EVENT
