- unit_group = local_assigns[:unit_group]

- if unit_group && unit_group.errors.any?
  #error_explanation
    %h2
      = pluralize(unit_group.errors.count, 'error')
      prohibited this course from being saved:
    %ul
      - unit_group.errors.full_messages.each do |msg|
        %li= msg

%h1
  New Course
= form_for(unit_group || :course, unit_group ? {url: course_path(unit_group)} : {url: courses_path}) do |f|
  .field
    = f.label 'URL slug'
    = f.text_field :name, placeholder: 'e.g. csp-2019'
  %button.btn.btn-primary{type: 'submit', style: 'margin: 0'} Create
