---
title: Multi-column Templates
nav: markdown_nav
video_player: true
theme: responsive
---

# Multi-column templates

## Two column layouts
***

### Text and text

<div class="col-50" style="padding-right: 40px; padding-bottom: 20px;">

Computer Science Discoveries is a full-year introductory computer science survey course (can be implemented as two standalone semesters) targeted at upper middle school and lower high school (grades 7-9). The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data. Students are empowered to create authentic artifacts and engage with CS as a medium for creativity, communication, problem solving, and fun.  This course will be piloted in Spring 2017, and will be rolling out Summer 2017.

</div>

<div class="col-50">

Computer Science Discoveries is a full-year introductory computer science survey course (can be implemented as two standalone semesters) targeted at upper middle school and lower high school (grades 7-9). The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data. Students are empowered to create authentic artifacts and engage with CS as a medium for creativity, communication, problem solving, and fun.  This course will be piloted in Spring 2017, and will be rolling out Summer 2017.

</div>

<div style="clear: both;"></div>


### Video and video

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video2", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video3", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div style="clear: both;"></div>

### Image and text

<div class="col-50" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video1", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-50">

Computer Science Discoveries is a full-year introductory computer science survey course (can be implemented as two standalone semesters) targeted at upper middle school and lower high school (grades 7-9). The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data. Students are empowered to create authentic artifacts and engage with CS as a medium for creativity, communication, problem solving, and fun.  This course will be piloted in Spring 2017, and will be rolling out Summer 2017.

</div>

<div style="clear: both;"></div>

### Text and Image

<div class="col-66" style="padding-right: 20px;">

Computer Science Discoveries is a full-year introductory computer science survey course (can be implemented as two standalone semesters) targeted at upper middle school and lower high school (grades 7-9). The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data. Students are empowered to create authentic artifacts and engage with CS as a medium for creativity, communication, problem solving, and fun.  This course will be piloted in Spring 2017, and will be rolling out Summer 2017.

</div>

<div class="col-33">

<img src="/images/fit-400/csdiscoveries-montage.jpg">

</div>

<div style="clear: both;"></div>

### Video and text

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video13", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-66">

Computer Science Discoveries is a full-year introductory computer science survey course (can be implemented as two standalone semesters) targeted at upper middle school and lower high school (grades 7-9). The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data. Students are empowered to create authentic artifacts and engage with CS as a medium for creativity, communication, problem solving, and fun.  This course will be piloted in Spring 2017, and will be rolling out Summer 2017.

</div>

<div style="clear: both;"></div>


## Three column layouts
***

### All text

<div class="col-33" style="padding-right: 20px; padding-bottom: 20px;">

Teachers say our elementary courses are “totally awesome sauce” and fun for all students, even pre-readers.

</div>

<div class="col-33" style="padding-right: 20px; padding-bottom: 20px;">

Our new middle school course can be offered as a semester or year-long introduction to computer science for all students.

</div>

<div class="col-33" style="padding-right: 20px; padding-bottom: 20px;">

We offer two year-long courses for high school: an intro course and an AP course. Both are designed to broaden participation in computer science.

</div>

<div style="clear: both;"></div>

### All pictures

<div class="col-33" style="padding-right: 20px;">

<img src="/images/fit-250/csdiscoveries-montage.jpg">

</div>

<div class="col-33" style="padding-right: 20px;">

<img src="/images/fit-250/csdiscoveries-montage.jpg">

</div>

<div class="col-33" style="padding-right: 20px;">

<img src="/images/fit-250/csdiscoveries-montage.jpg">

</div>

<div style="clear: both;"></div>

### All videos

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video4", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video5", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video6", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div style="clear: both;"></div>

### Neapolitan

<div class="col-33" style="padding-right: 20px;">

Computer Science Discoveries is a full-year introductory computer science survey course targeted at upper middle school and lower high school (grades 7-9).

</div>

<div class="col-33" style="padding-right: 20px;">

<img src="/images/fit-250/csdiscoveries-montage.jpg">

</div>

<div class="col-33" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video7", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div style="clear: both;"></div>

## Four column layouts
***

### All text

<div class="col-25" style="padding-right: 20px; padding-bottom: 20px;">

Teachers say our five elementary courses are “totally awesome sauce” and fun for all students, even pre-readers.

</div>

<div class="col-25" style="padding-right: 20px; padding-bottom: 20px;">

Our new middle school course can be offered as a semester or year-long introduction to computer science for all students.

</div>

<div class="col-25" style="padding-right: 20px; padding-bottom: 20px;">

We offer two year-long courses for high school: an intro course and an AP course. Both are designed to broaden participation in computer science.

</div>

<div class="col-25" style="padding-right: 20px; padding-bottom: 20px;">

The Hour of Code is a global movement reaching tens of millions of students in 180+ countries.

</div>

<div style="clear: both;"></div>

### All pictures

<div class="col-25" style="padding-right: 20px;">

<img src="/images/fit-170/csdiscoveries-montage.jpg">

</div>

<div class="col-25" style="padding-right: 20px;">

<img src="/images/fit-170/csdiscoveries-montage.jpg">

</div>

<div class="col-25" style="padding-right: 20px;">

<img src="/images/fit-170/csdiscoveries-montage.jpg">

</div>

<div class="col-25" style="padding-right: 20px;">

<img src="/images/fit-170/csdiscoveries-montage.jpg">

</div>

<div style="clear: both;"></div>

### All videos

<div class="col-25" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video8", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-25" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video9", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-25" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video10", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div class="col-25" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video11", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div style="clear: both;"></div>

### Neapolitan

<div class="col-25" style="padding-right: 20px;">

Computer Science Discoveries is a full-year introductory computer science survey course targeted at upper middle school and lower high school (grades 7-9).

</div>

<div class="col-25" style="padding-right: 20px;">

<img src="/images/fit-170/csdiscoveries-montage.jpg">

</div>

<div class="col-25" style="padding-right: 20px;">

The course takes a wide lens on computer science by covering topics such as programming, physical computing, HTML/CSS, and data.

</div>

<div class="col-25" style="padding-right: 20px;">

<%=view :display_video_thumbnail, id: "video12", video_code: "2-QpgNHknds", play_button: 'center', letterbox: 'false' %>

</div>

<div style="clear: both;"></div>

<br>
