= form_for @teacher_bonus_prize do |f|
  - if @teacher_bonus_prize.errors.any?
    #error_explanation
      %h2= "#{pluralize(@teacher_bonus_prize.errors.count, "error")} prohibited this teacher_bonus_prize from being saved:"
      %ul
        - @teacher_bonus_prize.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :prize_provider_id
    = f.number_field :prize_provider_id
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
