%h1 Listing teacher_bonus_prizes

%table
  %tr
    %th Prize provider
    %th Code
    %th User
    %th
    %th
    %th

  - @teacher_bonus_prizes.each do |teacher_bonus_prize|
    %tr
      %td= teacher_bonus_prize.prize_provider_id
      %td= teacher_bonus_prize.code
      %td= teacher_bonus_prize.user_id
      %td= link_to 'Show', teacher_bonus_prize
      %td= link_to 'Edit', edit_teacher_bonus_prize_path(teacher_bonus_prize)
      %td= link_to 'Destroy', teacher_bonus_prize, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Teacher bonus prize', new_teacher_bonus_prize_path
