---
title: Hour of Code Teacher Resources
theme: responsive
---
%link{href: "/css/student.css", rel: "stylesheet"}
%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet", type: "text/css"}
%script{type: "text/javascript", src: "/js/hoc-overview.js"}

%h1= I18n.t(:hoc_overview_title)

=I18n.t(:hoc_overview_subtitle)

#resources.tile-container-responsive
  = view :top_hoc_tutorials
.clear

.full-resource-block
  %img{src: "/images/hoc2018.png"}
  .description
    %h2.resource-title= I18n.t(:hoc_overview_partner_activities_title)
    = I18n.t(:hoc_overview_partner_activities_body)
    %div
      %a{href: "https://hourofcode.com/learn"}
        %button.tutorial-gray{style: "margin-top: 15px;"}= I18n.t(:hoc_overview_partner_activities_link)

.hoc-tiles-container
