---
title: Hour of Code Teacher Resources
theme: responsive
social:
  twitter:card: photo
  twitter:site: "@codeorg"
  og:image:width: '1200'
  og:image:height: '630'
---
:ruby
  @header["social"]["twitter:url"] = 'https://' + request.host + '/hourofcode/overview'
  @header["social"]["twitter:title"] = hoc_s(:hour_of_code)
  @header["social"]["twitter:description"] = hoc_s(:social_hoc2018_global_movement)
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/social-media/code-2018-creativity.png'
  @header["social"]["og:title"] = hoc_s(:hour_of_code)
  @header["social"]["og:description"] = hoc_s(:social_hoc2018_global_movement)
  @header["social"]["og:image"] = 'https://' + request.host + '/images/social-media/code-2018-creativity.png'

%link{href: "/css/student.css", rel: "stylesheet"}
%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet", type: "text/css"}
%script{type: "text/javascript", src: "/js/hoc-overview.js"}

%h1= I18n.t(:hoc_overview_title)

= I18n.t(:hoc_overview_subtitle)

.full-resource-block{style: "margin-top: 20px;"}
  %a{href: "/dance"}
    %img.full-resource-image{src: "/images/dance_party_2019.gif"}
  .tutorial-info{style: "padding: 30px;"}
    %span
      %h2.resource-title= I18n.t(:hoc_overview_dance_title)
      = I18n.t(:hoc_overview_dance_2019_subtitle)
    %span
      %a{href: "/dance"}
        %button.tutorial-info-start.tutorial-gray= I18n.t(:go)
      .tutorial-info-guide
        %a{href: "https://curriculum.code.org/hoc/plugged/8/"}
          = I18n.t(:hoc_overview_view_teacher_guide)

.tile-container-responsive{style: "margin-top: 20px;"}
  = view :top_hoc_tutorials
.clear

.full-resource-block
  %img.full-resource-image{src: "/images/hoc2018.png"}
  .activities-info
    %span
      %h2.resource-title.white= I18n.t(:hoc_overview_partner_activities_title)
      = I18n.t(:hoc_overview_partner_activities_body)
    %span
      %a{href: "https://hourofcode.com/learn"}
        %button.tutorial-info-start.tutorial-gray= I18n.t(:hoc_overview_partner_activities_link)

.hoc-tiles-container
