---
title: Hour of Code Teacher Resources
theme: responsive
---

:css
  .container_responsive { width: 970px }

%link{href: "/css/student.css", rel: "stylesheet"}
%link{href: "/css/tools.css", rel: "stylesheet"}
%link{href: "/shared/css/course-blocks.css", rel: "stylesheet", type: "text/css"}
%link{href: "/css/generated/hoc-skinny-banner.css", rel: "stylesheet", type: "text/css"}
%script{type: "text/javascript", src: "/js/hoc-overview.js"}

- js_locale = request.locale.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}

%link{href: "/shared/css/barlow-semi-condensed-font.css", rel: "stylesheet"}
%link{href: "/shared/css/metropolis-font.css", rel: "stylesheet"}
%link{href: "/shared/css/phase1-design-system.css", rel: "stylesheet"}

%div.hoc-overview-page{dir: language_dir_class}

  %h1= I18n.t(:hoc_overview_title)
  %aside.hoc-skinny-banner
    .wrapper
      %h1=hoc_s(:hoc2022_codeorg_title)
      %p=hoc_s(:hoc2022_codeorg_description)
    %img{src: "/images/hoc2022-skinny-banner-james-webb-illustration.png", alt: I18n.t(:hoc2022_nasa_webb_alt_text)}
    %a{href: "/hourofcode2022"}
      %button=I18n.t(:dashboard_announce_learn_more_button)
  != I18n.t(:hoc_overview_subtitle_markdown, markdown: :inline)
  %br/
  .tile-container-responsive{style: "margin-top: 20px;"}
    .col-50
      .tutorial-tile
        %a{href: "/dance"}
          %img.tutorial-tile-img{src: "/images/fill-473x258/dance_party_2019.gif", alt: I18n.t(:hoc_danceparty_alt_text)}
        .tutorial-info
          %span
            %h2.tutorial-info-h= I18n.t(:hoc_overview_dance_title)
            .smalltext= I18n.t(:hoc_overview_dance_2022_subtitle)
          %span
            %a{href: "/dance"}
              %button.tutorial-info-start.tutorial-gray= I18n.t(:go)
            .tutorial-info-guide
              %a{href: CDO.curriculum_url(I18n.locale, "/hoc/plugged/8/")}
                = I18n.t(:hoc_overview_view_teacher_guide)

    .col-50
      .tutorial-tile
        %a{href: "/helloworld"}
          %img.tutorial-tile-img{src: "/images/hello-world-2022.png", alt: I18n.t(:hoc_overview_hello_world_2022_alt_text)}
        .tutorial-info
          %span
            %h2.tutorial-info-h{style: "text-transform: capitalize"}= I18n.t(:hello)
            .smalltext= I18n.t(:hoc_overview_hello_world_2022_subtitle)
          %span
            %a{href: "/helloworld"}
              %button.tutorial-info-start.tutorial-gray= I18n.t(:go)

  .tile-container-responsive
    = view :top_hoc_tutorials
  .clear

  - hoc_mode = DCDO.get("hoc_mode", CDO.default_hoc_mode)
  - hoc_image = ["pre-hoc", "soon-hoc", "actual-hoc", "post-hoc"].include?(hoc_mode) ? "/images/hoc2022-banner.png" : "/images/hoc-cse-banner.png"

  .full-resource-block{style: "position: relative"}
    %a{href: CDO.hourofcode_url('/learn')}
      %img.full-resource-image{src: hoc_image, style: "border: 1px solid #949ca2", alt: I18n.t(:hoc_banner_alt_text)}
    .activities-info
      %span
        %h2.resource-title.white= I18n.t(:hoc_overview_partner_activities_title)
        = I18n.t(:hoc_overview_partner_activities_body)
      %span
        %a{href: CDO.hourofcode_url('/learn')}
          %button.tutorial-info-start.tutorial-gray= I18n.t(:hoc_overview_partner_activities_link)

  .hoc-tiles-container
