%h1 LLMGuard Demo

- if defined?(@is_toxic)
  Was it toxic? #{@is_toxic}

= form_with url: llm_guard_check_prompt_path, method: :post do
  .field
    = label_tag :text, "Prompt:"
    = text_area_tag :prompt, @prompt, rows: 10

  .actions
    = submit_tag "Is it Toxic?"
