%h1 Workshop Material Orders

%table.table.table-hover.table-condensed
  %thead
    %td Created
    %td Email
    %td Name
    %td Status
    %td Estimated Ship
    %td Estimated Delivery
    %td Tracking
  %tbody
    - @workshop_material_orders.each do |order|
      %tr
        %td= order.created_at.to_date
        %td= order.enrollment.email
        %td= order.enrollment.full_name
        %td= order.order_status
        %td= order.expected_ship_date
        %td= order.expected_delivery_date
        %td
          - if order.tracking_id
            %a{href: order.tracking_url, target: '_blank'}
              = order.tracking_id
