---
title: Whole-school Hour of Code events
layout: wide
nav: events_nav
---
-SOLR = Solr::Server.new(host:CDO.solr_server)

-by_state = {}

-events = SOLR.query(q:"*:*", fq:["kind_s:HocSignup2014", 'location_country_s:"United States"', "organization_name_s:[* TO *]", "entire_school_flag_b:true"], sort:'location_state_s asc', rows:1000)
-events.each do |event|
  -state = event['location_state_s'].to_s
  -by_state[state] = [] unless by_state.has_key?(state)
  -by_state[state] << event

%script{src:'/js/event-list.js'}

%h1 Whole-school Hour of Code events

%ul
  -by_state.each_pair do |state, events|
    -unless state.nil_or_empty?
      %li{class: "hoc-event-state"}
        %a{href: "#"}= events.count > 1 ? "#{state} (#{events.count} events)" : "#{state} (#{events.count} event)"
