---
title: Hour of Code
require_https: true
video_player: true
theme: responsive
nav: employee_engagement_nav
---

# Host an Hour of Code!

<div class="col-50" style="float:left; padding:10px">

  <img src="/images/employee-engagement/hoc-kids.jpg" style="max-width: 100%">
</div>

<div class="col-50" style="float:left; padding:10px">

  <strong>Company lift</strong>: Medium-high<br>
  <strong>Employee lift</strong>: Low<br>
  <strong>Cadence</strong>: One time event anytime of year. Most popular during CS Education Week in December.
  
</div>
 

<div style="clear: both;"></div>

The Hour of Code is a one-hour introduction to computer science designed to demystify “code”, to show that anybody can learn the basics, and to broaden participation in the field of computer science. Since 2013, the Hour of Code has been part of Computer Science Education Week, an annual celebration of the computing field and its heritage. Now a global movement, the Hour of Code has served almost 400 million Hours of Code in 180+ countries! 

Hosting an Hour of Code event is a great way to get your company and employees involved in your local communities. Hosting an event can take many forms. Some examples include helping a local school host an assembly to inspire students about CS, inviting a local school to your offices to do an Hour of Code with your employees, inviting your employees and their families to an office hosted event, etc.

Learn more about the Hour of Code [here](https://www.hourofcode.com).

## Steps:

1. **[Reach out](#school) to a local school.** You should do this 3-4 months prior to the event.
2. **[Register](https://hourofcode.com) your event and plan and finalize event strategy**. Discuss with the school where the event should be held, agenda, and other logistics.
3. **[Message](#communication) out to your employees.** Let them know about the event and how they can get involved.
4. **Host the event!**
5. **Celebrate!** Share on social media and other marketing channels about the success of your event.

### Here's the **[how-to guide](https://hourofcode.com/how-to)** for hosting an Hour of Code!

_____________________________________________

<a name="school"></a>
## How to connect with a school

- Look into your existing connections. If your company has an existing relationship with a local school reach out! Tap your employees to see if their children's school is hosting an Hour of Code and how your company can get involved.
-  If your office is located [near one of our regional partners](/educate/regional-partner/partners), we can put you in touch. Contact donate@code.org.
-  Check out our [map](https://hourofcode.com/map) of Hour of Code events to find a school already participating in the Hour of Code

<a name="communication"></a>
## Sample messaging to your employees

**Purpose:** To announce to your employees about your company’s participation in the Hour of Code and how they can get involved.<br/>
**Subject:** The Hour of Code is here!<br/>
**To:** Your employees
<br/>

[letter]

Hello [NAME],

Computer science is the defining field of the 21st century, yet most schools don’t teach it. Join us to help give every student in every school the opportunity to learn!

I am excited to announce that [COMPANY] will be joining Code.org this year to help promote the “Hour of Code”! The Hour of Code is a global movement reaching over 100 million students of diverse backgrounds in 180+ countries to help broaden participation in computer science and promote diversity in tech.

Last year, we had over [X] employees volunteer and we hope to exceed our goal this year! 

How you can get involved:
Join us as [COMPANY]'s Hour of Code event! 
[EVENT DETAILS]

You can also volunteer in a classroom! To learn more about this opportunity, check out Code.org's [volunteer guide](https://code.org/volunteer/guide).

[COMPANY] is proud to participate in this worldwide campaign. Our efforts will help introduce many students to computer science who might not have discovered it otherwise. Technology is transforming the globe—the Hour of Code is our opportunity to transform technology by promoting equity and diversity in the field’s education and career pathways.

Join us to help lead this movement forward!

-SIGNED
<br/>
P.s. Try an [Hour of Code tutorial](/learn) yourself!

[/letter]


## How can your company further support the Hour of Code?

You and your employees are volunteering in your communities and spreading the word about the Hour of Code. Here are some ways your company can help promote and highlight how you are getting involved:

### Hour of Code general announcement

- [COMPANY] is passionate about diversity and equity in tech. Check out what we are doing with the #HourOfCode!
- [COMPANY] is hosting an Hour of Code event! See how you can also get involved [here](https://hourofcode.com).
- The #HourOfCode is coming again—join the movement!
- Computer science is changing our world. Help students participate in this change with one #HourOfCode
- Don’t just use technology—learn how to build it. Help someone start with an #HourOfCode
- Every leap forward in technology begins with one #HourOfCode. Join [COMPANY] to help the next generation learn!
- [Company] is proud to be a part of such an amazing worldwide movement. Join us to help every child have access to Compunter Science education!

### Stats

- More girls have tried computer science through #HourofCode than in the last 70 years. Help us make history again
- Did you know only 1 in 4 schools teach computer science? Give every student the chance to learn one #HourOfCode
- Only 26% of software professionals are women. Support introducing girls to computer science with #HourOfCode
- 67% of computing jobs are outside the tech sector. Help make computer science foundational learning with 


### Engineer-specific
<ul>
<li>If your very first line of code changed your life, help students near you do their first #HourOfCode</li>
<li>If you learned to code—what’s your story? Inspire a student near you through their first #HourOfCode</li>
</ul>

### Share our Videos: 

<div class="col-33" style="float:left; padding:10px">

  <%= view :display_video_thumbnail, id: "uniqueid", video_code: "nKIu9yen5nc", letterbox: 'false', caption: "What most schools don't teach" %>
</div>

<div class="col-33" style="float:left; padding:10px">

  <%= view :display_video_thumbnail, id: "uniqueid2", video_code: "QvyTEx1wyOY", letterbox: 'false', caption: "Computer Science is Changing Everything" %>
</div>

<div class="col-33" style="float:left; padding:10px">

  <%= view :display_video_thumbnail, id: "uniqueid6", video_code: "qYZF6oIZtfc", letterbox: 'false', caption: "Anybody Can Learn" %>
</div>

<div style="clear: both;"></div>

<div class="col-33" style="float:left; padding:10px">

  <%= view :display_video_thumbnail, id: "uniqueid4", video_code: "cFdncBMDtP8", letterbox: 'false', caption: "Malala Challenges Girls to do the Hour of Code" %>
</div>

<div class="col-33" style="float:left; padding:10px">

  <%= view :display_video_thumbnail, id: "uniqueid5", video_code: "KsOIlDT145A", download_path: '//videos.code.org/social/what-most-schools-dont-teach.mp4', letterbox: 'false', caption: "Hour of Code - WORLDWIDE" %>
</div>

<div class="col-33" style="float:left; padding:10px">

  <%= view :display_video_thumbnail, id: "uniqueid3", video_code: "FC5FbmsH4fw", letterbox: 'false', caption: "The Hour of Code is Here" %>
</div>

<div style="clear: both;"></div>

### Other resources:
Hour of Code [promotional resources](https://hourofcode.com/promote/resources): Includes brochures, one-pagers, images, stats, posters, etc.
About Code.org<br/><br/>
Promote through Code.org [SWAG](https://store.code.org) (all proceeds go to supporting more students gain access to computer science education)
