---
title: Unit
---
- directory = Dir[File.join(sites_dir('virtual/curriculum-2-3/'), unit_lesson)].first
- files = Dir.entries(directory)
- lesson_info = YAML.load_file(File.join(directory, 'info.yml'))

%h1 Lesson #{unit_lesson}: #{lesson_info["title"]}

- extensions = [ ".html", ".md", ".csv"]
- extensions.each do |extension|
  - filtered_files = files.select {|entry| File.extname(entry) == extension }
  - filtered_files.each do |file|
    -basename = File.basename(file, extension)
    - if extension == ".md" || extension == ".haml"
      %a{:href=>"/curriculum/2-3/#{unit_lesson}/#{basename}"}= basename
      (
      %a{:href=>"/curriculum/2-3/#{unit_lesson}/#{basename}.pdf"}> PDF
      )
    -else
      -if File.extname(file) == '.html'
        -filename = File.basename(file, ".*")
      -else
        -filename = file
      %a{:href=>"/curriculum/2-3/#{unit_lesson}/#{file}"}= filename
    %br
  %br
