:ruby
  poetry_courses = [
    {
      overline: hoc_s('poetry_page.poetry_course_content.poem_art.overline'),
      title: hoc_s('poetry_page.poetry_course_content.poem_art.title'),
      image: "/images/csc-module-poem-art.png",
      desc: hoc_s('poetry_page.poetry_course_content.poem_art.desc'),
      format: hoc_s('poetry_page.poetry_course_content.poem_art.format'),
      start_course: hoc_s('poetry_page.poetry_course_content.poem_art.start_course'),
      start_course_url: CDO.studio_url("/s/poem-art-2021/reset"),
      start_course_aria_label: hoc_s('poetry_page.poetry_course_content.poem_art.start_course_aria_label'),
      course_details: hoc_s('call_to_action_see_lesson_details'),
      course_details_url: CDO.studio_url("/s/poem-art-2021/lessons/1"),
      course_details_aria_label: hoc_s(:aria_label_call_to_action_module_poem_art)
    },
    {
      overline: hoc_s('poetry_page.poetry_course_content.coding_with_poetry.overline'),
      title: hoc_s('poetry_page.poetry_course_content.coding_with_poetry.title'),
      image: "/images/csc-module-coding-w-poetry.png",
      desc: hoc_s('poetry_page.poetry_course_content.coding_with_poetry.desc'),
      format: hoc_s('poetry_page.poetry_course_content.coding_with_poetry.format'),
      start_course: hoc_s('poetry_page.poetry_course_content.coding_with_poetry.start_course'),
      start_course_url: CDO.studio_url("/s/poetry"),
      start_course_aria_label: hoc_s('poetry_page.poetry_course_content.coding_with_poetry.start_course_aria_label'),
      course_details: hoc_s('call_to_action_see_module_details'),
      course_details_url: CDO.studio_url("/s/poetry?viewAs=Instructor"),
      course_details_aria_label: hoc_s(:aria_label_call_to_action_module_coding_w_poetry)
    }
  ]

.action-block__wrapper.action-block__wrapper--two-col
  - poetry_courses.each do |poetry_course|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          = poetry_course[:overline]
        %h3
          = poetry_course[:title]
        %img{src: poetry_course[:image], alt: ""}
        %p
          = poetry_course[:desc]
        %p.no-margin-bottom
          %strong
            =hoc_s('module_label_grades')
            =hoc_s('module_grade_3_5')
        %p.no-margin-bottom
          %strong
            =hoc_s('poetry_page.poetry_course_card.format')
            = poetry_course[:format]
        .content-footer
        %a.link-button{href: "#{poetry_course[:start_course_url]}", "aria-label": "#{poetry_course[:start_course_aria_label]}"}
          = poetry_course[:start_course]
        %a.link-button.secondary{href: "#{poetry_course[:course_details_url]}", "aria-label": "#{poetry_course[:course_details_aria_label]}"}
          = poetry_course[:course_details]
