---
title: Language support for each tutorial
nav: translate_nav
theme: responsive
style_min: true
---

# Code.org Computer Science Curriculum: Supported Languages

## Courses for Students in Primary Grades (Ages 5-11)

<%= view :csf_languages %>

## Hour of Code Tutorials for All Students (Ages 4-18+)

<div id="minecraft_designer"></div>
<%= view :minecraft_designer_languages %>

<div id="minecraft_adventurer"></div>
<%= view :minecraft_adventurer_languages %>

<div id="starwars"></div>
<%= view :starwars_languages %>

<div id="frozen"></div>
<%= view :frozen_languages %>

