:ruby
  block_item = [
    {
      overline: hoc_s(:module_grade_2_12),
      title: hoc_s(:curriculum_name_dance_party),
      image: "/images/dance-hoc/dance-party-activity-01.png",
      desc: hoc_s(:curriculum_desc_dance_party_01),
      url: CDO.studio_url("/s/dance-2019/reset"),
      aria_label: hoc_s(:aria_label_call_to_action_dance_01),
      button_label: hoc_s(:call_to_action_start_dance_party)
    },
    {
      overline: hoc_s(:module_grade_2_12),
      title: hoc_s(:curriculum_name_dance_party_02),
      image: "/images/dance-hoc/dance-party-activity-02.png",
      desc: hoc_s(:curriculum_desc_dance_party_02),
      url: CDO.studio_url("/s/dance-extras-2019/reset"),
      aria_label: hoc_s(:aria_label_call_to_action_dance_02),
      button_label: hoc_s(:call_to_action_start_part_02)
    },
    {
      overline: hoc_s(:module_grade_2_8),
      title: hoc_s(:curriculum_name_dance_party_unplugged),
      image: "/images/dance-hoc/dance-party-activity-unplugged.png",
      desc: hoc_s(:curriculum_desc_dance_party_unplugged),
      url: CDO.studio_url("/s/dance-unplugged/lessons/1"),
      aria_label: hoc_s(:aria_label_call_to_action_dance_unplugged),
      button_label: hoc_s(:call_to_action_start_unplugged_activity)
    },
  ]

.action-block.action-block--two-col
  .media-wrapper.col-50
    %img{src: "/images/dance-hoc/dance-party-activity-ai-edition.png", alt: ""}
  .text-wrapper.col-50
    .flex-container.justify-space-between.align-items-start
      %p.overline
        =hoc_s(:module_label_grades)
        =hoc_s(:module_grade_3_12)
      %p.new
        =hoc_s(:new)
    %h3.heading-md
      = hoc_s(:curriculum_name_dance_party_ai_edition)
    %p
      = hoc_s(:curriculum_desc_dance_party_ai_edition)
    %a.link-button{href: CDO.studio_url("/s/dance-ai-2023/reset")}
      = hoc_s(:call_to_action_start_dance_party_ai_edition)
  .clear

.action-block__wrapper.action-block__wrapper--three-col
  - block_item.each do |block_item|
    .action-block.action-block--one-col.flex-space-between
      .content-wrapper
        %p.overline
          =hoc_s(:module_label_grades)
          = block_item[:overline]
        %h3
          = block_item[:title]
        %img{src: block_item[:image], alt: ""}
        %p
          = block_item[:desc]
      .content-footer
        %a.link-button{href: "#{block_item[:url]}", "aria-label": "#{block_item[:aria_label]}"}
          = block_item[:button_label]
