---
title: CS Fundamentals International
video_player: true
theme: responsive
style_min: true
---

[solid-block-header]

Computer Science Fundamentals - International

[/solid-block-header]

<div class="col-40" style="padding-right: 20px;">

<% facebook = {:u=>'https://youtu.be/rNIM1fzJ8u0'} %>
<% twitter = {:url=>'https://youtu.be/rNIM1fzJ8u0', :related=>'codeorg', :text=>'Introduction to CS Fundamentals @codeorg'} %>
<%=view :display_video_thumbnail, id: "introK5", video_code: "rNIM1fzJ8u0", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: 'false' %>

</div>

[col-60]

Our International Computer Science Fundamentals courses are translated into over 25 languages. The different courses support students aged 4-18. Each course has 10-20 lessons that may be implemented as one unit or over the course of a semester. Students study basic programming concepts and develop interactive games or stories they can share. 

The courses teach the foundational concepts of programming using drag and drop blocks rather than a programming language such as JavaScript or Python. Blocks are an easier way to get started and can be fully translated into any language. Course 1 uses picture blocks rather than words to support pre-readers.

All lessons align to all relevant computer science standards, as well as to the <a href="https://www.iste.org/standards/for-students" target="_blank">ISTE standards</a>. They additionally reinforce concepts and skills taught in other subject areas by integrating national <a href="http://www.corestandards.org/Math/" target="_blank">Math</a>, <a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">English Language Arts</a>, and <a href="http://www.nextgenscience.org/next-generation-science-standards" target="_blank">Science</a> standards. Read more about our [curriculum philosophy here](https://code.org/educate/curriculum-philosophy).

[/col-60]

<div style="clear:both"></div>

# Courses 1-4 (ages 4+)

Courses 1-4 are designed to introduce students to Computer Science. Each course has 10-15 lessons on the computer that students can do in their native language. In addition, each course includes "unplugged" English lesson plans that teachers can use to teach computer science concepts and practices without computers.

Start with Course 1 for pre-readers. Start with Course 2 if your students can read. For students over age 11, we recommend starting with the Accelerated Course.

Explore our courses below! Are you a teacher? [Download complete curriculum for Courses 1 - 4](/curriculum/docs/k-5/complete.pdf).

<div class="col-25" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/course1') %>"><img src="/images/curriculum/course-tile-course1.png"></a>
</div>

<div class="col-25" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/course2') %>"><img src="/images/curriculum/course-tile-course2.png"></a>
</div>

<div class="col-25" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/course3') %>"><img src="/images/curriculum/course-tile-course3.png"></a>
</div>

<div class="col-25" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/course4') %>"><img src="/images/curriculum/course-tile-course4.png"></a>
</div>

<div style="clear:both;"></div>

# Accelerated Course (ages 10-18)

<div class="col-50" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/20-hour') %>"><img src="/images/curriculum/course-tile-accelerated.png"></a>
</div>

[col-50]

Computer Science Fundamentals Acccelerated is a 20 hour course designed for 10-18 year old students. This course combines the concepts taught in Courses 1-4 in an accelerated fashion designed for older students.

[/col-50]

<div style="clear:both;"></div>

# Courses A-F and the Express Course (English only)

We have expanded and updated Courses 1-4 for the 2017-18 school year. These are currently only available in English and volunteers are translating the updated courses this year to release internationally. [Help translate.](https://code.org/translate)

You can preview the updated courses this year or use them with English speaking classrooms.

<br>
<a href="/educate/curriculum/elementary-school"><button>Courses A-F</button></a> &nbsp;&nbsp;
<a href="/educate/curriculum/express-course"><button>Express Course</button></a>


# <strong>Examples of student creations</strong>

[col-33]

<center><img src="/images/animated-examples/artist-game-space.gif" width="90%"></center>

<div style="margin-top: 5px;">In this puzzle, the student created a honeycomb pattern.</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/play-lab-game-space.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a game with multiple levels in which you play against different characters. Game on!</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/flappy-game-space.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px;">This student created a Flappy Bird game.</div>

[/col-33]

<p style="clear:both">&nbsp;</p>

# New to teaching computer science?

No worries! Most of our teachers have never taught computer science before. 

Try one of our courses yourself to learn ahead of your students. Sign up as a teacher to see the lesson plans, join the teacher forums, and get access to all the resources you need.

We also offer [online self-paced professional learning](/educate/professional-development-online) and [1-day workshops in the United States](/professional-development-workshops) at no cost to you or your school. 


