---
title: Computer Science Fundamentals
video_player: true
theme: responsive
style_min: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>
<style>
  .backgroundimage {
    background-image: url(<%= CDO.code_org_url('/shared/images/banners/small-teal-icons.png') %>);
    background-size: cover;
    padding:10px;
  }

  ul li:before {
    color: black;
  }
</style>

<h1 class="backgroundimage" style="color:white;">
Computer Science Fundamentals
</h1>

Welcome to Computer Science Fundamentals, the Code.org curriculum designed for students in kindergarten through fifth grade (K-5), which includes students 5-11 years old!  To explore the courses, use the buttons below.

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursea'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/orange.png'), title: 'Course A',  description: '<strong>Grade level:</strong> Kindergarten<br><strong>Number of lessons:</strong> 13<br><em>Students will learn to program using commands like loops and events. The lessons featured in this course also teach students to meaningfully collaborate with others, investigate different problem-solving techniques, persist in the face of challenging tasks, and learn about internet safety.</em>'%>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/courseb'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/light-orange.png'), title: 'Course B', description: '<strong>Grade level:</strong> 1st<br><strong>Number of lessons:</strong> 13<br><em>Students learn more sophisticated unplugged activities and work through a greater variety of puzzles. Students will learn the basics of programming, collaboration techniques, investigation and critical thinking skills, persistence in the face of difficulty, and internet safety.</em>'%>

[/col-50]

<div style="clear:both"></div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursec'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/green.png'), title: 'Course C', description: '<strong>Grade level:</strong> 2nd<br><strong>Number of lessons:</strong> 16<br><em>Students will create programs with sequencing, loops, and events. They will investigate problem-solving techniques and develop strategies for building positive communities both online and offline. By the end of the course, students will create interactive games that they can share.</em>'%>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursed'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/teal.png'), title: 'Course D', description: '<strong>Grade level:</strong> 3rd<br><strong>Number of lessons:</strong> 17<br><em>The course begins with a review of the concepts found in earlier courses, including loops and events. Afterward, students will develop their understanding of algorithms, nested loops, while loops, conditionals, and more.</em>' %>

[/col-50]

<div style="clear:both"></div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursee'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/blue.png'), title: 'Course E', description: '<strong>Grade level:</strong> 4th<br><strong>Number of lessons:</strong> 18<br><em>Students will learn to make fun, interactive projects that reinforce what they’ll learn about online safety. Following these lessons, students will engage in more complex coding. Students will learn about nested loops, functions, and conditionals. </em>' %>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursef'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/purple.png'), title: 'Course F', description: '<strong>Grade level:</strong> 5th<br><strong>Number of lessons:</strong> 20<br><em>The course begins by looking at how users make choices in the apps they use. Students then learn to make a variety of Sprite Lab apps that also offer choices for the user. In the later lessons in the course, students will learn more advanced concepts, including variables and “for” loops.</em>' %>

[/col-50]

<div style="clear:both"></div>

## Selecting the right course


<img src="/images/fit-970/CSFimages/Course_Map.png" style="max-width: 100%"/>
<br>
<br>
The progression of Courses A-F build upon each other to ensure continuing students stay interested and learn new things. This allows you to use the same course at any grade level for all students, regardless of their experience. All courses make suitable entry points for students.
<br/>
<br/>

## Express Courses

Express courses are designed for situations where the teacher is not able to play an active role in engaging students. Express courses do not have unplugged lessons and instead focus on covering content from A-F counterparts in a way that can be delivered without a teacher.

[col-50]

<div class="col-100" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/pre-express') %>" target=_"blank"><img src="/images/curriculum/course-tile-pre-reader-express.png" style="max-width:100%"></a>
</div>

[/col-50]

[col-50]

<div class="col-100" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/express') %>" target=_"blank"><img src="/images/curriculum/course-tile-express.png" style="max-width:100%" target=_"blank"></a>
</div>

[/col-50]

<br>
<br>
<br>


###### All Code.org curriculum resources are free to use under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Our technology is developed as an open-source project.  Common Sense Media lessons are shareable under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 license. No remixing permitted. View detailed license information at creativecommons.org. Common Sense and other associated names and logos are trademarks of Common Sense Media, a 501(c)(3) nonprofit organization (FEIN: 41-2024986).


