---
title: Computer Science Fundamentals
video_player: true
theme: responsive
style_min: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>
<style>
  .backgroundimage {
    background-image: url(<%= CDO.code_org_url('/shared/images/banners/small-teal-icons.png') %>);
    background-size: cover;
    padding:10px;
  }

  ul li:before {
    color: black;
  }
</style>

<h1 class="backgroundimage" style="color:white;">
Computer Science Fundamentals
</h1>




[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursea'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/orange.png'), title: 'Course A', ages: 'Kindergarten (Supports pre-readers)', description: '12 lessons, ~12 hours to complete. Concepts include digital citizenship, sequencing, loops, and events.'%>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/courseb'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/light-orange.png'), title: 'Course B', ages: '1st grade (Supports pre-readers)', description: '12 lessons, ~12 hours to complete. Concepts include digital citizenship, sequencing, loops, impacts of computing, and events.'%>

[/col-50]

<div style="clear:both"></div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursec'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/green.png'), title: 'Course C', ages: '2nd grade', description: '18 lessons, ~18 hours to complete. Concepts include digital citizenship, sequencing, binary, loops, events, and data.'%>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursed'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/teal.png'), title: 'Course D', ages: '3rd grade', description: '19 lessons, ~19 hours to complete. Concepts include sequencing, events, loops, conditionals, binary, and digital citizenship.' %>

[/col-50]

<div style="clear:both"></div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursee'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/blue.png'), title: 'Course E', ages: '4th grade', description: '19 lessons, ~19-21 hours to complete. Concepts include sprites, digital citizenship, impacts of computing, nested loops, and functions.' %>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursef'), cta_text: 'View course', img: CDO.code_org_url('/images/458x70/purple.png'), title: 'Course F', ages: '5th grade', description: '19 lessons, ~19-21 hours to complete. Concepts include variables, data, for loops, the Internet, sprites, and digital citizenship.' %>

[/col-50]

<div style="clear:both"></div>

## Selecting the right course


<img src="/images/fit-970/CSFimages/Course_Map.png" style="max-width: 100%"/>
<br>
<br>
The progression of Courses A-F build upon each other to ensure continuing students stay interested and learn new things. This allows you to use the same course at any grade level for all students, regardless of their experience. All courses make suitable entry points for students.
<br/>
<br/>

## Looking for self-paced options?

[col-50]

<div class="col-100" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/pre-express') %>" target=_"blank"><img src="/images/curriculum/course-tile-pre-reader-express.png" style="max-width:100%"></a>
</div>

[/col-50]

[col-50]

<div class="col-100" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/express') %>" target=_"blank"><img src="/images/curriculum/course-tile-express.png" style="max-width:100%" target=_"blank"></a>
</div>

[/col-50]

Express courses are designed for situations where the teacher is not able to play an active role in engaging students. Express courses do not have unplugged lessons and instead focus on covering content from A-F counterparts in a way that can be delivered without a teacher.


