---
title: CS Fundamentals for grades K-5
video_player: true
theme: responsive
style_min: true
---

<link href="/shared/css/course-blocks.css", type="text/css", rel="stylesheet"></link>
<style>
  .backgroundimage {
    background-image: url(<%= CDO.code_org_url('/shared/images/banners/small-teal-icons.png') %>);
    background-size: cover;
    padding:10px;
  }

  ul li:before {
    color: black;
  }
</style>

<h1 class="backgroundimage" style="color:white;">
CS Fundamentals for Elementary Schools
</h1>

<div class="col-50" style="padding-right: 20px; float: left; margin-top: 10px">

<% facebook = {:u=>'https://youtu.be/rNIM1fzJ8u0'} %>
<% twitter = {:url=>'https://youtu.be/rNIM1fzJ8u0', :related=>'codeorg', :text=>"Introduction to CS Fundamentals. (Thanks #{get_random_donor_twitter} for supporting @codeorg)"} %>
<%=view :display_video_thumbnail, id: "introK5", video_code: "rNIM1fzJ8u0", play_button: 'center', facebook: facebook, twitter: twitter, letterbox: 'false' %>

<a href="https://code.org/professional-development-workshops"><button>Learn about professional learning!</button></a>
<a href="https://curriculum.code.org/csf/"><button>View full curriculum</button></a> 
</div>


<div class="col-50" style="margin-top: 10px">
<div>
Computer science fosters creativity and <a href="#research">teaches students critical thinking skills</a> to become proactive learners, so elementary school is the ideal time for students to be introduced to CS.
<br>
<br>
Our six Computer Science Fundamentals courses are flexibly designed for teachers new to CS who want to offer accessible and equitable introductory CS courses to their students.
<br>
<br>
How you teach these courses is up to you - as part of your classroom schedule, weekly lab or library time, supporting lessons for math and language arts, or to make creative projects. Our network of facilitators and <a href="https://code.org/educate/professional-learning/about-partners">Regional Partners</a> offer professional learning workshops across the country to help you get started!
</div>
</div>
<div style="clear: both;"></div>




***

# Why CS Fundamentals?

<a id="research"></a>
## It’s backed by research.

[Six different studies show](https://medium.com/@codeorg/cs-helps-students-outperform-in-school-college-and-workplace-66dd64a69536): children who study computer science perform better in other subjects, excel at problem-solving, and are 17% more likely to attend college.

Recent research also demonstrates positive links between learning computer science *with CS Fundamentals* and reading comprehension, problem-solving, and planning skills. Students with resourceful teachers [scored higher on standardized reading comprehension exams](https://medium.com/@codeorg/code-org-resourceful-teachers-higher-student-achievement-8be1efdec06e) when they did extra CS Fundamentals activities. CS Fundamentals students also [outperformed other STEM students at problem-solving executive function and planning skills](https://www.sciencedirect.com/science/article/abs/pii/S0360131520300099?dgcid=author).

## It's easy to get started.

Each course includes comprehensive lesson plans, plugged and unplugged activities, and support resources for teachers. You don't even need a user account to [try it out](<%= CDO.curriculum_url(I18n.locale, '/csf') %>). Once you get a feel for the courses and lesson plans, [sign up as a teacher](https://studio.code.org/users/sign_up) to join the teacher community forums and engage with all the resources at your fingertips. Next, quickly set up a classroom section from your roster or sync with tools like Clever or Google Classroom to view student progress and manage accounts. Then celebrate your students' learning by printing certificates they can bring home.

CS Fundamentals is aligned to the 2017 [Computer Science Teachers Association (CSTA) standards](https://www.csteachers.org/page/standards). [Lesson plans](<%= CDO.curriculum_url(I18n.locale, '/csf') %>) identify connections to CSTA standards and provide opportunities to support learning in other subjects. [Click here](<%= CDO.curriculum_url(I18n.locale, '/csf/standards') %>) for the comprehensive list of CS Fundamentals standards alignments.

## And, did we mention that it's fun!?

Your students will create their own games, art, and digital stories that they can share - all while developing problem-solving, collaboration, persistence, and computational thinking skills. Every course includes  "unplugged" activities that teach computational thinking and digital citizenship skills without computers. See some awesome student creations below!

[col-33]

<center><img src="/images/animated-examples/watercycleproject.gif" width="90%"></center>

<div style="margin-top: 5px; text-align:center;">Interactively explore the water cycle!</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/anglesproject.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px; text-align:center;">Explore angles by making beautiful art!</div>

[/col-33]

[col-33]

<center><img src="/images/animated-examples/dinosaursproject.gif" width="90%"></center>

<div style="margin-left: 15px; margin-top: 5px; text-align:center;">Animate dinosaurs to talk about pre-history!</div>

[/col-33]

<p style="clear:both"></p>

## Our professional-learning workshops are designed for new-to-CS teachers.

<img src="/images/teacherconatlbrighter.png" style="float:right; width:25%; margin-left:25px">

New to teaching computer science? No worries! Most of our teachers have never taught computer science before. Join local teachers for inspiring and hands-on support to implement computer science in your classroom. Our Regional Partners offer high-quality, one-day Code.org workshops for individual teachers or for schoolwide PD. Sign up for a professional development workshop near you!

Join over 100,000 teachers who have participated in our workshops. The majority of our workshop attendees say, 'It's the best professional development I've ever attended.' In fact, [90% of attendees would recommend our program to other teachers](https://code.org/educate/professional-learning/program-outcomes)!

<a href="https://code.org/professional-development-workshops"><button>Find a workshop</button></a>

<h1 class="backgroundimage" style="color:white;">
Selecting the right course
</h1>

<img src="/images/fit-970/CSFimages/Course_Map.png" style="max-width: 100%"/>
<br>
<br>
The progression of [Courses A-F](<%= CDO.curriculum_url(I18n.locale, '/csf') %>) build upon each other to ensure continuing students stay interested and learn new things. This allows you to use the same course at any grade level for all students, regardless of their experience. Explore the lesson plans and download [the curriculum guide for Courses A-F here](<%= CDO.curriculum_url(I18n.locale, '/csf') %>). All courses make suitable entry points for students. Later courses feature “ramp up” lessons which are intended to introduce or review important concepts from previous courses at an accelerated pace.
<br/>
<br/>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursea'), cta_text: 'View course', lesson_plans: curriculum_url('csf/coursea'), img: '/images/458x70/orange.png', title: 'Course A', ages: 'Kindergarten (Supports pre-readers)', description: '12 lessons, ~12 hours to complete. Concepts include digital citizenship, sequencing, loops, and events.'%>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/courseb'), cta_text: 'View course', lesson_plans: curriculum_url('csf/courseb'), img: CDO.code_org_url('/images/458x70/light-orange.png'), title: 'Course B', ages: '1st grade (Supports pre-readers)', description: '12 lessons, ~12 hours to complete. Concepts include digital citizenship, sequencing, loops, impacts of computing, and events.'%>

[/col-50]

<div style="clear:both"></div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursec'), cta_text: 'View course', lesson_plans: curriculum_url('csf/coursec'), img: CDO.code_org_url('/images/458x70/green.png'), title: 'Course C', ages: '2nd grade', description: '18 lessons, ~18 hours to complete. Concepts include digital citizenship, sequencing, binary, loops, events, and data.'%>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursed'), cta_text: 'View course', lesson_plans: curriculum_url('csf/coursed'), img: CDO.code_org_url('/images/458x70/teal.png'), title: 'Course D', ages: '3rd grade', description: '19 lessons, ~19 hours to complete. Concepts include sequencing, events, loops, conditionals, binary, and digital citizenship.' %>

[/col-50]

<div style="clear:both"></div>

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursee'), cta_text: 'View course', lesson_plans: curriculum_url('csf/coursee'), img: CDO.code_org_url('/images/458x70/blue.png'), title: 'Course E', ages: '4th grade', description: '19 lessons, ~19-21 hours to complete. Concepts include sprites, digital citizenship, impacts of computing, nested loops, and functions.' %>

[/col-50]

[col-50]

<%= view :course_wide_block, cta_link: CDO.studio_url('/s/coursef'), cta_text: 'View course', lesson_plans: curriculum_url('csf/coursef'), img: CDO.code_org_url('/images/458x70/purple.png'), title: 'Course F', ages: '5th grade', description: '19 lessons, ~19-21 hours to complete. Concepts include variables, data, for loops, the Internet, sprites, and digital citizenship.' %>

[/col-50]

<div style="clear:both"></div>

## Looking for more news, tips, or support for teaching CS Fundamentals?

<div class="col-33" style="padding-right: 20px;">

<h4>Get support and share your feedback!</h4>

We are always looking for ways to improve our courses – and we're here to help. If something's not quite working, or you have ideas about features that you'd like to see, we'd love to hear from you!
<br>

<a href="mailto:support@code.org"><button>Contact us</button></a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4> Subscribe for the latest news </h4>

Sign up for our monthly emails, which contain the latest news about tools, videos, and other important updates for CS Fundamentals.

<br><br>

<a href="/educate/curriculum/elementary-sign-up"> <button>Sign up</button> </a>

</div>

<div class="col-33" style="padding-right: 20px;">

<h4>Chat about CS Fundamentals in the forum</h4>

We have forums for educators to discuss and trade ideas about CS Fundamentals and talk about the curriculum. Code.org forums are used for all of our courses K-12.
<br><br>

<a href="http://forum.code.org/c/csf"> <button>Visit the forum</button></a>

</div>

<div style="clear:both"></div>

## Want to bring CS Fundamentals to your entire school?

Our elementary program has been proven effective in major urban school districts such as Dallas to small rural districts in Iowa.  It is the leading K-12 CS curriculum in the U.S. There is no need to hire specialists to teach CS. Our program is uniquely designed to support teachers new to CS while offering the flexibility to evolve lessons to fit student needs. Share this [brochure] (https://www.dropbox.com/s/ivrnloivh7ygpwr/csfadminbrochure2019.pdf?dl=0) with your school and district administrators, or suggest they take a look at our [administrators page] (/administrators) specially designed to answer administrators most common questions.


## Looking for unplugged activities?

Go ahead, cut the cord (for awhile)! CS education does not always need to be in front of a screen and you don’t need to make device access a barrier to learning computer science concepts.  Each course contains multiple unplugged lessons that can either be used alone or with other computer science lessons on related concepts.

[View unplugged lessons] (https://code.org/curriculum/unplugged)

## Short on time? Looking for self-paced options?

<div class="col-50" style="padding-right: 10px;">
  <a href="<%= CDO.studio_url('/s/pre-express') %>" target=_"blank"><img src="/images/curriculum/course-tile-pre-reader-express.png" style="max-width:100%"></a>
  <br>
  <br>
  <a href="<%= CDO.studio_url('/s/express') %>" target=_"blank"><img src="/images/curriculum/course-tile-express.png" style="max-width:100%" target=_"blank"></a>
</div>

[col-50]

We believe that classroom teachers serve a critical role in ensuring an equitable classroom experience for students. However, we understand that CS Fundamentals is not always taught as a full-classroom experience  which is why, In addition to courses A-F, CS Fundamentals offers two self-paced express courses. Both are designed for situations where the teacher is not able to play an active role in engaging students. Express courses do not have unplugged lessons and instead focus on covering content from A-F counterparts in a way that can be delivered without a teacher.

[/col-50]

<div style="clear:both"></div>

## Non-English speaker? Check out our translated courses

Thanks to a global community of volunteer translators, Courses A-F and the Express Course are being translated into languages other than English.  Make sure you have your language selected in the dropdown menu and then visit our [course catalog] (https://studio.code.org/courses) to see what we recommend for your language.

[View course catalog] (https://studio.code.org/courses)
<br/>

## Looking for third party courses?
Check out our full list of recommendations on our [3rd Party Educator Resources page](https://code.org/educate/curriculum/3rd-party).
<br/>
<br/>
<br/>

<table style="border-style:hidden;">
  <tr>
    <td colspan="2" style="background-color:#0094ca; color:white; text-align:center; font-style:bold; border-style:hidden;"">
      A complete solution for elementary schools and teachers new to CS education
      </td>
    </tr>
  <tr>
    <td style="background-color:#f3f3f3; border-style:hidden;"><img style="padding:0px;" src="/images/fit-250/facilitatorsummitpic.jpg">
      </td>
    <td style="background-color:#f3f3f3; border-style:hidden;">
      "<font color="#b8bf0d"><b>Code.org is a one-stop shop for coding in schools.</b></font> Most importantly, teachers don't need computer science degrees to facilitate that coursework." - Common Sense Education
      </td>
    </tr>
  </table>

