= form_tag(action: 'create') do
  %div#notice{style: '-webkit-user-select: initial'}
    = params[:notice].try(:html_safe)

  .field
    = label_tag :user_email_addresses
    = text_area_tag :user_emails, nil, rows: 10, style: 'width: 300px'
    = label_tag :course
    = select_tag :plc_course_id, options_for_select(options_for_user_enrollment_courses)

  .actions
    = submit_tag('Enroll in class', id: 'submitEnrollment')
