- content_for(:head) do
  = stylesheet_link_tag 'css/plc', media: 'all'

- if @user_course_enrollments.try(:any?)
  - @user_course_enrollments.each do |user_course_enrollment|
    %h3.course_title
      = user_course_enrollment.plc_course.name
    -# Lame that we have to do this but Firefox doesn't support multiline flexboxes
    - user_course_enrollment.plc_unit_assignments.each_slice(2).to_a.each do |unit_group|
      .course_unit_sections
        - unit_group.each do |unit_enrollment|
          .course_unit_section
            .course_unit_title
              = link_to unit_enrollment.plc_course_unit.unit_name, unit_enrollment.plc_course_unit.script
            - if unit_enrollment.status == Plc::EnrollmentUnitAssignment::START_BLOCKED
              .coming_soon
                Coming soon!
            - else
              - required_module_assignment = unit_enrollment.module_assignment_for_type Plc::LearningModule::REQUIRED_MODULE
              - content_module_assignment = unit_enrollment.module_assignment_for_type Plc::LearningModule::CONTENT_MODULE
              - practice_module_assignment = unit_enrollment.module_assignment_for_type Plc::LearningModule::PRACTICE_MODULE
              - evaluation_pending = required_module_assignment && content_module_assignment.nil? && practice_module_assignment.nil?
              - unit_overview_status = evaluation_pending ? 'in_progress' : required_module_assignment.try(:status) || 'completed'
              = link_to script_path(unit_enrollment.plc_course_unit.script) + '#overview' do
                .module_assignment
                  Overview
                  .ribbon-wrapper
                    .ribbon{class: unit_overview_status}
              = link_to script_path(unit_enrollment.plc_course_unit.script) + '#content' do
                .module_assignment
                  Content
                  .ribbon-wrapper
                    .ribbon{class: content_module_assignment.try(:status) || 'not_started'}
              = link_to script_path(unit_enrollment.plc_course_unit.script) + '#teacher-practices' do
                .module_assignment
                  Teaching Practices
                  .ribbon-wrapper
                    .ribbon{class: practice_module_assignment.try(:status) || 'not_started'}
- else
  %p Hello #{current_user.name}, your future course progress will go here
