%h1 Listing plc_user_course_enrollments

%table
  %thead
    %tr
      %th
      %th
      %th
      %th

  %tbody
    - @plc_user_course_enrollments.each do |plc_user_course_enrollment|
      %tr
        %td= plc_user_course_enrollment.user.try(:email)
        %td= plc_user_course_enrollment.plc_course.try(:name)
        %td= link_to 'Show', plc_user_course_enrollment
        %td= link_to 'Destroy', plc_user_course_enrollment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User course enrollment', new_plc_user_course_enrollment_path
