= form_for @learning_module do |f|
  - if @learning_module.errors.any?
    #error_explanation
      %h2= "#{pluralize(@learning_module.errors.count, "error")} prohibited this plc_learning_module from being saved:"
      %ul
        - @learning_module.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    = f.label :plc_course_unit
    - if @learning_module.new_record?
      = f.select :plc_course_unit_id, options_for_select(options_for_course_units)
    - else
      = @learning_module.plc_course_unit.unit_name
  .field
    = f.label :module_type
    = f.select :module_type, options_for_select(options_for_learning_module_types, @learning_module.module_type)
  .actions
    = f.submit 'Save'
