- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'

%p
  %strong Name:
  = @learning_module.name

-[{tasks: @resource_tasks, name: 'Learning Resources'}, {tasks: @other_tasks, name: 'Tasks'}].each do |task_list|
  .outlinedSection
    %h4 #{task_list[:name]}
    - task_list[:tasks].each do |task|
      = link_to task.name, plc_task_path(task)
      %br
  %br

= link_to 'Edit', edit_plc_learning_module_path(@learning_module)
\|
= link_to 'Back', plc_learning_modules_path
