- content_for(:head) do
  = stylesheet_link_tag 'css/levelbuilder', media: 'all'

%p
  %strong Name:
  = @learning_module.name

%p
  %strong Learning module type:
  = @learning_module.module_type.try(:titleize)

-@task_groupings.each do |task_grouping|
  .outlined_section
    %h4 #{task_grouping[:name]}
    - task_grouping[:tasks].each do |task|
      - sl = task.script_level
      = link_to task.name, script_stage_script_level_path(sl.script, sl.stage, sl)
      = surround '(', ')' do
        = link_to 'Edit', edit_level_path(sl.level)
      %br
  %br

= link_to 'Back', @learning_module.plc_course_unit
