%p
  %b Name:
  = "#{@form[:first_name]}" + ' ' + "#{@form[:last_name]}"
  %br
  %b Email:
  = "#{@form[:email]}"
  %br
  %b Role:
  = "#{@form[:role]}"
  %br
  %b Job Title:
  = @form[:job_title] ? "#{@form[:job_title]}" : "Not specified"
  %br
  %b School State:
  = "#{@form[:school_state]}"
  %br
  %b School District:
  = @form[:school_district] ? "#{@form[:school_district]}" : "None"
  %br
  %b School Name:
  = @form[:school_name] ? "#{@form[:school_name]}" : "None"
  %br
  %b School Type:
  = "#{@form[:school_type].capitalize}"
  %br
  %b Grade Levels:
  = "#{@form[:grade_levels].join(', ')}"

%p
  %b Message:
  = @form[:notes] ? "#{@form[:notes]}" : "None"
