%p
  Hello
  = "#{@name}" + ','

%p
  The following person has requested to connect with their local Code.org Regional Partner
  = link_to('through this form', 'https://studio.code.org/pd/regional_partner_contact/new')
  and we've identified that they are in your region. Please follow up with them directly at your convenience.

%p
  %b Name:
  - if @form[:title]
    = "#{@form[:title]}" + ' '
  = "#{@form[:first_name]}" + ' ' + "#{@form[:last_name]}"
  %br
  %b Email:
  = "#{@form[:email]}"
  %br
  %b Job Role:
  = "#{@form[:role]}"
  %br
  %b Job Title:
  = "#{@form[:job_title]}"

%p
  - if @form[:school_district]
    %b School District:
    = "#{@form[:school_district]}"
    %br
  - if @form[:school_name]
    %b School Name:
    = "#{@form[:school_name]}"
    %br
  %b School Type:
  = "#{@form[:school_type].capitalize}"
  %br
  %b Grade Levels:
  = "#{@form[:grade_levels].join(', ')}"
  %br
  - if @form[:program]
    %b Program:
    = "#{@form[:program].map {|item| item.gsub(/\((.*)\)/, '').strip}.join(', ')}"

- if @form[:message]
  %p
    %b Message:
    = "#{@form[:notes]}"

%p
  Best,
  %br
  Tanya Parker
  %br
  Product Manager, Code.org
