%p
  Hello
  = "#{@form[:first_name]}" + ','

%p
  Thank you for your interest in Code.org's
  = "#{@interest}" + '. '

  If you are a school or district administrator interested in our elementary program, we will pass along this form to the CS Fundamentals facilitators in your region. They will be in touch with you soon!

  If you are a school or district administrator interested in our middle or high school programs, we don't currently have a local contact for you. We are continuing to expand into more regions every year and will forward your message to a Regional Partner in your community if and when they become available.

  In the meantime, take a look
  = link_to 'here for the K-12 Code.org curriculum options', courses_path
  available for no cost to all schools, or check out our list of
  = link_to 'third-party computer science resources.', CDO.code_org_url('/educate/curriculum/3rd-party')

  Below is a confirmation of the information you submitted to us.

= render partial: 'form_body'

%p
  Best,
  %br
  Tanya Parker
  %br
  Product Manager, Code.org
