%p
  The following person has requested to connect with their local Code.org Regional Partner
  = link_to('through this form,', 'https://studio.code.org/pd/regional_partner_contact/new')
  but we were unable to match them with a Regional Partner. Please follow up with them directly at your convenience.

%p
  %b Name:
  - unless @form[:title] == ""
    = "#{@form[:title]}" + ' '
  = "#{@form[:first_name]}" + ' ' + "#{@form[:last_name]}"
  %br
  %b Email:
  = "#{@form[:email]}"
  %br
  %b Job Role:
  = "#{@form[:role]}"
  %br
  %b Job Title:
  = "#{@form[:job_title]}"

%p
  %b School State:
  = "#{@form[:school_state]}"

%p
  - unless @form[:school_district] == ""
    %b School District:
    = "#{@form[:school_district]}"
    %br
  - unless @form[:school_name] == ""
    %b School Name:
    = "#{@form[:school_name]}"
    %br
  %b School Type:
  = "#{@form[:school_type].capitalize}"
  %br
  %b Grade Levels:
  = "#{@form[:grade_levels].join(', ')}"
  %br
  - unless @form[:program] == ""
    %b Program:
    = "#{@form[:program].map {|item| item.gsub(/\((.*)\)/, '').strip}.join(', ')}"

- unless @form[:message] == ""
  %p
    %b Message:
    = "#{@form[:notes]}"
