/**
 * Dynamic header generation and event bindings for header actions.
 */

if (!window.dashboard) {
  window.dashboard = {};
}

/**
 * @param scriptData{{
 *   title: string,
 *   finishLink: string,
 *   statsPath: string,
 *   showStageLinks: boolean,
 *   trophies: Object,
 *   scriptId: number,
 *   scriptLevelId: number,
 *   currentLevelIndex: number,
 *   levels: Array.<{
 *     displayText: string,
 *     status: string,
 *     unplugged: boolean,
 *     assessment: boolean
 *   }>
 * }}
 */
dashboard.buildHeader = function (scriptData) {
  $('.header_text').first().text(scriptData.title);
  if (scriptData.finishLink) {
    $('.header_finished_link').show().append($('<a>').attr('href', scriptData.finishLink.href).text(scriptData.finishLink.text));
  }
  if (scriptData.showStageLinks) {
    $('.header_popup_link').show();
    $('.freeplay_links').show();
  }
  if (scriptData.trophies) {
    $('.header_trophy_link').show();
    $('.header_trophy_link .current_trophies').text(scriptData.trophies.current);
    $('.header_trophy_link .max_trophies').text(scriptData.trophies.of + ' ' + scriptData.trophies.max);
  }
  if (scriptData.linesOfCodeText) {
    $('.header_popup .header_text').text(scriptData.linesOfCodeText);
  }
  var progressContainer = $('.progress_container');
  scriptData.levels.forEach(function(level, index, levels) {
    var defaultClass = level.assessment ? 'puzzle_outer_assessment' : 'puzzle_outer_level';
    var link = $('<a>').attr('href', level.link).addClass('level_link').addClass(level.status).text(level.displayText);
    if (level.unplugged) {
      link.addClass('unplugged_level');
    }
    var div = $('<div>').addClass(index === scriptData.currentLevelIndex ? 'puzzle_outer_current' : defaultClass).append(link);
    if (index === levels.length - 1) {
      div.addClass('last');
    }
    progressContainer.append(div).append('\n');
  });
  $('.level_free_play').qtip({
    content: {
      attr: 'title'
    },
    position: {
      my: 'top center',
      at: 'bottom center'
    }
  });

  function showHeaderPopup(target) {
    $('.header_popup').show();
    $('.header_popup_link_glyph').html('&#x25B2;');
    $('.header_popup_link_text').text('<%= I18n.t(:less) %>');
    $(document).on('click', hideHeaderPopup);
    lazyLoadPopup($(target).closest('.header_trophy_link').length > 0);
  }
  function hideHeaderPopup() {
    $('.header_popup').hide();
    $('.header_popup_link_glyph').html('&#x25BC;');
    $('.header_popup_link_text').text('<%= I18n.t(:more) %>');
    $(document).off('click', hideHeaderPopup);
  }
  $('.header_popup_link, .header_trophy_link').click(function (e) {
    e.stopPropagation();
    $('.header_popup').is(':visible') ? hideHeaderPopup() : showHeaderPopup(e.target);
  });
  $('.header_popup').click(function (e) {
    e.stopPropagation(); // Clicks inside the popup shouldn't close it
  });

  var popupLoaded = false;
  function lazyLoadPopup(trophiesClicked) {
    if (!popupLoaded) {
      popupLoaded = true;
      $.ajax({
        url: scriptData.statsPath,
        data: {
          script_id: scriptData.scriptId,
          script_level_id: scriptData.scriptLevelId
        }, success: function (result) {
          $('.header_popup_body').html(result);
          if (trophiesClicked) {
            jumpToTrophies();
          }
        }
      });
    } else if (trophiesClicked) {
      jumpToTrophies();
    }
  }
  function jumpToTrophies() {
    window.scrollTo(0, +$('#trophies').offset().top);
  }
};

dashboard.showProjectHeader = function () {
  function projectNameShow() {
    $('.project_name').replaceWith($('<div class="project_name header_text">').text(dashboard.currentApp.name));
    $('.project_save').replaceWith($('<div class="project_edit header_button">').text('<%= I18n.t('project.rename') %>'));
  }

  function projectNameEdit() {
    $('.project_name').replaceWith($('<input type="text" class="project_name header_input">').val(dashboard.currentApp.name));
    $('.project_edit').replaceWith($('<div class="project_save header_button">').text('<%= I18n.t('project.save') %>'));
  }

  var moreButton = '<%= I18n.t('project.more') %> '
      + '<span class="project_more_glyph">&#x25BC;</span>'
      + '<div class="project_more_popup" style="position: absolute;">'
      + '<a href="#" class="project_delete"><%= I18n.t('project.delete') %></a><br>'
      + '<a href="#"><%= I18n.t('project.new') %></a></div>';
  $('.project_info').append($('<div class="project_name header_text">').text(dashboard.currentApp.name))
      .append($('<div class="project_edit header_button">').text('<%= I18n.t('project.rename') %>'))
      .append($('<div class="project_share header_button">').text('<%= I18n.t('project.share') %>'))
      .append($('<div class="project_more header_button" style="position: relative;">').html(moreButton));

  projectNameShow();
  $('.freeplay_links').empty().before($('<div class="project_list header_button">').text('<%= I18n.t('project.my_projects') %>'));

  $(document).on('click', '.project_edit', projectNameEdit);

  $(document).on('click', '.project_save', function () {
    $(this).attr('disabled', true);
    dashboard.currentApp.name = $('.project_name').val();
    dashboard.saveProject(function () {
      projectNameShow();
    });
  });

  var $projectMorePopup = $('.project_more_popup');
  function hideProjectMore() {
    $projectMorePopup.hide();
    $('.project_more_glyph').html('&#x25BC;');
    $(document).off('click', hideProjectMore);
  }
  $('.project_more').click(function (e) {
    if ($projectMorePopup.is(':hidden')) {
      e.stopPropagation();
      $projectMorePopup.show();
      $('.project_more_glyph').html('&#x25B2;');
      $(document).on('click', hideProjectMore);
    }
  });
  $projectMorePopup.click(function (e) {
    e.stopPropagation(); // Clicks inside the popup shouldn't close it.
  });

  $('.project_delete').click(function (e) {
    e.preventDefault(); // Don't change the hash.
    var dialog = new Dialog({body: '<div id="confirm-delete" class="modal-content">'
        + '<p class="dialog-title">Are you sure you want to delete this project?</p>'
        + '<p>Deleting your project will remove it from your gallery. Anyone you\'ve shared your project with will no longer be able to access the link. This is not reversible!</p>'
        + '<button id="again-button">Cancel</button><button id="continue-button" style="float: right">Delete</button></div>'
    });
    dialog.show();
    $('#confirm-delete #continue-button').click(function () {
      dashboard.deleteProject(function () {
        location.href = location.pathname;
      });
    });
    $('#confirm-delete #again-button').click(function () {
      dialog.hide();
    });
  });

  $(document).on('click', '.project_list', function () {
    location.href = '/p'; <%# TODO: Can't call project_list_path because it's not in scope %>
  });
};
