/**
 * Dynamic header generation and event bindings for header actions.
 */

// TODO: Enable the 'destroyed' method?   No need if we're just going to switch to React later.
// (function($){ $.event.special.destroyed = { remove: function(o) { if (o.handler) { o.handler() } } } })(jQuery);


// New private scope -- a lot of this is boilerplate for class structures, taken from coffeescript
(function() {
  var
    __bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; },
    __hasProp = {}.hasOwnProperty,
    __extends = function(child, parent) { for (var key in parent) { if (__hasProp.call(parent, key)) child[key] = parent[key]; } function ctor() { this.constructor = child; } ctor.prototype = parent.prototype; child.prototype = new ctor(); child.__super__ = parent.prototype; return child; },
    __indexOf = [].indexOf || function(item) { for (var i = 0, l = this.length; i < l; i++) { if (i in this && this[i] === item) return i; } return -1; };


  // class HeaderStore extends UIStore
      /**
     * @param data {{
     *   title: string,
     *   finishLink: string,
     *   showStageLinks: boolean,
     *   trophies: Object,
     *   levels: Array.<{
     *     displayText: string,
     *     status: string,
     *     unplugged: boolean,
     *     assessment: boolean
     *   }>
     * }}
     */
  HeaderStore = (function(_super) {
    __extends(HeaderStore, _super);

    // Must have a constructor
    function HeaderStore() {
      return HeaderStore.__super__.constructor.apply(this, arguments);
    }

    HeaderStore.prototype.resolveUrl = function(args, dataType) {
      return "/popup/progress";
    }

    HeaderStore.prototype.resolveStatic = function(args) {
      return "/level-" + (args.script_name || args.script_id) + "-" + (args.stage_id || "1") + "-" + args.level_id;
    }

    return HeaderStore;
  })(UIStore);



  // ScriptStore: load the script progress (used in the header dropdown)
  ScriptStore = (function(_super) {
    __extends(ScriptStore, _super);

    // Must have a constructor
    function ScriptStore() {
      return ScriptStore.__super__.constructor.apply(this, arguments);
    }

    ScriptStore.prototype.resolveUrl = function(args, dataType) {
      return "/popup/script";
    }

    ScriptStore.prototype.resolveStatic = function(args) {
      return "/script-" + (args.script_name || args.script_id);
    }

    return ScriptStore;
  })(UIStore);



  // class HeaderBar extends UIComponent
  HeaderBar = (function(_super) {
    __extends(HeaderBar, _super);

    // Must have a constructor
    function HeaderBar($el, props) {
      HeaderBar.__super__.constructor.apply(this, arguments);

      this.onModalClick = __bind(this.onModalClick, this);

      return this;
    }

    HeaderBar.prototype.componentDidMount = function() {
      var _this = this;

      // TODO: Is this the right place to put this?
      // It guarantees there will be at least one render cycle before we try to load the header.
      this.props.headerStore.subscribe( __bind(this.replaceState, this) );

      // This store is used to load the HTML overview of the entire script
      this.scriptStore = new ScriptStore();
      this.scriptStore.subscribe(function(script) {
        _this.setState({
          scriptDefinition: script
        });
      });

      // Create tooltips for the free-play icons
      // TODO: Might be better to initialize this component elsewhere
      $('.level_free_play').qtip({
        content: {
          attr: 'title'
        },
        position: {
          my: 'top center',
          at: 'bottom center'
        }
      });
    }


    HeaderBar.prototype.render = function() {
      var cl, el;
      var _this = this;
      var state = this.state || {};

      var script = state.script || {};
      var stage = state.stage || {};
      var level = state.level || {};
      var progress = state.progress || {};

      // The user signin button is rendered by client code if it wasn't sent by the server
      // Offline mode shouldn't show it.
      var $right = this.$el.find('.header_right');
      if (!$right.find('.header_user').length) {
        $right.append(
          $('<div>').addClass('header_user').append(
            $('<a>', {
              href: '/users/sign_in',
              id: 'signin_button'
            }).addClass('button-signin').text('<%= I18n.t("nav.user.signin") %>')
          )
        );
      }

      // Don't render the progress buttons unless we are initialized with a script
      if (!script)
        return;

      // NOTE: All this DOM manipulation would be better done via a template - but we're in the process
      // of picking a template language vs JSX

      if (level.reportBugLink) {
        this.$el.addClass('feedback-bug-links');
        var beta = $('<div>').attr('id', 'betainfo').prependTo(this.$el);

        if (level.feedbackUrl) {
          beta.append( $('<a>').attr('href', level.feedbackUrl).text('<%= I18n.t("landing.feedback") %>') );
          beta.append( document.createTextNode(' | ') );
        }

        beta.append( $('<a>').attr('href', level.reportBugLink).attr('_target', 'blank').text('<%= I18n.t("landing.report_bug") %>') );
      } else {
        this.$el.removeClass('feedback-bug-links');
        this.$el.find('#betainfo').remove();
      }


      var $middle = _this.$el.find('.header_middle');
      $middle.children().remove();
      el = $('<div>').addClass('header_level').appendTo($middle);
      var $container = $('<div>').addClass('header_level_container').appendTo(el);

      // Title
      if (stage.title) {
        $('<div>').addClass('header_text header_level_text').text(stage.title).appendTo($container);
      }

      // Progress: Render the array of levels
      var levels = stage.levels || [];
      var levelProgress = progress.levels || {};

      if (levels.length) {
        // This is a bit of a hack.  Level.level.id gets overwritten when blockly initializes, so it's been cached in another
        // location until we can fix that.
        var level_id = level.level_id || level.level.id;

        var els = $.map(levels, function(level, index) {
          var status = levelProgress[level.id] || {};

          var href = Frame.linkTo({
            script: stage.script_name,
            stage: stage.position,
            level: level.position
          });

          cl = 'level_link ' + (status.status || 'not_tried');
          if (level.kind == 'unplugged')
            cl += ' unplugged_level';
          var link = $('<a>').addClass(cl).attr('href', href).text(level.title);

          cl = level.kind == 'assessment' ? 'puzzle_outer_assessment' : 'puzzle_outer_level';
          if (level.id == level_id)
            cl += ' puzzle_outer_current';
          if (index === levels.length - 1)
            cl += ' last';
          return $('<div>').addClass(cl).append(link);
        });

        $('<div>').addClass('progress_container').append(els).appendTo($container);
      }

      // Finished link
      if (stage.finishText) {
        el = $('<div>').addClass('header_finished_link');
        var href = Frame.linkTo({
          complete: stage.script_name
        })
        $('<a>').attr('href', href).text(stage.finishText).appendTo(el);
        el.appendTo($container);
      }

      // Trophies
      if (progress.trophies) {
        el = $('<span>').addClass('header_trophy_link');
        $('<div>').addClass('header_text').text('<%= I18n.t(:trophies) %>').appendTo(el);
        $('<div>').addClass('header_status_bar current_trophies').text(progress.trophies.current).appendTo(el);
        $('<div>').addClass('header_text max_trophies').text(progress.trophies.of + ' ' + progress.trophies.max).appendTo(el);
        el.appendTo($container);
      }

      // Show stage popup if there is more than one stage, or trophies
      if (stage.script_stages > 1 || progress.trophies) {
        el = $('<span>').addClass('header_popup_link');

        if (state.popped) {
          $('<div>').addClass('header_popup_link_glyph').html("&#x25B2;").appendTo(el);
          $('<div>').addClass('header_popup_link_text').text('<%= I18n.t(:less) %>').appendTo(el);
        } else {
          $('<div>').addClass('header_popup_link_glyph').html("&#x25BC;").appendTo(el);
          $('<div>').addClass('header_popup_link_text').text('<%= I18n.t(:more) %>').appendTo(el);
        }
        el.appendTo($container);

        $('.freeplay_links').show();
      } else {
        $('.freeplay_links').hide();
      }

      // Popup stage navigation
      if (state.popped) {
        var header_popup = $('<div>').addClass('header_popup').appendTo($middle);

        el = $('<div>').addClass('header_popup_header').appendTo(header_popup);
        $('<span>').text('<%= I18n.t("nav.popup.progress") %>').appendTo(el);
        if (progress.linesOfCodeText)
          $('<div>').addClass('header_text').css('float','right').text(progress.linesOfCodeText).appendTo(el);

        el = $('<div>').addClass('header_popup_body').appendTo(header_popup);

        if (state.scriptDefinition) {

          var statsEl = $('<div>').addClass('user-stats-block').appendTo(el);

          for (var s = 0; s < state.scriptDefinition.stages.length; s++) {
            var stage = state.scriptDefinition.stages[s];

            var scriptEl = $('<div>').addClass('game-group').appendTo(statsEl);
            var stageEl = $('<div>').addClass('stage').appendTo(scriptEl);

            stageEl.append(
              $('<span>').text( stage.title )
            );

            /* TODO: ONLY IF IS A TEACHER */
            stageEl.append(
              $('<div>').addClass('stage-lesson-plan-link').append(
                $('<a>').attr('href', stage.lesson_plan_html_url).text('<%= I18n.t("view_lesson_plan") %>')
              )
            );

            var gamesEl = $('<div>').addClass('games').appendTo(scriptEl);

            for (var l = 0; l < stage.levels.length; l++) {
              var level = stage.levels[l];
              var status = levelProgress[level.id] || {};

              var href = Frame.linkTo({
                script: state.scriptDefinition.name,
                stage: stage.position,
                level: level.position
              });

              cl = 'level_link ' + (status.status || 'not_tried');
              var linkEl = $('<a>').attr('href', href ).addClass(cl);

              outer_cl = 'puzzle_outer_level';
              if (level.id == level_id)
                outer_cl += ' puzzle_outer_current';

              if (level.kind == 'unplugged') {
                linkEl.append($('<span>').addClass('puzzle-named').text(level.title));
              } else {
                if (level.kind == 'assessment')
                  outer_cl += ' puzzle_outer_assessment';

                if (status.status == 'perfect' || status.status == 'perfect')
                  $('<img>').attr('src', '/assets/white-checkmark.png').appendTo(linkEl);
                else
                  linkEl.append($('<span>').addClass('puzzle-number').text(level.title));
              }

              gamesEl.append(
                $('<div>').addClass('level').append(
                  $('<span>').addClass(outer_cl).append(linkEl)
                )
              );

            }
          }

          var dlEl;
          $('<div>').addClass('key').appendTo(statsEl).append(
            dlEl = $('<dl>')
          );
          dlEl.append('<dt><span class="puzzle_outer_level"><a class="level_link not_tried"><span class="puzzle-number">1</span></a></dt>');
          dlEl.append('<dd><%= I18n.t("progress.not_completed") %></dd>');
          dlEl.append('<dt><span class="puzzle_outer_level"><a class="level_link passed"><span class="puzzle-number">2</span></a></dt>');
          dlEl.append('<dd><%= I18n.t("progress.completed_too_many_blocks") %></dd>');
          dlEl.append('<dt><span class="puzzle_outer_level"><a class="level_link perfect"><span class="puzzle-number">3</span></a></dt>');
          dlEl.append('<dd><%= I18n.t("progress.completed_perfect") %></dd>');
        } else {
          el.html('<div class="loading"></div>');
        }

        el = $('<div>').addClass('header_popup_footer').appendTo(header_popup);
        $('<div>').addClass('header_popup_close').text('<%= I18n.t("nav.popup.close") %>').appendTo(el);

        // Catch clicks anywhere else and close the popup
        $(document).on('click', this.onModalClick);
      } else {
        $(document).off('click', this.onModalClick);
      }
    }

    HeaderBar.prototype.componentDidUpdate = function() {
      // This is totally cheating by React rules.  But it's intentional: we don't want to force another
      // update so we just edit the state directly.  (React would notice that the change had no DOM effect,
      // but we don't have that optimization.)
      if (this.state.scriptDefinition && this.state.jumpToTrophies) {
        var off = $('#trophies').offset();
        if (off)
          window.scrollTo(0, +off.top);
        delete this.state.jumpToTrophies;
      }
    }

    // Three possible arguments: true, false, or "trophies" (the last one autoscrolls the page to the bottom of the popup)
    HeaderBar.prototype.showPopup = function(show) {
      this.setState({
        popped: !!show,
        jumpToTrophies: show == 'trophies'
      });

      // Have we loaded the stage HTML already?  If not, load it now.
      if (this.state.popped && (this.state.scriptDefinition === undefined)) {
        this.state.scriptDefinition = false; // prevent multiple loads

        // Ask the script store to load a particular script.
        this.scriptStore.load({
          script_id: this.state.stage.script_id
        });

      }
    }

    HeaderBar.prototype.onClick = function(ev) {
      var el;

      // Toggle more/less button
      el = $(ev.target).closest('.header_trophy_link');
      if (el.length) {
        ev.stopPropagation(); // Otherwise it will count as a click outside the modal.
        this.showPopup("trophies");
        return;
      }

      // Toggle more/less button
      el = $(ev.target).closest('.header_popup_link');
      if (el.length) {
        ev.stopPropagation();
        this.showPopup(!this.state.popped);
        return;
      }

      // Close button
      el = $(ev.target).closest('.header_popup_close');
      if (el.length) {
        this.showPopup(false);
        return;
      }
    }

    HeaderBar.prototype.onModalClick = function(ev) {
      var el;

      // Clicks outside the popup close it
      el = $(ev.target).closest('.header_popup');
      if (!el.length) {
        this.showPopup(false);
        return;
      }
    }

    return HeaderBar;
  })(UIComponent);


  // For now, create a global.  Later, this should be in module.exports
  // (Note these are already global since they're not declared via 'var'.
  window.HeaderBar = HeaderBar;
  window.HeaderStore = HeaderStore;

}).call(this);
