---
title: Careers at Code.org
nav: about_nav
video_player: true
theme: responsive
---

- link_path = ["https://boards.greenhouse.io/codeorg/jobs/4278601005", "https://boards.greenhouse.io/codeorg/jobs/4278598005", "https://boards.greenhouse.io/codeorg/jobs/4278601005", "https://boards.greenhouse.io/codeorg/jobs/4278590005", "https://boards.greenhouse.io/codeorg/jobs/4098657005", "https://boards.greenhouse.io/codeorg/jobs/4278601005", "https://boards.greenhouse.io/codeorg/jobs/4278596005", "https://boards.greenhouse.io/codeorg/jobs/4297102005", "https://boards.greenhouse.io/codeorg/jobs/4297421005"]

%link{href: "/css/generated/career/career-page.css", rel: "stylesheet"}

%section.hero-banner-basic.career__hero
  .text-wrapper.col-60
    %h1
      =hoc_s(:careers_hero_title)
    %p
      =hoc_s(:careers_hero_description)
    %p.career__description--under
      =hoc_s(:careers_hero_description_under)
    %a.link-button.career__hero__button{href: "#openRoles"}
      =hoc_s(:careers_hero_cta)
  %figure.video.col-50
    =view :career__team_video
%hr

%section.career__vision
  %img{src: "/images/about/careers/vision-section-image.jpg", alt: "Students"}
  .text-wrapper.col-60 
    %h2
      =hoc_s(:careers_vision_title) 
    %p
      =hoc_s(:careers_vision_decsription) 
    %p.career__description--under
      =hoc_s(:careers_vision_description_under)
%hr

%section.career__values{style: "margin: 64px 0"}
  .text-wrapper.col-60
    %h2
      =hoc_s(:careers_values_title)
- item_count = 3
- item_count.times do |index|
  .career__values__list 
    .career__values__item
      %img{src: "/images/about/careers/core-values-first-column-#{index + 1}.jpg", alt: "careers_values_text_1", style:"width: 100px; height: 100px"}
      %p.values__text{style: "display: flex; align-items:center"}
        =hoc_s("careers_values_first_column_text_#{index + 1}")
    .career__values__item 
      %img{src: "/images/about/careers/core-values-second-column-#{index + 1}.jpg", alt: "careers_values_text_2", style:"width: 100px; height: 100px"}
      %p.values__text{style: "display: flex; align-items:center"}
        =hoc_s("careers_values_second_column_text_#{index + 1}") 
%hr

%section.career__approach
  .text-wrapper.col-60
    %h2
      =hoc_s(:careers_approach_section_title)
    %p.career__approach__description 
      =hoc_s(:careers_approach_section_description)
      %span.link
        %a{href: "#careerDiversity"}
          =hoc_s(:careers_aproach_section_description_link)
    %a.link-button{href: "#openRoles"}
      =hoc_s(:careers_approach_section_button)
  %img{src: "/images/about/careers/diversityJobsAward.jpg", alt: "Diversity Jobs award", style: "width: 235px; height: 205px"}
%hr

%section.career__principal{style: "margin: 64px 0"}
  .text-wrapper.col-60
    %h2
      =hoc_s(:careers_principle_section_title)
  .career__principal__list
    - item_count = 7
    - item_count.times do |index|   
      - if index % 2 === 0
        .career__principal__item
          %img{src: "/images/about/careers/principle-section-#{index + 1}.jpg", alt: "careers_values_text_1", style:"width: 100px; height: 100px"}
          .career__principal__text
            %p{style: "display: flex; align-items:center; font-weight: bold"}
              =hoc_s("careers_principle_title_#{index + 1}")
            %p
              =hoc_s("careers_principle_description_#{index + 1}")
      - if index % 2 != 0
        .career__principal__item
          .career__principal__text
            %p{style: "display: flex; align-items:center; font-weight: bold"}
              =hoc_s("careers_principle_title_#{index + 1}")
            %p
              =hoc_s("careers_principle_description_#{index + 1}")
          %img{src: "/images/about/careers/principle-section-#{index + 1}.jpg", alt: "careers_values_text_1", style:"width: 100px; height: 100px"}
%hr

%section.career__balance{style: "margin: 64px 0 32px 0"}
  %h2
    =hoc_s(:careers_balance_section_title)
  %p.career__balance__description 
    =hoc_s(:careers_balance_section_description)
  - item_count = 2
  - item_count.times do |index|
    .career__values__list 
      .career__values__item
        %img{src: "/images/about/careers/balance-first-column-#{index + 1}.jpg", alt: "careers_values_text_1", style:"width: 100px; height: 100px"}
        %p.values__text{style: "display: flex; align-items:center"}
          =hoc_s("careers_balance_first_column_text_#{index + 1}")
      .career__values__item 
        %img{src: "/images/about/careers/balance-second-column-#{index + 1}.jpg", alt: "careers_values_text_2", style:"width: 100px; height: 100px"}
        %p.values__text{style: "display: flex; align-items:center"}
          =hoc_s("careers_balance_second_column_text_#{index + 1}") 
%hr

%section.career__roles{style: "margin: 64px 0", id: "openRoles"}
  %h2 
    =hoc_s(:careers_openroles_section_title)
  %p.career__roles__description
    =hoc_s(:careers_openroles_section_description)
  %h4 
    =hoc_s(:careers__openroles__job_description)

  .career__roles__link__list
    - item_count = 9 
    - item_count.times do |index|
      %a{href: link_path[index]}
        =hoc_s("careers_engineering_job_title_#{index + 1}")
      %p.career__roles__job__description
        =hoc_s("careers_engineering_job_description_#{index + 1}")
  %h4
    =hoc_s(:careers_educational_title)
  %a{href: "#"}
    =hoc_s(:careers_educational_job_title_1)
  %p{style: "margin-bottom: 48px"}
    =hoc_s(:careers_educational_job_description_1)
  %p 
    =hoc_s(:careers_more_info_text, markdown: :inline, locals: {support_url: "https://support.code.org/hc/en-us", help_url: "/help"})
%hr

%section.career__diversity{style: "margin: 64px 0", id:"careerDiversity"} 
  %h2
    =hoc_s(:careers_approach_section_title2)
  .career__diversity__images
    %img{src: "/images/about/careers/finall-section-team.jpg", alt: "Team"}
    %img{src: "/images/about/careers/final-section-pride.jpg", alt: "Pride"}
  %p{style: "margin-bottom: 16px"}
    =hoc_s(:careers_approach_section_description_1)
  %p 
    =hoc_s(:careers_approach_section_description_2, markdown: :inline, locals: {mail_url: "mailto:accommodations@code.org."})
