---
title: Learn
layout: wide_index
social:
  twitter:card: photo
  twitter:site: "@codeorg"
  og:image:width: '1200'
  og:image:height: '630'
---
:ruby
  @header["social"]["twitter:url"] = "https://#{request.host}/learn"
  @header["social"]["twitter:title"] = hoc_s(:hour_of_code)
  @header["social"]["twitter:description"] = hoc_s(:social_hoc2018_global_movement)
  @header["social"]["twitter:image:src"] = 'https://' + request.host + '/images/social-media/hoc-2018-creativity.png'
  @header["social"]["og:title"] = hoc_s(:hour_of_code)
  @header["social"]["og:description"] = hoc_s(:social_hoc2018_global_movement)
  @header["social"]["og:image"] = 'https://' + request.host + '/images/social-media/hoc-2018-creativity.png'

-# hourofcode.com uses an early version of Bootstrap 3 which didn't have this wider dialog.
:css
  @media (min-width: 992px)
  {
    .modal-lg {
      width: 900px;
    }
  }

:css
  .noFocusButton:focus {
    outline: 0;
  }

  #fullwidth {
    overflow: hidden;
    background-size: cover;
    background-image: url(#{CDO.code_org_url('/images/learn/hoc2019_background.png')})
  }
  .banner {
    color: white;
    text-align: center;
  }
  .banner a {
    color: white;
    text-decoration: underline;
    font-family: 'Gotham 5r', sans-serif;
  }
  .bannerHeading {
    font-family: 'Gotham 5r', sans-serif;
    font-size: 45px;
    line-height: 45px;
    padding: 20px 0px 20px 0px;
  }
  .bannerBeyond {
    padding-top: 15px;
  }
  .bannerTeachers {
    padding-top: 30px;
    padding-bottom: 10px;
    opacity: 0;
  }
  .bannerTeacherIcon {
    height: 20px;
    padding-right: 3px;
    vertical-align: top;
  }
  #studentImage {
    height: 278px;
  }
  /* Center the foreground image when it's below the header text. */
  @media screen and (max-width: 991px) {
    #studentImage img {
      position: absolute;
      transform: translateX(-50%);
      height: 278px;
    }
  }

#fullwidth
  = view :header

  .banner.container{style: "color: white"}
    .col-sm-12.col-md-6{style: "text-align: center"}
      .bannerHeading= hoc_s(:learn_banner_heading)
      = hoc_s(:learn_banner_blurb)
      .bannerBeyond
        != hoc_s(:learn_banner_beyond_markdown, markdown: :inline, locals: {url: "https://hourofcode.com/beyond"})
      .bannerTeachers
        %i{:class=>"fa fa-graduation-cap", :style=>"font-size: larger"}
        != hoc_s(:learn_banner_teachers_markdown, markdown: :inline, locals: {host_url: "https://hourofcode.com/#join", howto_url: "https://hourofcode.com/how-to"})
    #studentImage.hidden-xs.col-sm-12.col-md-6

-# Not ideal but we can pull the undigested files from /blockly.
- locale_code = hoc_get_locale_code
- js_locale = locale_code.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/tutorialExplorer_locale.js")}
%script{src: webpack_asset_path("js/tutorialExplorer.js")}

-# Load tutorial images from code.org so we don't have to duplicate them on hourofcode.com.
- tutorials_contents = Tutorials.new(:tutorials).contents(request.host_with_port)
- tutorials_contents.each do |tutorial|
  - tutorial[:image] = CDO.code_org_url(tutorial[:image])

- tutorials_contents.each do |tutorial|
  - tutorial[:contact] = nil
  - prefix = "tutorial_#{tutorial[:short_code]}_"
  - tutorial[:name]                                 = hoc_s(prefix + "name")
  - tutorial[:shortdescription]                     = hoc_s(prefix + "shortdescription")
  - tutorial[:longdescription]                      = hoc_s(prefix + "longdescription")
  - tutorial[:language]                             = hoc_s(prefix + "language")
  - tutorial[:string_detail_grades]                 = hoc_s(prefix + "string_detail_grades")
  - tutorial[:string_platforms]                     = hoc_s(prefix + "string_platforms")
  - tutorial[:string_detail_platforms]              = hoc_s(prefix + "string_detail_platforms")
  - tutorial[:string_detail_programming_languages]  = hoc_s(prefix + "string_detail_programming_languages")

#tutorials

.clear{style: "clear: both"}

:javascript

  $(document).ready(function() {
    // Send through some values that the JavaScript will need.
    var tutorialExplorerManager = new window.TutorialExplorerManager({
      tutorials: #{raw tutorials_contents.to_json},
      locale: "#{locale_code}",
      roboticsButtonUrl: "#{resolve_url('/learn/robotics')}",
      showSortDropdown: #{DCDO.get('learn_show_sort_dropdown', true)},
      disabledTutorials: #{raw DCDO.get('learn_hide_tutorials', [])},
      defaultSortByPopularity: #{Tutorials.sort_by_popularity?(request.site, DCDO.get("hoc_mode", CDO.default_hoc_mode))}
    });
    tutorialExplorerManager.renderToElement(document.getElementById('tutorials'));

    var studentImage = "#{CDO.code_org_url('/images/learn/hoc2019_foreground.png')}";
    var img = $('<img>');
    img.attr('src', studentImage);
    img.attr('style', 'opacity: 0');
    img.attr('alt', '');
    img.appendTo('#studentImage');
    img.on('load', function() {
      img.fadeTo('normal', 1);
    });

    // Open banner links in new tab; we render them with markdown, so we can't do this in the haml
    // Add the rel tag to attempt to mitigate the inherent danger in opening
    // links in a new tab; will only work for modern browsers, though.
    $(".banner a").attr({target: "_blank", rel: "noopener noreferrer nofollow"});

    // Set up google analytics tracking
    $('.bannerTeachers a[href$="join"]').click(function () {
      ga('send', 'event', 'learn', 'click', 'teacher_banner_host');
    });
    $('.bannerTeachers a[href$="how-to"]').click(function () {
      ga('send', 'event', 'learn', 'click', 'teacher_banner_howto');
    });

    $(".bannerTeachers").fadeTo('slow', 1);
  });
