---
title: Learn
layout: wide_index
social:
  "twitter:card": photo
  "twitter:site": "@codeorg"
  "twitter:image:src" : "https://code.org/images/learn/og-learn-robotics.png"
  "twitter:title": "Hour of Code"
  "twitter:description": "The Hour of Code is a global movement reaching tens of millions of students. One-hour tutorials are available in 45+ languages for all ages."
  "og:title": "Hour of Code"
  "og:description": "The Hour of Code is a global movement reaching tens of millions of students in 180+ countries. Anyone, anywhere can organize an Hour of Code event. One-hour tutorials are available in over 45 languages for all ages."
  "og:image" : "https://code.org/images/learn/og-learn-robotics.png"
  "og:image:width": "853"
  "og:image:height": "447"
  "og:video": ""
  "og:video:width": ""
  "og:video:height": ""
  "og:video:type": ""
---

:ruby
  @header["social"]["twitter:url"] = "https://#{request.host}/learn"

-# hourofcode.com uses an early version of Bootstrap 3 which didn't have this wider dialog.
:css
  @media (min-width: 992px)
  {
    .modal-lg {
      width: 900px;
    }
  }

:css
  .noFocusButton:focus {
    outline: 0;
  }

  .banner {
    color: white;
    text-align: center;
  }
  .bannerHeading {
    font-family: 'Gotham 5r', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
    padding: 20px 0px 20px 0px;
  }
  .bannerRobotics {
    padding-bottom: 10px;
  }
  #robotImage {
    height: 222px;
  }

#fullwidth{style: "background-color: #2799a4; overflow: hidden"}
  = view :header

  .banner.container
    .col-xs-12.col-sm-6
      .bannerHeading= hoc_s(:learn_robotics_banner_heading)
      .bannerRobotics= hoc_s(:learn_robotics_banner_blurb)
    .col-xs-12.col-sm-6.hidden-xs
      %img#robotImage{src: CDO.code_org_url("/images/learn/robotics.png")}

-# Not ideal but we can pull the undigested files from /blockly.
- locale_code = hoc_get_locale_code
- js_locale = locale_code.to_s.downcase.tr('-', '_')
%script{src: webpack_asset_path("js/#{js_locale}/tutorialExplorer_locale.js")}
%script{src: webpack_asset_path("js/tutorialExplorer.js")}

-# Load tutorial images from code.org so we don't have to duplicate them on hourofcode.com.
- tutorials_contents = Tutorials.new(:tutorials).contents(request.host_with_port)
- tutorials_contents.each do |tutorial|
  - tutorial[:image] = CDO.code_org_url(tutorial[:image])

- tutorials_contents.each do |tutorial|
  - tutorial[:contact] = nil
  - prefix = "tutorial_#{tutorial[:short_code]}_"
  - tutorial[:name]                                 = hoc_s(prefix + "name")
  - tutorial[:shortdescription]                     = hoc_s(prefix + "shortdescription")
  - tutorial[:longdescription]                      = hoc_s(prefix + "longdescription")
  - tutorial[:language]                             = hoc_s(prefix + "language")
  - tutorial[:string_detail_grades]                 = hoc_s(prefix + "string_detail_grades")
  - tutorial[:string_platforms]                     = hoc_s(prefix + "string_platforms")
  - tutorial[:string_detail_platforms]              = hoc_s(prefix + "string_detail_platforms")
  - tutorial[:string_detail_programming_languages]  = hoc_s(prefix + "string_detail_programming_languages")
  - tutorial[:teachers_notes]                       = CDO.curriculum_url(locale_code, tutorial[:teachers_notes], false)

#tutorials

.clear{style: "clear: both"}

:javascript

  $(document).ready(function() {
    // Send through some values that the JavaScript will need.
    var tutorialExplorerManager = new window.TutorialExplorerManager({
      tutorials: #{raw tutorials_contents.to_json},
      locale: "#{locale_code}",
      robotics: true,
      showSortDropdown: #{DCDO.get('learn_show_sort_dropdown', true)},
      backButton: true,
      disabledTutorials: #{raw DCDO.get('learn_hide_tutorials', [])}
    });
    tutorialExplorerManager.renderToElement(document.getElementById('tutorials'));
  });
