.by_day
  %h3
    Percentages by Day
  #chart_by_day
  %table
    %tr
      - @ratings_by_day_headers.each do |header|
        %th
          %span= header
    - @ratings_by_day.each do |day|
      %tr
        %td
          %span= day.day
        %td
          %span= number_to_percentage(day.percentage, precision: 2)
        %td
          %span= day.cnt

- content_for :body_scripts do
  :javascript
    // Load the Visualization API and the appropriate packages, setting a callback
    // to run when the API is loaded.
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    var percentages_by_day = #{percentages_by_day.try(:to_json)}

    // The callback that creates and populates the data table, instantiates the
    // chart, and draws it.
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Percentage');
      data.addRows(percentages_by_day);

      // Instantiate and draw our chart, passing in some options.
      var options = {'title': 'Fun-O-Meter By Day', 'width':800, 'height':500};
      var chart = new google.visualization.LineChart(document.getElementById('chart_by_day'));
      chart.draw(data, options);
    }
