%h1 Admin stats

%h3 Users with accounts

%strong Total users
#{@stats['user_count']}
%br/
%strong Students
#{@stats['student_count']}
%br/
%strong Teachers
#{@stats['teacher_count']}
%br/
%strong Gender (when specified):
- if @stats['girls'] + @stats['boys'] > 0
  Girls #{@stats['girls'] * 100 / (@stats['girls'] + @stats['boys'])}% /
  Boys #{@stats['boys'] * 100 / (@stats['girls'] + @stats['boys'])}%
- else
  0 users with specified gender
%br/
%strong Users linked to a teacher
- if @stats['user_count'] > 0
  #{@stats['users_with_teachers']} (#{@stats['users_with_teachers'] * 100 / @stats['user_count']}%)
- else
  0
%br/
%strong Users with an email address
- if @stats['user_count'] > 0
  #{@stats['users_with_email']} (#{@stats['users_with_email'] * 100 / @stats['user_count']}%)
- else
  0
%br/
%strong Teachers with a confirmed email address
- if @stats['teacher_count'] > 0
  #{@stats['users_with_confirmed_email']} (#{@stats['users_with_confirmed_email'] * 100 / @stats['teacher_count']}%)
- else
  0
%br/
%br/

%h3= link_to 'View Level Progress (slow query) >>', admin_progress_path

%h3= link_to 'View Concept Completions (slow query) >>', admin_concepts_path

%h3= link_to 'View Level Completion stats >>', level_completions_path

%h3= link_to 'View Monthly Metrics >>', reports_path(action: 'monthly_metrics')

%h3 Prizes

%strong Total student prizes earned
#{@stats['student_prizes_earned']}
%br/
%strong Total student prizes redeemed
#{@stats['student_prizes_redeemed']}
%br/
- @stats['prizes_redeemed'].each do |key, value|
  #{key.name} #{value}
  %br/
%strong Student prizes available to be redeemed
#{@stats['student_prizes_available']}
%br/
- @stats['prizes_available'].each do |key, value|
  #{key.name} #{value}
  %br/
%br/

%strong Total teacher prizes earned
#{@stats['teacher_prizes_earned']}
%br/
%strong Total teacher prizes redeemed
#{@stats['teacher_prizes_redeemed']}
%br/
%strong Teacher prizes available to be redeemed
#{@stats['teacher_prizes_available']}
%br/
%br/

%strong Total bonus teacher prizes earned
#{@stats['teacher_bonus_prizes_earned']}
%br/
%strong Total teacher bonus prizes redeemed
#{@stats['teacher_bonus_prizes_redeemed']}
%br/
%strong Teacher bonus prizes available to be redeemed
#{@stats['teacher_bonus_prizes_available']}
%br/
%br/
