- content_for(:head) do
  = stylesheet_link_tag    'jquery.handsontable.full', media: 'all'
  = javascript_include_tag 'jquery.handsontable.full'
%h1 Online Course Name: #{script['name']}
%h2 #{link_to 'Download CSV', {:format => :csv }}
%h3 Last updated: #{DateTime.parse(time).to_formatted_s(:long)}
#progress
:javascript
  var data = #{ data.try(:to_json)};
  var headers = #{ headers.try(:to_json)};
  var ht = new Handsontable(document.getElementById('progress'), {
      data: data,
      colHeaders: headers,
      cells: function(row, col, prop) {
        return {};
      }
  });
