---
layout: wide
nav: events_nav
---
:ruby
  @header["title"] = hoc_s(:events_special_title)

:ruby
  require pegasus_dir 'helper_modules/forms'
  hoc_year = DCDO.get("hoc_year", 2017)
  kind = "HocSignup#{hoc_year}".freeze

  events = Forms.events_by_country(kind, review_approved: true)
  us_events = Forms.events_by_state(kind, review_approved: true)

%h1= hoc_s(:events_special_title)

%ul
  %li{class: "hoc-event-country"}
    %span{style: "font-weight: bold;"}= "United States (#{us_events.count rescue '0'} #{hoc_s(:events)})"
    %ul{style: "margin-top: 0; margin-bottom: 0;"}
      -us_events.each do |event|
        %li{class: "hoc-event-state"}
          %a{href: "/events/special/us/#{event[:state_code].downcase}"}= "#{event[:state_code]} (#{event[:count]} #{hoc_s(event[:count] > 1 ? :events : :event)})"
%ul
  -events.each do |event|
    %li{class: "hoc-event-country"}
      %a{href: "/events/special/#{event[:country_code].downcase}"}= "#{country_name_from_code(event[:country_code])} (#{event[:count]} #{hoc_s(event[:count] > 1 ? :events : :event)})"
