---
layout: wide
nav: events_nav
---
:ruby
  require pegasus_dir 'helper_modules/forms'
  require 'country_codes'
  require 'state_abbr'

  hoc_year = DCDO.get("hoc_year", 2017)
  splat = request.splat_path_info[1..-1].split("/").map{ |a| Rack::Utils.escape_html(a) }
  country_code = splat.first
  # must sanitize country_code, which is untrusted user input from URL
  pass unless valid_country_code?(country_code)
  country = country_name_from_code(country_code)
  country = 'United States' if country == 'us'
  state_code = nil
  state_code = splat.last unless country_code == splat.last
  state = nil

  if country_code == 'us' && !state_code.nil_or_empty?
    # note state_code is untrusted user input from URL; however
    # get_us_state_from_abbr will return nil if not valid state code
    pass unless (state = get_us_state_from_abbr(state_code))
  else
    state_code = nil
  end
  @header["title"] = "#{hoc_s(:events_all_title)} - #{state ? state : country}"

  results = Forms.events_by_name("HocSignup#{hoc_year}", country_code, state_code, review_approved: true)
  pass unless results.count > 0

%h1= hoc_s(:events_special_title) + ' — ' + (state ? state : country)

%ul
  -results.each do |event|
    %li{class: "hoc-event"}= "#{event[:name]}#{" (#{event[:city]})" unless event[:city].nil_or_empty?}"
