:ruby
  block_item = [
    {
      overline: hoc_s("app_lab_page.lessons.intro.ages"),
      title: hoc_s("app_lab_page.lessons.intro.title"),
      image: "/images/app-lab/applab-intro.png",
      desc: hoc_s("app_lab_page.lessons.intro.desc"),
      button_label: hoc_s("app_lab_page.lessons.button_lesson"),
      url: CDO.studio_url("/s/applab-intro/reset"),
      aria_label: hoc_s("app_lab_page.lessons.intro.aria_label"),
    },
    {
      overline: hoc_s("app_lab_page.lessons.csd.ages"),
      title: hoc_s("app_lab_page.lessons.csd.title"),
      image: "/images/courses-catalog/CSD-539x296.png",
      desc: hoc_s("app_lab_page.lessons.csd.desc"),
      button_label: hoc_s("app_lab_page.lessons.button_curricula"),
      url: "/educate/csd",
      aria_label: hoc_s("app_lab_page.lessons.csd.aria_label"),
    },
    {
      overline: hoc_s("app_lab_page.lessons.csp.ages"),
      title: hoc_s("app_lab_page.lessons.csp.title"),
      image: "/images/courses-catalog/CSP-539x296.png",
      desc: hoc_s("app_lab_page.lessons.csp.desc"),
      button_label: hoc_s("app_lab_page.lessons.button_curricula"),
      url: "/educate/csp",
      aria_label: hoc_s("app_lab_page.lessons.csp.aria_label"),
    },
    {
      overline: hoc_s("app_lab_page.lessons.self_paced_turtle.ages"),
      title: hoc_s("app_lab_page.lessons.self_paced_turtle.title"),
      image: "/images/turtle-programming-banner.png",
      desc: hoc_s("app_lab_page.lessons.self_paced_turtle.desc"),
      button_label: hoc_s("app_lab_page.lessons.button_curricula"),
      url: CDO.studio_url("/s/csp3-virtual?viewAs=Instructor"),
      aria_label: hoc_s("app_lab_page.lessons.self_paced_turtle.aria_label"),
    },
    {
      overline: hoc_s("app_lab_page.lessons.event_driven.ages"),
      title: hoc_s("app_lab_page.lessons.event_driven.title"),
      image: "/images/event-driven-programming-banner.png",
      desc: hoc_s("app_lab_page.lessons.event_driven.desc"),
      button_label: hoc_s("app_lab_page.lessons.button_curricula"),
      url: CDO.studio_url("/s/csp5-virtual?viewAs=Instructor"),
      aria_label: hoc_s("app_lab_page.lessons.event_driven.aria_label"),
    },
  ]

.carousel-wrapper
  %swiper-container.applab-lessons{navigation: "true", "navigation-next-el": ".applab-lessons-nav-next", "navigation-prev-el": ".applab-lessons-nav-prev", init: "false"}
    - block_item.each do |block_item|
      %swiper-slide
        .action-block.action-block--one-col.white.flex-space-between
          .content-wrapper
            %p.overline
              = block_item[:overline]
            %h3
              = block_item[:title]
            %img{src: block_item[:image], alt: "", style: "width: 100%"}
            %p
              = block_item[:desc]
          .content-footer
            %a.link-button{href: block_item[:url], aria:{label: "#{block_item[:aria_label]}"}}
              = block_item[:button_label]

  %button.swiper-nav-prev.applab-lessons-nav-prev
  %button.swiper-nav-next.applab-lessons-nav-next
