---
title: Take your class on a CS Adventure!
theme: responsive_full_width
social:
  "og:title": "Take your class on a CS Adventure!"
  "twitter:title": "Take your class on a CS Adventure!"
  "og:description": "Excite and inspire your students with virtual field trips and class chats with real professionals"
  "twitter:description": "Excite and inspire your students with virtual field trips and class chats with real professionals"
  "og:image": "/images/csjourneys/og-trips.png"
  "twitter:image:": "/images/csjourneys/og-trips.png"
  "og:image:width": 1200
  "og:image:height": 630
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}

%section#top.no-padding-bottom
  .wrapper
    %h1 Virtual field trips and career chats
    %a{href: "/csjourneys"}
      %img{alt: "CS Journeys", src: "/images/csjourneys/csjourneys.png", style: "width:170px; max-width:100%; margin-bottom: 12px"}
    %p Use these engagement opportunities to excite and inspire your students to keep learning CS! Click on each opportunity to view specific details around timing, grade-appropriateness, and more.
    %ul
      %li
        %a{href: "#trips"} Virtual field trips
      %li
        %a{href: "#chats"} Career chats

%section#trips
  .wrapper
    %h2 Virtual field trips
    = view :csjourneys_virtual_field_trips

= view :section_divider_line

%section#chats
  .wrapper
    %h2 My Journey Chats
    %p Check out a few of our past chats below, or to view all past events, <a  class="linktag" id="past chats" href="https://code.org/csjourneys/pastchats" target="_blank">click here</a>.</p>

    %a#recordings
    .flex-container.justify-space-between.gap-1.wrap{style: "margin-top: 2rem"}
      .col-32
        = view :myjourney14
        %h3.heading-sm Using computer science to keep people safe
        %p.body-three Hear from Richard Nelson, V, a mechanical engineer at Motorola Solutions who plays a crucial role in ensuring public safety.
      .col-32
        = view :myjourney5
        %h3.heading-sm Building robots
        %p.body-three Learn how Eva Moscat and Anna Elzer are helping build software for robots and designing learning experiences that inspire the next generation of technologists.
      .col-32
        = view :myjourney13
        %h3.heading-sm How to outsmart a malicious hacker
        %p.body-three Learn how Christopher Lopez, a security analyst with Tanium, helps organizations protect their networks from cybersecurity threats.
