%link{:href=>"/shared/css/warning-banner.css", :rel=>"stylesheet"}

.wrapper
  = view :unsupported_browser
  #desktop-header.desktop-feature
    = view :header
  #mobile-header.mobile-headers.mobile-feature
    = view :mobile_header_responsive


  -if header['responsivePadMobile']
    -containerClass = "container_responsive mobile-pad-edge"
  -else
    -containerClass = "container_responsive"


  - if header['state-facts']
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/state-facts.css'}

  %div{:class=>containerClass}

    -if header['nav']
      %div
        .col-80-right
          =body
        %div.left-nav.desktop-feature
          -if header['nav'].nil? || header['nav'] == 'blank'
            &nbsp;
          -else
            = view(header['nav'])
    -else
      =body

    #clearboth{:style=>"clear:both"}
    .desktop-feature
      %br/
      %br/
      %br/

  .push


.desktop-feature
  -if header['footer'] == 'donor_footer'
    = view :donor_slider
  = view :footer
.mobile-headers.mobile-feature
  -if header['footer'] == 'donor_footer'
    = view :donor_slider
  = view :mobile_footer_responsive
