.wrapper
  -unless header['theme'] == 'responsive_wide'
    = view :header

  -containerClass = "container_fullwidth"

  .containerClass

    -if header['theme'] == 'responsive_wide'
      =body

      #clearboth{:style=>"clear:both"}
      .desktop-feature

  .push

-if header['theme'] == 'responsive_wide'
  -if page_translated? && !partner_site?
    = view :mobile_footer_responsive
  -else
    .desktop-feature
      = view :footer
    .mobile-headers.mobile-feature
      = view :mobile_footer_responsive
-else
  = view :footer
