%h1 Listing artifacts

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @artifacts.each do |artifact|
      %tr
        %td= artifact.name
        %td= artifact.description
        %td= link_to 'Show', artifact
        %td= link_to 'Edit', edit_artifact_path(artifact)
        %td= link_to 'Destroy', artifact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Artifact', new_artifact_path
