-dont_cache
-not_authorized! unless dashboard_user
-forbidden! unless dashboard_user[:admin]

-pass unless table = DB[:forms].where(kind:'CspTable', secret:request.splat_path_info[1..-1]).first
-table_data = JSON.parse(table[:data])
-parent_id = table[:id]
-records = DB[:forms].where(kind:'CspRecord', parent_id:parent_id)
-jsonExample = '{"key1":"value1", "key2":2}'

:css
  button {
   margin-left: 5px;
  }
  .button-column {
    min-width: 200px;
  }
  td {
    padding: 0;
  }

%h2 Edit table

%h3 Table name
%span
  %input#table-name-input{value:"#{table_data['table_name_s']}"}
  %button#table-name-save
    Save

%h3 Records
%table
  %tr
    %td record id
    %td record data
    %td action
  -records.each do |record|
    -record_data = JSON.parse(record[:data])
    %tr
      %td
        #{record[:secret]}
      %td
        %textarea{id: "#{record[:secret]}-textarea", name:"record_data_s", value:"#{record_data['record_data_s']}", cols:"80", rows:"2"}= record_data['record_data_s']
      %td.button-column
        %button{id:"#{record[:secret]}-save"}
          Save
        %button{id:"#{record[:secret]}-delete"}
          Delete
  %tr
    %td (new)
    %td
      %textarea{id: "new-record-textarea", name:'record_data_s', cols:"80", rows:"2"}= jsonExample
    %td
      %button#new-record-add Add

:javascript
  function processResponse(data) {
    window.location.reload()
  }
  function processError(data) {
    window.alert(data.status + '\n' + data.responseJSON);
  }
  $('#table-name-save').click(
    function(e) {
      var tableName = document.getElementById('table-name-input').value;
      $.ajax({
        url: "/v2/forms/CspTable/#{table[:secret]}/update",
        type: "post",
        data: JSON.stringify({table_name_s: tableName}),
        processData: false,
        contentType: "application/json; charset=utf-8"
      }).done(processResponse).fail(processError);

    }
  );
  function saveRecordData(url, recordData) {
    try {
      JSON.parse(recordData); // make sure it parses
      $.ajax({
        url: url,
        type: "post",
        data: JSON.stringify({record_data_s: recordData}),
        processData: false,
        contentType: "application/json; charset=utf-8"
      }).done(processResponse).fail(processError);
    } catch (e) {
      window.alert(
          'Error parsing JSON:\n' +
          '\tinput: ' + recordData + '\n' +
          '\terror: "' + e.message + '"\n\n' +
          'example of valid JSON: \n\t#{jsonExample}');
    }
    return false;
  }

  $('#new-record-add').click(
    function(e) {
      var recordData = document.getElementById('new-record-textarea').value;
      var url = "/v2/forms/CspTable/#{parent_id}/children/CspRecord";
      saveRecordData(url, recordData);
    }
  );

-records.each do |record|
  -secret = record[:secret]
  :javascript
    $('##{record[:secret]}-save').click(function(e) {
      var url = "/v2/forms/CspRecord/#{secret}/update";
      var recordData = document.getElementById('#{secret}-textarea').value;
      return saveRecordData(url, recordData);
    });

    $('##{secret}-delete').click(function(e) {
      $.ajax({
        url: "/v2/forms/CspRecord/#{secret}/delete",
        type: "post"
      }).done(processResponse).fail(processError);
    });
