= f.label :name
= f.text_field :name
= f.label :learning_modules
= f.select :plc_learning_module_ids, options_for_select(options_for_plc_task_learning_modules, @task.plc_learning_modules.pluck(:id)), {}, {multiple: true, size: 5}
= f.label :type
= f.label @task.class.titleized_task_type
