---
theme: angular
angular: teacherDashboard
title: <%= I18n.t('dashboard_landing_title').inspect %>
---
- authentication_required!
- forbidden! unless dashboard_user[:user_type] == 'teacher'
- error_string_none_selected = I18n.t('dashboard_error_none_selected')
- error_string_other_section = I18n.t('dashboard_error_other_section')

%link(rel='stylesheet' type='text/css' href='/css/learn_tabs.css')
%link(rel='stylesheet' type='text/css' href='/style.css')
%link(rel='stylesheet' type='text/css' href='/css/page.css')
%link(rel='stylesheet' type='text/css' href='/shared/css/course-blocks.css')
%link(rel='stylesheet' type='text/css' href='/shared/css/teacher-dashboard.css')
%link(rel='stylesheet' type='text/css' href='/shared/css/user-progress.css')


%div{'ng-view' => ''}

:javascript
  'use strict';

  // Declare app level module which depends on filters, and services
  angular.module('teacherDashboard', [
    'ngRoute',
    'ngResource',
    'ngSanitize',
    'ngCsv',
    'teacherDashboard.controllers',
    'teacherDashboard.services',
    'teacherDashboard.directives',
    'teacherDashboard.filters'
  ]).

  // ROUTES

  config(['$routeProvider', function($routeProvider) {
    $routeProvider.when('/',
        {templateUrl: '/teacher-dashboard/landing'});
    $routeProvider.when('/plan',
        {templateUrl: '/teacher-dashboard/plan'});
    $routeProvider.when('/sections',
        {templateUrl: '/teacher-dashboard/sections', controller: 'SectionsController'});
    $routeProvider.when('/sections/:id',
        {templateUrl: '/teacher-dashboard/section', controller: 'SectionDetailController'});
    $routeProvider.when('/sections/:id/print_signin_cards',
        {templateUrl: '/teacher-dashboard/signin_cards', controller: 'SectionSigninCardsController', tab: 'print_signin_cards'});
    $routeProvider.when('/sections/:id/progress',
        {templateUrl: '/teacher-dashboard/section', controller: 'SectionProgressController', tab: 'progress'});
    $routeProvider.when('/sections/:id/responses',
        {templateUrl: '/teacher-dashboard/section', controller: 'SectionResponsesController', tab: 'responses'});
    $routeProvider.when('/sections/:id/assessments',
        {templateUrl: '/teacher-dashboard/section', controller: 'SectionAssessmentsController', tab: 'assessments'});
    $routeProvider.when('/sections/:id/:tab',
        {templateUrl: '/teacher-dashboard/section', controller: 'SectionDetailController'});
    $routeProvider.when('/sections/:sectionid/student/:studentid',
        {templateUrl: '/teacher-dashboard/student', controller: 'StudentDetailController'});
    $routeProvider.when('/sections/:sectionid/student/:studentid/course/',
        {templateUrl: '/teacher-dashboard/student', controller: 'StudentDetailController'});
    $routeProvider.when('/sections/:sectionid/student/:studentid/course/:courseid',
        {templateUrl: '/teacher-dashboard/student', controller: 'StudentDetailController'});
    $routeProvider.otherwise({redirectTo: '/'});
  }]);

  // DIRECTIVES
  var directives = angular.module('teacherDashboard.directives', []).
    value('version', '0.1');

  directives.directive('teacherNav', ['$location', '$routeParams', function($location, $routeParams) {
    return {
      templateUrl: 'teacher-dashboard/nav',
      controller: function($scope) {
        var selectedSection = $scope.selectedSection = $scope.section || null;

        $scope.sectionNavigate = function(section) {
          if (section && section.id) {
            $location.path('/sections/' + section.id)
          } else {
            $location.path('/sections')
          }
        };
      }
    };
  }]);

  // FILTERS
  var filters = angular.module('teacherDashboard.filters', []).
    value('version', '0.1');

  filters.filter('htmlSafe', function($sce) {
    return function(val) {
        return $sce.trustAsHtml(val);
    };
  });

  // SERVICES

  var services = angular.module('teacherDashboard.services', []).
    value('version', '0.1');

  // Section service. see sites.v3/code.org/routes/v2_section_routes.rb
  services.factory('sectionsService', ['$resource',
    function($resource){
      return $resource('/v2/sections/:id', {}, {
      // default methods: see https://code.angularjs.org/1.2.21/docs/api/ngResource/service/$resource
      //  'get':    {method:'GET'},
      //  'save':   {method:'POST'},
      //  'query':  {method:'GET', isArray:true},
      //  'remove': {method:'DELETE'},
      //  'delete': {method:'DELETE'}
         update: {method:'POST', url: 'v2/sections/:id/update'},
         allStudents: {method:'GET', url:'v2/sections/:id/students', isArray: true},
         addStudents: {method:'POST', url:'/v2/sections/:id/students', isArray: true},
         moveStudents: {method:'POST', url:'/dashboardapi/sections/transfers'},
         removeStudent: {method:'DELETE', url:'/v2/sections/:id/students/:studentId'},
         progress: {method:'GET', url:'/dashboardapi/section_progress/:id'},
         studentProgress: {method:'GET', url:'/dashboardapi/student_progress/:id/:studentId'},
         responses: {method:'GET', url:'/dashboardapi/section_text_responses/:id', isArray: true},
         assessments: {method:'GET', url:'/dashboardapi/section_assessments/:id', isArray: true},
      });
    }]).config(['$httpProvider', function($httpProvider) {
      // X-Requested-With header required for CSRF requests protected by Rack::Protection::JsonCsrf included by Sinatra.
      // Angular originally set this, but removed it in a breaking change in v1.4 because it is "rarely used in practice":
      // https://github.com/angular/angular.js/commit/3a75b1124d062f64093a90b26630938558909e8d
      $httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';
    }]);

  services.factory('studentsService', ['$resource',
    function($resource){
      return $resource('/v2/students/:id', {}, {
      // default methods: see https://code.angularjs.org/1.2.21/docs/api/ngResource/service/$resource
      //  'get':    {method:'GET'},
      //  'save':   {method:'POST'},
      //  'query':  {method:'GET', isArray:true},
      //  'remove': {method:'DELETE'},
      //  'delete': {method:'DELETE'}
         update: {method:'POST', url: 'v2/students/:id/update'},
      });
    }]);

  // CONTROLLERS

  var app = angular.module('teacherDashboard.controllers', []);

  app.controller('SectionsController', ['$scope', '$window', 'sectionsService',
                                       function($scope, $window, sectionsService){
    $scope.sectionsLoaded = false;

    $scope.course_list = #{DashboardSection::valid_courses(request.user_id).to_json};

    $scope.sections = sectionsService.query();

    $scope.sections.$promise.then(function( sections ){
      $scope.sectionsLoaded = true;
    });

    $scope.moving_students = {editing: true};

    $scope.edit = function(section) {
      section.editing = true;
    };

    $scope.genericError = function(result) {
      $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.");
    };

    $scope.save = function(section) {
      if (section.id) { // update existing
        sectionsService.update({id: section.id}, section).$promise.then(
          function(result_section) {
            $scope.sections[$scope.sections.indexOf(section)] = result_section;
          }
        ).catch($scope.genericError);
      } else { // save new
        sectionsService.save(section).$promise.then(
          function(result_section) {
            $scope.sections[$scope.sections.indexOf(section)] = result_section;
          }
        ).catch($scope.genericError);
      }
    };

    $scope.confirm_delete = function(section) {
      section.confirmDelete = true;
    };

    $scope.del = function(section) {
      sectionsService.remove(section).$promise.then(
        function() {
          $scope.sections.splice($scope.sections.indexOf(section), 1); // remove from array
          section.confirmDelete = false;
        }
      ).catch(
        function() { $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.") }
      );
    };

    $scope.cancel = function(section) {
      if (section.id) {
        section.editing = false;
      } else {
        $scope.sections.splice($scope.sections.indexOf(section), 1); // remove from array
      }
    };

    $scope.new_section = function() {
      $scope.sections.unshift({editing: true, login_type: 'word'});
    };
  }]);

  app.controller('StudentDetailController', ['$scope', '$routeParams', 'sectionsService',
                                             function($scope, $routeParams, sectionsService) {
    $scope.section = sectionsService.get({id: $routeParams.sectionid});

    $scope.course_id = parseInt($routeParams.courseid);
    $scope.course_list = #{DashboardSection::valid_courses(request.user_id).to_json};

    $scope.progress = sectionsService.studentProgress({id: $routeParams.sectionid, studentId: $routeParams.studentid});

    $scope.changeProgress = function() {
      $scope.progress = sectionsService.studentProgress({id: $routeParams.sectionid, studentId: $routeParams.studentid, script_id: $scope.course_id});
    };
  }]);

  app.controller('SectionDetailController', ['$scope', '$routeParams', '$window', '$q', '$location', 'sectionsService', 'studentsService',
                                             function($scope, $routeParams, $window, $q, $location, sectionsService, studentsService) {


    $scope.section = sectionsService.get({id: $routeParams.id});
    $scope.sections = sectionsService.query();

    // error handling
    $scope.genericError = function(result) {
      $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.");
    };
    $scope.section.$promise.catch($scope.genericError);
    $scope.sections.$promise.catch($scope.genericError);

    $scope.tab = $routeParams.tab;

    $scope.section.$promise.then(
      function( section ){
        if (!$scope.tab) {
          if ($scope.section.students.length > 0) {
            $location.path('/sections/' + $routeParams.id + '/progress');
          } else {
            $location.path('/sections/' + $routeParams.id + '/manage');
          }
        }
      }
    );


    // the ng-select in the nav compares by reference not by value, so we can't just set
    // selectedSection to section, we have to find it in sections.
    $scope.sections.$promise.then(
      function( sections ){
        $scope.selectedSection = $.grep(sections, function(section) { return (section.id == $routeParams.id);})[0];
      }
    );

    $scope.age_list = #{((4..20).to_a << '21+').inspect};

    $scope.gender_list = {f: '#{I18n.t('dashboard_students_female')}', m: '#{I18n.t('dashboard_students_male')}'};

    $scope.bulk_import = {editing: false, students: ''};

    $scope.edit = function(student) {
      student.editing = true;
    };

    $scope.resetSecrets = function(student) {
      var newStudent = studentsService.update({id: student.id}, {secrets: 'reset'});
      newStudent.$promise.then(
        function(student) {
          student.showing_password = true;
        }
      );

      newStudent.$promise.catch($scope.genericError);
      $scope.section.students[$scope.section.students.indexOf(student)] = newStudent;
    };

    $scope.save = function(students) {
      if (!$.isArray(students)) {
        return $scope.save([students]); // heh
      }

      var newStudents = [];
      var modifiedStudents = [];

      $.each(students, function(index, student) {
        if (student.editing || student.editing_password) {
          if (student.id) {
            modifiedStudents.push(student);
          } else {
            newStudents.push(student);
          }
        }
      });

      // create new students
      if (newStudents && newStudents.length > 0) {
        // remove 'new' students from array
        $.each(newStudents, function(index, student) {
          $scope.section.students.splice($scope.section.students.indexOf(student), 1);
        });

        // add the results from the service to the array
        sectionsService.addStudents({id: $scope.section.id}, newStudents, function(resultStudents) {
          $.each(resultStudents, function(index, student) {
            $scope.section.students.unshift(student);
          });
        }).$promise.catch($scope.genericError);
      }

      // update existing students
      $.each(modifiedStudents, function(index, student) {
        studentsService.update({id: student.id}, student).$promise.then(
          function(result_student) {
            result_student.editing = false;
            $scope.section.students[$scope.section.students.indexOf(student)] = result_student;
          }
        ).catch($scope.genericError);
      });
   };

   $scope.confirm_delete = function(student) {
     student.confirmDelete = true;
   };

    $scope.del = function(student) { // note -- IE doesn't like it when you name things 'delete'
      sectionsService.removeStudent({id: $scope.section.id, studentId: student.id}).$promise.then(
        function() {
          $scope.section.students.splice($scope.section.students.indexOf(student), 1); // remove from array
        }
      ).catch($scope.genericError);
    };

    $scope.cancel = function(student) {
      if (student.id) {
        student.editing = false;
      } else {
        $scope.section.students.splice($scope.section.students.indexOf(student), 1); // remove from array
      }
    };

    $scope.new_student = function() {
      $scope.section.students.unshift({editing: true});
    };

    $scope.showMoveStudentsModal = function() {
      $('#move-students').modal('show');
    }

    $scope.clear_bulk_import = function() {
      $scope.bulk_import.editing = false;
      $scope.bulk_import.students = '';
    };

    $scope.add_bulk_import = function() {
      var student_names = $scope.bulk_import.students.split("\n");
      for (var i = 0; i < student_names.length; i++) {
        var student_name = student_names[i];
        student_name = student_name.trim();
        if (student_name.length > 0) {
          $scope.section.students.unshift({editing: true, name: student_name});
        }
      }
      $scope.clear_bulk_import();
    };

    $scope.editingAny = function(things) {
      if (!things) {
        return false;
      }
      for (var i = 0; i < things.length; i++) {
        if (things[i].editing) {
          return true;
        }
      }
      return false;
    }

    $scope.editingAll = function(things) {
      if (!things) {
        return false;
      }
      for (var i = 0; i < things.length; i++) {
        if (!things[i].editing) {
          return false;
        }
      }
      return true;
    }

    $scope.print = function() {
      $window.print();
    };

  }]);

  app.controller('MovingStudentsController', ['$route', '$scope', '$routeParams', '$q', '$window', '$http', 'sectionsService', function($route, $scope, $routeParams, $q, $window, $http, sectionsService) {
    var self = this;

    // 'Other Section' selected
    $scope.otherSection = 'Other Section';
    $scope.stayEnrolledInCurrentSection = 'true';

    // Query
    $scope.currentSection = sectionsService.get({id: $routeParams.id});
    $scope.sections = sectionsService.query();
    $scope.students = sectionsService.allStudents({id: $routeParams.id});

    $scope.moveStudents = function() {
      function isOwnSection(sectionCode) {
        return $scope.sections.map(function(section) {return section.code}).includes(sectionCode);
      }

      function displayError(errorMessage) {
        $('.move-students-error').text(errorMessage);
      }

      var params = {};
      params['new_section_code'] = $scope.getNewSectionCode();
      params['current_section_code'] = $scope.getCurrentSectionCode();
      params['student_ids'] = $scope.getSelectedStudentIds().join(',');
      params['stay_enrolled_in_current_section'] = $scope.getStayEnrolledInCurrentSection();

      if (!params['student_ids']) {
        displayError("#{error_string_none_selected}");
      } else if (isOwnSection($scope.manuallySelectedSectionCode)) {
        displayError("#{error_string_other_section}");
      } else {
        sectionsService.moveStudents(params, {}).$promise.then(
          function success(response) {
            $('#move-students').modal('hide');
            $route.reload();
          },
          function error(response) {
            $('.move-students-error').text(response.data["error"]);
          });
      }
    };

    $scope.showModal = function() {
      $q.all([$scope.currentSection.$promise, $scope.students.$promise]).then(function() {
        $('#move-students').modal('show');
      })
    };

    $scope.checkAll = function() {
      $scope.selectedAll = !$scope.selectedAll;
      angular.forEach($scope.students, function(student) {
        student.selected = $scope.selectedAll;
      });
    };

    $scope.getCurrentSectionCode = function() {
      return $scope.section.code;
    };

    $scope.getSelectedStudentIds = function() {
      var student_ids = [];
      angular.forEach($scope.students, function(student) {
        if (student.selected) {
          student_ids.push(student.id);
        }
      });

      return student_ids;
    };

    $scope.getNewSectionCode = function() {
      if ($scope.selectedSectionCode !== $scope.otherSection) {
        return $scope.selectedSectionCode;
      } else {
        return $scope.manuallySelectedSectionCode;
      }
    };

    $scope.getStayEnrolledInCurrentSection = function() {
      if ($scope.selectedSectionCode == $scope.manuallySelectedSectionCode) {
        return $scope.stayEnrolledInCurrentSection;
      } else {
        return false;
      }
    };
  }]);

  app.controller('SectionSigninCardsController', ['$scope', '$routeParams', '$window', '$q', 'sectionsService',
                                             function($scope, $routeParams, $window, $q, sectionsService) {

    $scope.section = sectionsService.get({id: $routeParams.id});
    $scope.sections = sectionsService.query();

    // error handling
    $scope.genericError = function(result) {
      $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.");
    };
    $scope.section.$promise.catch($scope.genericError);
    $scope.sections.$promise.catch($scope.genericError);

    // the ng-select in the nav compares by reference not by value, so we can't just set
    // selectedSection to section, we have to find it in sections.
    $scope.sections.$promise.then(
      function( sections ){
        $scope.selectedSection = $.grep(sections, function(section) { return (section.id == $routeParams.id);})[0];
      }
    );

    $scope.print = function() {
      $window.print();
    };

  }]);

  app.controller('SectionProgressController', ['$scope', '$routeParams', '$window', '$q', '$timeout', '$interval', 'sectionsService', 'studentsService',
                                             function($scope, $routeParams, $window, $q, $timeout, $interval, sectionsService, studentsService) {


    $scope.section = sectionsService.get({id: $routeParams.id});
    $scope.sections = sectionsService.query();
    $scope.progress = sectionsService.progress({id: $routeParams.id});
    $scope.tab = 'progress';
    $scope.page = {zoom: false};

    // error handling
    $scope.genericError = function(result) {
      $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.");
    };
    $scope.section.$promise.catch($scope.genericError);
    $scope.sections.$promise.catch($scope.genericError);
    $scope.progress.$promise.catch($scope.genericError);

    // the ng-select in the nav compares by reference not by value, so we can't just set
    // selectedSection to section, we have to find it in sections.
    $scope.sections.$promise.then(
      function( sections ){
        $scope.selectedSection = $.grep(sections, function(section) { return (section.id == $routeParams.id);})[0];
      }
    );

    $scope.progressLoadedFirst = false;
    $scope.progressLoaded = false;

    $scope.course_list = #{DashboardSection::valid_courses(request.user_id).to_json};

    // wait until we have both the students and the student progress
    $q.all([$scope.progress.$promise, $scope.section.$promise]).then(function(){
      $scope.mergeProgress();
      $scope.progressLoadedFirst = true;
      $scope.progressLoaded = true;
    });

    $scope.changeProgress = function(scriptId) {
      $scope.progressLoadedFirst = false;
      // $scope.progressLoaded = false;

      // TODO: The hide/show behavior that uses progressLoaded is
      // broken on Chrome 45. I am not sure why, but the hide/show
      // behavior that uses progressLoadedFirst works fine, so switching
      // to using that is a good rough fix. This changes the behavior so
      // that the entire table disappears and reappears instead of just
      // the progress bar when using the course dropdown.

      $scope.progress = sectionsService.progress({id: $routeParams.id, script_id: scriptId});

      $scope.progress.$promise.then(function(){
        $scope.mergeProgress();
        $scope.progressLoadedFirst = true;
        $scope.progressLoaded = true;
      });
    };

    $scope.progressWidth = function() {
      return $scope.page.zoom ? Math.max(34 * $scope.progress.script.levels_count, 770) : 770;
    }

    // refresh progress every 30s
    // TODO: 'update' progress instead of replacing it
    //$interval(function() {
    //  if (!$scope.progressLoaded) { return; } // don't refresh if loading
    //   $scope.progressLoaded = false;
    //   if ($scope.scriptId) {
    //     $scope.progress = sectionsService.progress({id: $routeParams.id, script_id: $scope.scriptId});
    //   } else {
    //     $scope.progress = sectionsService.progress({id: $routeParams.id});
    //   }
    //   $q.all([$scope.progress.$promise, $scope.section.$promise]).then(function(data){
    //     $scope.mergeProgress();
    //     $scope.progressLoaded = true;
    //   });
    // }, 30 * 1000);

    $scope.scrollToStage = function($event){
      var doScroll = function() {
        var element = $( $event.currentTarget );
        var wrapper = $('.table-wrapper');
        var LEFT_COLUMN_WIDTH = 200; // scrolling the entire table not just this col, so we have to know about the left col width
        var LEFT_OFFSET = 20; // a little offset so we can see the previous stage
        wrapper.animate({scrollLeft: (element.position().left - wrapper.position().left + wrapper.scrollLeft() - LEFT_COLUMN_WIDTH - LEFT_OFFSET)}, 500);
      }

      if ($scope.page.zoom) {
        doScroll();
      } else {
        // if we weren't already zoomed we need to zoom and then wait for the zoom to finish
        $scope.page.zoom = true;
        $timeout(doScroll, 500);
      }
    };

    // merge the data returned by progress api into the data returned by the section students api
    $scope.mergeProgress = function() {
      $scope.course_id = $scope.progress.script.id;
      // calculate width of each level in the progress bar assuming the overall width is 780 px

      // Takes the level's position in the script, and returns its level number in its stage
      var getLevelNumberInStage = function(overallLevel) {
        for (var i = 0; i < $scope.progress.script.stages.length; i++) {
          var stage = $scope.progress.script.stages[i];
          if (overallLevel < stage.length)
            return overallLevel + 1;
          else
            overallLevel -= stage.length;
        }
        return 0;
      }

      // Put levels on the student object
      for (var i = 0; i < $scope.section.students.length; i++) {
        var student = $scope.section.students[i];

        // default is no progress
        student.levels = [];
        student.highest_level = -1; // not started yet
        student.highest_level_in_stage = 0;

        // if we have progress
        var progress_student = $.grep($scope.progress.students, function(e){ return e.id == student.id; })[0];
        if (progress_student) {
          student.levels = progress_student.levels;

          // find the last level attempted
          for (var l = student.levels.length - 1; l >= 0; l--) {
            if (student.levels[l] && student.levels[l].class != 'not_tried') {
              var delayedSetHighestLevel = function(student, l) {
                student.highest_level = l;
                student.highest_level_in_stage = getLevelNumberInStage(l);
              };
              $timeout(delayedSetHighestLevel.bind(this, student, l), 500); // add a delay so we get animation
              break;
            }
          }
        }
      }
    }
  }]);

  app.controller('SectionResponsesController', ['$scope', '$routeParams', '$window', '$q', '$timeout', '$interval', '$sanitize', 'sectionsService', 'studentsService',
                                             function($scope, $routeParams, $window, $q, $timeout, $interval, $sanitize, sectionsService, studentsService) {
    $scope.section = sectionsService.get({id: $routeParams.id});
    $scope.sections = sectionsService.query();
    $scope.tab = 'responses';

    $scope.responses = sectionsService.responses({id: $routeParams.id});
    // error handling
    $scope.genericError = function(result) {
      $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.");
    };
    $scope.section.$promise.catch($scope.genericError);
    $scope.sections.$promise.catch($scope.genericError);
    $scope.responses.$promise.catch($scope.genericError);

    // fill in the course dropdown with the section's default course
    $scope.section.$promise.then(
      function(section) {
        $scope.course_id = section.course.id;
      }
    );

    // the ng-select in the nav compares by reference not by value, so we can't just set
    // selectedSection to section, we have to find it in sections.
    $scope.sections.$promise.then(
      function( sections ){
        $scope.selectedSection = $.grep(sections, function(section) { return (section.id == $routeParams.id);})[0];
      }
    );

    $scope.responsesLoaded = false;
    $scope.stages = [];

    $scope.course_list = #{DashboardSection::valid_courses(request.user_id).to_json};

    // wait until we have both the students and the student progress
    $q.all([$scope.section.$promise, $scope.responses.$promise]).then(function(){
      $scope.responsesLoaded = true;
      $scope.findStages();
    });

    $scope.changeScript = function(scriptId) {
      $scope.responsesLoaded = false;
      $scope.stages = [];

      $scope.responses = sectionsService.responses({id: $routeParams.id, script_id: scriptId});

      $scope.responses.$promise.then(function(){
        $scope.responsesLoaded = true;
        $scope.findStages();
      });
    };

    $scope.findStages = function() {
      $scope.stages = $.map($scope.responses, function(row) {
        return row.stage;
      }).filter(function(item, i, array) { // uniquify
        return array.indexOf(item) == i;
      });
    }
  }]);


  app.controller('SectionAssessmentsController', ['$scope', '$routeParams', '$window', '$q', '$timeout', '$interval', '$sanitize', 'sectionsService', 'studentsService',
                                             function($scope, $routeParams, $window, $q, $timeout, $interval, $sanitize, sectionsService, studentsService) {
    $scope.section = sectionsService.get({id: $routeParams.id});
    $scope.sections = sectionsService.query();
    $scope.tab = 'assessments';

    $scope.assessments = sectionsService.assessments({id: $routeParams.id});
    // error handling
    $scope.genericError = function(result) {
      $window.alert("An unexpected error occurred, please try again. If this keeps happening, try reloading the page.");
    };
    $scope.section.$promise.catch($scope.genericError);
    $scope.sections.$promise.catch($scope.genericError);
    $scope.assessments.$promise.catch($scope.genericError);

    // fill in the course dropdown with the section's default course
    $scope.section.$promise.then(
      function(section) {
        $scope.course_id = section.course.id;
      }
    );

    // the ng-select in the nav compares by reference not by value, so we can't just set
    // selectedSection to section, we have to find it in sections.
    $scope.sections.$promise.then(
      function( sections ){
        $scope.selectedSection = $.grep(sections, function(section) { return (section.id == $routeParams.id);})[0];
      }
    );

    $scope.assessmentsLoaded = false;
    $scope.stages = [];

    $scope.course_list = #{DashboardSection::valid_courses(request.user_id).to_json};

    $scope.correctness_list = {
      free_response: '#{I18n.t('dashboard_correctness_free_response')}',
      unsubmitted:   '#{I18n.t('dashboard_correctness_unsubmitted')}',
      correct:       '#{I18n.t('dashboard_correctness_correct')}',
      incorrect:     '#{I18n.t('dashboard_correctness_incorrect')}'
    };

    $scope.submission_list = {
      submitted:   '#{I18n.t('dashboard_submission_submitted')}',
      in_progress: '#{I18n.t('dashboard_submission_in_progress')}',
    };

    // wait until we have both the students and the student progress
    $q.all([$scope.section.$promise, $scope.assessments.$promise]).then(function(){
      $scope.assessmentsLoaded = true;
      $scope.findStages();
    });

    $scope.changeScript = function(scriptId) {
      $scope.assessmentsLoaded = false;
      $scope.stages = [];

      $scope.assessments = sectionsService.assessments({id: $routeParams.id, script_id: scriptId});

      $scope.levels = [];

      $scope.assessments.$promise.then(function(){
        $scope.assessmentsLoaded = true;
        $scope.findStages();

        $.each($scope.assessments, function(index, assessment) {

          if (assessment.multi_count === 0) {
            assessment.multi_correct_percent = 0;
          } else {
            assessment.multi_correct_percent = assessment.multi_correct / assessment.multi_count * 100;
          }
          assessment.status = assessment.submitted ? "submitted" : "in_progress";

          // Don't show a timestamp for non-submittted assessments.
          if (!assessment.submitted) {
            assessment.timestamp = null;
          }

          // Each LevelGroup's result has a list of the results for the levels in that order.
          // Because angular's nested iterators are kind of funky when trying to generate a table,
          // let's just generate a flat list of the level results to go into $scope.
          $.each(assessment.level_results, function(index, level_result) {
            var levelResult = {
              stage: assessment.stage,
              puzzle: assessment.puzzle,
              question: index + 1,
              student: assessment.student,
              studentResult: level_result.student_result,
              correct: level_result.correct
            };
            $scope.levels.push(levelResult);
          });
        });
      });
    };

    $scope.findStages = function() {
      $scope.stages = $.map($scope.assessments, function(row) {
        return row.stage;
      }).filter(function(item, i, array) { // uniquify
        return array.indexOf(item) == i;
      });
    }
  }]);
