---
layout: none
theme: none
---
 
%div{"ng-controller" => "LandingController"}

  %div{style: "float:left; width:60%"}
    %h1{style: "margin-bottom:10px"}= I18n.t('dashboard_landing_title')

    %p
      = I18n.t('dashboard_landing_welcome')
      %a{href: "/dashboard-update", target: "_blank"}= I18n.t('dashboard_landing_video')
      = I18n.t('dashboard_landing_watch_video')
    %br/

  %div{style: "float:right; width:40%; margin-top:50px; text-align:right"}
    %a{href: "http://#{canonical_hostname('studio.code.org')}", target: "_blank"}
      %button.btn.btn-info= I18n.t('dashboard_landing_view_as_student')

  %div{style: "clear:both"}

  = view :teacher_notices

  .biggestClassProgress{"ng-show" => "sectionProgressUrl"}
    %h2= I18n.t('dashboard_landing_progress_title')
    %p= I18n.t('dashboard_landing_progress_biggest')
    %div{"ng-include"=>"", src: "sectionProgressUrl", onload: "init_progress()"}
    %a{"ng-href" => "#/sections/{{biggestSection.id}}"}
      %button.btn.btn-info= I18n.t('dashboard_landing_view_progress', biggest_section: '{{biggestSection.name}}')

  .courses
    %h2= I18n.t('dashboard_landing_available_title')
    %p= I18n.t('dashboard_landing_available_courses')
    %br/
    %div{"ng-include"=>"", src: "'/dashboardapi/courses/'"}

  -#.debug
    %h2 DEBUG
    %pre
      {{student | json}}
