---
layout: none
theme: none
---
 
%div{"ng-controller" => "LandingController"}

  %div{style: "float:left; width:100%"}
    %h1{style: "margin-bottom:10px"}= I18n.t('dashboard_landing_title')

    %p
      = I18n.t('dashboard_landing_welcome')
      %a{href: "/dashboard-update", target: "_blank"}= I18n.t('dashboard_landing_video')
      = I18n.t('dashboard_landing_watch_video')
    %br/

%div.tile
  = view :light_tile, url:"http://studio.code.org", target:"", img_src:"/images/logo_tall_hoc.jpg", title:"Your Course Progress", text:""
%div.tile
  = view :light_tile, url:"/teacher-dashboard#/plan", img_src:"/images/logo_graph_paper.png", target:"", title:"Lesson Plans and Resources", text:""
%div.tile{:style=>"margin-right: 0px"}
  = view :light_tile, url:"/teacher-dashboard#/sections", target:"", img_src:"/images/dashboard_teacher_progress.png", title:"Student Accounts and Progress", text:""
%div.tile{:style=>"margin-top: 26px;"}
  = view :light_tile, url:"teacher-dashboard#/tips", target:"", img_src:"/images/logo_tall_elementary.jpg", title:"Teaching Tips", text:""
%div.tile{:style=>"margin-top: 26px"}
  = view :light_tile, url:"/professional-development-workshops", target:"_blank", img_src:"/images/logo_us_map.png", title:"PD Workshops", text:""
%div.tile{:style=>"margin-top: 26px; margin-right: 0px"}
  = view :light_tile, url:"http://support.code.org/hc/communities/public/topics", target:"_blank", img_src:"/images/logo_community.jpg", title:"Community", text:""

  -#.debug
    %h2 DEBUG
    %pre
      {{student | json}}
