---
layout: none
theme: none
content-type: text/ng-template
---

.teacher-announcements
  = view :teacher_announcements

.ops-workshops
  -if dashboard_user[:admin]
    %h1
      Ops Dashboard
    %a{href:'/ops-dashboard#/districts'}
      %h3
        Manage Districts
  -if dashboard_user[:admin] || have_permission?('facilitator')
    -if !dashboard_user[:admin]
      %h1
        Facilitator Dashboard
    %a{href:'/ops-dashboard#/workshops'}
      %h3
        Manage PD Workshops
  -elsif have_permission?('district_contact')
    %h1
      District Dashboard
    %a{href:'/ops-dashboard#/workshops'}
      %h3
        View PD Workshops
  -if dashboard_user[:admin] || have_permission?('district_contact')
    %a{href:'/ops-dashboard#/teacher-cohorts'}
      %h3
        Manage Teacher Cohorts
  -if dashboard_user[:admin] || have_permission?('create_professional_development_workshop')
    %h1
      Affiliate Dashboard
    %a{href:'/manage-professional-development-workshops'}
      %h3
        Manage Workshops
    %a{href:'/professional-development-workshops'}
      %h3
        View Workshop Map
    %a{href:'https://docs.google.com/a/code.org/document/d/1lHBthPKdKx3G-khyWYhVYQlfdi9Sa1L9EcOxEa-Xt14/edit'}
      %h3
        View Affiliate Playbook

%div
  %div{style: "float:left; width:100%"}
    %h1{style: "margin-bottom:20px"}= I18n.t('dashboard_landing_title')


%div.tile
  = view :light_tile, url:"/teacher-dashboard#/sections", target:"", img_src:"/images/fit-606/logo_student_accounts_progress.jpg", title: I18n.t('dashboard_navigation_section_student_progress'), text:""
%div.tile
  = view :light_tile, url: CDO.studio_url, target:"", img_src:"/images/fit-606/logo_your_course_progress.jpg", title: I18n.t('dashboard_navigation_section_teacher_progress'), text:""
%div.tile{:style=>"margin-right: 0px"}
  = view :light_tile, url:"/teacher-dashboard#/plan", img_src:"/images/fit-606/logo_lesson_plans_resources.jpg", target:"", title: I18n.t('dashboard_navigation_section_lesson_plans'), text:""

%div.tile{:style=>"margin-top: 26px;"}
  = view :light_tile, url:"http://support.code.org/hc/communities/public/topics", target:"_blank", img_src:"/images/fit-606/logo_community.jpg", title: I18n.t('dashboard_navigation_section_community'), text:""
%div.tile{:style=>"margin-top: 26px"}
  = view :light_tile, url:"/professional-development-workshops", target:"_blank", img_src:"/images/fit-606/logo_us_map.jpg", title: I18n.t('dashboard_navigation_section_pd'), text:""
%div.tile{:style=>"margin-top: 26px; margin-right: 0px"}
  = view :light_tile, url:"/volunteer/local", target:"_blank", img_src:"/images/fit-606/logo_skype_classroom.jpg", title: I18n.t('dashboard_navigation_section_speakers'), text:""

%div{style: "clear:both; margin-top: 20px"}

  .biggestClassProgress{"ng-show" => "sectionProgressUrl"}
    %h2= I18n.t('dashboard_landing_progress_title')
    %p= I18n.t('dashboard_landing_progress_biggest')
    %div{"ng-include"=>"", src: "sectionProgressUrl", onload: "init_progress()"}
    %a{"ng-href" => "#/sections/{{biggestSection.id}}"}
      %button.btn.btn-info= I18n.t('dashboard_landing_view_progress', biggest_section: '{{biggestSection.name}}')

  .courses
    .coursesheader
      %h1{style: 'margin-bottom: 0px'}= I18n.t('dashboard_landing_available_title')
      %h2= I18n.t('dashboard_hoc_courses')
      = I18n.t('dashboard_hoc_courses_desc_and_cta')
    %br/
    %div{"ng-include"=>"", src: "'/dashboardapi/hoc_courses/'"}
    .coursesheader
      %h2= I18n.t('dashboard_k5_courses')
      = I18n.t('dashboard_k5_courses_desc')
    %br/
    %div{"ng-include"=>"", src: "'/dashboardapi/k5_courses/'"}
    .coursesheader
      %h2= I18n.t('dashboard_middle_courses')
      = I18n.t('dashboard_middle_courses_desc')
    %br/
    .col50
      %h3= I18n.t('dashboard_course_csina')
      .largeblock
        %img{src: CDO.shared_image_url("courses/logo_algebra.png")}
      = I18n.t('dashboard_course_csina_desc')
      %p
      %a{:href=>'/curriculum/algebra'}
        %button= I18n.t('learn_more')
    .col50
      %h3= I18n.t('dashboard_course_csins')
      .largeblock
        %img{src: CDO.shared_image_url("courses/logo_science.png")}
      = I18n.t('dashboard_course_csins_desc')
      %p
      %a{:href=>'/curriculum/science'}
        %button= I18n.t('learn_more')
    .clear
    %br/
    .coursesheader
      %h2= I18n.t('dashboard_high_courses')
      = I18n.t('dashboard_high_courses_desc')
    .col50
      %h3= I18n.t('dashboard_course_ecs')
      .largeblock
        %img{src: CDO.shared_image_url("courses/logo_ecs.png")}
      = I18n.t('dashboard_course_ecs_desc')
      %p
      %a{:href=>'http://www.exploringcs.org'}
        %button= I18n.t('learn_more')
    .col50
      %h3= I18n.t('dashboard_course_csp')
      .largeblock
        %img{src: CDO.shared_image_url("courses/logo_csp.png")}
      = I18n.t('dashboard_course_csp_desc')
      %p
      %a{:href=>'/educate/csp'}
        %button= I18n.t('learn_more')
    .clear
    %br/
    %hr
    %h4= I18n.t('dashboard_landing_more_tutorials')
    = I18n.t('dashboard_landing_more_tutorials_desc')
    %br/

  -#
    .debug
      %h2 DEBUG
      %pre
        {{student | json}}

:css
  .tile {
    margin-right: 26px;
    display: inline-block;
    width: 31.2%;
  }
  .col50 {
    width: 40%;
    float: left;
    margin: 0px 45px;
    text-align: center;
  }
  .title {
    height: 64px;
  }
