---
layout: none
theme: none
---
 
%div{"ng-controller" => "LandingController"}

  %div{style: "float:left; width:100%"}
    %h1{style: "margin-bottom:10px"}= I18n.t('dashboard_landing_title')

    %p
      = I18n.t('dashboard_landing_welcome')
      %a{href: "/dashboard-update", target: "_blank"}= I18n.t('dashboard_landing_video')
      = I18n.t('dashboard_landing_watch_video')
    %br/

%div.tile
  = view :light_tile, url:"/teacher-dashboard#/sections", target:"", img_src:"/images/dashboard_teacher_progress.png", title:"Student Accounts & Progress", text:""
%div.tile
  = view :light_tile, url:"http://studio.code.org", target:"", img_src:"/images/logo_tall_hoc.jpg", title:"Your Course Progress", text:""
%div.tile{:style=>"margin-right: 0px"}
  = view :light_tile, url:"/teacher-dashboard#/plan", img_src:"/images/logo_graph_paper.png", target:"", title:"Lesson Plans & Resources", text:""

%div.tile{:style=>"margin-top: 26px;"}
  = view :light_tile, url:"http://support.code.org/hc/communities/public/topics", target:"_blank", img_src:"/images/logo_community.jpg", title:"Help & Community", text:""
%div.tile{:style=>"margin-top: 26px"}
  = view :light_tile, url:"/professional-development-workshops", target:"_blank", img_src:"/images/logo_us_map.png", title:"PD Workshops", text:""
%div.tile{:style=>"margin-top: 26px; margin-right: 0px"}
  = view :light_tile, url:"https://education.skype.com/computerscience", target:"_blank", img_src:"/images/logo_skype_classroom.jpg", title:"Skype in the Classroom", text:""


%div{style: "clear:both; margin-top: 20px"}

  .biggestClassProgress{"ng-show" => "sectionProgressUrl"}
    %h2= I18n.t('dashboard_landing_progress_title')
    %p= I18n.t('dashboard_landing_progress_biggest')
    %div{"ng-include"=>"", src: "sectionProgressUrl", onload: "init_progress()"}
    %a{"ng-href" => "#/sections/{{biggestSection.id}}"}
      %button.btn.btn-info= I18n.t('dashboard_landing_view_progress', biggest_section: '{{biggestSection.name}}')

  .courses
    %h2= I18n.t('dashboard_landing_available_title')
    %p= I18n.t('dashboard_landing_available_courses')
    %br/
    %div{"ng-include"=>"", src: "'/dashboardapi/courses/'"}
  -#.debug
    %h2 DEBUG
    %pre
      {{student | json}}

:css
  .tile {
    margin-right: 26px;
    display: inline-block;
    width: 31.2%
  }