---
layout: none
theme: none
content-type: text/ng-template
---

%br/

.loading{'ng-hide' => 'surveysLoaded'}
  = I18n.t('dashboard_landing_loading')

%div{'ng-show' => 'surveysLoaded'}
  = I18n.t('dashboard_surveys_view')
  %select{"ng-model" => "course_id", "ng-options"=>"course.id as course.name group by course.category for course in course_list | orderBy:['category', 'position', 'name']", 'ng-change' => 'changeScript(course_id)'}

%br/

:ruby
  levels_filtered = "levels | orderBy:orderAnswers | filter:(stageFilterAnswers && {stage: stageFilterAnswers}):true"

%h1{'ng-show' => 'surveys.length'}= I18n.t('dashboard_surveys_answers')

%div{style: "padding-left:20px", 'ng-show' => 'surveys.length'}
  %table{style: "width:950px; table-layout:fixed;", 'ng-show' => 'surveys.length', "ng-form" => "allForm"}
    %colgroup
      %col{width: "250"}/
      %col{width: "75"}/
      %col{width: "300"}/
      %col{width: "275"}/
      %col{width: "125"}/

    %tr
      %th.manage-th{colspan: 5}
        %div{'ng-show' => 'stages && stages.length > 1', style: 'float: left; line-height: 35px'}
          = I18n.t('dashboard_filter_by_stage')
          %select{'ng-model' => 'stageFilterAnswers', "ng-options" => "stage for stage in stages", "ng-show" => 'stages'}
            %option{value: ""}= I18n.t('dashboard_filter_all')
        %button.btn.btn-white{'ng-csv' => levels_filtered,
                filename: "survey_levels.csv",
                'csv-header' => "['Name', 'Stage', 'Puzzle', 'Question', 'Response', 'Correctness']",
                'csv-column-order' => "['student.name', 'stage', 'puzzle', 'question', 'studentResult', 'count']",
                style: 'float: right'}
          %i.fa.fa-download
          = I18n.t('dashboard_download_csv')

    %tr
      %th.manage-th
        %a{href: "", "ng-click" => "orderAnswers = 'stage'"}= I18n.t('dashboard_stage')
      %th.manage-th
        %a{href: "", "ng-click" => "orderAnswers = 'puzzle'"}= I18n.t('dashboard_puzzle')
      %th.manage-th
        %a{href: "", "ng-click" => "orderAnswers = 'question'"}= I18n.t('dashboard_question')
      %th.manage-th
        %a{href: "", "ng-click" => "orderAnswers = ['!studentResult', 'studentResult']"}= I18n.t('dashboard_response')
      %th.manage-th
        %a{href: "", "ng-click" => "orderAnswers = 'count'"}= I18n.t('dashboard_count')

    %tr{"ng-repeat" => "level in #{levels_filtered}", "ng-form" => "form"}
      %td
        {{level.stage}}
      %td
        {{level.puzzle}}
      %td
        {{level.questionText}}
      %td
        {{level.resultText}}
      %td
        {{level.percent}}
