---
layout: none
theme: none
---

%br/

.loading{"ng-hide"=>"progressLoaded"}
  = I18n.t('dashboard_landing_loading')

:scss
  $level_passed: rgb(159, 212, 159);
  $level_perfect: rgb(14, 190, 14);
  $level_attempted: #fefefe;
  $level_not_tried: #fefefe;
  $progress_background: #eee;

  table#progress {
    th {
     border: 1px solid white;
    }
    td {
      border: none;
      padding: 0px;
    }
  }

  .progressheader .stage {
    box-sizing: border-box;
    background-color: #aaa;
    color: white; 
    float:left;
    height:50px;
    padding: 5px 0 0 5px;
    border-left: 1px solid #888;
  }

  .studentzone {
    position: relative;

    .studentbar {
      position: absolute;
    }

    .studentdot {
      position: absolute;
      left: 0px;

      -webkit-transition: left 2s; /* For Safari 3.1 to 6.0 */
      transition: left 2s;
    }
  }

  .studentzone .stage {
    box-sizing: border-box;
    background-color: #eee;
    color: white;
    float:left;
    padding: 5px 0 0 5px;
    height:40px; 
    border-left: 1px solid #ccc
  }

  .studentname {
    width: 160px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .studentzone .studentname {
    height: 40px;
  }

  .bar {
    float: left;
    margin-top: 15px;
    height:10px;
    opacity: 0.8;
    cursor: default;
    background-color: $level_not_tried;

    -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;

    &.perfect {
      border: none;
      background-color: $level_perfect;
    }

    &.passed {
      border: none;
      background-color: $level_passed;
    }

    &.attempted {
      border: none;
      background-color: $level_attempted;
    }
  }

  .dot {
    box-sizing: content-box;
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: $level_attempted;
    padding: 5px 7px 9px 7px;
    color: #333;
    width: 18px;
    height: 18px;
    font-family: 'Gotham 5r', sans-serif;
    font-weight: normal;;
    cursor:default;
    text-align: center;

    &.perfect {
      border: none;
      background-color: $level_perfect;
      color: white;
    }

    &.passed {
      border: none;
      background-color: $level_passed;
      color: white;
    }
  }

  .key {
    margin: 10px 0;
    float: left;
    background-color: #eee;
    padding: 10px;
    dl {
      margin: 0;
      float: left;
    }
    dd, dt {
      height: 20px;
      line-height: 20px;
      float: left;
      margin-right: 5px;
    }
    dt {
      padding: 5px 0;
    }
    dd {
      margin-right: 30px;
    }
    .bar {
      margin: 0;
    }
    .dot {
      margin-top: -12px;
    }
  }

%h3 {{progress.script.name}}

%table#progress{style: "width: 950px; table-layout: fixed"}
  %colgroup
    %col{width: "{{950 - progress.table_width}}"}/
    %col{width: "{{progress.table_width}}"}/
  %tr.progressheader  
    %th
      %a{href: "", "ng-click" => "order = 'name'"}= I18n.t('dashboard_students_name')
    %th
      %a{href: "", "ng-click" => "order = 'highest_level'"}= I18n.t('dashboard_students_progress')
  %tr.progressheader  
    %td.studentname
    %td
      .stage{"ng-repeat" => "stage in progress.script.stages", style: "width: {{progress.bar_width * stage.length}}px"}
        {{stage.title}}
  %tr.studentrow{"ng-repeat" => "student in section.students | orderBy:order"}
    %td.studentname
      %a{"ng-href" => "#/sections/{{section.id}}/student/{{student.id}}"} {{student.name}}
    %td.studentzone
      .stage{"ng-repeat" => "stage in progress.script.stages", style: "width: {{progress.bar_width * stage.length}}px"}
        &nbsp;    
      .studentbar{id: "studentbar_{{student.id}}"}
        .bar{'ng-repeat' => 'level in student.levels track by $index', title: '{{level.title}}', class: '{{level.class}}', style: 'width: {{progress.bar_width}}px'}
          &nbsp;
      .studentdot{style: "left: {{progress.bar_width * (student.highest_level + 0.5)}}px; padding-top:4px; padding-bottom:4px", id: "studentdot_{{student.id}}"}
        .dot{class: '{{student.levels[student.highest_level].class}}'}
          {{student.highest_level_in_stage}}
 
  .clear

.key
  %dl
    %dt
      %span.bar.attempted &nbsp;
    %dd= I18n.t('dashboard_progress_not_completed')
    %dt
      %span.bar.passed &nbsp;
    %dd= I18n.t('dashboard_progress_completed_too_many_blocks')
    %dt
      %span.bar.perfect &nbsp;
    %dd= I18n.t('dashboard_progress_completed_perfect')
    %dt
      .dot 10
    %dd= I18n.t('dashboard_progress_furthest_level_attempted')

