---
layout: none
theme: none
content-type: text/ng-template
---
=view :answerdash

%br/
%br/

%p{style: "font-size:18px; color: #7665a0;"}= I18n.t('dashboard_sections_table_secret')
%p= I18n.t('dashboard_sections_login_type_explanation')

%br/

%div
  %table{style: "width:100%; table-layout:fixed;"}
    %tr
      %th.manage-th
      %th.manage-th= I18n.t('dashboard_login_picture')
      %th.manage-th= I18n.t('dashboard_login_word')
      %th.manage-th= I18n.t('dashboard_login_none')
    %tr
      %td{style: "font-family: 'Gotham 7r', sans-serif;"}= I18n.t('dashboard_sections_email_question')
      %td= I18n.t('dashboard_action_delete_no')
      %td= I18n.t('dashboard_action_delete_no')
      %td= I18n.t('dashboard_action_delete_yes')
    %tr
      %td{style: "font-family: 'Gotham 7r', sans-serif;"}= I18n.t('dashboard_sections_account_creation_question')
      %td= I18n.t('dashboard_teacher')
      %td= I18n.t('dashboard_teacher')
      %td= I18n.t('dashboard_student')
    %tr
      %td{style: "font-family: 'Gotham 7r', sans-serif;"}= I18n.t('dashboard_sections_password_question')
      %td= I18n.t('dashboard_sections_picture_account_creation')
      %td= I18n.t('dashboard_sections_word_account_creation')
      %td= I18n.t('dashboard_sections_password_account_creation')
    %tr
      %td{style: "font-family: 'Gotham 7r', sans-serif;"}= I18n.t('dashboard_sections_sign_in_question')
      %td= I18n.t('dashboard_sections_sign_in_unique')
      %td= I18n.t('dashboard_sections_sign_in_unique')
      %td= I18n.t('dashboard_sections_sign_in_main')

%br
  %p= I18n.t('dashboard_privacy_document_link')
%br/
