---
layout: none
theme: none
---

%br/

.loading{"ng-hide"=>"progressLoaded"}
  = I18n.t('dashboard_landing_loading')

%h3 {{progress.script.name}}

%div
  View progress in:
  %select{"ng-model" => "course_id", "ng-options"=>"k*1 as v for (k, v) in course_list", 'ng-change' => 'changeProgress(course_id)'}
%br

%table#progress{style: "width: 970px; table-layout: fixed"}
  %colgroup
    %col{width: "{{950 - progress.table_width - 5}}"}/
    %col{width: "{{progress.table_width + 5}}"}/
  %tr.progressheader
    %th
      %a{href: "", "ng-click" => "order = 'name'"}= I18n.t('dashboard_students_name')
    %th
      %a{href: "", "ng-click" => "order = 'highest_level'"}= I18n.t('dashboard_students_progress')
  %tr.progressheader
    %td.studentname
    %td
      .stage{"ng-repeat" => "stage in progress.script.stages", 'ng-style' => "{width: (progress.bar_width * stage.length) + 'px'}", title: '{{stage.title}}'}
        {{stage.title}}
  %tr.studentrow{"ng-repeat" => "student in section.students | orderBy:order"}
    %td.studentname
      %a{"ng-href" => "#/sections/{{section.id}}/student/{{student.id}}/course/{{course_id}}", title: '{{student.name}}'} {{student.name}}
    %td.studentzone
      .stage{"ng-repeat" => "stage in progress.script.stages", 'ng-style' => "{width: (progress.bar_width * stage.length) + 'px'}"}
        &nbsp;
      .studentbar
        .bar{'ng-repeat' => 'level in student.levels track by $index', title: '{{level.title}}', class: '{{level.class}}', 'ng-style' => "{width: progress.bar_width + 'px'}"}
          &nbsp;
      .studentdot{'ng-style' => "{left: (progress.bar_width * (student.highest_level + 0.5)) + 'px'}"}
        .dot{class: '{{student.levels[student.highest_level].class}}'}
          {{student.highest_level_in_stage}}


.clear

.key
  %dl
    %dt
      %span.bar.not_tried &nbsp;
    %dd= I18n.t('dashboard_progress_not_started')
    %dt
      %span.bar.attempted &nbsp;
    %dd= I18n.t('dashboard_progress_in_progress')
    %dt
      %span.bar.passed &nbsp;
    %dd= I18n.t('dashboard_progress_completed_too_many_blocks')
    %dt
      %span.bar.perfect &nbsp;
    %dd= I18n.t('dashboard_progress_completed_perfect')
    %dt
      .dot 10
    %dd= I18n.t('dashboard_progress_furthest_level_attempted')
