---
layout: none
theme: none
content-type: text/ng-template
---


%div{style: "padding-left:20px"}
  %table{style: "width:950px; table-layout:fixed;", 'ng-show' => 'section.students.length > 0', "ng-form" => "allForm"}
    %colgroup
      %col{width: "200"}/
      %col{width: "100"}/
      %col{width: "100"}/
    %tr
      %th.manage-th
        %a{href: "", "ng-click" => "order = 'name'"}= I18n.t('dashboard_students_name')
      %th.manage-th
        %a{href: "", "ng-click" => "order = 'stage'"}= I18n.t('dashboard_stage')
      %th.manage-th
        %a{href: "", "ng-click" => "order = 'puzzle'"}= I18n.t('dashboard_puzzle')
      %th.manage-th
        %a{href: "", "ng-click" => "order = 'question'"}= I18n.t('dashboard_question')
      %th.manage-th
        %a{href: "", "ng-click" => "order = 'response'"}= I18n.t('dashboard_response')
    %tr{"ng-repeat" => "student in section.students | orderBy:order", "ng-form" => "form"}
      %td
        %a{"ng-href" => "#/sections/{{section.id}}/student/{{student.id}}"} {{student.name}}
      %td
        1
      %td
        2
      %td
        The question
      %td
        The response
