---
layout: none
theme: none
content-type: text/ng-template
---

%div
  %br
  %button.btn.btn-white.print-hide{"ng-click" => "print()"}
    %span.glyphicon.glyphicon-print
    = I18n.t('dashboard_students_print_page')
  %br

  %div.signin_card{"ng-repeat" => "student in section.students | orderBy:name"}
    %dl
      %dt= I18n.t('dashboard_students_url')
      %dd
        https:#{CDO.studio_url('/sections/{{section.code}}')}
    %dl
      %dt= I18n.t('dashboard_students_name')
      %dd {{student.name}}
    %dl{"ng-if" => "section.login_type === 'picture'"}
      %dt= I18n.t('dashboard_students_secret_picture_title')
      %dd
        %img{"ng-src" => "/images/{{student.secret_picture_path}}",
             alt: "{{student.secret_picture_name}}",
             title: "{{student.secret_picture_name}}",
             height: 100}
    %dl{"ng-if" => "section.login_type === 'word'"}
      %dt= I18n.t('dashboard_students_secret_word_title')
      %dd {{student.secret_words}}
